[2018-10-10 08:12] josevalim commented on #8262
@ggcampinho yes, I think we need to traverse the deps but we need to be careful with some things:

1. We can only invoke the mix task for mix dependencies
2. We need to make sure before invoking the clean task, the dependency is OK, otherwise cleaning can fail or we may even end-up trying to compile the dependency only to clean it

As long as we have those in mind, we should be good. I would start

[2018-10-11 00:31] eksperimental commented on #8271
Where can I read about these limitations when running with warnings_as_errors?
Thank you

[2018-10-11 08:16] turion opened #8277 "mix test --only describe:"sometest" and mix test myfile_test.ex:42 behave differently"
While `mix test --only describe:"sometest"` compiles and includes all modules, `mix test myfile_test.ex:42` does not.

### Environment

* Elixir & Erlang/OTP versions (elixir --version): Erlang/OTP 20 [erts-9.3.3] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.6.6 (compiled with OTP 20)
* Operating system: NixOS

### Current behavior

1. Create a new

[2018-10-13 03:16] sheharyarn commented on #7995
Is someone working on this? I would like to take a jab at it if you can point me in the right direction!

[2018-10-13 07:05] josevalim commented on #7995
@sheharyarn no, please go ahead!

[2018-10-13 07:29] sheharyarn commented on #7995
@josevalim Great! Any pointers/guidance on how and where I should get started?

[2018-10-13 21:42] josevalim commented on #8213
Hi @aaronrenner!

The only way we can make it work is if we no longer persist the result of Logger.add_backend and Logger.remove_backend to the application environment. Which in turns means that if the Logger supervision restarts, the logger backend you are adding through your application won't be restarted.

Ideally you would have your backend be listed under `config :logger, :backends` but that'

[2018-10-13 21:46] josevalim commented on #8213
Also, thank you so much for providing apps that reproduce the error whenever you open up an issue. It makes our lives much much easier! :heart:

[2018-10-15 08:20] Sumitforyou opened #8281 "mix deps.get not working for hex dependencies in Mac OS 10.13.6"
### Environment

Elixir Version - 1.7.3
Erlang Version - Otp/21
Operating system- Mac OS 10.13.6

### Current behavior

mix deps.get

Could not find Hex, which is needed to build dependency :jsex
Shall I install Hex? (if running non-interactively, use "mix local.hex --force") [Yn]  Y

(no response, seems it hangs).

I tried - brew update && brew upgrade && brew cleanup and removing and reinstallin

[2018-10-15 08:28] josevalim commented on #8281
I wonder if if it can be the IPv6 issue mentioned in #8252?

What happens if you start `iex` and run:

    iex> :httpc.set_option(:ipfamily, :inet6fb4, :mix)

In any case, you can download Hex here at this address:

    https://repo.hex.pm/installs/1.6.0/hex-0.18.1.ez

Then you do this:

    mix archive.install path/to/where/you/downloaded/hex

And you should be good to go!

Help elixiring!

[2018-10-15 08:28] josevalim commented on #8252
Based on #8281, I think the best option is likely to add a timeout around the whole command.

[2018-10-15 12:39] Sumitforyou commented on #8281
`iex(1)> :httpc.set_option(:ipfamily, :inet6fb4, :mix)` gave `:ok`

It worked for me .

[2018-10-15 12:39] #8281 closed

[2018-10-16 06:04] am-kantox opened #8283 "`into:` argument to `for` comprehension breaks AST in quote→unquote"
### Environment

[code]

### Current behavior

Consider the following `__using__/1` implementation:

[code]

Basically, there are two identical `for`s building lists out of arguments. The former one builds _the list_, the latter one tries to build _the map_, using `into:` option in the call to `for`.

_Currently:_ the former builds the correct map. while the latter raises:

[code]

The standard ou

[2018-10-16 06:40] josevalim commented on #8283
Hi @am-kantox!

That's because a map is not a quoted expression, it is a value. Every time you have a value, you need to make sure you `Macro.escape/1` it so it becomes a AST. We will make sure to improve the error message, because we could absolutely have this information in the error message.

[2018-10-16 06:41] josevalim commented on #8283
To clarify, you need to do:

[code]

[2018-10-16 07:34] josevalim commented on #8283
The introductory material on meta-programming covers escaping as the third section, just after quote and unquote: https://elixir-lang.org/getting-started/meta/quote-and-unquote.html

I am not saying it is perfect but it is a topic we do discuss on the entry level material. Documentation can always be improved and we could probably talk about this when we discuss "Quote literals" in the quote docum

[2018-10-16 08:47] samphilipd opened #8284 "Support `is_map_key/2`"
### Environment

Elixir 1.7.3

### Current behavior

`cannot invoke local is_map_key/2 inside guard`

### Expected behavior

I would like to be able to use this Erlang guard in Elixir.

[2018-10-16 08:59] josevalim commented on #8284
For now you can use it as :erlang.is_map_key. We are still discussing how
to best integrate this into Elixir in the issue where we discuss Erlang/OTP
21 integration.

On Tue, Oct 16, 2018 at 10:47 Sam Davies <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-10-16 16:41] AndrewDryga opened #8285 "Variable definition inside case block warning is printed from with block"
### Environment

[code]
### Current behavior

This code prints a warning that I think should not be there
[code]

The printed warning can be confusing because it tells us about the variable definition in case block which is generated with macros:
[code]

Replacing `conversation` with `_conversation` would silence the whole output.

### Expected behavior

Only `warning: variable "conversation" is u

[2018-10-16 17:12] josevalim commented on #8285
I believe this warning is causing more pain than helping, so I believe we should just go ahead and remove it for Elixir v1.8.

[2018-10-16 17:13] josevalim commented on #8285
The reason why we have to remove it is because all of the forms were unified in v1.7, which means case/with/if all behave the same.

[2018-10-16 20:43] voteleobrown opened #8287 "Error compiling Elixir on upcoming Erlang/OTP 22"
### Environment

#### Elixir & Erlang/OTP versions (elixir --version):

Erlang/OTP 22 [DEVELOPMENT] [erts-10.1.1] [source-c61ce5d] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:1] [hipe]

#### Operating system:

`cat /etc/os-release`

[code]

### Current behavior

[code]

**Resulting Error Message**

[code]
### Expected behavior

Successful compile.

[2018-10-16 21:31] josevalim commented on #8287
Hi @voteleobrown! Note we don't support Erlang/OTP 22 as it is still in development. This is most likely an Erlang?OTP 22 bug, which should be isolated and reported upstream. Thanks!

[2018-10-17 13:43] #8285 closed

[2018-10-18 20:45] #8085 closed

[2018-10-19 10:29] michalmuskala commented on #8262
I think a simple approach might be to change how the `leex` and `yecc` compilers work in Elixir - instead of writing the files to `.src` and then letting the `erlang` compiler do the job, we could have them write the temporary `.erl` file somewhere in `_build` and compile to `.beam` directly. This means we wouldn't have any intermediary files in source directories.

[2018-10-19 15:48] dch opened #8291 "for OTP19 only,`mix deps.update --all` blows up space and time inside umbrella app"
### Summary

In a reasonably simple umbrella app, mix uses excessive RAM and a disproportionate execution time while hogging a CPU core - 80+GiB for over 20 minutes.

![feck](https://user-images.githubusercontent.com/284368/47222553-96a18600-d3a6-11e8-8da3-6b53e7391dd3.png)

Switching Elixir to be built under OTP20 or OTP21, and subsequently run under same OTP
release, the runtime is *literally* 1

[2018-10-19 16:18] josevalim commented on #8291
Hi @dch, can you please send me the minimal case by e-mail? You can find it under my gihub profile.

I will take a look at it but, depending on the complexity, we won't pour much energy into it. That's because the next Elixir release will require OTP 20+ so, for all purposes, this bug is "fixed". Although if there is a trivial fix, we can apply it to latest v1.7.

[2018-10-19 16:51] josevalim commented on #8287
Btw, we would love if someone could look into this and try to isolate it. My suggestion is to using something like asdf, kerl, kiex to get latest Erlang and then run `make clean_elixir compile` multiple times. You can see the Inspect.Algebra module is failing, so I would try to make it smaller and smaller, removing docs, code, etc, until we have a minimum case.

[2018-10-19 17:11] michalmuskala commented on #8287
The minimal erlang example I was able to come up with is:

[code]

I've reported it today morning.

[2018-10-19 17:47] josevalim commented on #8287
Beautiful. :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2018-10-19 17:47] #8287 closed

[2018-10-19 18:00] dch commented on #8291
@josevalim sounds good to me, invite sent. BTW I would be interested to see how you suggest investigating this, I'm keen to take a closer look post weekend.

[2018-10-20 04:08] eksperimental opened #8301 "`Code.format_string!/2` should format numbers that are not completely formatted, or poorly formatted"
[code]

In the first case it is likely the user forgot to add the first underscore
and in the second example it is misleading and the programmer may think when reading the number
that this is is `100_000` when it actually is `1_000_000`

IMO the formatter should standardize these numbers as well

[2018-10-20 08:00] josevalim commented on #8301
This is by design as you may have entries expressed as a numbers, that should not be read as 1_000_000 but rather as 1000_0000.

[2018-10-20 08:00] #8301 closed

[2018-10-20 13:30] josevalim commented on #8291
Here is a minimal mix.exs and mix.lock to reproduce the issue:

[code]

[code]

[2018-10-22 05:12] eksperimental commented on #8183
It has happened again @fertapric

Elixir 1.8.0-dev (de9207895) (compiled with Erlang/OTP 21)

[code]

[2018-10-22 07:17] fertapric commented on #8183
@eksperimental this message is printed due to a race condition. The PRs reduced the odds, but they did not remove it.

I have plans of [adding a `logger:flush/0`](https://github.com/elixir-lang/elixir/pull/8186#issuecomment-420315058) function that we can use in our tests, but I've not worked on it yet (but I will!) 🙂

[2018-10-22 07:17] fertapric commented on #8183
@eksperimental this message is printed due to a race condition. The PRs reduced the odds, but they did not remove it.

I have plans of [adding a `logger:flush/0`](https://github.com/elixir-lang/elixir/pull/8186#issuecomment-420315058) function that we can use in our tests, but I've not worked on it yet (but I will!) 🙂

[2018-10-22 13:11] asummers opened #8317 "Dialyzer errors with missing Protocol __impl__ when other types excluded"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
Verified on Erlang 21 and 22, Elixir 1.7.1 and 1.7.3

* Operating system: Linux (Arch)

### Current behavior

Originally reported [here](https://github.com/jeremyjh/dialyxir/issues/258) by Michael Bitard.

When implementing a Protocol, using e.g. the `Size` example from the `Getting Started` guide (doesn't really matter the specif

[2018-10-22 13:53] eksperimental commented on #8183
Yes, I knew it wasn't guarantee to work most of the time.
One question, Is it replicable when you pass the seed?

[2018-10-22 14:09] josevalim commented on #8317
This is actually a Dialyxir bug that has been reported [here](https://github.com/elixir-lang/elixir/issues/7708#issuecomment-403422965). :) It is already tracked in Dialyxir's issues tracker. :)

[2018-10-22 14:09] #8317 closed

[2018-10-22 20:15] aaronrenner commented on #8213
@josevalim Thanks for your response on this. To give you more context, I'm using a custom logger backend to read log statement metadata and report errors to Honeybadger (trying to follow the "Erlang/OTP logger integration" pattern in the Elixir 1.7 release notes). In my case, [Honeydew emits log statements with custom metadata attached](https://github.com/koudelka/honeydew/blob/master/lib/honeydew

[2018-10-23 12:54] ArsagaMasakiUchida opened #8321 "[bug]Enum.split_while return is escape sequence"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Please disclose security vulnerabilities privately at elixir-security@googlegroups.com
* Finally, be nice and have fun!

[2018-10-23 13:10] fertapric commented on #8321
This is by design. If a list of integers can be interpreted as codepoints for printable characters, IEx will print such characters.

You can disable this behaviour by configuring IEx with [`IEx.configure/1`](https://hexdocs.pm/iex/IEx.html#configure/1). In your case:

[code]

[2018-10-23 13:18] ArsagaMasakiUchida commented on #8321
@fertapric

Thanks!

[2018-10-23 13:34] #8321 closed

[2018-10-23 15:14] mhanberg commented on #8283
Hi!

Is this the line of code that outputs the above error? https://github.com/elixir-lang/elixir/blob/741dfda9f4be898c647426493f1d17fb9a4b9c53/lib/elixir/src/elixir_expand.erl#L1119

I am interested in helping out with this issue if work on it hasn't already been started.

Thanks!

[2018-10-23 16:21] fertapric commented on #8283
@mhanberg Yes, that's the line where the error message is formatted :)

[2018-10-24 03:48] am-kantox commented on #8283
While we are on it, I’d propose another approach. What if we will `Macro.escape/1` _all the local variables (hygiened) in the current context_ on `quote do` call opt-in with an additional argument to `quote`?

That should not be rather complicated while it probably could make things more readable and uniform:

[code]

/cc @josevalim

[2018-10-24 06:01] josevalim commented on #8283
I am not a big fan because you can also have AST in variables. I would
rather call Macro.escape explicitly than add a flag that changes this under
certain circumstances.

If you are working with macros, you need to understand what is a quoted
expression and what isn’t, and being explicit about it is the way to go IMO.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founde

[2018-10-24 06:05] am-kantox commented on #8283
I agree. Last thought before we bury this proposal 3 feet down: what if the parameter would receive a list of variables to escape:
[code]

[2018-10-24 06:17] josevalim commented on #8283
I don’t see the benefit over calling unquote(Macro.escape(map)). The flag
makes it look like something especial, but it is a function call only.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-10-24 06:39] michalmuskala commented on #8283
One thing to consider could be an option that is a fusion of `bind_quoted` and `escaped`, something like `bind_escaped` or similar. I think that could be useful in cases where you want to use `bind_quoted`, escaping everything manually before-hand is quite tedious. That said, I agree an `escaped` option alone doesn't give us much.

[2018-10-24 06:45] am-kantox commented on #8283
I agree as well, save for one, not an evident trait: the documentation on function arguments are read hundreds of times more often and thoroughly than guides and pages. That could be a matter of helping newbies to memorize the necessity of escaping.

Also, I am positive `bind_escaped` is a good consensus.

[2018-10-24 06:59] josevalim commented on #8283
The reason bind_quoted exists is because it is very hard to achieve it
manually. You would have to call quote three times. Furthermore, quote and
unquote is what quote take care of, but not escaping.

If the concern is discoverability, then let’s provide more examples and
improve the docs. We have no plans to change the quote API.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.c

[2018-10-24 13:58] hylkealons opened #8331 "inconsistent unquote behaviour using the pipe operator"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: MacOS Mojave

### Current behaviour

This code fails (using ExUnit):
[code]

with the error:
[code]

While this works:
[code]

### Expected behavior

I would expect the pipe operator to work for unquote without throwing the exception

[2018-10-24 14:14] josevalim commented on #8331
The reason why this does not work (and it cannot work) is because the `unquote` is expanded BEFORE the pipe operator. That's because unquote is used to be the AST itself. Macros, such as the pipe operator, are evaluated only after the AST is built.

However, I think we can probably improve the error message and make `|>` explicitly raise something more meaningful if you are attempting to pipe into

[2018-10-24 19:42] DenisGorbachev opened #8333 "Remove ":" from stacktrace output"
### Environment

* Erlang/OTP 20 [erts-9.3.3.3] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]
* Elixir 1.7.2 (compiled with Erlang/OTP 20)
* Linux Mint 17.3 Rosa

### Current behavior

On error, a stacktrace is displayed:

[code]

### Expected behavior

Same stacktrace, but without colons (":")

[code]

### Rationale

When a single test fails, I copy the las

[2018-10-24 19:58] josevalim commented on #8333
Hi @DenisGorbachev!

Since the stacktrace is unified in Elixir, it means changing it here, requires changing it everywhere else, which makes it a much larger discussion. For example, it means all books and materials will now show slightly different stackraces.

For this reason, I want to be really be sure this is the way to go. Therefore, can you please send an e-mail to the mailing list to start

[2018-10-24 19:58] #8333 closed

[2018-10-25 07:51] josevalim commented on #8283
I have pushed docs in 37149511c324fec4a4676ddf942a161a4bcfd6aa. Also closing in favor of the PR #8336.

[2018-10-25 07:51] #8283 closed

[2018-10-25 08:01] #8331 closed

[2018-10-25 08:51] josevalim commented on #6738
@CharlesOkwuagwu what do you mean? This issue is not closed and, as you said, the issue still exists.

[2018-10-25 09:55] michalmuskala commented on #6738
@CharlesOkwuagwu I'd say this is a completely separate issue. In this case you're pattern-matching on a compile-time constant value, so the compiler is right to complain some of the branches can never match.

The compiler has a very simple heuristic to decide if it should warn in such cases - it only doesn't warn if the argument of case is a constant. In this case it's only partially constant. I'd

[2018-10-25 10:54] CharlesOkwuagwu commented on #6738
@josevalim Sorry, my mistake, I saw the closed from `Dialyzer only taking one path in `with` statement #7177`.

But yes, the warning still comes up.

@michalmuskala If values coming from `Application.get_env/2` are compile-time constant , then we will always have these warning anytime we try to do branching logic based on a `compile-time constant`

[2018-10-25 16:06] albertored opened #8339 "Extra space in metadata part of log messages"
### Environment
[code]

### Current behavior
At the moment the `Logger.Formatter` add a space at the end of metadata chardata:
[code]
this makes log formats like the follwowing a little bit ugly
[code]

### Expected behavior

The last space at the end of metadata part should be removed.

I took a look at the code and implementing this fix should be straightforward so I'm wondering if there is a re

[2018-10-25 16:16] josevalim commented on #8339
Hi @albertored! Yes, this would be a breaking change. The best option in your case is maybe to use a custom formatter. See Logger.Formatter for examples.

[2018-10-25 16:16] #8339 closed

[2018-10-25 17:12] eksperimental opened #8341 "@doc tag for describe block is not recognized"
I get this warning when I use `@doc` for describe, and inside a describe, there is a `setup` callback.

[code]

[code]

the issue is solved by moving up `setup`

[code]

which leaves me thinking that describe does not take the `@doc` correctly, and the compiler thinks it belongs to `setup`.

While is it nice to place setup inside a describe, there is no warning against it, So I consider it a bug.

[2018-10-25 17:19] wojtekmach commented on #8341
Given _test.exs files won’t get IEx etc docs, if you want to document some stuff how about using comments instead?

[2018-10-25 17:29] eksperimental commented on #8341
oh.... `@doc` warning happened because of `setup` , probably the docs for test are not assigned either

[2018-10-25 17:29] josevalim commented on #8341
`describe` does not define any function, so you can't really `@doc` it. And I think that's the issue with thinking that test and describe are doc-able, it can be tricky to figure out which construct has a definition underneath and which ones do not.

[2018-10-25 17:29] #8341 closed

[2018-10-25 17:47] eksperimental commented on #8341
Would it be possible to add a warning then? so avoid adding the doc to whatever doc-able element comes first inside the describe

[2018-10-25 17:49] josevalim commented on #8341
@eksperimental we can't do that effectively, right? We would need to add code that checks for a warning to every non-docable element, which doesn't "scale".

[2018-10-25 17:50] eksperimental commented on #8341
fair enough

[2018-10-26 01:42] mhanberg commented on #8252
@josevalim I am interested in taking a shot at this if work on it hasn't already started.

I see that there aren't any unit tests for the public function (`Mix.Utils.read_path\2`) that calls this piece of code. Do you have any suggestions for how to write a test for this case?

Thanks

[2018-10-26 06:35] josevalim commented on #8252
@mhanberg since it needs the network, it is a bit tricky to test it. We could maybe start a tiny httpd server that serves some files but I am not sure if this is desirable.

[2018-10-26 13:02] wojtekmach opened #8345 "CaseClauseError with map module attribute with duplicate keys"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.8.0-dev (6c4d359b1) (compiled with Erlang/OTP 21)
* Operating system: macOS

### Current behavior

This works:

[code]

[code]

However this raises a CaseClauseError

[code]

[code]

Not sure if worth fixing as we get a warning already but thought I'll mention this anyway.

### Expected behavior

No error.

[2018-10-26 13:28] mhanberg commented on #8252
That's what I was thinking, I'll see what I can do, thanks!

[2018-10-26 13:42] fertapric commented on #8345
Should it warn twice?

[2018-10-26 13:44] josevalim commented on #8345
@fertapric i would say so, yes. But if it is too complex, warning once is also fine.

[2018-10-26 15:44] #8345 closed

[2018-10-26 19:52] bitboxer commented on #8252
Hm, I think I have something similar on my machine.

`mix local.hex --force` doesn’t work. It just hangs. I investigated a bit further and this:

[code]

which runs perfectly on my other machines hangs and doesn’t return anything on that machine.

`elixir --info` returns this:

[code]

Sadly `:httpc.set_option(:ipfamily, :inet6fb4, :mix)` doesn't help and it looks like ipv6 is working properly bec

[2018-10-27 11:01] bitboxer commented on #8252
Downgrading to this makes it work again on that machine:

[code]

[2018-10-27 13:19] jjl opened #8348 "Feature: permit macros in match clauses"
The elixir compiler prevents you from expanding macros in matches, making it impossible to write macros that can generate a match in e.g. a receive clause:

[code]

It would be nice if this restriction could be lifted. I do not know what the implications of this in the compiler would be.

[2018-10-27 13:42] jjl commented on #8348
Okay, i had thought from the error message it was a more general restriction :)

It'll take me a little while to investigate further and figure out precisely what's going on, but maybe you have an idea from a bit of extra information?

Error:
[code]

Triggering invocation (begins on line 31
[code]

Version:
[code]

[2018-10-27 13:54] josevalim commented on #8348
It is calling it a local, probably because the code cannot find a macro
named match/1. So nothing is expanded. Can you provide a full example that
reproduces this?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-10-27 13:55] jjl commented on #8348
I'm attempting to create a smaller example that reproduces it.

[2018-10-27 13:58] josevalim commented on #8348
Also keep in mind the parens precedence may trick you. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-10-27 14:07] jjl commented on #8348
I anticipated that one a couple of hours ago when I set out to write these macros :)

[2018-10-27 18:06] josevalim commented on #8252
I have checked and in OTP21 the `:httpc.set_option(:ipfamily, :inet6fb4, :mix)` is deprecated, so i will go ahead and remove it, but I still think we should wrap the whole read_path operation in a task and give the user a reasonable error message in cases of timeout. :)

[2018-10-29 11:05] xadhoom opened #8350 "Redundant code generated within with statement results in dialyzer warns"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): OTP21.1, Elixir 1.7.4
* Operating system: Linux FC27

### Current behavior

A simple module like:
[code]

causes dialyzer error:

[code]

Inspecting erlang generated code there're seems to be some duplication, so dialyzer may be correct here:
[code]

### Expected behavior

At least, no dialyzer warnings.

[2018-10-29 11:06] xadhoom commented on #8350
As a side note, same with 1.7.3 and OTP21.0.9

[2018-10-29 13:00] josevalim commented on #8350
Thanks, this is cased by the same reason as #6738. Once we fix it, that one should be solved too.

[2018-10-29 13:00] #8350 closed

[2018-10-30 07:49] fertapric commented on #8183
@eksperimental I think not (sorry for the late reply, this was lost in my inbox)

[2018-10-30 23:08] eksperimental commented on #8183
@fertapric thank you for the answer and no worries

[2018-10-31 17:18] mguimas opened #8352 "No prompt goodies after reading commands from a file in IEx"
### Environment

* Elixir 1.7.3

### Current behavior

It is possible to tell IEx to read commands from a file and leave the user at its prompt by doing

`cat file.txt - | iex`

where the file is something like

[code]

but the user will not have typical IEx prompt goodies like autocompletion, Ctrl+A, etc

### Expected behavior

Let IEx be called like `cat file.txt - | iex` and still support its p

[2018-10-31 17:33] josevalim commented on #8352
Yes, unfortunately this is an Erlang limitation. So if somebody is interested in this behaviour, they would need to report and, most likely, implement this feature upstream. Thanks for the report!

[2018-10-31 17:33] #8352 closed

[2018-10-31 18:38] mguimas opened #8353 "IEx.Helpers.import_file/1 does not work as documented"
### Environment

* Elixir 1.7.3

### Current behavior

The documentation for `IEx.Helpers.import_file/1` state that this macro

shell.

For example, given file `x.exs` (the extension does not matter) with the following code

[code]
it results in an error when running this in IEx

[code]

But typing the lines in the file inside IEx everything runs ok:

[code]

### Expected behavior

Make `IEx.Helpe

[2018-10-31 18:40] OvermindDL1 commented on #8352
Is this even something that even erlang could easily fix?  The shell is making `cat` take ownership of the stdin pipe...

But two workaround I can see:

1. You could always use a `.iex.exs` file or whatever it was to feed in an initial string of commands.

2. Use `expect` to pass in the file then give you stdin to interact with, like via:
[code]

I'm surprised at how often people forget that "expe

[2018-10-31 20:38] mguimas commented on #8352
@OvermindDL1

The first workaround does not work for all cases because `.iex.exs` is compiled before it is executed, so it will not run if you define there a module with a macro, and then try to require the module and use its macro, also inside the file. It will generate a compilation error. For example, given `.iex.exs`

[code]
it will generate a compilation error

[code]

Now the second workarou

[2018-10-31 21:13] ggcampinho commented on #8353
Your examples are not the same, the equivalent in `iex` would be:

[code]

Note that when you type enter, the module will be evaluated and then the second part works.
If you remove the part below from your file, it will work:

[code]

It should be done outside of the file, in `iex` or another file. I believe that the error is quite clear.

[2018-10-31 21:15] wojtekmach commented on #8353
To give some historical context this is not a new issue, see: #3328. I somewhat agree that the docs aren't quite accurate but not sure how change them, whether we should mention this particular case.

Perhaps worth mentioning that:

[code]

[2018-10-31 21:29] josevalim commented on #8353
I think we could make it work by unpacking expressions and evaling them through a loop. It is more expensive but I also think it would make this feature more useful too.

[2018-10-31 22:13] OvermindDL1 commented on #8352
What shell are you using?  I'm guessing it's sending too fast.  ^.^;

If that is the case then just have it wait for the iex prompt by adding the `expect iex` command to it like:  `expect -c "spawn iex;expect iex;send [exec cat t.exs];interact"`

And yes, I was trying to keep the command simple but I failed, you should always always always wait for an input line before sending data with `expect`..

[2018-10-31 22:42] mguimas commented on #8352
Now is perfect! I suspected about that "sending too fast". I tried just `expect;` and then `sleep 2;`, but I missed the need for `iex` in `expect iex;`. Perfect, and a new nice tool in my Unix arsenal.

And by the way, I am running inside docker container based on Elixir 1.7 image. Brutal!

Thanks a lot.

[2018-10-31 23:32] mguimas commented on #8353
That's the right decision @josevalim. Also, consider adding a `source("path/to/file")` command to IEx, to make the feature more easy to use and recall than `IEx.Helpers.import_file("path/to/file")`.

[2018-10-31 23:43] fertapric commented on #8353
@mguimas you can use `import_file("path/to/file")` directly in IEx :)

[2018-11-01 00:12] mguimas commented on #8352
@OvermindDL1 I am trying to create a function to automate this. The skeleton is

[code]
and I want to call it, for example, as `iex` or `iex -S mix`, and have the empty string or `-S mix` passed where `ARGS` is above.

How can I do this function?

[2018-11-01 00:15] mguimas commented on #8353
@fertapric Even though `source("path/to/file")` would be much easier to remember, or even `s("path/to/file")`.

[2018-11-01 00:22] mguimas commented on #8352
Found the solution:

[code]
It seems I have a new and more powerful IEx.

Best Regards @OvermindDL1

[2018-11-01 00:47] ggcampinho commented on #8353
I know that the module is IEx.Helpers, but wouldn't be confusing to have a file that works with this function on iex but it doesn't when used as a script? Maybe it would be nice to have an option like `interactive: true`

[2018-11-01 01:17] mguimas commented on #8353
@ggcampinho I don't think so, because `import_file(..)`, `source(..)` or `s(..)` would have an interactive semantics, as if each line of the input file was typed at the prompt.

[2018-11-01 08:12] josevalim commented on #8353
We have decided to add single-letter functions to IEx because we already have too many and they are hard to keep up. We also avoid aliases (two functions with the same name).

[2018-11-01 08:17] josevalim commented on #8353
I have actually investigated this and unfortunately cannot implement the behaviour here because it is a regular macro and a macro cannot change `Macro.Env` bit by bit. It would be possible for the .dot_iex file but this can add inconsistencies. So unfortunately we will have to go with updating the docs, which I will push to master soon.

[2018-11-01 08:17] #8353 closed

[2018-11-01 09:48] mguimas commented on #8353
@josevalim Don't understand

If `IEx.Helpers.import_file/1` cannot be fixed because it is a macro, then can you introduce a new `source("path/to/file")` or s("path/to/file") that will automate typing on the prompt by executing line-by-line the contents of the file?

This will not be an alias to any existing function, and there are not too many commands at IEx, and particularly, no command starting

[2018-11-01 12:51] josevalim commented on #8353
I also would like to point out that `import_file` can be used to import or require any module that has been already defined, such as imports/requires from dependencies. The limitation being discussed here applies only for modules defined in the same file, which is a limitation that exists on *all Elixir files*.

[2018-11-01 15:18] OvermindDL1 commented on #8352
Yep that solution would work as long as you don't need important spacing between the arguments.  :-)

Also I wouldn't really name the function as `iex` or you'll have to `exec iex` any time you want to access elixir's iex directly, and I'm not sure if `expect` might end up calling it via the shell or not.  ^.^

You could also just pop the first arg off the argument list and use it as the function

[2018-11-02 10:11] mguimas commented on #8352
@OvermindDL1 I followed your advice and implemented the `iexf ...` command, but using a Bash function to avoid adding an extra file.

Thanks again. :-)

[2018-11-02 11:30] aawalton opened #8354 "Misleading docstring for naive_datetime_to_iso_days"
The function signature for Calendar.naive_datetime_to_iso_days does not include the time zone, and the documentation for Calendar.naive_datetime_to_string explicitly says the input is a datetime without time zone, both of those cannot be correct, I believe the first is wrong.

Current
"Converts the given datetime (with time zone) into the iso_days/0 format."

Should be
"Converts the given datetime

[2018-11-02 11:57] josevalim commented on #8354
Good catch. Can you please send a PR?

[2018-11-02 13:56] jakub-gonet opened #8357 "Module attribs multiplied by constant in binaries size throws a CompileError"
### Environment
* Elixir & Erlang/OTP versions (elixir --version):
Erlang/OTP 21 [erts-10.1.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
IEx 1.7.3 (compiled with Erlang/OTP 21)

* Operating system:
Manjaro

### Description
Elixir 1.7.3 doesn't support usage of module attributes multiplied by some unit value.

### Current behavior
Defining module:
[code]
compiles succesfully,

[2018-11-02 15:58] #8354 closed

[2018-11-02 19:38] chulkilee opened #8358 "mix run does not resolve path correctly when called via mix test from umbrella root"
When an app in umbrella app has alias on `test` with `run somefile.exs`, which refers relative path to the app (not to the umbrella root), it works only when running `mix test` at the app root - not at the umbrella root.

Under  `apps/inside_app/mix.exs`:

[code]

Here is a script to reproduce it

[code]

Note that this happens from a umbrella phoenix project since the main app (with ecto) has fol

[2018-11-02 20:29] josevalim commented on #8358
Thanks @chulkilee! It would be awesome if you could provide a small application that reproduces this, as it would make our life easier.

[2018-11-02 22:36] chulkilee commented on #8358
I added a script in the body @josevalim

[2018-11-03 01:54] skilchen opened #8359 "Float.ratio(0.0) gives absurd result"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system:
Windows 10 (but I don't think it matters)

### Current behavior
[code]
gives:
[code]

### Expected behavior
[code]
should give:
[code]

[2018-11-03 07:04] skilchen commented on #8359
I would fix it at the function clause level.

Another issue with Float.ratio might be that it doesn't give correct results for subnormal floats (having an exponent of 0 in the binary representation). But I don't know if elixir makes any claims to support subnormal floats. So my observations might be irrelevant.

something like
[code]
gives a result different from other languages. Python, Julia and

[2018-11-03 09:04] josevalim commented on #8359
Great catch @skilchen! Closing in favor of PR #8360!

[2018-11-03 09:04] #8359 closed

[2018-11-03 17:41] edwinthinks opened #8362 "Failing test example in ExUnit register_attribute documentation"
While trying out ExUnit [register_attribute](https://hexdocs.pm/ex_unit/ExUnit.Case.html#register_attribute/3) I noticed that the example code in the documentation results in a test failure.
[code]

It does work however, if I replace `context.registered.hello` with `context.registered.foobar[:hello]`. I am not sure if the documented example is outdated?

### Environment

* Elixir & Erlang/OTP vers

[2018-11-03 17:43] josevalim commented on #8362
THe documented example is wrong. Great catch!
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-11-03 18:09] edwinthinks commented on #8362
Opened https://github.com/elixir-lang/elixir/pull/8363 to address this issue. Hope it works!

[2018-11-03 20:27] RaymondLoranger opened #8364 "No compile warnings for unused, nonexistent or repeated aliases"
Self-explanatory.

[2018-11-03 21:28] #8364 closed, assigned to nobody

[2018-11-04 18:41] RichMorin opened #8366 "`Path.wildcard/1` doesn't match ".../**/*.toml" properly"
`Path.wildcard/1` finds `.../_schema.toml` when given the pattern `.../**/_schema.toml`.
However, it fails to find it when given the pattern `.../**/*.toml`.  FWIW, Ruby's `Dir.glob` method succeeds in both cases.

[2018-11-04 18:54] josevalim commented on #8366
@RichMorin can you please fill in the issue template accordingly? Thank you.

[2018-11-04 18:55] #8366 closed

[2018-11-04 18:55] josevalim commented on #8362
Closing in favor of #8363.

[2018-11-04 18:55] #8362 closed

[2018-11-04 19:46] RichMorin commented on #8366
Sorry; user error.  Nothing to see here; move along...

[2018-11-04 19:53] josevalim commented on #8366
Thanks for the follow up. That's why it is very important to fill the issues template. Sometimes reporting the bug in itself can help fix it. :)

[2018-11-05 16:53] pallix opened #8367 "Logger.configure/1 does not validate the values of the keys"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]

* Operating system: Linux

### Current behavior

`Logger.configure/1` does not validate the values of the keys:

[code]

We can see that typing `:warm` (it's winter here...) instead of `:warn` is accepted as a valid logging level even if it's invalid, causing the next call to a log function to crash.

This looks like a har

[2018-11-05 17:18] OvermindDL1 commented on #8367
Just curious, but wouldn't this be more the realm of Dialyzer?

[2018-11-05 17:34] pallix commented on #8367
@OvermindDL1 I cannot see how dialyzer would prevent an error when typing dynamically in the REPL on a production system.

It's not the best practice to do so, I agree, but sometimes it is very useful.

[2018-11-05 17:52] capablemonkey opened #8368 "Date.to_iso8601() does not support year > 9999"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.7.3 Erlang/OTP 21 [erts-10.1.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
* Operating system: official `elixir-1.7.3` Docker container, Mac OS 10.12.6 (Docker host)

### Current behavior

Date.to_iso8601 does not support years greater than 4 digits.  Here's a happy example, with a 4 digit year of 20

[2018-11-05 18:13] OvermindDL1 commented on #8367
Pallix, it couldn't but then again to perform value type checks at runtime like this sounds exceedingly inefficient.

How would you propose this to be done?  Perhaps by changing it to a macro and testing the value, but then that would fail for when a binding is passed in instead of a value, etc... etc...  What if a user makes custom logger levels?  The only thing that opeion does is set the values

[2018-11-05 18:55] josevalim commented on #8368
ISO 8601 does not support other years, unless agreed upfront, so I would
consider sticking to this limitation for now. Custom calendars can increase
this. Therefore we should update the docs here. We also need to check
Postgrex and make sure it handles those dates accordingly.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-11-06 09:32] josevalim commented on #8367
My concern is that this introduces a precedent that is hard to apply generally. For example, should we validate only `:level` or other options? Note similar function exists in ExUnit and IEx, should we apply those there too? Plus, this wouldn't fix `config :logger, level: :warm` in your config files.

So I completely understand the point that, we should fix this despite of other things exhibiting

[2018-11-06 09:32] #8367 closed

[2018-11-06 15:05] josevalim commented on #8368
To clarify my last message, the limitation will apply only to parsing. When printing, I think it should just work, as we assume the date was correctly created. Good call!

[2018-11-06 15:05] #8368 closed

[2018-11-06 15:08] OvermindDL1 commented on #8367
Gradualizer hopefully, when it finishes.  :-)

[2018-11-06 16:04] MiKDevIS opened #8369 "bits to byte/int convert issue"
Hello,
I wanted to convert some bits to integer but elixir didn't work normally. please check this issue.
thanks,

iex(1)> <<00000000>>
<<0>>
iex(2)> <<00000010>>
"\n"
iex(3)> <<00000100>>
"d"
iex(4)> <<00001000>>
<<232>>
iex(5)> <<00010000>>
<<16>>
iex(6)> <<00100000>>
<<160>>
iex(7)> <<01000000>>
"@"
iex(8)> <<10000000>>
<<128>>

[2018-11-06 16:08] michalmuskala commented on #8369
Please use the elixir forum or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.
When filing an issue, please remember to fill in the provided issue template. Thank you.

---

The syntax for integers is explained in the getting started guides: https://elixir-lang.org/getting-started/basic-types.html#basic-arithmetic

[2018-11-06 16:08] #8369 closed

[2018-11-06 21:27] jeffutter opened #8370 "Unable to compile large project on slow machine (deadlock between files)"
### Environment

* macOS Mojave (installed via asdf)

[code]

* Docker (ubuntu)

[code]

### Current behavior

We are getting deadlocks when doing `mix` compile on slower machines. This issue started happening very rarely and has become more pervasive, to the point of being unable to compile on CI (CircleCI).

When compiling locally on my MacBook without any resource restrictions compiling works f

[2018-11-06 21:36] josevalim commented on #8370
The next step would be to isolate this into smaller app so we can reproduce
the issue. However, if the issue is resource utilization, I can see this
being hard.

Alternatively, if it is a possibility for you, you could give me access to
the repo. Feel free to reach out to me privately to figure this out. We do
try to avoid this, but given the severity of this issue, I think it
warrants an exceptio

[2018-11-07 18:28] jeffutter commented on #8370
Thanks for the willingness to help with this so readily.

It would probably be most useful to get you access to the real code, we're working on getting approval for that. In the meantime, we have been able to gather some additional information.

A coworker @stwf noticed that the first error message mentions typespecs.

[code]

We were able to get the codebase building again on slow machines with t

[2018-11-07 19:45] josevalim commented on #8370
@jeffutter this is a great example because (IIRC) it was not supposed to deadlock at all, as the Elixir compiler should be able to solve those cases as they are both invoked AFTER the structs are defined. You have given me enough to further investigate the issue for now, thanks!

[2018-11-07 20:00] KronicDeth commented on #8370
@jeffutter I'd be willing to help since I have some familiarity with your code base 😉 .

IIRC using the structs instead of `t` type was a reaction to dialyzer not resolving the `t` types in previous versions and saying they were unknown types.

[2018-11-07 21:31] RuanHerculano commented on #7794
use erlang version >= 21.1.1

[2018-11-07 21:31] RuanHerculano commented on #7794
use erlang version >= 21.1.1

[2018-11-08 13:47] pallix opened #8374 "Invalid spec for Logger.add_backend"
The spec of `Logger.add_backend/1` seems invalid. The spec specify `atom` as argument but it is also possible to pass a `tuple`, as we can see in this [unit test](https://github.com/elixir-lang/elixir/blob/v1.7.3/lib/logger/test/logger_test.exs#L58).

[2018-11-08 13:48] josevalim commented on #8374
It seems to be correct in master: https://github.com/elixir-lang/elixir/blob/master/lib/logger/lib/logger.ex#L587

And the handler is either atom or tuple: http://erlang.org/doc/man/gen_event.html

[2018-11-08 13:49] pallix commented on #8374
Oh ok, sorry!

[2018-11-08 13:49] #8374 closed

[2018-11-08 14:29] shamil614 commented on #8370
@KronicDeth yeah you're right. I have had problems with Dialyzer not resolving `t()` types and had to revert to structs.

[2018-11-08 18:42] #8357 closed

[2018-11-09 08:02] DmitryKK commented on #8252
@josevalim, i have similar problem. When do you intend to include this fix in stable version?

[2018-11-09 08:04] josevalim commented on #8252
@DmitryKK it will be in the next release, coming in two months. :)

[2018-11-09 11:46] mguimas opened #8376 "Function `__info__/1` is referenced in the docs but not documented"
### Environment

* Elixir 1.7.3

### Current behavior

Function `__info__/1` is referenced in the [Module](https://hexdocs.pm/elixir/Module.html) docs but it is not documented.

### Expected behavior

Provide documentation for the `__info__/1` function, or a link to somewhere it is documented.

[2018-11-09 11:49] mguimas commented on #8376
Probably it is worthwhile to also document that every module has a `module_info/0,1` function too, and describe how it is different from `__info__/1`.

[2018-11-09 12:37] mguimas commented on #8376
Unfortunately I do not know about BEAM chunks, nevertheless the documentation for `__info__/1` should somehow appear in the docs. Thanks.

[2018-11-09 12:44] mguimas commented on #8376
I even think that the documentation for all exported symbols in a module, whether generated or not, should appear in the docs.

The idea is: if something in a module is callable from the outside then it should be documented.

Thanks.

[2018-11-09 12:54] josevalim commented on #8370
Closing in favor of #8377.

[2018-11-09 12:54] #8370 closed

[2018-11-09 12:56] michalmuskala commented on #8376
The documentation of the module, in general, documents the public API for consumers to use, there might be a lot of functions that are callable and that are not documented (done by using `@doc false`). `__info__/1`, `module_info/0,1` and `behaviour_info/1` are sort of a metadata and I don't think documenting them on every single module would be useful - they would be just noise in the documentatio

[2018-11-09 12:58] josevalim commented on #8376
@michalmuskala I am thinking that, because `__info__/1` is actually callable, we should go ahead and add it to the chunk as well, so it appears as `__info__`. FWIW, this was used to happen, but it probably got lost at some point.

[2018-11-09 13:04] michalmuskala commented on #8376
One option could be to document all those functions as callbacks in the `Module` module, then we could link them nicely.

[2018-11-09 14:55] DmitryKK opened #8378 "Elixir 1.7.4 does not support Erlang/OTP 20.x.x"
### Environment
* Elixir 1.7.4
* Erlang/OTP - 20.2.4
* Mac OSx Mojave

### Current behavior

I have installed new elixir 1.7.4 and OTP 20.2.4. When I run `iex` I get error:

[code]

There is no suchlike problem with OTP 21.0.9

[2018-11-09 15:06] wojtekmach commented on #8378
can you run `elixir --version` or that crashes too?

Elixir v1.7 handles OTP 19+ and if you `asdf install elixir 1.7.4` I believe you'll get a version compiled against lowest version (so OTP 19) or highest, and so if you're currently running say OTP 20 it may crash. Can you try `asdf install elixir 1.7.4-otp-20`?

[2018-11-09 15:09] josevalim commented on #8378
It is precisely what @wojtekmach said. You have compiled Elixir with a more recent OTP version (likely OTP 21) and then downgraded the system to OTP 20. You need to either recompile/reinstall Elixir or move back to OTP 21.

[2018-11-09 15:09] #8378 closed

[2018-11-10 01:37] eksperimental commented on #8376
Yes, I remember reading about it.
It got lost in v1.7 probably with the new fetch_docs function

[2018-11-10 10:18] mguimas opened #8380 "Required validations are not returned by `Ecto.Changeset.validations/1`"
### Environment

* Elixir 1.7.3
* Ecto 3.0.1

### Current behavior

Given a changeset function with `validate_required` and `validate_format` calls, only the latter contibutes to the return value of `Ecto.Changeset.validations/1`.

For example:
[code]

### Expected behavior

For completeness the `Ecto.Changeset.validations/1` should return all validations, which in the example above should be some

[2018-11-10 10:54] michalmuskala commented on #8380
I believe this was opened in the wrong repo. Correct would be https://github.com/elixir-ecto/ecto.

Anyhow, the information about required fields is stored in the `.required` key of the changeset. It is public and can be accessed directly, unlike `.validations`, which require a function.

[2018-11-10 10:54] #8380 closed

[2018-11-10 11:01] mguimas commented on #8380
Yeah, right, this was the wrong repo, sorry. But shouldn't it appear in the validations like all other validations, for consistency sake? I am asking this to check with you if it is worthwhile to open this issue in Ecto's repo. Thanks

[2018-11-10 11:10] josevalim commented on #8380
I have already added a note to Ecto docs, but I referred to the wrong issue number, because I did not notice it was the wrong repo: https://github.com/elixir-ecto/ecto/commit/8cf724bddd493152fc5caa0c0425fbe68dc21ff3

Ecto tracks this in a special field because we were used to handle required fields differently. Changing this is not worth the breaking change and/or duplication.

[2018-11-10 11:15] mguimas commented on #8380
I only opened this issue because instead of having to access two fields to process what validations are being done, one would only access just the function `Ecto.Changeset.validations/1`, making the code simpler and clear. But I understand your position of avoiding breaking changes. It's a matter of balancing pros & cons. Thanks.

[2018-11-11 02:05] eksperimental opened #8382 "Unable to escape inline code ending in backslash and render it properly with IEx and ExDoc"
#8373 introduced a change in the IEx module.

[code]

It removes a spaces before closing the backtick,
It is partially fixed by adding a space after the backslash as it originally was. The problem with this approach is that IEx understands that we are escaping a whitespace, and it shows
"• by hitting Ctrl+"

the solution is to write the documentation as:
[code]
which renders nicely in IEx, but in

[2018-11-11 09:06] josevalim commented on #8382
Great find @eksperimental!

It is an issue on the IO.ANSI.Docs tool in Elixir. I will move this issue to the Elixir repo. The backslash is never used for escaping of backticks, although it is used for the escape of `*`, `_` and others.

[2018-11-12 04:59] eksperimental commented on #8382
I would like to look into fixing this one.
What Should we do then. allow the escaping?
CommonMark allows the escaping of punctuation but not the rest of the characters
https://spec.commonmark.org/0.28/#backslash-escapes

[2018-11-12 08:00] josevalim commented on #8382
Following common mark is good. I plan to fix the first part today, which is
to disable escaping inside code blocks, but a PR that handles escaping in
general is welcome.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-11-12 11:32] josevalim commented on #8382
Closing in favor of #8384.

[2018-11-12 11:32] #8382 closed

[2018-11-12 13:16] #8376 closed

[2018-11-12 15:26] #7070 closed, assigned to nobody

[2018-11-13 09:35] josevalim commented on #8382
That's awesome @Hanspagh! I wouldn't necessarily open an issue, because it is rather exploratory and not strictly an issue with Elixir, but I want to make sure you get the support necessary. Therefore, what if we open up a thread on the forum and you copy me there? I would also copy @tmbb, they are probably interested too. Alternatively you can post your questions on nimble_parsec issues tracker.

[2018-11-13 11:04] tmbb commented on #8382
I'm not very interested actually...  Have you ever looked a the Markdown spec? It's extremely context-sensitive. NimbleParsec might help in implementing inline markup but that's a small component of a Markdown parser.

You'd need something else to assemble lines into blocks and stuff like that.

[2018-11-13 11:57] eksperimental commented on #8382
Make it a CommonMark parser, not just another MarkDown parser if possible

[2018-11-13 12:38] josevalim commented on #8382
@tmbb and @eksperimental, good points!

[2018-11-13 14:19] tmbb commented on #8382
The relevant section of the spec is [Appendix: A parsing strategy](https://spec.commonmark.org/0.28/#appendix-a-parsing-strategy).

The parsing strategy they suggest *can not* be implemented with NimbleParsec, because the parsing strategy is highly context-sensitive. I believe it might be possible to implement *part* of that as a context-insensitive grammar, but I'm not sure.

Parsing markdown see

[2018-11-13 17:19] NobbZ commented on #8157
Should this be fixed in 1.7.4 or is this only fixed in an upcoming 1.8?

[2018-11-13 18:44] OvermindDL1 commented on #8382
NimbleParsec really needs to be enhanced with context-sensitive/state functionality so I can finally deprecate ExSpirit.  ^.^

[2018-11-14 15:56] ericmj commented on #8291
@josevalim I cannot reproduce this using the mix.lock file, it resolves basically immediately for me. Without a lockfile it takes 20-30 secs to resolve, which is slow* but not what as slow as suggested. I have tried different combinations of Elixir and OTP versions and it always takes 20-30s. I am using Hex 0.18.2. Can you check if you can still reproduce and exactly what Elixir and OTP versions a

[2018-11-14 17:24] OvermindDL1 opened #8386 "Elixir 1.7.* syntax backwards incompatability with 1.6* and earlier"
### Precheck

Initially reported at:  https://elixirforum.com/t/elixir-1-7-4-backwards-incompatibility/17917/2

### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Linux 4.4.0-134

### Current behavior

Minimal code for iex:

[code]

Complete session in 1.7.4 (same in 1.7.0):

[code]

### Expected behavior

Complete session in 1.6.6:

[code]

Thus this is

[2018-11-14 17:35] josevalim commented on #8386
It is not a breaking change because the previous behaviour was never expected nor specified. do/end blocks should either have expressions OR clauses but never both. I will be glad to document this behaviour more clearly to avoid such confusion in the future but, in this case, I am afraid you were relying on accidental behaviour.

[2018-11-14 17:38] #8386 closed

[2018-11-14 17:39] OvermindDL1 commented on #8386
Well that sucks, I'm not sure how else I can make that so easily succinct and readable then...  Might have to use a verbose word or change to a parsed string horror...  >.>

[2018-11-14 17:41] OvermindDL1 commented on #8386
Isn't it still backwards incompatible though as this was entirely useable syntax within macor's?  Plus there is no syntax spec for Elixir as it is (which would have prevented such a mis-parsing to exist in the first place) thus whatever the compiler accepts into a macro is by all rights valid since we have no defined syntax spec?

[2018-11-14 17:45] josevalim commented on #8386
I don't think having a spec would have prevented the bug, because the behaviour was always clear to me when implementing this feature set, but the bug was still unnoticed for large periods of time. Maybe it would have been caught earlier though.

That said, I definitely wouldn't want all parser bugs to be considered features. Over the years we have improved how we spec our syntax, including the do

[2018-11-14 18:18] OvermindDL1 commented on #8386
There are cases where that would fail as a direct replacement, necessitating parenthesis to disambiguate.  `->` was really nice with how 'quick' it was in the precedence.

[2018-11-15 17:48] van-mronov opened #8389 "Compile issue in case of `compile_time_purge_matching` logger option"
### Precheck

Adding logger compile_time_purge_matching option is causing ecto compilation fail.

### Environment

* Elixir version (elixir -v): 1.7.4
* Ecto version (mix deps): 3.0.1
* Operating system: Mac OS X

### Current behavior

[Here](https://github.com/van-mronov/ecto_demo) is an example of application.

[code]

[code]

### Expected behavior

It is compiled.

[2018-11-15 19:37] van-mronov commented on #8389
@josevalim I'm able to reproduce this with following test:
[code]

Is it ok or it's better to update some existing test (e.g., `remove unused calls at compile time based on matching metadata`)?

[2018-11-15 19:39] josevalim commented on #8389
We can augment the existing test to consider more scenarios, yes. For example by adding more function calls. That's totally fine.

[2018-11-15 19:46] schnittchen opened #8390 "Trailing commas, when on one line or in tuple, indicate mistake but are ignored"
### Environment

[code]

[code]

### Current behavior

The following line compiled fine, but my code was broken and raised an exception. I was missing a pattern inside `, }` by mistake:

[code]

This behaviour probably happens because we want to support trailing commas in lists etc. (see https://github.com/elixir-lang/elixir/issues/479) for simple re-ordering. I am questioning the benefit here for

[2018-11-15 19:48] josevalim commented on #8390
We currently support trailing commas for all data structures and we don't plan to change it, as it would be a breaking change.

We don't support it for parameters though (it has been deprecated) because it would be inconsistent, as argless calls can't have trailing commas.

[2018-11-15 19:48] #8390 closed

[2018-11-16 07:41] Yngwarr opened #8393 "Aliases defined in apps are being applied to the umbrella projects"
I have an umbrella project with several apps, some of which are meant to build escripts right after the compilation. So, I defined the following alias:

[code]

It works when compiled from the app's folder. However, it doesn't when I try to compile the whole project. It looks like mix tries to apply `escript.build` to the umbrella project, not the app it's meant to apply it.

### Environment

* El

[2018-11-16 12:26] #8252 closed, assigned to nobody

[2018-11-16 15:42] josevalim commented on #8203
After all, it is exposed as IEx.Server.run/1. We have also added the ability to choose which one of multiple sessions will enable the debugger.

[2018-11-16 15:42] #8203 closed

[2018-11-17 03:13] inferiorhumanorgans opened #8398 "SemVer checking is overly strict"
### Environment

[code]

### Current behavior

Mix complains that `2018.1117.030911+2ae0126` is an invalid SemVer

### Expected behavior

Somewhat related to #4423 Version should validate as leading zeros are kosher per:

https://github.com/semver/semver/issues/112

[2018-11-17 03:42] eksperimental commented on #8398
Weird, because my Elixir version takes that string as valid.

[code]

Please copy the command and the error that you get

[2018-11-17 03:44] inferiorhumanorgans commented on #8398
Sorry, that's the one without the leading zero.  Correct problematic version is `2018.1117.030911+2ae0126`

[2018-11-17 03:53] eksperimental commented on #8398
Apparently it is not allowed in PATCH

https://semver.org/#spec-item-2

[2018-11-17 09:06] josevalim commented on #8398
According to the spec, as @eksperimental said, those are not supported. IF you are the one generating those releases you can use the "day of year" as the third entry instead of the complete date.

[2018-11-17 09:06] #8398 closed

[2018-11-17 15:44] jakub-gonet opened #8399 "ExUnit documentation is missing CSS on main site"
As in title, check: https://hexdocs.pm/ex_unit/ExUnit.html

`GET https://hexdocs.pm/ex_unit/dist/app-4b38423804.css net::ERR_ABORTED 404`

[2018-11-17 15:56] josevalim commented on #8399
This is weird. This is an old deploy and suddenly the CSS images are missing. I will ping the Hex team: @ericmj and @wojtekmach.

[2018-11-17 16:01] ericmj commented on #8399
Thanks for the report. It seems to work after purging the CDN cache.

[2018-11-17 16:02] #8399 closed

[2018-11-17 17:21] cohawk opened #8400 "Broken links on https://elixir-lang.org/docs.html"
Heads up that on https://elixir-lang.org/docs.html there are many broken links to hexdocs for previous releases (Stable and Master work fine)

all of v1.7 give custom 404s:
https://hexdocs.pm/elixir/1.7.4/
https://hexdocs.pm/eex/1.7.4/
etc

spot checked a few other previous versions as well
https://hexdocs.pm/ex_unit/1.6.6/
https://hexdocs.pm/logger/1.5.3/Logger.html
https://hexdocs.pm/eex/1.4.5/

[2018-11-17 18:47] #8400 closed

[2018-11-17 18:48] ericmj commented on #8400
We are currently rebuilding the docs. It will be fixed in a few minutes for the latest versions and in a few hours for older versions.

[2018-11-18 17:17] ericmj commented on #8291
With your repo https://github.com/dch/explode/ I can reproduce the issue on. But when I revert the change in Hex to consider all possible solutions it completes in ~7s, which is slow but not breakingly slow. When running `mix deps.update --all` in your project 5 deps are upgraded and 9 deps are downgraded, this implies there is no clean upgrade path which causes the resolver to go into deep backtr

[2018-11-18 21:07] michalmuskala opened #8405 "Enhance xref to detect undefined types"
The xref compiler should be issuing warnings for undefined remote types to prevent obviously incorrect typespecs. This might require enhancing some other parts of the compiler to track types a module exports and depends on.

[2018-11-18 21:33] josevalim commented on #8405
Sorry, I didn't meant to say we should add this to xref. Adding this means we would need to store the types somehow into the module or add type specific callbacks to the compiler, which I really don't think we should. The alternative would be to parse beam files but that would make `xref` slower and compilation times are too important. Plus this work would be redundant to anyone who actually runs

[2018-11-18 21:33] #8405 closed

[2018-11-19 12:59] josevalim commented on #8014
Just a heads up: I will go ahead and tackle one of those in the live stream and leave the remaining ones open for contribution. :)

[2018-11-19 15:37] devonestes opened #8406 "Confusing error message for BadFunctionError"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.7.3, Erlang 21.0
* Operating system: Ubuntu 18.04

### Current behavior

I'm seeing errors reported to our error catching service in production that look like this:
`(BadFunctionError) expected a function, got: #Function<5.105936317/1 in MyAppWeb.Users.Worker>`

This was pretty confusing because it's saying it expected a

[2018-11-19 15:43] josevalim commented on #8406
Great find! I *think* we can fix this by adding a `is_function` check when building the message.

[2018-11-20 10:57] josevalim commented on #8406
Closing in favor of PR.

[2018-11-20 10:57] #8406 closed

[2018-11-20 11:00] jvf commented on #5440
With the new auto-connect implementation in Erlang/OTP 21 (see [otp\_src\_21.0-rc1.readme](http://erlang.org/download/otp_src_21.0-rc1.readme)) the the behaviour of `GenServer.cast/2` and `:gen_server.cast/2` is now identical, neither of them is blocking the caller anymore. See #8407.

It is my understanding that this also solves the ordering issue for `:gen_server.cast/2`.

[2018-11-20 11:06] josevalim commented on #5440
@jvf yes, it does. :)

[2018-11-20 16:43] #8389 closed

[2018-11-21 13:44] josevalim opened #8414 "Support Erlang/OTP 22 new features"
To be implemented when Erlang 22 is released:

To be implemented when we require Erlang 22 exclusively:

  * [x] Use `cover:local_only/0`
  * [x] Use `system_info(:ets_count)` instead of `length(:ets.all())` in `IEx.Helpers.runtime_info`
  * [ ] Add `Logger.put_application_level/2` and `Logger.delete_application_level/2`
  * [x] Rely less on MapSet.difference and use `--` instead (as it has been h

[2018-11-21 16:17] JonRowe opened #8415 "Mix tries to use use IPV6 when its not available."
### Environment

* Elixir 1.7.4 & Erlang/OTP 21
* Operating system: Amazon Linux 2018-1010

### Current behavior

Cannot access the internet with mix, e.g.

[code]

### Expected behavior

Mix should use IPV4

[2018-11-21 16:20] josevalim commented on #8415
We have changed this in master and it should be out in the next release. :) Thanks for the report!

[2018-11-21 16:20] #8415 closed

[2018-11-21 16:21] JonRowe commented on #8415
Changed what in master?

[2018-11-21 16:21] JonRowe commented on #8415
More details please this is a blocker for my current work.

[2018-11-21 16:36] josevalim commented on #8415
@JonRowe in master we no longer attempt to set ipv6. It is related to #8252.

You can fetch a Hex package by hand by doing this:

    https://repo.hex.pm/installs/[ELIXIR_VERSION]/hex-[HEX_VERSION].ez

In your case:

    https://repo.hex.pm/installs/1.7.0/hex-0.18.2.ez

Then you save it to your machine and you do:

    mix archive.install path/to/hex.ez

[2018-11-21 16:56] JonRowe commented on #8415
@josevalim Thanks for the reply, I also cannot do a `mix deps.get` due to this issue though, and this is a system I'm hoping to deploy this week. How can I backport these patches to 1.7 so I have a functional elixir setup?

[2018-11-21 16:59] josevalim commented on #8415
@JonRowe the fix I mentioned is not going to fix `mix deps.get`. Afaik, Hex does not set ipv6, only Mix does. So I am afraid this won't fix the issue you are seeing and your root cause is likely something else.

[2018-11-21 17:00] josevalim commented on #8415
What you can do to further debug issue is to open up `:httpc` in the production node and try to perform some requests and see what fails and what does not.

[2018-11-21 17:01] JonRowe commented on #8415
Yes I get that the hex workaround was only for hex, so I'm asking how I can get the ipv6 fix into 1.7.x

[2018-11-21 17:09] josevalim commented on #8415
@JonRowe that's what i am saying. `mix local.hex` was the only part where we forced ipv6. If there is something else failing due to ipv6, then it is either a general Erlang issue or OS issue, it is not about Elixir at all.

[2018-11-21 17:17] JonRowe commented on #8415
So erlang is forcing elixir to use the unavailable ipv6 configuration?

[2018-11-21 17:21] josevalim commented on #8415
I have not said that. :) I have said the issue needs to be investigated. :) It can be the OS, it can be Erlang, or something else.

[2018-11-21 17:31] josevalim commented on #8415
I would recommend you to use the ElixirForum or something similar to see if someone has run into this issue and see if they have ideas or feedback to share.

[2018-11-22 05:59] gilons commented on #92
Actually in Erlang there is nothing like single quote strings . Erlang consider single quoted string as atoms

try running is_atom('santers') in the shell returns true or is_atom('Santers') returns true .
So single quotes are just used in erlang to have atoms starting with capital leters since, Santers in erlang will be treated as a variable.to make it be treated as an atom just put it in single q

[2018-11-22 07:35] josevalim commented on #92
Yes! My text was poorly written. By “returns a list in Erlang” I meant to
say “returns an Erlang list”. And so on.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-11-23 07:38] Yngwarr commented on #8393
Thank you, @kuffel! At least, it compiles now.

[2018-11-23 08:50] lawik opened #8416 "Excluding parts of code from formatter"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.7.3 (compiled with Erlang/OTP 21)
* Operating system: OS X

### Current behavior

Brought this up on Slack to see if I was missing a way to exclude parts of code from the formatter. A friendly figure referred me here and let me know there was interest in samples of where the formatter can make code harder to maintain. I t

[2018-11-23 08:57] josevalim commented on #8416
We know this is a desired feature but having discussions about this is extremely hard because the discussion is often derailed, many focus only on personal preferences without listening to others, people ask the formatter to be removed, etc. So I recommend reading previous discussions on the topic and do a complete proposal because I personally don't have the energy to shepherd the process again.

[2018-11-23 08:57] #8416 closed

[2018-11-23 08:58] josevalim commented on #8416
Oh, meanwhile, you can move those tables to a separate file and have it excluded from the formatter. Again, I know it is not ideal, but it is the best we can do for now.

[2018-11-23 09:00] devonestes opened #8417 "Allow formatter to keep newlines in chains of `++` calls"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
Erlang/OTP 21 [erts-10.0] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]

Elixir 1.7.3 (compiled with Erlang/OTP 21)

* Operating system: Linux Mint 19

### Current behavior

We have the following function in the Benchee CSV formatter:

[code]

I would like to be able to format that as:

[code]

but the formatter

[2018-11-23 09:04] josevalim commented on #8417
Yes, I have been annoyed by this too. I also think it looks weird because of the associativity. If you use `+`, then it formats to:

[code]

which is slightly less awkward. But yes, I think always respecting newlines after operators is good.

[2018-11-23 09:06] josevalim commented on #8358
Hi @chulkilee!

I have actually investigated this about a week ago but I forgot to report back.

This is behaving as expected because the `run` task always runs at the project that invoked mix. So if you are inside the umbrella, it is the umbrella, if you are a child app, it is the child app. A possible fix for this is to pass the full path:

    "mix run #{Path.join(__DIR__, "priv/foo/bar.exs")}"

[2018-11-23 09:06] #8358 closed

[2018-11-23 09:07] lawik commented on #8416
Thanks for the consideration. I know formatter discussions have been all over the place. I'll probably just exclude the single file then. Sorry to poke a sore spot.

[2018-11-24 22:41] j-hotlink commented on #7093
Although this has been closed and is ultimately a matter of taste, Jose asked for an example where this syntax has any merit so here goes:

style 1 (ok)
<pre>
    changeset = %{ changeset |
                   :firstname => conn.params[ "firstname" ],
                   :lastname  => conn.params[ "lastname" ],
                   :telephone => conn.params[ "telephone" ],
                   :email

[2018-11-25 10:47] kipcole9 commented on #8014
I have [added a PR](https://github.com/elixir-lang/elixir/pull/8421) for discussion on the first four callbacks and `Calendar.ISO` implementations:

* `day_of_year/3`
* `quarter_of_year/3`
* `day_of_era/2`
* `year_of_era/1`

The remaining two are nearly complete (I wasn't happy with my existing implementation).

[2018-11-25 22:02] #8417 closed

[2018-11-26 02:48] dengbh commented on #6738
why not has Open source  in code?

[2018-11-26 09:10] #7839 closed

[2018-11-26 10:43] josevalim commented on #8213
Closing in favor of #8424 .

[2018-11-26 10:43] #8213 closed

[2018-11-26 11:05] wojtekmach opened #8428 "IEx doc header broken for `fn/1`"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): master
* Operating system: macOS Mojave

### Current behavior

<img width="740" alt="screenshot 2018-11-26 at 12 04 21" src="https://user-images.githubusercontent.com/76071/49010426-8635b580-f173-11e8-9fd3-7ab6d41b106e.png">

[2018-11-26 13:04] Hanspagh commented on #8428
Investigated this a bit and I think its caused by `Code.fetch_docs` returning

` {{:macro, :fn, 1}, 1442, ["fn\n  [clauses]\nend"],
    %{
      "en" => "Defines an anonymous function.\n\n## Examples\n\n    iex> add = fn a, b -> a + b end\n    iex> add.(1, 2)\n    3\n\nAnonymous functions can also have multiple clauses. All clauses\nshould expect the same number of arguments:\n\n    iex> negate =

[2018-11-26 13:12] josevalim commented on #8428
Yeah, the issue is that we store in the Docs chunk the result of `Macro.to_string` but we should probably skip the `Macro.to_string` call for `Kernel.SpecialForms.fn` as we can't actually format it properly. It is not a valid AST, so we have to special case (or define a fake-ish AST, such as `fn ... -> ... end`.

[2018-11-26 13:31] Hanspagh commented on #8428
I would love to fix this, but I am not quite sure where the `Macro.to_string` happens. So far I got to the understanding that `code.fetch` uses `:code.get_object_code(module)` to get the docs

[2018-11-26 13:35] josevalim commented on #8428
@Hanspagh we probably just need a new clause around here: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/src/elixir_erl.erl#L531-L540

You can see other special forms are already special cased. :)

[2018-11-26 13:41] Hanspagh commented on #8428
Thanks. Giving it a try

[2018-11-27 00:04] #8428 closed

[2018-11-27 15:02] raarts opened #8433 "** (ArgumentError) argument error on every invocation of Mix"
This only happens within my project tree, but I don't know how to troubleshoot it. The error is not very informative.

### Environment

* Elixir & Erlang/OTP versions (elixir --version):

[code]

* Operating system:  `MacOS Mojave 10.14.1 (18B75)`

### Current behavior

[code]

### Expected behavior

it should work.

Here's my mix.exs:

[code]

[2018-11-27 15:05] josevalim commented on #8433
Hi @raarts, that should work indeed. :) I pasted the mix.exs file locally and it did it work. What is in your `config/` files? In case you can't share it, because it has secrets and other stuff, does it work if you remove the `config` directory?

[2018-11-27 15:14] raarts commented on #8433
Alright, that fixes it. And helped me find the problem:

[code]

Of course the env var was not there. I make stupid errors all the time. Thanks for pointing me into the right direction.

[2018-11-27 15:14] #8433 closed

[2018-11-27 15:15] josevalim commented on #8433
@raarts this error message is super bad though. We will look into improving it directly in Erlang/OTP. Thanks!

[2018-11-27 15:17] GregMefford commented on #7995
@sheharyarn Without having looked at the code, I believe the way this would work is that you'd:

1. find the place in the code where `Task.async` and `Task.Supervisor.Async` get to the point of spawning a new process.
2. Right before that happens, grab the calling process's `$callers` variable from its process dictionary using `Process.get`
3. Prepend `self()` to the list
4. In the new spawned `Ta

[2018-11-27 23:00] lukaszsamson opened #8434 "Compile errors when matching valid sigils"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
Erlang/OTP 21 [erts-10.1.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe] [dtrace]
Elixir 1.7.4 (compiled with Erlang/OTP 21)

### Current behavior

[code]
[code]
`a =~...` fails as well
### Expected behavior

The code above should work fine as in other cases operator `=` does not need to be followed by whitespa

[2018-11-27 23:04] kipcole9 commented on #8434
I expect this is because you are not using the `=` operator, you are using the `=~` operator (since there is no whitespace).  `a= ~N[2017-05-02 20:49:29.000000]` returns the expected result.

[2018-11-27 23:04] ericmj commented on #8434
`=~` is an operator that will be parsed before `=~N[]`. Add spaces to fix the error.

[2018-11-27 23:04] #8434 closed

[2018-11-27 23:29] ericmj commented on #8434
They are not inconsistent because there is no `===~` operator, but there is a `=~` operator. The tokenizer is greedy and will usually try to parse the longest token it can.

There are many other cases where whitespace affect parsing. Maybe it should be documented that whitespace can affect parsing and that tokenizer is greedy with a few examples, but I don't think documenting specially about opera

[2018-11-28 14:59] DexterLB opened #8435 "Different dependencies with same git repo but different sparse options are recognised as one"
## EDIT: Cannot reproduce on clean install. Please close.

### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Linux

mix.exs contains:
[code]

### Current behavior

Only project2 gets loaded

### Expected behavior

Both projects get loaded

[2018-11-28 15:21] #8435 closed

[2018-11-28 15:21] josevalim commented on #8435
Closed as requested.

[2018-11-28 19:11] tcoopman commented on #7980
Just to be sure, is this the same thing here:

[code]

[2018-11-29 16:26] michalmuskala opened #8437 "Provide port/1,2 helpers in IEx"
Those should be similar to the `pid` and `ref` helpers but work for ports instead. It should be possible to use the `:erlang.list_to_port/1` function to do this.

[2018-11-30 15:47] josevalim commented on #8225
Btw, thanks for the app that reproduces the issue, it makes our lives much easier! :heart:

[2018-11-30 16:04] blatyo opened #8442 "False positive for warning: found quoted atom, but the quotes are not required"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):

Erlang/OTP 19 [erts-8.3.5.4] [source] [64-bit] [smp:12:12] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.7.4 (compiled with Erlang/OTP 19)

* Operating system:

OS X High Sierra 10.13.6

### Current behavior

When compiling, we receive the following warning:

[code]

It happens on this atom: `:"\"enum_users_companySize\

[2018-11-30 16:20] josevalim commented on #8442
I cannot reproduce this on master nor on v1.7.4:

[code]

What am I missing? :)

[2018-11-30 19:53] axelson commented on #8437
Just wanted to note the current workaround for this from the Elixir Forum thread for anyone that comes across this issue and wants to know how to do this without a helper function

[code]

[2018-11-30 20:51] josevalim commented on #8063
PR sent here: #8443 By default we are also fetching deps across all targets.

@ConnorRigby @fhunleth @mobileoverlord, can you please take it for a spin and give us any feedback? Thank you! Let's continue the discussion on the PR.

[2018-11-30 20:51] #8063 closed

[2018-11-30 21:16] josevalim commented on #8442
Oh, it is a bug because of Erlang/OTP 19. That's why I couldn't reproduce it. This is fixed in master then. :) Thanks for the report!

[2018-11-30 21:16] #8442 closed

[2018-12-01 09:37] virtual-light opened #8445 "async_stream + Stream.run is blocking"
Just wondering why such code:

[code]

blocks caller?

`Stream.run(stream)` is assuming that I don't care about results so there is no need to wait while all tasks will be finished. So why it act the same as `Enum.to_list(stream)`? Is there some way to do it without blocking except starting a separate process?

[2018-12-01 10:06] josevalim commented on #8445
Yes, Stream.run always blocks the caller. The difference to Enum.to_list is that it doesn't have to build a list because you don't care about results. Stream is always about laziness, it never starts processes for you. In your case, you can start a separate process yourself.

Just an example, if Stream.run started another process, then your code sample wouldn't work, because the new process wouldn

[2018-12-01 10:06] #8445 closed

[2018-12-01 10:38] virtual-light commented on #8445
@josevalim thank you,

Yes, but `async_stream` about asynchronous processing, so I hoped to have it advantages. But it looks like it will always wait for results even if I don't care about them.

[2018-12-01 12:51] josevalim commented on #8445
Ah, I see. If you want it to fully run as a separate tree of processes, then you can look at [GenStage](http://github.com/elixir-lang/gen_stage) and [Flow](https://github.com/elixir-lang/flow).

[2018-12-01 17:11] josevalim commented on #8445
Ah, yes, you are correct. So you will have to start the process yourself for now but, as I said, if we started the process automatically, which is what Flow/GenStage does, then it wouldn't work with Ecto either. :D

The feature you request was not yet implemented, so Ecto 3.1 it is indeed.

[2018-12-01 21:22] #8437 closed, assigned to nobody

[2018-12-02 08:38] wojtekmach opened #8449 "Extra escape character when printing docs code fences"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): master
* Operating system: macOS Mojave

### Current behavior

[code]

[code]

### Expected behavior

No extra escape character.

[2018-12-02 19:04] schnittchen opened #8450 "Source file change detection and potential "back-dating" is sometimes relative to the past"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Elixir runs in docker container derived FROM elixir:1.7.4-slim, with Ubuntu 18.4 as host

### Current behavior

I am seeing this https://github.com/elixir-lang/elixir/blob/v1.6/lib/mix/lib/mix/utils.ex#L173 warning quite often under certain situations. Both source files and a few other files are reported

[2018-12-02 19:31] josevalim commented on #8450
Thanks for the info.

Your VM is not supposed to be under time warped mode under regular
situations. If you start IEx manually and try the different
System.system_time/os_time functions, what are the differences between them
and the date command? How large is it?

The written file is meant to be behind date, but only for small amounts
(the amount it takes for you to run a command).

It is also imp

[2018-12-02 21:45] schnittchen commented on #8450
After a longer suspend, this is on

[code]

installed from the official packages, directly on the host:

[code]

[2018-12-02 21:59] josevalim commented on #8450
Something is definitely off here. It is reporting 6875 seconds difference!

Can you please call these:

[code]

?

[2018-12-02 22:15] schnittchen commented on #8450
I had shut down the VM, so I started a new one and suspended before this report (so time difference is far less than above):

[code]

The value of `System.os_time(:seconds) - System.system_time(:seconds)` (~250) is very slowly decreasing, maybe by 1 or 2 per minute. (The value read is oscillating by a second, probably due to rounding))

[2018-12-03 06:35] sheharyarn commented on #7097
What's the correct way of printing the stacktrace? In my case, I rescue from an error but I still want to log it to console. This is what I'm doing right now:

[code]

[2018-12-03 06:51] michalmuskala commented on #7097
The canonical way would be to use `Exception.format_stacktrace/1` https://hexdocs.pm/elixir/Exception.html#format_stacktrace/1.

[2018-12-03 08:45] josevalim commented on #8450
Right, at this point it is cleat that this is not an Elixir issue and we need to understand why the VM is immediately entering into time correction. It may not be an Erlang VM issue either.

What is your host OS? Searching for "clock drift docker" actually reveals possible issues, including this one: https://github.com/docker/for-mac/issues/2076

[2018-12-03 09:18] schnittchen commented on #8450
This is all on Ubuntu 18.04.

[2018-12-03 09:36] josevalim commented on #8450
Oh, that's much better if we can rule docker out.

[2018-12-03 09:38] josevalim commented on #8450
Do you see the same symptons as here (i.e. boot time changing?)? https://askubuntu.com/questions/1014285/excessive-system-clock-drift-2-minutes-per-hour

[2018-12-03 20:09] schnittchen commented on #8450
No, `cat /proc/stat | grep btime` is showing consistent output.

Also, `echo hpet > /sys/devices/system/clocksource/clocksource0/current_clocksource` did not change the fact that `System.os_time(:seconds) - System.system_time(:seconds)` returns a significant value after resuming from suspend.

For reference, I'm running `4.15.0-39-generic #42-Ubuntu SMP` Kernel, and (because of resuming being unre

[2018-12-04 03:20] sheharyarn commented on #7097
@michalmuskala Thank you. I looked at other methods of the `Exception` module and ended up using [`Exception.format/3`](https://hexdocs.pm/elixir/Exception.html#format/3) which made more sense for my use-case:

[code]

[2018-12-04 12:55] jruts opened #8459 "Mix Compile invalid argument"
### Environment
Erlang/OTP 21 [erts-10.0.5] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.7.2 (compiled with Erlang/OTP 20)
Windows 10 (Ubuntu WSL)

### Current behavior

When I run `mix compile` in a new project (`mix new asapi --module ASAPI`) I always receive an invalid argument exception.

[code]

### Expected behavior

I would expect `mix compile` to work on a defa

[2018-12-04 13:23] schnittchen commented on #8450
I've experienced it only after suspending so far.

[2018-12-04 13:36] josevalim commented on #8014
I have sent a PR for `week_of_year/3` here: #8460.

Note that I went with `week_of_year` for consistency with the other functions. I have not added support for min_days / first_day because for `Calendar.ISO` those are pre-determined and not a general function. A different calendar may use another week mechanism though.

For now, I am considering this issue as complete. We don't quite support `week

[2018-12-04 13:36] #8014 closed

[2018-12-04 13:42] josevalim commented on #8450
It would be nice to try to prove if the drift also happens at OS level. I assume this does not fix it? https://askubuntu.com/questions/881562/clock-problem-when-waking-from-suspend

But it seems to be an OS issue rather than Erlang one. Definitely not Elixir's.

[2018-12-04 13:50] OnorioCatenacci commented on #8459
It sounds as if he's using the "Ubuntu shell thingy" :)  Just for sake of insuring it's not some sort of regression, I'd have someone test this on true Ubuntu (not WSL) with the configuration he mentions.  It's unlikely but not impossible that this may be some sort of Ubuntu issue.

The other thing I'd check (if I were him) is to insure that path "/c/Users/Jimmy/projects . . . " is actually there.

[2018-12-04 13:51] OnorioCatenacci commented on #8459
I don't know if I have WSL on my Windows box @josevalim because I only use Windows for work and I'm not sure if work permits the installation of WSL.  Hence it may take me a day or two to get a repro environment set up.  But I'll see what I can do to help!

[2018-12-04 14:34] jruts commented on #8459
Hi @josevalim (and @OnorioCatenacci ). It happens on any project I create with `mix new...`.
And I am using the [Ubuntu subsystem on Windows](https://docs.microsoft.com/en-us/windows/wsl/install-win10), or as you call it, an _Ubuntu shell thingy_.

I have played around with Elixir before on a native ubuntu installation and did not have those issues.
I can also confirm that the path `/c/Users/Jimmy

[2018-12-04 14:37] clone1018 opened #8461 "Indentation level mismatch on iex doctest block"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
Erlang/OTP 21 [erts-10.0.8] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe] [dtrace]

Elixir 1.7.3 (compiled with Erlang/OTP 21)
* Operating system:
Mac OSX

### Current behavior
When running the following:
[code]

The error message is:
[code]
because the doctest should be using the `...>` syntax for continuing bl

[2018-12-04 14:38] clone1018 commented on #8461
@josevalim hit this on his "Advent of Code" stream at https://www.twitch.tv/josevalim

[2018-12-04 15:18] OvermindDL1 commented on #8459
I don't have WSL installed at work, couldn't keep using it due to issues it had so I can't test currently...  :-/

[2018-12-04 15:34] 1player opened #8463 "Opaque MapSet type causes Dialyzer error"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.7.4 (compiled with Erlang/OTP 21)
* Operating system: macOS 10.13.6

### Current behavior

[code]

gives Dialyzer error `The call 'Elixir.MapSet':'member?'(_public_fields@1::#{'__struct__':='Elixir.MapSet', _=>_},_field@1::any()) does not have an opaque term of type 'Elixir.MapSet':t(_) as 1st argument`

### Expected beha

[2018-12-04 15:52] josevalim commented on #8459
Haha, sorry for the poor name, but I wanted to give you a reply before I went into a meeting.

@jruts can you try some manual tests? If you start `iex`, outside of a project, can you open up files with `File.read`? If so, does it work with absolute paths? With relative paths? With volume relative paths? Trying to narrow the problem down can be helpful!

[2018-12-04 16:01] jruts commented on #8459
Hi @josevalim ,

first of all you were not in a meeting, you were live streaming on Twitch 😄 .

So I did some manual test as per your suggestion, and the issue seems to be a simlink.

So my Ubuntu subsystem has a simlink in my home folder to my user folder in Windows.

So on Windows I have: `C:\Users\Jimmy\projects`
And in my Ubuntu home dir `~`  I have a simlink to `C:\Users\Jimmy\projects`.

Whe

[2018-12-04 17:09] josevalim commented on #8459
I am hoping that counts as a meeting :P

Can you reproduce the error from the *Ubuntu shell thingy*? What if you create the project inside the symlink as before and then you do:

    touch /c/Users/Jimmy/projects/asapi/_build/dev/lib/asapi/ebin/Elixir.Asapi.beam

Does it work? What is the result of `echo $?`? Because if that doesn'twork, then it is a *Ubuntu shell thingy* bug. :)

[2018-12-04 20:13] jruts commented on #8459
Hey @josevalim ,

This is when the issues happens.

So I think it is safe to assume that the Ubuntu Shell Thingy is the issue :)

If you agree then I (or you) can close the issue.

[2018-12-04 20:14] josevalim commented on #8459
Closing this as requested then. :)

[2018-12-04 20:14] #8459 closed

[2018-12-04 20:16] jruts commented on #8459
I will always remember this as the day the creator of Elixir talked to me 😄
Thanks @josevalim

[2018-12-04 21:51] OnorioCatenacci commented on #8459
I can tell you from experience that José is a great guy! That's part of the
reason I am happy to see Elixir taking off.

On Tue, Dec 4, 2018 at 3:17 PM Jimmy Ruts <notifications@github.com> wrote:

[2018-12-06 07:37] ntmohammad commented on #5990
i had same issue on ubuntu server 18.04 , but this command solved it :
sudo apt-add-repository multiverse && sudo apt-get update

[2018-12-07 07:20] whatyouhide commented on #8242
Letting this one free for now, I'll pick it up in a bit if no one has picked it up by then. But feel free to claim it! :)

[2018-12-07 09:24] paulperegud opened #8481 "Restricted shell in `iex`"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Ubuntu 18.04 LTS

### Current behavior
[code]

While erl accepts shell.erl as a proper restricted_shell:
[code]

### Expected behavior

According to this post https://elixirforum.com/t/restricted-shell-in-elixir/17753 restricted shell was at least working some time ago. What is the status? Is it a bug or

[2018-12-07 09:34] josevalim commented on #8481
I don't think the restricted shell ever worked in Elixir. You can pass the options, but did they ever had an effect?

So it is rather a feature that does not exist as we would have to implement it specifically for Elixir. If developers are interested on this feature, than I recommend drafting and submitting a complete proposal to the mailing list.

[2018-12-07 09:34] #8481 closed

[2018-12-07 12:31] josevalim commented on #8450
I will exceptionally ping @garazdawi because he may be able to confirm if this is a bug or not before we do report it to the Erlang/OTP team.

Lukas, to save you from reading the whole discussion, @schnittchen is experiencing clock drifting on Ubuntu 18.4 when he starts Elixir after his computer comes back from a suspension. In a nutshell, the Erlang VM would consider the current time (retrieved w

[2018-12-07 13:18] garazdawi commented on #8450
If the OS clock and `erlang:universaltime/0` differ then that is an OS bug/feature. `erlang:localtime/0` and `erlang:universaltime()` work with the glibc functions [gmtime](http://man7.org/linux/man-pages/man3/gmtime.3p.html) and [localtime](http://man7.org/linux/man-pages/man3/localtime.3p.html).

Are you sure that is it the function that is called?

[2018-12-07 13:40] josevalim commented on #8450
Yes:

https://github.com/elixir-lang/elixir/blob/ddc554a7efef67f16e462709e7f46662f21f7ab5/lib/mix/lib/mix/utils.ex#L168-L173

And `calendar:universal_time/0` calls `erlang:universaltime/0`. So what is happening is that when you save the file in your editor, you set a mtime, but because the VM is "running in the past", we end-up emitting a warning.

[2018-12-07 13:54] garazdawi commented on #8450
The only functions that we artificially drag should be `erlang:system_time/0`, `erlang:timestamp/0` and `erlang:now/0`. So I don't know why `erlang:universaltime/0` would return a time in the past.

[2018-12-07 15:18] josevalim commented on #8450
Thanks @garazdawi!

@schnittchen can you please let us know the result of this expression:

    {System.cmd("date", ["+%s"]),  System.system_time(:seconds), System.os_time(:seconds), :erlang.timestamp, :erlang.universaltime}

[2018-12-07 18:44] virtual-light opened #8484 "Ability to set custom owner for the Task"
[code]

Just wondering, why such useful ability as passing task to another process (and awaiting from it) is missing in the language? Will elixir support this feature in further releases?

[2018-12-07 18:57] josevalim commented on #8484
The task is wired to send a message back to the owner and also linked to it. It is essential to how tasks behave. However, since tasks are just regular processes, you could implement your own abstraction that sends the message to whoever you want.

Btw, please ask questions on the elixirforum or the elixir-lang-core mailing list. :)

[2018-12-07 18:57] #8484 closed

[2018-12-07 19:37] schnittchen commented on #8450
[code]

[2018-12-08 07:15] josevalim commented on #8450
@schnittchen Everything seems correct then. We are returning the same date as the one returned by `date` and that's what we use to write the files. Could it be that the one to blame is your editor that is rather setting a date in the future?

If you use `touch` on the file and compare it with the result of `date +%s`, is it in the future or not? Then, what if you do the same but saving through you

[2018-12-08 07:35] josevalim commented on #8463
Closing in favor of #8480.

[2018-12-08 07:35] #8463 closed

[2018-12-08 09:17] echavezNS opened #8488 "Confusing @doctest identation error"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
Erlang/OTP 21
Elixir 1.7.4
* Operating system:
macOS High Sierra

### Current behavior

when using @doctest and you are using multiline scripts, for example:
[code]
 I get an error like this:
[code]

This is quite confusing, I know that I need to use `...>` before each line since I'm using iex, but the message could be a little bi

[2018-12-08 18:40] eksperimental opened #8493 "Fail test in IEx.ServerTest"
This has been happening for a while, since IEx.Sever had been introduced, and it gets really hard to deal with every time i run `mix test`. It doesn't fail on Travis though.

Running Ubuntu 16.04.1 LTS, 32 bits
OTP 21.0.6
Erlang/OTP 21 [erts-10.0.5] [source] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
Elixir 1.8.0-dev (e8095286c) (compiled with Erlang/OTP 21)

[code]

[2018-12-08 19:05] josevalim commented on #8493
This is weird. This test does not exercise any of the areas of the broker and it should be race free. Does it fail even after a `make clean`?

[2018-12-08 19:15] eksperimental commented on #8493
It does fail after `make clean`

[2018-12-08 19:18] josevalim commented on #8493
Does it fail if you remove all other tests in that file, keep only that one, and run the test suite with `elixir lib/iex/test/iex/server_test.exs`?

[2018-12-08 20:14] eksperimental commented on #8493
Still the same

[2018-12-08 20:15] eksperimental commented on #8493
wait. i didn't run `make clean`  before removing the test files.

[2018-12-08 20:15] josevalim commented on #8493
If you are running only a single file with the command I pasted above, then you don't need to `make clean`. But make sure you have only a single test in the file.

[2018-12-08 20:18] eksperimental commented on #8493
sorry I misread your message.
Only one test in that file and it fails

[2018-12-09 07:46] josevalim commented on #8493
I just got ubuntu running in a VM and all tests pass. :( I have no idea how to reproduce this and it should work according to the code too. Can anybody else reproduce this?

[2018-12-09 17:06] #8449 closed

[2018-12-09 17:10] josevalim opened #8495 "IEx.Helpers.b should show callbacks even there are no docs"
Here are two failing test cases:

[code]

I suspect this is happening because we are assuming the docs chunk to be the source of truth. But the docs chunk should only be used to attach documentation (or skip the callback in case it is `:hidden`).

[2018-12-10 20:57] schnittchen commented on #8450
Not true after suspend/resume: the first and second tuple entry are synonymous in the `iex(2)>` line, but NOT in the `iex(4)>` line above.

And `System.system_time(:seconds)` is what is used as reference for source file checking.

[2018-12-10 21:10] josevalim commented on #8450
Oh, doh. When I was checking the code, I did through the commit you linked,
which points to the v1.6 branch. I am so sorry.

I think replacing system_time by os_time should be enough to fix this
issue. Thanks for pointing it out. You can try it out locally and let me
know. I will push a fix for this tomorrow.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Dir

[2018-12-10 21:58] schnittchen commented on #8450
Oh. I should have linked to the relevant version of the code... sorry.

Wow, I can just `Code.eval_file` the modified source and try!

Lest I forget and restart the VM, I will check the effect tomorrow.

[2018-12-11 08:48] schnittchen commented on #8450
`now = System.os_time(:second)` fixes it!

[2018-12-11 09:31] josevalim commented on #8450
Now in master, thank you.

[2018-12-11 09:31] #8450 closed

[2018-12-11 10:33] josevalim commented on #8059
Closing in favor of #8062.

[2018-12-11 10:33] #8059 closed

[2018-12-11 11:31] schnittchen commented on #8450
It would be nice to have the one-line change backported to 1.7. I can provide a PR if that's ok.

[2018-12-11 11:36] josevalim commented on #8450
@schnittchen yes please!

[2018-12-11 13:47] josevalim commented on #7995
I am working on this!

[2018-12-11 13:54] samphilipd opened #8507 "ExUnit.CaptureLog.remove_capture fails with error"
### Environment

[code]

### Current behavior

I changed this line:

`ExUnit.start()`

to

`ExUnit.start(capture_log: true)`

in order to silence log output during tests. However, some tests are now failing with this error message:

[code]

Any ideas?

[2018-12-11 15:07] josevalim commented on #7995
Closing in favor of #7995.

[2018-12-11 15:07] #7995 closed

[2018-12-11 15:23] josevalim commented on #8507
So I cannot reproduce this. Here is a snippet that defines 100 test modules with 100 tests each:

[code]

It passes just fine.

Looking at the code, the only situation I could see this happening is if the Logger supervisor restarts, maybe because a custom backend is failing? Are you using any custom backends? Does removing them reflect the failures?

[2018-12-11 18:14] fertapric commented on #8495
I'm working on this one :)

[2018-12-11 18:32] josevalim commented on #8262
I am on this!

[2018-12-11 19:29] josevalim commented on #8262
Ok, I am not on this. I think the solution of changing the compiler is not going to fly.

We probably need to change deps.clean instead, as @ggcampinho first suggested. @ggcampinho are you planning to tackle this?

[2018-12-12 12:02] michalmuskala opened #8513 "Provide more hints for UndefinedFunctionError in case there is a behaviour"
If there's a behaviour declared on a module that expects a particular function and we get an `UndefinedFunctionError` on that function - the `blame` callback should add information about this.

The information about behaviours is available in the return of the `module_info/1` function and the information about callbacks of a particular behaviour is available in the return of the `behaviour_info/1`

[2018-12-12 16:26] hauleth opened #8515 "Reuse Erlang's `logger` metadata to Elixir's `Logger`"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: any

### Current behavior

[code]

### Expected behavior

[code]

[2018-12-12 16:48] dnsbty commented on #8513
I would love to help with this one if no one has picked it up by this afternoon.

[2018-12-12 17:08] josevalim commented on #8515
There is unfortunately no way we can make this work, so I don't think that will happen. Those are different logger systems, so it is expected they have their own metadata, although the metadata you set in Elixir should be available to everything logged by any.

[2018-12-12 17:08] #8515 closed

[2018-12-12 17:09] michalmuskala commented on #8515
The two systems are separate - each metadata is used when using the appropriate logging mechanism. In particular, it's not clear how that should work. What if the keys overlap? Should one override the other? What should be the result of the following sequence:

[code]

And this one?

[code]

If they should be different - how would this be even implemented?

[2018-12-12 17:10] michalmuskala commented on #8513
Please, go ahead 🙂

[2018-12-12 19:55] dnsbty commented on #8513
Any ideas on what those hints should actually say? I think I've got some basic ideas on this so I'll try to get a first pass on a PR up in a couple minutes

[2018-12-12 20:43] ericmj opened #8516 "Internal erlang compiler error when capturing local function in module body"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: macOS

### Current behavior

[code]

[code]

[2018-12-12 21:45] josevalim commented on #8513
I am really not sure what is the benefit here. We already warn it at
compile time, so why do we need an extra information on runtime? It can
even be confusing. What if we missing function is not in a module that I
own? So what is the use case here? :)
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-12-13 00:44] nicklayb commented on #5672
Hey @gjaldon I'm having the exact same issue as you but I don't really understand how you made it work.

Here is my Dockerfile
[code]

I'm also having a the following in a `.dockerignore` file
[code]

[2018-12-13 06:48] hauleth commented on #8515
@michalmuskala IMHO the latter should win. So in first case there would be `[foo: "baz"]` and in second `[foo: "bar"]`. In general having 2 completely separate "official" logging systems is a little bit confusing.

[2018-12-13 08:14] michalmuskala commented on #8515
I would agree it would be the best to make "later wins" scenario here. Unfortunately, I can't imagine a way to implement it efficiently.

We always had 2 logging systems - before it was `Logger` and `:error_logger`. Now there's a third one `:logger`.

[2018-12-13 09:11] redink commented on #7047
As far as I know, after upgraded 1.7.x the compiler works very well than before:

the speed for each compile improved significantly:

![image](https://user-images.githubusercontent.com/3191073/49927816-caf27800-fef9-11e8-9468-1109b89224b9.png)

and, the atom amount not increase after compile:

![image](https://user-images.githubusercontent.com/3191073/49927869-ecebfa80-fef9-11e8-9fee-c357d295c643.

[2018-12-13 10:21] #8516 closed

[2018-12-13 10:37] #8393 closed

[2018-12-13 10:48] josevalim commented on #7825
Given this is not a common scenario, I prefer to not complicate resolution to handle those cases early, especially due to the different sources and umbrella projects.

So while we do download the package, it is quite fast, and the error message today points there is a duplicate project in two different locations:

warning: redefining module NimbleParsec.MixProject (current version defined in memor

[2018-12-13 10:48] #7825 closed

[2018-12-13 11:07] hauleth commented on #8515
@michalmuskala one possible solution is to ditch `Logger.metadata` process store and instead use only `:logger` one.

`:error_logger` was less problematic when integrating because it was very limited in it's scope. Also `:error_logger` is deprecated and probably will be removed in future.

I see 2 solutions for the current dichotomy (without breaking changes):

- rewrite `:console` output to use E

[2018-12-13 11:20] josevalim commented on #8515
I am afraid none of those options are as doable as it sounds without breaking changes. I definitely recommend to dig deeper as there are many nuances to consider, even on simple things like: Erlang uses :mfa as metadata and Elixir uses two separate keys (:module and :function).

A simple solution of unifying those means either a breaking change or having both (which means you get duplicate entries

[2018-12-13 11:43] hauleth commented on #8515
@josevalim I have idea how to achieve that. I will prepare PR and I will see if that is so crazy.

[2018-12-13 12:30] josevalim commented on #8515
Ok, just keep in mind though we can't do any of this stuff now while we support OTP 20 too. So even if we have something working today, we would probably need to wait a year (at least until Elixir 1.10) alongside the other entries in here #6611.

[2018-12-13 12:31] josevalim commented on #8513
Closing in favor of #8517

[2018-12-13 12:31] #8513 closed

[2018-12-13 12:32] josevalim commented on #8513
Thanks for expanding @michalmuskala !

[2018-12-13 12:40] hauleth commented on #8515
@josevalim yes, I am fully aware of that.

[2018-12-13 16:50] samphilipd commented on #8507
We do not use any custom logger backends. Our setup looks like this:

[code]

[2018-12-13 20:13] fertapric commented on #7541
Here is an idea.

Protocol might use a module attribute `@typeprotocol` (or `@type_protocol`) or a macro to define the signature of the types; and the implementation might optionally define the types specified in the protocol using the regular `@type` syntax. During the consolidation process, the types defined in the protocol would be generated by inspecting the typespecs of the different implemen

[2018-12-13 20:33] josevalim commented on #7541
@fertapric that's a step in the right direction. The only issue is that `@type/@spec/@opaque/@typep` are specialish and I wouldn't want to introduce another special module attribute. But we could do it with something like:

[code]

Or something of sorts.

[2018-12-14 09:22] josevalim opened #8520 "Add :force_do_end_blocks configuration to formatter"
The :force_do_end_blocks configuration will convert any inline keyword syntax to the block format. Therefore:

    if something?, do: this, else: that

Will become:

    if something? do
      this
    else
      that
    end

## Rationale

Adding a new option may sound counter-intuitive to the formatter goals but the reason this option makes sense is because it makes the formatter more consistent

[2018-12-14 09:32] fertapric commented on #8520
I guess this would also affect functions, right?

[code]

[2018-12-14 09:41] josevalim commented on #8520
Yup, all of them.

[2018-12-14 10:51] samphilipd commented on #8507
@josevalim I'm not really sure what else I can give you. The failures are intermittent - sometimes a test will fail and sometimes it will pass. But it is always the same tests that flicker.

Is there anything else I can share with you that will help us to debug this?

[2018-12-14 11:54] josevalim commented on #8507
Maybe one option is for you to add a file logger backend and then see if the file backend has logged any useful information because the issue in cases like this is that something else may have been logged but we wouldn't know because there is no logger backend.

[2018-12-14 15:23] nunocf opened #8521 "[EEx] issue with case generating incorrect code."
### Environment

* Elixir & Erlang/OTP versions (elixir --version):  elixir 1.6.6/OTP 21

* Operating system:
MacOS Mojave 10.14.2
We also see this issue in our linux servers

### Current behavior

this piece of code
[code]
Generated this section of HTML

![image](https://user-images.githubusercontent.com/22882922/50011203-5f6ce100-ffb3-11e8-8dab-79d7e53e5a12.png)

Pay attention to the empty `<p>`

[2018-12-14 15:33] josevalim commented on #8521
That’s your browser inserting it. You can’t have a div inside a paragraph,
so the browser assumes it is an error, closes the paragraph, inserts the
div, and then open up another paragraph to match your closing one.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-12-14 15:37] nunocf commented on #8521
Thank you so much for the answer, @josevalim, Obrigado pela ajuda!

I'm absolutely astonished by Elixir's power. I can say I haven't had this much fun developing software since I learned about programming when I was a teenager.

Abraço de Portugal

[2018-12-14 15:45] #8521 closed

[2018-12-14 18:31] clouds56 opened #8522 "stderr from port in iex doesn't format well"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: arch linux 4.19.4-arch1-1-ARCH
zsh 5.6.2 (x86_64-pc-linux-gnu)
Konsole version 18.08.3

### Current behavior

[code]

### Expected behavior

[code]

### Note
This might be `iex` specific issue, since if I'm running same code with `elixir -e`, it renders correctly.
[code]

[2018-12-14 18:46] josevalim commented on #8522
It is unfortunately a bug in Erlang:

[code]

Can you please report it here: bugs.erlang.org? Thank you.

[2018-12-14 18:47] #8522 closed

[2018-12-14 19:04] clouds56 commented on #8522
reported here https://bugs.erlang.org/browse/ERL-802

[2018-12-14 23:45] atelles opened #8523 "Doctest of a Map with a MapSet value fails"
### Environment

Erlang/OTP 21 [erts-10.1.3]
Elixir 1.7.4 (compiled with Erlang/OTP 21)

### Current behavior
The following Doctest fails
[code]
with the error:
[code]

[2018-12-15 07:38] josevalim commented on #8523
We talk about those cases here: https://hexdocs.pm/ex_unit/ExUnit.DocTest.html#module-opaque-types

I.e. some types do not have a valid Elixir printable representation, so you have to break them apart.

[2018-12-15 10:00] atelles commented on #8523
Thanks for the clarification.

Should we add this information to the MapSet docs? Adding that it is an **opaque type** with a link to the Doctest documentation for more information?

My rationale is that there are doctests examples on MapSet, so I thought they would work.

[2018-12-15 13:59] josevalim commented on #8523
@atelles the problem is that this information can  be confusing if your intent is to learn about MapSet. However, we can probably improve the error message here. Maybe if the input has a `TokenMissingError`, maybe we can check if it has a `#...<`inside of it and, if so, augment the error message.

[2018-12-16 13:13] Qqwy opened #8532 "Improve Protocol.UndefinedError message when passing the module name of a struct"
### Current behavior

[code]

### Expected behavior

 The `MapSet` used here is a module name, which is why the call fails.
However, in the list of implementations, it is listed, just as module name.
Can we improve this error message?

[2018-12-16 13:49] josevalim commented on #8532
We could probably say: "protocol Collectable not implemented for MapSet, which is an Atom."

Thoughts?

[2018-12-16 13:59] michalmuskala commented on #8532
What about "for value MapSet of type Atom,.... Implemented for types A, B, C"

[2018-12-16 14:30] adkron commented on #8532
“For the Atom, MapSet, ... implemented for ...”

Amos King
Binary Noggin

[2018-12-16 19:49] josevalim commented on #8532
:+1: to @michalmuskala suggestion.

[2018-12-16 23:41] webdeb opened #8535 "Application config gets overridden by umbrella config while testing"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.6.1
* Operating system: OSX

### Current behavior

when you run `mix test` inside an `apps/subapp` directory the upper umbrella configurations override
the configs in `apps/subapp/config/test.exs` file.

### Expected behavior

When running `mix xyz` inside the `apps/subapp` only the actual configs for this app are applied, not t

[2018-12-17 08:35] josevalim commented on #8535
This is completely up to your control. If you notice your `mix.exs`, you will see that it is actually loading the parent config application which then loads the children one. You can change it but we don't recommend you to. The reason is that umbrella children were meant to run together (and they always run together if you run from the root), so if you start diverging their configurations, it may

[2018-12-17 08:35] #8535 closed

[2018-12-17 09:36] webdeb commented on #8535
Hi José,

this is funny, because initially I thought I am doing exactly this, with the umbrella pattern.
Now I've realized, thats not the case.
https://elixir-lang.org/getting-started/mix-otp/dependencies-and-umbrella-projects.html

But it makes further "apart-breaking" easier.

Thanks!

[2018-12-17 09:50] josevalim commented on #8535
Yes, precisely. Umbrellas are "what if i break them apart but manage them together". The next step is to manage them separately too.

[2018-12-17 12:46] Qqwy commented on #8532
I like @michalmuskala 's suggestion the most as well; I think it is the most clear to beginners.

[2018-12-17 23:17] josevalim commented on #8242
Closing in favor of the PR.

[2018-12-17 23:17] #8242 closed

[2018-12-18 08:40] skwerlman opened #8538 "Improve error when trying to compile a compiled regex"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Arch Linux, kernel 4.19.9.a-1-hardened

### Current behavior

[code]

An error is also raised when calling the non-bang version.

I expect others who are relatively new to elixir will run into this as well, since it's not immediately obvious that `~r//` compiles the regex on its own.

### Expected behavi

[2018-12-18 10:01] josevalim commented on #8538
Thanks @skwerlman!

We can improve the error message for sure but note we should not return an error tuple for the non-bang version. The error tuple is about semantic errors, not mechanical ones, such as bad arguments. For example, `File.read(1)` raises an error instead of an error tuple, because it is a bad argument. :)

[2018-12-18 10:03] josevalim commented on #8538
Btw, my suggestion in this case would be simply to move the `is_binary/1` guard up. If we do so, the error message would be better without requiring us to manually check for bad args. It would be this:

[code]

[2018-12-18 10:31] #8538 closed

[2018-12-19 14:55] rikkus opened #8541 "mix archive.install hex phx_new 1.4.0 fails with existing, old install and requires mix archive.uninstall phx_new first"
This can be avoided by running ```mix archive.uninstall phx_new``` first, but the warnings and error don't make it obvious that this is what will fix it.

### Environment

[code]

### Current behavior
[code]

### Expected behavior

[code]

[2018-12-19 14:57] ericmj commented on #8541
I think the issue is that we have the old archive version still in the code path. So we need to make sure to remove it from the code path and unload any modules from it.

[2018-12-19 16:34] vans163 opened #8542 "scoping compiler bug on cond"
### Environment
OTP 21.2
Elixir 1.7.3

[code]

Its clear the evaluation of this is incorrect and should be {%{}, %{5 => 5, :wtf => 5}}

[2018-12-19 16:58] michalmuskala commented on #8542
It looks like this is a bug in the compiler related to "flattening" of a `cond` with just one branch. A `cond` with two branches is compiled correctly.

[2018-12-19 17:12] vans163 commented on #8542
Not exactly

[code]

[2018-12-19 17:23] michalmuskala commented on #8542
In versions before 1.7 the behaviour you saw would be expected. It was a long-standing scoping compatibility with pre-1.0 code. This code would compile, but would issue a warning. The compatibility was dropped in 1.7, because otherwise we wouldn't be able to fix some other bugs in the compiler.

[2018-12-20 21:43] josevalim commented on #8541
This has been fixed in v1.7.4. :)

[2018-12-20 21:43] #8541 closed

[2018-12-20 21:46] ericmj commented on #8541
Wow, I knew I recalled this issue https://github.com/elixir-lang/elixir/commit/c88137330e2da0527f60b9a37cc5732d7b12e798.

[2018-12-20 22:17] josevalim commented on #8542
Closing in favor of #8544.

[2018-12-20 22:17] #8542 closed

[2018-12-21 15:19] josevalim opened #8547 "Perform function blame on exceptions from failed doctest"

[2018-12-21 17:30] eksperimental opened #8554 "[PROPOSAL] Hint to add :ex_doc dependency when running `mix docs` and docs task not present"
When running `mix docs` in a project with no docs task, we should special case and
give a suggestion saying:

*************
If you want to build the docs for this project, you need to add ex_doc as your dependency,
please add `{:ex_doc, only: :dev, runtime: false},` to your deps/0 functions in your mix.exs file,
so it looks like this:

and run `mix deps.get` and `mix docs`

*************

before w

[2018-12-21 17:45] josevalim commented on #8554
Could you please move it to the mailing list? Thank you.

[2018-12-21 17:45] #8554 closed

[2018-12-21 17:52] eksperimental opened #8555 "Warning when running `mix deps.get` and no requirement provided"
[code]

[code]

I shouldn't get that warning, since `mix help deps` states

We either need to remove the warning, or update the help information for the `deps` task.

[2018-12-21 17:59] wojtekmach commented on #8555
This is `Mix.SCM` specific so I believe the docs are correct as is.

For example it's allowed to do:

[code]

Hex, via `Hex.SCM`, requires the version requirement to be present and the error comes from there.

[2018-12-21 18:07] eksperimental commented on #8555
true, I cannnot find that message in Elixir core, but we have a similar situation:

https://github.com/elixir-lang/elixir/blob/2e576f67a00164d88e2e242e523dc3b5c1a8a5db/lib/mix/lib/mix/dep/loader.ex#L254-L272

[2018-12-21 18:10] eksperimental commented on #8555
/cc @ericmj

[2018-12-22 00:14] eksperimental commented on #8555
@josevalim when does this happen? The situation is similar to the one in Hex and should be documented IMO

[2018-12-22 07:55] josevalim commented on #8555
It is OK for SCMs to impose extra requirements that Mix can’t because Mix
is meant to work with multiple SCMs. So Hex needs to improve the error
messages for  regexes here.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-12-23 14:17] josevalim opened #8562 "IEx should print a warning when using --remsh with "dumb" terminal"
`--remsh` only works with `user_drv`, so we should warn if `--remsh` is used with a "dumb" terminal:

      TERM=dumb iex --sname bar --remsh foo@josemac

[2018-12-23 22:00] josevalim commented on #8562
Closing in favor of #8563

[2018-12-23 22:00] #8562 closed

[2018-12-24 16:06] sneako opened #8564 "User defined types with the name `record` fail to compile in 1.8.0-rc.0"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Fedora 29

### Current behavior
You can no longer create a user defined type with the name `record`.
Found this bug when compiling [cachex](https://github.com/whitfin/cachex) which gave the following error:
[code]
### Expected behavior

Users should be able to define their own types with the name `record

[2018-12-24 16:11] Gazler commented on #8564
I'd guess due to this commit https://github.com/elixir-lang/elixir/commit/da561ca8763e0e45c5bfe82ccc039bc77671305c#diff-6de4b356bc9d4e3d07f1e5731fbe7d23

[2018-12-26 05:53] pavanagrawal123 commented on #8281
@josephwilk I am observing this behavior on Mojave (10.14) when connected over a VPN, btw!
Ran the command in this thread, but it did not fix. Disconnecting from the VPN did!

[2018-12-26 11:54] joaothallis commented on #8523
You can leave so its documentation
[code]

[2018-12-26 14:59] ejpcmac opened #8566 "System.version/0 returns "1.8.0" in Elixir 1.8.0-rc.0"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):

[code]

* Operating system: macOS 10.13.6

### Current behavior

[code]

### Expected behavior

[code]

IIRC, past Elixir RCs did show their correct version number. It is not the case with Elixir 1.8.0-rc.0 and it can be confusing. Note the error is also there for `elixir --version`.

[2018-12-26 16:47] josevalim commented on #8566
Good catch, thanks, fixed here: https://github.com/elixir-lang/elixir/commit/e284007968586c5422bb7f1ff21808bfcaa6ecfc

[2018-12-26 16:47] #8566 closed

[2018-12-27 00:46] Aetherus commented on #6122
@gbovyn Do I need to restart Windows? I checked both "Use TLS 1.1" and "Use TLS 1.2", along with the default ones, but still can't download that csv.

[2018-12-27 14:32] ianrumford opened #8568 "1.8.0-rc.0: unable to compile with supplied Makefile"
Hi all,

Having a quick look at 1.8 rc 0 and could not compile it with the supplied Makefile.

### Environment

Erlang 21.2-1 (esl-erlang from Erlang Solns ppa)

Ubuntu 18.04 with latest maintenance

### Current behaviour

Standard elixir build:

`make clean test`

and I eventually see some warnings (which seem to be in 1.7.4 also):

  lib/io/stream.ex:1

  lib/io/stream.ex:2

  lib/io/stream.ex:2

[2018-12-27 15:32] #8568 closed

[2018-12-27 16:06] #8564 closed

[2018-12-27 16:52] ianrumford opened #8570 "1.8.0-rc-0: @since causing compiler warning"
### Environment

Erlang/OTP 21 [erts-10.2] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [hipe]

Elixir 1.8.0-rc.0 (b932a52d5) (compiled with Erlang/OTP 21)

erlang: 21.2-1
Ubuntu 18.04

### Current behavior

Trying out 1.8 and coming across a number of examples of the compiler warning about `@since`.

For example:

`defmodule T1 do
  @since "0.3.0"
  #@doc since: "0.3.0"
  defguar

[2018-12-27 17:26] whitfin opened #8571 "1.8.0-rc.0 record specification errors are unclear and/or broken"
### Environment

* Elixir & Erlang/OTP versions: Elixir 1.8.0 (compiled with Erlang/OTP 20)
* Operating system: macOS High Sierra

### Explanation

This is a cross-post from https://github.com/whitfin/cachex/issues/203, which reports a compilation failure in `1.8.0-rc.0` due to the following:

[code]

In essence, there's a `@type record` declaration in the file [here](https://github.com/whitfin/ca

[2018-12-27 17:32] sneako commented on #8571
Hi @whitfin! I also ran in to this issue compiling one of my projects that uses Cachex, and opened this issue https://github.com/elixir-lang/elixir/issues/8564. It should be fixed in master now (https://github.com/elixir-lang/elixir/pull/8569)

[2018-12-27 17:34] whitfin commented on #8571
@sneako well, I guess I should have looked harder then :p thanks for the info! I'll link that issue back on the Cachex ticket.

[2018-12-27 17:34] #8571 closed

[2018-12-27 18:39] #8570 closed

[2018-12-28 10:34] josevalim commented on #8547
Maybe the best option here is to stop wrapping doctest exceptoins in a custom exception altogether, as it only complicates things.

[2018-12-31 09:38] josevalim commented on #8532
Closing in favor of the PR!

[2018-12-31 09:38] #8532 closed

[2018-12-31 11:17] #8547 closed

[2018-12-31 13:15] drincruz commented on #8262
Just reading through this thread, I gave it a go on removing those `.erl` files that get built in `deps/{package}/src`. [This](https://github.com/elixir-lang/elixir/compare/master...drincruz:bugfix/mix/clean_deps?expand=1) works, but also does *not* sound like the solution @josevalim outlined [here](https://github.com/elixir-lang/elixir/issues/8262#issuecomment-428479538).

how do we accomplish ma

[2018-12-31 14:18] eksperimental commented on #3788
@josevalim so if the result is `nil` will it be considered `true` ?

[2018-12-31 15:04] josevalim commented on #8262
@drincruz right. We cannot hardcode the "src" directory because any dependency may have multiple compilers and any other directory can have compiled artefacts. It may be that the best way to solve this is to actually simplify the depending cleaning into two: "build" and "source" and it is always all or nothing, instead of being granular.

[2018-12-31 16:11] NobbZ opened #8584 "mix: when running `make test` some tests fail when `MIX_ENV` != "test""
### Environment

* Elixir & Erlang/OTP versions (elixir --version): compiling from master
* Operating system: observed on linux like machines, probably similar behaviour will be observable on windows as well

### Current behavior

`MIX_ENV=foo make test` will fail with the following tests failed (at least):

[code]

### Expected behavior

Tests pass regardless the parents `MIX_ENV` or fail with a

[2019-01-01 14:43] jfornoff opened #8585 "Compilation failure on 1.8.0-rc.0"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.8.0-rc.0 / 21.1.1 and 21.2.2
* Operating system: MacOS

### Current behavior

Compilation failure with attached stacktrace, seems to occur multiple times.

** (stop) {:compile_forms, {:error, [{[], [{:none, :compile, {:crash, :sys_core_fold, {{:case_clause, {:EXIT, {:function_clause, [{:sys_core_fold, :module, [[{:attribute, 1,

[2019-01-01 15:19] josevalim commented on #8585
Thanks for the report! This is an issue in meck which a pull request has been provided here: https://github.com/eproxus/meck/pull/202

[2019-01-01 15:19] #8585 closed

[2019-01-03 03:45] pragdave commented on #7293
Can I ask for this to be reopened?

I have code where there are unused variables injected my macros (OK, maybe not ideal, bit its a fact of life), and now I can't disable warnings.

I do believe it's a regression, as [the doc](https://hexdocs.pm/elixir/Module.html#module-compile) says:

(emphasis mine)

Here's a simple example. This isn't the actual code, so suggesting I use `_a` won't be helpful

[2019-01-03 08:20] josevalim commented on #7293
Hi @pragdave,

Yes, you are correct, we do officially document it supports Erlang compiler options. The trouble though is that we are no longer executing this Erlang pass and the Elixir compiler is the one emitting those warnings. This allows us to emit better error messages and it paved the way for the 5% compilation improvements now in Elixir v1.8. Unfortunately, I believe considering the attrib

[2019-01-03 12:26] andrewtimberlake opened #8588 "Compile error when using unquote on a module"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.8.0-rc.0 and Erlang 21.2.2
* Operating system: MacOS latest

### Current behavior
compile_test.ex
[code]

compile_test_test.exs
[code]

Results in
[code]

### Expected behavior

`CompileTest.foo()` should call `Other.foo()` and return `:foo`

[2019-01-03 12:51] michalmuskala commented on #8588
As a clarification - this used to work correctly, it's a regression in 1.8 and current master.

[2019-01-03 15:47] pragdave commented on #7293
Ah, of course. I’d forgotten I could assign it to `_`

...

Dave
On Jan 3, 2019, 2:20 AM -0600, José Valim <notifications@github.com>, wrote:

[2019-01-03 17:49] wojtekmach opened #8589 ""Internal error in sys_core_dsetel" on invalid binary pattern match"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.9.0-dev (f56a92202) (compiled with Erlang/OTP 21)

### Current behavior

I got a crash on a binary pattern match that's wrong (we can't refer function args like that). I'm not sure if it's worth fixing, but I thought I'll mention this anyway, in case it points to other issues.

[code]

[code]

FWIW, Erlang does this:

[co

[2019-01-03 17:51] wojtekmach commented on #8589
Oh, worth mentioning that if I swap function args, it raises a good error message:

[code]

[code]

[2019-01-03 19:13] josevalim commented on #8589
Likely applies to v1.8 too.

[2019-01-03 19:21] LostKobrakai opened #8590 "EEx multiple callbacks with `-> %>…<% end` format"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.7.3 / 21
* Operating system: MacOS X

### Current behavior

[code]

Having this in an eex template I get an syntax error: `** (SyntaxError) lib/components_web/templates/page/index.html.eex:5: unexpected token: end`

### Expected behavior

I'm not sure if this is purposefully not possible, but having the possiblity to define mult

[2019-01-03 22:48] josevalim opened #8592 "Use persistent_term in Logger"
We can load the module at the beginning of Logger.Config and use `:erlang.module_loaded(:persistent_term)` to choose between persistent_term or ETS.

[2019-01-04 03:00] eksperimental opened #8593 "Document as_boolean/1 built-in type"
`as_boolean/1` is still not documented. Just an entry in the Typespecs page.

Previous discussion about it
https://github.com/elixir-lang/elixir/issues/3788#issuecomment-145633305

[2019-01-04 08:05] #8593 closed

[2019-01-04 08:07] #8590 closed

[2019-01-04 08:39] fertapric commented on #8589
I'm currently working on this one :)

[2019-01-04 10:19] LostKobrakai commented on #8590
I've just found another case (notice the list around the callbacks):
[code]

I'd just do a PR handling trailing `]` like trailing `)`. This should be just fine, right?

[2019-01-04 11:17] fertapric commented on #8589
Do we want a custom error for this edge case, or `undefined variable "size"` would work?

[2019-01-04 11:48] eksperimental commented on #8593
Awesome. Thank you so much @josevalim

[2019-01-04 12:44] fertapric commented on #8589
@josevalim sounds good to me.

Agree, except for these cases:

[code]

[2019-01-04 12:56] josevalim commented on #8589
Yes, good catch.

[2019-01-05 08:14] josevalim commented on #8588
I have a fix which I will push soon. :)

[2019-01-05 08:17] #8588 closed

[2019-01-05 16:46] #8589 closed

[2019-01-05 19:49] fertapric commented on #8507
I managed to reproduce it:

[code]

[2019-01-05 19:53] fertapric commented on #8507
@samphilipd it should not fail if you remove the `metadata: :all` config. The next step would be to figure out what's killing the handler.

[2019-01-05 19:55] josevalim commented on #8507
Metadata has to be printable. But that shouldn’t kill the handler either.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-01-05 23:37] axelson commented on #8205
Note: this fix is released in 1.7.4

[2019-01-06 08:14] fertapric commented on #8507
Here is my hypothesis.

The `StringIO` device does not handle well those cases of non-printable metadata, raising an un-rescued `ArgumentError` when calling `:unicode.characters_to_binary/3`, and killing the device process:

https://github.com/elixir-lang/elixir/blob/00e488d28225c9b110e790f53078d321e0259495/lib/elixir/lib/string_io.ex#L274-L282

The handler monitors the device when logging, and if

[2019-01-06 09:17] josevalim commented on #8507
Awesome, you got it:

[code]

And I know the default IO does rescue unicode conversion errors and return `{:error, :badarg}` from them, so you are correct regarding the fix too.

[2019-01-08 08:54] josevalim opened #8604 "Add File.rename!"
All other functions in File have bang variants, this one should have to.

[2019-01-08 09:56] fertapric commented on #8507
The fix for non-printable data in Logger's metadata is fixed in master.

@samphilipd could you confirm that was the issue in your case?

[2019-01-08 12:07] eksperimental commented on #8604
I can take this one, if nobody else ia working on it already

[2019-01-08 13:19] gabrielpra1 opened #8605 "Cannot match warnings with location: :keep show the wrong location"
### Environment

* Erlang/OTP 21 [erts-10.2], Elixir 1.7.2 (compiled with Erlang/OTP 21)
* Operating system: Ubuntu 16.04

### Current behavior

When using `location: :keep`, "cannot match" warnings are generated with the file name where the macro is defined but line number where the macro is called.

[code]

[code]

Generates the warning

[code]

If the macro is defined without `location: :keep`,

[2019-01-08 19:50] #8604 closed

[2019-01-09 13:49] josevalim commented on #8605
Unfortunately there is not much we can do in this case. This error happens from a pass in the compiler that is very far removed from the original code, so any extra information is lost. The location: :keep affects the runtime behaviour but the definition code uses the caller information, otherwise we would actually report:

Which is possibly more confusing.

[2019-01-09 13:49] #8605 closed

[2019-01-10 00:55] josevalim opened #8610 "Optimize &super/arity"
Today we end-up generating an intermediate function but such is not necessary.

[2019-01-11 15:56] fhunleth opened #8611 "PIDPartition grows on :already_registered errors from Registry.register"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.7.4, Erlang 21
* Operating system: Linux

### Current behavior

If I run the following and watch the size of the ETS UniqueTest.PIDPartition0 table, it'll grow a row on every call to `register` even though all but the first one return an error.
[code]

It looks like this behavior is intentional since the `:already_registe

[2019-01-11 16:06] josevalim commented on #8611
@fhunleth good catch! My suggestion is to use do generate a unique integer and add it as fourth element to the tuple added to the PIDs table. This way you can uniquely delete it. If you would like to send a PR, it would be very welcome, otherwise we will include a fix later. :)

[2019-01-11 16:19] josevalim opened #8612 "Releases"
This is a meta issue to track the progress of releases in Elixir. The goal is to include minimum support for releases, then add user conveniences, and then finally work on hot code upgrades with relups and appups.

## Milestone 1

The goal here is to add releases to core without many bells and whistles:

  * [x] Add new options to Elixir CLI to trim the size of release executables (#8595)
  * [x]

[2019-01-11 16:40] michalmuskala commented on #8611
We should be able to insert to the pid table with `insert_new` and use the return value to decide if we should delete back from it on already registered error.

[2019-01-11 16:44] josevalim commented on #8611
@michalmuskala you are right. Since we can only register from self and if self is already registered with that key, then it is absolutely clear we have already registered ourselves. :+1:

[2019-01-11 19:05] adkron commented on #8611
Why not invert the logic in `register_key(:duplicate...)`? Instead of inserting and then looking up if that fails would it be better to lookup and insert only when needed?

[code]

[2019-01-11 19:10] josevalim commented on #8611
@adkron we have two tables in the registry, the issue is in the pid table (`pid_ets`), not the key one (`key_ets`). I also did this same mistake in my initial look :D

The other issue is that your code has a race, because two processes can lookup the table, see the table is empty, then proceed to call `insert_new`, and only one of them would win, but both would get `:ok`. So the reason why we do `

[2019-01-12 01:07] fhunleth commented on #8611
Thanks for all of the quick responses. I did not expect that.

I did make an attempt at a PR at https://github.com/elixir-lang/elixir/pull/8616. I'll be honest that I don't see the race condition on insertion since `self()` is part of the tuple being inserted. I.e. if two processes lookup the table and call register, their `self()`'s would be different, so `insert_new` would work for both of them.

[2019-01-12 01:35] josevalim commented on #8611
Doh, ignore me. @michalmuskala fix is correct because we always clean up all entries when we return already registered because another process registered it.

To be super clear, here is what I think should be the fix:

[code]

[2019-01-12 01:43] josevalim commented on #8611
Nope. This is not going to work. `insert_new` checks only for the key and not the whole entry, even on duplicate_bag. :( So i guess we are back to the unique integer, haha.

So here is what I think the fix should actually be:

[code]

But we will probably have to change other places in the code.

[2019-01-13 17:44] ConnorRigby opened #8618 ".iex.exs error behaviour"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):  Elixir 1.7.3 (compiled with Erlang/OTP 21)
* Operating system:  Linux

### Current behavior

Loading `.iex.exs` with compile or runtime errors currently halts the system. This is currently intentional as seen [here](https://github.com/elixir-lang/elixir/blob/d1e3e4dafd48e55898ec62235d6f91ab5aa7bc64/lib/iex/lib/iex/evaluator.ex#L1

[2019-01-13 19:20] josevalim commented on #8618
@ConnorRigby agreed. Can you please send a PR that removes the halting and have only the logging and add a test as well?

[2019-01-15 12:38] wojtekmach opened #8626 "internal error in beam_dead on wrong record usage"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.9.0-dev (786740a79) (compiled with Erlang/OTP 21)
* Operating system: macOS

### Current behavior

As I've been moving code around I've accidentally ended up with a record definition _below_ the usage of generated some_record/2 function. Here's a repro:

This works:

[code]

This crashes:

[code]

[code]
### Expected beha

[2019-01-15 20:26] eksperimental opened #8629 "Bug in IEx's MarkDown parser"
IEx parses wrongly the following MarkDown

[code]

it is shown as:

[code]

it should be
[code]

[2019-01-15 20:38] rodrigues opened #8631 "Code.format_string! fails with dialyzer"
### Environment

* Elixir 1.8.0 (compiled with Erlang/OTP 21.2.2)

* Operating system: macOS Mojave

### Current behavior

The presence of `Code.format_string!` in a pipeline makes dialyzer to emit a warning. Example:

[code]

`lib/dialyzer_code_format.ex:5: Function call/0 has no local return`

### Expected behavior

The same as when there's no format, this works:

[code]

For reference, dialyzer

[2019-01-15 20:42] josevalim commented on #8631
Hi @rodrigues, can you please pack all of this into a minimal project? It is going to make it easier for us to reproduce the issue and eventually fix it. Thanks!

[2019-01-15 20:46] rodrigues commented on #8631
@josevalim there you go, thanks! https://github.com/rodrigues/dialyzer_code_format

[2019-01-16 06:09] eksperimental opened #8636 "Allows `@callback` to not to have a return type to act as a head definition"
The reason why I think we need this is to be able to set the argument name, same like we do with bodiless functions.

[code]

with callbacks it is not possible to dot that at the moment.

this will generate a signature of: `__info__(atom)`
[code]

Not giving a return type, will will throw a compile error.
[code]

[code]

the only way is to do

[code]

which is rendered in ExDoc and IEx as:
[code]

[2019-01-16 06:17] eksperimental commented on #8636
/cc @wojtekmach

[2019-01-16 08:40] josevalim commented on #8636
The reason why we have it for functions is because the documentation tooling uses that signature  but the documentation tooling would not used said signature for specs/callbacks, because there is nowhere we can store this information for a callback.

[2019-01-16 08:40] #8636 closed

[2019-01-16 17:50] eksperimental opened #8640 "Test Error: test pry outside of the evaluator with acceptance (IEx.ServerTest)"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
Erlang/OTP 21 [erts-10.0.5] [source] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
Elixir 1.9.0-dev (MASTER) (compiled with Erlang/OTP 21)

* Operating system: Linux

### Error
`make test_iex` gives a pretty consistent error, more than half the times I test IEx, with seed: 455317

[code]

[2019-01-16 19:17] romul commented on #8629
In fact it should be
[code]

The opening bracket `[` for the `[1, 2, 3]` list was also missed. Solved in #8629

[2019-01-16 21:39] #8629 closed

[2019-01-16 23:21] romul commented on #8631
That's because `Code.Formatter.to_algebra!/2` could raise an exception and this function is called inside of `Code.format_string!/1`

https://github.com/elixir-lang/elixir/blob/v1.8.0/lib/elixir/lib/code/formatter.ex#L240

I can handle this one, if you point me out what kind of solution would be appropriate.
Maybe adding `no_return` result option to all functions specs down to `Code.Formatter.to_a

[2019-01-16 23:56] technomage opened #8642 "Mix not overriding dependencies in umbrella"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list: https://groups.google.com/group/elixir-lang-core
* For bugs, do a quick search and make sure the bug has not yet been reported
* Please disclose security vulnerabilities privately at elixir-security

[2019-01-17 06:47] romul commented on #8631
In fact, to satisfy dialyzer it's enough to add `no_return` to the `call` function spec, like that:

[code]

[2019-01-17 07:21] josevalim commented on #8642
Dependencies in the umbrella root do not affect the children when you are
running commands from the children. For this reason, it is usually very
uncommon to list dependencies in the umbrella. This generates an obvious
conflict where you would have to do dependency resolution every time you
swap from running a command in the umbrella root vs one of the children.

In other words, this likely won’t

[2019-01-17 09:50] josevalim commented on #8631
`no_return` is not correct though because that function can return in some situations. We only use `no_return` when the function is always fail. So this error is happening because dialyzer thinks something somewhere inside those functions will always fail.

[2019-01-17 09:52] #8631 closed

[2019-01-17 09:52] josevalim commented on #8631
I have found a fix while exploring the problem, pushing shortly.

[2019-01-17 13:14] josevalim commented on #8642
Hi @technomage !

I have checked the code and it actually works. It looks like there is a typo in your code and you wrote `overrride`, with 3 "r"s. :)

But as my comment above said, note this is discouraged, as when running inside the child app, you won't see the umbrella override.

Thanks!

[2019-01-17 13:14] #8642 closed

[2019-01-17 17:01] #8640 closed

[2019-01-17 22:41] eksperimental commented on #8640
great!

[2019-01-18 19:48] ionull opened #8649 "Enum.take_every doesn't work on Map List"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list: https://groups.google.com/group/elixir-lang-core
* For bugs, do a quick search and make sure the bug has not yet been reported
* Please disclose security vulnerabilities privately at elixir-security

[2019-01-18 19:57] #8649 closed

[2019-01-18 20:11] OvermindDL1 commented on #8649
I'm unsure what a map list is, but it looks like it works fine.  Do you have a complete reproducible example to copy/paste into iex?

[code]

[2019-01-18 20:15] ionull commented on #8649
@OvermindDL1 Hi, thanks anyway. It is a bit complex situation. I want to filter chart data from database. Well, it works on map list actually.
But it doesn't work when I use a complex pipe logic (Map.values Map.reduce Enum.filter etc.)

[2019-01-18 20:19] ionull commented on #8649
@OvermindDL1 what does {[%YourStruct{ mean? This parameter pass to take_every which is from Enum.reduce

[2019-01-18 21:03] ionull commented on #8649
Ok, I just found the problem, I use [] to init a map value which will add nil to list :(

[2019-01-19 17:55] romul commented on #8626
Looks like this one is kind of regression, b/c it worked on 1.7.4 as expected:
[code]

[2019-01-20 16:32] fertapric commented on #8523
I'm currently working on this one :)

[2019-01-20 18:50] josevalim commented on #8523
Closed in favor of PR.

[2019-01-20 18:50] #8523 closed

[2019-01-20 19:52] eksperimental opened #8659 "IEx: recompiling module with `r` helper doesn't reload changes in documentation"
run `iex -S mix`

[code]

update docs, save file.

[code]

and the docs have not changed.

[2019-01-20 19:54] josevalim commented on #8659
Yup, it is mentioned and explained in the docs:

[code]

:)

[2019-01-20 19:54] #8659 closed

[2019-01-20 19:58] eksperimental commented on #8659
I should read the docs more carefully :-P
Sorry for the false positive

[2019-01-20 20:33] eksperimental opened #8660 "Elixir does not complain about this atom with quotes, but the return value is without quotes"
It happens with the  'GREEK CAPITAL LETTER OMEGA' (U+03A9)

[code]
It's a nitpick, but it could lead to other bugs.

Just for the record,  there is an equivalent to the omega sign, the OHM SIGN (U+2126), that needs quotes, and it is returned with quotes. In case it has to do with the bug.

[code]

[2019-01-20 20:47] josevalim commented on #8660
Yes, we agreed to only warn for ascii because developers complained that it
was hard to track if they needed the quotes or not  in all other cases.
Plus, the reason for the warning is to avoid developers thinking adding
quotes would make them strings.

The case you say can be a bug can happen at any moment, when it comes to
NFC and NFD, and it also happens if you always quote, so it is not related

[2019-01-20 21:03] josevalim commented on #8660
To be more precise, if you always quote, then you still need to know if you
are on NFC or NFD. The nice thing about unquoting is that it tells you in
which format it is. But there is no escape from having to know which is
which.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-01-21 11:00] fertapric commented on #6738
I would like to share my findings in case it helps to future readers.

Elixir's `with` is internally expanded to a series of nested cases. To give an idea, the code above would be expanded to something similar to:

[code]

The warning of this issue is emitted because the Erlang compiler is smart enough to know that the result of the nested case `case {:second, Integer.gcd(2, 4)} do` would never ma

[2019-01-21 11:37] fertapric commented on #6738
Other idea ([based on this comment by @nox](https://github.com/elixir-lang/elixir/pull/8661#issuecomment-456040834)) is to move the error handling to its own closure:

[code]

[2019-01-21 13:02] josevalim commented on #6738
Yes, we want to do the closure but we need to push some improvements to the Erlang compiler to make it more efficient.

[2019-01-22 01:18] eksperimental opened #8672 "Underscore in arg names in callbacks"
Using underscore in arg in @callback should give or not a warning,
but it should not display it with the _ for consistency with function definitions

[code]

in ExDoc, is displayed as:

[code]

and in IEx

[code]

[2019-01-22 16:33] josevalim commented on #8672
It has no meaning so why are we imposing a meaning to it? By automatically saying it is something disallowed, then we are saying it *means* something, except we are not telling exactly why. Typespecs have very different from feature signatures and variables, we should not conflate them by trying to apply the same rules.

[2019-01-22 16:33] #8672 closed

[2019-01-22 16:55] eksperimental opened #8675 "mix test: passing a line number out of range makes the last test to execute"
While doing a QA for https://github.com/elixir-lang/elixir/pull/8673, I came across this bug,

You can test it with any file (no doctest for simplicity)

`mix test test/some_test.exs:100000`

will output
[code]

where the number of excluded files is always be one less than the total number of tests.

I have verified and the last test gets executed

[2019-01-22 16:58] josevalim commented on #8675
Yes. the way the feature is described takes that into account:

[2019-01-22 16:58] #8675 closed

[2019-01-22 19:41] eksperimental opened #8678 "`mix test` should error and not ignore files when using multiple files and line numbers"
On Elixir master

It works with two files and no line numbers
[code]

It ignores the first file, when this one uses line numbers and second one doesn't
[code]

and similar to the previous one, it ignores the second file when this one uses line numbers and the first one doesn't
[code]

It does not recognize the second file as a valid one, when both files use line numbers
[code]

[2019-01-22 19:44] eksperimental commented on #8678
While stated in the docs:

I think it should error, and not just ignore the file.

[2019-01-22 22:05] eksperimental commented on #8675
It is consistent with what the documentation explains, but IMO if the line is out of the last describe or last test block, it shouldn't run anything.

[2019-01-23 11:12] Adzz commented on #7930
I seem to be seeing this behaviour again when updating to 1.8.0:

![screenshot 2019-01-23 at 11 11 59](https://user-images.githubusercontent.com/8428277/51602759-b98c8a80-1eff-11e9-9ebe-07ccea38ed3a.png)

[2019-01-23 11:16] josevalim commented on #7930
@Adzz can you please provide a minimal application that reproduces the error? Something like `mix new example` and you update the `mix.exs` file with the relevant dependencies. Thank you!

[2019-01-23 22:49] hauleth opened #8685 "Float.round/2 returns invalid value for 5.0e-324 with precision 1"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system:
[code]

### Current behavior

[code]

### Expected behavior

[code]

[2019-01-23 23:33] eksperimental commented on #8685
The bug happens for any precision greater than `0`.

[code]

[2019-01-24 00:03] eksperimental commented on #8685
Look, I found the limit where this bug happens. once the exponent is >= 309, that's when it happens.

[code]

See the gist for a full result https://gist.github.com/eksperimental/4a0bcf4db61dea0a441c6a9d2959ffe8

[2019-01-24 09:05] josevalim commented on #8685
Closing in favor of #8685. Thanks!

[2019-01-24 09:05] #8685 closed

[2019-01-24 09:08] hauleth commented on #8685
@josevalim you probably meant #8687

[2019-01-24 12:45] josevalim commented on #8612
Hi folks,

I have spent most of the week studying hot code upgrades and building prototypes and I have decided to not include them as part of Elixir Core for now (at least for Elixir v1.9). The rationale is that they are still very complex, error prone and opinionated in a way that whoever is performing them needs to be aware of many of the decisions taken. For example, the [distillery guides on a

[2019-01-24 14:04] bmwiedemann opened #8689 ".beam files differ between builds"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
elixir-1.7.4 erlang-21.1.4
* Operating system: openSUSE Tumbleweed 20190124

### Current behavior

Somewhat similar to #4814 building the openSUSE elixir package produces various .beam files that differ for every build, e.g. `/usr/lib/elixir/lib/mix/ebin/Elixir.Mix.Tasks.Deps.Unlock.beam`

Some of the diff is even there when doing

[2019-01-24 14:09] josevalim commented on #8689
Thanks @bmwiedemann. Do you have steps to reproduce this? How are you going the builds? Which Erlang/OTP version are you using?

I am getting consistent results with Elixir master and Erlang/OTP 21. Note that earlier Erlang/OTP versions would include timestamps, which would make them not reproducible.

[2019-01-24 14:12] josevalim commented on #8689
I also could not reproduce this in ExDoc:

[code]

[2019-01-24 14:42] cburman01 opened #8690 "Updating a map inside a case with different elixir versions."
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
Elixir 1.7.4 (compiled with Erlang/OTP 20)
* Operating system:
Docker container running RHEL 7

### Current behavior

There is a difference in behavior among different elixir version. Take this module:
[code]

Run like this:

### Expected behavior

I would expected the output to be:  %{hello: 1}

What I am seeing is this:

Elixir

[2019-01-24 14:43] josevalim commented on #8689
Oh, sorry, I see now that you included Erlang in your initial report, sorry.

Now I also see why I can't reproduce it, I am running on v1.8.0 which has this commit: d76f150274352dd207cb82abca523ae73bb21b40

The commit above made the compiler deterministic when meta-programming. Therefore this is fixed in v1.8+ and master. In any case, thank you for checking and for the report!

[2019-01-24 14:52] cburman01 commented on #8690
@josevalim Thanks for the link. That explains it.

[2019-01-24 14:57] bmwiedemann commented on #8689
d76f150 cherry-picked cleanly to 1.7.4 and reduced the elixir diff to only have instances of

[code]

Is there another patch missing?

[2019-01-24 15:11] josevalim commented on #8689
This is a bit weird. Bytes 5 to 8 are the size of the BEAM chunk. So if the size is different, then something else is surely missing?

[2019-01-24 15:21] bmwiedemann commented on #8689
indeed, our special-purpose diff tool was hiding the lower part [diff.txt](https://github.com/elixir-lang/elixir/files/2792310/diff.txt)

[2019-01-24 15:26] josevalim commented on #8689
I see, so the difference  is in the documentation chunk. I am not quite sure yet though. I can also reproduce it locally. I will take a look later after I pick the kids from school.

[2019-01-24 15:32] bmwiedemann commented on #8689
The bad one is [build-compare](https://github.com/openSUSE/build-compare/) and the good one is https://github.com/bmwiedemann/reproducibleopensuse/blob/master/filterdiff
used as `filterdiff xxd $file1 $file2`

[2019-01-24 16:22] bmwiedemann commented on #8689
If you want to work with the openSUSE package, you can also try my `rbk` tool from the reproducibleopensuse repo.
I quickly upgraded to elixir-1.8.0 in https://build.opensuse.org/package/show/home:bmwiedemann:reproducible:test/elixir and it showed a similar diff to 1.7.4 .
Using 1.8 indeed fixed the indeterminism in the elixir-ex_doc build, so that was something else to what affects .beam files in

[2019-01-24 16:35] josevalim commented on #8689
Got it. So we literally had `:rand.uniform` being executed at the moment the docs were defined. Fixed now.

[2019-01-24 17:17] OvermindDL1 commented on #8612
Although not achieved out of the box now, I think it is important to not only support them 'soon' but also have an easy way to test (ExUnit addition?) to make sure a given application 'can' be hot upgraded safely and for this to become part of the standard templates.  Even if the feature is not used by an end-project this still helps ensure that program has a sense of 'migrations' and code_change'

[2019-01-24 17:19] OvermindDL1 commented on #8612
The main issue I think would happen if its not supported 'soon' in the `mix release` lifespan is that then a lot of libraries won't support it properly, and thus end projects that do use the functionality will get unexpected breakages that they may not notice for a period of time in production, where trying to enforce a way to do it well 'soon', especially with a testing infrastructure for it (giv

[2019-01-24 20:14] bmwiedemann commented on #8689
I applied this patch to my 1.8 package and am still getting diffs in at least 5 beam files. And github did not let me upload that 1MB file: https://rb.zq1.de/compare.factory-20190113/elixir-1.8-diff.txt

Shall I open a new bug or do we keep tracking it here?

[2019-01-24 20:19] eksperimental commented on #8689
Could you please share which are these beam files? It will be easier to track down

[2019-01-24 20:23] bitwalker commented on #8612
It is quite easy to automate a lot of the `.appup` work (as Distillery does), but it is still the case that `code_change` implementations are entirely on users, including for dependencies, but in theory it should be possible to identify all the places where the state structure of a process has changed without a corresponding `code_change` implementation; with a combination of comparing whether a m

[2019-01-24 20:31] josevalim commented on #8689
They are: Code.Formatter, Stream, Enum, String and System.

@bmwiedemann we can likely solve all of them but we cannot solve the `System` one as it does include `build_info` and that will naturally change on every release. Suggestions?

[2019-01-24 20:40] josevalim commented on #8689
So I cannot reproduce the one for Code.Formatter but I can reproduce it for Enum, Stream and String and they are related to the Dbgi chunk (which stores AST). I will post more updates son.

[2019-01-24 20:43] eksperimental commented on #8689
@josevalim I would say it is
https://reproducible-builds.org/docs/source-date-epoch/
https://reproducible-builds.org/specs/source-date-epoch/

I haven't fully read it, but it all looks it is a common issue.

[2019-01-24 20:58] josevalim commented on #8689
I found the root cause for Enum, String, Stream, which were relying on map ordering when sorting specs, which is non deterministic. This would have happened when we have more than 32 specs in the same module. Please see the commit above.

I still cannot reproduce the formatter one properly. I will provide SOURCE_DATE_EPOCH support for the System one.

Btw, is anyone interested in contributing a sh

[2019-01-24 20:58] eksperimental commented on #8689
One option would be to deprecate build_date() and change it to something else based on the last commit date. That way given it will be deterministic.

[2019-01-24 21:03] eksperimental commented on #8689
I can volunteer for contributing such script

[2019-01-24 21:09] josevalim commented on #8689
@eksperimental the problem is that people may not always be assembling from the git repo, so we are back to square one. I think SOURCE_DATE_EPOCH is a good compromise.

Beautiful! 🎉

[2019-01-24 21:17] josevalim commented on #8689
PR for SOURCE_DATE_EPOCH here: #8694.

@bmwiedemann all should be fixed except the Code.Formatter one, which I cannot reproduce locally and I cannot figure out the root cause based on the diff you sent. Can you reproduce it on Elixir master?

Thanks for the feedback and guidance here!

[2019-01-25 01:13] Awlexus opened #8699 ":application.get_application/1 always returns :undefined during compilation"
Since I updated to elixir 1.8 I'm getting `:undefined` as a result for `:application.get_application/1` when I call it inside a macro/during compile time. This happens when the example code is run inside iex or during compiling a mix project

### Environment
Elixir version (Default pacman package):
Erlang/OTP 21 [erts-10.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.

[2019-01-25 04:18] bmwiedemann opened #8700 "Future commit messages should be improved"
Future commit messages should be improved.
This is sort of a meta-issue, not affecting the elixir software itself, but getting this right can greatly improve the long-term maintainability of the project.

One example is 3fd6cf5e917e2f1383d4ecf1f3de5726337f66dc - just to illustrate and not meant to blame its author..

In our (SUSE) projects, we considered it good style to include in commit texts so

[2019-01-25 05:29] bmwiedemann opened #8702 "datetime_test fails in 2019-11"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): elixir master = 22b8238c501d91f7e65b4b8e1eadbe9dd1a3f462 ; OTP-21.1.4
* Operating system: openSUSE Tumbleweed 20190124

### Current behavior

similar to #8688
one test fails after 2019-11-01 but passes 2019-10-26
[code]

Might this be related to the EU intentions to give up DST?

### Expected behavior

Tests should keep working un

[2019-01-25 07:21] josevalim commented on #8702
We use a fake time zone database, not an actual one, where ranges are hard coded. So as long as you modify the fake database, you should be good to go: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/test/elixir/calendar/fakes.exs

[2019-01-25 07:30] josevalim commented on #8700
Thanks for the references, we will discuss this internally. The perspective of decades in comparison to the issues tracker is a good one. :+1:

We will close this for now though, as it is a "meta" issue, as you said.

[2019-01-25 07:30] #8700 closed

[2019-01-25 07:34] josevalim commented on #8699
Which value did it return in Elixir versions? I don't see how this could have worked before because when you are compiling the module, the application has not yet been defined, so it can't have any processes belonging to it and the modules do not yet know to which application they belongs to.

[2019-01-25 07:40] #8678 closed

[2019-01-25 07:42] josevalim commented on #8689
All issues have been addressed. Thanks @bmwiedemann!

[2019-01-25 07:42] #8689 closed

[2019-01-25 08:41] bmwiedemann commented on #8689
I wanted to mention that working with you guys was among the most fun cooperations I did - that is after doing 200+ upstream patches for reproducible builds. Nice github reaction-smiley, fast responses, good patches.
Keep that up :+1:

And I still know not a bit of elixir syntax ;-)

[2019-01-25 08:47] bmwiedemann commented on #8702
Was this meant to be closed? If so, a link to the fix would be nice...

[2019-01-25 08:50] josevalim commented on #8702
Hi @bmwiedemann!

There is no fix because this is not an issue per se. We don't use an actual timezone database and instead we use a fake one. So if you want to change the test, you also have to change the fake timezone database.

However, maybe there is another issue that led you to open this one? Maybe that's what we should focus on?

[2019-01-25 09:03] bmwiedemann commented on #8702
The issue is that today's elixir will stop building in 11 months. It is an issue that is just not very visible right now, so most people are happy with the current state.
Such time-bombs are not nice to distributions like our openSUSE who want to ship software and keep it working for a longer time.

[2019-01-25 09:06] bmwiedemann commented on #8702
Also all the background and reasoning from #8688 applies. I just did not catch it there because the test probably was not part of elixir-1.7.4

[2019-01-25 09:06] Awlexus commented on #8699
I cannot say for sure. I always used the returned application to get a configuration value with `Application.get_env/3`. So there's a good chance it never returned the actual application. But at the very least I can confirm that it matched `{:ok, application}`

After work I can set up a virtual environment with elixir 1.7 and inspect the exact output.

[2019-01-25 09:06] josevalim commented on #8702
@bmwiedemann perfect. That's the context I was missing. Can you please link to the part that will fail to build in 11 months so we can check it?

[2019-01-25 09:07] josevalim commented on #8702
Oh, nevermind. I can infer that from the failed test. DateTime.now is using a timezone database and that will fail eventually. Fix coming out soon.

[2019-01-25 09:07] bmwiedemann commented on #8702
likely from https://github.com/elixir-lang/elixir/blob/master/lib/elixir/test/elixir/calendar/fakes.exs#L70 not covering anything after 2019-10-28

[2019-01-25 09:09] josevalim commented on #8702
@bmwiedemann btw, can you show the commands you are using to make the build "run in the future"? I wonder if we should add that as an entry in our travis matrix.

[2019-01-25 09:12] #8702 closed

[2019-01-25 09:13] bmwiedemann commented on #8702
In openSUSE I use kvm's clock fiddling with
`osc build --vm-type=kvm --build-opt=--vm-custom-opt="-rtc base=2019-11-01T01:01:01"`

but in travis you might have an easier time with libfaketime
[code]

could maybe even integrated into the 2nd build of #8701 - if that includes running tests

[2019-01-25 10:11] angelo-moreira opened #8704 "A big thank you for all the team"
I just want to give a big thank you to everybody that contributed and make this fantastic technology possible, I have used a lot of technology but this is the best and well thought language I have ever work with, brought me back the joy I had when I was 16 doing my first `hello world`

A big big big THANK YOU

[2019-01-25 11:12] josevalim commented on #8704
Thanks for the nice words @angelo-moreira! :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

I would love to keep this open but I have to stay true to our rules and close non actionable issues. 😅 But still, very appreciated!

[2019-01-25 11:12] #8704 closed

[2019-01-25 11:19] fertapric opened #8705 "Do not emit a warning if @impl is used in a function with default arguments"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: OS X

### Current behavior

As stated by [this comment](https://github.com/elixir-lang/elixir/pull/6331#discussion_r127476966), if `@impl` is used in a function with default arguments, a warning will be emitted because a callback might not be specified for some of the arities.

In the case of `Calendar.I

[2019-01-25 11:19] fertapric commented on #8705
I'm currently working on this one :)

[2019-01-25 11:33] fertapric opened #8706 "Allow to specify a `format` argument to `date_to_string`, `datetime_to_string` and `naive_datetime_to_string`"
**Note: this is blocked by https://github.com/elixir-lang/elixir/issues/8705**

`Calendar.ISO.time_to_string/3,4` allows to specify a `format` argument but similar functions (`date_to_string`, `datetime_to_string` and `naive_datetime_to_string` ) in that module do not.

[2019-01-25 12:44] fertapric commented on #8705
It's currently working in master.

[2019-01-25 12:52] #8705 closed

[2019-01-25 15:51] OvermindDL1 commented on #8699
For note, you should look into https://github.com/asdf-vm/asdf as you can choose versions of elixir and erlang even on a directory-by-directory basis.  :-)

I just tested your above code:
[code]
Thus it didn't work in 1.7.4 nor 1.6.6?

[2019-01-25 19:19] Awlexus commented on #8699
I'm sorry, I made a very big mistake. Apparently I just recently changed the lefhand side from `application` to `{:, application}`

[2019-01-25 19:19] #8699 closed

[2019-01-25 20:31] Math3v commented on #7930
Maybe this is more helpful?
[code]

[2019-01-25 21:40] Adzz commented on #7930
I am trying to create a minimal test case now, will update when i do

[2019-01-26 01:03] michaelm244 opened #8717 "Compliation error when using case inside with"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]

* Operating system: OS-X

### Current behavior

If you execute:
[code]

You get:
[code]

### Expected behavior

I expect this to compile. I have found that if I add parentheses around the `case`, it works:
[code]

It took me a long time to find the source of this error in a large `with` chain because the error message isn'

[2019-01-26 08:21] NickNeck commented on #8717
I think this behaviour is correct. The `with` expected a function and will interpret the `case :ok` as the function given to `with`. The `do` block is then a part of the `with` and the second `do` block is isolated and cause the syntax error. But I am not sure if I am right.

[2019-01-26 21:13] rogpeppe opened #8723 "broken links in syntax reference doc"
There are four references in [this page](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/pages/Syntax%20Reference.md) to a "Unicode Syntax" page [here](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/pages/unicode-syntax.html), which doesn't seem to exist any more.

There's another broken link too: [Elixir's naming conventions](https://github.com/elixir-lang/elixir/blob/m

[2019-01-26 21:18] wojtekmach commented on #8723
The link is broken on GitHub as pages are markdown files, not html files, and not sure if it can change. These pages are meant to be rendered using ExDoc and they work: https://hexdocs.pm/elixir/1.8.0/syntax-reference.html#atoms

[2019-01-26 21:30] wojtekmach commented on #8723
Does the link I pasted above not work for you?

[2019-01-26 21:43] rogpeppe commented on #8723
Oh, my bad - I skimmed the link and thought it was about ExDoc, not the syntax reference itself.
Thanks!

Perhaps it might be nice if there was a link to that hexdocs.pm hierarchy from somewhere obvious on elixir-lang.org - the language reference being quite an important aspect of the language.

[2019-01-26 21:49] wojtekmach commented on #8723
We link from https://elixir-lang.org/docs.html to hexdocs so I believe the syntax reference page is relatively easy to find. Do you have a  suggestion how to make it easier if needed?

[2019-01-26 21:52] josevalim commented on #8723
We do link to our docs here: https://elixir-lang.org/docs.html (in the top menu) but then you need to figure out that this information is in "Pages". We could make this information more available in the docs page but this is not a straight-forward problem to solve because then a lot of people who are new to the language may end-up jumping to those references early on and  that may not be the best

[2019-01-26 21:52] #8723 closed

[2019-01-26 22:07] rogpeppe commented on #8723
I'll just say that I looked quite hard for reference docs for the language and only found it (after several google searches) by browsing through the github markdown source. I would never have thought to click on the obscure "Pages" link.

I'd suggest having a link to "Reference documentation" from somewhere in the [docs page](https://elixir-lang.org/docs.html) with direct links to the various page

[2019-01-27 10:41] josevalim commented on #8723
@rogpeppe perfect.

[2019-01-27 19:48] hectorsq commented on #7930
@josevalim I have a mimimal app here https://github.com/hectorsq/mx-test

It fails after adding poison to dependecies.

It is an umbrella project. If you run `mix phx.server` at the top folder everything works fine. If you run `mix phx.server`at apps/mx_web the following error appears.

 `** (Mix) Could not start application poison: could not find application file: poison.app`

[2019-01-28 09:18] bmwiedemann commented on #8702
It seems, faketime indeed has its problems.
hwclock is probably not what you want, because that would change the hardware clock, when you only want to change the Linux system clock with
`date --set @2100000000`
It requires root permissions and might not work in a container.

[2019-01-28 10:37] josevalim commented on #7930
That's because you are listing poison at the root. :) Look at what these comments say:

https://github.com/hectorsq/mx-test/blob/master/mix.exs#L12-L14

Anything at the root will **not** be available to children.

[2019-01-28 10:40] josevalim commented on #7930
@Math3v your app has a different error that looks like this (at least for me on v1.8):

The error is not nicely formatted because wallaby is being started dynamically. If you remove ` runtime: false` from `mix.exs`, you will see this:

[2019-01-28 16:23] hectorsq commented on #7930
@josevalim, Thanks! Seems that my goal in life is to make you waste time.

I fixed the project at https://github.com/hectorsq/mx-test and added another web app (br_web) under the umbrella. Now I have two web apps, mx_web depends on poison, br_web does not depend on poison.

If you run mix phx.server at the root both web apps start.
If you run mix phx.server at mx_web the app starts.
However if I r

[2019-01-28 20:48] kurtome opened #8728 "`mix clean` should not be required after moving a module file"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):

Erlang/OTP 21 [erts-10.0.7] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe] [dtrace]
Elixir 1.7.3 (compiled with Erlang/OTP 21)

* Operating system: OSX 10.14.2

### Current behavior

Include code samples, errors and stacktraces if appropriate.
 - Create file at lib/frontend/bar.ex, with a module name Foo.Fronten

[2019-01-28 20:55] josevalim commented on #8728
Hi @kurtome. I cannot reproduce this:

[code]

It is also consistent with the code, since we [remove files before we compile](https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/compilers/elixir.ex#L104-L107).

Can you please provide a more detailed step by step that reproduces the issue? Thank you!

[2019-01-28 21:22] kurtome commented on #8728
Apologies for the bad repro steps, I thought I had the cause isolated. This definitely did just happen to me though in my decent sized Phoenix app. I created a new controller by copying an existing one, then renamed and moved the controller file and was unable to compile with the above error. I have  `   elixirc_options: [warnings_as_errors: true],` on in my project config. I might be a Phoenix co

[2019-01-28 21:33] josevalim commented on #8728
No problem. If you can reproduce it, please let us know and we will gladly reopen this and take a look at it.

Also, Phoenix code reloading just calls `mix compile`, so it's most likely safe too. :) So there may be something else at play. Thanks!

[2019-01-28 21:33] #8728 closed

[2019-01-29 01:12] amatalai opened #8729 "IEx.pry crashes when IEx isn't running"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): Elixir 1.8.0 (compiled with Erlang/OTP 21)
* Operating system: macOS Mojave (10.14.2)

### Current behavior
Add `IEx.pry()` in any test and then run `mix test`

Output:
[code]

### Expected behavior

Output in elixir 1.7.4
[code]

### Minimum example repo to reproduce issue
https://github.com/amatalai/iex_pry_crash

[2019-01-29 07:12] #8729 closed

[2019-01-29 12:21] Wijnand commented on #7930
This last case is what we are seeing as well. Elixir 1.7 is just fine. Starting an individual app in an umbrella can fail because of dependencies it does not have, but other apps do have.

[2019-01-29 17:14] midas opened #8733 "Incorrectly generated applications in Application.spec/1 for 1.7.x"
### Environment
Erlang/OTP 21 [erts-10.2.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.7.4 (compiled with OTP 19)
Operating system: Fedora 29

### Current behavior

It appears the `applications` in `Application.spec/1` is being incorrectly calculated.

Given an application, `:backend_nm` with mix deps defined as such:
[code]
with a `MIX_ENV` of `prod` `Application.sp

[2019-01-29 17:18] josevalim commented on #8733
Hi @midas, can you please provide a simple application that  reproduces this? It will make our lives much easier to reproduce and fix it. Thanks!

[2019-01-29 17:25] josevalim commented on #8733
To clarify, I could not reproduce this:

[code]

[2019-01-29 17:51] pragdave opened #8734 "iex overrides stdin to /dev/tty"
I _think_ I know why this is happening, and I see why it might be hard to fix given the layers involved, but this isn't well-behaved.

Pipe a command into `iex`, and it reads from the pipe.

[code]

However, at EOF on the pipe, it switches to reading from `/dev/tty`, and `iex(2)>` appears on the console.

At this point, a single ^C will terminate iex, all the way back to the shell prompt.

[code]

[2019-01-29 18:02] josevalim commented on #8734
Good catch @pragdave! Recently fixed on #8560. Thanks!

[2019-01-29 18:02] #8734 closed

[2019-01-29 18:13] eksperimental opened #8735 "Releases: Failing text plus warnings"
It is failing every single time.

[code]

[2019-01-29 18:16] josevalim commented on #8735
Fixed in master already. :) Sorry for the hiccup.

[2019-01-29 18:16] #8735 closed

[2019-01-29 18:17] josevalim commented on #8735
Eh, I forgot to push. That's why it was not fixed in master. Sorry, pushed now.

[2019-01-29 18:41] pragdave commented on #8734
Oops: I didn't see that one. Sorry for the duplicate

[2019-01-29 18:57] #7930 closed

[2019-01-29 18:59] josevalim commented on #7930
Beautiful, fixed in master and v1.8. I plan to release v1.8.1 tomorrow.

[2019-01-29 19:24] eksperimental commented on #8735
Great. Thank you

[2019-01-29 21:50] eksperimental opened #8738 "Two more tests failing"
These have happened more than 5 times as I am working on the new POSIX complaint PR. I would say it is not related to the changes introduced, but I cannot assure that.

[code]

[2019-01-29 22:02] josevalim commented on #8738
@eksperimental the second test may be because of your changes. To be sure, make sure you kill any "beam.smp" instances before running the suite.

[2019-01-29 22:02] #8738 closed

[2019-01-30 03:15] midas commented on #8733
@josevalim Hi Jose.  Thanks for the response.  Here is a project I generated exactly as you did: https://github.com/midas/umb.

I did not see anything in your response about the Elixir version you used.  After following your exact process detailed above I got these incorrect result.  By the way, I am using `asdf` to switch Elixir versions.

[code]

Here it is functioning correctly with Elixir 1.6.

[2019-01-30 05:03] ijunaid8989 opened #8740 "something went wrong?"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):  1.8.0, 21.0
* Operating system: Ubuntu

### Current behavior
[code]
### Expected behavior
[code]

[2019-01-30 05:10] ijunaid8989 commented on #8740
sorry!
https://github.com/elixir-lang/elixir/wiki/FAQ#4-why-is-my-list-of-integers-printed-as-a-string

[2019-01-30 05:10] #8740 closed

[2019-01-30 08:30] josevalim commented on #8733
Ah, good catch, that's why I could not reproduce it on v1.7.x the first time around. However, as you mentioned, the issue is fixed on v1.8.0, so we recommend developers to migrate to the latest. v1.7 is on security bug fixes only.

Thanks for the report!

[2019-01-30 08:30] #8733 closed

[2019-01-30 11:33] sergibeltran commented on #3406
It doesn't work.

`** (SyntaxError) iex:29: syntax error before: '<>'`

[2019-01-30 14:56] fertapric opened #8743 "Using IEx autocomplete in a remote shell (bin/RELEASE_NAME remote) kills the shell process"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: Docker's official `erlang:21.2.4-alpine`

### Current behavior

Using the IEx autocomplete inside the shell opened by the "remote" command of a release (`mix release`) causes the shell process to terminate.

![screen shot 2019-01-30 at 15 40 11](https://user-images.githubusercontent.com/651203/51988642-7

[2019-01-30 15:31] eksperimental commented on #8740
[code]

[2019-01-30 15:37] mguimas opened #8744 "The `recompile` command in IEx sometimes does not work, but compiling outside IEx works"
### Environment

[code]
I build inside a Docker container, and the Docker version is

[code]

### Current behavior

Sometimes when calling `recompile` in IEx I get this incomprehensible error, or a similar one:

[code]

### Expected behavior

The expected behavior is for `recompile` to work everytime inside IEx, and to not give this error.

The **workaround** I do, which seems to always work, is t

[2019-01-30 18:38] josevalim commented on #8744
Thanks for the report. We will leave it open for a short period of time, to see if others have stumbled on this same issue, but without a way to reproduce the issue, then there isn't much we can do.

[2019-01-30 21:40] #8743 closed

[2019-01-30 23:15] hectorsq commented on #7930
Great! No problem now in Elixir 1.8.1

[2019-01-30 23:52] vans163 opened #8746 "IO.write and IO.binwrite inconsistent if :stdio is passed"
### Environment

1.8.0
OTP22 DEVELOPMENT

When you use IO.write with :stdio and pipe the output to a file, everything is correct.
When you use IO.binwrite with :stdio and pipe the output to a file, the size increased by 50% as if UTF8 was turned on.

When you use IO.write with a file descriptor, you crash because its non-utf8 (we are writing raw binary).
When you use IO.binwrite with a file descri

[2019-01-31 00:04] josevalim commented on #8746
Stdio is in Unicode mode. As the docs for binwrite say:

return the wrong result.

I started a discussion to permanently fix this but it never went forward.
So I would file it under “known bug” that we can’t fix by ourselves.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-01-31 00:11] vans163 commented on #8744
What host filesystem, raid?, fstab (how is it mounted), docker uses FUSE and/or overlay2 depending on system support.  Are you passing the project in as a volume? To me it looks like some core file is missing during the recompile run due to fs issues, mix caches timestamps of files to determine when to recompile, iv seen mix act up all the time due to this, but its gotten better.

[2019-01-31 00:16] vans163 opened #8747 "stdout piping causes softlock if piped to process that closes stdin"
1.8.0
OTP22

If you pipe stdio to another process and close stdin in that process (even graceful term), (maybe requires a next write to stdio) locks up the emulator with this. The correct behaviour should be to throw the exception normally allows the process that causes this to crash.

[code]

This is piping an .exs script output into another program.

[code]

Removing the logger backend solves th

[2019-01-31 09:55] josevalim commented on #8747
For completeness, i could reproduce it with this:

[code]

If I start the iex node with a name, I can connect remotely to it and see that the whole system is fine, except for the console backend which has been properly removed. So the emulator is not stuck in any way, it just can't communicate with stdio (for example, writing to stderr is fine):

[code]

I will continue looking into this. Meanwhil

[2019-01-31 10:41] josevalim commented on #8744
@mguimas if you were receiving those annoying messages, it usually means your computer was hibernating or suspend. So one thing you could do to help us pinpoint the issue is to see if the errors reported in this thread happen always or only after hibernating.

[2019-01-31 11:07] josevalim commented on #8744
Ok, I could reproduce this. It is related to async processes in the compiler. Any chance you are using gettext with a configuration to compile backends in parallel?

[2019-01-31 11:08] mguimas commented on #8744
They happen much time after the computer returned from hibernated mode.

My typical workflow is this: the computer returns from hibernation at the start of the day; then I code outside the container, and go into the container and type `recompile`; everything compiles, or I get some compilation error, go fix it outside in the sources, tye `recompile` inside the container, and get compilation ok; th

[2019-01-31 11:15] mguimas commented on #8744
I have an umbrella project with two subprojects.

One of the projects has these lines in its configuration:

[code]

The other project does not have any of these as it essentially only depends on Ecto.

I am working in the root directory of this second project, where I usually run via:

`$ iex -S mix`

It is in this project I am calling `recompile`.

I never work on the other project which depends

[2019-01-31 12:41] #8744 closed

[2019-01-31 12:56] mguimas commented on #8744
Wow, that was a big fix 👍
Thanks.

[2019-01-31 13:41] josevalim commented on #8747
So this behaviour also exists in Erlang:

    $ erl | ./foo

Given the fact the system is actually operating normally, the only limitation is that it can't talk to stdio, I think this is reasonable behaviour. After all, your system may be communicating with many streams, ports, files, sockets and one of them crashing may not be enough reason to bring the whole system down. However, if you do want

[2019-01-31 13:41] #8747 closed

[2019-01-31 14:15] ericmj commented on #3857
@Chawki726 It is not possible for us to investigate the error without more information. Ideally provide a project we can reproduce in and information such as your elixir and OTP version.

[2019-01-31 17:03] Chawki726 commented on #3857
Its a simple project,creating Identicon  here is the link  https://github.com/Chawki726/identicon-

[code]
Thank you

[2019-01-31 20:25] asummers opened #8749 "Dialyzer Error Using Derive Inspect in 1.8.0, 1.8.1"
### Environment

* Elixir & Erlang/OTP versions (elixir --version):
[code]
* Operating system: OSX, also failing on Linux

### Current behavior

Given the following code,

[code]

Dialyzer complains about the generated `inspect` call. Reverting to a pre-`1.8.0` custom `defimpl Inpsect` here makes the error disappear.

[code]

### Expected behavior

Dialyzer does not complain.

I have not checked t

[2019-01-31 20:55] josevalim commented on #8749
I don’t think this is fixed, yeah. Can you please provide a minimal app
that reproduces the issue?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-01-31 21:07] asummers commented on #8749
https://github.com/asummers/failing_dialyzer

`mix new` + that aforementioned module + `dialyxir` import in `mix.exs` + deleting test

Running `mix dialyzer` results in the error.

[2019-01-31 23:18] ericmj commented on #3857
rebar3 fails to fetch the plugins for the egd dependency. Do you have internet access when you compile your project?

[2019-02-01 00:30] eksperimental commented on #8735
This is happening randomly, same kind of error

https://travis-ci.org/elixir-lang/elixir/jobs/487069352#L500

[code]

[2019-02-01 00:55] Chawki726 commented on #3857
yeah i have

[2019-02-01 13:41] kenseii opened #8757 "Doctest inclusion in test coverage"
Is there a way of having doctests included in test coverage analysis by default?

Currently it seems like when counting tests coverage it doesnt take in account the doctests.

Maybe it is a good/bad idea, i'm new to elixir and i love the way it handles tests as well as doc generation so far.

### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC,

[2019-02-01 13:53] vans163 commented on #8747
The behavior should be returning :error or :stdio_closed from IO.write instead of blocking indefinitely, perhaps adding a timeout, and indeed the fix probably belongs on Erlang side.

[2019-02-01 13:54] kenseii commented on #8757
My bad, it seems to work

[2019-02-01 13:54] #8757 closed

[2019-02-01 13:55] josevalim commented on #8747
@vans163 to clarify, it does return :error or :stdio_closed, which causes the IEx process to terminate, but the rest of the system continues runniing. If you try  to invoke IO.puts or similar, I also get an error.

[2019-02-01 13:57] vans163 commented on #8747
Let me recheck, I was getting a deadlock on IO.write, let me try some variants now.

[2019-02-01 17:13] hauleth commented on #7771
Is there any workaround for that?

[2019-02-01 19:49] fertapric commented on #8626
I’m currently working on this one 🙂

[2019-02-04 17:37] vans163 opened #8767 "FEATURE: Keyed maps syntax shortcuts"
New feature.

keyed maps support in syntax / guards

OLD:
[code]
NEW:
[code]
Basically writing a map like %{user_id} implies to the compiler to expand it to %{user_id: user_id}

user_id = 5
new_map = %{user_id}

insert support too

[2019-02-04 17:39] schnittchen opened #8768 "Umbrella: app compile failure sometimes lets other app compile hang"
Sometimes a failure in a dependant umbrella app makes the compilation of the depending app hang. This is a bit hard to reproduce, so I'm linking a [repo](https://github.com/schnittchen/reproduce-elixir-compiler-bug) with a Dockerfile (instructions below).

### Environment

[code]

FROM `elixir:1.8.1-slim`

The version from the official Erlang apt repo does NOT show the problem, it is

[code]

* Op

[2019-02-04 17:43] Gazler commented on #8767
Has been discussed many times before.

https://groups.google.com/forum/#!topic/elixir-lang-core/NoUo2gqQR3I

[2019-02-04 19:36] josevalim commented on #8767
Also please don't use the issues tracker for feature requests, as mentioned in the issues template. Thank you!

[2019-02-04 19:36] #8767 closed

[2019-02-08 11:04] mguimas opened #8780 "Running `i :Kernel` in IEx seems to crash"
### Environment

[code]

### Current behavior

[code]

### Expected behavior

The current behavior lets the user think a crash happened somewhere.

I suppose this is not desired, and the normal behavior is expected as for other non-special modules.

Perhaps it is needed to treat some modules as special for the `i` command to behave normally.

[2019-02-08 11:31] whatyouhide commented on #8780
This happens when you do `Code.ensure_loaded?(:Kernel)`.

[2019-02-08 11:34] mguimas commented on #8780
@whatyouhide That situation you refer does not happen to me:

[code]

[2019-02-08 11:38] fertapric commented on #8780
`:Kernel` and `Kernel` are not equivalent.

If you want to directly use atoms instead of module aliases, you have to include the Elixir prefix: `:'Elixir.Kernel'`.

More info at https://hexdocs.pm/elixir/Kernel.html#defmodule/2-module-names

[2019-02-08 11:48] fertapric commented on #8780
@mguimas regarding the error, is you filesystem case insensitive? I think that could mess up with how modules are being loaded. Same thing happens if you misspell `DateTime`:

[code]

[2019-02-08 11:50] hauleth commented on #8780
@whatyouhide @fertapric this issue is related to the case-sensitiveness of the filesystem. It tries to load `Kernel.beam` and on macOS/Windows it loads `kernel.beam` instead, that mean that the file name and defined module mismatch. Instead I would catch that error (only in `IEx.Helpers.i/0-1`) and provide "more user friendly" message, if possible of course.

[2019-02-08 12:05] mguimas commented on #8780
@fertapric According to [this](https://apple.stackexchange.com/questions/71357/how-to-check-if-my-hd-is-case-sensitive-or-not) my FS is case-insensitive:

[code]

[2019-02-08 12:09] hauleth commented on #8780
To provide such behaviour the check for module would need to be done in 2 steps:

[code]

[2019-02-08 12:15] fertapric commented on #8780
@mguimas Btw, I think @whatyouhide meant `Code.ensure_loaded(:Kernel)` (without the question mark) 🙂

[2019-02-08 12:17] hauleth commented on #8780
@fertapric it returns `{:error, :badfile}` and also logs error messages in the console.

[2019-02-08 12:19] fertapric commented on #8780
Ups! My bad. Both print error messages in the console.

[2019-02-08 13:58] pedrosnk commented on #8780
this seems to be happening only with OTP related file names, using the same case sensitive logic. trying `:String`, `:Pg2`, `:Gen_tcp` it's gonna behave the same.

[2019-02-08 17:01] josevalim commented on #8780
Closing in favor of #8782.

[2019-02-08 17:01] #8780 closed

[2019-02-10 21:45] Virviil opened #8788 "Mix deps.update problems with complex self-dependency"
## Environment:
[code]

## Bug description:

This line should appear for self-dependency.
https://github.com/elixir-lang/elixir/blob/2e576f67a00164d88e2e242e523dc3b5c1a8a5db/lib/mix/lib/mix/dep/converger.ex#L21

This is working, for example, when library with name `foo` requires library with name `foo` in it's dependency.

**BUT**: While this process has one additional step, i.e. `foo` requires `b

[2019-02-11 10:49] josevalim commented on #8788
@wojtekmach @ericmj I believe this is a Hex bug. Thoughts?

[2019-02-11 10:52] ericmj commented on #8788
Yeah, I think so too.

[2019-02-11 17:12] axelson opened #8790 "Elixir 1.8 EEx "regression""
In Elixir 1.8 the internals of the EEx engine have been changed in a way that was meant to be backwards compatible (since downstream projects shouldn't be relying on the internals). I am highlighting this issue in the hope that there is some way to improve the error message in Elixir itself. I've written a longer write-up in the phoenix_html project: https://github.com/phoenixframework/phoenix_htm

[2019-02-11 18:49] josevalim commented on #8790
Hi @axelson! Thank you so much for looking into this. I think we can do a quick check on handle_begin/handle_end/handle_body that the state is actually the one defined on init and raise a meaningful error message in case it isn't.

[2019-02-11 19:28] axelson commented on #8790
@josevalim thanks! That sounds like a good approach.

[2019-02-13 14:06] evax opened #8792 "EEx inconsistent trim behaviour with carriage returns"
### Environment

* Elixir from master / OTP 21
* Operating system: Linux

### Current behavior

This test would fail on the current and previous Elixir versions:

[code]
[code]

### Expected behavior

I would expect the trailing `\n` not to be trimmed (or at least to be trimmed always).

The EEx docs reads `:trim - trims whitespace left/right of quotation tags`, and the line break handling is only

[2019-02-13 14:33] josevalim commented on #8792
You should open up an issue in Phoenix. It should only enable trim for HTML templates.

Other than that, there is a bug here indeed because we should be more consistent on the trimming and remove the whitespace on all cases in your example above.

[2019-02-13 23:56] TMSCH commented on #7322
Hi everyone!

Thanks for all the work on the formatter, it's a really great tool to have :)

We've been trying it out on our codebase and some concerns popped up, a couple of them are expressed here.

What is the rationale behind having 2 different formatted outputs for the same piece of code based on whether parenthesis are present or not? I'd argue it doesn't solve the goal of having 1 uniform c

[2019-02-14 00:01] ericmj commented on #7322
This is all subjective, so take this only as my opinion.

The formatter does not make ugly code look good. To me both of these alternatives look bad:

[code]

The way to make it look good is to rewrite your code to avoid the line break:

[code]

Which I think look better than moving the `do` to its own line:

[code]

[2019-02-14 00:18] TMSCH commented on #7322
I see your point, it is definitely subjective (though blocks delimitation should be pretty objective) but I also mentioned that I don't think it's realistic to ask to have every `with` condition fit in one line (e.g. basically ~70 characters once you remove the indents).

The example I gave use a long function name, but another one could use map pattern matching, which is more difficult/impossible

[2019-02-14 00:22] ericmj commented on #7322
The objective way of looking at this is to keep the formatter consistent. The way block delimiters are formatted today is more consistent than adding a special case only for multi-line `with`.

The formatter does not know about Elixir semantics, it only knows the AST. Since it does not know about `with` or any other macros, functions, or operators you would have to specify a rule for `do` blocks t

[2019-02-14 01:46] TMSCH commented on #7322
I agree on the formatter being consistent :)

I'd also rather use the same rule for multi-line everything!

Functions:

[code]

Case statements

[code]

[2019-02-14 06:47] josevalim commented on #7322
The issue is that "reads better" boils down completely to personal opinion. I personally really dislike the `do` on its own line with parensless calls. The formatter already takes a lot of vertical space and this would cause it to take even more. Those who prefer the style above can add explicit parens and get a very similar behaviour. At the end of the day the formatter will not please everyone a

[2019-02-14 15:54] TheFirstAvenger opened #8796 "With macro using parens and args on different lines misses code coverage"
When using the `with` macro in this format:
[code]
the first line doesn't get tagged as covered. This appears to be unique to with, as other macros do get tagged as covered:
![screen shot 2019-02-14 at 10 34 12 am](https://user-images.githubusercontent.com/8557871/52798581-3534af80-3046-11e9-9c2d-cd2c964d6656.png)

Minimal reproduction repo:
https://github.com/TheFirstAvenger/with_test

The purpos

[2019-02-14 17:14] josevalim commented on #8796
Can it be that the lack of coverage is because none of the failure paths
are checked?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-02-14 17:25] josevalim commented on #8796
Confirmed. If I change the second clause to `:ok <- :error`, then all lines are tested. I agree this is not super obvious but I don't think there is another way we can portray the "catch all" in those cases and it is nice that cover is actually catching that. :+1:

[2019-02-14 17:25] #8796 closed

[2019-02-14 19:48] TheFirstAvenger commented on #8796
@josevalim So if I understand it correctly, the issue is that the implicit failure path (`else:` block) of `with` is not being tested, but when using `with` without parens, the fact is masked because the first arg of the with statement marks that line "covered" by tests? This means that an explicit `else:` must be defined and hit for code coverage to be complete on a with statement that uses paren

[2019-02-14 19:52] josevalim commented on #8796
Correct!

No because that is not even valid Elixir (or it won't compile to what you think it does). :D

[2019-02-15 17:15] mguimas opened #8800 "Inconsistency between %Mod{} and Mod.__struct__() when delegating"
### Environment

[code]

### Current behavior

Given the file `xx.ex`

[code]

the following holds for `XX`

[code]

but given the file `yy.ex`

[code]

the follwing happens for `YY`

[code]

in which different idioms that are expected to be equivalent return inconsistent results.

### Expected behavior

The expected behavior is for `%Mod{}` to be equivalent to `Mod.__struct__()`, consequently the

[2019-02-17 16:53] AndrewDryga opened #8803 "Error while fetching deps in umbrella app"
### Environment

* Elixir & Erlang/OTP versions (elixir --version): 1.8.1 / OTP 21.2.5
* Operating system: MacOSS

### Current behavior

Following code raises MatchError exception in our project: `Mix.Project.deps_paths()`.

Stack trace:
[code]

[2019-02-17 16:56] AndrewDryga commented on #8803
I've reset the cache with `mix clean && rm -rf _build` and issue persists.

[2019-02-17 16:56] josevalim commented on #8803
Can you please provide us a sample app that reproduces the error? Thank you!
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-02-18 11:10] hylkealons commented on #6248
hey @jeremyowensboggs, how's this PR coming along? Can I help you out with anything?

[2019-02-18 12:45] mguimas opened #8806 "Help for function crashes when `@doc true` for the function"
### Environment

[code]

### Current behavior

Given the file `p.ex` with the content

[code]

the following happens in IEx:

[code]

It seems that the value of `@doc` is not being checked for a string before `String.split/3` is called.

Note that this issue does not happen when the module is defined directly inside IEx, as in

[code]

### Expected behavior

The expected behavior should be

[code]

[2019-02-18 14:15] josevalim commented on #8806
`@doc true` is not a valid documentation value, so we need to make sure the code above does not even compile.

[2019-02-18 15:03] mguimas commented on #8806
The intention to use `@doc true` was to annotate a `__function__` thus turning on autocompletion for these functions inside IEx, which by default (and correctly) is turned off, like this:

[code]

As such, I suggest for `@doc true` to be valid, and give the opportunity for `__function__` to be visible in IEx, and in generated docs, in case the developer wants to.