[2016-08-21 20:16] fishcakez commented on #5148
Fixed in https://github.com/elixir-lang/elixir/commit/9e4d4724cd78b13f158a9769efe79a273307c509

[2016-08-21 20:16] #5148 closed

[2016-08-22 10:49] ScrimpyCat opened #5149 "Scoping issue in macros?"
I'm not certain if this is a bug or expected behaviour, but have tested on both elixir v1.3.2 and v1.2.5 and get the same results.

I came across some scoping issues with macro functions when used within the same module scope.

[code]

When using the macro in another module these problems don't exist because the `ScopeProblem` module has already been compiled. But using the macro inside it's own m

[2016-08-22 15:32] jsncmgs1 commented on #5149
I don't know if that -should- work or not but I think the way you want to do this is:

[code]

It's interesting that the other ones work, and I could be wrong here, but I guess it makes sense because the AST representation of `1` is `1`, so we can do stuff before we unquote?

Could also be wrong but I don't think we want to do this type of thing though in practice, since everything outside of the

[2016-08-22 15:45] ScrimpyCat commented on #5149
I assume it would be allowed as modifying the AST is fine (I've done it and have seen numerous libraries do it), and modules can use their own macros (just need to be defined before their use). However I'm not sure if it's intended that modules that use their own macros should be able to also make unquoted calls to functions defined in the same module.

But it wasn't even my intention to use it th

[2016-08-22 16:00] jsncmgs1 commented on #5149
Totally, but if I understand correctly for a module to use its own macros, that module is the caller, which means to have the correct scoping, the functions would need to be called in the `quote` block since that's the caller's context.

[2016-08-22 16:26] ScrimpyCat commented on #5149
Makes sense, so the problem here would actually be that any of them work. Although I was going through the tests and to make things more confusing: https://github.com/elixir-lang/elixir/blob/e1a1065ee9b389f4fdf0b9b2fad4700be61d43aa/lib/elixir/test/elixir/module/locals_tracker_test.exs#L165

Going by that test I would assume `NoPrivate` would be compiled as:

[code]

Which would mean it is intended

[2016-08-22 16:35] josevalim commented on #5149
It is a bug but not a scope bug. Apparently Elixir is not being able to
find the private functions in the same module for a reason. I will
investigate.

On Monday, August 22, 2016, Stefan <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-08-22 21:15] nathanl opened #5150 "`File.write` doesn't take advantage of`writev`"
### Environment

* Elixir version (elixir -v): 1.3.1
* Operating system: OS X 10.11.6 (El Capitan

## Description

I'm looking into the system calls that result from doing some file writes. I'm doing this because I recently learned about [the cool ways that Elixir/Erlang code benefits from writev](http://www.evanmiller.org/elixir-ram-and-the-template-of-doom.html) and am talking about it at Elixir

[2016-08-22 22:35] josevalim commented on #5150
The difference is that write_file gives a guarantee of atomicity: if the
file exists, it will be overwritten. You can only keep this guarantee with
a single operation.

On Monday, August 22, 2016, Nathan Long <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-08-23 14:34] nathanl commented on #5150
Sorry, I don't understand yet. 😐 Doing this will also either create the file or, if it exists, overwrite it:

    {:ok, file} = :file.open("/tmp/tmp.txt", [:write, :raw])
    :file.write(file, ["one", " write"])

By "atomicity", are you referring to the possibility that we create the file but fail to write the desired contents? That is possible if `:file.write` fails, since `:file.open` has alread

[2016-08-23 15:05] nathanl commented on #5150
Thanks for clarifying.

**If** I understand correctly, that scenario is not possible. `:file.write(["one", "two"])` does not write `"one"` as one operation and then write `"two"` as a separate operation (though it does look that way in my dtrace output); sends the list `["one", "two"]` to `writev`, which does them both in one operation. [This man page](http://linux.die.net/man/2/writev) claims tha

[2016-08-23 15:28] josevalim commented on #5150
Oops, you are correct! I described the *wrong* race condition. :D I meant to say the following:

1. P1 opens up and truncates the file
2. P2 opens up and truncates the file
3. P1 writes "one write"
4. P2 writes "one write"

However I just checked and file:write_file has exactly the same race condition. Therefore, I don't see any reason for File.write to not use writev. We could likely rewrite it t

[2016-08-23 15:33] nathanl commented on #5150
❤️ Heck yes! I will give it a shot.

[2016-08-23 17:07] cpjolicoeur opened #5152 "More useful error message for Integer macros when failing to require module"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: OS X 10.11.4

### Current behavior

When failing to `require Integer` in a module, using the `Integer.is_even/1` or `Integer.is_odd/1` macros produce a non-useful error message.

[code]

### Expected behavior

Not sure exactly what message, but I'd expect a more generally useful error message in this case.  The compiler is aw

[2016-08-23 17:53] josevalim commented on #5152
Thank you for the report!

Technically speaking, there is no function `Integer.is_even/1` but a macro named `Integer.is_even/1`. We can likely make the error message better but I am also afraid of making it more verbose for the most common cases (in contrast to the one above is rather uncommon).

[2016-08-23 17:55] cpjolicoeur commented on #5152
Agreed.  That's why I said I'm not sure what message would even provide more value as it is a pretty specific situation.  Just wanted to file it in case there were other ideas.  Close if it's a non-starter, of course.

Thanks.

[2016-08-23 23:10] lexmag commented on #5152
What if we check if the mfarity in `%UndefinedFunctionError{}` matches the one in the exports, I think we can consider this as macro call without `require`. 🤔

[2016-08-24 09:17] whatyouhide commented on #5152
Agreed with @lexmag, that could work. I could try to put something together if we think it's a good approach. My 2c, this is a terrible error message because we're saying "`x` is undefined, maybe you meant `x`" which is a kind of error messages very frustrating to try and fix 😄

[2016-08-24 10:23] Qqwy opened #5153 "(newly defined) lowercase sigils do not apply escape characters"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: Linux Mint

### Current behavior

Define a sigil such as the following one:

[code]

Note that this is a lowercase sigil, so we would expect escape characters `\n, \t, etc` to be inserted in the string. This is however not what happens for custom-defined sigils:

[code]
### Expected behavior

Sigils with lowercase identifier

[2016-08-24 14:38] OvermindDL1 opened #5155 "`mix`: Error updating packages"
### Precheck

Doing a full update of packages of one of my apps, thus running `mix deps.update --all`.

### Environment

* Elixir version:  Elixir 1.3.1  Erlang/OTP 19 [erts-8.0] [64-bit] [smp:8:8] [async-threads:10]
* Operating system:  Windows 10

### Current behavior

Running `mix deps.update --all` produces:
[code]

The server is not running, no open windows to that location or anywhere near.

[2016-08-24 14:41] nathanl commented on #5150
@josevalim It turned out that setting `:raw` mode was required to make this work. Are there any downsides to that in this case? See PR.

[2016-08-24 14:58] ericmj commented on #5155
This is a hex issue so please reopen at https://github.com/hexpm/hex. Unfortunately I don't know what the "file already exists" error means when removing a directory.

[2016-08-24 15:29] josevalim commented on #5155
On Windows it most likely means there is something using the current
directory. Or a terminal session, a dangling file cursor, etc. maybe use
file.rm_rf and print a warning if it cannot be removed due to this
particular reason.

On Wednesday, August 24, 2016, Eric Meadows-Jönsson <
notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&

[2016-08-24 15:35] OvermindDL1 commented on #5155
Ah thanks, I was searching for a hex github repo but somehow never found that, so I ended up here.

directory. Or a terminal session, a dangling file cursor, etc. maybe use
file.rm_rf and print a warning if it cannot be removed due to this
particular reason.

I thought the same, but I could delete it manually with no problem...  Would be nicer to print a reason, perhaps say it is unable to automat

[2016-08-24 15:53] ericmj commented on #5155
@OvermindDL1 I don't know what the underlying issue but I would suggest looking into if any handles are open to the directories or files inside the directory. This tool can help with that https://technet.microsoft.com/en-us/sysinternals/processexplorer.aspx. It could be that `rm` in the terminal does some harder force delete.

I would also appreciate any help with improving the error messages.

[2016-08-24 15:56] josevalim commented on #5155
Maybe it was the Elixir process itself holding a handle to the file or it was used to hold a handle to the file but the OS did not fully claim it back at the time. We had all kinds of hard to explain issues when we implemented archives on Windows.

[2016-08-24 15:56] josevalim commented on #5155
@OvermindDL1 closing this for now anyway. Please open up an issue on hex? :heart:

[2016-08-24 15:56] #5155 closed

[2016-08-24 16:09] josevalim commented on #5150
No, I think we are good on all cases!

Closing this in favor of the PR. :D

[2016-08-24 16:09] #5150 closed

[2016-08-24 16:11] josevalim commented on #5153
@Qqwy you have to implement it yourself since different sigils may have different escape rules (like strings and regexes). See how the sigils r and s are implemented in Elixir as an example.

[2016-08-24 16:11] #5153 closed

[2016-08-24 16:20] #5110 closed

[2016-08-24 16:22] josevalim commented on #5152
Sounds good!

[2016-08-24 18:43] OvermindDL1 commented on #5155
That was my thought.  I had indeed looked via Process Explorer many times to find what was holding `c:/Users/<myuser>/Projects/my_server/_build/dev/lib/my_server/priv` but it never found any results.  I do not care too much about the hex one (though I will make a bug report there, thanks for the link again!) but the phoenix reloader one really really bugs, should I post that in the phoenix repo or

[2016-08-24 21:49] fishcakez opened #5157 "rescue e in ErlangError will recue all exceptions"
### Environment
- Elixir version (elixir -v): 1.2, 1.3
### Current behavior

[code]

Include code samples, errors and stacktraces if appropriate.
### Expected behavior

[code]

[2016-08-24 22:14] pufe opened #5159 "Elixir makes bash exit on non-interactive mode"
### Environment

* Elixir version (elixir -v):

Erlang/OTP 19 [erts-8.0.2] [source-9503fff] [64-bit] [smp:2:2] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.3.2

* Operating system:

OS X 10.10.5
and also on
Ubuntu 14.04

### Current behavior
[code]
current output
[code]
### Expected behavior

expected output
[code]

This issue makes it harder to automate deploying my production code, as

[2016-08-24 23:48] josevalim commented on #5159
@pufe do you know what in particular would cause it to exit?

[2016-08-24 23:51] pufe commented on #5159
@josevalim I have no idea. I tried replicating without calling elixir on the command line and was unable to do it.

[2016-08-25 00:02] josevalim commented on #5159
I figured it out. `bash` is passing the whole input to stdin. Because Elixir eagerly reads from stdin, it eats all input and then there is nothing else to be executed. A workaround is to pass the erlang flag `-noinput`:

    elixir --erl "-noinput" -e "IO.puts 'hello'"

We could expose it from Elixir if desired to make things more convenient.

Another approach is to use `xargs` to read the script

[2016-08-25 00:08] josevalim commented on #5157
That's not a bug in my opinion. If it is not an Elixir exception, it is an Erlang exception. Maybe it is a documentation issue?

[2016-08-25 00:11] josevalim commented on #5155
The Phoenix one is likely a bug in Mix, maybe we could try something different  but I have no clue about *what*.

[2016-08-25 00:16] pufe commented on #5159
This solves my issue. Thank you very much.

[2016-08-25 00:16] #5159 closed

[2016-08-25 00:29] fishcakez commented on #5157
The expectation is that `e` will only match if the raised struct is `%ErlangError`. I am unsure how to justify any other behaviour.

[2016-08-25 00:43] fishcakez commented on #5157
Sorry I meant produced struct, not raised struct.

[2016-08-25 02:48] josevalim commented on #5157
@fishcakez oh, I see. I think we should continue rescuing it but wrap it in `ErlangError`. What do you think?

[2016-08-25 08:52] fishcakez commented on #5157
We used to have `%ErlangError{original: :undef}` which is awkward because we get a less helpful error. I don't really understand why `ErlangError` should have this special behaviour.

[2016-08-25 16:02] josevalim commented on #5157
@fishcakez the reason why I think we should have this special behaviour is because, if ErlangError handles only exceptions that are not handled by the kinds of UndefinedFunctionError, adding future exception handling would make `ErlangError` no longer rescue certain cases. Therefore `ErlangError` must always rescue all tuples, we need to choose between always wrapping them in `ErlangError` or retu

[2016-08-25 17:37] ZuraGuerra opened #5161 "Add unix_now to DateTime"
To get the current time in Unix right now we need to write

[code]
Do you think something like `DateTime.unix_now/0` which outputs the same as the code above would be worth to add?

[2016-08-25 18:26] michalmuskala commented on #5161
This is already possible with `System.system_time(:seconds)` and `System.os_time(:seconds)` depending on what time guarantees you need.

[2016-08-25 18:29] ZuraGuerra commented on #5161
Good to know :) Thanks!

[2016-08-25 18:29] #5161 closed

[2016-08-25 22:25] fishcakez commented on #5157
@josevalim good point. I think you are right, we must keep rescuing non-Elixir style exceptions (to maintain bakcwards compatibility and ease of use) and the current behaviour gives the best error. Therefore just better documentation needed.

[2016-08-26 12:03] majioa opened #5163 "Kernel.DialyzerTest: failure on setup_all callback, tests invalidated"
### Environment

* Elixir version (elixir -v):

and

* Operating system:

### Current behavior

Include code samples, errors and stacktraces if appropriate.

** (throw) {:dialyzer_error, [67, 111, 117, 108, 100, 32, 110, 111, 116, 32, 103, 101, 116, 32, 97, 98, 115, 116, 114, 97, 99, 116, 32, 99, 111, 100, 101, 32, 102, 111, 114, 32, 102, 105, 108, 101, 58, 32, '/usr/lib/erlang/lib/erts-7.3.1/ebin

[2016-08-26 12:26] fishcakez commented on #5163
That error is not ideal. It's saying that dialyzer could not get the abstract code for `:erl_prim_loader` and should recompile with `+debug_info`. This is a module from the `:erts` application so part of OTP and you likely won't be recompiling this. This module may even have special handling/bootstrapping in OTP. It would usually include debug info in its beam file. How are you building OTP?

[2016-08-26 13:50] alco opened #5164 "Obscure warning in with's else clause"
From what I can tell, this warning is emitted when there is no `<-` match, only `=`. For example:

[code]

[code]

If the matched value `foo` is not used in the body of `with`, no such warning is emitted.

Erlang 19.0.2, Elixir v1.3.2.

[2016-08-26 14:08] michalmuskala commented on #5164
The warning that the clause can never match is correct - `else` will never be called. That said the reason "different types/sizes" is quite obscure...

[2016-08-26 16:24] Qqwy commented on #5153
Thank you for your reply! I managed to make this work by using `Macro.escape_string`, which is also used in Elixir's built-in sigils.

I was confused by the getting-started guide on sigils, which was what prompted this issue. I've made a fix to the respective page. See [PR #838 on the elixir-lang.github.com repo](https://github.com/elixir-lang/elixir-lang.github.com/pull/838).

[2016-08-26 21:51] whatyouhide commented on #5152
Closed by #5156.

[2016-08-26 21:51] #5152 closed

[2016-08-27 19:55] majioa commented on #5163
@fishcakez I've just installed it from package, but it really have no debuginfo embedded, it is placed into a standalone package.

[2016-08-27 20:57] #5129 closed

[2016-08-28 15:06] fishcakez commented on #5163
`+debug_info` is an `erlc` (erlang compiler CLI) parameter and stores  extra information in each module's .beam file. Erlang/OTP is built with debug info by default so a package maintainer would have to disable this or remove it as aprt of the build process, which would be unusual.

We can investigate if this is the case by running the following in `iex`:

[code]

[2016-08-29 09:17] Ljzn opened #5171 "`List.delete/2` sometimes does not work"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: OSX

### Current behavior
[code]
### Expected behavior

`[[3,4], [5,6]]`

[2016-08-29 09:25] michalmuskala commented on #5171
According to documentation `List.delete/2` works on values and removes the element that is equal to the second argument. `List.delete_at/2` works with indexes.

[2016-08-29 09:30] Ljzn commented on #5171
@michalmuskala  oh, sorry. It's my fault.

[2016-08-29 09:30] #5171 closed

[2016-08-31 06:53] wrachwal opened #5176 "`make test_mix` fails with older Git (sparse checkout issue?)"
### Environment

* Elixir version (elixir -v): 1.4.0-dev (5c4e52c)
* Operating system: openSUSE 11.1
* Git --version: 1.7.3.4 (from "evergreen" repo)

### Current behaviour

All failing tests have one in common: `sparse checkout`. I don't use this feature of Git. Default Git version for this OS coming from official repo was even older - 1.5.*.. The Git used (1.7.3.4) was refreshed from "evergreen"

[2016-08-31 20:11] ericmj commented on #5176
Is it `--git-dir` that is the issue? Does mix deps.get with git dependencies work on v1.7.3.4 or is just tests failing? Also keep in mind that git v1.7.3.4 is 6 years old and v1.5.0 is almost 10 years old.

/cc @mobileoverlord

[2016-08-31 20:51] wrachwal commented on #5176
mix deps.get works just fine on v1.7.3.4; just these 3 tests fail.
I know v1.7.3.4 is quite old, but it's not uncommon that LAB (not desktop) users have to stick with old linuxes, and simply compiling git from sources is not an option when there is an easy way to upgrade from a "better" repo.
Okay, if this is a problem or not worth effort, I can tell them to:
* ```make test_erlang test_stdlib test

[2016-08-31 22:22] josevalim commented on #5176
@wrachwal if you can't get a precompiled elixir and users are compiling from source, `make compile` should be enough. You may also want to checkout one specific tag, instead of using master (although I appreciate the report on master!).

[2016-09-01 10:49] paulswartz opened #5181 "date comparisons across month boundaries are incorrect"
(I did a quick search for this, but didn't see anything open or closed)

### Environment

* Elixir version (elixir -v):
[code]

* Operating system:
`Darwin petra 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64`

### Current behavior

August 31st, 8pm is compared as greater than September 1st, 1am:

[code]

The same problem also exists

[2016-09-01 11:08] fishcakez commented on #5181
`NaiveDateTime` and `DateTime` are structs, which have undefined ordering of keys and that determines order. Therefore greater/less than comparisons will have undefined ordering. After a quick looking at Timex 2.0 I am unsure how it achieved ordering you suggest.

[2016-09-01 11:08] #5181 closed

[2016-09-03 23:55] #5164 closed

[2016-09-05 03:03] devonestes opened #5184 "Add Core Infrastructure Iniative Best Practices badge"
The Linux Foundation has their Core Infrastructure Initiative now to ensure that key open source projects are well taken care of and are following best practices that will help us avoid the next HeartBleed. One of the things that they've done is to create a badge that projects can put on their repos to show that they're following the best practices laid out by the foundation. This is currently mis

[2016-09-05 09:09] josevalim commented on #5184
Thank you @devonestes. If someone wants to double check we follow their principles, a pull request is welcome in case anything is missing, but we would skip the badge for now as I am personally not a fan of badges. The only badge we currently have is the CI one since it helps those running tests on their machines.

[2016-09-05 09:09] #5184 closed

[2016-09-05 11:35] josevalim commented on #5163
@majioa ping.

[2016-09-05 11:54] josevalim commented on #5176
Given the information listed here, I believe at this point sparse checkouts do not work on Git 1.7. Or there is a bug fix or a combination of features that require a more recent version of Git. I would love to find the minimum version of git that works with Mix's sparse checkout. Once such is found, we can discuss if we should skip tests or not via a flag.

[2016-09-05 11:55] josevalim commented on #3011
Closing this. If you need to monitor, it is best to upgrade the agent to a gen server.

[2016-09-05 11:55] #3011 closed

[2016-09-05 11:56] josevalim commented on #4082
It has been a while since folks are using elixir_make and we have not heard of any bugs. It seems to be time to merge it back into Elixir. What do you folks think?

[2016-09-05 12:00] tony612 commented on #4082
👍  I use it recently, it works well

[2016-09-05 12:16] whatyouhide commented on #4082
For reference, as of now elixir_make has ~3k downloads on Hex, so we know a few people should have used it :).

[2016-09-05 12:30] mobileoverlord commented on #5176
According to docs sparse was added in 1.7.0+. I'll see if I can replicate with older versions and determine what the min should be. I agree, once found we can check git version on test run and conditionally add an exclusion. I'll start working on this

[2016-09-05 12:39] josevalim commented on #5176
@mobileoverlord sweet. I think after Elixir is compiled, you just need to change the git versions in your path. You probably know this but you can run a single test file in Elixir source with `elixir lib/mix/test/mix/tasks/deps.git_test.exs`.

[2016-09-05 13:17] fhunleth commented on #4082
We're giving it quite a bit of use on Nerves-based projects. I also use it on Windows, and it works fine there as well.

[2016-09-05 21:34] eksperimental commented on #3011
@josevalim shouldn't this be mentioned in the Agent module?

[2016-09-06 08:43] schnittchen commented on #1312
Same here. I want to treat warnings as errors, coming from the Ruby ecosystem where everybody gives a squirrel and `-w` means wading through pages of meaningless to harmful noise.

I'm reverting my @opaque to @type now. I thought @opaque was meant to convey to the reader that the repesentation of the type was internal to the module. Since erlang treats it differently, I must be wrong.

[2016-09-06 21:04] robi-wan opened #5188 "/dev/null not available on Windows (when getting git revision)"
### Environment

* Elixir version (elixir -v): 1.4.0-dev f5f3889
* Operating system: Windows 7 Professional 64bit
* Erlang/OTP 19 [erts-8.0] [64-bit] [smp:8:8] [async-threads:10]

### Current behavior
Test `test build_info/0 (SystemTest)` fails:

[code]
### Expected behavior

Test does not fail. ;-)

The failing test checks the length of the `revision` key of `System.build_info`:

[code]

The `rev

[2016-09-06 21:18] josevalim commented on #5188
Beautiful, thank you! Can you try this implementation instead?

[code]

[2016-09-06 21:35] robi-wan commented on #5188
Works.

[code]

[2016-09-07 01:49] josevalim commented on #5188
Added to master, thank you! :D

[2016-09-07 01:49] #5188 closed

[2016-09-07 20:38] #5176 closed

[2016-09-07 20:44] josevalim opened #5190 "Diff for larger strings is not disabled (when it should be)"
We have a check in `lib/ex_unit/examples/difference.exs:34` that should not use diff but it does.

[2016-09-07 21:04] majioa commented on #5163
@fishcakez will try

[2016-09-07 21:20] myronmarston opened #5191 "Whitespace differences are not highlighted by ExUnit"
### Environment
- Elixir version (elixir -v):

[code]
- Operating system:

OS X El Capitan
### Current behavior

Given an assertion like:

[code]

ExUnit currently produces a diff like:

![screen shot 2016-09-07 at 2 17 38 pm](https://cloud.githubusercontent.com/assets/49391/18328876/dd9794a2-7505-11e6-9605-929579fa8f6d.png)
### Expected behavior

This diff is confusing.  It looks like the only di

[2016-09-08 03:12] gonglexin opened #5192 "Mix should report the error directly when the task doesn't exist"
### Environment

* Elixir version (elixir -v):

* Operating system:

### Current behavior

`mix new mix_test && cd mix_test`

Add a dependency in mix.ex ( I add httpoison here):
[code]

`mix deps.get`

then try `mix depx.compile`, notice: we have a typo here: `deps -> depx`

![image](https://cloud.githubusercontent.com/assets/48140/18335720/3b4c0822-75b4-11e6-9f82-2cbc12d8e02c.png)

it compiles so

[2016-09-08 06:07] josevalim commented on #5192
The reason we compile dependencies is because maybe a dependency defines the task you are trying to invoke, so we compile them hoping we may find it.

[2016-09-08 06:07] #5192 closed

[2016-09-08 15:37] milmazz opened #5193 "@external_resource does not work in Windows for files under /priv"
### Environment

* Elixir version: 1.3.0, 1.4.0-dev
* Operating system: Windows

### Current behavior

Sample project:

https://github.com/milmazz/external_resource

Using something like this:

[code]

At least on Windows, every time that you run `mix compile` the `ExternalResource` module it's recompile, even when you don't make any changes.

[code]

### Analysis

`Mix.Compilers.Elixir.compile/5`

[2016-09-08 15:41] josevalim commented on #5193
@milmazz thank you! Maybe we should set the mtime after copying files then?

[2016-09-08 15:51] milmazz commented on #5193
@josevalim If the file exists in `target`, why not to try to compare the timestamps first and then execute the copy only if the timestamp in `source` is newer than `target`, wdyt?

[2016-09-08 15:52] josevalim commented on #5193
@milmazz that would work as well!

[2016-09-08 17:33] milmazz commented on #5193
Ok, I'll work on this :)

[2016-09-09 14:21] Zanadar commented on #4617
PR for removing compile time info: #5196

[2016-09-09 16:55] ZombieHippie opened #5197 "Windows defaults verbose logger SASL reports, CLI option --logger-sasl-reports=false"
### Precheck

Related feature: https://github.com/elixir-lang/elixir/pull/4395

Erlang: http://erlang.org/doc/apps/sasl/error_logging.html
http://erlang.org/doc/man/sasl_app.html

Only thing I found was this guy who may have had the same issue posting a question about it in Slack: http://slack.elixirhq.com/general/2016-06-02/ Find in Page: `PROGRESS REPORTS`

### Environment

* Elixir version (eli

[2016-09-09 17:07] josevalim commented on #5197
Thank you for the report! Can you please try to debug your `elixir.bat` file? It should be in the `bin` directory of your elixir installation. It would help us a lot if you could take a look at it and try to find out why Elixir is behaving like this.

[2016-09-09 18:05] fishcakez commented on #5197
If sasl is started then these progress reports would be expected because the sasl handler won't be removed until after logger has started its supervision tree. You would need to disable sasl's error logger handler. This can be done with `--erl "-sasl sasl_error_logger false"`. If sasl is started after logger (which is possible and perhaps indeterminable) then this configuration would be needed bec

[2016-09-09 18:07] fishcakez commented on #5197
Oh the handler is not removed by logger as the logger application gets a progress report - which would be sent after logger should have removed the handler.
[code]

[2016-09-09 18:32] josevalim commented on #5197
@ZombieHippie one option is that your Erlang installation is using a boot script that enables SASL by default. Can you please let us know how you installed Erlang?

[2016-09-09 19:29] ZombieHippie commented on #5197
Thank you very much for the feedback José, I will try to see if I can debug
the bat file and compare it to another installation method and let you know!

On Fri, 9 Sep 2016, 1:32 PM José Valim <notifications@github.com> wrote:

[2016-09-09 19:52] ZombieHippie commented on #5197
@fishcakez

Your argument flags worked
[code]

@josevalim I installed Erlang onto my thumbdrive by following the wizard provided, then I installed Elixir onto a thumbdrive and I use the following script with cmder to configure my environment to work with Erlang by rewritting the `erl.ini` files I have to point to the right binaries if the drive changes:
[code]

This is kind of complex the way whic

[2016-09-09 20:01] ZombieHippie commented on #5197
I have a previous version of elixir installed on my desktop, but it does not have the new flags `--logger-sasl-reports=false`

https://www.diffchecker.com/dUDqLTih

[2016-09-09 20:06] josevalim commented on #5197
Can you check if the original installation had such issues? I am assuming
that when you moved Erlang around, it cannot find the boot script that
disables sasl or similar and is starting with sasl as a default.

Another way to check is by simply running "erl" and see if you see similar
progress reports.

On Friday, September 9, 2016, Cole R Lawrence <notifications@github.com
<javascript:_e(%7B%7D,'

[2016-09-09 20:08] ZombieHippie commented on #5197
Here's some of that elixir.bat debugging:

New erl command at end of file:
[code]
Output:
[code]

[2016-09-09 20:09] ZombieHippie commented on #5197
@josevalim I do see something similar running erl. What is the configuration script? How can I find it even if I need to search through all the files in my install for keywords?

[2016-09-09 20:12] KronicDeth opened #5199 "assert_receive output can be confusing on failure due to race to read process mailbox"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system:

### Current behavior

If a message is received after the `assert_receive` timeout, but before [`ExUnit.Assertions.__mailbox__(self())`](https://github.com/elixir-lang/elixir/blob/0f206e533569cf9b2ac50986e676322c5fa1ed08/lib/ex_unit/lib/ex_unit/assertions.ex#L408) is called, the failure message is confusing, because the messa

[2016-09-09 20:22] fishcakez commented on #5197
@ZombieHippie when using the erlang installer you probably selected to use the SASL boot script instead of the minimal boot script. If you don't want to automatically start SASL then I suggest reinstalling erlang and selecting the minimal boot script.

[2016-09-09 20:23] ZombieHippie commented on #5197
@fishcakez I'm trying it right now! Thank you very much for the lead.

[2016-09-09 20:33] ZombieHippie commented on #5197
@fishcakez I am trying everything with the original Erlang installer, I realized that I had previously used Erlang Solutions precompiled binaries available at https://www.erlang-solutions.com/resources/download.html

[2016-09-09 20:44] ZombieHippie commented on #5197
Hey! It works, after reinstalling with the Erlang installer provided by http://www.erlang.org/downloads

It even works after changing the drive letter of my flash, just to make sure:
[code]

Thank you guys :tada:

[2016-09-09 20:44] #5197 closed

[2016-09-09 21:37] josevalim commented on #5199
@KronicDeth good catch. I would go with A as well. :)

[2016-09-09 23:24] whatyouhide commented on #5199
👍 for A, really clear solution with clear path for the user to take and a really nice and informative error message :). Please @KronicDeth, feel free to open the PR, would be awesome! 💟

[2016-09-09 23:25] #5193 closed

[2016-09-10 17:46] lexmag commented on #5190
The example in `lib/ex_unit/examples/difference.exs:34` shows inner diff in which we must use coloring. The "large strings" check still happens.

[2016-09-10 17:46] #5190 closed

[2016-09-11 08:38] hykw opened #5205 "doc/Mix.Tasks.Deps.html has some wrong label"
doc/Mix.Tasks.Deps in http://elixir-lang.org/docs/stable/mix/Mix.Tasks.Deps.html has some wrong label: `Git options` and `Path options`(Maybe it has some duplication with the following line). I only found those two labels, but I'm not sure if there is no other label which has the same issue.

![doc](https://cloud.githubusercontent.com/assets/1897735/18416125/c969fa86-7845-11e6-8ac7-01fcee9f46a4.pn

[2016-09-11 08:49] josevalim commented on #5205
Thank you, it has been fixed in master (and it will likely be fixed in stable too once we do a new 1.3.x release).

[2016-09-11 08:49] #5205 closed

[2016-09-11 08:58] #5199 closed

[2016-09-12 13:47] X4lldux commented on #925
@josevalim about the types in discriminated unions. Please see X4lldux/disc_union#3 and X4lldux/disc_union#2.

[2016-09-13 08:34] koti-ave opened #5209 "put-element does not functioning as expected"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, mailing list, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir version (elixir -v):
Erlang/OTP 18 [erts-7.0] [

[2016-09-13 09:26] josevalim commented on #5209
Tuple indexes start from 0. Generally indexes in Elixir start from zero.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-13 10:02] koti-ave commented on #5209
So the in the line 3 when we say (tuple,1,"world") the 1 indicates the index? if so it should be "hello". Isn't it?

[2016-09-13 10:05] whatyouhide commented on #5209
Hey @koti-ave, as you can read in the documentation for [`Kernel.put_elem/3`](http://elixir-lang.org/docs/stable/elixir/Kernel.html#put_elem/3), yes the second argument (`index`) indicates the index. In your example (`put_elem(tuple, 1, "world")`), `1` indicates the index and since indexing is zero-based, it indicates the *second* element. That second element is `"hello"` in the original `{:ok, "h

[2016-09-13 10:05] #5209 closed

[2016-09-13 12:53] srp commented on #5042
In case anyone stumbles across this in the future and wonders why Jose couldn't bother discussing: https://groups.google.com/forum/#!topic/elixir-lang-core/GeXNvzzmdps

[2016-09-13 15:20] Ljzn opened #5210 "`String.trim("abc", "")` won't return anything"
### Environment

* Elixir version (elixir -v):  v 1.3.2
* Operating system:  OSX

### Current behavior

When try to trim a string with "":

`iex> String.trim("abc", "")`
`iex> String.trim_leading("abc", "")`
`iex> String.trim_trailing("abc", "")`

The iex will stunned, and didn't raise any error.

### Expected behavior

[code]

It's reasonable that we can't use `String.replace("abc", "", "")`. But

[2016-09-13 15:43] lexmag commented on #5210
I has been fixed in #5022.

[2016-09-13 16:04] josevalim commented on #5042
I missed the rest of the discussion but yes, that link has the answer.
:) That's the trade-off we got by having a single syntax that does shortcut
functions (similar to Clojure) and capture (similar to Erlang).

On Tuesday, September 13, 2016, Scott R. Parish <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-09-13 20:28] jessejanderson opened #5212 "Press Kit / Vector Logo?"
There are questions almost daily in the #elixir-lang Slack group asking for usage guidelines for the Elixir logo and/or a vector (or at least high resolution) version of the logo.

Are there any plan for a proper press kit that could answer these questions and provide a higher quality logo?

[2016-09-13 20:50] josevalim commented on #5212
It will be published once we are done with the trademark/copyright process, which, from what I understand, can take quite some time.

[2016-09-13 20:50] #5212 closed

[2016-09-13 21:30] jessejanderson commented on #5212
Obviously not a lawyer, but isn't that the point of using "Pending Trademark"?

It's frustrating to get a mixture of answers between "Yes you can use it for slides" and "No, Plataformatec could sue you for putting it in your slides" and everything in between.

Even if the answer is "No, it cannot be used at all until the trademark/copyright process is complete", that's preferable to not knowing wh

[2016-09-13 22:51] Ljzn commented on #5210
Thanks!

[2016-09-14 03:38] jbranchaud opened #5213 "Documenting additional options for String.split/3"
According to the documentation of [`String.split/3`](https://github.com/elixir-lang/elixir/blob/v1.3.2/lib/elixir/lib/string.ex#L241-L348), there are two supported options: `:trim` and `:parts`. However, because whenever `String.split` is invoked with a `Regex` pattern, it delegates to [`Regex.split/3`](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/regex.ex#L333-L404), there end

[2016-09-14 07:45] ericmj commented on #5213
We need to either remove the regex-only options before delegating to `Regex.split` or document on `String.split` that it also accepts the regex options when passing a regex.

Listing the options of `Regex.split` on `String.split` means that we will likely forget to update `String.split` when `Regex.split` changes.

[2016-09-14 08:05] josevalim commented on #5213
Yes, let's mention that when a regex is given, it accepts the same optins as `Regex.split/3`.

[2016-09-14 10:25] whatyouhide commented on #5213
@jbranchaud you're more than welcome to open up a PR btw, that would be awesome 💟

[2016-09-14 15:25] josevalim opened #5216 "Add utc_now/0 to NaiveDateTime, Date and Time"
The idea is to be able to get the current date and/or time for right now in UTC for the types above. We already have `utc_now/0` implemented for DateTime.

@lau and @bitwalker, I would appreciate your :+1: or :-1: on this feature. Thank you!

[2016-09-14 15:28] josevalim commented on #5216
We should probably consider adding `from_unix` to NaiveDateTime as well, otherwise we first need to convert the integer timestamp to an Erlang tuple and then call `from_erl` or build a DateTime and convert that to naive.

[2016-09-14 15:58] lau commented on #5216
Why have `from_unix` in NaiveDateTime when you can have a DateTime that has more information? I think it is better to encourage the use of DateTime for storing data about a datetime where we know that it is UTC. The main reason to create a NaiveDateTime struct over a DateTime is that you don't know what time zone it is in. If you really want, you could call `DateTime.to_naive`. I can't come up wit

[2016-09-14 16:06] josevalim commented on #5216
It could also be for storage purposes. This is use case came from Ecto in
particular. Imagine I am storing all dates in UTC. I don't want to store
the timezone information because I am guaranteeing it will be in UTC
anyway. So I need a quick way to get the current datetime without going
through DateTime since I won't care about it anyway. The current options
force me to build either a tuple or a d

[2016-09-14 16:42] jbranchaud commented on #5213
Great, working on the PR now. Two questions:

1. Should I name `:on` and `:include_captures`? Or be more general by just saying Regex.split has additional options?
2. Would it be useful or confusing to include an example of `String.split` using a regex and the `:include_captures` options?

[2016-09-14 16:59] whatyouhide commented on #5213
1. I say just point people to `Regex.split/3`, it will be much more future-proof :)
2. I think it's ok to add an example, these should be doctested so if we break something we will notice :)

[2016-09-14 19:05] #5213 closed

[2016-09-14 21:29] #5216 closed

[2016-09-14 21:31] josevalim commented on #5216
I have pushed a commit with some of those changes to move the discussion forward. Currently there is no way for me to implement some functionality in Ecto and adapters without falling back to either Erlang calendar's or going through DateTime even when a timezone is not required.

[2016-09-14 22:11] lau commented on #5216
Could Ecto accept a DateTime for saving to a NaiveDateTime field?

I can see that it could make sense to have NaiveDateTime.from_unix from a performance perspective in that it avoids creating an intermediate DateTime struct.

[2016-09-15 22:04] christhekeele commented on #2469
Looking at an initial implementation of `Kernel.defguard` that uses a `Macro.guard` and `Macro.validate_guard`. Wondering about how to handle `Macro.validate_guard` best.

Currently, bad guards are handled at two levels.

Currently a `CompileError` of `"invalid expression in guard"` is raised in `elixir_exp.erl` for Kernel Elixir expressions that are known to have no guard equivalent:

[code]

Eve

[2016-09-15 22:31] christhekeele commented on #2469
Looking at an initial implementation of `Kernel.defguard` that uses `Macro.guard` to rewrite the expressions, provided a `Macro.validate_guard` returns `:ok`. Wondering about how to handle `Macro.validate_guard` best.

Currently, bad guards are handled in two ways.

A `CompileError` of `"invalid expression in guard"` is raised in `elixir_exp.erl` for Elixir Kernel functions that are known to not b

[2016-09-16 13:32] benwilson512 opened #5224 "Inconsistent error when referring to non existent struct %__MODULE__{}"
This project contains a module like so:
[code]

You'll note that it tries to use a struct `%__MODULE__{}` even though no struct has
been defined on that module. If you just run that file via `elixir` you get the
expected (and very helpful) error message:

[code]

If however you run it via mix, you get a different and less helpful error message:

[code]

https://github.com/benwilson512/struct-issue

[2016-09-16 13:47] josevalim commented on #5224
It has already been fixed in master!

[2016-09-16 13:47] #5224 closed

[2016-09-16 14:26] benwilson512 commented on #5224
Thanks, I should have checked that first sorry!

[2016-09-17 04:36] christhekeele commented on #2469
[This naive](https://gist.github.com/christhekeele/bc9badf1bad500dc3f88e6e490bca39a) one-clause addtion to [`Macro.validate`](https://github.com/elixir-lang/elixir/blob/v1.3.2/lib/elixir/lib/macro.ex#L423-L448) seems surprisingly robust for scanning guard expressions.

[2016-09-17 16:28] josevalim commented on #5163
Ping. :)

[2016-09-17 16:29] josevalim commented on #5191
For future info, we can get the dark background color by doing: `IO.ANSI.color_background(1, 0, 0)`.

[2016-09-17 16:44] josevalim commented on #5083
Fixed in master.

[2016-09-17 16:44] #5083 closed

[2016-09-19 09:17] beno opened #5228 "Warning 'protocol has already been consolidated' when recompiling"
When I add a protocol implementation such as the following, I run into a waring when recompiling:

[code]

produces on recompile

[code]

Using Elixir 1.3.2, for more info see https://github.com/ericmj/mongodb/issues/46#issuecomment-247893455

[2016-09-19 09:24] ericmj commented on #5228
This happens when calling `recompile/0` in iex.

[2016-09-19 21:53] fregas commented on #3209
I got this in espec in a test.  Just for the next guy or gal running into this error, it was due to a subject not having an "end" keyword, which probably creates a function outside a module.

[2016-09-20 12:53] jfrolich opened #5232 "Name collision"
I recently ran into a name collision, where one package (an erlang app) depended on the rebar3 uuid package (https://github.com/okeuday/uuid), and another package (a hex package) depended on the elixir/hex uuid package (https://hex.pm/packages/uuid). And the whole project was not able to build.

Are you aware that this can happen? Perhaps there is already a way around this (and I couldn't find it)

[2016-09-20 17:41] josevalim commented on #5232
@jfrolich setting :uuid in the parent project with :overrides true will allow you to pick one or the other but namespacing wouldn't help here because both still defined the same application (and likely similar same modules).

[2016-09-20 17:41] #5232 closed

[2016-09-20 18:21] bitwalker opened #5234 "Warn when apps folder contains things which are not applications"
I've fielded a few issues from people using exrm/distillery where the issue turned out to be that there were things under `apps` in an umbrella project which were not actually apps (either files or folders). I addressed this by filtering the list of things in that folder based on some criteria, but since it seems like this folder is special in Mix (based on the conversation below), Mix should prob

[2016-09-20 19:33] austinsmorris commented on #5094
Did this make it in the 1.3.3 release?

[2016-09-20 19:47] jfrolich commented on #5232
With namespacing I meant that behind the scenes we namespace one of them either elixir or erlang, so same app names will never collide. For instance we can do that by prepending all elixir apps to :__elixir__[app_name] or so. Or is there a major hurdle why that cannot be done. It would be nice if the elixir and erlang ecosystems can work together nicely.

[2016-09-20 19:56] josevalim commented on #5232
That doesn't solve the problem where the application names and module names are still names and we can't prefix them because they are only simple atoms. I can do this:

    application = :uuid
    Application.start(application)

So if you want to prefix and the code above still to work, we would need to prefix **all atoms**. It simply won't work.

[2016-09-20 19:56] josevalim commented on #5232
And this will become more unlikely as both communities are converging to hex.

[2016-09-20 19:57] josevalim commented on #5094
No, it was my bad. I forgot to check the milestone on github before doing the release. :(

[2016-09-21 07:30] jfrolich commented on #5232
Ah right see the trade-off there. Didn't know both communities are standardizing on hex, would make this irrelevant indeed, and a much cleaner solution! Hope this thread can provide the answer for other people who run into the same problem.

[2016-09-21 11:44] josevalim opened #5236 "Deprecate seconds, milliseconds, microseconds and nanoseconds"
Erlang 19.1 standardizes on the singular forms, so we shall do the same.

[2016-09-21 19:56] josevalim opened #5239 "Add protocol integration to the IEx.Helpers.i/1 function"
For any given data type, we should show all protocols it implements.

And if an atom is given and it represents a module that is as protocol, we should show all data types that implement that protocol.

[2016-09-21 19:57] whatyouhide commented on #5239
I can work on this. :)

[2016-09-21 19:59] eksperimental commented on #5239
@josevalim I think you forgot a verb after "should" in your opening sentence.

[2016-09-21 20:03] whatyouhide commented on #5239
(the verb would be "show") :)

[2016-09-21 20:46] verbus opened #5240 "Error on make: git clone https://github.com/elixir-lang/elixir.git"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, mailing list, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir version (elixir -v):
* Operating system: Welcom

[2016-09-21 20:55] josevalim commented on #5240
Some distributions break Erlang into multiple packages. I am assuming you are missing the package that contains dialyzer. Did you try installing something called erlang-dialyzer or similar?

[2016-09-22 02:34] JoshSmith commented on #4365
We're seeing this issue right now. Digging in to see what's happening because it's a little unclear as of right now.

[2016-09-22 10:42] alco commented on #5236
I'd like to tackle this tonight if you don't mind.

[2016-09-22 11:22] josevalim commented on #5236
Please go ahead! Notice that we have other deprecated types in there
already and that we won't emit any warnings for now. We should also update
the examples in the Calendar file (some of the APIs there receive the same
time units).

On Thursday, September 22, 2016, Alexei Sholik <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and

[2016-09-22 20:28] #5236 closed

[2016-09-23 00:26] bill-mybiz opened #5246 "Does not compile `with \` when followed by a comment"
## Environment
- Elixir version (elixir -v):

Erlang/OTP 19 [erts-8.0.2] [source-753b9b9] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.3.2
- Operating system: Ubuntu 16.04
### Current behavior

The `with` statements don't compile if in the following form (taken from a [gist](https://gist.github.com/bill-mybiz/f0c771a97ba303214eafc83100706cc2) I made that expounds the

[2016-09-24 07:09] BlueHotDog opened #5247 "umbrella apps mix.config dependency issue"
### Environment
elixir 1.3
ubuntu

### Current behavior

I've got an umbrella app with a master application, which uses cqerl and has its own keyspace(Cassandra equivalent to DB)
and a dependent application, which also depends on cqerl and has a different DB.

Since the default behavior is to merge the configs of the apps, this created an issue where both cqerl apps got one keyspace from the confi

[2016-09-24 12:12] josevalim commented on #5247
In your mix.exs file, you have a config option in each umbrella children.
By default they load the config in the parent, which in turns loads all
children, but you can set it to load only your config too.

On Saturday, September 24, 2016, Danni Friedland <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-24 12:31] #5247 closed

[2016-09-24 13:09] josevalim commented on #5240
Please let me know if the solution above fixed it for you, thank you!

[2016-09-24 13:09] #5240 closed

[2016-09-24 13:10] josevalim commented on #5163
Closing this for now. Please let us know if you have more information.

[2016-09-24 13:10] #5163 closed

[2016-09-24 13:11] josevalim opened #5248 "Deprecate single quote strings"
The goal is to soft-deprecate for now and introduce an actual warning only on version 1.6. When inspected, we should show `~c[foo]`. We should also add a note to deprecate single quotes inside sigils too. Finally, let's guarantee `h ~c[foo]` works and prints readable documentation.

[2016-09-24 13:14] josevalim opened #5249 "Automatically inflect the list of applications"
Therefore, one last proposal is the following:

[code]

We will also support the `:runtime` option (or something more appropriately named) for dependencies that allow us to specify a dependency is not necessary during runtime. For example, distillery itself would be specified as:

[code]

With the features above, the list of applications, when not specified, will be calculated by:

[code]

/cc @fi

[2016-09-24 14:29] whatyouhide commented on #5239
Closed by #5241.

[2016-09-24 14:29] #5239 closed

[2016-09-25 01:32] bbugh opened #5251 "Confusing message using with -> instead of`<-"
### Environment

Erlang/OTP 19 [erts-8.0.2] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
Elixir 1.3.2
OSX 10.10.5

### Current behavior

When using a tuple before incorrect `->` in `with`, compiling produces a misleading error message.

Code:
[code]
Error:
[code]

The error message sounds like it's in the tuple (which really tripped me up for a while) but it's

[2016-09-25 02:18] eksperimental commented on #5251
I we end up implementing this, it should work with `for/1`

[2016-09-25 08:50] josevalim commented on #5251
Unfortunately there is no much we can do here. Parsers are tricky beasts and sometimes all they know is that they entered an invalid state without really knowing what put them in that invalid statement in the first place. Sorry!

[2016-09-25 08:50] #5251 closed

[2016-09-26 04:08] jfrolich commented on #5232
@josevalim: Do you confirm the best way to resolve this, is change the package name?

[2016-09-26 06:33] josevalim commented on #5232
Yes.

[2016-09-26 09:10] josevalim opened #5254 "Revisit ExUnit terms on Elixir 2.0"
We often refer to the module that defines the test cases as a "case", because it is the one that includes `ExUnit.Case`, but that nomenclature is confusing. We should refer to the module either as a suite (which can also be confusing) or simply as a module and each test is a function (getting rid of the `case` name almost everywhere except in `ExUnit.Case`).

[2016-09-26 09:11] josevalim opened #5255 "Migrate Logger away from GenEvent"
The goal is to migrate Logger handlers away from GenEvent. We can either use Erlang's `gen_event` or have a custom implementation on top of GenServer. We are not going to use GenStage because this is one of the few cases where gen_event's architecture actually makes sense: we want to avoid copying between multiple handlers. Therefore, differently from #5254, this issue can be tackled now-ish.

[2016-09-26 12:26] TBK145 opened #5256 "Unclear compilation error "cannot define variable _ inside and"."
### Environment

* Elixir version (elixir -v):

Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:4:4] [async-threads:10] [kernel-poll:false]

IEx 1.4.0-dev (662ecf9)

* Operating system:
Ubuntu 16.04

### Current behavior

When compiling this code snippet:
[code]

I get the following error (which also does not show a line number, so it took me quite some time to find the offending statement):
[code

[2016-09-26 14:54] antipax commented on #5255
@josevalim I'd like to take a crack at this unless you have someone else in mind?

[2016-09-26 15:03] josevalim commented on #5255
@antipax that would be fantastic, please go ahead. I would start with `gen_event` at first. Keep in mind ExUnit kinda depends on Logger internals.

[2016-09-26 16:36] seancribbs opened #5257 "Kernel.raise/1 produces cover compilation error"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system: Mac OS/X 10.11.6 (El Capitan), also on Ubuntu 16.04.

### Current behavior

`:cover` compilation raises an exception when a function contains `raise` without an explicit type or string message. This seems to occur because the `Kernel.raise/1` [macro](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel.e

[2016-09-26 17:12] seancribbs commented on #5257
Suggestion: Is it possible that instead of using `line: -1`, one could use the location from the caller environment? Like so:

[code]

[2016-09-26 17:46] antipax commented on #5257
Can confirm that switching to `reraise x, System.stacktrace()` for dynamic exceptions fixed my issues.

[2016-09-26 17:51] fishcakez commented on #5257
@seancribbs have you given this a try? I imagine we will get a lot of dialyzer warnings on OTP 18. I am not sure of the correct way to get around this from an elixir macro. We will get the meta data returned from the quote so should be able to do `[{generated, true} | meta]`.

On `master` we previously made a decision to sacrifice dialyzer warnings (pre 19.1) to fix a bug https://github.com/elixir

[2016-09-26 17:52] antipax commented on #5257
I would also be in support of backporting the fix, whatever it is, to 1.3.

[2016-09-26 17:55] fishcakez commented on #5257
@antipax sorry I was saying that I am not aware of a way to fix this in OTP 18 that doesn't produce a lot of dialyzer warnings. I am not sure whether we should sacrifice dialyzer for cover or not.

Also your `reraise/2` is not equivalent to `raise/1`.

[2016-09-26 17:56] antipax commented on #5257
@fishcakez gotcha. Yeah you're right, the stacktrace won't be up to date... oops

[2016-09-26 18:06] josevalim commented on #5257
Unfortunately we will have to check the OTP version and act accordingly. We should avoid compiling different code per OTP version but I am not aware of a better option in this case.

[2016-09-26 18:08] seancribbs commented on #5257
Forgive my lack of depth of understanding the issue, why will it not work when using the actual line number from where the macro is called?

[2016-09-26 18:11] antipax commented on #5257
On OTP 19 marking generated code as generated involves setting the `:generated` attr as `true`, but on OTP 18, you have to set `:line` to `-1`. Since the code inside `raise` is indeed generated, it should be marked as such to ensure stacktraces are clear for users.

[2016-09-26 18:11] seancribbs commented on #5257
@antipax Thank you for the clarification.

[2016-09-26 18:18] seancribbs commented on #5257
I might mention this is only relevant to things like `:cover` that re-process the abstract code. I have had no problems running the code mentioned outside of the test suite.

[2016-09-26 18:18] fishcakez commented on #5257
@josevalim perhaps it would be better to format unknown exceptions via an external call and keep code the same?

[2016-09-26 18:20] josevalim commented on #5257
@seancribbs plus, if we don't mark the code as generated, dialyzer and the compiler will report warnings when they are sure one of the clauses won't match. We usually can avoid the compiler ones, because we have the same amount of information, but dialyzer typically has more information than the compiler.

[2016-09-26 18:27] josevalim commented on #5257
@fishcakez I like it.

[2016-09-26 18:36] #5257 closed

[2016-09-26 19:21] fishcakez commented on #4617
There is also `maps:get/3` we can use for `Map.get/2,3`, that arrived during OTP 18 but not for 18.0.

[2016-09-26 22:54] antipax commented on #5255
So here's a couple things that have come up that we should discuss:

* `GenEvent` provides an error when you try to add a duplicate handler to a manager. `:gen_event` provides none, and I can't think of a way to do that outside the manager process without introducing a race condition.

* `GenEvent` provides `add_mon_handler`, which is also impossible to implement with the `:gen_event` manager

A p

[2016-09-26 23:01] josevalim commented on #5255
Yes, we don't need the mon handler feature because we can use the sup
handler.

For the uniqueness thing though, maybe we can use the logger watcher
supervisor to give us uniqueness, as it requires the watchers id to be
unique. This means we can't use a simple one for one though (which is fine,
we wouldn't have dozens of children anyway).

--

*José Valimwww.plataformatec.com.br
<http://www.plataf

[2016-09-26 23:15] sotojuan commented on #5248
Is `'a'` deprecated or just stuff like `'hello'` (character list)?

[2016-09-27 04:02] verbus commented on #5240
Jose,

Problem solved. Case closed. Thanks!

Verbus

Regards,
Verbus M. Counts
http://www.emrtechnicalsolutions.net/
verbus@emrtsolutions.com
405-326-7440 - Mobile

On Sat, Sep 24, 2016 at 8:09 AM, José Valim <notifications@github.com>
wrote:

[2016-09-27 08:33] josevalim opened #5260 "Remove NaiveDateTime.from_unix (not yet released) in favor of add and diff functionality"
See discussion: e50735ff2a7c16cc7705d8fa59af906e986c19f7

[2016-09-27 13:17] ericmj commented on #5248
@sotojuan Both are deprecated, they both create char list strings.

[2016-09-27 13:40] eksperimental commented on #5248
To see the discussion of this feature in the Elixir Lang Core mailing list:
https://groups.google.com/forum/#!topic/elixir-lang-core/_pAjPEayLLI

[2016-09-27 14:54] antipax commented on #5255
So, I don't think we can use a `:one_for_one` supervisor for this. The child spec for a `:transient` child persists in the supervisor even after the process dies, so you cannot remove and then re-add a child with a given ID. Any thoughts? Could just use a separate gatekeeper process or ETS table.

[2016-09-27 15:15] josevalim commented on #5255
I can think of two options:

  * allow duplicates and leave it up to the user to handle those with care?
  * have an ets table and have the watcher check the table on init, maybe returning ignore in case of already taken

/cc @fishcakez

[2016-09-27 16:08] fishcakez commented on #5255
Can we pass this to the calling process? The watcher can be removed with `delete_child` if it is present and the code is very simple and keeps the uniqueness guarantee in a single place.
[code]

[2016-09-27 16:12] antipax commented on #5255
Yes, that's a good point. I had not thought to use `:already_present` vs. `:already_started` for this purpose.

Could there be a (perhaps unimportant) race where two processes attempt to add a backend, and instead of it getting added once, it gets added, removed, and added again?

[2016-09-27 16:26] fishcakez commented on #5255
Its not possible because delete_child does not work unless the child has
undefined pid. So the second client in the race will get an already started
error.

On Tuesday, 27 September 2016, Eric Entin <notifications@github.com> wrote:

[2016-09-27 16:26] antipax commented on #5255
Perfect! Thanks @fishcakez! ❤️

I'll move ahead with this approach.

[2016-09-27 18:32] philipgiuliani commented on #5094
Lost the whole afternoon until i finally found this issue 😭 @schnittchen I'm using your fix in edeliver in the meanwhile and it works great!

[2016-09-27 21:13] josevalim opened #5261 "(Soft) deprecate Supervisor.Spec.supervise"
The goal is to return those options as part of the `:ok` tuple. Instead of:

[code]

we should return:

[code]

The rationale is to use regular data types and avoid centralizing all options in the `supervise` definition. This is particularly important when we include the DynamicSupervisor, which will have options specific only to itself.

The tuple format is already being used by GenStage as well

[2016-09-27 21:45] fishcakez commented on #5261
If we are going to use data types should we switch to the format used by `:supervisor` from OTP 18+ that uses maps?

[2016-09-28 08:12] josevalim commented on #5261
@fishcakez returning a map for optional keys is very foreign in Elixir, as well as the `{:ok, {opts, children}}` format. Plus OTP uses different defaults than Elixir, which means we would have different behaviour anyway.

[2016-09-28 08:33] gonglexin opened #5264 "Can not connect node with short name"
### Environment

* Elixir version (elixir -v):

* Operating system:

### Current behavior

Correct: with `--name`
![image](https://cloud.githubusercontent.com/assets/48140/18905576/69db16b4-8596-11e6-9c9d-704f8894fde0.png)

Wrong: with `--sname`
![image](https://cloud.githubusercontent.com/assets/48140/18905663/c6f60fde-8596-11e6-95c1-a95871ea6086.png)

Wrong: one with `--name`, the other with `--

[2016-09-28 08:56] josevalim commented on #5264
I have had issues like this in the past if recently changed the machine name. I would recommend checking your host files or restarting your machine (network services) and see if the problem persists.

[2016-09-28 09:38] vladdu opened #5265 "html documentation presentation suggestions"
Following discussion on erlang-questions, I looked a little at the docs CSS and I have some comments.

- the main site has text size set to 0.8em, why? It is quite small.

- some font sizes and height lines are hardcoded (px, not em), for example 'code' elements
- IMHO line height can be made 1.4em (maybe even 1.3) without impairing legitibility
- .content-inner pre has "overflow-x: scroll;", chan

[2016-09-28 09:49] josevalim commented on #5265
Thank you, I have moved it to the documentation project: https://github.com/elixir-lang/elixir/issues/5265

[2016-09-28 09:59] #5265 closed

[2016-09-28 10:06] gonglexin commented on #5264
@josevalim It works after I cutting off WI-FI connection and won't work when I connect WI-FI again.

[2016-09-28 10:10] fishcakez commented on #5261
If we use our own data format wont we lose the ability to appup top level supervisors?

[2016-09-28 10:54] josevalim commented on #5264
@gonglexin so it does feel to be something related to your network/machine settings. If you go to System Preferences > Sharing and change your computer name to something else, does it work permanently?

[2016-09-28 12:38] fishcakez commented on #5261
To add context to my above comment. The module of the top level supervisor is discovered using `format_status/2`. This is controlled by `:supervisor`. To use our own data structures we would have to wrap use modules and that would mean `:supervisor` would always point to the wrapper module. Therefore preventing discovery of the top level supervisor's module and so it could not be reconfigured as p

[2016-09-28 12:57] josevalim commented on #5261
We can't do this one. So I will open up an issue to merge DynamicSupervisor and we will need to revisit the DynamicSupervisor init return by then.

[2016-09-28 12:57] #5261 closed

[2016-09-28 12:58] josevalim opened #5267 "Merge DynamicSupervisor in"
This is a reminder that, once DynamicSupevisor is merged, we will need to implement the code that validates typespecs and ensure both Supervisor and DynamicSupervisor return the same value on `init` (since we can't change what `Supervisor.init` returns). This is scheduled for v1.5.

[2016-09-28 14:00] michalmuskala commented on #5267
Would inclusion of DynamicSupervisor mean soft-deprecation (and maybe a full one eventually) of simple_one_for_one strategy in regular supervisors?

[2016-09-28 14:23] gonglexin commented on #5264
@josevalim No, it doesn't work after I changing my computer name, changing to another WI-FI connection (Totally different network). No lucky even I re-installed Elixir (1.3.3) and Erlang (19.1).

[2016-09-28 14:49] josevalim commented on #5267
We would likely never remove it, because we are simply forwarding it to the Erlang supervisor, but yes.

[2016-09-28 14:55] gonglexin commented on #5264
@josevalim I finally figured out it has nothing to do with network, computer name or other things. It's ok  in Elixir 1.3.3 and Erlang 19.0, but doesn't work with Elixir 1.3.3 and Erlang **19.1**

it seems that something changed in  `:net_kernel.connect_node/1`  of Erlang 19.1

[2016-09-28 15:23] josevalim commented on #5264
@gonglexin can you reproduce it using Erlang only? Something like:

[code]

If so, they would probably appreciate a bug report!

[2016-09-28 15:38] fishcakez commented on #5267
DynamicSupervisor only supports temporary children btw

On Wednesday, 28 September 2016, José Valim <notifications@github.com>
wrote:

[2016-09-28 22:15] bmodra opened #5268 "Macro.to_string() is sometimes treating module names as if they are "normal atoms" (without the "Elixir." prefix.)"
### Environment
#### Elixir environment:
[code]
#### MS Windows OS environment:
[code]
#### from the System Information application:
[code]
### Current behavior
I am generating code for modules from some data read in from file. The module names are formed from strings, and obviously I need to create module atoms. At first glance, prefixing the module name (string) with "Elixir." and then using Str

[2016-09-29 01:37] gonglexin commented on #5264
Erlang's `net_kernel:connect_node` works both in 19.0 and 19.1 and then I switch back to Elixir's `iex`, it works both with  Erlang 19.0 and 19.1.  it's very strange. let's close this issue for now, I'll reopen it in case I find any further bugs of this connecting problem.

[2016-09-29 01:37] #5264 closed

[2016-09-29 08:48] #5268 closed

[2016-09-29 08:50] eteeselink opened #5271 "Interop with C on Windows breaks across Erlang upgrades"
### Environment

* Elixir version (elixir -v):

        Erlang/OTP 19 [erts-8.1] [64-bit] [smp:4:4] [async-threads:10]
        Elixir 1.3.3
* Operating system: Windows 10 Pro

### Current behavior

I tried to compile a project that depends on [https://github.com/riverrun/comeonin](Comeonin), which has a native code component. It compiled fine before with the Visual Studio Build Tools loaded, no pr

[2016-09-29 08:55] josevalim commented on #5271
Hi @eteeselink, that's an excellent bug report but I believe this should be filed in the Comeonin project? https://github.com/riverrun/comeonin It doesn't look like Elixir per-se could do anything to solve the issue above.

[2016-09-29 09:02] eteeselink commented on #5271
@josevalim True! However Comeonin just copied&pasted the recommended makefile from the Elixir wiki, which this is the issue tracker of. I figured starting at the source of the bug (even if it's a wiki and not a piece of code) makes most sense. However I sortof forgot that the wiki is a *wiki(, so maybe indeed it's better to involve the Comeonin guys right away.

So I did: https://github.com/riverr

[2016-09-29 09:41] josevalim commented on #5271
@eteeselink I see. Yes, the best is to have them involved and they can update the wiki accordingly. :D Thank you!

[2016-09-29 09:41] #5271 closed

[2016-09-29 15:35] et opened #5272 "`mix new` should bail if the directory already exists"
### Environment

* Elixir version (elixir -v): Elixir 1.3.2
* Operating system: ProductName:	Mac OS X, ProductVersion: 10.10.5, BuildVersion: 14F27

### Current behavior

* `mkdir foo`
* `touch foo/bar.js foo/buzz.js`
* `mix new foo`
[code]

Mix creates a bunch of files in my `foo` project.

### Expected behavior

`mix new` should bail with an error message saying "foo directory already exists". I

[2016-09-29 15:43] et commented on #5272
FWIW, doing this with Phoenix

[code]

This seems a little better because it's giving you a chance to bail.

[2016-09-29 16:02] josevalim commented on #5272
:+1:

[2016-09-29 16:18] shhavel commented on #5272
I can take this one if no objections.

[2016-09-29 16:35] et commented on #5272
@shhavel - that would be awesome! Ultimately it should be @josevalim's decision, but I think it should maintain the same behavior as Phoenix (providing the prompt). That way we get consistency (with Phoenix), a safety net (for n00bs like me), and flexibility (for people who really want to create a new mix project inside an existing one).

[2016-09-29 16:50] josevalim commented on #5272
@shhavel please go ahead :D

[2016-09-29 18:32] martin-langhoff opened #5274 "app version fun is called many times in a single compile"
### Environment

* Elixir version (elixir -v): 1.3.3
* Operating system: CentOS6, CentOS7

### Current behavior

If an app version is set to a function instead of a string, the function is called multiple times during a single compile (in our case, 18-25 times depending on app).

How to repro? In `mix.exs`:

[code]

### Expected behavior

Output shows `get_version` once, result of `get_version` is

[2016-09-29 18:41] NobbZ commented on #5274
It will get called everytime project/0 is called. I think a much better workaround were to use a macro instead of a function.

Remember, you don't set the version to a function but to the return value of a function, as such of course the function will be called everytime the list is built.

[2016-09-29 18:52] josevalim commented on #5274
@martin-langhoff please don't do the git describe approach. Please, please, please. If you really need to, do it at the module body so it happens once. The Ruby community had major problems not long ago because of practices exactly like that.

[2016-09-29 19:01] josevalim commented on #5274
@martin-langhoff Can you please tell me which command are you running to see it printed 25 times? That value is already cached today and I see it only once per compile (and twice per test because of other reasons).

[2016-09-29 19:02] martin-langhoff commented on #5274
@josevalim - we find it pretty good (as long as we use strategically-placed tags) to automagically version builds. The git project itself uses it (I was an early contributor to git myself).  Link, or anything I can google on what's bad about it?

Maybe I'm missing a trick here, what do you mean by "do it at the module body"?

@NobbZ  - I'm not sure how a macro would help.

[2016-09-29 19:03] martin-langhoff commented on #5274
@josevalim I am just running `mix compile` in a complex project. I can try patching up Phoenix to demo if that helps.

[2016-09-29 19:04] josevalim commented on #5274
Imagine if all of your projects and dependencies did that. So if you started a Phoenix project, which let's say has 15 dependencies, you will have 15 dependencies issuing a git command, sometimes even two, which ends up adding considerably to the boot time. The issue you are reporting is exactly the problem.

[code]

[2016-09-29 19:06] josevalim commented on #5274
I have just tried it in a new Phoenix project and I saw it just once as well, so we will be waiting for more info on how to reproduce it. :)

[2016-09-29 19:06] martin-langhoff commented on #5274
Clarification - I am running `mix compile` in a particular `apps/foo` dir of a large umbrella project. There are 4 apps under the umbrella, and this one depends on 2 others. So I'd expect perhaps 3 calls total.

Thanks for the "In Module" example. Will see if I can work it in.

To clarify, this is for our in-house development code. I would not do this for a release version of a re-usable library (

[2016-09-29 19:07] martin-langhoff commented on #5274
OK will experiment some more. Thanks for the help so far!

[2016-09-29 19:28] NobbZ commented on #5274
Well, because of the very same reason @josevalim's attribute does work, it is resolved at compiletime of the projects Mix-module, not at its runtime.

I simply suggested a macro, because it can have more complex logic than an attribute.

But aside of that, I have to be honest. I thought that the git-describe approach for versioning stuff is cool as well and tried it in various languages on a coupl

[2016-09-29 19:36] martin-langhoff commented on #5274
@josevalim this sample approximates what I ahve in my private tree, and repros the issue https://github.com/martin-langhoff/exrm-umbrella-test/tree/get-version-test

[2016-09-29 19:50] josevalim commented on #5274
@martin-langhoff thank you. That makes more sense as we are indeed navigating between multiple projects. However, once inside a project, the configuration should not be loaded again unless moved elsewhere. We could add caching between traversals but that will bring its own complexities. For now, we will recommend developers to avoid doing any work inside `def project`, as it is meant to return con

[2016-09-29 19:51] #5274 closed

[2016-09-29 20:02] martin-langhoff commented on #5274
@josevalim -- the actual commit is https://github.com/martin-langhoff/exrm-umbrella-test/commit/3a5b58de1f02bc123d07c21eb0eb3794bb78001d - I don't think you managed to hit it (I mis-pushed earlier, so wouldn't have been there).

Just in case it's interesting. I understand the rationale to close.

[2016-09-29 20:24] josevalim commented on #5274
@martin-langhoff I have added something similar myself. :) For now, module attributes are the way to go in your case.

[2016-09-30 01:58] awetzel commented on #3400
sorry to ping this issue again, but I have just had a big bug very difficult to debug because of this function, and I think that your first impression @josevalim is the one of any dev using the function, and so maybe afterward thinking is too much thinking :) .

My point is pretty close to the one of @ewildgoose. ":erlang.round" function is determinist, since the result is an integer, so useful. B

[2016-09-30 02:34] awetzel commented on #3400
and @josevalim , I do not agree with

compute the mantissa exponent from the binary float representation of the system, an make rounding accordingly (see `io_lib_format.fwrite_g` for erlang impl in `erts/emulator/sys/common/erl_sys_common_misc.c` `sys_double_to_chars_fast` which are the impls used by `:io.format('~0.2f')` and `:erlang.float_to_binary`, to get digits are not an imprecise computatio

[2016-09-30 09:37] TBK145 commented on #5256
I don't know if this bug still exists, but compilation is fixed on 819d81c.

[2016-09-30 09:45] josevalim commented on #5256
@lexmag given the other commit also fixed the bug, should we abort the changes to and/or and directly add the test?

[2016-09-30 12:54] eksperimental commented on #5272
Wouldn't we need options to avoid prompting when not wanting to act interactively, such in writing a script to automatize things.

something like `--assume-yes` and `--assume-no` such as in `apt-get`

[code]

[2016-09-30 12:56] josevalim commented on #5272
@eksperimental we could add those if desired. It should be called `--force` in this case, to keep inline with other conventions in Mix.

[2016-09-30 12:56] josevalim commented on #5272
This issue has been solved though. Further PRs can be sent if necessary. :)

[2016-09-30 12:56] #5272 closed

[2016-09-30 15:50] awetzel commented on #3400
Sorry to "ping" this issue again, but I quite agree with @ewildgoose , Float.round is missleading :
- because "round" has a meaning for user/dev/math, and the meaning is a functional, determinist transformation from a "real" and non-deterministic result. If you do not want determinism, then you do not round, so the current non-determinist function has no use case (except if you think the function

[2016-09-30 16:12] josevalim commented on #3400
Thank you @awetzel for the detailed reply! I have performance concerns about using an implementation that relies on the conversion from and to binary. Should we instead calculate the mantissa ourselves and do the rounding from there?

[2016-09-30 16:48] wishdev commented on #3400
What about

DecimalFloat.round(0.100000000005 + 0.2, 14) - 0.3 from the POC
vs
Float.round(0.100000000005 + 0.2, 14) - 0.300000000005 from the system

Could we please see at least a single example where this works better without adding arbitrary limitations to Float.round - i.e apparently only allowing 7 digits of precision.

[2016-09-30 17:24] awetzel commented on #3400
first : the POC works only with precision < 7 because I didn't need more when I did it :) and is not arbitrary, it is because the floating point error IS `< 0.0000001` and rounding is very rarely needed above "10^-7", and it is a POC, it should be possible to compute the max diff with the mantissa exponent, but it is not a simple task :) .

I think your question is not a use case I can identify. W

[2016-09-30 17:31] awetzel commented on #3400
also I have a file with 1Go file of floating points computations with a "2" decimal point rounding, which is my personal use case : and had :
- 100% of mathematically correct result with the POC function
- ~10% of errors with `Float.round`
- ~30% of errors with `String.to_float`
I think that makes the point that something is doable.

[2016-09-30 17:37] wishdev commented on #3400
Again not a single actual example provided - you dismiss my actual example and again show not a single example that you fix.

Also since when does the entire rounding concept end at 2 or 7 decimal points?

You use large words without understanding what they actually mean - because you have never and can never show a single example where Float.round(x, y) returns a different result for the same x a

[2016-09-30 17:42] wishdev commented on #3400
And my mistake from the example above

DecimalFloat.round(0.100000000005 + 0.2, 14) == 0.3 from the POC
vs
Float.round(0.100000000005 + 0.2, 14) == 0.300000000005 from the system

[2016-09-30 17:42] awetzel commented on #3400
Ok @wishdev , I actually don't care if you use this tone :), I am a bit overwhelmed by my work currently, so I do not want anyone to use this solution. This function broke a service with million of user, so I thought that it was useful to share.
Have a good day.
I do not attack anything really :)

[2016-09-30 17:47] wishdev commented on #3400
I would love to see something that worked better - but 4 responses in and you have provided still no actual example. Not a single line of code that Float.round did incorrectly - not a single example at all. Why shouldn't one be rather skeptical when the simplest of things seems not to be forthcoming.

[2016-09-30 17:53] josevalim commented on #3400
To avoid the discussion from going off-topic, I will close the discussion and open up a new issue later on.

[2016-09-30 19:22] myronmarston opened #5277 "`ExUnit.CaptureLog.capture_log/1` can capture logs from other tests even when `async: false` is set"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

I've got this module:

[code]

And this test:

[code]

Usually the tests pass, but every now and then I get a failure when I run it together with my entire suite.  Here's an example:

[code]

### Expected behavior

The docs for `capture_log/1` say this:

While it does not explicitly

[2016-09-30 19:52] josevalim commented on #5277
@myronmarston excellent bug report. :heart: I can see both 1 and 2 mentioned above happening.

/cc @fishcakez @antipax

[2016-09-30 20:21] antipax commented on #5277
Interesting, I wonder if the new `:gen_event` branch causes any changes here. Will try out @myronmarston's test case a little later. Thanks Myron!

[2016-09-30 20:46] myronmarston commented on #5277
BTW, I've also occasionally run into what's essentially the opposite of this problem.  A test like this:

[code]

...will sometimes fail because `log` is `""` instead of a string containing `"something"`.  However, I've never been able to consistently repro, and `do_something_that_should_log()` is complex enough that I couldn't totally rule out the possibility of a bug in my code causing this.  At

[2016-09-30 21:05] wojtekmach commented on #5277
this just reminded me of recent failures on phoenix master. I just took a stab at reproducing it, and one of the example from the test below fails every single time for me (on a fresh project). This is about capture_io (not capture_log) but they seem related:

[code]

[code]

This uses MIx.Task.run, so perhaps it's a different issue altogether, in which case sorry for the noise.

[2016-09-30 21:50] fishcakez commented on #5277
@myronmarston your code example is not consistent with the failure example and it is not possible to produce a failure for your code example:

If there are unprocessed messages in the Logger message queue then they will always be ahead of the message for the `add_handler` call and so we don't need to flush the Logger process. However there could be messages in the `:error_logger` message queue so

[2016-09-30 21:51] fishcakez commented on #5277
@wojtekmach could you open a separate issue as these are handled differently?

[2016-09-30 22:07] wojtekmach opened #5279 "ExUnit.CaptureLog and Mix.Task.run"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system: OSX 10.11.6

### Current behavior

For this test:

[code]

one of the examples (randomly) will fail with something like this:

[code]

This error can be fixed by replacing `Mix.Task.run("help", ["help"])` with `Mix.Tasks.Help.run(["help"])` (as I did in https://github.com/phoenixframework/phoenix/pull/1941/files) but perha

[2016-09-30 22:08] myronmarston commented on #5277
I don't understand what you mean.  I copied the code, test and failure output verbatim with two small tweaks (renamed the module so it's not namespaced like it is in our app, and replaced `use OurApp.TestCase` (which just does `use ExUnit.Case` plus some minor things like set up common aliases, doc test, etc) with `use ExUnit.Case`.

You're right that it's not possible to reproduce the exact failu

[2016-09-30 22:10] ericmj commented on #5279
`Mix.Task.run/1` will only run a given task name once unless you call `Mix.Task.reenable` for it.

[2016-09-30 22:19] fishcakez commented on #5277
@myronmarston ah sorry I misunderstood, I thought it was supposed to be possible just with that code.

The log message printed should only be occurring when a process spawned with `spawn` or another spawn BIF like `spawn_link` was used. We can never provide a guarantee for that message.

What happens on line 86 of `lib/worker.ex`? Is that the function being used to initiate a spawned process? Give

[2016-09-30 22:21] josevalim commented on #5279
Yes, @ericmj is correct. :) Another option is to use `Mix.Task.rerun`, although I can't quite remember when it was added.

[2016-09-30 22:21] #5279 closed

[2016-09-30 22:29] myronmarston commented on #5277
As it turns out, in `worker.ex`, I'm using `spawn_monitor`.  I didn't realize that processes spawned with `spawn_monitor`, `spawn_link` or `spawn` could defeat Elixir's logger synchronization.  (And I also didn't connect your mention of `spawn` causing this with my use of `spawn_monitor` -- sorry about that).

FWIW, here's the code in question in my worker (which is a `GenStage` consumer):

[code]

[2016-09-30 22:35] fishcakez commented on #5277
@myronmarston it is not a false bug report because we can improve the situation by flushing `:error_logger` even though it's unfortunate that we can't handle it for your case. Also they're isn't really a lot we can do about log messages arriving due to asynchronous failures because really that requires handling to know what those processes are and `ExUnit` can't know.

[2016-09-30 22:39] fishcakez commented on #5277
@myronmarston Elixir provides `Task.Supervisor`, `Task.Supervisor.async_nolink`, `Task.yield` and `Task.shutdown` for this purpose.

When using `Process.exit(pid, :kill)` you monitor (you already are) and await the `:DOWN` to wait for `pid` to have exited. Exit signals are asynchronous so `pid` can still be doing work until you get that `:DOWN`. In your code the `:DOWN` will arrive late and might

[2016-09-30 22:43] lexmag commented on #5256
Unfortunately that commit doesn't fix the test in #5258.

[2016-09-30 22:58] myronmarston commented on #5277
@fishcakez Thanks for the help!  I took a stab at re-writing my worker using `Task.Supervisor`.  If you have the time, can you confirm I've done this correctly?

https://gist.github.com/myronmarston/42e3d2261e42751fea0959e88538a6ba

It passes my tests, at least :).

Besides the changes to flush `:error_logger`, I hope we can improve the docs for `ExUnit.CaptureLogger` to include some caveats about

[2016-09-30 23:06] myronmarston commented on #5277
So this is weird -- I re-ran my entire test suite (all 2K+ test cases) and the `ValidateTest` failure I originally reported above failed again, even with the change from `spawn_monitor` to using a supervised task:

[code]

Seems like something else must be at play?

[2016-09-30 23:08] fishcakez commented on #5277
@myronmarston it looks good I would suggest `case Task.yield(..) || Task.shutdown(..) do` as this will handle the situation where the result arrives after the yield and before the process is killed. Note that a `nil` return would then be a timeout.

A `Task` (and other OTP processes) send terminating log message to `:error_logger` so we need to flush `:error_logger` to provide the guarantee it doe

[2016-09-30 23:12] myronmarston commented on #5277
Good to know, thanks!

[2016-10-01 08:37] #5255 closed

[2016-10-01 08:44] #5277 closed

[2016-10-01 08:44] josevalim commented on #5277
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-10-01 15:28] eksperimental commented on #2067
just for the deprecation record, **`String.from_char_list/1`** was replaced by **`String.from_char_data/1`**, which was later replaced by **`List.to_string/1`**

for anybody coming here looking for deprecation replacements
from the following errors:

and

[2016-10-01 19:36] fishcakez commented on #5267
This is not true it supports all restart values.

[2016-10-04 00:08] scouten commented on #3342
FWIW I do not believe this issue has been fixed in R19. I've just encountered the same problem using Elixir 1.3.2 (which uses Erlang R19.0.5, I think). The `1>&1` trick "fixed" the problem.

¡Muchas gracias, @edevil!

[2016-10-04 01:31] JEG2 commented on #5260
The `from_unix()` functions [do seem to be in the latest Elixir](http://elixir-lang.org/docs/stable/elixir/DateTime.html#from_unix/2).  Am I wrong about that?  If I'm not, is it still OK to remove them?

[2016-10-04 01:33] JEG2 commented on #5260
I seem to have it a version behind as well:

[code]

[2016-10-04 07:14] josevalim commented on #5260
Oops, it was meant to be `NaiveDateTime.from_unix`. I will fix the description. Thank you!

[2016-10-04 07:21] josevalim commented on #3342
@scouten Elixir does not use any particular Erlang version, it uses the one in your system. So you can run `elixir -v` and let us know the version reported to be double sure you are on Erlang 19.

[2016-10-04 12:24] trusche commented on #5257
Hi all,

I'm new to elixir (love it!), so forgive me if I'm being obtuse. This is marked as closed, so I compiled elixir from the latest source, yet the error persists for me. Am I looking in the wrong place to fix this problem - would in be in one of the libraries I'm using and not in elixir itself?

elixir -v

[code]

mix -v

[code]

mix test --cover

[code]

[2016-10-04 12:39] fishcakez commented on #5257
@trusche have you recompiled the affected modules since updating elixir?

[2016-10-04 12:54] trusche commented on #5257
@fishcakez Yes, unless I did it wrong. I did both `mix deps.clean --all --unlock` and `mix compile --force` to no effect.

[2016-10-04 13:14] fishcakez commented on #5257
@trusche would you be able to show an example project? Perhaps your mix.lock might suggest where it is coming from because the line (location is erlang) might be set to -1 elsewhere.

[2016-10-04 13:23] JEG2 commented on #5260
Do we also want to remove `NaiveDateTime.utc_now/0`?  It uses `from_unix/2`, but could be rewritten.

[2016-10-04 13:55] josevalim commented on #5257
Is your app available online? This issue is not specific only to raise, a
library could be generating lines with -1. So you can either try the sample
case in the issue and see if it raises or let's us know if the app is
online so we can give it a try.

On Tuesday, October 4, 2016, James Fish <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br

[2016-10-04 13:55] trusche commented on #5257
@fishcakez I sent you an invite. @josevalim No it's not, sorry.

[2016-10-04 13:59] trusche commented on #5257
@josevalim well, the source code is online, if that's what you mean. Will send you an invite too. Thanks for looking, much appreciated.

[2016-10-04 14:03] trusche commented on #5257
FYI, I just reproduced this with a brand new phoenix app, so I don't think it's anything specific to my app. Possibly to my environment. Let me know if there's any other info I can provide please.

[2016-10-04 14:05] josevalim commented on #5257
@trusche what is the phoenix version in this new app? old phoenix_html and phoenix versions had this issue but it has been fixed in more recent ones. The problem should disappear if you move to the latest.

[2016-10-04 14:07] trusche commented on #5257
[code]

[2016-10-04 14:08] josevalim commented on #5260
@JEG2 `utc_now` now is going to stay. `from_unix` and `to_unix` will be removed.

If you look at the from_unix implementation, you may notice it is effectively an `add(naive_datetime, integer, precision)` operation. Similarly, `to_unix` is `diff(naive_datetime, naive_datetime, precision)`. So the goal is to expose both `add` and `diff`` instead of the specific `from_unix` and `to_unix`.

Also from

[2016-10-04 14:09] josevalim commented on #5257
Yup, those are recent enough. We will have to investigate what is causing it then.

[2016-10-04 14:13] trusche commented on #5257
In case it's any help, I'm on OS X 10.11.6, Homebrew 1.0.6. I had elixir 1.3.3 installed via brew, then installed 1.4.0-dev from source. But I'm 99.9% certain it's not picking up any 1.3 leftovers. All the executables in the path are pointing to the binaries from the source install.

[2016-10-04 16:43] trusche commented on #5257
Saw this: https://github.com/elixir-lang/plug/issues/456 and can confirm that downgrading plug to 1.2.0 fixes the issue for me. Thanks @josevalim and @fishcakez !

[2016-10-04 22:43] JEG2 commented on #5260
Sorry for all of the questions.  I'm trying to help with this issue, but, as you can tell, I'm clueless.  Please do ignore this if you don't have the time.

Does my `NaiveDateTime.add` function need to support `System.time_unit` or just seconds?  I'm having a hard time figuring out how to add a number of microseconds.

[2016-10-04 22:55] josevalim commented on #5260
@JEG2 it is totally fine to ask. I am the one sorry for the short answers. :)

We should support any precision but you can start with seconds. This is the rough sketch of an add/3 function:

[code]

There is no guarantee this works but it should give you an idea on how the computations are done.

[2016-10-06 18:03] jbranchaud opened #5293 "Adding unicode example to Regex docs"
The docs for Regex mention, toward the beginning, that the `u` modifier can be used for Unicode specific patterns. There are no examples of using it throughout the rest of the page though. I suggest adding an example to one of the function examples, e.g. for [`scan/3`](http://elixir-lang.org/docs/stable/elixir/Regex.html#scan/3):

[code]

This example has the added benefit of also showing off its

[2016-10-06 18:38] josevalim commented on #5293
Yes, please!

[2016-10-06 22:58] #5293 closed

[2016-10-07 10:45] josevalim commented on #3400
Hello everyone,

I have done some research on this topic and I will present my conclusions.

IEEE 754 is a standard for floating pointing arithmetic. It defines operations in two radices, 2 and 10. The standard defines what is correct rounding:

To avoid confusion, I won't use the term "rounding" on its own. I will use the term  "rounding precision" to refer to the rounding precision and "rounding

[2016-10-07 14:51] ewildgoose commented on #3400
Jose, thanks for phrasing the issues succinctly.

There is clearly no perfect answer, here, it's about definitions and intended purposes. However, for many purposes I would find it more useful to get the following result, disregarding that IEEE 754 would indicate otherwise

[code]

As "justification by example", I examined LibreOffice, Excel and Java and their preference is the result above (scree

[2016-10-07 15:25] josevalim commented on #3400
Since Erlang implements IEEE754, with all operations such as float additions, subtraction and so on based on IEEE754, I believe it is important to follow IEEE754 recommendations.

The example you posted above is inconclusive as proof that those languages are operating on radix 10. In fact what you showed is that those languages perform rounding half up instead of half even. This seems to be the ca

[2016-10-07 15:31] josevalim commented on #3400
Please disregard my previous answer. Even with a half up direction, those numbers above should have been rounded down since 12.3415 is effectively 12.3414999999999999147. I will have to investigate how Java and Excel are performing rounding to give an appropriate answer.

[2016-10-07 16:46] #3400 closed

[2016-10-07 17:47] ewildgoose commented on #3400
Are these results as you would expect?

[code]

[2016-10-07 18:10] awetzel commented on #3400
First thank you so much for your quick and hard work Jose : Float.ratio, new function comments, and determinist fixed-point rounding/dec conversion close the main issue.

But I still think a combination of fixed-point rounding->decimal conversion then decimal "digit rounding" would be a nice to have, but actually it makes more sense in a "Float to String" or "Float to `%Decimal{}` conversion than

[2016-10-07 20:47] josevalim commented on #3400
@ewildgoose thank you, there was loss of precision in the division operator we were using at the end of rounding, I am now encoding the integer to float back without loss.

[2016-10-08 11:02] Fahrradflucht opened #5296 "Incorrect error message on File.rmdir! if it contains files"
### Environment

* Elixir version (elixir -v): Elixir 1.3.3
* Operating system: macOS 10.12

### Current behavior

[code]

### Expected behavior

[code]

[2016-10-08 11:15] josevalim commented on #5296
Unfortunately we are relaying the posix error message which is eexist: http://lxr.free-electrons.com/source/include/uapi/asm-generic/errno-base.h#L20

We could change it specially for rmdir! but I would prefer to note in the documentation rather than change the underlying unix error semantics.

[2016-10-08 16:05] eksperimental commented on #5296
I think we should tailor a message.
Current message is extremely disguising because it's telling you it cannot remove a  dir, because this dir exists! WTH??!
It is not intuitive for users to go and read the documentation for `rmdir` when they see a message like this.

this is what GNU coreutils does

[code]

[2016-10-08 16:08] josevalim commented on #5296
@eksperimental Given that rmdir example, I am convinced. Thank you. :heart:

[2016-10-08 16:52] eksperimental commented on #5296
I can take care of it if @Fahrradflucht  is alright with it.

[2016-10-09 09:03] lexmag commented on #5256
Closed via #5295.

[2016-10-09 09:03] #5256 closed

[2016-10-09 09:24] josevalim opened #5297 "Make sure and/or raises badbool"
/cc @lexmag

[2016-10-09 10:26] Fahrradflucht commented on #5296
@eksperimental sure go ahead

[2016-10-09 14:21] #5094 closed

[2016-10-09 14:23] josevalim commented on #5094
Thank you @austinsmorris! Your app helped a lot. I have fixed this in master.

I have decided to not backport it to the v1.3 branch because it affects reenabling tasks inside umbrella projects in general and I am concerned releasing the fix in a point release may break other developers workflow that may be relying on the bug accidentally. It will be included in v1.4 though (which will hopefully be

[2016-10-09 16:09] austinsmorris commented on #5094
Thanks @josevalim!  1.4 should be ok.  Work arounds already exist in edeliver for 1.3.x.

[2016-10-10 07:18] ewildgoose commented on #3400
It would seem useful to support rounding to take a negative precision (ie round to hundreds, thousands).

Also it would seem desirable to support precision the full size of float, ie much more than 0..15. Consider that you might want to round 1.2345e-50 to some number of DP. I would have some cause to ponder whether there is a loss of precision on the final divide doing this, but I wonder if your

[2016-10-10 07:25] josevalim commented on #3400
@ewildgoose those are feature requests. The goal of this issue is to fix the precision bug in the previous implementation.

If you need more features in Float.round, please start a new discussion in elixir-lang-core. But I would rather focus on improving the performance of this function using more recent algorithms before adding more features into it. So it is likely new features are releases unti

[2016-10-10 09:10] alco commented on #5024
I've just upgraded to Elixir v1.3.4 and it found a bug in our code, in a gen server's init:

[code]

Elixir v1.3.3 didn't warn about the unused variable `s`, v1.3.4 does.

Both examples from the earlier discussion here now also emit warnings on v1.3.4. Does this mean the issue is resolved?

[2016-10-10 09:23] josevalim commented on #5024
@alco beautiful. I optimized the compiler to emit less intermediate variables and apparently we fixed this bug in the process.

@lexmag also spotted the fix and is writing a test. So I will move the milestone to v1.4.0 and assign it to @lexmag. He can close the issue once he pushes the test. :)

[2016-10-10 21:39] #5024 closed

[2016-10-11 10:40] sashaafm opened #5306 "ArgumentError when delegating a callback with a tuple as a parameter"
### Precheck

I saw this [issue](https://github.com/elixir-lang/elixir/issues/4759) which seems to be a similar problem. I'm not entirely sure if my case is a bug or working as intended.

### Environment

* Elixir version (elixir -v): 1.3.2
* Erlang version (erl -v):  19
* Operating system:         Ubuntu 16.04 64-bit (Ubuntu Mate variant)

### Current behavior

When passing a tuple as an argument

[2016-10-11 10:55] josevalim commented on #5306
It is an argument error during compilation. It means you are passing invalid arguments to defdelegate. You cannot pattern match at the same time you are delegating. If you need to pattern match, you should pattern match on the function you are delegating to, not on the one delegating.

[2016-10-11 10:55] #5306 closed

[2016-10-11 10:57] sashaafm commented on #5306
Thank you José.

[2016-10-11 12:00] ewildgoose commented on #3400
OK, so fastest performance is to use a NIF.  I observe for example that io_lib.format implements a function which passes your current test cases:

[code]

I concede I didn't dig through the source to find why it's not faster, but it seems like it should be fixable? (currently it's slower than your proposed replacement function)

[code]

I also present the following function for analysis.

[code]

[2016-10-11 12:15] josevalim commented on #3400
Thank you @ewildgoose. Improving the performance of Float.round is always welcome.

However, as previously asked, let's please deter from moving the discussion to solutions that are not backed up by reference implementations or academically:

As pointed earlier, we have papers and algorithms, as well as the IEEE754 standard, that we have based our current results on. Also, as previously stated, yo

[2016-10-11 14:24] ewildgoose commented on #3400
I answer with care, because you sometimes assume I'm being bloody minded when I'm just trying to be explicit...

Because I don't fully understand your reply here, therefore others might not, let me try and answer in several ways, hopefully clarifying several questions others might have. (please forgive if I mis-answer though - I am *trying* to answer what I think is your point)

Firstly, I offered

[2016-10-11 15:05] ewildgoose opened #5307 "Rename the Float.round function and offer alternative implementations"
There is a new implementation of Float.round, which is implemented according to IEEE754 rules. Approximately this means that the definition of the function is sensible if you are doing lots of IEEE754 mathematics and expect the round function to assume you are operating on a full double value. However, it leads to surprises if you have fed in some decimal numbers and expect to perform arithmetic a

[2016-10-11 15:13] josevalim commented on #3400
@ewildgoose I just want to say I agree with everything you said.

Yes, this will help move the discussion forward. For reasons you summed up really well, I would like the function named `round` to adhere to IEEE754. However, if you want to introduce a function named `make_it_so/2` or `decimal_round/2`, we can start such discussion. I would suggest for us to move it to a separate issue to keep thin

[2016-10-11 15:39] josevalim commented on #5307
The whole point of binary floats is that, once you write it, even as a human input, you will have loss of precision. Assuming otherwise is *crazy*.

Yes, it *does*. But that's true for all *float* operations.

[code]

Please tell me a standard, paper or any material that says this is an OK assumption to make. Because IEEE754 tells exactly how to round every after operation and which of those float

[2016-10-11 15:39] #5307 closed

[2016-10-11 16:40] ewildgoose commented on #5307
Look, you have completely twisted my words... I said very clearly that you have approx 17 sig figures of accuracy with Double.  So my whole point is that a big chunk of interesting stuff can be done inside that space with *NO* loss of precision.

Computers always (usually) work in a finite precision, so you don't magically fix this by working in decimal, all you do is shift the problem computation

[2016-10-11 17:12] josevalim commented on #5307
Oops, I didn't mean to do that. To be clear, what I mean is that, you should not write 5.675 and expect it to be accurately represented as 5.675 when using binary float numbers. You can, however, accurately represent that using a decimal. Since you are talking about human input, a decimal floating point will most likely be the best format to represent human input, so my recommendation is to pick t

[2016-10-11 17:33] steve-fan commented on #5264
@gonglexin I got the same problem, help me out please! 😄

[2016-10-11 17:34] josevalim commented on #5264
@steve-fan when did you install Erlang? How and which version?

[2016-10-11 22:53] uri opened #5309 "Errors in nested apps within an umbrella project have relative paths"
### Environment

[code]

Operating system: macOS Sierra 10.12

### Current behavior

Compiling an umbrella project will show relative paths when there is an error:

[code]

Here is the structure of the example app I used:

[code]

### Expected behavior

Error message should reference `apps/nested_app/lib/nested_app.ex` instead of  `lib/nested_app.ex`.

[2016-10-12 02:04] gonglexin commented on #5264
@steve-fan Actually, I can't reproduce it right now. I just uninstalled Elixir from homebrew and had a whole new installation via [asdf](https://github.com/asdf-vm/asdf) when I encounter this problem last time. Maybe you can reinstall Erlang and Elixir and have another try.

@josevalim But I do remember that it hangs for several seconds before returns `false` when I try to connect a node

[2016-10-12 08:26] josevalim commented on #5309
@uri yes, when compiling an application, we need to change into that application directory, hence we report this line:

[code]

Unfortunately there isn't much we can do. Changing the directory into the application is essential in case developers are using relative paths and that will affect warnings and error reporting.

[2016-10-12 08:26] #5309 closed

[2016-10-12 13:41] SekiT opened #5310 "`String.replace_leading/3` goes into infinite loop"
### Environment

* Elixir version (elixir -v): 1.3.4
* Operating system: macOS Sierra

### Current behavior
It seems `String.replace_leading/3` goes into an infinite loop when the second argument is an empty string.

[code]

### Expected behavior

`String.replace_leading("foo", "", "")` should be `"foo"` I think.

[2016-10-12 15:04] cmaggard commented on #5246
The tokenizer output (below) seems to have an extra eol that isn't being discarded when a line continuation is used leading into the comment. I don't have enough domain experience with the tokenizer or yecc source to make a solo contribution here, but I'd be happy to help anyone who wants to dive into it with me.
[code]

[2016-10-12 17:08] josevalim commented on #5310
It is fixed in master, thank you!

[2016-10-12 17:08] #5310 closed

[2016-10-12 22:34] scouten commented on #3342
@josevalim: Sorry to have let this linger. I just checked and it looks like we are on Erlang 19. I see this when I run `elixir --version` inside the Docker image:

[code]

[2016-10-13 01:08] uri opened #5318 "Newline character ("\n") breaks doctest"
### Environment

[code]

Operating system: macOS Sierra 10.12

### Current behavior

When including a string in a doctest that contains a newline character ("\n") the doctest crashes because of a syntax error:

[code]

Here is the test in question:

[code]

Implementing the test outside of a doctest works as expected:

[code]

### Expected behavior

The doctest should pass as well.

Here is a repo

[2016-10-13 10:26] #5260 closed

[2016-10-13 12:31] ymtszw opened #5319 "Logger.App.start/2 not uninstalling SASL logger from error_logger (possibly typo?)"
### Environment

* Elixir version (elixir -v): 1.3.4
* Operating system: OSX 10.10.5

### Current behavior

As stated in [`Logger`'s doc](http://elixir-lang.org/docs/stable/logger/Logger.html), when `:handle_sasl_reports` set to `true`, `Logger` app should uninstall [`sasl`'s handler](http://erlang.org/doc/man/sasl_app.html) from `error_logger`.

However it looks still installed even with `handle_

[2016-10-13 12:50] ymtszw commented on #5319
After looking into history of said file, I've found it was correct before, but certainly typo was introduced at c80b211

I just opend PR

[2016-10-13 16:00] #5319 closed

[2016-10-14 03:24] Kabie commented on #5318
Isn't that supposed to be `\\n`?

[2016-10-14 07:43] josevalim commented on #5318
TL;DR:  It is supposed to be \\n (tks @Kabie)

Yes, `\\n` would certainly work or using the `~S"""` sigil. I kept the issue open to investigate if doctest could cope with the reported approach but it cannot. doctest uses new lines and indentation to know when the code samples finish and the example above ends-up being interpreted as:

[code]

Which means that the final quote is not present in the

[2016-10-14 07:43] #5318 closed

[2016-10-14 09:39] #5296 closed

[2016-10-15 03:38] josevalim opened #5324 "Consider adding a logger pool"
Instead of having a single logger process that may be a processing bottleneck, we could allow a pool of loggers to be started and dispatch to it based on the caller PID. When a handler is added, it should be added to all logger pool entries.

/cc @fishcakez

[2016-10-15 08:49] k-solutions commented on #5324
Yes I was thinking in that direction too and we should add some : logger_pool_size application config option.
How about non local PID logging?

[2016-10-16 13:13] eksperimental opened #5325 "Doc test warning introduced in Kernel.++/2"
My [latest commit on the `Kernel.++/2` function when dealing with improper lists](https://github.com/elixir-lang/elixir/commit/16b3e889bc8b66ea5fef616a19ee67a70862d990#diff-e06d5ebc2907d951188e88476f85af51R956) introduced a doctest warning when compiling Elixir.

[code]

I would like if there is a way to suppress this warning.

[2016-10-16 13:40] josevalim commented on #5325
Compilation warnings cannot be silenced from tests. The only option is to remove the `iex>` and have a separate paragraph explaining it. I will change it in master. Thank you!

[2016-10-16 13:40] #5325 closed

[2016-10-16 13:42] eksperimental commented on #5325
ok. thank you @josevalim

[2016-10-16 14:37] ThomasArts opened #5327 "OptionParser.to_argv/1 cannot deal with :count switches"
### PreCheck

This is between a bug report and a feature request...
### Environment
- Elixir version (elixir -v): Elixir 1.4.0-dev (c07c345) on Erlang R19
- Operating system: MacOS
### Current behavior

Assume you have a list of options in which of them is a `:count`, i.e., can occur several times and only the number of times it occurs is taken into account.

The issue I have is translating this b

[2016-10-17 01:44] josevalim commented on #5327
Excellent bug report! Thank you @ThomasArts.

Quick question. Shouldn't the real symmetry test be written as:

[code]

i.e. we can only convert the options back to argv, the args should be concatenated after.

In any case, we will likely need the switches version as well as improve the error reporting side.

[2016-10-17 06:30] ThomasArts commented on #5327
I wrote the test like this on purpose. If you are not the implementer, but user of tf the library, it appears to be the the following types apply:

[code]

In other words, parse gives you something from an argv and the inverse is that you give that something back to to_argv and get your original argv back.

Imagine that you change the type of argv() to a %Argv struct instead of a list. Then code t

[2016-10-19 01:09] eksperimental opened #5337 "Bug in `mix test --timeout :infinity`"
lib/mix/lib/mix/tasks/test.ex:168

OptionParser switches is set to integer, excluding `:infinity` as a valid option.

[code]

We are also allowing negative integers. the test will run, but we will get a:
`** (ErlangError) erlang error: :timeout_value`

[2016-10-19 01:09] eksperimental commented on #5337
I can volunteer to fix this if you guide me in the direction you want this issue to be solved.

[2016-10-19 01:59] josevalim commented on #5337
I think we should make `--timeout 0` become infinity. We already use something similar in `--seed 0`.

[2016-10-19 02:25] eksperimental commented on #5337
i think it can be confusing because in receive `0` and `:infinity` are totally different. one the opposite of the other.

[2016-10-19 02:27] josevalim commented on #5337
Alright, so to keep things simple, it is probably best to just use `--trace` or set a really high value, like 300000, that should be enough.

[2016-10-19 02:27] #5337 closed

[2016-10-19 11:06] kelostrada commented on #5115
hey, is there somewhere any discussion regarding this? How will it work? Do you plan on making possible to use two different implementations of the same protocol in two different dependencies for instance, or resolution of conflicts means you will be able to chose which implementation to use ?

[2016-10-19 11:17] josevalim commented on #5115
The latter. You cannot chose per dependency.

[2016-10-19 11:40] josevalim commented on #5248
We are not doing the deprecation. Once the discussion started, folks have been sending more and more code samples where the change above would have undesired results and make the code harder to read.

[2016-10-19 11:40] #5248 closed

[2016-10-19 12:13] eksperimental commented on #5337
`--trace` is a good trick, but that doesn't solve the bug.
OptParser should accept every valid option.
if a boolean OR "`integer` OR `:inifity`" cannot be set, i think it will be better off to remove this switch, and let ExUnit deal with it.
the bad thing is that every test will have to be run with an invalid timeout.

[2016-10-19 12:14] eksperimental commented on #5337
how about just parsing "manually" this particular entry, mimicking OptParser switches?

[2016-10-19 12:32] josevalim commented on #5337
I think a high value or --trace will do for now. I would prefer to keep
things simple than add complexity for a quite rare use case.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-10-19 18:06] sotojuan commented on #5248
Thanks for listening to the community!

[2016-10-19 18:23] daveshah opened #5341 "Usage of "cons" within "if" fails to compile"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir version (elixir -v): 1.3.0
* Operating system: OSX 10.11.6

#

[2016-10-19 18:26] josevalim commented on #5341
Thank you. This has been reported in #5256 and has already been fixed in a later commit.

[2016-10-19 18:26] #5341 closed

[2016-10-20 13:55] josevalim opened #5344 "Add Date/Time/NaiveDateTime.compare/2"
It must return `:eq | :lt | :gt`.

/cc @lau for sanity checking purposes

/cc @JEG2 in case he is interested in tackling this one too :D

[2016-10-20 14:09] lau commented on #5344
I have a good idea for an implementation for this.

[2016-10-20 14:46] lau commented on #5344
Making erlang-style tuples and comparing them should work.

The following could be a new issue: We could also compare all `DateTime` structs - with any time zone -  using the offsets. Using the offsets instead of calling tzdata means we will use the rules that were in place at the time the struct was created. Just like how it is with `DateTime.to_unix/2`.

[2016-10-20 14:50] josevalim commented on #5344
@lau oh, so we can implement DateTime.compare/2 without relying on tzdata? If so, we should definitely include it too. Thank you!

[2016-10-20 14:55] lau commented on #5344
Yes

[2016-10-20 15:55] JEG2 commented on #5344
I would love to help, but I'm currently selling one house and building another.  My hair is a little on fire.  Sorry!

[2016-10-20 15:58] josevalim commented on #5344
@JEG2 thanks for the heads up and good luck! :D

[2016-10-22 15:48] ottolin commented on #5344
I can help on this one if no one is working on it.

To make sure I'm understanding correctly, we would like to use to_erl and then compare the tuples directly for Date/Time/NaiveDateTime. And for DateTime which contains utc/std offsets, we can compare the converted number of seconds after adjusting the offsets.
Is that correct?

[2016-10-22 16:06] josevalim commented on #5344
@ottolin yes. also keep in mind that all of those except Date have microseconds and they are not in the erlang tuple, so you would have to consider them too. If you prefer, you can start with the date and time ones. :)

[2016-10-23 05:35] ottolin commented on #5344
According to the documentation, precision of microseconds is being used when representing the microseconds to external format.
So probably when comparing two Time structs with same values but of different precisions should return `:eq`.
Or do you prefer the comparison is done after trimming the microseconds according to precision?

[2016-10-23 09:18] josevalim commented on #5344
@ottolin theoretically the values above are not possible. If the precision for the second one is three digits, it would at best be: `{123000, 3}`. I think we can simply compare the microseconds value and ignore the precision field. @lau, what do you think?

[2016-10-23 11:00] lau commented on #5344
@josevalim Yes, I think it makes sense to ignore the precision field.
Erlang style tuples, but with the microsecond as a fourth element of the time part should work.

An example of what I mean by such a tuple is found in Ecto here: https://github.com/elixir-ecto/ecto/blob/e2dca0e208c9d5239b319977765980c6bf680349/lib/ecto/date_time.ex#L644

Maybe it is easiest and fastest to make the tuple "manuall

[2016-10-23 11:30] josevalim commented on #5344
Yup. Building the tuple manually should be fine too. We can build one big tuple with all 7 elements.

[2016-10-23 12:13] eidge commented on #5324
Is this something you would like to see someone prototype, or just discuss at the moment?

Also, are you keen on keeping the GenEvent or should this wait for GenStage to be stable?

(I would love  to help with this if possible)

[2016-10-23 18:10] eksperimental opened #5351 "literal float is not a valid typespec"
Code:

[code]

will throw:

[code]

In the typespecs page it is mentioned that

    Literals

    The following literals are also supported in typespecs:

    type :: :atom                         ## Atoms
          | 1.0                           ## Floats
          | 1                             ## Integers
          | 1..10                         ## Integers from 1 to 10

and checking http://

[2016-10-23 18:37] josevalim commented on #5351
Yes, we should fix the docs. A PR is appreciated. :)

[2016-10-23 19:00] eksperimental commented on #5351
@josevalim same happens with
`improper_list(type1, type2)`

[2016-10-23 19:01] eksperimental commented on #5351
I will submit a PR with a fix to the docs, and a test that verifies everything expressed in the docs

[2016-10-23 19:05] josevalim commented on #5351
@eksperimental yup, we have only `maybe_improper_list`.

[2016-10-23 23:10] eksperimental commented on #5351
@josevalim actually, it should be replaced with: `nonempty_improper_list/2`

[2016-10-23 23:12] eksperimental commented on #5351
@josevalim Erlang's been bitten by the same documentation bug.
http://erlang.org/pipermail/erlang-bugs/2011-September/002576.html
it makes sense why there is not such a type.

[2016-10-24 06:55] #5344 closed

[2016-10-24 13:29] josevalim opened #5353 "Support iolists in Inspect.Algebra"
This way the Inspect implementation no longer needs to convert iolists to binaries.

[2016-10-24 14:08] josevalim commented on #5353
Since we need to calculate byte_size, it is cheaper to convert to a binary before than using iodata_length.

[2016-10-24 14:08] #5353 closed

[2016-10-24 23:17] fishcakez opened #5356 "Raise a detailed error for default implementations for behaviours that currently exit/1"
For example the `handle_call/3` implementation defined by `use GenServer` does `exit({:bad_call, req})`, we could raise an exception with a message explaining the situation.

[2016-10-25 18:20] josevalim commented on #5351
Thank you! I did not know that. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-10-25 18:45] josevalim commented on #5324
We certainly would not migrate to GenStage. It would be a pool of GenStage
and we would take care of adding handlers to all pool entries.

We may get rid of GenEvent too but we are not yet sure if it is worth it.
Probably not if we introduce a pool.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-10-25 18:53] eidge commented on #5324
Yup, makes sense. Mind if I take a stab at this? Or is it not up for grabs yet?

[2016-10-25 19:35] josevalim commented on #5324
Not for grabs yet because we still need to benchmark and test multiple scenarios. If you want to start with benchmarks, that would be welcome. We need to set up benchmarks for the current solutions and use it to verify prototypes.

[2016-10-25 20:21] eidge commented on #5324
Ok makes sense.

Will create a sample app to benchmark the Logger here: https://github.com/eidge/elixir_logger_benchmark

[2016-10-26 19:09] eksperimental opened #5360 "%{...} invalid typespec"
Working on https://github.com/elixir-lang/elixir/issues/5351 and writing a test that checks every single typespec described in the documentation, I found another bug.

[code]

[code]

The [Maps](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/pages/Typespecs.md#maps) section is not particularly clear, but what I get from this is that i could use the elipsis for maps as in `%{foo: inte

[2016-10-26 19:35] josevalim commented on #5360
@eksperimental if it doesn't work, I would remove it for now. Alternatively we can make `...` be equivalent to `optional(any) => any`. @ericmj thoughts?

[2016-10-26 19:43] eksperimental commented on #5360
Additionally I would like to know if `%{type1 => type2}` is equivalent to `%{required(type1) => type2}`

[2016-10-26 20:20] ericmj commented on #5360
`%{...}` and `%{optional(:foo) => bar(), ...}` is supposed to work but it seems like the tests are missing for it. It's not equivalent to `optional(any) => any` in the erlang AST so we need to support it I think.

No, the former is not valid syntax.

[2016-10-26 20:43] josevalim commented on #5360
@ericmj are we sure `...` is supported in Erlang? I couldn't find the docs. In any case, if it is supported, it is only on 19.

[2016-10-26 20:52] eksperimental commented on #5360
`...` does not appear in the documentation, and `%{type1 => type2}` does

[2016-10-26 22:31] liveresume commented on #5228
I believe this is happening to you on auto-recompile as it is for me.

If you make changes to the Encoder you have to stop the app and restart to see the changes.

[2016-10-26 22:44] ericmj commented on #5360
`#{...}` was supported in OTP 18 but was dropped when OTP made breaking changes to the typespec syntax and AST for maps in OTP 19. It should now be `#{_ => _}` or `#{any() => any()}`. I guess we can also drop `...` since no one noticed it didn't work until now? I'm not even sure it worked before we updated the map typespec syntax.

`#{type1 => type2}` is equivalent to `%{optional(type1) => type2}`

[2016-10-26 22:53] eksperimental commented on #5360
thanks for all the info.
just one remark `%{type1 => type2}` does compile with no warning.

[2016-10-26 22:55] ericmj commented on #5360
It's only soft-deprecated for now. It's going to warn in the future.

[2016-10-26 22:57] eksperimental commented on #5360
@ericmj great. good to know.

I have just submited a PR related to this, I can remove `%{..}` and include it to that PR if you guys agree on getting rid of it.

[2016-10-26 22:58] ericmj commented on #5360
Thank you. I vote yes for dropping `%{...}` but lets wait for the rest of the core team's input.

[2016-10-26 23:05] josevalim commented on #5360
Yes, let's drop it and including it in the existing PR. :)

[2016-10-26 23:05] #5360 closed

[2016-10-27 13:17] eksperimental opened #5364 "Weird diff colouring on simple case"
the diff between these two strings give a really weird result

     left:  "@type(literal_map_with_arrow() :: %{optional(any()) => any()})"
     right: "@type(literal_map_with_arrow() :: %{any() => any()})"

![elixir_diff_wrong](https://cloud.githubusercontent.com/assets/9133420/19768580/43905610-9c82-11e6-8068-f09c61f64a28.png)

/cc @lexmag

[2016-10-27 13:42] josevalim commented on #5364
The diff does not have semantic understand of the string contents, so sometimes the behaviour above will happen.

[2016-10-27 13:42] #5364 closed

[2016-10-27 13:46] eksperimental commented on #5364
thank you

[2016-10-27 15:24] noam87 opened #5366 "Really Odd Behavior: Returned result mysteriously becomes Nil on any operation"
### Environment

* Elixir version (elixir -v): 1.3.3
* Operating system: Ubuntu 14.04

### Current behavior

(I'll post the `Caclc` module at the bottom. The code is really simple:

    average_bank_account = Calc.weighted_average(blocks, :full_bank_account)
    IO.puts "AVG=#{average_bank_account}"

This prints for example, "AVG=2.3"

However, I can't perform *any* operation on this value, it imm

[2016-10-27 15:42] #5366 closed

[2016-10-28 05:51] andyl opened #5368 "is_map? returns unexpected result for regex"
### Environment

Elixir 1.3.4 / Erlang 19 / Ubuntu 16.04

### Current behavior

`is_map?(~r/asdf/)` returns `TRUE`

### Expected behavior

`is_map?(~r/asdf/)` should return `FALSE`

Discussion: I'm a new elixir user.  This behavior surprised me and I spent 90 minutes figuring out what was going on.  After study, I came to understand the underlying implementation, the regex macro and internal repre

[2016-10-28 08:34] eksperimental commented on #5368
there is no way for Elixir to know the difference between a regular map and a regex,
because as stated in the Regex module documentation:

[code]

and structs are maps.

[2016-10-28 08:35] eksperimental commented on #5368
same happens with a range

[code]

[2016-10-28 08:35] josevalim commented on #5368
Closing as @eksperimental explained.

[2016-10-28 08:35] #5368 closed

[2016-10-28 11:03] josevalim commented on #5033
Please see #5367. We have decided to go with something that is based on `GenStage.Flow.map` and allows a streaming-bounded set of tasks to be computed. It is the more robust implementation of everything proposed. We have decided to call it Task.pmap because we will also add Task.Supervisor.pmap variant, which spawns supervised tasks. The rationale for going this way was after observing the usage a

[2016-10-28 11:03] #5033 closed

[2016-10-28 17:21] Jargonius opened #5374 "Grammatical error in kernel docs"
In [this file](https://github.com/elixir-lang/elixir/blob/v1.3.4/lib/elixir/lib/kernel.ex#L1100) it says, "Returns `true` if the two items are match."  I know what it means but it doesn't make grammatical sense.

[2016-10-28 18:24] eksperimental commented on #5374
this has been fixed in master
https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel.ex#L1081

[2016-10-28 19:09] josevalim commented on #5374
Thanks for reporting @Jargonius!

[2016-10-28 19:09] #5374 closed

[2016-10-28 19:11] #5351 closed

[2016-10-28 20:41] sschneider1207 opened #5378 "Cannot use pin operator with structs to match a variable key name"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: Win10

### Current behavior
[code]
[code]

### Expected behavior
Pin operator to work with a struct match similarly to how it does if the struct part of the match is omitted

[2016-10-28 21:14] ericmj commented on #5378
I wonder if this should be allowed since we are losing the compile time guarantees. You also can't construct structs with dynamic keys: `%Struct{key => value}`.

[2016-10-28 21:16] josevalim commented on #5378
@ericmj I think the match scenario is less troublesome because the only way it will succeed for an invalid key is the original struct has been "corrupted". However, we could argue that, for consistency with creation, we also shouldn't allow dynamic keys on matching.

It is indeed probably better to stick with structs at compile time only. You can always do `%{^key => ...}`.

[2016-10-28 21:16] josevalim commented on #5378
Let's wait until others chime to take a final decision.

[2016-10-28 21:26] Jargonius commented on #5374
You're welcome!

[2016-10-28 22:34] lexmag commented on #5378
I think consistency is quite important on this matter, and "structs at compile time only" sounds reasonable.

👍

[2016-10-28 23:59] pikeas opened #5383 "Changelog for released versions (including 1.3.x series!) missing"

[2016-10-29 00:05] ericmj commented on #5383
You can find them here: https://github.com/elixir-lang/elixir/releases.

The changelog.md file only has the releases for the current minor version.

[2016-10-29 00:05] #5383 closed

[2016-10-29 08:03] josevalim commented on #5378
Closing this then.

[2016-10-29 08:03] #5378 closed

[2016-10-29 08:17] pikeas commented on #5383
The Releases page is non-obvious, changes should be in `CHANGELOG.md` and/or directly linked from http://elixir-lang.org/

[2016-10-29 08:20] ericmj commented on #5383
To me the releases page is the obvious place to find information about releases. The changelogs are also linked to at the end of every release blog post http://elixir-lang.org/blog/2016/06/21/elixir-v1-3-0-released/.

[2016-10-29 08:25] pikeas commented on #5383
But there's no blog post for point releases.

Me, this afternoon:

I'm working on an Elixir project for the first time in a while, so `brew upgrade`.
Hm, Elixir 1.3.4 was installed and I was on 1.3.1, let's see what's new.
Check Github CHANGELOG, nothing.
Check Elixir blog, nothing.
Google "elixir 1.3.4 changelog" - Releases page is 2nd result but summary doesn't have the string 1.3.4, so looks li

[2016-10-29 08:42] josevalim commented on #5383
I have added a link to the end of every changelog that links to the changelog of the previous version.

[2016-10-29 09:06] pikeas opened #5384 "Inaccurate error for function clause"
Elixir 1.3.4/OTP 19 on OS X 10.11.6.

    iex(3)> :http_uri.parse("http://foo")
    ** (FunctionClauseError) no function clause matching in :string.substr2/2

These functions exist in `:string`:

- sub_string/2
- sub_string/3
- substr/2
- substr/3

There is no function called `substr2/2`.

[2016-10-29 09:12] pikeas commented on #5384
Er, I'm mistaken. Looks like `substr2` exists if I search Erlang docs, but `h :string.substr2/2` fails to find it because Elixir isn't compiled with Erlang docs.

[2016-10-29 09:12] #5384 closed

[2016-10-29 09:13] josevalim commented on #5384
There is no public function but there is a private one. If you check the stacktrace, you can see the path that led to substr2.

To fix the error you should use a charlist and not a string `:http_uri.parse('http://foo')` or prefer to use Elixir's own URI.parse that accepts strings. More information for integrating with Erlang here: http://elixir-lang.org/crash-course.html

[2016-10-29 09:16] pikeas commented on #5384
Yep, see my previous comment. :-)

However, I do think there's something interesting here. Is there any way for IEX's help function to know that `:string:substr2` exists but `:string:substr12345` doesn't, even when Erlang docs aren't compiled?

[2016-10-30 19:47] sylverlion opened #5388 "Improve error messages when something goes wrong"
### Environment
- Elixir version (elixir -v):

[code]
- Operating system:
  `masOS Sierra 10.12`
### Current behavior

I'm making an umbrella app and I'm using env variables to set a few parameters I need to tweak for my builds in all the apps of the project. Here's an example :

[code]

If some parameters in the `mix.exs` file are wrong (I have tried with `build_path`and `config_path` so far), th

[2016-10-30 20:59] josevalim commented on #5388
That's totally fine. Reporting the bug is the first step. If you send a PR, we appreciate it, if not, we will tackle it at some point. Thank you.

[2016-10-30 21:40] whatyouhide commented on #5388
I'm interested in tackling this one (as I see this as part of the "friendliness" of Elixir and have personally suffered from this myself a few times). As a first approach, I would say we can start with validating all the config in the Mixfile. Wdyt?

[2016-10-30 21:42] josevalim commented on #5388
@whatyouhide I think we need to validate in the places that uses them because there is always custom config. Some of those may end-up being in the project config (just pointing out though that it may not be the default answer).

[2016-10-30 21:54] whatyouhide commented on #5388
@josevalim sorry, I wasn't really clear :), I meant exactly that: every entity that uses the config in the Mixfile should validate the subset of the config it requires (for example, Gettext validates `:gettext`). For Elixir, we can start with the compilers and such as there's not much we can do for external libraries.

[2016-10-31 19:10] eidge commented on #5324
I've done an initial benchmark, for the console backend a noop backend and a really slow backend.

TLDR: On my machine (VM with 2 cores running inside a i7 @ 2.5 ghz Macbook Pro)

[code]

This is what I think is going on:

Basically we've got two bottlenecks the first one is the speed of the backend in itself, since we will default to synchronous calls once the mailbox reaches a configurable numbe

[2016-10-31 19:52] josevalim commented on #5324
@eidge great work, thank you.

What if we also benchmark how long it would take for those operations by wrapping directly to the IO device by using something such as `IO.puts(:stdio, log)`? Maybe we can then find information on how much we can saturate the IO process?

[2016-10-31 20:49] eidge commented on #5324
Thanks :)

I've added a **ConsolePutsBackend** that does everything the core :console does, except it uses IO.puts for IO (I wanted to see if :console was slow, it isn't an huge performance impact).

And a PutsBackend that does nothing except put the ```{Logger, msg, _, _}``` msg.

[code]

Curiously enough, the benchmark runs faster if I switch my tmux window to a different one while it is runnnin

[2016-10-31 20:57] josevalim commented on #5324
And how does that affect the regular console backend?

[2016-10-31 22:15] eidge commented on #5324
When redirecting output to file:

[code]

[2016-11-01 08:17] josevalim commented on #5324
@eidge great!

I have pushed a very simple commit that starts 3 other Logger genevent, simulating the pool: https://github.com/elixir-lang/elixir/tree/jv-logger-sample

Do we see any difference for the console backend, with and without redirecting to a file, with this very small proof of concept?

If we see a big difference, then it would justify a pool, otherwise it seems console works quite well

[2016-11-01 11:27] eidge commented on #5324
With the Elixir from that commit, things actually get a bit slower (probably within std dev though)

[code]

The main bottleneck seems to be the backend and not the logger, the logger seems to cap (on my machine) at 140k logs/s. This means that unless someone would actually need to log more than 140k logs/s, they would be able to by implementing a fast logger backend.

The Noop backend got faster

[2016-11-01 11:53] josevalim commented on #5324
We would send messages based on the caller PID, so we lose order but
messages from the same process are still ordered. However, everything
points to not adding a pool. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-11-01 12:53] eidge commented on #5324
Yup that makes sense. :)

[2016-11-01 12:55] josevalim commented on #5324
Alright, I will close this issue for now then. There is still a chance the GenEvent will be a bottleneck on machines with a high number of cores but we can wait until we have our hands on one of those.

Thank you @eidge! Your contributions were very valuable!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-11-01 12:55] #5324 closed

[2016-11-01 22:49] whatyouhide commented on #4082
Hello beautiful community,

I had a talk with @josevalim and we decided that for now elixir_make won't be a part of Elixir's standard library. There are a few reasons: first of all, it works well as a package so you can use it as any other dependency. Also, it has been out for a while now and only has ~5k downloads on Hex, so it's not being used like crazy. For this reason, we think that the cost

[2016-11-01 22:49] #4082 closed

[2016-11-02 09:49] muaazsaleem commented on #5327
Pushed a first draft for this issue.

Since both `--count1 2` and `--count1 --count1` compile to `count: 2`,  passing in an optional `opts` argument could solve the issue.

If you guys agree with this approach I could add the appropriate documentation.

[2016-11-02 10:46] #5327 closed

[2016-11-02 12:21] PragTob opened #5395 "Keyword.merge behaviour when a list is the second argument (docs/test)"
### Environment

* Elixir version (elixir -v):
[code]
* Operating system:
[code]

### Current behavior

The current behaviour is that when Keyword.merge is called with a normal list as the second argument it just appends the list.

[code]

### Expected behavior

Not sure, part of what this is about :) I see 3 options:

1. throw an error (as the second argument is no keyword list).
2. The current b

[2016-11-03 00:42] eksperimental commented on #5395
Great catch @PragTob
I think we should throw an error.

looking at the source code this function is not optimized, as we traverse keyword2, as many times as keyword1 elements we have.
I can work unless @pragtob is planning on taking a stab.

[2016-11-03 08:35] PragTob commented on #5395
I'd love to take a stab at this :) Not sure I'm proficient enough with Elixir yet to fix the performance but I might as well try and learn :D

Which reminds me, `Map.merge/3` is also significantly slower than `Map.merge/2` - might be related.

[2016-11-03 11:28] josevalim commented on #5395
I am not sure yet how we should solve this issue but it is worth mentioning that most functions in keyword will accept "improper" keywords:

    Keyword.get [:a, :b, c: 3], :c
    3

[2016-11-03 11:33] whatyouhide commented on #5395
@PragTob `Map.merge/2` is faster than `Map.merge/3` because it calls to `maps:merge/2` which is implemented in C, while `Map.merge/3` manually builds the resulting map with `maps:fold/3`.

[2016-11-03 16:40] lau commented on #5344
@josevalim related to this: Should we add the possibility of passing e.g. a `NaiveDateTime` struct to the `Date.compare/2` function? Then you could see if the `NaiveDateTime` is on the same date as another `Date`/`NaiveDateTime`/`DateTime`.

`Date.compare(~N[2016-01-01 16:00:00], ~D[2016-01-01]) == :eq`
`Date.compare(~N[2016-01-01 16:00:00], ~N[2016-01-01 03:00:00]) == :eq`

In the Calendar packag

[2016-11-03 19:03] josevalim commented on #5344
@l4u I would like to keep the Date compare specific to only dates. We could add cross data-type comparison to the Calendar module. What do you think?

[2016-11-04 03:33] Ljzn opened #5410 "The doc of `Supervisor.start_link/2` maybe not very clear"
[code]
https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/supervisor.ex#L298

We know a supervisor is a `process`, not a `module`.

Maybe "Starts a supervisor process with the given `module` and `arg`." is better.

[This is erlang's document](http://erlang.org/doc/man/supervisor.html#start_link-2)

[2016-11-04 09:22] whatyouhide commented on #5410
Good catch @Ljzn! Do you feel like fixing this yourself and opening a PR or do you prefer me to take care of it? 👍

[2016-11-04 09:42] Ljzn commented on #5410
@whatyouhide  Sure! : )

[2016-11-04 09:46] josevalim commented on #5410
Thank you. Closing this in favor of the PR.

[2016-11-04 09:46] #5410 closed

[2016-11-04 10:13] l4u commented on #5344
@lau see above 😄

[2016-11-05 19:55] vic commented on #5246
I made another quick test and the following also does not work:

[code]

This fails trying to call `puts/0`, just like if code were

[code]

This got me thinking on what the proper behavior should be for an escaped newline followed by a comment. Made a couple of examples on other langs just to get an example example on how  they handle this case:

Ruby calls `puts()` and then just evaluates the sy

[2016-11-05 20:08] whatyouhide commented on #5246
I do think that `\` means "don't consider the following newline as a expression separator such as newline or `;`". In such cases, this:

[code]

would be interpreted (by just ignoring - that is, removing, the newline) as:

[code]

[2016-11-05 20:12] bill-mybiz commented on #5246
Ah that's interesting. I was just looking at it from the usage POV. This framing of the issue does seem to change things to me, and also I have become quite comfortable with (and fond of) using paren syntax:
[code]

[2016-11-05 20:14] josevalim commented on #5246
Yes, `\` is literally about escaping the upcoming newline (that's why it is at the end of the line and right before the new line). So I believe we can close this.

[2016-11-05 20:14] #5246 closed

[2016-11-05 22:42] lpil commented on #5297
Is this adding a `BadBoolError` that would be raised when `and/2` is called with a non-bool as the first arg?

[2016-11-05 23:13] lau commented on #5344
@josevalim Accepting multiple data types is useful for many functions. I saw on the mailing list a`day_of_the_week` function mentioned. It would be useful to pass `Date`, `NaiveDateTime` and `DateTime` structs to that too. So if you have two different functions for everything in different modules, won't you end up with twice as many functions? It might make sense, but I'm just worried there will b

[2016-11-06 10:35] josevalim commented on #5344
@lau that's a very good point. However I am slightly worried about semantics and API confusion. For example, if we allow Date, NaiveDateTime and DateTime in `day_of_week`. Should we also allow `Date.compare(%Date{}, %DateTime{})`? If so, how the comparison would work? Should we consider the timezone offset? Also, should we also allow `Date.to_erl(%DateTime{})`?

Similarly, should we allow `DateTim

[2016-11-06 20:57] josevalim commented on #5297
@lpil yes!

[2016-11-06 22:30] eidge commented on #5356
I'm happy to tackle this.

From what I've found, exit/1 is only being used by:

`GenEvent - handle_call/2`
`GenEvent.Stream - handle_call/2 and handle_event/2`
`GenServer - handle_call/3 and handle_cast/2`

Thinking about throwing a ```__MODULE__.CallbackNotImplementedError``` with a message along the lines of:

"handle_call/3 is not implemented for #{msg}"

Does that make sense?

[2016-11-06 23:46] myronmarston opened #5426 "ExUnit: end-of-run test counts wrong when I run `mix test` in an umbrella app."
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

I've occasionally noticed that `mix test` in my umbrella app produces results that greatly exaggerate the number of tests in some of the sub-apps. [Here's](https://gist.github.com/myronmarston/35cbd241b15f586865f3333bdbe9c3e0) the complete output from running `mix test`.  Notice the

[2016-11-07 07:47] josevalim commented on #5356
@fishcakez please let us know which error you had in mind. :) I think a raise "message" may be enough too?

[2016-11-07 12:13] noizu commented on #1999
I get build issues with a symlinked priv folder on docker for windows (stable & beta) _if_ I am using gettext locales. Symlinks go a bit pear shaped on shared drives so this can cause issues for vagrant, virtual box, docker for windows, docker toolbox etc.

[2016-11-07 12:23] josevalim commented on #1999
@noizu Since Elixir v1.2, we ship with a build_embedded option that allows you to take explicit control over the compilation step and disables using symlinks altogether.

[2016-11-07 13:34] noizu commented on #1999
(bow) yep. Found it after some web based research. Works like a charm, more or less.

[2016-11-08 03:35] lau commented on #5344
Here is a principle that is quite simple: If a type contains all the needed information it can be transformed/downgraded to a "lesser" type and used as if it were that lesser type.

That's it. Now on to where that gets us:

`DateTime` and `NaiveDateTime` structs can be used with `NaiveDateTime.compare/2`, because both contain sufficient information to make up a `NaiveDateTime`. Any function in the

[2016-11-08 08:55] josevalim commented on #5344
Extremely helpful as always. Thank you @lau! :heart:

[2016-11-08 10:56] josevalim commented on #5344
Commit 35f492b746d0446b28274382ea359ffd1d55c278 allows NaiveDateTime and DateTime in most of the Date and Time functions as well as DateTime in some of the NaiveDateTime functions.

[2016-11-08 19:22] eksperimental opened #5431 "Warning in dependency is not under project's section in output log"
[code]

See al the warnings, are under their project section, but look at this one.

it should be under Earmark.

[2016-11-08 23:48] ericmj commented on #5431
Not related to this issue but the task inside `tasks/readme.exs` should be an alias or a proper mix task in `lib/`.

I don't know really how we can improve this except maybe changing the warning path from `tasks/readme.exs` to `deps/earmark/tasks/readme.exs` but that would be a hack. The warning comes from loading the dependency's `mix.exs` file and we have to load it at that stage to see if there

[2016-11-08 23:57] eksperimental commented on #4497
@ericmj I am trying to take a stab at it.
I just realized that  `~./mix/` doesn't hold any .ez file. it's all uncompressed, so it's hard to tell whether the files are the same, eventhough they have the same name.
So should we trust what's inside mix, and do not install it, and say: "It's already installed. run the command with `--force` if you want to overwrite it.
I don't know if there are situat

[2016-11-09 03:25] josevalim commented on #5431
Probably an alias. You can even make it something like: [readme: "run tasks/readme.exs"]

I think we load it because we have to compile it. Hex deps do not load mix.exs until compilation. :)

Unfortunately not yet.

[2016-11-09 10:38] ipinak commented on #5426
Try to run it with `--trace` to get a more detailed output of what was executed. Maybe that can help with troubleshooting.

http://elixir-lang.org/docs/stable/mix/Mix.Tasks.Test.html#module-command-line-options

[2016-11-09 11:25] ericmj commented on #5431
Yes, but that means we can only fix this for Hex dependencies, git and path would still have the bug.

[2016-11-09 13:23] ericmj commented on #4497
In that case I don't think it's worth it, the hash check is a very minor optimization anyway.

[2016-11-09 23:12] josevalim commented on #5431
@ericmj you are right. Unfortunately I don't think we can fix this without major changes, such as providing directory context to the warning system. :( I will mark this as unresolved.

[2016-11-09 23:12] #5431 closed

[2016-11-09 23:13] josevalim opened #5435 "Add @doc false to def init(_) in use Supervisor"
This means we will also need to improve the error message for bodyless clauses.

[2016-11-10 06:55] myronmarston commented on #5426
I'm not sure how the `--trace` output will help, given that it just gives you the test descriptions that are specific to our application's domain...but here's one part of it (for the `s3` app mentioned above):

[code]

It printed 3 tests, but then reported the total number of tests as 103.

[2016-11-10 10:10] josevalim commented on #5426
@myronmarston maybe they are really good tests and Elixir is just giving you bonus points. 😅

[2016-11-10 10:24] wojtekmach commented on #5426
@myronmarston it's a long shot, but do you have any skipped tests? I noticed this: `Excluding tags:  [:manual, :smoke]`. Perhaps, for some reason, we don't show the skipped tests in the summary.

[2016-11-10 11:39] ipinak commented on #5426
@myronmarston the formatter that handles this output seems to work correctly, it's weird that it consistently or kind of consistently adds 100. More specifically it counts every test, even the skipped ones. So it might be that you the `:manual` and `:smoke` tests are 100. Just a guess.

[2016-11-10 17:27] koolhazcker opened #5438 "UndefinedFunctionError instead of CompileError while calling unrequired Integer"
### Environment

* Elixir version (elixir -v):
[code]
* Operating system: macOS sierra

### Current behavior
[code]
### Expected behavior
[code]

[2016-11-10 17:32] josevalim commented on #5438
We can only know if Integer.is_odd is a macro if the Integer module has been loaded. So we can't quite provide the expected behaviour you listed BUT we should improve the error message for this case.

[2016-11-10 17:32] eksperimental commented on #5438
error is correct.
Integer.is_odd/1 is a macro. and you need to require before using it.

[2016-11-10 17:35] koolhazcker commented on #5438
@josevalim maybe it is possible to make it more like `Logger` since it gives a more informative error message:
[code]

[2016-11-10 17:38] josevalim commented on #5438
@koolhazcker that is only working because it happens that Logger has been loaded at this point. If Logger was not loaded, we wouldn't know.

[2016-11-10 17:39] koolhazcker commented on #5438
Ah, I understand now. Thanks for the explanation!

[2016-11-10 17:46] myronmarston commented on #5426
Yes, we have some skipped tests, but we definitely do not have 100 and that's not what's going on here.  When there are skipped tests, ExUnit includes the number in the summary.  For example, here's the output for one of our other sub-apps:

[code]

Notice that there are 7 tests total, of which 1 was skipped.  The summary line says "107 tests, 0 failures, 1 skipped".  For the `s3` sub-app I pasted

[2016-11-10 17:51] eksperimental commented on #5438
but since we are suggestion is_odd/1 we should say something like.

If you mean Integer.is_odd/1, you need to `require Integer` first.
or you might have mean one of  these:
- SomeModule.is_odd/1

Side note: it is weird that in the suggestions it doesn't mention the module name (it just says `is_odd/1` and not `Integer.is_odd/1`)

[2016-11-10 18:02] josevalim commented on #5438
@eksperimental  we don't need to mention the module name because the suggestions are specific to the given module, it would be redundant to do so. Other than that, that's the solution, yes. We need to see if what we are trying to call is a macro and, if so, act accordingly.

[2016-11-10 18:32] lexmag commented on #5438
It should already be solved via #5156, and available in master.

[2016-11-10 18:33] #5438 closed

[2016-11-10 18:33] josevalim commented on #5438
Confirmed it has been fixed.

[2016-11-10 21:00] sergey-ivlev opened #5439 "No warnings on unused variable in case and if"
Hello!
Thereis no warnings on unused variable in 'case' or 'if' construction.
Some code to reproduse bug
[code]
I have got only one warning for line 3
warning: variable new_state is unused
  lib/no_warnings_example.ex:3

* Elixir version (elixir -v): Elixir 1.3.3
* Operating system: Ubuntu 16.04

[2016-11-10 21:25] josevalim commented on #5439
This has already been fixed on master. :)

[2016-11-10 21:25] #5439 closed

[2016-11-11 06:47] michalmuskala opened #5440 "GenServer.cast/2 different behaviour"
Currently the implementation of `GenServer.cast/2` and `:gen_server.cast/2` differ slightly in how remote, not connected nodes, are handled. The Elixir version will try connecting synchronously to the node, while the erlang version will do this asynchronously spawning a process to do so.

Elixir: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/gen_server.ex#L796-L803
[code]

Erlan

[2016-11-11 11:35] fishcakez commented on #5440
We purposefully used a different behaviour so that semantics were consistent for all naming schemes and so that we had ordering of messages. Unfortunately we do not have that ordering guarantee. I have changed the tag to `bug` because I think it is more important to highlight that we can't provide the guarantee we were trying to than the behaviour is different to `:gen_server`.

[2016-11-11 13:06] fishcakez commented on #5440
Sorry I misunderstood an email. We do provide this guarantee and it is documented as such. This would be a backwards incompatible change.

[2016-11-11 13:23] michalmuskala commented on #5440
If we're aiming for different semantics it makes a perfect sense to have different implementation. I wasn't aware of the semantic difference between `GenServer.cast/2` and `:gen_server.cast/2`. Is this something that should be explicitly indicated in the docs?

[2016-11-11 13:39] #5440 closed

[2016-11-12 15:17] jrissler opened #5443 "Enum to_list odd behavior for range"
Not sure if I'm missing something here but this seems odd.

### Environment

Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.3.3

### Current behavior

iex(14)> b = Enum.to_list 41..55
')*+,-./01234567'

iex(15)> b = Enum.to_list 21..40
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

### Expecte

[2016-11-12 15:38] eksperimental commented on #5443
yes, you are missing this ;-P
https://github.com/elixir-lang/elixir/wiki/FAQ#4-why-is-my-list-of-integers-printed-as-a-string

[2016-11-12 15:41] jrissler commented on #5443
@eksperimental I see - all valid ASCII - thanks!

[2016-11-12 15:41] #5443 closed

[2016-11-13 10:33] pmontrasio opened #5444 "escript: wrong path for NIF libraries"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

[code]

To provide some context, this is a Raspeberry PI 3 with an external WiFi card. The program I'm working on uses [:wierl](https://github.com/msantos/wierl) and [:epcap](https://github.com/msantos/epcap) to put that WiFi card in monitor mode and read packets. The ```:epcap``` module includes a shared library which is

[2016-11-13 10:54] josevalim commented on #5444
Unfortunately that's a limitation of escripts. They cannot access anything in priv and therefore they cannot access embedded .so files. In other words, it is not currently possible to build escripts with NIFs in them.

[2016-11-13 10:54] #5444 closed

[2016-11-16 07:47] heiko-braun opened #5453 "Failed to load crypto library on mac os"
### Environment

* Elixir version (elixir -v): Elixir 1.3.4
* Operating system: Mac OS

### Current behavior

#### From ERL
Using the crypto library from erlang succeeds:

[code]

#### From Elixir (iex)

Using the same library from elixir fails:
[code]

[2016-11-16 08:22] josevalim commented on #5453
How are you starting Elixir and Erlang? Elixir does not do anything in particular to crypto, so it is unlikely to be an Elixir bug. :)

[2016-11-16 08:23] heiko-braun commented on #5453
Yes, it's strange. Using crypto straight from iex works as well:

[code]

[2016-11-16 08:23] heiko-braun commented on #5453
I am running it through `iex -S mix`

[2016-11-16 08:26] heiko-braun commented on #5453
The function that yields the error works as well straight from iex:

[code]

[2016-11-16 08:27] josevalim commented on #5453
Do you, by any chance, named your library :crypto or are depending on a project called :crypto?

[2016-11-16 08:30] ericmj commented on #5453
I have the same issue if I call `:observer.start` from iex and then call a function on `:crypto`:

[code]

If I call `:crypto` first it works:

[code]

Looks like it has something to do with the order applications are loaded.

[2016-11-16 08:33] ericmj commented on #5453
This issue happens with `erl` as well so it's unlikely to be an Elixir issue.

[2016-11-16 08:33] heiko-braun commented on #5453
@josevalim no lib or dep called crypto

[2016-11-16 08:34] heiko-braun commented on #5453
@ericmj I agree, it's not really an elixir issue I think. @josevalim feel free to close this.

[2016-11-16 08:39] heiko-braun commented on #5453
For the record and to back up @ericmj observations:

Calling `:crypto.supports()` first works, but breaks if I first `:debugger.start` and then `:crypto.supports()`

This leads to the error mentioned before. I am pretty new to elixir/erlang, but maybe this does ring a bell for somebody else.

[2016-11-16 08:42] josevalim commented on #5453
What are your erlang versions?

[2016-11-16 08:42] josevalim commented on #5453
I meant to ask @ericmj, we already know @heiko-braun's. :) Also, how have you both installed it?

[2016-11-16 08:42] heiko-braun commented on #5453
I've recompiled erlang from source

[2016-11-16 08:44] josevalim commented on #5453
I can also reproduce it locally on both my Erlang installs. Closing this as an Erlang bug. I will see if someone has already reported it to the OTP team. Thank you!

[2016-11-16 08:44] #5453 closed

[2016-11-16 08:45] heiko-braun commented on #5453
Thanks @josevalim

[2016-11-17 07:42] scouten opened #5458 "GenServer terminating with "no process" very difficult to debug"
### Environment

[code]

Operating system: MacOS 10.11.6

### Current behavior

The following message occurs occasionally in a certain unit test:

[code]

There is not enough context information here to determine what code was running at the time and how I might address this issue. I suspect that there's a race condition in my code in handling the shut down of a process group (maybe the processes

[2016-11-17 08:04] josevalim commented on #5458
We have plans to overhaul GenServer errors and exits for Elixir v1.5. We will make those plans publicly available soon. However, for now, there is not much we can do as those reports are coming directly from Erlang.

@fishcakez do you have any suggestion on how to get more information in this case?

[2016-11-17 10:46] fishcakez commented on #5458
Can turn on Logger level :debug for more information in that log message. I
think we show more of that information on master when above debug. I would
guess it's due to {:stop, :noproc, state}, perhaps stopping with monitor
:DOWN reason. It could also be trapping exits and getting :noproc exit
signal from parent.

Neither have a stacktrace. Don't think crash report will help here.

On Thursday, 17

[2016-11-17 18:43] josevalim commented on #5458
Ok, closing this as Ecto master will now show more information.

[2016-11-17 18:43] #5458 closed

[2016-11-17 18:47] michalmuskala commented on #5458
Did you mean "Elixir master"?

[2016-11-17 18:50] josevalim commented on #5458
Yes sorry.

[2016-11-17 23:00] josevalim opened #5461 "Revisit warnings to be errors"
In this issue, we will keep a list of warnings that we would like to make errors for Elixir v2.0. For now, we will try to have a single thread that lists all of them, but if we cannot manage the discussion, we can break it apart.

It is worth reiterating our compromise with warnings: many places we could error we raise warnings so users can get more feedback on each compilation and we don't allow

[2016-11-17 23:17] josevalim commented on #5461
I would like to discuss what we will do with:

If the function call or the variable also does not exist, an error will be raised anyway. Given parentheses are optional everywhere else, an error may be too imposing,  is a warning the correct decision here? That's my inclination.

Today this is a warning and the value set inside the case/cond/receive/if/&&/|| leaks out. On 2.0, we are going to chang

[2016-11-17 23:32] michalmuskala commented on #5461
Before talking about the substance of the warnings/errors I would like to address the way they are reported. Right now compiler errors are reported right away and stop the compilation. I believe it would make sense for things like that to be reported, but not stop the compilation (allowing other issues to be discovered). It would, though, fail the compilation at the end, so a recompile is required

[2016-11-17 23:32] stevedomin opened #5462 "Inconsistent behaviour of tasks in mix aliases"
### Environment

* Elixir version (elixir -v): 1.3.4
* Operating system: macOS Sierra 10.12.1

### Current behavior

I have the following aliases defined:

[code]

I'm using the `test.ci` to run tests using Heroku CI. In that environment I don't need to run `ecto.create --quiet` because the database is already created for me.

Unfortunately, due to the way aliases work the call to `test` in my `te

[2016-11-17 23:47] josevalim commented on #5461
@michalmuskala I honestly don't think that's possible. An error usually means the module cannot compile and trying to continue will lead to a series of cascading errors that will obfuscate the original error. For example, if a function fails to compile and we don't include it, another function that calls that local function will now fail. If module A depends on moduIe B at compile time and B fails

[2016-11-17 23:52] josevalim commented on #5462
It is unlikely this behaviour will change (it is a breaking change) and, as you said, being able to extend existing tasks is quite useful and defaulting to calling aliases is what makes the most sense.

 If you want to call the original "test" task, then don't alias it or invoke its run function directly.

I am typically against features that "undo" work, given the best option is to typically neve

[2016-11-17 23:52] #5462 closed

[2016-11-18 00:15] josevalim opened #5463 "Warn if an attribute is defined but never read/used"

[2016-11-18 00:27] michalmuskala commented on #5461
You are completely right, and I'm not talking about all the compiler errors. But here we're talking about converting things that are workings right now (so further compilation is perfectly possible) to errors, where the compilation would be halted. My comment was addressing those kinds of errors exclusively. This would require the compiler to be aware of the error type. I think this could be possi

[2016-11-18 00:41] josevalim commented on #5461
So they shouldn't be converted to errors. That's it. Argue against that. If you believe they will hinder your flow as errors, then they should not be made errors.

About the xref, @michalmuskala can we please move that discussion elsewhere and keep this one focused on warnings <-> errors? This should not be the place where we discuss other features only because they happen to emit warnings.

[2016-11-18 00:46] michalmuskala opened #5464 "Make xref warnings "persistent""
Extracting discussion from https://github.com/elixir-lang/elixir/issues/5461#issuecomment-261413372

Would it be possible for the xref pass to record all the errors related to a particular application and emit them all each time this application is compiled (no matter if the particular module is or is not compiled in that pass)? I believe this would make the xref warnings much more useful.

[2016-11-18 00:48] josevalim commented on #5464
I have removed the comment from the other issue to keep that side organized.

I do believe we could do this. The warnings could be stored alongside the module until the module is recompiled.

Copying @antipax just in case he still wants to take care of his baby. :)

[2016-11-18 01:00] michalmuskala commented on #5461
So let's evaluate the change of the warning `"undefined module attribute @var"` to an error and see how it changes a workflow. Let's assume a project where two such errors were introduced.

Currently:
* I compile the project
* Notice two warnings
* Fix the warnings
* Recompile the project

After the changes:
* I compile the project
* Notice compilation error
* Fix the error
* Recompile the project

[2016-11-18 01:04] ericmj commented on #5461
There's an easy solution to the workflow problem. If you get errors when switching to Elixir 2.0, switch back to Elixir 1.9 (or whatever) fix your warnings and then switch to Elixir 2.0 when you can compile with zero warnings.

[2016-11-18 01:05] josevalim commented on #5461
@michalmuskala the issue though is that a module attribute mismatch can make that same module fail to compile (or another module that is calling a function that relies on it), so it suffers from the cascading error. Although I think this generally indicates we should be conservative on which warnings we are converting to errors.

@ericmj we are not talking about the conversion to 2.0 error but eve

[2016-11-18 01:07] ericmj commented on #5461
Should we split that out into a third issue :)? The issue seems to talk about warnings that will be converted to errors in 2.0.

[2016-11-18 01:12] josevalim commented on #5461
@ericmj no, it is related to this issue. We are discussing if it is worth converting a given warning to an error, given converting it to an error means the compilation will halt.

[2016-11-18 01:25] ericmj commented on #5461
Then I think my workflow suggestion above is (partly) an appropriate solution. If we are talking about warnings that have existed for a number of minor versions I think some of them they are fine to convert to errors. You should not bump from Elixir 1.0 to 2.0 without expecting breakage that will disrupt your workflow. If you want a nicer upgrade experience you should run through 1.1, 1.2, 1.3, et

[2016-11-18 01:33] josevalim commented on #5461
So we should call them something else because they should definitely not be called *errors*. And I believe that a discussion to add such behaviour to the compiler is definitely a separate discussion from this one.

If we find out that providing this feature is a requirement for converting the warnings listed here to errors, then I would close this and come back once we implemented it, but I don't

[2016-11-18 01:34] josevalim commented on #5461
Actually, closing this so we can break this discussion further apart.

[2016-11-18 01:34] #5461 closed

[2016-11-18 02:25] antipax commented on #5464
Yeah, happy to do this. Are you thinking of adding the warnings to the xref
manifest, or somewhere else?

On Nov 17, 2016 7:48 PM, "José Valim" <notifications@github.com> wrote:

[2016-11-18 08:23] josevalim commented on #5464
@michalmuskala apparently we always run xref through the whole project as soon as any file changed, so this is not a bug (and I have just verified this locally). If you have a way to reproduce this, please let us know.

[2016-11-18 08:23] #5464 closed

[2016-11-18 08:56] NobbZ commented on #5462
Sorry for touching again a closed issue, but have you considered "escaping"
aliases to unalias them, similar to how it is done in various shells?

Lets say, I do have an alias in my shell: `alias ls=ls -a`, then on every
invocation of `ls` the switch `-a` is implied, but when I do instead invoke
`\ls` in my shell, then the alias is NOT used and ls is called without any
arguments.

Because it is ea

[2016-11-18 09:25] stevedomin commented on #5462
Thanks @josevalim, thought you would say more or less that but it was worth a shot. I was wondering if I missed something obvious in the aliases docs.

[2016-11-18 09:53] josevalim commented on #5462
@NobbZ that's a good suggestion but unless more folks show the desire for this feature and they can't have a feasible workaround, I would prefer to keep it simple.

Those issues today can be solved programatically as well, for example:

    [test: &test_with_setup/1,
     "test.ci": "ecto.migrate", "test --no-create"]

    defp test_with_setup(args) do
      if "--no-create" in args do
        Mix

[2016-11-18 15:55] OvermindDL1 commented on #5461
Closed I know, but as for your:

If such a mode were introduced, what if there was a `:fatal` error, a normal `:error`, and a `:warn`.  `:fatal`'s stop compilation.  `:error`'s continue compilation but still fails the final compile, `:warn`ings are for like deprecation messages and such.

[2016-11-18 15:55] OvermindDL1 commented on #5461
Or an `:error`, `:soft_error`, and `:warn`...

[2016-11-18 15:58] ericmj commented on #5463
Should all attributes when not used? What about attributes such as `@protocol` and `@for`?

[2016-11-18 16:32] josevalim commented on #5463
@ericmj you will need to write `_ = @protocol` and `_ = @for` similar to how you write for variables injected in the user code.

[2016-11-18 19:08] whatyouhide commented on #5395
What do we need to discuss in order to move this forward? :)

[2016-11-18 20:24] ericmj commented on #5463
Will it catch Module.get_attribute also or do I need to use the `@attribute` form?

[2016-11-18 20:30] josevalim commented on #5463
get_attribute one will also work.

[2016-11-19 10:47] PragTob commented on #5395
As I understood it's me getting up my lazy... bottom to try and implement it that it only really works with kwlists but I haven't gotten to it for #reasons. So to not block this further, please anyone go ahead and implement it - I might still if I get to it.

Thanks for triaging issues @whatyouhide ! :)

[2016-11-19 11:46] eksperimental commented on #5395
@josevalim specs mention that both args should be keywords (`[{atom, any}]`). Will it be considered a backward incompatible change if we throw an error when one is not provided?

[2016-11-19 11:59] josevalim commented on #5395
Looking at the history, we changed the `Keyword` module in the past to raise for functions that expected a Keyword but a mixed list was given.

On the other hand, we had to do changes like [this one in the past](https://github.com/elixir-lang/plug/commit/6ef08cebca1a033fc3dd42b75739e84ff660a412) to support mixed formats when interfacing with Erlang.

Balancing the facts, I believe we should remain

[2016-11-19 12:02] josevalim commented on #5395
@eksperimental I don't believe it is backwards incompatible to change `merge`. I am unsure if we should change `get` though because of efficiency. Furthermore, we should be super diligent with building (i.e. we should not build invalid keywords), but it is a lesser problem when reading. Similar to how Strings rely on auto synchronization when reading UTF-8.

[2016-11-19 12:03] eksperimental commented on #5395
so should we fix any other function that takes improper lists or non-keyword lists?

[2016-11-19 19:43] josevalim commented on #5463
Closing in favor of the PR.

[2016-11-19 19:43] #5463 closed

[2016-11-19 19:47] josevalim commented on #5426
I have tried to reproduce the issue but unfortunately I could not. More information or a mechanism that reproduces it is appreciated.

[2016-11-19 19:48] josevalim commented on #5388
@whatyouhide ping. :)

[2016-11-19 19:49] whatyouhide commented on #5388
I has this open on my browser for the last couple days, but didn't have
time yet :( Gonna do it tomorrow night hioefully :)

On Sat, 19 Nov 2016 at 20:48, José Valim <notifications@github.com> wrote:

[2016-11-19 19:53] josevalim commented on #5191
@lexmag do you believe this can make v1.4?

[2016-11-19 19:54] michalmuskala commented on #5426
Do you use some libraries that inject themselves into ex_unit? I know some property checking libraries used to mess up the test count.

[2016-11-19 20:14] josevalim commented on #2469
@christhekeele a `defguard` implementation would need to expand the AST because of both external macros (such as Integer.is_odd) and internal macros (like the ones in defmacrop). On the positive side, the expansion can be done by calling Macro.traverse + Macro.expand. Then you can use [`erl_internal`](http://erlang.org/doc/man/erl_internal.html) to check if all entries are valid guard expressions

[2016-11-19 20:18] lexmag commented on #5191
@josevalim yeah, I think we'll get this in. :bowtie:

[2016-11-19 20:36] fishcakez commented on #5356
@josevalim yes exactly, a RuntimeError explaining why the function was called, what the request was, perhaps which process sent it and what can be done about it.

[2016-11-19 22:46] josevalim commented on #5157
Documented under Kernel.SpecialForms.try.

[2016-11-19 22:46] #5157 closed

[2016-11-19 23:13] #4864 closed

[2016-11-20 00:57] myronmarston commented on #5426
Thanks for the suggestion--this is definitely the problem.  Our suite uses [ExCheck](https://github.com/parroty/excheck) and it is definitely causing the issue -- I commented out our use of it and the counts are reporting correctly now.  Wish I could have realized it was at fault sooner :(.

Thanks for looking into this and helping me figure it out!

[2016-11-20 00:57] #5426 closed

[2016-11-20 09:21] josevalim commented on #4829
I can no longer reproduce it on Elixir master. I will gladly reopen if others can still reproduce this.

[2016-11-20 09:21] #4829 closed

[2016-11-20 10:01] #5137 closed

[2016-11-20 10:29] Qqwy commented on #4864
:heart_eyes: Thank you, José!

[2016-11-20 11:22] josevalim commented on #5115
Unfortunately we cannot effectively tackle this, instead it should be done as part of the release building process, as it is the one that will effectively detect duplicates and could present the user to choose which option they want.

[2016-11-20 12:31] #5297 closed

[2016-11-20 13:46] #5356 closed

[2016-11-20 14:33] #5395 closed

[2016-11-20 14:50] josevalim commented on #5115
@ericmj suggested us to use the consolidation directory for solving conflicts. It will likely work.

[2016-11-20 16:32] michalmuskala commented on #5115
How would this work exactly? How would I specify which implementation to use, and how would they be differentiated since both have the exact same module name.

[2016-11-20 18:17] josevalim commented on #5115
Since we already overlay protocols in the consolidation path, we will do the same with implementations, picking one of them based on the application name. So you will be able to say:

    consolidate: %{Foo.Bar => :my_app}

Or something of sorts.

[2016-11-20 18:54] michalmuskala commented on #5115
Makes sense, I had something similar in mind.

[2016-11-20 22:18] josevalim commented on #5149
This is a legitimate bug in the compiler. Congratulations on finding it, we don't have many of those left. 😄 🎉

[2016-11-20 22:24] #5149 closed

[2016-11-20 22:48] #5228 closed

[2016-11-20 22:52] josevalim commented on #5097
I believe this is no longer necessary as Rebar 3 is integrating with Mix via Erlang/Elixir APIs.

[2016-11-20 22:52] #5097 closed

[2016-11-21 09:57] josevalim commented on #5249
Closing in favor of #5473.

[2016-11-21 09:57] #5249 closed

[2016-11-21 10:51] josevalim commented on #5388
We have pushed multiple improvements and we will continue improving the other tasks as well, thank you!

[2016-11-21 10:51] #5388 closed

[2016-11-21 10:54] #5435 closed

[2016-11-21 13:04] #5234 closed

[2016-11-21 16:47] josevalim commented on #5115
After further consideration, we are not going to include this feature on v1.4. The biggest concern is that we don't have enough scenarios or use cases where this feature is necessary and allowing conflicts to be resolved will increase the cases where implementations are overridden on purpose while properly addressing it all on a single implementation would be preferable.

This may also mean we sho

[2016-11-21 18:31] #5191 closed

[2016-11-22 15:03] stevedomin commented on #5462
Note for anyone trying to use the example @josevalim kindly gave above:

This line (line 8):
`Mix.Task.run "ecto.create", "--quiet"`

Should be changed to:
`Mix.Task.run "ecto.create", ["--quiet"]`

[2016-11-22 23:21] josevalim commented on #4913
This is pending a new Rebar 3 release.

[2016-11-22 23:36] ericmj commented on #4913
Reopening to remind me of updating `mix local.rebar`.

[2016-11-25 09:26] lk-geimfari opened #5485 "Who are Elixir programmers?"
Yes, I know that that's off top, but how Elixir-programmers call themselves in the your (and in my, I hope) community?

For example Python programmers are Pythonistas. Thanks!

[2016-11-25 09:30] josevalim commented on #5485
Elixir developers. If you really need a name, Elixirists.

Also please, please don't use the issues tracker for questions. There are many places where this discussion could happen, such as the elixirforum.com.

PS: I will lock this issue because those discussions tend to side track quickly from the focus of the issues tracker and I want to work this friday. 😅

[2016-11-25 09:30] #5485 closed

[2016-11-28 07:27] ardhitama opened #5487 "Mix deps.get should fail if cyclic deps found"
Transferred from: [https://github.com/hexpm/hex/issues/321](https://github.com/hexpm/hex/issues/321)

**Running `mix` throws**
`** (Mix) Could not sort dependencies. There are cycles in the dependency graph`

While running `mix deps.get` stalled the console.

The behavior should be similar.

**Env**
[code]

**Code sample**

`App1`'s `mix.exs`

[code]

`App2`'s `mix.exs`

[code]

[2016-11-29 06:59] mememori opened #5489 "Comprehension into empty unbound bitstring has performance bug"
### Environment
Elixir 1.3.4 | Erlang/OTP 19

### Current behavior
When you pass the param `into: ""` to a comprehension, the length of the strings that are _joined_ affects the time it takes to execute the block

### Expected behavior
No significant difference

### Example code
[code]

Results on my machine:
[code]

As you can see, the only difference between the three different comprehensions is

[2016-11-29 09:25] josevalim commented on #5489
How are you running your benchmarks? Have you put the code snippet above in a file? Or are you running it in IEx?

[2016-11-29 09:41] mememori commented on #5489
I was running directly on IEX. Used only timer:tc/1 to "benchmark"

[2016-11-29 09:42] whatyouhide commented on #5489
@mememori definitely try to benchmark this from a compiled module and not from IEx, as benchmarks from IEx are usually not reliable.

[2016-11-29 09:43] mememori commented on #5489
Ok. I'll do it later and update this issue :grin:

[2016-11-29 09:47] TBK145 opened #5490 "Unused module attribute showing incorrect line number"
### Environment

* Elixir version (elixir -v):
[code]
* Operating system: Ubuntu 16.04

### Current behavior

If I compile a module with unused module attributes I get a warning with a wrong line number:
[code]
[code]
I know you're supposed to define module attributes at the top of your file, but even then, when defining multiple module attributes, you would have the same problem.

### Expected be

[2016-11-29 09:49] josevalim commented on #5489
Yes, the code on IEx is evaluated so it may suffer very high fluctuations. In particular, I could not reproduce such a drastic difference here (there is a difference but a certain difference is expected). Thank you!

[2016-11-29 09:49] #5489 closed

[2016-11-29 10:02] whatyouhide commented on #5490
Hey @TBK145, thanks for the report. Can you show more code? I have a feeling this is related to `use`ing something 😄

[2016-11-29 10:14] josevalim commented on #5490
@whatyouhide it is a bug. I am pushing a fix soon.

[2016-11-29 10:15] #5490 closed

[2016-11-29 10:17] whatyouhide commented on #5490
Oh, didn't expect that! Good job @josevalim :)

[2016-11-29 18:32] mememori commented on #5489
Just commenting here to confirm this was a false flag, when the code is compiled from a file, the behaviour is not triggered in my setup.

Thank you for your help, josevalim and whatyouhide :grin:

[2016-11-29 18:51] behrendtio commented on #3857
For those of you who wan't to save the money for the upgrade, just [create a swapfile on your droplet](https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-14-04). Takes just 1m.

[2016-11-30 18:33] myronmarston opened #5509 "Guard clause in `for` comprehension apparently applied AFTER dependent clause is evaluated, leading to confusing results"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

Guard clauses in for comprehensions are supported, and cause the comprehension to ignore unmatched values:

[code]

However if you add a dependent clause that assumes that it will only apply to matched values, you can see that it fails:

[code]

### Expected behavior

I would expect

[2016-11-30 19:00] #5509 closed

[2016-12-01 18:51] KamilLelonek opened #5519 "mix local.hex fails"
### Environment

* Elixir version (elixir -v): `1.3.4`
* Operating system: `Ubuntu 14.10`

I have a problem as follows:

[code]

How to solve that?

[2016-12-01 19:07] josevalim commented on #5519
What is your Erlang version?

Btw it seems the command succeeded?

[2016-12-01 20:01] KamilLelonek commented on #5519
[code]

It seems it worked but why these errors are there?

[2016-12-01 20:05] josevalim commented on #5519
It is an internal error with httpc. I believe @ericmj would be able to expand on them and he has likely already reported it. :)

[2016-12-01 20:32] ericmj commented on #5519
The errors come from a race condition when the process is closing. Since it only happens when the OS process is done with everything it has no effect. I agree that the error output is annoying though.

It has been reported upstream and should be fixed in the coming OTP 19.2 release. https://bugs.erlang.org/browse/ERL-253

[2016-12-01 20:32] #5519 closed

[2016-12-02 13:25] orestis commented on #448
Hi, sorry for revisiting a 4 year old issue, but if the point was to reproduce parts of Python's decorators, I cannot understand how the on_definition callback achieves this - it has no power to change the function being defined.

To be able to reproduce Python's behavior, the callback should *return* something that would replace the function body. If this is not the aim of the on_definition callb

[2016-12-02 13:42] josevalim commented on #448
@orestis there are a couple differences in Elixir that makes it harder to implement exactly like python decorators. For example, if you add `@foo bar` before a function, do you mean to apply the decorator that particular clause or all clauses for that function?

It is most likely that you want the latter and therefore rewriting right on the `@on_definition` callback would not be the way to go. Ins

[2016-12-03 12:07] alco opened #5523 "mix deps.get doesn't show the path to conflicting rebar.config when dependencies diverge"
I'm testing out Elixir v1.4.0-rc.0.

I have a dependency with two conflicting specifications:

[code]

This error report doesn't show which apps define each respective dependency. I can do a text search in my `deps` directory to find it:

[code]

but this is not straightforward.

Mix already has the info about the projects that contain those conflicting dep specifications, it should print their na

[2016-12-03 23:02] albertoalmagro opened #5525 "(File.Error) could not write to file ".git/info/sparse-checkout": no such file or directory"
### Environment

* Elixir version: Elixir 1.3.4 (Local Elixir)
* Erlang version: Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Tried to build source code with last commit: f6a5d80b578978b940d10b0a56c1e6088a34ed85
* Operating system: Mac OS X El Capitan 10.11.6
* Git version: 2.9.0

### Current behavior

When cloning and trying to buil

[2016-12-03 23:22] josevalim commented on #5525
The tests do not fail locally nor in the CI server, so if you can debug why
it happens on your machine, it would be appreciated. I have Git 2.9.3.

On Sun, Dec 4, 2016 at 00:02 Alberto Almagro Sotelo <
notifications@github.com> wrote:

[2016-12-04 03:59] ijunaid8088 opened #5526 "Quirk of the parser"
### Environment

* Elixir & Erlang versions (elixir -v): 1.3
* Operating system: Ubuntu 14.04

### Current behavior
I accidentally attached `9` with `end` But it still running and giving me results, Is that fine or something wrong here? it should give me some error no?
[code]
### Expected behavior
some error?

[2016-12-04 04:18] eksperimental commented on #5526
actually, no spaces will throw no error
iex> Enum.filter([1,2,3,4,5,6,7,8,9,10],fn(x)->x>=3&&x<=9end)
[3, 4, 5, 6, 7, 8, 9]

[2016-12-04 04:48] Havvy opened #5527 "Warn on `fn do ... end`"
### Environment

* Elixir & Erlang versions (elixir -v): All
* Operating system: All

### Current behavior

[code]

### Expected behavior

Error messages suggesting to use the proper `fn` syntax, e.g. `fn -> ... end` or `fn (...) -> ... end`. @josevalim says that it might not be possible for `fn (...) do ... end`, but should be possible for `fn do ... end`.

[2016-12-04 07:14] josevalim commented on #5526
As @eksperimental said, the current behaviour is correct. :)

[2016-12-04 07:14] #5526 closed

[2016-12-04 13:52] albertoalmagro commented on #5525
Thanks José. It was happening on my local machine.

Updating my local git version solved the issue, now with git version 2.11.0 it doesn't happen anymore. We can close this issue if you want.

Now I am getting another error on test/elixir/system_test.exs:16 f6a5d80b578978b940d10b0a56c1e6088a34ed85 But that would be another ticket or local issue.

When you told me to debug the application, I've tri

[2016-12-04 15:31] #5525 closed

[2016-12-04 15:31] josevalim commented on #5525
You should be able to use IEx.pry as usual in Elixir too. Did you get an error or something in particular?

[2016-12-04 16:20] albertoalmagro commented on #5525
Thank José. At `elixir/lib/mix/test/mix/tasks/deps.git_test.exs` I first required IEx

[code]

And then called it within the test code:

[code]
After that I ran again `make clean test` but it doesn't stop.

[2016-12-04 16:22] josevalim commented on #5525
You don't need to run `make clean test`. You should be able to run it as `iex lib/mix/test/mix/tasks/deps.git_test.exs` from the Elixir root.

[2016-12-04 16:23] ivan opened #5529 "escript fails to start with "could not find application file: logger.app""
After 75e2ee0e37d79b9b596233bfc3b7e4987310427f, if you `mix escript.build` and have a

[code]

in your `mix.exs`, the compiled escript errors out with:

[code]

This is reproducible with an empty project created by `mix new` (just add an `escript: escript()` listing a `main_module`.)

Removing the `def application` makes the escript work, at least for escripts that don't need the logger.

[2016-12-04 20:22] sashaafm opened #5533 "Float.parse/1 does not parse binaries with the format "-.x" and ".x""
### Description
I'm working with some floats right now, which are read from a data file and some of the read floats are in the format "-.x" and ".x". However, `Float.parse/1` returns `:error` and seems unable to parse floats in this format.

### Expected Behaviour
[code]

### Reasoning
I believe this is a valid behaviour for `Float.parse/1` since this notation is common in certain academic fields

[2016-12-04 20:32] whatyouhide commented on #5533
Just wanted to mention that this behaviour may be expected given `.0123` is not valid Elixir syntax and will raise a syntax error.

[2016-12-04 20:36] sashaafm commented on #5533
Hello @whatyouhide, yeah we we're just talking about it in Elixir's Slack channel. I completely understand it goes against Elixir's syntax. However, since it's a common notation used outside of Elixir and since it's being parsed from a syntax outside of the language (i.e., from a binary which does not have to obey to the syntax), then in my point of view this behaviour should be reasonable for the

[2016-12-04 21:45] eksperimental commented on #5533
I would say if you are reading for an external source you should create your own function to parse this format and convert it to Elixir's .
Same should be done if your format uses comma as a decimal separator. Float parse won't interpret it.

[2016-12-04 21:49] josevalim commented on #5533
Yes, parse is meant to stick with Elixir's own rules.

[2016-12-04 21:49] #5533 closed

[2016-12-04 22:10] josevalim opened #5535 "Discuss disabling the shadowing warning for IEx helpers"
Mostly a reminder. More info will be posted soon.

[2016-12-05 09:50] #5527 closed

[2016-12-05 12:54] whatyouhide commented on #5529
Fixed in #5534.

[2016-12-05 12:54] #5529 closed

[2016-12-05 15:05] whatyouhide opened #5538 "Elixir apps specified by dependencies of an escript are not considered by the parent escript"
From @josevalim on IRC:

So right now if my escript depends on dependency `:foo` and `:foo` has `:logger` in `:(extra_)applications`, `:logger` won't end up in the escript. This only happens if the `:embed_elixir` option under `:escript` is `true`.

[2016-12-05 20:08] #5535 closed

[2016-12-06 16:09] whatyouhide commented on #5538
Closed by #5540.

[2016-12-06 16:09] #5538 closed

[2016-12-06 18:11] lmshk opened #5544 "not false in []"
I am confused: why is `not false in []`, even though [`not` has higher precedence than `in`](http://elixir-lang.org/docs/master/elixir/operators.html)? I expected this to yield `false`.

### Environment

* Elixir & Erlang versions (elixir -v):

[code]

* Operating system: Arch Linux (`4.8.11-1-ARCH`)

[2016-12-06 18:38] eksperimental commented on #5544
interesting.

`!/1` behaves the same way, but other operators with the same precedence behave differently.

[code]

[2016-12-06 18:45] josevalim commented on #5544
@eksperimental good catch. We should unify all unary operators to behave the same as `not` and `!` because `in` has higher precedence than unary operators.

[2016-12-06 18:47] josevalim commented on #5544
We should also fix the precedence table to mention the `UNARY left IN right` format. Thank you @lmshk!

[2016-12-06 18:49] josevalim commented on #5544
Actually, please ignore me. Making `+` and `-` behave the same as `not` and `!` will have unintended side-effects. We should probably deprecate the current special case with `not` and `!` and introduce a proper syntax, such as `not in`.

[2016-12-07 05:49] myronmarston opened #5548 "Apparent regression in `Access.key/2` in 1.4"
### Environment

* Elixir & Erlang versions (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

[code]

### Expected behavior

This exact example comes from the Elixir 1.3.4 `Access.key/2` docs:

https://hexdocs.pm/elixir/1.3.4/Access.html#key/2

...and as such, I expected it to continue working in 1.4, particularly since the changelog makes no mention of a change in

[2016-12-07 06:15] myronmarston opened #5549 "Please consider only soft-deprecating `Stream.uniq/2` until 1.5"
### Environment

* Elixir & Erlang versions (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

I'm getting lots of these warnings when trying to upgrade my code base to 1.4:

[code]

I tried changing the `Stream.uniq/2` calls to `Stream.uniq_by/2`, which fixes the warning, but breaks on Elixir 1.3 because `Stream.uniq_by/2` is a new API on 1.4.

Until 1.4 final is re

[2016-12-07 08:40] whatyouhide commented on #5549
Yep, that was my bad cause it was marked as "Deprecate by 1.5", but it clearly meant "soft-deprecate" and not "hard-deprecate". I will revert the warning for `Stream.uniq/2` and only soft-deprecated it if @josevalim is ok with it.

[2016-12-07 09:20] josevalim commented on #5549
Yes, we always need to wait at lesat two versions before emit warnings for deprecated feature. Please revert the warning @whatyouhide.

[2016-12-07 09:42] whatyouhide commented on #5549
Turned the hard deprecation into a soft deprecation in https://github.com/elixir-lang/elixir/commit/c599956de1e38e1ec6944b1fd0b22bc17a6c38ea on the 1.4 branch. Sorry for the trouble everyone!

[2016-12-07 09:42] #5549 closed

[2016-12-07 09:42] josevalim commented on #5548
1. We should definitely fix this. No breaking change is acceptable on v1.4.

2. `Access.key/2` is different in two ways to `get_in(map, [:foo, :bar])`. `Access.key` is map specific while `get_in` works on maps, keywords and nil. This change makes it accept exclusively maps. It made no sense to support nil here. However, this is a breaking change when you are not using defaults so we need to fix th

[2016-12-07 09:54] josevalim commented on #5548
@myronmarston please give the v1.4 branch a try and let us know how it goes!

[2016-12-07 17:47] myronmarston commented on #5548
Thanks for the prompt fix!

I do want to push against this change a bit, though.  Sometimes you want to get a safely get value out of a data structure w/o worrying about what the exact structure is, as long as it supports key access.  `get_in(struct, [:a, :b])` does not work on structs, but `get_in(struct, [Access.key(:a), Access.key(:b)])` does, so using `Access.key` was a way to make the access

[2016-12-07 18:02] josevalim commented on #5548
`get_in(term, [:a, :b])` would have to be rewritten as `term = term || %{}; get_in(term, [Access.key(:a, %{}), Access.key(:b)])`. Which is more verbose but quite more explicit. In ay case, I will reopen this because I want to make sure to discuss this with @lexmag and @whatyouhide.

[2016-12-07 22:39] whatyouhide commented on #5548
I personally prefer the over-explicit way. I think it's often better to have stricter functions and more code in the long term, it makes understanding and maintaining code easier.

If something *might* be `nil`, I definitely prefer to handle that possibility explicitly by doing something like `get_in(term || %{}, [Access.key(:a, %{}), Access.key(:b)])`. I think the `|| %{}` part is pretty concise

[2016-12-07 22:40] myronmarston commented on #5548
It feels inconsistent, given you can do `get_in(nil, [:a, :b])` -- why allow nil for one and not the other?

[2016-12-07 22:51] josevalim commented on #5548
@myronmarston because they are not equivalent? :)

The whole purpose of introducing Access.key and friends is to have a more specific way of traversing and accessing values. See for example `Access.all`, which is not about maps, structs or nils.

We could introduce another accessor, such as `Access.access`, that behaves exactly as `get_in(nil, [:a, :b])` but I don't think it would have any purpose

[2016-12-07 22:59] lexmag commented on #5548
I feel that not allowing `nil` in `Access.key/2` is a great thing and move into right direction.
It indeed makes code more verbose but in exchange it makes code easier to comprehend and maintain.
Personally I have already experienced couple of times code like `get_in(%{}, [Access.key(:unknown), Access.key(:name)])` which was not easy to refactor because I wasn't sure if we actually should to consi

[2016-12-07 23:05] myronmarston commented on #5548
Thanks for the responses.  I think I agree now :).

[2016-12-07 23:07] michalmuskala commented on #5548
The main issue is that there's no way to work with structs in an easy way for the `_in` functions.

For static keys, everything is nice an shiny when working with both maps and structs:

[code]

Unfortunately as soon as we need to introduce a dynamic value, it suddenly becomes extremely clunky in case of structs:

[code]

This is generally pushing me to work more with unstructured data in forms of

[2016-12-07 23:14] josevalim commented on #5548
@michalmuskala that's a very good point and we should probably move its discussion elsewhere. :)

[2016-12-07 23:16] michalmuskala commented on #5548
That's a good point. I'll send the issue to the core mailing list - that seems like a good place to continue the discussion.

[2016-12-09 02:20] vic opened #5551 "`test` task is never run when using `mix do` and space"
### Bug

The `test` task is never run if followed by space

### Environment

* Elixir & Erlang versions (elixir -v): Elixir 1.4.0-rc.1 (16a14c1)
* Operating system: OSX Sierra

### Current behavior

When using `mix do` to execute two tasks `test` and `clean` and an space character is placed before the comma, tests are never run and the shell just hangs.

[code]

### Expected behavior

Expected `te

[2016-12-09 02:22] vic commented on #5551
oh, btw I could provide a pull-request if this is confirmed to be a bug by the elixir team.

[2016-12-09 09:51] whatyouhide commented on #4861
Sorry for pinging everyone, I just want to mention #4893 in this issue so that they're linked and finding this again is easier than it is now :).

[2016-12-09 09:59] josevalim commented on #5551
Thank you. I believe this is a bug. Here is the quickest way to reproduce it: `mix test ""`. There is something causing it to go infinite looping.

[2016-12-09 10:05] josevalim commented on #5551
@vic btw, we generally appreciate pull requests but this seems to be a rather annoying bug so I will go ahead and fix it asap. It is not we are infinite looping but rather we are loading all files in the operating system. :)

[2016-12-09 10:20] josevalim commented on #5551
@vic I went ahead and fixed one of the bugs, the one that makes `mix test ""` fail. However, `mix do test , clean` still fails but now saying:

If you would like to send a pull request for this one, it will be welcome. Keep in mind we tried to generally solve this issue in the past, trying this commit ea00314491799ec32fee34d91a22f82ac103a8b8 and later reverting it bd58e0628f9d9ea3ec15f2b8f05753dc2

[2016-12-09 16:57] vic commented on #5551
😮

@josevalim thanks for fixing that!

Sure, I'll try to fix the remaining issue and will send a PR.

[2016-12-11 08:57] michalmuskala opened #5554 "Task.async_stream/5 is leaking messages"
### Environment

* Elixir & Erlang versions (elixir -v):
[code]

### Current behavior
[code]

### Expected behavior

No message should be left in the inbox after `Task.async_stream/5` finishes regardless if process is trapping exists or not.

[2016-12-11 10:41] josevalim commented on #5554
@fishcakez should we also remove messages in case users are trapping exits? AFAIK we don't do it for `Task.async`.

[2016-12-11 10:54] michalmuskala commented on #5554
Without this it makes little sense to have the `{:exit, _}` return value in case caller is trapping exits, https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/task.ex#L293-L295, and encourage them in the documentation.

The process is flooded with the exit messages.

[2016-12-11 10:55] josevalim commented on #5554
@michalmuskala you can always use Task.Supervisor.async_nolink then. I am not sure we should clean up for side-effects you decided to cause in your own processes.

[2016-12-11 10:56] josevalim commented on #5548
Closing this after feedback.

[2016-12-11 10:56] #5548 closed

[2016-12-11 11:00] michalmuskala commented on #5554
It makes it very easy to use the `async_stream` function in a wrong way. And as far as I understand the point of introducing that function was that people were doing pmap in a wrong way.

Also the function will hijack the mailbox, and with long streams (you don't need that function for short streams) the messages build up really quickly. I only noticed this, because suddenly one of my processes ha

[2016-12-11 11:14] josevalim commented on #5554
@michalmuskala I understand that. I don't have anything to add beyond my previous reply. If you are trapping exits, *for now you need to use async_nolink*. Please give us time to figure out if we should rather document this behaviour or fix it.

[2016-12-12 21:54] talentdeficit opened #5556 "`mix test` fails if an application in an umbrella has no `tests/test_helper.ex` file"
### Environment

* Elixir & Erlang versions (elixir -v):
[code]
* Operating system:
ubuntu 16.04

### Current behavior

i have an umbrella application with one application that is headers only and has no tests

if i don't include `test/test_helper.ex` i get the following failure:
[code]

if i include either an empty or minimal `test_helper.exs` i get:
[code]
(this at least returns a zero error cod

[2016-12-12 23:36] josevalim commented on #5556
What if we make those be warnings instead of errors? Too much nuisance?

[2016-12-13 00:07] talentdeficit commented on #5556
warnings would be better than the current behaviour, but i don't think they would be very good warnings. presumably i know i don't have a `test` folder and have zero tests