[2015-03-15 21:45] josevalim commented on #3175
This makes it clear. :) In Elixir, there isn't much distinction between runtime and compilation time because we effectively *execute* code during compilation. So compilation can fail with any reason runtime would and I agree this makes it hard to effectively pinpoint on which line the error happened.

The only times we will have an explicit line with the failure when you get a compile or syntax er

[2015-03-15 22:30] iraasta commented on #3175
Oh.
But what about common warnings like "Unused private function" or "Unused parameter".
Aren't they supported [yet]?

[2015-03-16 08:05] josevalim commented on #3175
We have those and the follow the same format as Erlang:

    iex(1)> defmodule Foo do
    ...(1)> def bar do
    ...(1)> baz = 1
    ...(1)> 2
    ...(1)> end
    ...(1)> end
    iex:3: warning: variable baz is unused

[2015-03-16 11:03] alco commented on #3177
The title implies that this will change the behavior of `and` and `or` in guards only while outside of guards they will keep their current impl. Is that intended?

[2015-03-16 11:08] josevalim commented on #3177
Inside guards it should not matter because there isn't any expression in guards where the short-circuiting matters. In fact, compiling to erlang:and/or may actually be faster due to compiler optimizations.

[2015-03-16 12:54] josevalim commented on #3177
And to be precise, we will need to first deprecate the current behaviour by warning on the second argument.

[2015-03-16 14:51] shankardevy opened #3178 "Print full path of the generated app"
When compiling a mix project, following the output shown to the users.

[code]

This is bit misleading as kv.app is not generated in the root level, rather at _build/dev/lib/kv/ebin/kv.app. (or some generically at _build/[env]/...)

Since the previous message `Compiled liv/kv.ex` shows the relative path to the file, it's normal for people to search for kv.app in the root of the project unless full

[2015-03-16 15:29] josevalim commented on #3178
So I would rename it to "Generated kv app" or "Built kv app". I don't think it makes any sense to point users to the the actual .app file. :)

[2015-03-16 15:42] oneeman commented on #3178
FWIW, I like the current message.  It's somehow satisfying to see each app summed up with a filename.  It's like the compiler saying "I've worked so hard crunching this stuff, this is the result!"  Maybe it's just me, though :-)

[2015-03-16 15:59] josevalim commented on #3178
Yup, the current message definitely needs to stay. We may just need to
change it so people don't expect an .app file in their current working
directory.

[2015-03-16 17:58] iraasta commented on #3175
Oh. That's my bad. I didn't realize there are warnings like that (seems that my code was perfect so far ;) )
Then there's no problem with that.
Thank You. I've put it through the same RegExp that I use for Erlang and it works great.
Issue can be  closed
I guess Alchemide will be ready before April :smile:
![Uploading Screenshot from 2015-03-16 18:54:36.png . . .]()

[2015-03-16 17:58] #3175 closed

[2015-03-16 18:04] josevalim commented on #3175
Awesome! In any case, don't hesitate to ping us if you have any issues!

[2015-03-16 22:29] brandondrew opened #3181 "Enhancement request: lift requirement for parenthetical syntax when using pipes"
In `iex` I can use parentheses to nest an expression as the argument for `Enum.count`, but I can't pipe the results of an expression to `Enum.count`

[code]

However I can work around this by putting parentheses around the arguments of the first expression

    Enum.concat([1..3]) |> Enum.count

Would it be possible to allow the simpler version (`Enum.concat [1..3] |> Enum.count`) to work?  Two of

[2015-03-16 22:34] chrismccord commented on #3181
Elixir's precedence rules make the version without parens different than you intend:

[code]
So parens are required to disambiguate the expression. In coming versions, the compiler will warn or error, exactly to prevent these issue. For feature requests/discussions, we have the elixir-lang-core mailing list https://groups.google.com/forum/#!forum/elixir-lang-core

[2015-03-17 00:11] #3181 closed

[2015-03-17 19:37] brandondrew commented on #3181
Sorry for leaving this in the wrong place.  When I composed most of that it was (in my mind) a bug report, and only at the last minute I realized it could be a problem with actual precedence not matching my expected precedence...  I should have stopped and rethought the situation and checked for the appropriate place to file feature requests but I was getting called away to something else and didn

[2015-03-17 20:33] ericmj commented on #3181
@brandondrew No problem. If you have any more questions or improvement ideas feel free to post them on the mailing list.

[2015-03-18 14:20] shankardevy opened #3186 "IEx does not receive messages when invoked from two different tabs"
I am using OS X Terminal. I have two tabs and I am invoking iex in both of them.

    $ iex
    Erlang/OTP 17 [erts-6.2] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

    Interactive Elixir (1.0.2) - press Ctrl+C to exit (type h() ENTER for help)
    iex(1)>

When both the iex sessions on two different tabs have started, I find their pid being same since `self

[2015-03-18 14:44] josevalim commented on #3186
They are not the same process. They have the same identifier because a
local process is always shown with leading "0." and the rest happens to be
the same.

In general though, can you please send this discussion to the elixir talk
mailing list? It is not an issue report and discussions and questions
should be moved there.

Thanks!

On Wednesday, March 18, 2015, Shankar Dhanasekaran <notifications@

[2015-03-18 14:47] shankardevy commented on #3186
@josevalim I was thinking it was a bug and hence opened an issue. I will move it elixir-talk later today. thank you.

[2015-03-18 14:47] #3186 closed

[2015-03-18 15:40] josevalim commented on #3186
Oh, I see. No problem then, thank you!

[2015-03-19 09:52] alco opened #3187 "Uninformative error when calling a function in a keword list literal"
This works as expected:

[code]

However, in the following examples the error does indicate what the actual problem is:

[code]

Shouldn't it be possible for the parser to detect invalid tokens in the key position, at least when things like parentheses are balanced?

[2015-03-19 10:04] josevalim commented on #3187
The error is not happening in the parser but in the tokenizer. "foo:" and ":bar" are a valid tokens. A ":" dangling anywhere else is not a valid token. We could always improve the error message but it needs to be done in the tokenizer.

[2015-03-19 13:24] ericmj commented on #3187
Is it really that uninformative? The invalid token error follows the same format as all syntax errors:

[code]

It shows you where tokenizer/parser starts to fail so you always know that you should look where the error points you or just before.

[2015-03-19 21:16] gamepoet commented on #3152
I was finally able to repro the lack of protocol consolidation while using your workaround in a simple app. It turns out that it has to do with when I was deleting code rather than the fact that I was using an umbrella project. I had originally tested code deletion from an iex session, however then integrating the workaround into my application led to failure. I injected the protocol code deletion

[2015-03-19 21:43] josevalim commented on #3152
Does it work if you reverse the order? First you purge any old version, so you can finally delete the current one? If not, I can take a look at it later. :) Thanks for the instructions!

[2015-03-19 21:48] gamepoet commented on #3152
Doesn't appear to. :(

Changing `consolidate` to:
[code]

gives:

[code]

[2015-03-19 22:09] jemc commented on #2973
Will there be a non-deprecated way to delegate the `container[key]` syntax to a custom function for a given module/struct?

The most common use I have for this behavior is delegating the access syntax to an inner map of attributes with arbitrary keys that I don't know at compile time:
[code]
[code]

Will there be a non-deprecated way to do this?

[2015-03-20 07:29] josevalim commented on #2973
No. Or you need to implement the Dict api for it or it won't work.

[2015-03-20 15:31] paulcsmith opened #3189 "Alias multiple module with same parent more easily"
Sometimes aliases get out of hand and either need to be extracted (not always ideal) or take up lots of space and are somewhat tedious to write and read through.

The example below is a common scenario when writing a Phoenix app. Would some kind of syntax like this be helpful?

[code]

[2015-03-20 15:32] josevalim commented on #3189
Please bring this discussion to the elixir-lang-core mailing list and once we get enough feedback and a proposal, we can open up an issue for it. :) Thanks!

[2015-03-20 15:32] #3189 closed

[2015-03-20 15:35] paulcsmith commented on #3189
As I posted that, I realized that's probably where it should go. My bad!

[2015-03-20 15:55] jemc commented on #2973
@josevalim
I saw the deprecation message about implementing the Dict behaviour, and tried to do this with `use Dict` and implementing the required functions, but couldn't get it to work - Elixir kept telling me the Access protocol was not implemented for my module when I tried to use the bracket syntax. (I'm using Elixir 1.1.0-dev, last pulled from master on March 4)

Can you give an equivalent ex

[2015-03-21 12:20] josevalim opened #3190 "Deprecate as: true in alias, import, require"

[2015-03-21 13:19] josevalim commented on #2973
@jemc the point is exactly that your data structure is *not* a dictionary. Those are exactly the cases we are asking to *not* implement the Access protocol because it is not a dictionary. Have a helper function to read the attributes directly or something of sorts.

[2015-03-21 21:02] oneeman commented on #3159
I'll give this a shot.

[2015-03-21 21:50] oneeman commented on #3159
Another manifestation of the incorrect current behavior:

[code]

[2015-03-21 21:57] josevalim commented on #3159
Awesome, let me know if you have any questions! I really appreciate all your help in those parser related issues.  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-03-22 14:28] oneeman commented on #3159
Happy to!

[2015-03-22 19:50] #3159 closed

[2015-03-22 20:18] alco commented on #2983
What's the rationale? Do we need to check the options to provide better error messages or to limit the set of allowed options?

[2015-03-22 20:26] AlexRiedler commented on #3143
@josevalim I think that is correct behaviour? your taking the operator as a function that takes two arguments. What was the intended behaviour expected?

[2015-03-22 22:04] josevalim commented on #3143
It is ok for the compiler. The issue is that it is leaking into the documentation. If you have:

    def foo(a \\ &</2)

It becomes

    def foo(a \\ :erlang.make_fun(:erlang, :<, 2)

in the docs.

[2015-03-22 22:07] josevalim commented on #2983
It was to limit the set of allowed options. Although we have discussed this personally and we arrived at a conclusion. Do you remember what it was?

[2015-03-23 01:19] oneeman commented on #3154
I'm on it.

[2015-03-23 05:16] eksperimental commented on #3143
It is also happening in:
ExUnit.Callbacks.on_exit/2

`make_ref`  being translated into `\\ :erlang.make_ref()`

And in IO  functions using `group_leader` becoming `:erlang.group_leader()`

[2015-03-23 16:34] knewter opened #3195 "Add system-related features to shell"
@rvirding asked me at ErlangFactory why we don't have `i` and `regs` in iex.  I didn't know an answer.  If no one knows ahead of time that they're terribly hard to implement, I might try my hand at them.  Can't imagine there's any reason but "haven't done it yet."

[2015-03-23 17:17] fishcakez commented on #3195
Please can you add an equivalent function to `:c.pid/3` at the same time

[2015-03-24 00:39] beadsland opened #3199 "1.1.0-dev -- raspbian -- recipe for target 'test_ex_unit' failed"
==> ex_unit (exunit)
..............................................................................................................................

  1) test it does not set timeout to infinity and the max cases to 1 with trace disabled (ExUnit.RunnerTest)
     test/ex_unit/runner_test.exs:15
     Assertion with != failed
     code: config[:max_cases] != 1
     lhs:  1
     rhs:  1
     stacktrac

[2015-03-24 00:43] #3199 closed

[2015-03-24 00:46] josevalim commented on #3195
They don't exist because nobody contributed them yet. If you would like to sanity check before, just ask in the elixir-lang-core mailing list!

[2015-03-24 00:46] #3195 closed

[2015-03-24 06:32] padde opened #3200 "Stream.mutate/3"
I have been working on an answer to [this StackOverflow question](http://stackoverflow.com/questions/29136874/enumerable-stream-with-look-ahead) and found it incredibly hard to build a stream that doesn't have a one-to-one mapping of values, i.e. emits values where the original stream doesn't have a counterpart. This was needed to build a lookahead function:

[code]

The problem here is that there

[2015-03-24 06:37] padde commented on #3200
I realize feature requests don't belong here, so [I posted it over at Google Groups](https://groups.google.com/forum/#!topic/elixir-lang-core/wiMbAedj9X8). Closing this issue here.

[2015-03-24 06:37] #3200 closed

[2015-03-24 13:19] alco opened #3201 "Process.exit(self(), :normal) does not work as advertised"
Tested in IEx:

[code]

There is no difference when using the reason `:normal`.

Whereas, when we target a different process, it works as described:

[code]

This behaviour is inherited directly from `:erlang.exit`, the docs for which don't mention this special case either. Should this be reported as a bug in Erlang docs?

[2015-03-24 13:21] josevalim commented on #3201
Let's document this and open up a discussion on erlang-questions.

[2015-03-24 13:21] josevalim commented on #3201
I doubt this behaviour would change though.

[2015-03-24 13:31] alco commented on #3201
I'm on it.

[2015-03-24 14:55] #3201 closed

[2015-03-24 14:55] josevalim commented on #3187
Closing this per eric's feedback.

[2015-03-24 14:55] #3187 closed

[2015-03-25 11:30] eksperimental opened #3204 "Compiling with: "warning: behaviour Inspect undefined""
Compiling elixir is giving a warning:
`lib/hash_dict.ex:257: warning: behaviour Inspect undefined`
you can see it in the last build: https://travis-ci.org/elixir-lang/elixir/jobs/55719797

Could it be related to https://github.com/elixir-lang/elixir/issues/921 ?

[2015-03-25 18:53] josevalim opened #3208 "Mix.Generator.from_file uses __ENV__.file which is misleading"
Since the default in Elixir is to use `__DIR__`, to have something that relies on `__ENV__.file` can be confusing. It is also worth noticing that `Mix.Generator.embed_text` also automatically adds a `_text` extension to the argument, which is also confusing.

[2015-03-25 20:15] NobbZ opened #3209 "mix new (or anything else) not working"
Hi!

I installed elixir from source and I am not able to do anything with `mix` than to get its version:

[code]

This message appears regardless what I try to do with it, only thing working is `mix --version` (see below).

Some more info:

[code]

Same thing happened also when I tried using tags 1.0.0, 1.0.1, 1.0.2, and HEAD.

[2015-03-25 21:49] michalmuskala commented on #3204
When I'm compiling I consistently see (both or just one of those):
[code]
But it was always like that, so I assumed it was normal.

[2015-03-25 21:55] josevalim commented on #3209
Are you, by any chance, trying to run mix inside the Elixir directory or in a directory that has a mix.exs file with gibberish in it?

[2015-03-25 22:26] NobbZ commented on #3209
I don't know if it was gibberish ;) But at least there was a mix.exs.

After removing it, it worked, but that project isn't usable anymore :) I have to talk to my co-student first, its his code, I just wanted to run it here.

Perhaps that errormessage could be somewhat more meaningful?

[2015-03-25 22:27] josevalim commented on #3209
Yup, the error message is horrible. It needs to be fixed. :)

[2015-03-25 22:32] josevalim commented on #3209
The error coming from mix.exs is likely a call to `def` outside of a module.

[2015-03-26 16:55] josevalim opened #3212 "Support Erlang 18.0 features"
* [x] Support `Process.get_keys/0`
* [x] Verify https://github.com/erlang/otp/pull/351 and give feedback if required
* [x] Verify badmap for maps
* [x] Support new gen:stop in GenEvent and GenServer
* [x] Use erl_anno in the new compiler
* [x] Replace all `line: -1` by generated annotations
* [x] Migrate from dicts/sets in Elixir sources to maps
* [x] Migrate from dicts/sets in Erlang sources to m

[2015-03-26 21:47] josevalim opened #3214 "Document and test if Enum.usort and Enum.dedup use === or =="
The correct semantics would be to use `===`. Here is another bug:

    iex> Enum.usort(Stream.concat([1, 1.0], [1, 1]))
    [1, 1.0, 1]

[2015-03-26 22:07] MSch commented on #3214
I feel responsible for that :)

[2015-03-26 22:17] MSch commented on #3214
Seems this is caused by `sort_by` and the relative sort order of `1` and `1.0` not being defined in Erlang (according to https://github.com/uwiger/sext/blob/master/README.md#1-introduction)

[code]

Unfortunately I have no idea how to go about fixing the problem.

[2015-03-26 22:23] josevalim commented on #3214
I don't have an idea either. Let's talk about it later. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-03-27 14:28] josevalim commented on #3152
Interesting. I have run `:code.clash` and it reported:

[code]

You can see that in all paths, the consolidated one hides the regular one, except for Ecto. I have checked `:code.get_path` and I could verify the consolidated path comes first. Since calling `:code.rehash` also does not solve the issue, deleting and re-adding the path does it:

    Code.delete_path("_build/dev/consolidated")
    Code

[2015-03-27 15:26] #3154 closed

[2015-03-27 21:52] lau commented on #3212
The variable map keys feature in 18.0 sounds nice. Should it just work automatically?

[2015-03-28 00:31] oneeman commented on #3144
@shankardevy Are you working on this issue?  I was thinking I'd give it a go, but I thought to ask first, to avoid the duplication of effort if you already were.

[2015-03-28 11:00] pma commented on #3204
I'm getting the same compiler warnings when compiling master.

[code]

[2015-03-28 12:32] oneeman commented on #3121
I'm on it.

[2015-03-28 19:22] josevalim commented on #3214
Following up: the least we can do for now is to document and add a test that dedup_by uses `===` behind the scenes.

Now, to solve the sorting issue, the only option is to change our sort algorithms so it returns `:lt | :eq | :gt` instead of `true` if `a <= b`. This is a bigger change but it can certainly be done, including in a backwards compatible fashion. The biggest issue is that we would need

[2015-03-28 21:30] oneeman commented on #3116
It seems that it does work but the behavior isn't what one might expect intuitively.  The documentation says:

`--warnings-as-errors - treat warnings as errors and return a non-zero exit code`

Trying it out and checking the exit codes:
[code]

So the exit code is what it should be.  And the exit code is also what is tested in `cli_test.exs` in the test `"warnings as errors"`.

Perhaps what we wan

[2015-03-29 02:43] #3121 closed

[2015-03-29 02:46] josevalim commented on #3116
Oh yes, I remember now. The rationale was that you want to get as many warnings as you want instead of failing on the first one. So this is right, your build tools and what not should fail too, and this is what we want. I don't think we need to do anything code related here, unless we can improve the docs somehow.

Thank you @oneeman!

[2015-03-29 02:46] #3116 closed

[2015-03-29 03:16] josevalim opened #3219 "Rename :shell option in Mix.Utils.read_path! and "mix archive" to --system"

[2015-03-29 08:51] zambal opened #3220 "Binding issue with eval_quoted and quote/unquote"
Since you have to perform quite some steps to reproduce this issue, I wrote some code that highlights the issue in this gist:

https://gist.github.com/zambal/b83c198fb4d58186c733

It boils down to:

If you eval a nested quote:

[code]

and unquote `res`

[code]

The compiler complains with `function n/0 undefined` if `square/1` is a local macro. If `square/1` is a macro from another module there i

[2015-03-29 17:06] ericmj commented on #3116
It's important to make sure that we do not produce compiled binaries for the files with warnings, otherwise you will get the warning once and the next compilation will be complete successfully.

A quick test shows that we do not produce binaries but we still print "Compiled lib/foo.ex" which is confusing since compilation never completed.

[2015-03-30 04:48] #3144 closed

[2015-03-30 05:02] josevalim commented on #3177
We can use the __CALLER__ environment to know if we are inside a guard or not! https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/macro/env.ex#L30 With this information, we can generate a simple call to :erlang.or inside a guard otherwise a case.

[2015-03-30 09:44] lexmag commented on #2662
I've found myself a couple of times reimplementing `Logger.Watcher`; are there any plans to have the `GenEvent.Watcher`? I'd like to work on it if it's needed.

[2015-03-30 12:06] oneeman commented on #3177
Yes, that works when the time comes to do the change.  But I meant with regard to issuing a deprecation warning before we make this change:

[2015-03-30 14:30] perc-MikeBinns commented on #3116
@josevalim Would adding a line at the end of compilation that states "compile failed due to warnings" be a code change to take from this issue? We have added this flag to our semaphore build, but it is not obvious right now to someone looking at the output (which simply contains 'compiled' lines and 'warning' lines) that the reason it failed is because we have enabled the warnings-as-errors flag.

[2015-03-30 15:25] josevalim commented on #3116
That would be a great addition, yes. I could swear we did that but
apparently we do not. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-03-30 15:26] perc-MikeBinns commented on #3116
Additionally, --warnings-as-errors on mix test would allow automated build systems to catch warnings in test files. Currently, since test files don't get compiled with mix compile, and --warnings-as-errors isnt recognized on mix test, there is no way to root out these warnings in test files via automated builds or linting tools.

[2015-03-30 15:26] josevalim commented on #3177
We don't need to deprecate in guards because semantically the behavior
won't change. You always need to return booleans in guards.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-03-30 15:31] perc-MikeBinns opened #3222 "Add "compile failed due to warnings" message with --warnings-as-errors"
--warnings-as-errors currently returns the correct error code when warnings are present, but no message is noted at the end of the process that warnings caused the compilation to fail. Automated systems will correctly fail, but it is not apparent to a person reading the output that 1) the compile failed or 2) why it failed.

See discussion:

https://github.com/elixir-lang/elixir/issues/3116#issuec

[2015-03-30 15:32] perc-MikeBinns opened #3223 "Support --warnings-as-errors on mix test"
--warnings-as-errors on mix test would allow automated build systems to catch warnings in test files. Currently, since test files don't get compiled with mix compile, and --warnings-as-errors isn't recognized on mix test, there is no way to root out these warnings in test files via automated builds or linting tools.

[2015-03-30 15:32] perc-MikeBinns commented on #3116
Created this for discussion of the mix test implementation of warnings as errors:

https://github.com/elixir-lang/elixir/issues/3223

[2015-03-30 15:34] oneeman commented on #3177
Ah, thanks, I understand now.  It's:

(a) Inside guards: switch right away
(b) Outside guards: add deprecation warning if the second value isn't boolean

[2015-03-30 15:35] josevalim commented on #3223
@perc-MikeBinns I think this one should be solved with:

    $ MIX_ENV=test mix do compile --warning-as-errors, test

It would be really hard to support all compiler options through `mix test`.

[2015-03-30 15:35] #3223 closed

[2015-03-30 15:37] josevalim commented on #3222
This is the code:

https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel/parallel_compiler.ex#L61

I believe we just need to write to stdout before.

[2015-03-30 15:37] josevalim commented on #3177
Perfect!

[2015-03-30 20:09] lexmag commented on #2519
Hey @jquadrin, are you working on this issue? I'd like to give it a shot if there is no work is going on.

[2015-03-31 00:08] lexmag commented on #3208
Should not `Mix.Generator.from_file` be removed?
As I see it was deprecated https://github.com/elixir-lang/elixir/commit/a6b1cca91fefca3e0eaf1009bf3340c4d51985eb and probably removed https://github.com/elixir-lang/elixir/commit/058b157b363b721b359b86aca9c17829629a9c42.

[2015-03-31 00:30] josevalim commented on #3208
Good catch, I am using it in Phoenix, I need to stop doing it. :)

[2015-03-31 00:30] #3208 closed

[2015-03-31 05:15] shankardevy commented on #3144
Sorry @oneeman , didn't notice your message. Thanks for asking. I see you have already completed while I was nowhere near ;-)

[2015-03-31 05:17] jsvisa opened #3224 "String.slice/2 different behaviour in Elixir 1.0.0 and 1.0.3 when the string ends with "\r\n""
In Elixir 1.0.3, See the example below:

[code]

while in Elixir 1.0.0, the  behaviour is normal, I think it's a bug, if it is, I'll try to fix it later today.

[2015-03-31 05:22] josevalim commented on #3224
The behaviour in 1.0.3 is correct because String.slice/2 works on graphemes and `\r\n` is considered a single grapheme.

[2015-03-31 05:22] #3224 closed

[2015-03-31 05:22] josevalim commented on #3224
Thank you for opening a bug report and asking though. It is very appreciated!

[2015-03-31 06:03] jsvisa commented on #3224
@josevalim  So If  I want to slice the  ending `\r\n`, maybe the string contains  more than one `\r\n`, and I don't want to judge it's Elixr 1.0.0 or Elixir 1.0.3, what should I do with a simple method? Should is effective:

[code]

[2015-03-31 06:04] josevalim commented on #3224
Yes, binary_part would be it.

[2015-03-31 06:04] jsvisa commented on #3224
@josevalim Thanks for your reply :+1:

[2015-03-31 08:50] sylane opened #3225 "Macros with try/rescue fail to compile when used inside tuples"
the following macro compile if used as in `good/2` but if used as in `bad/2` elixir fail to compile with the error `:ambiguous_catch_try_state` (see the full error at the end).

[code]

[2015-03-31 09:37] andreas-roehler opened #3226 "Documention, known keywords as placeholder"
Suggest not to use widely known symbols as place-holder. These might be taken for symbols pointing at implemented stuff.

elixir-lang.readthedocs.org/en/latest/ref/master/elixir/Stream/index.html#module-Stream:

iex> Enum.map range, &(&1 * 2)
[2,4,6,8,10]

Problem: range is a well known function in other languages, but used as an arbitrary identifier here:

iex> range = 1..5
1..5

While understand

[2015-03-31 09:39] eksperimental commented on #3225
Error:
[code]

[2015-03-31 10:54] lexmag commented on #3226
As for me, I think it's a correct naming since `range` variable represents `Range` data type.
BTW there is the [elixir-lang-core](https://groups.google.com/forum/#!forum/elixir-lang-core) mailing list for that kind discussions. :)

[2015-03-31 12:37] oneeman commented on #3144
No problem :-)

[2015-03-31 15:15] josevalim commented on #3226
This is a great opportunity to learn that `range` isn't anything special in Elixir. If we are going to not use widely known symbols... we are considering which languages? Ruby, Haskell, Erlang and maybe Java and C or Javascript?

There is no right answer here and calling it range tells what the value also is, while `my_var` or `bar` would be too empty.

[2015-03-31 15:15] #3226 closed

[2015-04-01 16:14] jschoch opened #3227 "bug windows file path causes crash"
not sure why this causes the vm to crash on windows.  File.stat also crashes, as does :filelib.file_size/1

[code]

[2015-04-01 17:06] josevalim commented on #3227
Which Elixir and Erlang versions?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-01 17:43] jschoch commented on #3227
this appears to be related to windows deduplication and erlang.  I submitted a bug to erlang-bugs.

i was able to reproduce with 17.3 and 17.5 on windows 2012 with deduplication turned on.  Closing the issue, hope no one else has this problem, it was not easy to figure out.

[2015-04-01 17:43] #3227 closed

[2015-04-01 20:29] jquadrin commented on #2519
@lexmag i started some work on it but nothing substantial, go for it!

[2015-04-01 21:03] yeradis opened #3228 "Elixir 1.0.3 and Erlang OTP 17.5 not working"
Trying on Windows 8.1 x64

1) Install Erlang OTP 17.5
2 Install Elixir 1.0.3 using web setup

Then trying to get the version you can see this:
[code]

Also:

[code]

[2015-04-01 21:04] josevalim commented on #3228
Yes, it is fixed in v1.0 and master branches. v1.0.4 is going to be released by next week.

[2015-04-02 13:05] josevalim commented on #2862
This is on v1.0 and master. Will be released as part of v1.0.4.

[2015-04-02 13:05] #2862 closed

[2015-04-02 13:06] josevalim commented on #3152
This is on v1.0 and master. Will be released as part of v1.0.4.

[2015-04-02 13:06] #3152 closed

[2015-04-02 13:06] #2923 closed

[2015-04-02 13:06] #3020 closed

[2015-04-02 13:06] #3228 closed

[2015-04-02 13:09] #3178 closed

[2015-04-02 14:57] #3219 closed

[2015-04-02 16:36] lexmag commented on #2519
@jquadrin thank you!

[2015-04-02 16:41] josevalim commented on #3209
Fixed in master, thank you!

[2015-04-02 16:41] #3209 closed

[2015-04-02 18:22] tony612 commented on #3190
I'm working on this, but I'm not sure what's the proper way to do deprecation in Elixir. For this example, I think we should remove `:as` option in the repo first. Then we need to add the doc about the deprecate. At last, we should warn users when they use `:as` in the code. The first 2 step seems not difficult. But I have no idea for the 3rd step, how to do this?

I try to print some warning in `

[2015-04-02 19:49] reset commented on #3152
Thank you @josevalim!

[2015-04-02 20:36] art-solopov commented on #2911
Have the same issue. Ubuntu 14.04.2, Erlang OTP 17.0. Installed according to the instructions.

[code]

Here's the crash dump (renamed to *.txt for convenience: http://www.mediafire.com/view/lv20h1ymd9svn37/erl_crash.dump.txt)

[2015-04-02 20:41] art-solopov commented on #2911
In fact, here's what happens when I try to compile Elixir:

[code]

[2015-04-02 20:53] josevalim commented on #2911
You are using Erlang 17.5, I assume, which won't work with latest Elixir. A new version is coming out soon.

[2015-04-02 21:10] art-solopov commented on #2911
@josevalim: Thank you!

[2015-04-03 00:04] oneeman commented on #3177
Punting this to @josevalim since doing it without winding up with `this clause cannot match because a previous clause always matches` warnings requires greater expertise.

[2015-04-03 14:04] Alamoz opened #3233 "Elixir on Mint/Ubuntu broken after Erlang update"
Just updated my Erlang APT package to the latest Erlang 17 using [erts-6.4] and now my Elixir is not working. When I enter iex this is the output:

Erlang/OTP 17 [erts-6.4] [source] [64-bit] [smp:4:4] [async-threads:10] [kernel-poll:false]

*** ERROR: Shell process terminated! (^G to start new job) ***

=INFO REPORT==== 3-Apr-2015::07:00:54 ===
    application: elixir
    exited: {bad_return,

[2015-04-03 14:07] websymphony commented on #3233
See https://github.com/elixir-lang/elixir/issues/2911#issuecomment-89042120

[2015-04-03 14:18] josevalim commented on #3233
Yes, it is broken, try v1.0 or master, new release coming soon.

[2015-04-03 14:18] #3233 closed

[2015-04-03 21:00] bjhaid opened #3234 "Task.await timeouts when a receive block that consumes all messages in the mailbox is in between Task.async and Task.await"
Example:

[code]

output:

[code]

If the calling process also traps exit it would receive messages it did not subscribe to in its mailbox, e.g:

[code]

output:

[code]

See: http://erlang.org/pipermail/erlang-questions/2015-April/084123.html

[2015-04-03 21:04] bjhaid commented on #3234
I would be willing to take this on, if it is a would fix

[2015-04-03 22:00] josevalim commented on #3234
There is no fix. It is documented that a Task sends a message back, if you
consume it, then it will timeout.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-03 22:13] bjhaid commented on #3234
@josevalim how about the second case where you have messages left in the mailbox of the caller?

[2015-04-03 22:19] josevalim commented on #3234
I have replied there. Same issue happens in GenServer and elsewhere. The
answer is don't catch exits.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-03 22:23] bjhaid commented on #3234
thanks!

[2015-04-03 22:27] fishcakez commented on #3234
I think almost a reverse bug exists. It should be explicit when `Task.await/2` and `Task.find/2` demonitor otherwise expected messages do not occur.

[2015-04-04 01:45] lowks opened #3235 "iex errors out."
I am running with the following setup:

- OS - Ubuntu-14.04
- Erlang - Installed via packages.
~/s/elixir➜ erl --version
Erlang/OTP 17 [erts-6.4] [source] [64-bit] [smp:8:8] [async-threads:10] [kernel-poll:false]

Eshell V6.4  (abort with ^G)
1>

- Elixir - Installed using packages too.
All packages are from binaries.erlang-solutions.com

When I try starting up iex, I get this:

Erlang/OTP 17 [ert

[2015-04-04 01:47] josevalim commented on #3235
Latest Erlang does not with Elixir. Please downgrade Erlang or use branch
v1.0.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-04 01:50] lowks commented on #3235
Wow you are fast :) :+1:

[2015-04-04 01:53] lowks commented on #3235
Well I guess then the instructions here: http://elixir-lang.org/install.html should be changed as well since I followed this one to the tee.

[2015-04-04 02:03] eksperimental commented on #3235
@lowks: true.. while updating install.html will help, there is another well known rule of bug reporting that says,, search for your bug in the issue tracker, maybe someone else reported it before

[2015-04-04 02:06] lowks commented on #3235
@eksperimental thanks :+1:

[2015-04-04 02:08] eksperimental commented on #3235
@lowks ;-) no worries

@josevalim i think we should create an issue and leave it open reporting this issue, so it's more visible, and It will save people reporting the issue. I know 1.0.4 is on the way.. but still.

[2015-04-04 02:10] lowks commented on #3235
Just another observation is, checking for erlang versions is not exactly the most straight forward thing to do. Is there a significant number of Elixir developers who are not well versed with Erlang or I am just the minority ?

[2015-04-04 05:19] edgurgel commented on #2862
Awesome! :+1:

[2015-04-04 06:29] Alamoz commented on #3233
Thank you. Building from source solved the problem. I'll keep building from source, a better method, especially considering the included test suite.

[2015-04-04 14:19] ericmj commented on #3235
What do you mean? Checking for erlang versions that elixir supports?

[2015-04-04 14:22] lowks commented on #3235
Checking for erlang versions in general. It's version numbers are confusing
On Sat, 4 Apr 2015 at 10:21 pm Eric Meadows-Jönsson <
notifications@github.com> wrote:

[2015-04-04 14:27] oneeman commented on #3235
@ericmj There was someone else with the same error on IRC today and it wasn't obvious to me how to check the OTP version (in the end `apt show erlang` works, but that's just for debian-based distributions). And even /usr/lib/erlang/releases/RELEASES mentioned in http://stackoverflow.com/questions/9560815/how-to-get-erlangs-release-version-number-from-a-shell doesn't say "17.x" as far as I can tell

[2015-04-04 14:29] ericmj commented on #3235
Yes they are confusing, especially since they just changed versioning scheme. Not sure how it relates to elixir or elixir developers though.

OTP 17 is the major release which includes many new features and possibly breaking changes. 17.5 is a service release which are smaller and usually contain bug fixes and a few minor new features. Unfortunately this team they included a breaking change that c

[2015-04-04 14:35] ericmj commented on #3235
@oneeman The OTP team chose to not have an easy way of showing the service release version you are because it does not necessarily map to an exact set of installed erlang applications and their versions (you can install and patch the different applications independently that OTP bundles). Unfortunately this makes it harder for the vast majority of users that do not patch independent applications o

[2015-04-04 14:37] oneeman commented on #3235
Ah, I see.  Thanks!

[2015-04-04 15:25] oneeman commented on #3190
@tony612 There are functions in `elixir_errors.erl` for issuing warnings: https://github.com/elixir-lang/elixir/blob/e49a806e8abe43c62c9c1b21ea7eb2217bef1966/lib/elixir/src/elixir_errors.erl#L9-L30.  I think `warn/3` is the one to use, since `form_warn/4` seems to be used with data structures rather than English messages.  But I may be wrong about that.   Maybe @josevalim can clarify which is the

[2015-04-04 15:49] #3222 closed

[2015-04-04 15:50] #3235 closed

[2015-04-04 15:51] #3234 closed

[2015-04-04 17:55] oneeman commented on #3143
Looks interesting, I'll see if I can figure something out.

[2015-04-04 20:30] josevalim commented on #3143
Nice. This behaviour was changed in this commit:

https://github.com/elixir-lang/elixir/commit/2137c28e4e2d28d08451ad1a9c32caf5f5ab3c39

The change happened when we moved the [run_on_definition_callbacks](https://github.com/elixir-lang/elixir/commit/2137c28e4e2d28d08451ad1a9c32caf5f5ab3c39#diff-48ea84f09de5b6869f2793c15e811319R164) to run after the expression. I think we should revert it to the pr

[2015-04-05 17:29] #3143 closed

[2015-04-05 19:03] #2264 closed

[2015-04-05 19:59] ctaggart commented on #3235
I think I have the same issue on my iMac. I'm just trying to get started. I installed both `erlang` and `elixir` using `brew`.

![image](https://cloud.githubusercontent.com/assets/80104/6998339/4ae97ff6-db93-11e4-8eb8-e7f19180384c.png)

It is not urgent. I was just looking at the new-to-me language. Do I just wait for `1.0.4` or figure out how to downgrade erlang to a compatible version?

[2015-04-05 20:04] josevalim commented on #3235
You can run `brew install elixir --HEAD` and it will install master which should be enough until v1.0.4 comes out in a couple days.

[2015-04-05 20:04] josevalim commented on #3235
You can also try this: https://github.com/Homebrew/homebrew/issues/38345 if you have a previous erlang installed.

[2015-04-05 20:21] matrixise commented on #3212
Here is my contribution for the support of `Process.get_keys/0`

PR: https://github.com/elixir-lang/elixir/pull/3241

[2015-04-05 20:23] josevalim commented on #3212
Thanks @matrixise but we can't merge it for now. I have updated the description so other developers don't send PRs that won't be merged anytime soon.

[2015-04-05 20:26] ctaggart commented on #3235
Thanks! That worked.

![image](https://cloud.githubusercontent.com/assets/80104/6998404/22915f0c-db97-11e4-9f44-19f6b7767f63.png)

[2015-04-05 20:26] matrixise commented on #3212
But how will you implement the Process.get_keys/0 function ? About the patch, this is for the last version of Elixir and Erlang R18. In fact, I don't understand why you don't merge it for this issue. Can you explain ? thanks

[2015-04-05 21:04] josevalim commented on #3212
We won't implement it until 1.1 is out. Master today is for Elixir 1.1 and we won't start work on 1.2 until 1.1 is out. To be clear:

* Elixir 1.1 will support 17 and 18 equally. It won't introduce any feature that is 18 only (like `Process.get_keys/0`)
* Elixir 1.2 will support only 18 and it will be released shortly after 1.1 introducing only specific 18 features

[2015-04-05 21:06] josevalim commented on #3212
More clarification: the issue with your patch is that anyone using it would add an implicit dependency on Erlang 18 which would then require applications to specify both Erlang and Elixir dependencies. For example, Erlang >=18 and Elixir >=1.1.

[2015-04-05 22:09] matrixise commented on #3212
Yep, in this case, I understand. I will propose it when master will be for Elixir 1.2. Thanks for this clarification.

[2015-04-05 22:28] josevalim opened #3242 "Try a MapSet implementation"
With Erlang 18 coming out, I am starting to believe that the fastest way to implement a Set would actually be by using a map behind the scenes. After all, a Set is a map where having a given key means the entry exists in the set.

So here is what I have in mind. We create a new MapSet struct, that implements the Set behaviour. MapSet will be defined as follows:

    defstruct set: %{}

And all fun

[2015-04-05 22:28] josevalim commented on #3242
@lexmag interested in experimenting with this one?

[2015-04-05 23:23] lexmag commented on #3242
@josevalim sure, would love to try.

[2015-04-06 00:39] ericmj commented on #3242
@josevalim We could consider cheating and have `defstruct []` with values directly on the struct if there is a performance benefit.

[2015-04-06 00:40] lexmag commented on #3242
@ericmj in that case with have to deal with `:__struct__` entry as a special case.

[2015-04-06 00:42] ericmj commented on #3242
Yeah, may or may not be worth it.

[2015-04-06 01:45] caizongchao opened #3243 "In config/config.exs, only config values defined in root scope are visible while calling Application.get_all_env()"
In the code below, expected visible config values are: :repo_all, :repo_count, CC.Repo.S0, CC.Repo.S1.

But while calling Application.get_all_env(CC) to retrive config values, only :repo_all and :repo_count are visible.

[code]

[2015-04-06 08:27] josevalim commented on #3242
Yeah, i didn't figure out a way to handle `:__struct__` that's why i didn't propose it. :(

[2015-04-06 10:56] StevePiePie opened #3244 "Elixir crash in Xubuntu 14.10"
Install from Erlang solution repo
[code]

[2015-04-06 11:52] josevalim commented on #3244
Yes, please downgrade Erlang to 17.4 or use Elixir from v1.0 branch. A new
release is coming tomorrow

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-06 12:01] #3244 closed

[2015-04-06 18:26] c-rack opened #3249 "Guard is not effective on inlined function"
The function `Integer.to_char_list/2` is inlined by compiler and has the guard `when is_integer(base) and base in 2..36`:
https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/integer.ex#L244-L247

Now, we would expect that calling `Integer.to_char_list/2` with an invalid argument for `base` should raise a `FunctionClauseError`, because there is no other matching function.

Instead, it

[2015-04-06 18:39] josevalim commented on #3249
Thank you! Closed in favor of #3248.

[2015-04-06 18:39] #3249 closed

[2015-04-06 18:45] c-rack commented on #3249
Sure, when I reported this problem on IRC about 3 hours ago, I was not aware that the community would pick up this problem that fast :+1:

[2015-04-06 23:14] TiuTalk opened #3251 "Mix crashing after fresh install on OSX"
I've tried reinstalling **Elixir** with:

[code]

The same thing happens when I try to run `iex`.

Here is the `erl_crash.dump`:
https://gist.github.com/TiuTalk/35cd2f8c25ee9e1ba138

Is there any other information I can provide to help identifying this "bug"?

Should I try to compile it?

[2015-04-07 01:05] edgurgel commented on #3251
This is probably related to the newest Erlang version: https://github.com/elixir-lang/elixir/issues/3244

[2015-04-07 01:48] TiuTalk commented on #3251
Probabaly! I will try downgrading to see if it works.

[2015-04-07 01:49] TiuTalk commented on #3251
Indeed, this is a duplicate of #3244... thanks for your help, @edgurgel

[2015-04-07 01:49] #3251 closed

[2015-04-07 09:11] jeznet commented on #3228
Till 1.0.4 comes out you can try: https://groups.google.com/forum/#!topic/elixir-lang-talk/FyzHE6N16Nk

[2015-04-07 21:47] fuson opened #3253 "Macros with space in theirs "keywords""
Whats your opinion? Is it possible to implement without backwards incompatibility?

"select all ..."  is more naturally then "select_all ...", from my point on view, and macroses may stay more 'language natively' then now.

[2015-04-07 21:49] josevalim commented on #3253
Please bring those discussions to the elixir-lang-core mailing list. The issues tracker contains only issues and features that were already approved to be implemented.

[2015-04-07 21:49] #3253 closed

[2015-04-07 22:12] josevalim opened #3254 "Do not allow tuple.foo calls anymore"
It is about time to break away from this weird Erlang behaviour. Something to be discussed for 2.0.

[2015-04-07 23:28] lexmag commented on #3242
I've made initial implementation of `MapSet` https://github.com/lexmag/elixir/commit/a26cd96f72247f1bea6d3be56d3922f2c7e0df24 and run benchmarks for several functions https://gist.github.com/lexmag/32977ce8fd7cb44ddefa so far.

[2015-04-08 00:28] gamepoet commented on #3152
Thanks. I'll be taking a look at this as soon as your 1.0.4 homebrew PR gets merged.

[2015-04-08 10:06] josevalim commented on #3242
If I read them correctly, the results are really, really good. Please do send a pull request. :)

[2015-04-08 10:07] josevalim commented on #3242
And before I forget, thank you for doing this!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-04-08 10:23] lexmag commented on #3242
My pleasure. Will send WIP PR soonish; the result are really good, but as you might see I've done the tests not for all the functions (only BIF-based), most interesting ones are left. :smile:

[2015-04-08 13:35] sononix opened #3255 "build failing"
just tried installing elixir
sudo make clean test

getting this error
cd lib/elixir && ../../rebar clean
env: escript: No such file or directory
make: *** [clean] Error 127

erl -v
Erlang/OTP 17 [erts-6.4] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]
Eshell V6.4  (abort with ^G)
1>

[2015-04-08 14:05] ericmj commented on #3255
Looks like you don't have escript on your machine so probably something wrong with your erlang installation. What does `which escript` say?

[2015-04-08 14:22] josevalim commented on #3255
Can you also try without sudo?

[2015-04-08 14:25] sononix commented on #3255
when i run - which escript i dont see anything but running escript comes back with

escript
escript: Missing filename

[2015-04-08 14:29] josevalim commented on #3255
I think the issue is `sudo`. Does `sudo erl -v` work?

[2015-04-08 14:30] sononix commented on #3255
erl -v
Erlang/OTP 17 [erts-6.4] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]

Eshell V6.4  (abort with ^G)
1>

but when i run

sudo erl -v
sudo: erl: command not found

[2015-04-08 14:33] josevalim commented on #3255
That's it. Don't run `make clean test` with sudo because sudo changes your paths and it can no longer find erlang.

[2015-04-08 14:33] #3255 closed

[2015-04-08 14:37] sononix commented on #3255
any particular reason for that - it just seems like a strange behaviour

[2015-04-08 14:40] josevalim commented on #3255
thats how unix works as sudo changes the user. not related to elixir or erlang

[2015-04-08 14:42] sononix commented on #3255
thanks guys - I think something is after going wrong on my system - Im having other issues with sudo which i hadnt before

[2015-04-08 15:46] lidashuang opened #3257 "Eliexir 1.0.4 compile failure"
os: OS X Yosemite 10.10.2
erlang-17.3.4
elixir 1.0.4 or master
[code]

[2015-04-08 16:21] josevalim commented on #3257
I can't reproduce it here. It may be a race condition. If you run it again, does it fail or pass?

[2015-04-09 13:08] TheFirstAvenger opened #3259 "Persistent iex history"
Currently, when using IEX for testing, if you exit out of IEX to rerun iex with new code, the up-history is cleared out. This results in a large amount of scrolling up in your terminal and copy/pasting commands over again. If the IEX history was somehow made persistent across sessions, it would be a very welcome improvement in developing using Elixir.

[2015-04-09 13:11] aandrieiev commented on #3259
+1. Since IEx.pry plays so a major role in debugging, history preservation is a must.

[2015-04-09 13:31] lexmag commented on #3259
There are a couple of the same issues:
https://github.com/elixir-lang/elixir/issues/1516
https://github.com/elixir-lang/elixir/issues/2945

[2015-04-09 13:36] ericmj commented on #3259
It needs to be supported in OTP. You can use https://github.com/ferd/erlang-history instead.

[2015-04-09 13:36] #3259 closed

[2015-04-10 20:21] oneeman commented on #3017
The problem is that the `end` EEx tokens are currently only supported if they consist of only `end` and whitespace, which explains why the two examples you have lead to errors while the one in the gist works.

@josevalim Any thoughts on what the desired behavior would be?  A minimal approach would be to also support `)` characters after the `end`, which would make the second example here work but

[2015-04-10 20:30] josevalim commented on #3017
@oneeman I will leave that decision to you. How can we make it more robust without adding tons of complexity? If we can handle `)` and other use cases, the better. If someone writes `end; if true do`, we could also raise and so on.

[2015-04-10 20:31] josevalim commented on #3017
But if you want some specific, direct input from me, just let me know and I can be more assertive.

[2015-04-11 06:00] jcspencer commented on #3254
Are there any currently proposed ideas of a replacement syntax for this behaviour? If not, what do you aim to achieve from breaking away from this behaviour in 2.0?

[2015-04-11 08:03] josevalim commented on #3254
@jcspencer if you do `{1, :foo}.bar`, the stacktrace is very hard to understand and it has caused confusion, and we are not gaining any features from allowing such tuple calls.

[2015-04-11 11:56] #3242 closed

[2015-04-11 14:27] #3017 closed

[2015-04-13 12:05] josevalim commented on #3225
It is a bug in Erlang that has been fixed on Erlang 18 (we had reported it some time ago). :)

[2015-04-13 12:05] #3225 closed

[2015-04-14 08:11] josevalim opened #3268 "Warn if variable is used as function call"
Today, Elixir will transform `var` into `var()` in case `var` does not exist in the user context. I would like to propose those cases to emit a warning from today on.

The downsides is that we add a tiny inconsistency. We can make function call without parens unless it is a function with null-arity. On the other hand, we already have inconsistency in the sense we can only shadow function calls wit

[2015-04-15 03:42] pkoppstein opened #3269 "documentation: communicating with an iex node behind a firewall"
I'm having trouble setting up a two-computer environment for Elixir because one of the computers is behind a firewall.  I've spent some time looking for documentation and hints about doing this, and have made some progress, but the documentation that I've been able to find seems to be inadequate.  In any case, I'd certainly appreciate some help!

Please note that I'm familiar with the general proc

[2015-04-15 03:56] eksperimental commented on #3269
post this in the mailing list, this is not the place for such questions.
anyway, you will have more exposure there.

[2015-04-15 04:09] pkoppstein commented on #3269
@eksperimental - Isn't this a documentation issue?  Elixir is supposed to be useful for distributed computing, isn't it?

[2015-04-15 04:12] eksperimental commented on #3269
sounds more like a feature request for documentation, than pointing something that is documented wrong.
it will help if you post a link to the documentation you are talking about.

[2015-04-15 04:36] pkoppstein commented on #3269
@eksperimental suggested:

The following page is titled "Distributed tasks and configuration" but it mainly covers the case of
"two nodes in the same machine". It does touch on machines in the same network, which is nice, but still rather restricted:

http://elixir-lang.org/getting-started/mix-otp/distributed-tasks-and-configuration.html

The above-mentioned page does provide a pointer to Erlang d

[2015-04-15 05:28] eksperimental commented on #3269
feature requests should be sent to the elixir-core mailing list http://groups.google.com/group/elixir-lang-core

[2015-04-15 07:23] #3269 closed

[2015-04-15 07:35] josevalim commented on #3269
This is a bit of a grey area. If you want to do very custom deployments, you need to read Erlang docs and options. I don't think it makes sense to duplicate those docs in Elixir land. ANyway, the discussion will continue in the mailing list!

[2015-04-16 11:07] josevalim opened #3272 "Incompatibility between @doc and import"
Today, even if we `@doc false` some function, it will still be imported if someone imports the module. I am listing this as a potential bug, although I am not sure if it qualifies as one or if there are any solutions.

[2015-04-16 11:07] #3257 closed

[2015-04-16 11:35] whatyouhide commented on #3272
This is one tricky case :). In Elixir it looks like `@doc false` is **the** "standard" way to use a function from another module within the same library, without exporting it outside the library. Maybe the solution could be something like a `@hidden` attribute:

[code]

The `@hidden` (or whatever name) attribute would

* hide the function from the documentation
* prevent the function from being im

[2015-04-16 11:54] tony612 commented on #3272
@whatyouhide It seems like `defp`

[2015-04-16 11:57] whatyouhide commented on #3272
@tony612 with the **major** difference that you can actually *call* that function from outside the module (provided you know the name and arity of the function).

[2015-04-16 12:02] lexmag commented on #3268
Strongly :+1:

[2015-04-16 20:31] stevegraham opened #3274 "undefined function: Agent.stop/2"
When starting a new Phoenix project. Running any mix task that performs compilation aborts with the following error.

[code]

I have replicated this with Elixir master branch.

Info:

[code]

cc @chrismccord

[2015-04-16 20:46] josevalim commented on #3274
Are you or any project accidentally defining a module named Agent? What does `:code.which Agent` returns to you?

[2015-04-16 20:48] josevalim commented on #3274
Oops, that's very visible in your output:

Yes, don't redefine an existing module, otherwise the system will behave in unexpected ways. :)

[2015-04-16 20:48] #3274 closed

[2015-04-16 20:49] josevalim opened #3275 "Check on mix new if the given application module exists and raises if so"

[2015-04-16 20:49] stevegraham commented on #3274
This is a fresh project. There is literally no code in it. How is it possible I have opened the Agent module?

[2015-04-16 20:51] josevalim commented on #3274
If you created a project as `mix new agent` or `mix phoenix.new agent`, then it defined a module named Agent. I have already opened an issue to be sure we check the module does not exists before generating.

[2015-04-16 20:52] stevegraham commented on #3274
That is it. The project is called `agent`. Now I feel stupid! :laughing: Thanks for helping me out so late at night!

[2015-04-17 16:58] zambal opened #3277 "False unused import warning when using Code.eval_quoted/3"
When using Code.eval_quoted/3 inside a macro, the compiler complains about an unused import although functions from the imported module are used.

See this gist for a minimal example that illustrates the issue:

https://gist.github.com/zambal/52ab241a8c84a80e9e13

[2015-04-17 17:07] josevalim commented on #3277
Import is lexical and eval is not lexical so, for all purposes, you didn't
use the import.

You can pass warn: false forces like this.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-17 17:16] zambal commented on #3277
Ah, I didn't realize that. Thanks for the quick update. Before closing this issue: is it possible to suppress the warning any other way? I stumbled upon this while using a library that I wrote and I think it would be slightly inconvenient for other users of the library to always write `warn: false` when importing a module.

[2015-04-17 17:57] josevalim commented on #3277
Not in the current way the library is structured. Maybe it would be fine if
somehow you used module attributed? Also, you need to Macro.escape the eval
result otherwise it expects AST and it will choke on things like maps.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-17 19:00] zambal commented on #3277
Whoops, I made the example too simple :) In the actual library code, it works a bit different and evaled code gets properly escaped before inserted.

I don't understand how module attributes could help in this case?

[2015-04-17 19:03] josevalim commented on #3277
After thinking more about it, I don't think module attributes can help it either. I mean, you could use module attributes, but then you don't need the precompile macro. :(

[2015-04-17 19:21] zambal commented on #3277
That wouldn't really be an option, since I use the precompile macro for precompiling/rendering markup in my [Eml](https://github.com/zambal/eml) library. Anyway, thanks for thinking with me <3

[2015-04-17 19:47] josevalim commented on #3277
I have no idea how Eml works but, if the structures are macros, you can achieve much of the precompiled by using Macro.expand and doing the work solely at compile time without evaling. That's what we do in Ecto and I would love to provide more pointers if you are interested. Closing this for now though!

[2015-04-17 19:47] #3277 closed

[2015-04-18 19:19] jazzyb opened #3279 "GenServer process killed before ExUnit.on_exit callback"
I am trying to stop a GenServer process within an `ExUnit.on_exit` callback:

[code]

When the test is run, I get the following error even though the GenServer process is still alive in the test block:

[code]

My environment is Elixir 1.0.4, OTP 17.3.4, and FreeBSD 10.1:

[code]

Pull my [on_exit repo](https://github.com/jazzyb/on_exit) for the reduced test case.  This issue is present in master.

[2015-04-18 19:39] josevalim commented on #3279
Because your TestProcess is linked to the actual test process and every test runs in its own process, once the test finishes, your TestProcess will exit due to link. This is not a bug, it is a feature. It means you don't need to explicitly stop it. :)

[2015-04-18 19:39] #3279 closed

[2015-04-18 20:50] jazzyb commented on #3279
Sorry, I was certain that was a bug.  Thanks for the quick response!

[2015-04-18 20:52] josevalim commented on #3279
No problem! I jokingly said that "all bugs are now features" when we released 1.0. This one happens to actually be true :P

[2015-04-19 07:30] liveforeverx commented on #3272
"The @hidden (or whatever name) attribute would"

It make sense, only if there will exists something like import_all, that really import all 'def'-defined functions, without  exceptions.

[2015-04-19 07:37] whatyouhide commented on #3272
@liveforeverx instead of introducing `import_all`, you could easily solve this like in the following example:

[code]

[code]

[2015-04-19 07:46] josevalim commented on #3272
This discussion pointed out that the current approach is fine. There are multiple ways of avoiding this (moving to another module, using underscore, etc). It seems better than somehow coupling to unrelated things. Thanks everyone!

[2015-04-19 07:46] #3272 closed

[2015-04-19 17:16] lpil commented on #3275
Hello! I'd like to take a stab at this (what with the `Level:Starter` label there and all. :smile:

To clarify, is this the sort of behaviour that is desired?

[code]

Cheers,
Louis

[2015-04-19 17:19] josevalim commented on #3275
yes, precisely!

[2015-04-19 18:17] lpil commented on #3268
To clarify, does this mean we would no longer be able to do this without an error?

[code]

If so I would be a little sad. I rather like the whole "barewords" thing, but that could just be all the Ruby talking.

[2015-04-19 19:22] #3275 closed

[2015-04-19 19:40] lpil commented on #2983
Do we know what we want to whitelist here?

[2015-04-20 06:34] mattly opened #3282 "elixirc evaluates .exs files"
While I know that `elixirc` is not meant to compile `.exs` script files, it seems some third-party tooling does not, and will happily run `elixirc my-cpu-hungry-and-possibly-dangerous-script.exs` to do things like generate bytecode that will never materialize, check for errors, etc, whereby `elixirc` will happily execute the code.

Since the main `elixir` executable will run the script file, perha

[2015-04-20 06:45] josevalim commented on #3282
The file extension is for user convenience, elixirc is going to compile whatever path you give to it.

Also, to be clear, compiling a script does not pose any security concern over executing the script itself, as executing an script and compiling a file is exactly the same process, the only difference is that compilation writes the bytecode to disk after loading it in memory, while executing the s

[2015-04-20 07:07] mattly commented on #3282
Yeah – and I have actually submitted PRs against both of those tools.

I think the problem is more one of expectations – we expect that since `elixirc` is used for compiling things (and has the effect of also providing errors and warnings), that it's safe to use this for all elixir files, regardless of their intention. Where in a normal program, you have a harness that will handle code execution a

[2015-04-20 07:40] josevalim commented on #3282
Yes, that would be the case here. So it could take a lot of time too if that module compilation just happens to be slow too.

If they want just to check syntax, using File.read! and Code.string_to_quoted would be the best.

[2015-04-20 07:40] josevalim commented on #3282
Btw, this is awesome. Thank you!

[2015-04-20 08:02] lpil opened #3283 ""Kind:Enhacement" Spelt incorrectly in issue labels"
Enhacement -> Enhancement :)

[2015-04-20 08:13] josevalim commented on #3283
Is this issue a bug or an enhacement? :P Fixed, thanks.

[2015-04-20 08:13] #3283 closed

[2015-04-20 09:34] josevalim opened #3284 "Introduce \u for codepoints in Strings"
We should remove `\x` in the long term because in most languages it represents a byte and making it a codepoint is source of confusion. The warning should only be applied for codepoints greater than 127 which will eventually become an error.

We also can remove ?\xFF because that is the same as 0xFF.

[2015-04-20 10:11] fishcakez commented on #3284
At somepoint before or at the same time `\x` is removed it would be nice to warn about invalid escapes.

[2015-04-20 10:18] josevalim opened #3285 "Rename Enum.sample to Enum.random"
I would like to reserve `Enum.sample/1/2` for time based sampling.

[2015-04-20 13:10] #3285 closed

[2015-04-20 14:18] #3282 closed

[2015-04-20 18:32] jonhkr opened #3287 "Live reload iex"
Hello everyone,
I'm just wondering if is there a way to live reload `iex` on file change?

Sometimes I have to debug a module and for every change I have to quit `iex`, open it again and type or copy/paste the commands.

Thank you.

[2015-04-20 18:36] josevalim commented on #3287
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-04-20 18:36] #3287 closed

[2015-04-21 17:48] eduardonunesptoptal commented on #3268
:+1:

[2015-04-22 11:20] alco commented on #3268
+1 from me.

[2015-04-23 16:11] jonhkr opened #3289 "Struct default values random behaviour when using env var"
I have the following scenario where a struct is defined with default values that come from `Application.get_env` function:

[code]
These env values come from the `config.exs` as follows:

[code]
Sometimes when the application starts, the struct receives the values from the config, sometimes it just receives `nil`, actually, most of the time it receives `nil`.

I think that this happens because the

[2015-04-23 17:12] sylane commented on #3225
If it is possible, could you give me the reference of the issue in erlang ?
I have to do some ugly hacks to prevent this error and would like to keep it documented.
Thank you.

[2015-04-23 19:38] josevalim commented on #3289
This behavior is going to read the application configuration at compile
time. Is this what you really want?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-23 20:07] jonhkr commented on #3289
I don't know if I'm right, please correct me if not, I believe the struct default values are evaluated only once, when the struct is evaluated. In this case I think that the application configuration should be available so that the struct can receive its default values.

One use case for this is when I need to authenticate to an third party web service and want to have my authentication info in a

[2015-04-23 21:32] ericmj commented on #3289
Struct default values are evaluated only once - at compile time. If you have the key and secret when compiling you should be fine, if not you need to fetch it every time you create a struct.

[2015-04-26 14:47] oneeman commented on #2912
Some relevant discussion from the IRC logs (March 8th, 2015), for future reference:

[code]

[2015-04-27 14:46] handnot2 opened #3293 "TokenMissingError: missing terminator: end (for "do" starting at line 1)"
erlang/17.5, elixir/1.0.4

defmodule X do
  def f(), do; nil
end

The compilation error is correct. But it would be very helpful to get a bit more help from the compiler pointing that a semicolon after "do" is the culprit. It is not easy to visually identify this especially when the file is bigger than a few lines!

[2015-04-27 16:56] #3120 closed

[2015-04-27 17:16] josevalim commented on #3293
This could be improved by making the tokenizer not check for termination do tokens that immediately follow a comma.

[2015-04-27 18:38] josevalim commented on #3289
I could not reproduce this. The values are always there if they have been set at compilation time.

[2015-04-27 18:38] #3289 closed

[2015-04-27 20:26] tallakt opened #3295 "Mix archive.install fails on my machine"
When installing the phoenix archive with mix, the `mix archive.install http://github.com/phoenixframework/phoenix/releases/download/v0.11.0/phoenix_new-0.11.0.ez` ended with an error message.

Fetching the file with wget and installing locally was ok.

[code]

I am on a compiled master which is `4b728cfd9ab1a7a774dd0c5f1e0a7ce7a3e49b67`

[2015-04-27 20:44] josevalim commented on #3295
Which erlang version?

[2015-04-27 20:45] josevalim commented on #3295
Also, please try passing the --system option. :)

[2015-04-28 00:00] jonhkr commented on #3289
I'm sorry, I've not shown you the full scenario.

This behaviour happen when I have this struct in a project and I try to configure it from another project.

Say I have the project `A` that contains this struct that gets its default values from the application configuration. Then I create project `B` that depends on project `A` to work. Project `B` sets those environment variables which are not be

[2015-04-28 06:22] josevalim commented on #3289
Your approach is fine but you need to configure it *before* you add A as a dependency. If it is done afterwards, you should do `mix deps.clean a` so it gets compiled again. You should definitely add this information to your project readme because, I agree, it is not super obvious. :)

[2015-04-28 06:26] #2519 closed

[2015-04-28 06:31] tallakt commented on #3295
Erlang/OTP 17 [erts-6.2] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]

The --system option did not yield any different results. I am not sure if it is having an effect though (it is not described in the docs).

[2015-04-28 08:50] josevalim commented on #3295
It looks like you are using erlang 17.3 (erts-6.2) which has known problems with ssl. Maybe try updating erlang. We also have improvements for future elixir versions which hopefully will make this much easier.

[2015-04-28 08:50] #3295 closed

[2015-04-29 10:34] #3164 closed

[2015-04-29 11:56] josevalim commented on #3214
Right now I have removed usort.  We can add it back but it requires our own implementation that uses `:lt`, `:eq` and `:gt`. Huge thank you to @ThomasArts for finding this bug before we shipped it!

[2015-04-29 11:56] #3214 closed

[2015-04-29 14:36] Willyfrog commented on #3164
thank you!

[2015-04-29 16:47] MSch commented on #3214
@josevalim can I get `List.usort` in instead?

[2015-04-29 16:52] josevalim commented on #3214
No. :) You can just use the erlang one.

[2015-04-30 06:25] ThomasArts commented on #3214
José is right. One should not just put it in because it is convenient. Language design must be more than
convenience for a specific moment in time, it's a long time investment. And a language should not have surprises,
but have very clear and understandable semantics.

In the case if usort:

One should write a variant of sort that takes a relation =<
The standard relation can be whatever you like.

[2015-05-02 09:45] sjmeilstrup opened #3301 "cleaner"

[2015-05-02 09:45] #3301 closed

[2015-05-02 10:11] whatyouhide commented on #3243
I figured out the problem, and it's kind of a nasty one. As you can see reading the [source for `Mix.Config.config/3`](https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/config.ex#L96), the configuration mechanism works by keeping a `config` variable scoped to the `Mix.Config` module and by always modifying that variable. You can imagine (actually, that's exactly what happens) that

[2015-05-02 10:52] josevalim commented on #3243
My idea was to use an Agent. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-02 10:56] whatyouhide commented on #3243
May I give this a try then? :)

On Saturday, May 2, 2015, José Valim <notifications@github.com> wrote:

--

Andrea Leopardi
an.leopardi@gmail.com

[2015-05-02 13:13] whatyouhide commented on #2469
I tried to prototype `defguard` this morning and it shouldn't be very hard. The only annoying thing that `defguard` doesn't allow (as far as I understand) is something like this:

[code]

That is, doing something in the macro *before* entering the `quote` block. Did any of you have any thoughts about this?

[2015-05-02 13:19] josevalim commented on #3243
Please do!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-02 16:29] josevalim commented on #2469
@whatyouhide that's a very, very good point. Maybe, instead of providing defguard as a Kernel macro, we could provide `Macro.defguard/2` or `Macro.to_guard/2`, it would receive the quoted expression and the environment and do the operation described above. This way we keep `Kernel` clean and we are still flexible.

[2015-05-02 16:33] whatyouhide commented on #2469
@josevalim so, would we write something like:

[code]

I'm not sure if I got this right :\

[2015-05-02 17:15] josevalim commented on #2469
More like this:

[code]

[2015-05-02 17:17] vendethiel commented on #2469
I'm not sure why `n` is not in `vars`, could you explain?

[2015-05-02 17:29] josevalim commented on #2469
It is a bug, both should be there. :)

[2015-05-03 09:37] #3243 closed

[2015-05-03 09:38] whatyouhide commented on #3243
Hey there @caizongchao, #3302 was just merged and it solves this. Give it a try :)

[2015-05-03 15:41] zipme opened #3303 "Float.parse/1 returns wrong result"
I am using
[code]

Seems parsing "0.29" gives wrong result...

[code]

[2015-05-03 16:14] zipme commented on #3303
Another one I found is

[code]

[2015-05-03 16:17] oneeman commented on #3303
This seems to already have been fixed on master:

[code]

A duplicate of https://github.com/elixir-lang/elixir/issues/2867?

[2015-05-03 16:24] josevalim commented on #3303
This is fixed in master indeed. :)

[2015-05-03 16:24] #3303 closed

[2015-05-04 01:22] zipme commented on #3303
@josevalim Cool thanks! And will this fix be included in the next release which I assume is 1.0.5?

[2015-05-04 05:50] hamiltop opened #3304 "Specs aren't generated for functions with default arguments"
Best explained with an example:

[code]

Running dialyzer:
[code]

My understanding is that under the hood

[code]

becomes

[code]

Is there a way to do something similar with the spec as well?

[2015-05-04 06:17] josevalim commented on #3303
Next release is likely 1.1.0.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-04 06:20] zipme commented on #3303
@josevalim I see, thanks for the update! if 1.1.0 is not coming anytime soon I might need to find some workaround for now.

[2015-05-04 07:19] josevalim commented on #3303
You maybe be able to use :erlang.binary_to_float wrapped in a try/catch:

    try do
      {:ok :erlang.binary_to_float(bin)}
    rescue
      ArgumentError -> :error
    end

Not the prettiest thing but it may suffice.

[2015-05-04 07:20] zipme commented on #3303
@josevalim 💜💜💜 thanks so much!

[2015-05-04 07:30] josevalim commented on #3304
So, I think dialyzer is smart enough to figure it out on its own, that's why I never bothered with automatically defining one behind the scenes. If that is not the case, it is not hard to do it automatically.

[2015-05-04 07:58] cars10w opened #3305 "Missing Debian Jessie packages"
The debian repository under https://packages.erlang-solutions.com contains Erlang and Elixir debian-packages. For Debian Jessie (v8, although it is not GA yet) there are already packages available for Erlang and its tools.

For Elixir, only packages up to Debian Wheezy (v7) are available. It would be nice to also provide Elixir debian-packages for Jessie.

[2015-05-04 08:02] josevalim commented on #3305
We are not responsible for those packages but I am copying those who are: @dexsda Thank you.

[2015-05-04 08:02] #3305 closed

[2015-05-04 10:00] cars10w commented on #3305
Thanks!

[2015-05-05 08:14] josevalim opened #3306 "Support Stream.on fn :error | :halt | :done -> ... end"
See discussion here: https://groups.google.com/forum/#!topic/elixir-lang-talk/e-toyIbrLTg

[2015-05-05 10:23] gutschilla commented on #3259
Hint: As this question seems to be asked over and over again, one might put a small note in the elixir docs on that ("install erlang-history and you're done").

[2015-05-05 20:32] zambal commented on #3220
@josevalim I would like to try solving this, however I have not much experience with Elixir's internals, so could you maybe give some pointers where to look for? I'm comfortable with reading and writing Erlang code, so that shouldn't be an issue.

[2015-05-05 21:35] zambal commented on #3220
No problem, I think I just dive in. I guess it will be educational at least for me and who knows I find something :)

[2015-05-06 03:01] bryanhunter opened #3307 "Catch-all pattern-match without '^' should show compiler warning or compiler error"
A frequent goof that folks coming to Elixir from Erlang make (and will continue to make) is forgetting the `^` on pattern matches. The current behavior in Elixir can turn this simple mistake into a pretty nasty problem. For example...

[code]
Compile and run...
[code]
That's a pretty nasty surprise! Without the `^`, the short-lived `friend` identifier in the `case` will match against *anything* th

[2015-05-06 12:54] bryanhunter commented on #3307
This post adds a bit more background info...
http://codeswamp.com/2015/02/14/elxir-immutability/

In Erlang here's how things would play out:
[code]

In Erlang you can't exactly reproduce the reported bug, but this is pretty close.
[code]
Only warning is that `Friend` is unused. Turns out Erlang doesn't warn/error about the first clause always matching either... unless `Knocking` is passed as a fu

[2015-05-06 14:16] renatomoya commented on #3254
Here's an example of the stacktrace:

[code]

[2015-05-07 06:37] gjaldon commented on #3254
It's even more confusing with the following examples:

[code]

It looks like it uses the first elem as the module for the function and then treats the whole tuple as the argument passed to the function call. So `{String, "test"}.upcase` ends up being `String.upcase({String, "test"})`. I really don't see how we could use this and looks like not allowing this is the way to go.

[2015-05-07 11:42] renatomoya commented on #3254
@josevalim Is it too soon to discuss a proposal for this? Can we label this or make it part of a 2.0 milestone?

[2015-05-07 11:43] josevalim commented on #3254
We can only allow this if we first add support for such to Erlang. So it is a very long term effort.

[2015-05-07 13:54] eksperimental commented on #3259
@gutschilla  :+1:

[2015-05-07 13:55] eksperimental commented on #3259
@gutschilla  actually, if there are more recurring questions, it may not be a bad idea to  create a FAQ page on the website

[2015-05-07 13:56] sunaku opened #3310 "add support for math in bitstring specifiers"
Hello,

Under Elixir 1.0.4, I'm unable to do math in bitstring specifiers:

    def parse(param_count, <<params :: binary-size(11 * param_count)>>) do
      # ...
    end

I get the following error when compiling the function shown above:

    ** (CompileError) myfile.ex:95: size in bitstring expects an
    integer or a variable as argument, got: :erlang.*(11, param_count)

If bitstring specifiers

[2015-05-07 13:59] ericmj commented on #3310
We are limited by erlang here so the change would have to be made there.

[2015-05-07 14:05] josevalim commented on #3259
We do have a FAQ in the wiki on Github. This would be a very nice addition.

[2015-05-07 14:08] josevalim commented on #3310
yes, regardless of the merit of those changes, it requires first moving erlang, so it is definitely a "won't fix".

[2015-05-07 14:08] #3310 closed

[2015-05-07 14:20] gutschilla commented on #3259
@josevalim Good point! Just did it.

[2015-05-07 14:32] sunaku commented on #3310
Thanks. Is there a procedure I could follow to get this fixed upstream, in Erlang itself?

[2015-05-07 14:57] josevalim commented on #3310
The best option is to send a pull request. You can also create an EEP
(Erlang Enhancement Proposal).

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-07 19:25] andreionut opened #3311 "Syntax error in anonymous function declaration is reported as FunctionClauseError"
Elixir 1.0.4
Erlang/OTP 17
Mac OS X

If I make a syntax error when I declare an anonymous function, like use `=` instead of `->`, e.g.:

[code]
I get this error:

[code]

I would've expected a syntax error like `Unexpected token =`. Eg:

[code]

Interestingly I get a different error for a different syntax error:
[code]

I'm not familiar with the Elixir parser but if somebody can show me where it i

[2015-05-07 23:12] laapsaap opened #3312 "Compiling went fine but 7 tests failed."
Hi, I am having so much trouble compiling elixir. First 1.0.3 wasnt working with 17.5, so I got 1.0.4 and still errors. For me the test errors are just gibberish, no idea what it wants from me. Sorry for the long paste.

[code]

[2015-05-07 23:13] ericmj commented on #3312
Seems to fail when shelling out to call git and rebar. What OS are you using?

[2015-05-07 23:16] fishcakez commented on #3304
Dialyzer will definitely infer the specs correctly. The warning is because `poison` is not in the PLT. If `poison` was in the PLT the warning would be different.

[2015-05-07 23:19] fishcakez commented on #3304
Just to clarify, if `poison` was in the PLT there would not be a warning because dialyzer would know about the function. If dialyzer knows about a module but the function is not exported from it a callgraph warning is generated.

[2015-05-07 23:19] laapsaap commented on #3312
CentOS 7 and erlang 17.5 from official repo

[2015-05-07 23:24] hamiltop commented on #3304
Cool. I'll investigate that. Closing.

[2015-05-07 23:24] #3304 closed

[2015-05-08 06:21] josevalim commented on #3312
I think they are just timeouts due to the machine being slow. 7 tests failed with 30 seconds each, which is about 210 seconds, the whole suite still took 550 seconds. @laapsaap, if you change this line:

https://github.com/elixir-lang/elixir/blob/master/lib/mix/test/test_helper.exs#L4

to:

    ExUnit.start [trace: "--trace" in System.argv, timeout: 60_000]

Does everything pass? If so, I will pus

[2015-05-08 11:27] josevalim opened #3313 "Add Logger.capture_log(backend, opts, fn)"
See discussion here: https://groups.google.com/forum/#!topic/elixir-lang-talk/cEWHayk45cw

[2015-05-08 13:28] laapsaap commented on #3312
hmm I changed the line you mentioned, but somehow I still see 30 seconds.

[code]

The CPU is not the quickest but definately nothing slow. 5th generation Intel® Core™ i3-5010U processor (2.1GHz Dual Core, 3MB Cache) 4GB mem / SSD disk. With nothing much running, minimal installation.

[2015-05-08 16:29] ericmj commented on #3312
I think there is something else going wrong causing the shell commands to be slow.

@laapsaap Can you start `iex`, run the following command: `:timer.tc fn -> Mix.Shell.cmd("echo 123", &IO.write/1) end` and paste the output here.

[2015-05-08 18:05] laapsaap commented on #3312
$ ./iex
Erlang/OTP 17 [erts-6.4] [source-2e19e2f] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]

Interactive Elixir (1.0.4) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)> :timer.tc fn -> Mix.Shell.cmd("echo 123", &IO.write/1) end
123
{3825, 0}
iex(2)>

[2015-05-09 10:26] matwey opened #3314 "test/elixir/system_test.exs:72: anonymous fn/1 in SystemTest.test cmd/1/1"
Hi,

I am facing the following issue, building elixir 1.0.4 with erlang 17.5

[code]

How could I provide additional information to resolve this?

[2015-05-09 11:40] ericmj commented on #3314
You can probably ignore that error. The test calls the `echo2` executable expecting it to be missing. You probably have an executable in your `PATH` named `echo2` causing the test to fail. The test has been removed on master.

[2015-05-09 12:49] caizongchao commented on #3243
The fix works like a charm, thanks!

[2015-05-10 19:34] hayesgm opened #3315 "`mix <task> --no-deps-check` checks deps in "compile" task"
When running `mix phoenix.server`, Elixir is running:

[code]

to compile the task if it did not find the module for the given task. There appears to be no way to tell phoenix to compile this task without checking dependencies, short of running:

[code]

The issue relates to #1430 where `.git` directories are sometimes removed from PaaS, but more generally being able to run a task without a depend

[2015-05-10 19:42] josevalim commented on #3315
I don't think we can fix this besides what you have given. If the task does not exist, it makes sense for us to compile. If you want to make sure it won't happen, then you do need to compile it before hand.

We can't pass options to the underlying compile hook for the regular case, unless we do via environment variables, which is as "special" as using `do` as you did.

[2015-05-10 19:42] #3315 closed

[2015-05-10 19:48] hayesgm commented on #3315
Makes total sense. Good to know this is expected behavior / has a workaround.

[2015-05-10 20:31] laapsaap commented on #3312
Hmm I tried it today on a server also CentOS7/official erlang 17.5/Elixir1.0.4 and it successfully went through all the tests. Although now I have a successful built rpm, its quite confusing why it didnt on the pc and laptop. :(

[2015-05-10 22:48] hamiltop commented on #3304
Investigation results (for posterity): Simple, just needed to include `:poison` as an application in my mix.exs.

[2015-05-11 02:37] KronicDeth opened #3316 "Comment after dot handled differently for normal identifiers and operator identifiers"
(Cross-post from https://groups.google.com/forum/#!topic/elixir-lang-core/nnI4oUB-63U)

[code]

Parses as

[code]

but

[code]

Returns an error

[code]

If you don't have a comment after the dot, both parse fine

[code]

parses as

[code]

and

[code]

parses as

[code]

So, using an identifier `function` works without or with a comment, but not when using operators.  Having relative identifier (

[2015-05-11 07:19] josevalim commented on #3312
Would that affect communication in the same machine? Elixir nodes do connect with something called epmd running locally and if that is affecting all communications maybe that was the issue? Anyway, I am glad you figured it out.

[2015-05-11 11:06] laapsaap commented on #3312
No, the pc and laptop are both in two different environments (home/work) where hundred of users are working with the same config. And even if `search` is wrongly configured, it shouldnt have an impact like this.  But I dont think its an Elixir problem, erlang compile tests fails because of this too ;)  So I will be closing this issue, but definitely interesting why tests fails due config in the dn

[2015-05-11 11:06] #3312 closed

[2015-05-11 14:29] lexmag commented on #3254
Just for a reference:
- https://erlangcentral.org/wiki/index.php?title=Parameterized_Modules
- http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.58.79&rep=rep1&type=pdf

and real use case https://github.com/mochi/mochiweb/blob/master/src/mochiweb_request.erl (\cc @gjaldon)

[2015-05-11 19:24] mitchellhenke opened #3319 "Unclear Error Message on missing curly brackets"
[code]
For context, the first line is line 51, and the last is 55
[code]

The fix was the missing curly brackets on `Item{}` were missing, but the error was pointing to the last line of the function.

[2015-05-12 01:28] nurugger07 commented on #3314
I don't have `echo2` in my path and received the error above on v1.0.4.

I also pulled master and I'm receiving a similar error on this [test](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/test/elixir/system_test.exs#L72)

I can look into it and report back or fix

[2015-05-12 01:44] lsimoneau opened #3320 "Online documentation is formatted incorrectly for Process.exit"
The markdown for inline code seems to cause the rest of each list point to be formatted as a code block:

![screen shot 2015-05-12 at 11 40 41 am](https://cloud.githubusercontent.com/assets/31768/7578695/d433fe06-f89b-11e4-8741-b0a62f586c53.png)

This is the case for both the stable and master documentation (http://elixir-lang.org/docs/master/elixir/Process.html#exit/2).

The markdown in the modul

[2015-05-12 02:12] nurugger07 commented on #3314
I've fixed the failing test and submitted a pull request https://github.com/elixir-lang/elixir/pull/3321

[2015-05-12 06:10] josevalim commented on #3320
This is an issue recently fixed on earmark. @ericmj is earmark also updated every time bob builds the docs?

[2015-05-12 07:46] ericmj commented on #3320
@josevalim Bob will use the locked earmark in ex_doc. There is a bug currently that caused the documentation to fail over the last days. The bug was caused https://github.com/elixir-lang/ex_doc/blob/master/bin/ex_doc#L2-L3 by always using the `dev` environment but bob was running with MIX_ENV=prod causing ex_doc to build into the prod dir.

[2015-05-12 07:52] ericmj commented on #3320
Master docs have been updated now.

[2015-05-12 07:52] #3320 closed

[2015-05-12 09:19] eksperimental commented on #3314
Just to avoid the chance of somone having a command named echo2, wouldnt it be bette to call the command "echo-" + md5 hash of current timestamp?

[2015-05-12 09:24] josevalim commented on #3314
Well, since he doesn't have echo2 in his path, there is something else happening. We need to figure out what it is. :)

[2015-05-12 12:00] nurugger07 commented on #3314
I don't have `echo2` in my path. I stepped through the test code in iex to verify the point of failure. Once the assertion happens in the function supplied to `File.cd!/2`, then "echo2" is available and the "hello" message is returned. Are you not seeing this locally?

[2015-05-12 12:00] liveforeverx opened #3322 "Checking of hex happen before reading mix enviroment"
Example would be decimal:

[code]

And, the definition is:

[code]

It tries to install hex, on the case, it doesn't need to install(based on enviroment).

[2015-05-12 12:07] eksperimental commented on #3314
@josevalim i know, but that was something that was asked to the OP of this bug to check. If we use echo2, system that have this command in their path wont be able to pass this test.

[2015-05-12 12:09] ericmj commented on #3322
We also you require you to have hex installed if you have overrides over hex dependencies with git. This is tricky to implement, why do you need it?

[2015-05-12 12:11] josevalim commented on #3322
Right but in this case we could completely skip it though because the environment does not match.

[2015-05-12 12:11] ericmj commented on #3314
@nurugger07 `System.cmd/2` is not supposed to run executables in the current directory unless giving an absolute path to it, which the test tries to verify. Your PR changes the test so it doesn't test the intended behaviour. Can you show your $PATH?

[2015-05-12 12:21] nurugger07 commented on #3314
@ericmj then the issue may be within `System.cmd/2` because I'm able to do just that. I'll look at the code & verify again but I'm still curious as to why this is working for others. One other thing to note is the Travis CI results. In a single erlang version the suite is failing on a completely unrelated test.

[2015-05-12 12:23] oneeman commented on #3314
This is tangential, but perhaps worth mentioning.

When I was working on the tests for https://github.com/elixir-lang/elixir/pull/3294 and trying to get them to use parallel compile directly rather than through the CLI, the part which I said at the time (in irc) that I couldn't get to work was due to problems which seem reminiscent of this.  In the test I was writing, I was bizarrely getting an ex

[2015-05-12 12:24] liveforeverx commented on #3322
We have release server, where our script analyse mix.lock and downloads all dependencies to "deps".

After that, we use it as: https://gist.github.com/liveforeverx/9bdde7ac7bba871130c1 simply a path.

For a production enviroment, to use path dependencies, that `mix` build process doesn't require network access. Hex(as other tars) packages will be cached(once it built, that why it need to be downlo

[2015-05-12 12:31] ericmj commented on #3322
@josevalim There will also be a bunch of overridden hex dependencies as children that we need to know to skip because they are overridden. So we also need to check for overridden before loading the dependency.

@liveforeverx You can't use hex as a dependency, but why not just install it when you install elixir?

[2015-05-12 12:33] josevalim commented on #3322
Yeah, so we can't fix it per @ericmj comments.

[2015-05-12 12:33] #3322 closed

[2015-05-12 12:38] liveforeverx commented on #3322
" So we also need to check for overridden before loading the dependency." - not really, it happens, only for dependencies, where enviroments are mismatched. It tries to use hex for a hex dependency, which defined as `only: :dev` on `MIX_ENV=prod` . Or do I understand it wrong?

[2015-05-12 12:38] nurugger07 commented on #3314
@oneeman as I stated though, it seems the `File.cmd/2` is calling the command successfully once in the directory as well as with the absolute path.

@ericmj the test is actually unclear as to what the expectation is. I would assume that if the `System.cmd/2` found the command in the current directory that it would execute it.

[2015-05-12 12:50] oneeman commented on #3314
@nurugger07 Sorry, I didn't mean to imply this is exactly the same, just that they seem possibly related.

One thought, though: when you say it's being executed when given a relative path, are you basing that on the fact that the exception that's expected doesn't get thrown and caught in the test, or have you also verified it separately (e.g. just trying to run something in the current directory f

[2015-05-12 12:51] oneeman commented on #3314
Oops, nevermind, reread your earlier comments and saw you did get the output.  Sorry again!

[2015-05-12 13:02] ericmj commented on #3322
The dependencies you define with `:path` will still have hex children that mix will load. They will be skipped later because they are overridden in your mix.exs file but we already needed hex before that.

[2015-05-12 13:06] liveforeverx commented on #3322
Do it right, that they are loaded, ignoring environment? Seems, not really. If you define it like

[code]

Its will work.

Is there a reason, why `only: :dev` behaves different? (If there is no reason, than fixing seems trivial)

[2015-05-12 13:09] ericmj commented on #3322
We load all the dependencies in your mix.exs file. But those dependencies have children that mix will also try to load, those children are defined as hex dependencies.

[2015-05-12 13:15] nurugger07 commented on #3314
@oneeman no worries. After confirming that "echo2" wasn't in my path, mimicking the action by running the code as a user would in iex was my next step. I'm thinking that `System.cmd/2` isn't behaving as expected. I'll look into the source later today and confirm.

[2015-05-12 13:32] liveforeverx commented on #3322
Ok, I'll see, how it works. It is more complex, as I thought. Thanks for clarification!

One last question. Should it stay, as it is, or should it be changed to work better with overwritten dependencies in the future? (I can tackle it somewhere next time).

[2015-05-12 19:23] whatyouhide opened #3324 "(Hard to understand) parse error when using sigils"
This is the minimal example which reproduces this:

[code]

This is of course a syntax error because the first element in the list is missing a trailing comma, but the error comes from the parser code and doesn't seem to be "handled":

[code]

[2015-05-12 19:37] oneeman commented on #3324
Thanks, I'll take care of this one.  It's code from a previous PR of mine.  I have a trivial fix for this case:

[code]

But I'll try to take care of the different error for this case while I'm at it:
[code]

[2015-05-12 19:38] whatyouhide commented on #3324
@oneeman great, thanks!

[2015-05-13 17:59] #3324 closed

[2015-05-13 20:56] josevalim opened #3327 "EEx should raise on missing assigns"
We should follow up on what Phoenix decides:

https://github.com/phoenixframework/phoenix/issues/879

[2015-05-14 15:00] alco opened #3328 "Support delayed evaluation of code in .iex.exs"
It is not currently possible to define a module in .iex.exs and import it at once.

[code]

Even if the module definition is extracted into a separate file, it doesn't work:
[code]

A suggested workaround for this would be the ability to return a quoted expression from .iex.exs which would then be evaluated in the IEx process and therefore in a different context from the one the module has been de

[2015-05-16 08:17] josevalim commented on #3314
Fixed in master, thank you!

[2015-05-16 08:17] #3314 closed

[2015-05-16 09:03] josevalim opened #3332 "Allow named setups"
And discuss allowing the return of setups to be simply maps.

[2015-05-17 13:52] houshuang opened #3334 "IEx tab-completion doesn't work properly with module aliases"
If I do

[code]

in IEx, I expect to be able to type `HTML.<tab>`, and see a list of functions and modules under Phoenix.HTML. Instead, I see nothing.

If I do

[code]

On typing `Form.<tab>`, I instead see completions for Phoenix.HTML. I can select Endpoint, and click <tab> again, and IEx will happy tab-complete for me, but of course upon selecting a function, such as Form.Endpoint.start_link, th

[2015-05-17 13:55] josevalim commented on #3334
It is fixed in master and coming in Elixir v1.1!

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-05-17 15:36] lexmag commented on #3313
Hey @MSch, I've seen you have done some work on this issue (gisted in the mailing list), I'd like to give it a shot if you are not planning to proceed.

[2015-05-17 18:48] gjaldon commented on #3332
What are named setups and what are they for?

I'm :+1: for setups to allow return of just maps instead of `{:ok, map}`. I found that off the first time I used it. Just the map is more intuitive to me.

[2015-05-18 07:46] #3334 closed

[2015-05-18 09:39] MSch commented on #3313
I was hoping to convince @josevalim / @fishcakez that `Logger.capture_log(backend, opts, fn)` is the wrong API, because replacing a specific backend (though most of the time `:console`) is not what people actually want in their tests.

There are two use cases I see:

1. Suppressing log messages to keep the output of test runs "clean": IMO the right approach here would be to remove the `:console` b

[2015-05-18 09:47] josevalim commented on #3313
We can't implement 1, concurrently, can we? You will still have multiple tests running AND they will be triggering other servers that are writing to logger. It would be impossible to know which one is each.

[2015-05-18 09:52] MSch commented on #3313
We can, it'll just capture log messages from the other concurrently running tests as well. Which is IMO good enough for the first error message (say from Travis), once you then locally run only the one test (case) that fails to reproduce and fix the issue it'll just be the log messages for that test.

[2015-05-18 09:59] josevalim commented on #3313
@MSch hrm, I am not confident but we can wait feedback from other folks. I can see though that choosing a particular backend wouldn't allow 1 to be implemented. Maybe we can have two functions: capture_log and replace_log? capture_log just adds a new backend for that particular moment and replace_log is a tiny function on top of it that replaces the given log (usually console).

The other topic is

[2015-05-18 10:14] MSch commented on #3313
@josevalim I'd be ok with that, because it lets me do my thing. Thanks! (Of course I believe everyone would profit from "opportunistic debug logging" :) )

The way I see it it's strictly better to implement 1, even if it intersperses log messages from other concurrent tests:

1. If you don't need the (debug) log messages to figure out the failing test, it clutters the failure message but doesn't h

[2015-05-18 12:12] fishcakez commented on #3313
This could be handled in a different manor by using a combination of an ExUnit formatter and Logger backends. An ExUnit formatter (http://elixir-lang.org/docs/stable/ex_unit/ExUnit.Formatter.html) can remove `:console` (and/or other Logger backend) on a `suite_started` event and re-add on `suite_finished` or `terminate/2`.

This formatter can then add/remove a capturing backend per test. On receiv

[2015-05-18 12:17] MSch commented on #3313
I hacked around this by having the log capturing server wait on a call in `setup`/`on_exit` but changing `ExUnit.EventManager` would indeed be nicer :)

@fishcakez So do you think this is a good thing to have?

[2015-05-18 12:32] fishcakez commented on #3313
For displaying logs in `ex_unit` I think this would be a good feature. It doesn't help for comparing logs though. However it should be possible to implement `capture_log` using the same backend.

[2015-05-18 16:01] MSch opened #3336 "Logger can't print pid metadata"
The pid is part of the Logger metadata, but adding it to the metadata that should be printed crashes Logger.

[code]

That's not intended I guess? The Logger should be able to print the pid?

[2015-05-18 16:06] josevalim commented on #3336
Yes. it is a bug. Thanks.

[2015-05-18 23:51] zykos opened #3339 "IO.binread/2 does not properly read binary data"
From the docs, IO.binread/2 is supposed to be read the entire content of a file when passed the :all option. However, in the current implementation, it reads a file line by line.

[code]

This has the unfortunate consequence of swallowing any CR codes preceding a LF. Is this intentional? If so, it should not be presented as a way to load binary data from a file.

[2015-05-19 00:05] bjhaid opened #3340 "Compilation errors with handcrafted bitstring spec"
Crafting a bitstring by hand in a spec, e.g:

[code]

does not compile, instead fails with:

[code]

[2015-05-19 05:37] milmazz commented on #3340
Hi, I think that the problem occurs when you don't specify the **Size** segment:

[code]

Without knowing the implementation I suspect that the bug can be in the default value for the **Size**, which depends on the _type_.

Can somebody point me in the right direction to solve this issue?, Right now I'm looking at ``elixir/lib/elixir/src/elixir_bitstring.erl``

[2015-05-19 07:15] josevalim commented on #3340
@milmazz the bug is not related to the bitstring but to the `@spec` syntax. Your third example wouldn't work because you are using `==` instead of `=` in pattern matching. But it is another problem altogether...

[2015-05-19 07:23] josevalim commented on #3339
Definitely a bug. Thank you.

[2015-05-19 07:25] josevalim commented on #3339
So, `:file.read_line/2` includes new lines here:

[code]

Thoughts?

[2015-05-19 08:19] #3336 closed

[2015-05-19 16:01] lpil opened #3341 "Some code examples in the docs fail are joined onto a single line"
See here for an example:

http://elixir-lang.org/docs/v1.0/elixir/Macro#unescape_string/2

The markdown in the `@doc` string looks correct to me.

https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/macro.ex#L386-L398

[2015-05-19 16:02] ericmj commented on #3341
It is fixed in the master docs: http://elixir-lang.org/docs/master/elixir/Macro#unescape_string/2

[2015-05-19 16:02] #3341 closed

[2015-05-19 16:06] lpil commented on #3341
Thanks!

[2015-05-19 17:20] jakubpawlowicz opened #3342 "Mix hangs when compiling code inside a Docker container"
I've stumbled upon this issue when building a Docker container containing Erlang 17 + Elixir 1.0.4 + Phoenix 0.13.1. If you check out https://github.com/jakubpawlowicz/elixir-docker-issue and run `docker-compose build` then it hangs at step 15 - `RUN mix compile`:

[code]

However it works fine when I attach to the container and run `mix compile` from CLI.

One workaround I found is to run `mix co

[2015-05-19 17:29] zykos commented on #3339
My guess is that :file.read_line/1 is meant for text files and has logic that converts different newline representations to the target system. The problem happens when reading binary files, where the sequence of bytes 0x0d0a may appear and does not have the semantic meaning of "CR+LF". When :file.read_line encounters that sequence, it assumes it does, then converts that to the newline representati

[2015-05-19 20:14] josevalim commented on #3342
Maybe you can `elixir -e "IO.inspect :erlang.system_info :schedulers_online"` on both cases and print the result.  There is nothing special about the parallel compiler, so i am really suspicious about what could be happening here.

[2015-05-19 20:16] josevalim commented on #3342
Also, I have heard reports of people running Elixir with Docker without any issues.

[2015-05-20 06:39] jakubpawlowicz commented on #3342
Thanks @josevalim. It gives `4` (in CLI and Dockerfile) and `1` when I disable SMP.

I kinda wondered why no one raised it before, but though it would be helpful to someone.
I'll try other combinations to rule out some options.

[2015-05-20 23:27] jeregrine opened #3345 "Only remove current hex.ez if download is successful of new one"
https://github.com/hexpm/hex/issues/97

Currently I have the bug where I cannot download a new hex.ez via mix. Sometimes I hit "Y" when it asks to download, in hopes it might be fixed. But it's not and it deletes my current hex.

So next time I `mix deps.get` it cannot find hex and I have to go download it manually.

[2015-05-22 13:09] #3155 closed

[2015-05-23 19:31] josevalim opened #3346 "Consider increasing assert_receive default timeout"
Or at least make it configurable. Sometimes 100ms ends up being triggered in slow environments like CI. Maybe we should increase it to 500ms?

[2015-05-24 13:33] tony612 commented on #3346
I think 500 is reasonable. And I don't like the configuration for the default timeout somehow.

[2015-05-24 17:59] josevalim commented on #3346
Another option is to use the default of 5000ms. The downside is that if you don't receive a mesage you were expecting... you need to wait 5 seconds to figure it out. /cc @fishcakez @ericmj

[2015-05-24 18:03] ericmj commented on #3346
Do we have experience of it being triggered in CI? The problem is that refute_receive will make the tests much slower.

[2015-05-24 18:06] josevalim commented on #3346
We don't need to change refute_receive though. I don't think we need to be consistent in this case. Checking for refute_receive is almost always a bad idea anyway. That's why I am considering making the timeout explicit.

[2015-05-24 18:12] ericmj commented on #3346
I doubt making it explicit will help, it will always be a reactive change after seeing CI failures. It's extremely hard to anticipate if the timeout will be enough, especially when considering CIs.

If slow CIs is the issue I would rather argue for a global timeout multiple you can set in your CI config.

[2015-05-24 18:14] josevalim commented on #3346
Hold on, we are discussing two changes here and I think we are mixing them up. Let's go by parts: should we change the assert_receive timeout to which value by default? Ignore the refute_receive discussion for now.

[2015-05-24 18:16] ericmj commented on #3346
I would argue for not changing because the current 100ms timeout is enough in 99% of cases. The multiple I discussed would be used for both assert and refute.

[2015-05-24 18:23] josevalim commented on #3346
Here is the thing though: increasing the assert_receive timeout (only) is not going to affect or make any passing suite slower. It will however decrease the chance of failing tests in CI though.

[2015-05-24 18:27] ericmj commented on #3346
It still makes the developer experience, more so if you have many assert_receives in your test (and even more if we add support for multiple assert failures). I think it's wrong to make dev experience worse because there exists slow CI environments, that's why timeout multiple is the right way to go. And what are we really fixing if refute_receive stays the same?

[2015-05-24 19:14] josevalim commented on #3346
You are right. Let's make both timeouts configurable and call it a day.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-25 08:26] josevalim commented on #3346
Fixed in master.

[2015-05-25 08:26] #3346 closed

[2015-05-25 08:27] josevalim commented on #3342
@jakubpawlowicz any news here? All signs point this is not a bug in Elixir per se. Just in the mailing list someone posted a working docker setup with a phoenix app.

[2015-05-25 09:34] jakubpawlowicz commented on #3342
@josevalim I've retested it with centos:6 - no difference, but the setup posted by Saša Jurić at https://groups.google.com/forum/#!searchin/elixir-lang-talk/docker/elixir-lang-talk/IEcAtb9XHlU/mHx9A0Xx1_gJ works fine however it's based on Ubuntu not CentOS.

I think I'll close it for now, maybe someone would be able to add their 0.02$, otherwise we always have a working workaround.

[2015-05-25 09:34] #3342 closed

[2015-05-25 10:14] obrok opened #3351 "String.reverse does not work with ligatures"
Example:

[code]

My initial thoughts on how to fix this is to use the decomposition field (currently ignored) from `UnicodeData.txt` when reversing - does that make sense? If yes, then I could take a crack at this.

[2015-05-25 11:17] josevalim commented on #3351
@obrok I think the decomposition field will actually make it worse because "é" would be broken into "e" and the acute accent, which would have the wrong order when reversed. No?

[2015-05-25 11:26] obrok commented on #3351
It seems that decompositions for such characters are marked with the <compact> tag(?), for example http://www.fileformat.info/info/unicode/char/fb03/index.htm or http://www.fileformat.info/info/unicode/char/216b/index.htm. I am not versed well enough in Unicode lore to say for sure this is a rule though.

[2015-05-25 11:29] josevalim commented on #3351
Right. XII is an example of where decomposition will actually yield worse results too. I don't think the character XII should be reversed to IIX. It should still remain as XII. Afaik, decomposition is used for comparing two strings, there is nothing that says we should use it for reversing.

In fact, I don't recall anything about reversing in Unicode, so there is no way for me to confirm if the be

[2015-05-25 11:32] josevalim commented on #3351
This perl module says we should work at the grapheme level: http://www.perlmonks.org/?node_id=661510 which is what we do today.

[2015-05-25 12:35] obrok commented on #3351
In that case feel free to close the issue - I just thought the behaviour in my example was not what you would expect, but one never knows with Unicode.

[2015-05-25 16:11] josevalim opened #3352 "Remove Mix.Dep.manager in favor of build_tool"
We should wait though because we need to sync with hex.

[2015-05-26 13:28] tnt opened #3354 "Node.connect doesn't work with dashes (hyphens) in hostnames"
When I do

[code]
it doesn't work (while an iex-session started with `iex --sname bla` is of course running). When do it with the `--remsh` param (`iex --sname bla --remsh bla@aspire-v3`) it works as expected.

It also works with `iex --name bla@127.0.0.1` and `Node.connect :"bla@127.0.0.1"` in the other shell.

I'm running Erlang 17.5 (erts-6.4)/ Elixir 1.0.4  both compiled from source on a Fedor

[2015-05-26 13:32] josevalim commented on #3354
There is something definitely up in your setup because it just works here:

[code]

[2015-05-26 13:39] tnt commented on #3354
It turned out that this is an Erlang issue.

[code]

After changing the hostname back to `aspire-v3`:

[code]

It also works when starting `erl` with `-remsh bla@aspire-v3`.

[2015-05-26 13:39] #3354 closed

[2015-05-26 14:48] josevalim opened #3355 "Allow ++ in patterns"
For example:

     [foo: foo] ++ _ = [foo: 1, bar: 2]

[2015-05-26 15:26] tnt commented on #3354
It finally turned out that the difference between `aspirev3` and `aspire-v3` was, that there existed the following lines in my `dnsmasq`-conf:

    address=/aspire-v3/127.0.0.1
    address=/aspire-v3/::1

Still strange that connecting via `-remsh` works while `net_kernel:connect_node` doesn't.

[2015-05-26 19:05] c-rack commented on #3339
@zykos I like your solution. Would you mind to send a PR?
A block size of 4K would be a good choice IMHO.

[2015-05-27 04:55] zykos commented on #3339
@c-rack sure, I'm just not sure where to defined BLOCK_SIZE, or if that's the proper way to name constants in elixir. I can't find any other instance of a C-like constant definition in the source, any suggestion? Or is just shoving the literal 4096 ok in this case?

[2015-05-27 05:42] Kabie commented on #3339
@zykos How about make it an option and give it a default value.

[2015-05-27 07:39] josevalim commented on #3339
We don't need to make it option given you can always just read it yourself.

@zykos you can store it in a module attribute `@read_all_size 4194304`.

[2015-05-27 16:14] #3351 closed

[2015-05-28 08:34] #3339 closed

[2015-05-28 19:31] jfis opened #3361 "IEx Autocomplete assumes module at each level"
In IEx, autocompletion will not show certain levels when that level has no corresponding module (only has sublevels). This is better illustrated with an example:
Say there are 2 modules A and A.B.C
A.< tab > will not autocomplete B

[2015-05-28 19:34] jfis commented on #3361
Took a stab at fixing...
https://github.com/elixir-lang/elixir/pull/3362

[2015-05-29 15:55] #3361 closed

[2015-05-31 05:27] devinus opened #3367 "Consider supporting map shorthand syntax"
Taking a [pretty cool page out of ES6](https://github.com/lukehoban/es6features#enhanced-object-literals):

[code]

[2015-05-31 05:32] devinus opened #3368 "Consider expanding ranges in typespecs to be ORs"
E.g.

[code]

[2015-05-31 07:59] josevalim commented on #3368
Ranges already have a meaning from Erlang itself. I don't think we should change it. Why would we want to do this? What are the pros/cons?

[2015-05-31 07:59] josevalim commented on #3367
@devinus let's have those discussion on core first. :)

[2015-05-31 07:59] #3367 closed

[2015-05-31 20:47] ericmj commented on #3368
Ranges in typespecs are supposed to work like this. Have you confirmed that it doesn't have this behaviour?

[2015-06-01 04:14] devinus commented on #3368
@ericmj Ah, I actually didn't know that. I am stoked now.

[2015-06-01 04:14] #3368 closed

[2015-06-01 15:48] fishcakez commented on #3313
I have assigned to myself but @lexmag is probably going to do most of the work.

[2015-06-02 00:11] sunaku opened #3371 "referencing namespaced module by name"
Hello,

I'm using Elixir 1.0.4 and I find that namespaced modules cannot be referenced by name unless you alias them.  For instance, in the code example below, `Foo` always references the top-level module named `Foo` , whereas I have to first `alias Foo.Bar`  in order to make `Bar` reference itself as a namespaced module.

Is this a bug? :sweat_smile:  Thanks for your consideration.

[code]

[2015-06-02 01:55] ericmj commented on #3371
This is working as intended. The module name is actually the full `Foo.Bar` so you cannot reference it with just `Bar` unless you first set up an alias.

[2015-06-02 01:55] #3371 closed

[2015-06-02 05:37] sunaku commented on #3371
:+1: Cool, thanks for clarifying. :sweat_smile:

[2015-06-03 15:46] valevalorin opened #3373 "Elixir eats error when using macro pulls in pipelines."
So, when trying to organize my Phoenix router I wanted to move my pipelines into a different module, then I wanted to use a macro to pull them all back in. The pipeline module looks something like this:

[code]

When I try to run my server with more than pipeline in this macro I get the following error:

[code]

I'd like to figure out how to get my macro working but without exceptions to tell me w

[2015-06-03 16:00] ericmj commented on #3373
Duplicate of #3225. It's a bug in OTP, the fix will be included in the OTP 18 release.

[2015-06-03 16:00] #3373 closed

[2015-06-04 09:35] josevalim commented on #2912
Just linking #3374.

[2015-06-04 14:48] josevalim opened #3375 "Recompile the whole project if the SCM changes"
Today, if you have a hex dependency and you change it to path, that dependency is not fully recompiled due to the messed mtimes leaving the project in an inconsistent state. We need to recompile if the SCM changes.

[2015-06-04 18:50] chrismccord opened #3376 "Mix tasks in local project should take precedence over mix archives"
Example:

If you have the `phoenix.new` task installed as a mix archive, you cannnot run `mix phoenix.new` from the installer project and have the local project's task take precedent. The only solution is to remove the archive. The ideal fix seems to have the current mix project tasks take precedent over mix archive tasks.

[2015-06-04 19:12] josevalim commented on #3376
This is actually fixed in master. :D

[2015-06-04 19:25] josevalim commented on #3376
This is actually not fixed in master. :D

[2015-06-04 19:30] Gazler commented on #3376
Steps to reproduce: https://gist.github.com/Gazler/9d070fdbc72a8aef033b

[2015-06-04 19:35] ericmj commented on #3376
I don't think we should do this based on two things:

1. If the current project is compiled the task will be used from the project, but if not compiled it will be used from the archive. This behaviour would likely be weird and unexpected for users.

2. If a module the task calls is accidentally deleted/renamed the bug will be hidden until the archive is deleted because the module still exists in t

[2015-06-05 05:49] Joe-noh opened #3379 "Stream.timer/1 waits too long"
From [ML](https://groups.google.com/forum/#!topic/elixir-lang-core/lDAOAvzlQYI)

@hamiltop

`Stream.timer(1000)` waits about 2 seconds instead of 1 second.

[2015-06-05 07:09] hamiltop commented on #3379
Further tests:

[code]

So we are indeed doubling.

Next test:

Stream.interval is implemented as follows:
[code]

Stream.timer is just `Stream.interval(n) |> Stream.take(1)`

Let's look at side-effects and `take`:

[code]
So this actually seems to be a bug in `Stream.take`. `Stream.take` causes a second side effect where `Enum.take` does not.

[2015-06-05 07:13] vsraptor opened #3380 "Does not compile ..."
I'm getting this error when trying to compile from source. Any idea why ? (linux mint)

  1) test fails on missing write access to .beam file (Kernel.CLI.CompileTest)
     test/elixir/kernel/cli_test.exs:113
     expected compilation error message due to not having write access
     stacktrace:
       test/elixir/kernel/cli_test.exs:124
......
Finished in 23.1 seconds (17.2s on load, 5.8s on tests

[2015-06-05 07:27] hamiltop commented on #3379
@josevalim is this related to the "halt with new acc" issue we've talked about before? I think it was https://github.com/elixir-lang/elixir/issues/2676

[2015-06-05 07:31] hamiltop commented on #3379
For more context, Stream.take is implemented as follows:

[code]

The key is that we don't halt when n == 1, we halt when n == 0 (which means we've taken 2 elements when we were only supposed to take one). if we change the halting case to take an element it should fix the problem. Going to give it a shot.

[2015-06-05 07:46] hamiltop commented on #3379
Quick fix in https://github.com/elixir-lang/elixir/pull/3381

Seems to fix timer issue:

[code]

`./bin/elixir` is built from my branch
`elixir` is 1.0.4

[2015-06-05 08:33] josevalim commented on #3379
Fixed in master. Thank you! <3

[2015-06-05 08:33] #3379 closed

[2015-06-05 08:34] josevalim commented on #3380
Which operating system are you using? How are you compiling it? The issue seems to be that we are marking a directory as read only but your operating system is not accepting that. There is nothing wrong with Elixir per-se, likely a fault in the est.

[2015-06-05 10:43] msaraiva commented on #3380
Are you compiling as root user? Because some linux distributions will ignore the readonly flag (set on line 120) if you are root. If that's the case, `&elixirc/1` will overwrite the beam file and the test fails. Try to compile Elixir as a regular user.

[2015-06-05 15:00] v6 commented on #2992
// , Does Elixir still report in this way?

[2015-06-05 19:20] vsraptor commented on #3380
thanks, running as normal user went pass this error, but now I get :
(The OS is LinuxMint)
I'm doing "make clean test"

==> mix (exunit)
..................

  1) test get and compile dependencies for rebar (Mix.RebarTest)
     test/mix/rebar_test.exs:81
     ** (Mix.Error) Could not compile dependency rebar_dep, /my/compile/elixir/lib/mix/tmp/.mix/rebar command failed. If you want to recompile thi

[2015-06-05 20:00] milmazz commented on #3380
@vsraptor I think this could be a permissions issue (in this case Elixir couldn't correctly execute the `File.cd`), can you try to execute `make clean` as `root` and then try `make test` as normal user? or just delete everything, then `git clone` and try to compile as normal user.

[2015-06-05 22:54] vsraptor commented on #3380
Tried clonning and compiling from scratch again with local user and still get the same error.
(btw earlier before compiling I did chown on all dirs, just so you know)

[2015-06-06 08:46] josevalim commented on #3380
It is defnitely something related to permissions on your OS. If you reach `/my/compile/elixir/lib/mix/tmp/.mix/rebar` after you run tests, are its permissions properly set?

[2015-06-06 16:43] jschoch opened #3383 "proposal for struct/3"
I'd like propose a option in Kernel.struct that would allow for "kv" to contain elements not defined in defstruct, vs the default which drops them.

struct( struct,kv, [decorate: true])

[2015-06-06 16:56] josevalim commented on #3383
The point of `struct/2` is to validate the keys, if you want to just merge kv, you can use Map.merge or Dict.merge with the struct as first argument.

Also, please remember to send proposals to the core mailing list. :) Thanks!

[2015-06-06 16:56] #3383 closed

[2015-06-06 18:40] vsraptor commented on #3380
$ ls /my/compile/elixir/lib/mix/tmp/.mix/rebar -ltr
-rwxr-xr-x 1 vs vs 164740 Jun  5 18:52 /my/compile/elixir/lib/mix/tmp/.mix/rebar

[2015-06-06 18:41] jschoch commented on #3383
struct/2 doesn't validate the keys though.  it should crash if they keys are not in "kv", or it should crash if there are extra keys if structs are intended not to be decorated.

[2015-06-07 19:41] gjaldon commented on #3355
Hi @josevalim! I'd like to take a shot at this task.

Tried looking for the code responsible for the match behaviour by tracing it through `elixir:eval/2` but couldn't find it. Which module houses it?

[2015-06-07 19:47] liveforeverx commented on #3355
@gjaldon : that a place( https://github.com/elixir-lang/elixir/blob/master/lib/elixir/src/elixir_translator.erl#L216 ), where it happen, as I wanted to take this too. And comment: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/src/elixir_translator.erl#L225-L229 seems, like this task wait until fix merged in erlang? (As I understand it right). Seems, that ticket is for elixir 1.2

[2015-06-07 20:58] ericmj commented on #3383
"Decorating" structs is not something we recommend. If you want to add dynamic fields just use a map instead.

[2015-06-08 00:18] msaraiva commented on #3380
Even though this is definitely related to vsraptor's environment,  the test on [cli_test.exs:113](https://github.com/elixir-lang/elixir/blob/b5a00d463d4ea328e0eff00b06115797861843b0/lib/elixir/test/elixir/kernel/cli_test.exs#L113) is the only one that fails when running as root user. I also confirmed this problem on OSX and Alpine Linux. So it will probably fail on many other Linux distributions.

[2015-06-08 07:22] josevalim commented on #3380
A pull request that checks for "USER" != "root" sounds like a good idea to me. :)

[2015-06-08 11:29] msaraiva commented on #3380
Just confirmed that checking the `USER` environment variable will not work across all linux distributions. Fakeroot doesn't define it either. So, using `id -u` really looks ugly, but so far, is the only way I could find that always works. Waiting for suggestions.

[2015-06-08 12:37] josevalim commented on #3380
The issue is that `id -u` is also specific to windows. Maybe what we should do is to manually try to write to the directory after we mark it as read-only and, if the write succeeds, we do not run the rest of the test?

[2015-06-08 16:43] fishcakez opened #3386 "Warn when using _var"
Warn when using a variable prefixed with `_`. E.g.
[code]

[2015-06-08 17:00] whatyouhide commented on #3386
:+1:

[2015-06-08 17:36] gjaldon commented on #3355
Thanks for the help, @liveforeverx! I thought it would be the `translate/2` that matches on `'='` where I would need to work.

The comment does seem to point out that a fix is needed in Erlang before this can be worked on. Are we still waiting for a fix in Erlang side or is this ok to work on now, @josevalim?

[2015-06-08 19:31] msaraiva commented on #3380
Using `File.stat/1` to get the `access` attribute after `chmod` did the trick. Tested on:

- OS X + normal user
- OS X + root
- Alpine Linux + normal user
- Alpine Linux + root
- Alpine Linux + fakeroot

Hope it works for all cases.

[2015-06-08 19:33] josevalim commented on #3380
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-08 19:33] #3380 closed

[2015-06-08 21:26] whatyouhide commented on #3328
@alco I'd like to help on this as I feel IEx "custom helpers" (trivial to implement if we fix this) are a very desired feature :). So, let me make sure I got things straight, your suggestion is to delay the evaluation of the (quoted) contents of `.iex.exs` so that they're executed in the IEx process: you mean still defining the module in a different file, right?

[code]

should always fail, right?

[2015-06-08 21:41] alco commented on #3328
@whatyouhide I meant that this should work:

[code]

In other words, the last expression in `.iex.exs` is evaluated as a quoted expression in the context of the IEx shell (more specifically, as the first thing in IEx server's loop, I think), after the file itself has been evaluated normally, by `IEx.Evaluator.eval_dot_iex`.

[2015-06-08 21:51] ericmj commented on #3386
We also need to make sure we catch pattern matching cases, such as: `def fun(_var, _var) do ...`.

[2015-06-08 22:06] josevalim commented on #3386
We already warn on those.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-06-09 06:48] whatyouhide commented on #3328
@alco ah, I see. I'm not a fan of this solution from a usability stand point as it looks a little bit cryptic IMO (you need to roughly understand what's going on in order to understand why you're quoting the last expression). That said, I think the solution could work and I can't come up with any better one.

[2015-06-09 07:30] josevalim commented on #3328
I am not a fan either and since I can't think of anything better too, I think we should roll with it.

@alco shouldn't we also change `import_file` as the whole goal of import_file is to load stuff like this?

[2015-06-09 07:31] josevalim commented on #3328
Gah, I guess we can't make it work with `import_file` because it works as a macro... :(

[2015-06-09 07:39] whatyouhide commented on #3328
@josevalim yeah :( we could extract the last `quote` expression from the file when we use `import_file` and keep it separated from the rest, so that we can defer its execution, but it's a (bad) hack which would be a mess to maintain and would include some limitations on `.iex.exs` that users will found weird for sure.

It's a tricky issue for how things are designed right now :(

[2015-06-09 12:15] padde opened #3388 "`String.Chars` implementation for `Regex` is missing"
Is there any good reason why there is no `String.Chars` implementation for `Regex`? Possibly it is a bug? Being able to compose complex regexes with interpolation to make them more readable makes so much sense to me. IMHO this should be included:

    defimpl String.Chars, for: Regex do
      def to_string(regex), do: Regex.source(regex)
    end

So we can do:

    hours = ~r/[0-2]?[0-9]/
    minu

[2015-06-09 12:17] josevalim commented on #3388
Regexes do not compose like that. What if the regex is tagged as case insensitive with `i`? Or another modifier? It can get really complex, really fast.

Also, please remember to send feature requests to the elixir core mailing list. :)

[2015-06-09 12:17] #3388 closed

[2015-06-09 12:51] alco commented on #3388
@padde A more controllable approach to composing a complex regex from simpler components is to define each component as a string. This, for example, works beautifully:

[code]

[2015-06-09 13:07] padde commented on #3388
@josevalim, thanks for your reply!

Ok I see so the source of a Regex is not enough to describe it entirely, we need the flags as well.
I just realized that Ruby fixes this with the `(?-mix:)` syntax:

    /#{"a"}/
    => /a/

    /#{/a/}/
    => /(?-mix:a)/

    /#{/a/m}/
    => /(?m-ix:a)/

Maybe Elixir could benefit from this as well, but it's of course far more work than what I posted above. I

[2015-06-09 13:12] padde commented on #3388
Oh I just saw that the Erlang `re` module also supports the `(?-mix:)` syntax, it seems to be standard, I thought it was Ruby-specific.

See http://erlang.org/doc/man/re.html#id222438

If you'd be interested, I could dive into this.

@alco thanks, but I was specifically looking at composing Regex directly. I have a use case where I need to use the subpatterns as well. For now I build them all as s

[2015-06-09 21:39] padde commented on #3388
@josevalim I played around a bit trying to mimic the way Ruby does it and (of course) you were right not attempting a solution to this, because there is none. Modifiers like `u` (unicode) and `f` (firstline) act globally for the pattern and if the surrounding pattern has one of them, it cannot be prevented that it changes the semantics of an embedded pattern. This could only work if we could check

[2015-06-11 05:20] kdisneur opened #3392 "IEX.pry from another node"
When you want to debug a Phoenix application for example, the application process must run in the same iex process (i.e: `iex -S mix phoenix.start`).

It could be awesome if we could pry from another iex node.

[2015-06-11 05:36] josevalim commented on #3392
@kdisneur I am travelling today and I just tried some sample implementation out. My first approach was that IEx.pry would automatically find another node, giving preference to local implementation.

However, we can only find nodes that have been connected upfront, so your code sample would only work if you called `Node.connect :foo` from node `:bar` or vice-versa, which kinda defeats the purpose.

[2015-06-11 06:36] kdisneur commented on #3392
Yup it makes sense and, anyway, trying to automatically find an IEX node would maybe be too much magic?

Just to be sure to understand it well, your proposition is:

* in your main app: just put IEx.pry(:name_of_the_other_node)
* on another shell: start iex --sname name_of_the_other_node
* profit \o/

This option looks pretty simple (in a user point of view) because it's easy to start an IEX with

[2015-06-11 15:24] fishcakez commented on #3392
Have you tried using `--remsh` to start an IEx session on the target node from another node?

[2015-06-11 15:29] fishcakez commented on #3392
Oh I just tested and it doesn't work :(

[2015-06-11 15:50] fishcakez commented on #3392
Just to clarify my comments, I was a little brief. I think we should support:
[code]
and
[code]
Where `IEx.pry/0` is called from an application on `foo@host`. The fact this doesn't work is a bug. I think this is preferable to adding the node name because the node does not need to be known in advance.

[2015-06-12 08:19] josevalim opened #3394 ""for ^x <- [1, 2, 3], do: x" does not emit the proper value"
It should or fail to compile or work as expected.

[2015-06-12 22:54] sunaku commented on #2867
@josevalim This was patched before Elixir 1.0.4 right?  There seems to be a regression: :scream:

[code]

[2015-06-12 23:56] josevalim commented on #2867
We fixed this only in master I believe?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-06-13 01:57] sunaku commented on #2867
Hmm, aren't releases made directly from the master branch? :sweat_smile:  Since the fix was committed on Dec 2, 2014 and Elixir 1.0.4 was released on Apr 7, 2015, I expected that the bug would be fixed in Elixir 1.0.4. :disappointed:

[2015-06-13 08:27] ericmj commented on #2867
1.0.* releases are made from the v1.0 branch. The master branch will be released as 1.1.0.

[2015-06-13 16:41] sunaku commented on #2867
Thanks, I didn't know that. :sweat_smile: Any chance this bug fix can be backported to the v1.0 branch? :innocent:

[2015-06-13 16:46] josevalim commented on #2867
Good call! It has been backported. :)

[2015-06-13 16:54] sunaku commented on #2867
Hurray! :tada: Thank you. :bow: I'm looking forward to the next v1.0.5 release. :gift:

[2015-06-16 11:35] josevalim commented on #3392
Added with 4af9b7e003d376fa65de5f963d8547cbca8cb694.

[2015-06-16 11:35] #3392 closed

[2015-06-16 14:56] kdisneur commented on #3392
Thanks @josevalim

[2015-06-17 13:04] ewildgoose opened #3400 "Float.round is inconsistent"
The rounding from Float.round is inconsistent, eg

iex(121)> Kernel.round(1.255 * 100) / 100
1.25

iex(123)> Kernel.round(125.5) / 100
1.26

iex> Kernel.round(Kernel.round(1.255 * 1000) / 10) / 100
1.26

The core issue is numerical instability due to the multiplication by a power of 10 (which itself has to be encoded as an approximation in floating point format)

The following *appears* to correct

[2015-06-17 14:31] Kabie commented on #3400
This behavior exists in many languages. I think people should use [decimal](https://github.com/ericmj/decimal) when they do mind.

[2015-06-17 14:41] bitwalker commented on #3400
@Kabie that's not a good reason to leave it unaddressed if there is a better solution available in my opinion.

[2015-06-17 14:47] edescourtis commented on #3400
You could consider using a  rational numbers library like this one https://github.com/fraczak/rat .

Not sure what is available for Elixir directly but this should work.

[2015-06-17 14:49] ewildgoose commented on #3400
Hi all. There is some discussion on this on the elixir-talk mailing list.  I have struggled to show the core problem in a succinct way, so can I refer you to the discussion there?  I agree entirely about using a dedicated datatype to work in a specific number base, but *this* bug report is about an inconsistency between two core-lib functions which implement a certain numerical function (round).

[2015-06-17 15:36] josevalim commented on #3400
Folks, regardless if some problem can be solved in some other way, all
float operations should be as correct and precise as possible. This is not
the place to discuss using a rational or decimal library because they won't
change the fact round could be better implemented.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-06-17 22:30] peck commented on #2785
Is there any current workaround for this in the 1.0.x series?

[2015-06-18 04:04] wishdev commented on #3400
round is 100% correct - the issue is simple - 1.255*1000/10 != 1.255*100 - that's the way floating point numbers work sometimes. Round can't fix issues it has no control over.

[2015-06-18 08:45] josevalim commented on #2785
Not right now, sorry. You will have to compile it on the host machine (which is usually straight-forward).

[2015-06-18 08:46] josevalim commented on #2785
FWIW, we can't really fix this. All we can do is warn when starting the Elixir node so you don't find about it too late.

[2015-06-18 09:02] ericmj commented on #3400
@wishdev Please see the discussion on the mailing list and try the proposed algorithm. We can demonstrate that the new algorithm improves the examples @ewildgoose provides. If you can find examples where the new algorithm performs worse than the current then please show counter examples.

[2015-06-18 10:23] josevalim opened #3401 "Use the same function in Float.to_string as Kernel.to_string"

[2015-06-18 13:08] josevalim opened #3402 "Considering adding Enum.reduce_while/3"
Today, we don't have a mechanism for reducing while some condition is true besides calling Enumerable. For such, we could add reduce_while that is a thin wrapper around Enumerable.reduce:

    def reduce_while(collection, acc, fun) do
      Enumerable.reduce(collection, {:cont, acc}, fun) |> elem(1)
    end

The `fun` should return `{:cont, acc}` or `{:halt, acc}`. Thoughts?

[2015-06-18 13:09] ericmj opened #3403 "Truncated OTP reports should print better"
Since OTP reports print "Last message" and "State" before the actual exception and stacktrace. This can cause truncated OTP reports to omit the most important part of the report. The exception and stacktrace should be printed before "Last message" and "State".

[2015-06-18 13:36] wishdev commented on #3400
Ok

Float.round(1.249, 1) = 1.2

If I read your proposal correctly you offer the following

Kernel.round(Kernel.round(1.249 * 100) /10)/10 = 1.3

The error exists on anything from 1.245 < x < 1.25 or most variant thereof. Obviously it's not that simple because rounding "issues" exist all over the place with floating numbers.

[2015-06-18 14:34] jtrim commented on #3392
Wow, I should pay more attention to Twitter. Great work @josevalim @kdisneur - such a pleasant surprise to find one of my blog posts spurred development on a core IEx feature! Thanks for implementing! :clap:

[2015-06-18 14:45] fishcakez commented on #2880
Is this a better solution than #3403?

[2015-06-18 15:25] ewildgoose commented on #3400
Oops, yeah, busted.   I also think that Float.ceil / Float.floor are affected since they use the same underlying algorithm?

I have done a google search for some ideas, but I didn't turn up anything which correctly addresses this within an IEEE double.

I think for a perfectly correct answer we can convert to a string of digits, perform the rounding and convert back again (effectively work in the

[2015-06-18 15:45] tony612 commented on #3402
How about letting `fun` just return `acc` when we want to continue like what in `Enum.flat_map_reduce`?
And, do we need `Enum.reduce_while/2`?

[2015-06-18 16:26] doomspork commented on #3402
I like returning `{:cont, acc}` or `{:halt, acc}`, I think it makes the intention very clear and is different enough to not cause too much confusion with `reduce/3`.

I'd be glad to take a stab at implementing this is no one else has called dibs.

[2015-06-18 20:03] peck commented on #2785
Thanks for the response José. Understandable that that would be a problem. Compiling on the host machine isn’t the easiest thing for resource constrained environments like embedded systems, but there are ways to work around it.

[2015-06-18 20:28] josevalim commented on #2785
Hrm. Maybe you compile on a similar OS though? Even through a VM or
something?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-06-18 20:34] whatyouhide commented on #3402
Yes, this! I found myself wanting a function like this more than once. I happily call second dibs if for any reason @doomspork's gives up his/her dibs :smile:

[2015-06-18 21:34] josevalim commented on #3402
@doomspork please do send a PR!

[2015-06-18 21:46] doomspork commented on #3402
Sweet!  @josevalim I will work on it this evening, thank you for the opportunity!

[2015-06-18 21:47] josevalim commented on #3402
I am the one who should be thanking here! :D

[2015-06-19 04:07] peck commented on #2785
OS won't matter much, but virtualization is probably the best bet. I'm going to look into QEMU which allows for CPU emulation.  Its an interesting and expected that there would be byte order issues Elixir, is it just a leak of the PCRE libary that a given BEAM instance is linked to/run on?

[2015-06-19 08:50] josevalim commented on #2785
Just a leak of the PCRE lib.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-06-19 09:09] josevalim commented on #2880
No, we still need #3403 because most people won't remember to customize these until they start getting the errors in production. So #3403 is certainly a better default.

[2015-06-19 09:22] gjaldon opened #3406 "Pattern matching on binary not working"
Was trying to pattern-match on a binary but was getting unexpected(for me, at least) behaviour.

[code]

For the ones that don't work, I get this error: `a binary field without size is only allowed at the end of a binary pattern`.

Is this a bug or is this just not possible to support?

[2015-06-19 09:40] josevalim commented on #3406
It is not possible to support because we need to know the size before hand. It is the same with lists.

[2015-06-19 09:40] #3406 closed

[2015-06-19 09:53] 2kodes commented on #3406
Interestingly   this works

 <<t>> <> _rest = "foobar"

[2015-06-19 09:54] 2kodes commented on #3406
Interestingly   this works

 <<t>> <> _rest = "foobar"

[2015-06-19 10:17] fishcakez commented on #3406
@2kodes that is because the left hand side is a literal, and so the byte size is known.

[2015-06-19 13:07] gjaldon commented on #3406
Too bad this wasn't possible. Oh well, just a really minor thing though.

[2015-06-19 20:42] #3402 closed

[2015-06-20 00:33] fishcakez commented on #3403
Fixed in 6cd1478a2ec1a3dad7f02fb5b9291abe3a3a427f.

[2015-06-20 00:33] #3403 closed

[2015-06-20 04:55] doomspork commented on #3345
@ericmj do you mind if I take a shot at this?

It seems this could be accomplished by moving the `remove_previous_versions/1` to after the `check_file_exists/2` in `Mix.Tasks.Archive.Install`:

[code]

Not entirely sure the best way to test this but I'll dig in and see what I can find.

[2015-06-20 14:07] ericmj commented on #3345
@doomspork Yes, go ahead!

[2015-06-20 18:19] andrzejsliwa commented on #3401
@josevalim what about formatting options?

String.Chars protocol probably should be extended to handle both clauses:

def to_string(thing)
def to_string(thing, options)

[2015-06-20 18:25] andrzejsliwa commented on #3401
then we can implement for example

defimpl String.Chars, for: Integer do
  def to_string(thing) do
    Integer.to_string(thing)
  end
  def to_string(thing, base) do
    Integer.to_string(thing, base)
  end
end

[2015-06-20 18:34] andrzejsliwa commented on #3401
next thing... that we have here inconsistency:

some of **defimpl** are defined in **lib/string/chars.ex** (for Integer, Float etc)
and some of them are inside of other module files: (for example **lib/uri.ex**)

what is preferred place to keep protocol implementations

[2015-06-20 18:47] andrzejsliwa commented on #3401
I would refactor **lib/uri.ex** example

from:

[code]

to:

[code]

[code]

@josevalim @ericmj what do you think about making this kind of cleanup refactor together with fixing float protocol issue?
maybe we should create new issue for refactor instead?

[2015-06-20 20:35] josevalim commented on #3401
Yes, it is a different issue. Also, we implement the native types with the
protocol. Custom types implement in the type file, like URI. So please do
not move the protocol implementation around, S there may also be bootstrap
issues.

Also, string.chars should my accept options because the options would be
received by all types.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.

[2015-06-20 20:51] andrzejsliwa commented on #3401
what you mean?  sorry I don't get it.

the code which I posted as example (with two functions in protocol contract) have
some drawback... we have warnings in every defimpl which have missing second version with options.

so we have two options:
- fix all defimpl for missing second function (with ignoring or using option(s) argument depending from context and place)
- just don't add options (and lo

[2015-06-20 21:32] josevalim commented on #3401
Sorry, autocomplete messed me up. What I meant is that we should not add
options to String.Chars as It is meant to be generic and work across all
data types. So it doesn't make sense to add float specific options to its
API. In other words, we are not touching String.Chars.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-06-20 21:45] andrzejsliwa commented on #3401
so then issue is about using protocol inside of Float module?
[code]
Vs

[code]

would be great to put detailed problem description otherwise its difficult to get it only from subject:
"Use the same function in Float.to_string as Kernel.to_string"

[2015-06-21 06:44] josevalim commented on #3401
Yes, I have created the issue as a reminder. I still need to add the proper
tags and description. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-06-21 07:58] josevalim opened #3413 "Remove Float.to_string/2 and Float.to_char_list/2 and use proper representation on Float.to_string/1 and Float.to_char_list/1"
As per the discussion in the mailing list, `Float.to_string` and `Float.to_char_list` have poor and imprecise defaults. The plan is to remove the functions with arity 2 (one can always use the Erlang version) and make the ones with arity/1 use `:io_lib_format.fwrite_g(float)`.

Of course, we can't remove the ones with arity/2 now, so the plan is to just soft deprecate them for now.

[2015-06-21 07:58] josevalim commented on #3401
Thanks @andrzejsliwa. I have opened an issue with a proper description now at #3413. If there is any issue poorly described, feel free to ping me and I will work on it. Many times I open them as reminders and forget to update them later (sorry!)

[2015-06-21 07:58] #3401 closed

[2015-06-21 11:02] andrzejsliwa commented on #3401
Np i will take a look on it tomorw. My    laptop just died

On Sun, Jun 21, 2015 at 9:59 AM, José Valim <notifications@github.com>
wrote:

[2015-06-21 12:31] jiyinyiyong opened #3414 "call `quote` then `Macro.to_string` on `def`, got different results"
Look at the code:

[code]

[code]

I thought `Macro.to_string` is just the reversed operation of `quote` or something.
This result `def(add(x)) do` is not the expected one. Bug?

[2015-06-21 12:48] ericmj commented on #3414
The quoted AST doesn't keep the input string so when when converted back to strings it can change. Example:

[code]

In this case you are using optional parenthesis when calling the `def` macro and `Macro.to_string` always uses parenthesis for function calls.

[2015-06-21 12:48] #3414 closed

[2015-06-21 12:52] jiyinyiyong commented on #3414
Did you mean `Macro.to_string` will never return a correct function(or macro) back? What a bad news >_<

[2015-06-21 12:54] ericmj commented on #3414
It is correct, try using the code it returns. It has the same behaviour as the input string but not necessarily the same format.

[2015-06-21 12:57] jiyinyiyong commented on #3414
I got some problem here, the generated code does not work:
[code]

[2015-06-21 12:58] ericmj commented on #3414
Your original code doesn't work either. As the error message says you cannot use `def` outside modules.

[2015-06-21 13:00] jiyinyiyong commented on #3414
Oh, my mistake, it's outside module. So it's still valid syntax itself.
Thank you.

[2015-06-21 17:33] doomspork commented on #3413
@josevalim what is the best practice for deprecation in Elixir?

[2015-06-21 17:40] josevalim commented on #3413
Right now we are not deprecating anything. Just adding TODO and removing the docs. Please search for TODO in the repo.

[2015-06-21 17:44] doomspork commented on #3413
Thanks for the tip, have a great day @josevalim :+1:

[2015-06-21 23:05] ewildgoose commented on #3413
Please see my code here:
* https://github.com/ewildgoose/elixir-float_pp

This code implements:
a) Optimal conversion of a double, to the shortest list of decimal digits that can be converted back again to the identical double value. (ie you can convert 1.2 to "1.2" and back again to 1.2)
b) Rounding of a list of digits to arbitrary precision in decimal/scientific notation (they are the same thing

[2015-06-21 23:09] ewildgoose commented on #3400
I have implemented a possible new Float.to_string algorithm. This allows optimal output with flexible rounding to arbitrary precision.  Its feasible to use this to implement round/floor/ceil for decimal values to arbitrary precision.

I haven't found any papers on doing perfect decimal operations whilst staying in IEEE double space. I think to properly implement arbitrary decimal rounding will req

[2015-06-22 03:03] wishdev commented on #3413
@ewildgoose

While FloatPP.to_string(0.3) works better (in theory) then Float.to_string(0.3) FloatPP.to_string(0.1 + 0.2) certainly does not so I'm not sure anything is gained here. The odds are most items are going to be calculated so this would be problamatic.

As well with the celi/round/floor functions - this fails if added to your test file

assert ceil(7.14 - 5.94, 2) == ceil(7.11 - 5.91, 2)

[2015-06-22 06:35] josevalim commented on #3400
Let's keep the discussion here because we should not mix the rounding discussion with the to_string one. Maybe the solution will be the same but they are definitely separate issues.

[2015-06-22 09:55] ewildgoose commented on #3413
Can you please also keep an eye on issue #3400.  I think your comment should really be posted there?

This is an interesting example you have found. Because the two numbers are different by 1.2 decimal, this is an irrational IEEE double value, so depending whether you add or subtract the difference you end up with an IEEE value slightly above or below 1.2. This obviously shows up if you chose a ro

[2015-06-22 10:08] josevalim commented on #3413
That's why I asked to not discuss rounding issues here. We are *again* discussing two different topics on a single issue. :)

**This** issue is clear: it is about removing the Float.to_string/2 and Float.to_char_list/2 functions. We are not adding replacements. If you need something else, use `:erlang.float_to_binary/2` or another library (like float_pp).

To be precise: we are not adding float pr

[2015-06-22 10:09] josevalim commented on #3413
I will do a follow-up comment on #3400.

[2015-06-22 10:16] josevalim commented on #3400
Yes, because we cannot expect perfect decimal operations on IEEE double space. If the solution is to convert to float -> decimal -> perform operations -> back to float then it is not an appropriate solution. You are going to have rounding errors with floats, making it work for 1.2 is not adding much given that it still won't work for 1.1 + 0.1. We should be as precise as possible without resorting

[2015-06-22 10:18] josevalim commented on #3400
In other words, round is an operation on a float, it is not an operation on a decimal. As adding a number to a float can introduce imprecision, rounding a float may introduce imprecision too. We can reduce the amount of imprecision, we won't, however, guarantee there is no imprecision.

[2015-06-22 11:37] liveforeverx opened #3418 "Automatic add `application` to Logger meta data"
Related to Mailing List [discussion](https://groups.google.com/forum/#!topic/elixir-lang-talk/le8bN2f_O28)

It will allow to trace the whole application logs in the future.

[2015-06-22 11:54] ewildgoose commented on #3400
* Currently the rules on how Float.round should operate aren't specified.  A lot of misunderstanding can be cleared away if we *specify* what this function should output for a given input...
* I propose that we specify Float.round to operate as "Directed rounding to nearest, ties round away from zero", which is most similar to how Kernel.round work and how it nearly works right now
** https://en.w

[2015-06-23 17:58] seantanly opened #3422 "mix deps.get - Error fetching private repo on GitHub using :github option"
I'm using Elixir 1.0.4 and git 2.4.4.

`mix deps.get` is unable to fetch my private Github repo when it is specified using the `:github` option as follows in `mix.exs`
[code]
The output
[code]

However, it works perfectly when I specify the mixfile using the standard :git option as follows
[code]

Am I missing something obvious?

[2015-06-23 18:07] josevalim commented on #3422
The github option only works with public repos. Private repos require the path as you have specified.

[2015-06-23 18:07] #3422 closed

[2015-06-23 18:16] seantanly commented on #3422
Thanks for the fast reply!

Perhaps the example for the docs at http://elixir-lang.org/getting-started/mix-otp/dependencies-and-umbrella-apps.html should be updated from
[code]
to

[code]

Following the format of the original example results in the same error I have encountered.

[2015-06-23 18:42] josevalim commented on #3422
That would then only work for private repos and no public ones. :) We should add a note about private repos though.

[2015-06-23 18:55] bgentry opened #3423 "mix downloads Rebar over plain HTTP"
The mix tool currently downloads and installs rebar over plain HTTP rather than HTTPS: https://github.com/elixir-lang/elixir/blob/4f68c4f10502e0f54a21093bb9a33957e63a9ac4/lib/mix/lib/mix/tasks/local.rebar.ex#L4

Perhaps the tool is verifying the integrity of this file (haven't verified that, but hopefully it's at least doing that). Regardless, using plain HTTP unnecessarily leaks additional metada

[2015-06-24 05:27] seantanly commented on #3422
I just tried the following and I have no problems fetching from the public `cmullaparthi/ibrowse` GitHub repo. If this format works regardless of whether it's a public or private repo, perhaps the mix deps.get task should instead adopt this format for GitHub repos?

[code]
and here's the corresponding mix.lock entry
[code]

[2015-06-24 07:12] josevalim commented on #3422
Ah, that's a good point. However, wouldn't still require you to have authentication on all of your servers? For example, once you deploy, you would need to have an SSH key that can access Github on the server. If that is the case, I still don't think it is worth adding this requirement. Just be explicit if you have a private repo.

[2015-06-24 08:33] seantanly commented on #3422
I see your point now, for the alternative format to work even for public repos, it needs an GitHub account/project associated SSH key being present.

I agree there isn't a need for mix to change, and yes, updating the docs example would help since that's the first resource I found on using private dependencies, and I couldn't get the example to work.

[2015-06-24 15:38] josevalim opened #3424 "Use https instead of git for github"
However, we need to be careful so it doesn't require everyone to run `mix deps.get`.

[2015-06-24 17:03] henrik opened #3425 "Allow piping Elixir code into "elixir" binary"
You can do it with ruby:

[code]

I use this a lot in Vim to run the contents of a buffer as a script, whether or not it's a saved file:

[code]

But the elixir binary doesn't seem to accept code this way.

Sorry for not making a pull request at this time – I might find the time/inclination later, but if someone else wants a stab at this please do go ahead.

[2015-06-24 17:11] josevalim commented on #3425
I am ok with supporting this if we can detect upfront if there is something in stdin and still show help if elixir is invoked without arguments. Otherwise it is a no-go because showing the help is more useful. Or we could do it with a flag.

[2015-06-24 17:16] henrik commented on #3425
Yeah, I think I've seen it done with a `-` flag, so `mybin` would show help but `mybin -` would wait for STDIN.

I just looked into STDIN detection a bit. Seems that in bash (but probably not portable across all shells) you can do

[code]

But maybe that's not good enough. My shell scripting and *ux knowledge isn't super strong.

[2015-06-24 17:18] henrik commented on #3425
Ah, Vim itself is where I've seen the "-" thing:

[code]

`vim` without arguments will simply open the editor in the current directory.

[2015-06-24 18:43] ojakubcik opened #3426 "Unit tests failing with Erlang/OTP 18.0"
After installing OTP 18.0 and recompiling Elixir (both latest development version 91ce4a6b57854359d897090939d5f1e59b69e33e and 1.0.4 tag), the following errors appear when running `make -k test` (rest of unit tests omitted for brevity):

    ==> elixir (exunit)
      1) test update maps (MapTest)
         test/elixir/map_test.exs:85
         Expected exception ArgumentError but got ErlangError (er

[2015-06-24 18:53] josevalim commented on #3426
Yes, we are working on those. Thank you!

[2015-06-24 18:53] #3426 closed

[2015-06-25 00:34] bbense opened #3428 "iex> s :erlang crashes"
In both Elixir 1.0.4 and master,

iex> s :erlang

@spec make_ref() :: reference()

is the last spec listed and the error text returned is:

** (Protocol.UndefinedError) protocol Enumerable not implemented for :any
    (elixir) lib/enum.ex:1: Enumerable.impl_for!/1
    (elixir) lib/enum.ex:112: Enumerable.reduce/3
    (elixir) lib/enum.ex:1398: Enum.reduce/3
    (elixir) lib/enum.ex:1047: Enum.map/

[2015-06-25 01:43] Alamoz opened #3429 "elixir 1.0.4 tests not passing with Erlang 18.0"
Just upgraded to Erlang 18.0 and then rebuilt Elixir 1.0.4. Looks like some breakage. Should I fall back to Erlang 17.x?

[2015-06-25 01:51] #3428 closed

[2015-06-25 01:52] ericmj commented on #3429
It's just tests that need to be updated. Elixir 1.0.4 works with OTP 18.

[2015-06-25 01:52] #3429 closed

[2015-06-25 01:56] Alamoz commented on #3429
Thank you. Looking forward to taking it for a spin.

[2015-06-25 01:59] Alamoz commented on #3429
What about this message during compile?:

Compiled lib/agent/server.ex
lib/hash_dict.ex:261: warning: behaviour Inspect undefined
Compiled lib/hash_dict.ex

[2015-06-25 01:59] ericmj commented on #3429
That message will not cause you any issues.

[2015-06-25 05:10] hubertlepicki commented on #3424
I think `mix` already uses HTTPS by default. Or this is not what you meant, @josevalim ?

https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/scm/git.ex#L30

[2015-06-25 05:14] hubertlepicki commented on #3424
ah I can see the change was already made and reverted

[2015-06-25 09:14] #3424 closed

[2015-06-25 11:55] josevalim commented on #3345
Reopened.

[2015-06-25 15:57] alxndr commented on #3328
I'd love to see this feature as well; anything I can do to help?

[2015-06-26 02:25] jonhkr opened #3436 "Mix fails to fetch dependency in umbrella project"
I've created an umbrella project and added an umbrella children that depends on `erlware/relx`, the deps looks like this:

[code]

When I run `mix deps.get`, I get the following error:
[code]

Is it a bug?

[2015-06-26 03:46] bitwalker commented on #3436
You no longer need to add a dependency on relx, just taking the dependency on exrm is enough now. There was a bug in relx not long ago which produced that error, but it has since been fixed in relx master (and is fixed in the version hosted on hex.pm which exrm depends on).

[2015-06-26 03:47] bitwalker commented on #3436
Oh god, I just realized this was the elixir issue tracker and not exrm /facepalm

In any case, this issue was fixed in relx master and is also fixed in the latest release on hex.pm. Ignore the stuff about exrm if you aren't using it.

[2015-06-26 07:52] josevalim commented on #3436
It looks like a bug given there is no path dependency in erlware_commons or relx.

[2015-06-26 10:35] cars10w commented on #3305
Just as a note, the latest Elixir is avalable for Jessie now in the repo mentioned above.. Thanks to everyone!

[2015-06-26 10:55] josevalim commented on #3305
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-26 11:47] jonhkr commented on #3436
@bitwalker Yes, you are right, actually I've got this error while testing exrm. I'm now using the hex.pm instead of github for relx and it is working fine.

Anyway, I also think it is a bug, but I have no idea on how to solve it, though.

[2015-06-26 14:58] bitwalker commented on #3436
@jonhkr Just to clarify, you don't need to declare the dependency on relx at all actually, it's pulled in by exrm for you. I used to have something in the README about adding it, but that was because relx wasn't up on hex.pm yet.

@josevalim Looking back through the commits in the relx repo, I'm not sure what caused the issue in the first place, since I can't find any references to `erlware_common

[2015-06-26 17:30] jonhkr commented on #3436
@bitwalker thanks for the clarification, I've removed the relx dependency from my project, everything is fine now.

I've forgotten to mention that if the `{:relx, github: "erlware/relx"}`  dependency is set on a regular project (not inside an umbrella) everything works.

[2015-06-26 18:06] sunaku commented on #2061
:tada: Since [Erlang/OTP 18.0 is finally here](http://www.erlang.org/news/88), maybe this bug can be revisited? :innocent:

[2015-06-26 18:09] sunaku commented on #2622
:tada: [Erlang/OTP 18.0 has arrived](http://www.erlang.org/news/88) now, so maybe it's time for this bug to be revisited? :innocent:

[2015-06-26 19:07] matwey opened #3438 "Erlang 18.0 unit test failures"
Hello, I am building elixir 1.0.4 with erlang 18.0 and see the following:

[code]

What kind of additional info can I provide?

[2015-06-26 21:59] josevalim commented on #3438
It is fixed in both master and v1.0 branches.

[2015-06-26 21:59] #3438 closed

[2015-06-28 23:55] renatomoya commented on #3345
@josevalim Reopened because #3411 didn't fix it?

[2015-06-29 00:58] doomspork commented on #3345
@renatomoya there was an issue with my original patch.  When you install an existing version it would remove it at the end of the run.  I'm working on an fix.

[2015-06-30 03:22] KronicDeth opened #3444 "excoveralls reports function calls interpolated in second line of <> as uncovered"
(Opened in response to @josevalim's [request on elixir-lang-talk](https://groups.google.com/forum/#!topic/elixir-lang-talk/YLED-JWJKyI)

1. `git clone git@github.com:KronicDeth/excoveralls_string_concatenation.git`
2. `cd excoveralls_string_concatenation.git`
3. `mix deps.get`
4. `MIX_ENV=test mix coveralls.detail | less`

# Actual

Calls to `func` are marked as missed (red) when interpolated in s

[2015-06-30 10:28] #3313 closed

[2015-06-30 14:10] wendy0402 opened #3446 "run `iex` and got error"
I run command `iex` in my console and got this error message:

[code]

how should I fix it? I am using `elixir-1.0.2` and `erlang-17.3`

[2015-06-30 14:21] josevalim commented on #3446
Yes, please update your Elixir version. :) It was a regression on Erlang 17.3 which we have since then addressed.

[2015-06-30 14:21] #3446 closed

[2015-06-30 16:24] orderthruchaos opened #3447 "doctest fails in 1.0.5 on long-endian platform due to native-integer-size(16) example."
Hi all,

While testing 1.0.5 on Solaris/SPARC, the following test fails:

[code]

I believe this is due to the following example:

[code]

The result is `1` on big-endian systems:

[code]

[2015-06-30 19:05] ericmj opened #3448 "Task.call for doing asynchronous GenServer.calls"
`Task.call/3` will be used for doing asynchronous `GenServer.call/3`. Instead of blocking in the call a `%Task{}` will be returned that can be awaited on with `Task.await/2`.

[2015-07-01 09:21] josevalim commented on #3447
Thank you, I have removed the test as it is specific to the OS then!

[2015-07-01 09:21] #3447 closed

[2015-07-01 13:03] jordi-chacon opened #3450 "Error on `mix compile`"
My top-level mix.exs file is the following: https://gist.github.com/jordi-chacon/624610f2a42a68aa8e64

Both my top-level application and the `folsom` dependency have `meck` as a dependency. This seems to cause problems when compiling. (Note that folsom is an Erlang application).
[code]

Running `mix deps.get` doesn't help:
[code]

@ericmj thinks this is a bug.

[2015-07-01 13:53] wsmoak opened #3451 "Mix is unable to install local.hex from s3"
Following http://www.phoenixframework.org/v0.14.0/docs/installation I cannot get hex installed

$ mix local.hex
[takes about 30 seconds, then]
** (Mix) Could not access url https://s3.amazonaws.com/s3.hex.pm/installs/list.csv, error: {:failed_connect, [{:to_address, {'s3.amazonaws.com', 443}}, {:inet, [:inet], :eperm}]}

I am able to retrieve the file with curl
$ curl https://s3.amazonaws.com/s3.h

[2015-07-01 14:03] ericmj commented on #3451
We need to figure out what the `:eperm` error means, according to the erlang docs it means "not owner" but not sure if that makes sense in this context.

[2015-07-01 14:05] Host32 commented on #3450
Remove meck from `deps` list and add it to the `applications` list

´´´
  def application do
    [mod: {MyService, []},
     applications: [:httpex, :meck],
     included_applications: [:storex]
    ]
  end

  ( ... )

  defp deps do
    [{:exrm, "~> 0.16.0"},
     {:folsom, git: "git@github.com:boundary/folsom", branch: "master", override: true},
     {:folsomite, git: "git@github.com:campanja/fo

[2015-07-01 14:08] pma commented on #3450
@jordi-chacon I addressed this by removing the `only: :test` option.

My understanding of the issue is that since there is no concept of deps environment in rebar, meck has to be available in all (mix) environments, not just test.

[2015-07-01 14:12] wsmoak commented on #3451
After downloading and installing hex manually, I get the same error trying to install phoenix from github

$ mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v0.14.0/phoenix_new-0.14.0.ez
Are you sure you want to install archive https://github.com/phoenixframework/phoenix/releases/download/v0.14.0/phoenix_new-0.14.0.ez? [Yn] Y
** (Mix) Could not access url https://

[2015-07-01 14:23] ericmj commented on #3451
@wsmoak Could you try a non-https url, just a normal `http://`. That way we know if it's SSL related.

[2015-07-01 14:28] wsmoak commented on #3451
@ericmj first non ssl url I could think of, let me know if you want me to try something else:

$ mix archive.install http://wsmoak.net/index.html
** (Mix) mix archive.install doesn't know how to install /index.html

[2015-07-01 14:31] ericmj commented on #3451
You can try any of the github or amazonaws urls above with http://

[2015-07-01 14:33] wsmoak commented on #3451
Trying the phoenix url with http instead of https

$ mix archive.install http://github.com/phoenixframework/phoenix/releases/download/v0.14.0/phoenix_new-0.14.0.ez
Are you sure you want to install archive http://github.com/phoenixframework/phoenix/releases/download/v0.14.0/phoenix_new-0.14.0.ez? [Yn] Y
** (Mix) Could not access url http://github.com/phoenixframework/phoenix/releases/download/v0.14

[2015-07-01 14:42] lancehalvorsen commented on #3451
Can you reach the Phoenix archive link in a browser? If so, you can save the file from the browser to the filesystem as per this:
http://www.phoenixframework.org/v0.14.0/docs/installation#section-phoenix

[2015-07-02 11:33] wsmoak commented on #3451
After a restart, this is no longer happening.  I deleted ~/.mix and my test project and ran through the Installation and Up And Running guides again with no issues.

My suspicion is that it was Norton Firewall misbehaving and blocking the connection without popping up the usual prompt to allow or deny it.

Sorry for the noise, but at least it will be here in the archives if anyone else runs into i

[2015-07-02 11:34] #3451 closed

[2015-07-02 18:28] thecodeboss opened #3453 "Unused Alias warnings when using Code.eval_quoted"
When compiling this code:
[code]
I get the following warning: `test.ex:14: warning: unused alias MyAlias`

The alias is used, but its use happens during `Code.eval_quoted`. I'm unsure how much work it would be for the compiler to keep track of such alias uses, but it would be great if it did.

The code runs perfectly fine; In `iex` I can call `Bar.filter("/path/to/cwd")` and get the result `:hello

[2015-07-02 18:42] lexmag commented on #3453
I think same as https://github.com/elixir-lang/elixir/issues/3277.

[2015-07-02 18:56] lexmag commented on #3453
Ah, and `warn: false` to suppress a warning.

[2015-07-02 19:03] josevalim commented on #3453
Yes. The compiler can't see it, so we can't avoid the warning.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-07-02 19:21] thecodeboss commented on #3453
Thanks for pointing that out @lexmag, `warn: false` will work. #3277 was also enlightening toward the reason this does not work. I'll close this.

[2015-07-02 19:21] #3453 closed

[2015-07-03 22:10] matwey commented on #3314
The issue is still present in 1.0.5

[2015-07-04 06:34] melpon opened #3456 "Test is failed when redirect stdout to a file."
[code]

[2015-07-04 06:50] josevalim commented on #3456
Yes, good catch. We should disable ascii escapes.

[2015-07-04 09:21] #3456 closed

[2015-07-04 22:22] SpaTmole opened #3458 "Ubuntu 14.04 elixir 1.0.5-1 crash"
I've been stuck with some weird issue:
every time when I'm trying to launch any of elixir bins (iex, elixir, elixirc, mix), shell session is crushing down with following message:

[code]

That had started happens after I've upgraded elixir to 1.0.5-1 few days ago.
For the moment, I rolled it back to 1.0.4-1 and everything works fine.
Please, tell me If you will need any advanced info, I'll be glad

[2015-07-04 22:34] fishcakez commented on #3458
Try upgrading Erlang to 18.0. This happens when using Elixir 1.0.5 with Erlang 17 but it was compiled with 18.0.

[2015-07-05 10:58] SpaTmole commented on #3458
Thanks for the advice, it's helped.
Seems that apt-get didn't upgrade all erlang components for the first time. Full reinstallation of erlang has solved the issue.

[2015-07-05 10:58] #3458 closed

[2015-07-06 15:01] talentdeficit opened #3459 "poor error message for dependency resolution"
in a project with a top level dependency of `{:foo, "1.2.3", override: true}` if there exists another dependency that also has `:foo` as a dependency like: `{:foo, "1.2.4", override: true}` or `{:foo, "1.2.2", override: true}` then dependency resolution fails with the following error message:

[code]

it doesn't seem to matter whether dependencies are hex deps or github deps, or whether the transi

[2015-07-06 15:05] ericmj commented on #3459
Moved to https://github.com/hexpm/hex/issues/107

[2015-07-06 15:05] #3459 closed

[2015-07-06 18:54] Hades32 commented on #2682
Win10 brings a much better shell and fwiw most people I know have long resolved to something like ConEmu on Windows. So I don't see much use in werl anyway...

[2015-07-06 19:16] bitwalker commented on #2682
@Hades32 the one thing werl gives you is access to the `CTRL+G` command menu, which neither ConEmu nor the builtin shell with Windows (including 10) allow. This gives you the ability to do things like remote shell to another node from the current one, list jobs, kill jobs, etc. It may be less commonly used during development, but is a pretty important feature when debugging running applications.

[2015-07-06 20:58] josevalim commented on #2682
Do the arrows work on Win10 finally?

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

On Mon, Jul 6, 2015 at 9:16 PM, Paul Schoenfelder <notifications@github.com>
wrote:

[2015-07-07 13:34] Rastopyr commented on #3235
:+1: thanks!

[2015-07-07 14:53] arpunk opened #3461 "Range parsing"
Hello,

Today while working with ranges I found the following parsing error:

[code]
My guess is that we should raise in case the range is composed by 3 or more parts, but I just found this and I'm not totally sure if this is the correct approach.

[2015-07-07 14:57] josevalim commented on #3461
@arpunk we already have open issues to make ranges valid only for integers, so this will automatically be fixed once we tackled those. Thanks!

[2015-07-07 14:57] #3461 closed

[2015-07-07 14:58] arpunk commented on #3461
Oh shoot, sorry, my fault for not checking if already reported. Cheers.

[2015-07-07 15:20] felipesere commented on #2547
Has there been any progress on this?
Would a proposal simply be a PR?

[2015-07-08 16:07] rockerBOO opened #3462 "Compiling Occasionally Errors using Kernel.ParallelCompiler.spawn_compilers/8"
I occasionally will get an error like this when compiling. I can re-compile immediately after without any issues. Confirmed on at least a Phoenix Framework project. Maybe related to saving a file as it compiles?

Linux (Ubuntu 15.04)
Elixir 1.0.4
Erlang OTP 18

[code]

Thanks for all the work put into Elixir. :sweat_smile:

[2015-07-08 16:20] josevalim commented on #3462
Thanks for the report @rockerBOO!

@msch and @true_droid, isn't this similar to the issue you have been running into?

[2015-07-08 20:41] josevalim opened #3465 "Get rid of Behaviour"
We needed it because Erlang required us to define behaviour_info, now we no longer need it, we can simply rely on module attributes.

[2015-07-09 00:25] rockerBOO commented on #3462
[code]

Another one on `mix phoenix.digest`

[2015-07-09 08:32] josevalim commented on #3462
Btw, if you could install Erlang 17 and see if this error happens there too, it would help a lot as I know Erlang 18 changed a bit this area.

[2015-07-09 10:57] bcs2002 opened #3467 "Error installing Hex"
Trying to install Hex and got this error msg:

** (Mix) Could not access url https://s3.amazonaws.com/s3.hex.pm/installs/list.csv, error: {:failed_connect, [{:to_address, {'s3.amazonaws.com', 443}}, {:inet, [
:inet], :etimedout}]}

I am behind a proxy and using Windows 7 prof . It says "etimedout". Is it because of proxy?
But am able to access site https://s3.amazonaws.com/

thx

[2015-07-09 11:10] ericmj commented on #3467
How is your proxy configured? Have you set the `HTTP_PROXY` / `HTTPS_PROXY` environment variables?

[2015-07-09 12:03] bcs2002 commented on #3467
Yes. But still getting timeout.

[2015-07-09 12:06] bcs2002 commented on #3467
What is 443?

[2015-07-09 12:07] josevalim commented on #3467
443 is the port as we are using HTTPS.

[2015-07-09 12:07] ericmj commented on #3467
It's the default port used for HTTPS connections. Can you show how you configured your proxy?

[2015-07-09 12:23] bcs2002 commented on #3467
Murphy's law here.  My sysadmin has left. :( .  Shall look into it tomorrow.
Thanks Jose and Eric for your valuable time.

[2015-07-09 12:38] #3345 closed

[2015-07-09 13:08] josevalim commented on #3467
I have changed Elixir so we at least tell you instructions to download manually.

[2015-07-10 07:08] bcs2002 commented on #3467
"I have changed Elixir so we at least tell you instructions to download manually."
Sorry ,Jose.  cant figure out what you mean.  Could you be a bit more specific?

[2015-07-10 08:44] josevalim commented on #3467
I meant that in future Elixir versions you will be given manual instructions about installing this instead of simply being greeted by an error and having no idea what to do. :)

PS: I removed the label by accident.

[2015-07-10 09:30] bcs2002 commented on #3467
Fine. That would be helpful.

[2015-07-10 15:49] stevegraham commented on #3342
+1 mix hangs for me too inside a docker container when started with docker run. I can docker exec to a running container no problem.

[2015-07-10 16:47] bharendt opened #3469 "Allow to specify application type in mix.exs"
In embedded mode, it is sometimes required to start __applications__ with other __start types__ than `:permanent` but with type `:transient` or `temporary`. [See: application.ex](https://github.com/elixir-lang/elixir/blob/87003c16c535eec033362e316c98d580afd959af/lib/elixir/lib/application.ex#L238-L247)

In `:permanent` and `:transient` mode, all applications and the __whole node is terminated, if

[2015-07-10 17:03] henrik opened #3470 "Add convenience method to get given capture group from regex + string"
I do this kind of thing a lot in Ruby:

[code]

The best I could come up with in Elixir was:

[code]

I think a convenience function could be useful here: one that takes the string as a first argument for piping, that takes the capture number as an argument, and that handles non-matches gracefully.

I sketched one below. Happy to make a proper PR with tests if this gets an {:ok}.

Not at all sure

[2015-07-10 17:15] bitwalker commented on #3470
Why not use `Regex.named_captures`?

[code]

[2015-07-10 18:00] henrik commented on #3470
@bitwalker I actually looked at that one, and all the other documented `Regex` methods, but none of them have the convenience that I would like. Compare:

[code]

[2015-07-10 18:06] bitwalker commented on #3470
@henrik The equivalent would be:

[code]

And it has the benefit of explicitly defining what the captures mean for future maintenance/readability. Just seems like there is no particular benefit to a `String.capture/2` helper.

[2015-07-10 18:11] lexmag commented on #3470
@bitwalker :+1:.

[2015-07-10 18:20] henrik commented on #3470
This is only intended to be a convenience method. That's the benefit :) Slicing-and-dicing text in this way is pretty common for me – I would guess for many. I feel this would make that rather more convenient.

If some common task feels like much more effort in Elixir than in some other language, and it's due to differences in the standard library rather than philosophical differences, that makes

[2015-07-10 18:31] henrik commented on #3470
Oh, and I agree named captures and so on can be the readable, maintainable thing in other, more complex situations. I intend this as a convenience e.g. for those oneliners where that would just be overkill.

I needed to parse a number out of a string today, for example. I would have liked to be able to do this:

[code]

[2015-07-10 18:47] alxndr commented on #3470
I really like having to be explicit about what you want out of a regex match by surrounding it with capturing parentheses; that Ruby and JS return the string which matched the entire regex can lead to (imho) regexes which are more confusing than they need to be.

[2015-07-10 18:48] josevalim commented on #3470
Let's please have those discussions in the elixir-lang-core mailing list. It exists exactly for this. :)

[2015-07-10 18:48] #3470 closed

[2015-07-10 18:48] bitwalker commented on #3470
@henrix I think the primary philosophical difference when it comes to the Elixir vs Ruby standard library is that Elixir gives you a lot of convenience, while attempting to reduce the overall API surface. In other words, in general you won't find very much, if any, crossover in functionality between functions in the API. In your case, you have the combination of `String.split`, i.e. `[_, num, _] =

[2015-07-10 18:49] bitwalker commented on #3470
Sorry @josevalim, clicked send before I saw your reply

[2015-07-10 18:51] josevalim commented on #3469
You should be using releases for this. The application callback you have mentioned is for generating the `.app` file which does not include the start type. Please take a look at: https://github.com/bitwalker/exrm

One day we will have releases in Elixir per-se but don't hold your breath. :)

[2015-07-10 18:51] #3469 closed

[2015-07-10 18:57] #3386 closed

[2015-07-11 10:20] dwahyudi opened #3471 "Delete key doesn't work in iex"
When i 'm inside iex, pressing Delete key will not delete, instead it prints out ~

Operating System: Ubuntu Vivid

[code]

Here i want to delete 4, but instead it gives ~

[2015-07-11 11:11] josevalim commented on #3471
Do you have the same issue in the `erl` shell?

[2015-07-11 12:10] dwahyudi commented on #3471
@josevalim  yes it also happens on erl.

I tried this as well on my remote server, Ubuntu Utopic

[code]

[2015-07-11 12:26] ericmj commented on #3471
If the issue also exists in erlang's shell the fix needs to happen there. You can raise the issue on erlang-bugs or erlang-questions http://erlang.org/mailman/listinfo.

[2015-07-11 12:26] #3471 closed

[2015-07-11 18:20] josevalim opened #3472 "Ensure Logger.log also includes metadata"
The issue is that today move to `Logger.log` to dynamically log based on the level and they use all the compile time metadata.

We should likely provide Logger.runtime_log that for the ones willing to do it strictly at runtime.

@lexmag and @fishcakez, thoughts?

[2015-07-11 23:15] ericmj commented on #3450
We should either try to handle overriding a prod dependency with a test dependency or we should error explaining that it is not possible.

[2015-07-12 01:58] siscia opened #3473 "Enum.take/2 hang forever if Stream and float are supplied as argument."
Hi All,

I am fairly new to Elixir, however I find this little issues.

[code]

The documentation states that Enum.take/2 should take an integer as second argument, however I don't see many reason for this constrain.

I could provide an implementation + test if required.

[2015-07-12 02:11] siscia commented on #3473
Also, I believe the error is from this commit here: https://github.com/elixir-lang/elixir/commit/38a95131112dc112fb667dde134f2225932eaf7f#diff-6881431a92cd4e3ea0de82bf2338f8eaL1741

Finally, I would suggest, that if we want to keep the same behaviour we should test if the `count` argument is an integer how it was in the original implementation: https://github.com/eksperimental/elixir/commit/8806a7

[2015-07-12 07:28] josevalim commented on #3473
@siscia yes, let's please change both Enum.take and Stream.take to guarantee the given argument is an integer. Can you please send a pull request?

[2015-07-12 09:03] eksperimental commented on #3473
@josevalim , I just realized today that this is the second change I made to elixir, and didn't made it to v1.0
Is there a proper way too label/tag or metiong that it needs to be backported to 1.0, or we need to submit a new PR? I totally overlooked that fact

[2015-07-12 09:52] josevalim commented on #3473
It is my fault. I was the one who should backport those. Glad to know this is fixed in master.

[2015-07-12 09:52] #3473 closed

[2015-07-12 10:52] fishcakez commented on #3472
:+1:

[2015-07-12 11:09] lexmag commented on #3472
Sounds good, can't come up with anything better than `runtime_log` for name (`notify`?).

[2015-07-12 14:48] josevalim commented on #3472
@lexmag can you please send a PR for this? Let's go with runtime_log, it is easy to rename later anyway.

@ericmj / @alco / @MSch  any ideas regarding the name?

[2015-07-12 15:36] lexmag commented on #3472
Sure, I'm on it.

[2015-07-12 15:49] alco commented on #3472
I didn't understand the issue very well. Is it about people losing the compile-time metadata when switching from a logging-macro to calling `Logger.log` directly?

[2015-07-12 15:53] josevalim commented on #3472
@alco yes, exactly. there is no way to log something using a dynamic log level and have the metadata. I have noticed this in Ecto, when I made the log level configurable, and folks complained the metadata was gone.

[2015-07-12 15:58] alco commented on #3472
If we were allowed to, I would instead rename the current log to `clog` (as in `compile-time log`) or `mlog` (`macro log` or `meta-data-imbued log`). Since we can't do that, I suggest calling the run-time logging function `blog` meaning `basic log` or `bare-bones log`.

[2015-07-12 16:01] josevalim commented on #3472
Thanks @alco. I like the `basic_log` or `raw_log` or `bare_log`, and bare means "no metadata" by default. `bare_log` then? :+1:?

[2015-07-12 16:32] lexmag commented on #3472
bare :+1:

[2015-07-12 16:54] alco commented on #3472
`naked_log`?

[2015-07-12 19:14] eksperimental opened #3479 "Makefile needs to be able to build docs from Precompile.zip Elixir"
right now it is not possible to create docs with `make docs` from precompiled elixir.
the reason is that it the current make file will try to execute the `compile` task
https://github.com/elixir-lang/elixir/blob/7fe42a73d016f706296a6537981ba58ee34df7a5/Makefile#L142-L172
and it wil fail, since source files are not available.

my proposal is to create a function that checks if `elixir/lib/elixir/li

[2015-07-12 20:39] josevalim commented on #3479
@eksperimental i disagree with this. we shouldn't even bundle the makefile in the precompiled elixir. it is precompiled, it does not have source files, nor any of the tools that are supposed to ship with sources. if you want more stuff, then please download the source. we have one source tar for each precompiled package.

[2015-07-12 20:39] #3479 closed

[2015-07-13 05:04] eksperimental commented on #3479
@josevalim I understand your point, but it think it's worth to include it.
in that case I think we should provide the docs in a compressed format for every release, what do you think about this?

[2015-07-13 07:00] josevalim commented on #3479
We could maybe provide them as a separate package, I wouldn't include them necessarily in the precompiled ones.

[2015-07-13 07:03] josevalim opened #3483 "Raise if piping into a binary operator with already 2 args"

[2015-07-13 07:06] eksperimental commented on #3479
@josevalim yes, definitely as a separate pacage.
zip and tar.gz format, same as for the source files?

[2015-07-13 07:13] josevalim commented on #3479
@eksperimental I will figure it out later because i have in my todo to move to readthedocs which provide docs as pdfs, html and more. :)

[2015-07-13 07:14] #3472 closed

[2015-07-13 12:08] stevedomin commented on #3425
@josevalim can I take a stab at this?

[2015-07-13 12:09] josevalim commented on #3425
Yes, please!

[2015-07-13 12:12] henrik commented on #3425
@stevedomin :heart: Awesome, godspeed!

[2015-07-13 13:18] eksperimental commented on #3425
a very interesting article (a its comment thread) on the subject: http://www.linuxjournal.com/content/determine-if-shell-input-coming-terminal-or-pipe

[2015-07-14 03:54] KronicDeth opened #3486 "Non-symbolic operators are not supported in function capture syntax"
While testing https://github.com/KronicDeth/intellij-elixir/issues/143 I found that some operators are not referenceable with `/` for function captures.

For example, `&&/2` and `&&&/2` both quote `:ok` as `{:/, [line: 1], [{:&&, [line: 1], nil}, 2]}` and `{:/, [line: 1], [{:&&&, [line: 1], nil}, 2]}`, respectively, but `and/2` returns `{:error, {1, "syntax error before: ", "'and'"}}` from `Code.s

[2015-07-14 04:20] bitwalker commented on #3486
You can reference `and/2` with `&Kernel.and/2`, likewise with `^`, `not`, `||`, `|||`, `or`, and `in`. Not that this changes the core of your question, but maybe something you weren't aware of.

[2015-07-14 07:45] josevalim commented on #3486
Another great find @KronicDeth. This should definitely work. It is a flaw in the parser/tokenizer, we forgot those because they are defined elsewhere. We should fix:

    not, and, or, when, in, ^

Anything else?

[2015-07-14 11:26] eksperimental opened #3487 "variable names: `count` vs. `n` vs. `nth` / `position` vs. `index`"
_I don't know if this is the right place, please let me know and I will move it to the mailing list_

I noticed that these three variable names `count`, `n` and `nth` and used and mixed up.
for example

[Enum](http://elixir-lang.org/docs/master/elixir/Enum.html#take/2)
----------

[Stream](http://elixir-lang.org/docs/master/elixir/Stream.html#take/2)
----------

In the Enum.take/2 "n" is the name

[2015-07-14 11:34] josevalim commented on #3487
In the List case, they mean different things. Position is the position in the tuple to find the given key, while index is the same that we mention in enumerables. So I would keep `position` the same.

About `index`, `count`, `n` and `nth`, there are two concepts. Sometimes we are referencing a position (take every 3rd item), sometimes it is a count (take 3 items). `index` can cause confusion as pe

[2015-07-14 11:44] eksperimental commented on #3487
here is another case to exemplify that `n` and `index` also mix.

[2015-07-14 11:56] eksperimental commented on #3487
it looks to me that it would be convenient to when `n` means position, use `index` instead.
and when `n` means amount, use `count`,
to avoid ambiguity and normalize the use of variable names.

Is there any use of 1-based indexes? in that case I would favour the use of `position`, since when we think of positions, we think of 1st position as the first one, and there is not such a thing as "0th posi

[2015-07-14 11:59] josevalim commented on #3487
I don't like indexes. It definitely won't work with Enumerable. If we are traversing a file, does it really make sense to think about indexes? Not a fan. :S Other than that, if `n` means amount, surely, let's use `count`.

[2015-07-14 12:11] eksperimental commented on #3487
agreed
So when `n` means index, does it make sense to use `index` instead?

[2015-07-14 12:13] josevalim commented on #3487
No, because, it doesn't make sense to think in terms of indexes when traversing files and other things.

[2015-07-14 12:22] eksperimental commented on #3487
Sorry, I didn't explain myself clearly. I meant, when it explicitly means an index, as in the examples above "Enum.fetch!(collection, n) Finds the element at the given index (zero-based)"

to sum up, the examples listed above would read like:

[2015-07-14 12:48] josevalim commented on #3487
Sounds great. :+1:

[2015-07-14 13:03] MSch commented on #1191
Old issue but I just ran into something related...

[code]

IMO `[]` should behave the same way as `""` does, so it's consistent.

Not sure if that could even be changed for 1.1 though?

[2015-07-14 13:14] alco commented on #1191
Looks like intended behaviour to me. Matching an empty string is different from trying to match an empty list of things. The latter is more similar to `Enum.any?` (does the string contain any of these substrings?):

[code]

If the list of substrings is empty, it doesn't make sense to say that the target string contains something from it, does it?

[2015-07-14 13:16] MSch commented on #1191
Right. :)

[2015-07-14 14:30] chrismccord opened #3488 "assert on a match should raise if false or nil"
assert foo = nil

should raise. Today is passes.

[2015-07-14 14:31] chrismccord commented on #3488
I'll take this one on with a PR soon

[2015-07-14 16:25] #3487 closed

[2015-07-14 17:06] rockerBOO commented on #3462
Haven't been able to downgrade (Honestly don't know off the top of my head). But heres another one.

[code]

[2015-07-14 22:29] edgurgel commented on #3488
I'm pretty sure there's some context why this is an issue. What's the reason that `assert foo = nil` should raise? (I'm asking just out of curiosity, I have no opinion about this.)

[2015-07-15 02:10] KronicDeth commented on #3486
I missed `when`, should that be fixed?

[2015-07-15 02:15] KronicDeth commented on #3486
The only other operator I can think of would be `=>`, but that doesn't actually form a 3-tuple in the AST, so I don't think it can really support `=>/2`.  (What's the terminology for the `{atom, metadata, args}` AST element?  I've been calling it a [local call in my java code](https://github.com/KronicDeth/intellij-elixir/blob/35b031d39fa6869d47ece2442b6b3f94d627238b/src/org/elixir_lang/Macro.java

[2015-07-15 04:39] bcs2002 commented on #3467
HTTP_PROXY and HTTPS_PROXY have been set and  I am also able to run wget from command prompt. But the issue with timeout still there.
What modification should i make now?

[2015-07-15 07:19] josevalim commented on #3486
@KronicDeth i think we should support `when/2` because the tokenizer/parser should have no semantic knowledge (theoretically). So if it happens that according to elixir semantics `&when/2` makes no sense, that should be addressed later.

However, no need to support `=>` because it is not really an operator (although it is in the operator table for precedence reasons).

[2015-07-15 09:25] ericmj commented on #3467
Can you show how they are set?

[2015-07-15 09:28] ericmj commented on #3488
I'm not sure about this, if you are explicitly matching on false or nil you are doing that because you want to verify something is that value. I don't see the benefit of failing on those values.

[2015-07-15 09:46] bcs2002 commented on #3467
env variables on my PC set up as

 HTTP_PROXY   http://<ip>:<port> and
 HTTPS_PROXY https://<ip>:<port>

Now if i wget  https://s3.amazonaws.com/s3.hex.pm/installs/list.csv, I get the error:

D:\test>wget https://s3.amazonaws.com/s3.hex.pm/installs/list.csv
SYSTEM_WGETRC = c:/progra~1/wget/etc/wgetrc
syswgetrc = C:\Program Files (x86)\GnuWin32/etc/wgetrc
--2015-07-15 13:43:09--  https://s3.amazona

[2015-07-15 09:50] bcs2002 commented on #3467
HTTP_PROXY as http://<ip>:<port> and
HTTPS_PROXY as https://<ip>:<port>

If i wget the URL , i get the error:

D:\test>wget https://s3.amazonaws.com/s3.hex.pm/installs/list.csv
SYSTEM_WGETRC = c:/progra~1/wget/etc/wgetrc
syswgetrc = C:\Program Files (x86)\GnuWin32/etc/wgetrc
--2015-07-15 13:43:09--  https://s3.amazonaws.com/s3.hex.pm/installs/list.csv
Connecting to xx.yy.xx.xx:999... connected.
ER

[2015-07-15 09:51] ericmj commented on #3467
Your wget installation has an outdated or bar certificate store. Try using curl or downloading with your browser.

[2015-07-15 09:51] #3467 closed

[2015-07-15 10:00] bcs2002 commented on #3467
As you know the problem is, i am unable to install hex. Could this certificate issue be the cause of 'timeout' when installing hex?

[2015-07-15 10:03] ericmj commented on #3467
No, the timeout is another issue. But it's hard to know what's wrong without more information and how your particular proxy is set up. Can you show your environment variables are set in more detail? You can change private information to something else but please show the full string.

[2015-07-15 10:22] bcs2002 commented on #3467
Is this what you want?
![envvar](https://cloud.githubusercontent.com/assets/11626401/8696373/61a107d0-2b09-11e5-9b9a-4af21feb34a4.PNG)

[2015-07-15 10:27] ericmj commented on #3467
That does look correct and something we should support but I cannot investigate this issue without your full proxy set up. If you want to investigate yourself the relevant code is here: https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/utils.ex#L420

[2015-07-15 11:23] josevalim commented on #3488
@ericmj my rationale was that the behaviour of assert (which is raising on false or nil) should not change because of the `=` operator.

[2015-07-15 11:27] ericmj commented on #3488
Right, maybe it's just my assumption of how `assert =` is supposed to work. For me it's a match assertion, but I can understand if it should be consistent with the other assertions and be a boolean assertion with matching.

[2015-07-15 15:51] josevalim opened #3494 "Improve error message for var.foo when var is not a map nor atom (grr, nor tuple)"

[2015-07-15 22:38] Urielable opened #3495 "Problem with `mix deps.get` when there are private repositories"
I have the next error message:
[code]
A partial solution is to clone the repository via ssh, but I find the same problem in another dependency.

This problem happens on CentOS release 6.6, with Elixir version 1.0.5 and Git version 1.7.1

In OSx works.

[2015-07-15 22:44] ericmj commented on #3495
We clone with `git`, you need to either set up git correctly or give URLs that have the proper authentication. Basically, if you can clone it with git you should be able to use it as dependency in mix.

[2015-07-15 22:59] josevalim commented on #3495
It may also be a SSH issue. Note that, if the repo is private, you should
not use https but ratheR the git@github.com URL.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-07-15 23:26] Urielable commented on #3495
I think the same about the ssh issue... I'll change my urls from https to ssh. Thanks!

[2015-07-16 00:24] rockerBOO commented on #3462
I haven't moved down to Erlang 17, but I feel all these errors are due to the warnings in the compiler. Just add some unused variables in a function and keep compiling. Will report if I see anything different than this pattern of warnings.

[2015-07-16 10:13] bcs2002 commented on #3467
I am now no longer behind the proxy.
![errorinst](https://cloud.githubusercontent.com/assets/11626401/8720588/382bc94e-2bd1-11e5-82de-4f155d5b3e9b.PNG)

Upon giving mix local.hex  , it asks for confirmation to install hex.ez and on giving 'Y'  there is no response - just sort of hangs. Now if you terminate the batch job with "Y'  the User\bcs\.mix\archives folder is empty  else there is a hex.ez f

[2015-07-16 13:49] ericmj commented on #3467
Does it always hang? Can you try running `powershell -Command "& {$ErrorActionPreference = 'Stop'; $client = new-object System.Net.WebClient; $client.DownloadFile("https://s3.amazonaws.com/s3.hex.pm/installs/hex.ez", "hex.ez")}"`?

`wget` fails because your installation of it has non-existant, bad or out-of-date CA certificate store. We can be pretty confident that amazon serves a correct certific

[2015-07-17 00:42] Urielable commented on #3495
Well, I changed all the urls in mix.exs to ssh (git@github.com) instead of https, and now the download seems to be working, but this is what I get when running `deps.get`.

[code]
I don't know what's happening.

[2015-07-17 00:43] ericmj commented on #3495
You need to tell us what in the output you expect to be different? Does it freeze? What happens?

[2015-07-17 00:47] Urielable commented on #3495
Yes, it hangs up forever. :confused:

[2015-07-17 00:48] ericmj commented on #3495
Do you have a way for us to reproduce? Can you confirm that it only happens with ssh git dependencies?

[2015-07-17 07:17] eksperimental opened #3500 "Deprecation related issues"
1. `CHANGELOG` doesn't mention anything about `String.contains?/1` when `string` is empty.

2. Should we add to the functions that we are already emitting a warning (hard deprecated), the comment: `# TODO: Remove by [version number]`

3. None of the three String functions that have been deprecated mention anything about it's use in the documentation. I think we should document about it, so we disc

[2015-07-17 08:33] josevalim commented on #3500
No need to worry about adding TODOs to deprecated stuff, I manually look for "depreca" after a release. Also, the Access deprecation is still in progress and there is an open issue for it, so no need to worry about it for now.

Improving the docs is very welcome, PR please? I will update the CHANGELOG soon too. Thank you!

[2015-07-17 08:37] eksperimental commented on #3500
great, I will update the docs for the deprecated uses for the functions the String module

[2015-07-17 11:49] MSch opened #3502 "Logger metadata behavior"
Various things I'm not sure are intentional:

[code]

1. There's no API to remove a metadata key from the pdict. Setting it to nil doesn't remove it.
2. If a log call sends along some metadata this is appended to the metadata and doesn't replace that metadata key in the pdict
3. There's no way to send a log message without attaching the pdict's metadata (e.g. `Logger.info "a", [custom: :metadata],

[2015-07-17 11:55] josevalim commented on #3502
Should we have an explicit API or set it to nil?

It is fine to merge them.

Yes but I am not particularly inclined to support this though.

Let's address this too.

[2015-07-17 11:58] MSch commented on #3502
I haven't yet needed nil metadata values. IMO if I ever do I can just go straight to the pdict and set it there.

+1

Ok by me, right now we got only a single place where I want that, I can just directly call Logger there

+1

[2015-07-17 12:00] josevalim commented on #3502
Ok, so let's remove metadata on nil values too.

[2015-07-17 13:12] dersturm opened #3503 "If bad heredocs is followed by working heredocs, no error is outputed but function is not compiled"
[code]
Outputs
[code]

While
[code]

Outputs
[code]

Notes: Only happens if the function whose `@doc` is followed later by a function with a heredoc (even if it is not the imediate following function). So, if the function with a problematic heredoc is followed by functions with `@doc false`, the problem doesn't happens
Note2: If the function with problematic heredocs is not preceded by a `@spec`,

[2015-07-17 13:14] dersturm commented on #3503
Edited the title to make it more obvious that the reason for the `@spec` error is that the function is not compiled, the compiler doesn't fails and no error is outputed on this specific case