[2016-01-11 21:58] bendennis commented on #4167
@BrandenSchwartz I was having a weird issue with the windows installer a couple weeks ago, and a ccleaner run fixed the issue. My installer was just hanging though, no error message. Huge shot in the dark, but maybe worth a try.

[2016-01-12 09:18] pablobcb commented on #4171
Elm does it in a very nice way

[2016-01-12 09:41] #4175 closed

[2016-01-12 15:32] brightbits commented on #4186
do we not delegate to `:base64.decode`?

[2016-01-12 15:59] pma commented on #4186
Other implementations seem to ignore `newline` and `space` in the decode function, as the default behaviour. If adding the option to ignore blank chars, we might as well consider the option of optional padding chars.

Chaging https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/base.ex#L547 to

[code]

solves part of the problem. The remaining bytes and padding chars are handled with a

[2016-01-12 16:10] fishcakez commented on #4185
I am not convinced these are flaws because that's how calls work in OTP and its I'm not sure we can do anything to improve that. I think it is just a case of improving documentation if stop is being misused.

[2016-01-12 17:58] josevalim commented on #4185
Ok, perfect.

[2016-01-12 17:58] #4185 closed

[2016-01-12 20:22] sumerman opened #4191 "Mix complains about a false dependency conflict after upgrading to 1.2"
Basically top-level project says it doesn't care about a version (dependency is specified there only for dialyxir's sake) while a library have a stricter constraint. Furthermore this happens during `deps.get` with existing `mix.lock` — in general I didn't expect any checks to be performed at this stage.

[code]

[2016-01-12 21:14] josevalim commented on #4191
@sumerman good catch. Can you provide a simple mix.exs file that reproduces the error? Thank you. :)

[2016-01-12 21:14] josevalim commented on #4191
@ericmj / @lexmag let's solve this before shipping 1.2.1.

[2016-01-12 21:32] josevalim commented on #4172
Please use the mailing list for questions. Yes, the current terminal does not support paging.

[2016-01-12 21:32] #4172 closed

[2016-01-12 21:33] josevalim opened #4192 "Also show pinned variables on failed matches in ExUnit"
We already do this for `assert_receive`, let's also do it for matches.

[2016-01-13 09:38] #4192 closed

[2016-01-13 09:42] sumerman commented on #4191
@josevalim It's surprisingly hard to reproduce: on a different machine with the same repo it gives me a different set of conflicting deps, and "minimal example" I'm trying to comp up with just works. Could you point me to the part of Mix code where resolution happens, so I will have a better idea what's going on.

[2016-01-13 10:04] josevalim commented on #4191
@sumerman if it works on another machine it can be two reasons:

1. it has different elixir/hex versions
2. this bug only shows up when upgrading code. so if you have recently upgraded oauth2 or plug, maybe having the old lock with the mix.exs file is enough to reproduce it

[2016-01-13 10:10] sumerman commented on #4191
@josevalim not quite: the repo with the problem just gives me a different conflicts set. But a brand-new repo works.

1. Versions are the same
2. I'm deleting `deps` folders before running `deps.get`

Removing `_build` folder helped, though. I will check with another machine tonight.

[2016-01-13 10:12] josevalim commented on #4191
Ok, perfect. I will hold the release until then, if we still can't reproduce it, no issues. It can always be fixed later on.

[2016-01-13 15:46] ericmj commented on #4191
Make sure you have the same `mix.lock` file when reproducing. This error happens when you have a fetched and compiled dependency A and add a new dep B that depends on A but the version requirement B set on A does not match the version you have of A.

Example:
You have dep A with version 1.0.0. You and dep B that depends on A with the requirement "~> 2.0", the new requirement does not match on 1.0.

[2016-01-13 15:58] sumerman commented on #4191
I've been preserving the lock file all the time and of course will preserve
it for further edperiments.

On Wednesday, 13 January 2016, Eric Meadows-Jönsson <
notifications@github.com> wrote:

--
Sincerely,
(Mr.) Valery Meleshkin

[2016-01-13 16:53] ivoanjo commented on #3342
The `1>&1` solution in the above comment worked for me. Thanks @edevil !

[2016-01-13 17:06] edevil commented on #3342
If you guys are curious, the problem is described in https://github.com/edevil/docker-erlang-bug#explanation and it is not present in the upcoming Erlang R19.

[2016-01-13 17:47] jakubpawlowicz commented on #3342
Good news, thanks @edevil!

[2016-01-13 18:21] ivoanjo commented on #3342
Indeed, awesome work! :+1:

[2016-01-13 18:59] stavro opened #4196 "Support optional parameters in defdelegate"
For consistency with function declarations, it would be nice to consider supporting optional parameters in `defdelegate`.

Example:

[code]

What is currently required:

[code]

What should be allowed:

[code]

[2016-01-13 19:08] josevalim commented on #4196
:+1: we did some changes to make this possible from now on.

[2016-01-13 21:31] sumerman commented on #4191
`_build` folder removal helped on the other machine as well

[2016-01-13 21:41] josevalim commented on #4191
Perfect. We will improve the error message for upcoming releases anyway. Thank you!

[2016-01-14 00:01] tuvistavie commented on #4196
I would like to give this one a try!

[2016-01-14 05:28] josevalim commented on #4196
Please go ahead!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-01-14 12:41] dwahyudi opened #4198 "Pipe here operator?"
How about adding an opt in "pipe here" operator ??

For example ~| means pipe here:

[code]

this is just a simple example, is it possible?

[2016-01-14 12:47] josevalim commented on #4198
Please use the elixir-lang-core mailing list for new features discussion. Thank you.

[2016-01-14 12:47] #4198 closed

[2016-01-14 12:57] josevalim opened #4199 "Deprecate defdelegate with lists and append_first"
I believe those features do not map well to Elixir semantics anymore. You want each defdelegate to be on its own line so you can control module attributes like `@doc` and append_first can be confusing when using defaults (which are more useful than append_first).

/cc @tuvistavie @lexmag

[2016-01-14 13:02] lexmag commented on #4199
Strongly :+1: for defdelegate with lists deprecation, not sure about though.

[2016-01-14 13:10] kwokhou commented on #4031
I had the same issue with Mint 17.3, landed in this page from Google search.

Changing the word `squeeze` in `/etc/apt/sources.list.d/erlang-solutions.list` to `wheezy` works for me.

Hope this helps others.

[2016-01-14 13:37] josevalim commented on #4031
Pinging @dexsda  in case he missed this earlier. :)

[2016-01-14 15:55] tuvistavie commented on #4199
I totally agree for `defdelegate` with lists.
I think `append_first` is useful, but I agree it adds too much complexity compared to the benefits, especially when used with optional parameters.

[2016-01-14 16:49] sandeshsoni commented on #4161
@fishcakez

Mix tasks give us suggestion if there is a small typo.
For example, for mix testy

    mix testy
    ** (Mix) The task "testy" could not be found. Did you mean "test"?

This is calculated considering String jaro distance.
If there is any mix task name with jar score more than 0.80, it is shown.

I was thinking similar message style.

    assert “foobar” = “fooba”,
    # the error messa

[2016-01-14 16:50] josevalim commented on #4199
@tuvistavie can you please tackle this as well once your PR lands? :)

[2016-01-14 16:51] sandeshsoni commented on #4161
https://github.com/elixir-lang/elixir/blob/master/lib/ex_unit/lib/ex_unit/assertions.ex#L128

How do i get lhs value ? need help.

[2016-01-14 16:53] tuvistavie commented on #4199
Sure!

[2016-01-14 17:23] fishcakez commented on #4161
The right hand side is likely to be code and the left hand side a pattern, so I don't think strings are a common enough case to worry about just yet.

The issues is not about improving this output:
[code]
Its about improving the case where assert is used in a process linked to the test process:
[code]
Which outputs:
[code]
Notice it doesn't tell use the right hand side value and not enough informa

[2016-01-14 17:31] sandeshsoni commented on #4161
Ok, i will look into this.

[2016-01-14 17:50] #4196 closed

[2016-01-14 18:33] josevalim commented on #4167
Closing this as there isn't much we can do without effectively reproducing it. Thank you

[2016-01-14 18:33] #4167 closed

[2016-01-14 18:33] josevalim commented on #4191
This is related to #4162 btw.

[2016-01-14 18:36] josevalim commented on #4186
Maybe it would be easier if we said which character is wrong but it is hard to add that now without being backwards incompatible as we would change the result to `{:error, _}`. :(

[2016-01-14 18:53] suprafly opened #4200 "Suspected Memory Leak in Iex"
Hey there, just getting into Elixir, which I love so thanks for all your hard work, and I'm running into a nagging problem that everytime I use Iex to run some code over time it ends up eating all of my memory and swapping me.

Running: Xubuntu 14.04
Latest stable Elixir installed from the repositories as directed in the installation guide.
On a small and (purposefully) underpowered Asus x200ca (m

[2016-01-14 18:54] whatyouhide commented on #4186
@josevalim so there's no plan to add `Base.decode64/2` that accepts options? I agree `{:error, _}` would probably be the best solution but I can't think of a way to make that backwards comaptible.

[2016-01-14 19:20] josevalim commented on #4200
What are your Erlang and elixir versions?

On Thursday, January 14, 2016, Chris <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-01-14 19:24] suprafly commented on #4200
**Output of: iex --version**

Erlang/OTP 18 [erts-7.1] [source] [64-bit] [smp:2:2] [async-threads:10] [kernel-poll:false]

Elixir 1.1.1

[2016-01-14 20:53] pma commented on #4186
Based on [this](http://tools.ietf.org/html/rfc4648#section-3.3) section of RFC4648, the recommendation is not to be "liberal in what you accept". This section also mentions that ignoring non-alphabet chars in base 64 decoding is specific to MIME's implementation of Base64 (see https://tools.ietf.org/html/rfc2045#section-6.8).

That said, the decode16 and decode32 functions already expand from RFC4

[2016-01-15 03:41] c0b commented on #79
why can't overlord the more intuitive `+` is that some limit of current implementation?

[code]

[2016-01-15 05:11] tuvistavie commented on #79
@c0b You should use the mailing list if you want to propose new features.

[2016-01-15 05:30] c0b commented on #79
no, github # issues is the better platform than ML, because I can subscribe this particular issue only, to subscribe a whole ML seems like too much information

[2016-01-15 05:40] c0b opened #4202 "request mix to support a package without any particular version requirements"
this may be requesting documentation only, or may need code changes

from current doc I don't know how to install just latest version of a package, I am expecting `{:httpotion}` `{:httpotion, "*"}` or `{:httpotion, ~r/.*/}` no one works; for this particular package httpotion we know current version is 2.1.0 we can ">= 2.1.0" but I prefer a general applicable solution

http://elixir-lang.org/docs/v

[2016-01-15 05:42] c0b commented on #79
@tuvistavie or do you know how to subscribe a particular thread only from a ML ?

[2016-01-15 05:50] tuvistavie commented on #79
@c0b It is not a problem of which one is better, they have different purposes.
Please read the [CONTRIBUTING.md](https://github.com/elixir-lang/elixir/blob/master/CONTRIBUTING.md#using-the-issue-tracker) for more info about how to use both.

Of course you can subscribe to a particular thread, see the attached screenshot.
I think you should be subscribed automatically if you create a new topic.

![

[2016-01-15 06:09] tuvistavie commented on #4202
@c0b If you always want the latest version, which I do not recommend, just use

[code]

For questions, please ask on IRC or StackOverflow, you will get your answer in no time!

[2016-01-15 10:00] josevalim commented on #4200
Hi @suprafly! Glad you enjoy and thanks for the report!

You may try to updating your Erlang version because some version in the 18 series had a memory leak. Although, the memory leak was related to whatever you type in the terminal, it would not grow on its own forever.

On the other hand, it may be related to something in your application or the code being reloaded. If you start a new applicatio

[2016-01-15 10:09] RobertDober opened #4203 "Regex.split including captures in the result"
Hopefully I was not unfriendly or trolly on the ML as I got no result.
However I really find that this might be useful so I take another shot here:

[code]

I would prefer the Erlang behavior

[code]
I am aware that for backward comp one cannot just change that, what about an option like e.g.
`include_captures: true` or `:include_captures`
I noticed that under the hood `Regexp.split` does not use

[2016-01-15 10:19] josevalim opened #4204 "Include variable scoping document as part of Elixir pages"

[2016-01-15 10:25] josevalim commented on #4203
I actually dislike this behaviour because captures in regular expressions are used as captures and grouping. So I think being explicit here would be really worth it. So :+1: for an option.

[2016-01-15 10:27] #4202 closed

[2016-01-15 10:27] josevalim commented on #4202
I will improve the error message. :)

[2016-01-15 10:53] josevalim commented on #4186
Thanks @pma! We could either introduce `ignore: :whitespace` or `ignore: :ascii_whitespace` or introduce `Base.mime_decode64`.

[2016-01-15 12:16] #4199 closed

[2016-01-15 12:17] #4204 closed

[2016-01-15 21:16] c0b commented on #4202
instead, if I can make code changes in mix to support this way to get the latest, is it acceptable to change?

[code]

I checked other communities like node npm install also assume `npm install packagename` will get the latest version, why not here just follow these conventions ?
https://docs.npmjs.com/cli/install

there are many reasons we just want the latest version, mostly for testing software

[2016-01-16 00:41] chiquitinxx opened #4205 "Miss function to concat double-quoted strings"
Hello!

I know it exists '<>' to concat two "String", but I miss a functions like "String.concat/2" that do the same thing. So then I can use in:

`anyStr |> String.concat "something"`

Maybe can be a good addiction, or maybe not :). Thank you!

[2016-01-16 00:49] chiquitinxx commented on #4205
It exists Kernel.<>, is good for me :)

[2016-01-16 00:49] #4205 closed

[2016-01-16 03:03] bsedat opened #4206 "Leftover references to Kernel.Typespec"
Noticed that #4079 moved the typespec docs but there are still references to it on http://elixir-lang.org/docs/v1.2/elixir/Module.html and http://elixir-lang.org/docs/v1.2/elixir/Kernel.html. Those used to be links in previous Elixir doc versions but I think they're disabled now that the Kernel.Typespec moduledocs are turned off. Should they reference the module or the new doc location?

[2016-01-16 03:45] suprafly commented on #4200
Agreed. I'm happy to help. I will work on getting a sensible series of steps together to reproduce this, as well as as much info as possible.

[2016-01-16 07:42] josevalim commented on #4206
Let's reference the new doc location. Good catch :)

[2016-01-16 09:23] druzn3k commented on #4203
I'll try, if nobody is working on this issue!

[2016-01-16 09:26] josevalim commented on #4203
Please go ahead!

[2016-01-16 09:29] druzn3k commented on #4203
I'm already writing :+1: I cannot guarantee on the result of course, but I'll do my best. :smile:

[2016-01-16 11:36] whatyouhide commented on #4186
If the only difference between MIME and not is whitespace, I'd rather go with the `ignore: :ascii_whitespace` option so that we only keep a single function (and there are other encoding/decoding functions that take options in `Base`, so it would not feel weird). If the differences with MIME are more, then I'd go with `Base.mime_decode64`.

[2016-01-16 13:37] ericmj commented on #4202
For the cases where you don't care about which version you use `{:httpotion, ">= 0.0.0"}` is a concise and explicit way of showing it.

[2016-01-16 14:55] druzn3k commented on #4203
@josevalim would you be so kind of reviewing my PR #4207? I need some advices on how to improve it. Thanks! :shipit:

[2016-01-17 09:38] #4203 closed

[2016-01-19 05:51] tuvistavie commented on #4186
I've search a bit in the RFC, and other languages, the difference is basically

* MIME RFC says to ignore all chars not in the alphabet
* Base 64 RFC says to error on chars not in alphabet, or to explicitly state otherwise if you do not

In other languages, script languages tend to implement the lenient behavior, while others tend to implement the strict behavior.

The current implementation has `

[2016-01-19 17:26] sandeshsoni commented on #4161
I am still working on this issue. Giving most of my time.
But if this is blocking any other issue, you make take this one.
Not surrendered the issue yet.

[2016-01-19 20:00] ericmj opened #4209 "~S"" should insert newlines even if the line ends with \"
Normal strings correctly does not insert a newline when a line ends with `\`:

[code]

`~S""` where escaping is disabled should always insert newlines, but it doesn't:

[code]

Additionally escaping the `\` will insert `\\` with no newline:

[code]

/cc @josevalim

[2016-01-19 22:05] #4206 closed

[2016-01-19 22:05] josevalim commented on #4200
I am closing this until we get a way to reproduce it. Please @suprafly just ping here or open up a new issue. :)

[2016-01-19 22:05] #4200 closed

[2016-01-19 22:43] bsedat commented on #4206
:heart: :purple_heart: :green_heart: :yellow_heart: :blue_heart: Thanks!

[2016-01-20 01:22] suprafly commented on #4200
Sounds good José.

I am still having the issue, but having a difficult time getting a lock on
a specific and reproducible pathway to get it to happens. It's one of those
particularly annoying bugs that only surfaces when you get back to work :)

..Chris

On Tue, Jan 19, 2016 at 2:06 PM, José Valim <notifications@github.com>
wrote:

[2016-01-20 02:51] vic commented on #4085
Just for reference, I created a tiny [happy](http://github.com/vic/happy) macro that just converts code into a chain of cases, I'm currently using it in a couple of projects of mine, as IMHO it's cleaner than `with`'s syntax. It also allows an `else` clause for handling non-matching values. The downside is variables would _leak_ as it's just a plain old case.

[2016-01-20 10:28] liveforeverx commented on #4085
@vic For variables not leaking in your implementation, you can transform expression in happy_path macro to with expression instead of cases.

I personally find `with` cleaner as `happy_path`, because it is much more explicit in a case, where to define cases and where not:

[code]

And, after using it our codebase, later separation of do I find better, because of better separation of concerns. And

[2016-01-20 10:42] josevalim commented on #4186
Great wrap up, thank you!

[2016-01-20 13:52] josevalim opened #4211 "Introduce assert_down"
This is proposal to introduce `assert_down` in ExUnit simplifying a bit the common pattern of:

    ref = Process.monitor(pid)
    assert_receive {:DOWN, ^ref, _, _, _}

This will be specially useful when testing named processes as you would simply write:

    setup do
      MyApp.start_link(name: MyApp)
      on_exit -> assert_down MyApp end
    end

The only downside is that people may get used

[2016-01-20 14:22] tuvistavie opened #4212 "Add a way to ignore deprecations in dependencies"
Deprecation messages are a very good thing to help smooth transition to newer Elixir versions,
however, there should be a way to enable/disable at least runtime deprecations when
these are in dependencies, as there is not much we can do for it, and often
it cannot be fixed anyway for compatibility issues.

When I run my tests, I currently get something like this, which is clearly horrible.

![scre

[2016-01-20 14:25] alco commented on #4212
Hiding warnings is not a solution because sooner or later that code may simply start working after you upgrade to a newer Elixir version. Best solution is to report bugs for the project or upgrade your dependency if it has already been fixed upstream.

[2016-01-20 14:31] tuvistavie commented on #4212
@alco I think letting this choice to the user is still a solution.
Of course, this is definitely not a good thing to do usually, but it can sometimes help, as long as we do not abuse of it.
For example, here, I am told that plug is using a deprecated function: `uniq`.
I am aware it is deprecated, as well as everyone maintaining plug, but as plug needs to be compatible with Elixir 1.0, this will no

[2016-01-20 14:41] fishcakez commented on #4211
I think we'd have to force pattern matching on the exit reason, like

[code]
Though we'd support patterns so someone could do:
[code]

Also when asserting that something is down, do we want to monitor at that moment? I think its likely the monitor reference would come earlier in the code to prevent `:noproc` race conditions. Would it then be better to pass a monitor reference? But would that make

[2016-01-20 14:43] josevalim commented on #4212
I agree with @alco. We need to have conversation about those cases. Or Plug needs to do a new release where it is compatible only with 1.1 or we need to remove the warning from Elixir side if developers still want to write code that is compatible only with 1.0 and 1.3.

It is also worth pointing out this warning is in master. So while I think it is too early for Plug to depend only on 1.1, by the

[2016-01-20 14:43] #4212 closed

[2016-01-20 14:45] josevalim commented on #4211
Well, we need to clarify what is the goal of this function. If the goal is to guarantee the process is not running, :noproc is fine. In those cases we don't even need to monitor. Also, if you need to match on the reason, you can always do it by hand. I was thinking the second argument would be the timeout value.

[2016-01-20 14:52] fishcakez commented on #4211
Oh. The idea is to ensure the named process has exited. I.E. no longer registered. You only wrote the solution and not the problem :D.

[2016-01-20 14:53] josevalim commented on #4211
Yes, for both named and non-named processes.

[2016-01-20 16:25] vkirill opened #4213 "Captures (&) bug (191 variables limit instead of 255)"
Hello!
First time here. Yesterday I was playing in iex and found this bug:
[code]
Capture syntax only supports 191 function arguments instead of maximum 255.

[2016-01-20 16:28] josevalim commented on #4213
Perfect, thank you! We should limit the number down to something like 128 anyway. Anything more than that is abusive. :P

[2016-01-20 16:29] #4211 closed

[2016-01-20 16:45] vkirill opened #4214 "Captured functions can't run with `&(&1).(arg)` syntax"
This might be not an issue, but why this happens when doing captures?
[code]

[2016-01-20 16:46] #4214 closed

[2016-01-20 16:52] michalmuskala commented on #4213
Erlang already limits maximum number of arguments to a function to 255, so we could probably stay with that.

[2016-01-20 17:16] josevalim commented on #4213
We do as well but the limit was being triggered earlier.

[2016-01-20 17:31] michalmuskala commented on #4213
Yes, I understand the bug. I referred to the proposal to limit arguments at 128.

[2016-01-20 18:30] josevalim commented on #4213
Right, we already limit to 255 but that doens't work.

[2016-01-20 21:39] tuvistavie commented on #4214
For further reference, just check the following output.

[code]

Which basically says that `&(&1).(:x) == &((&1).(:x))` , which creates a function that expects a function of arity 1 as argument and passes `:x` to it when called.

[code]

[2016-01-20 21:44] lexmag commented on #4214
I'd recommend to combine quoting with `Macro.to_string/1`, e.g.:
[code]
There is a bug in presenting `(&(&1)).(:x)` though, I'm working on a fix.

[2016-01-20 21:47] michalmuskala commented on #4214
I think this behaviour of `&(&1).(:x)` is wired and surprising. Is it intended?

[2016-01-20 21:48] tuvistavie commented on #4214
@lexmag Thanks for the tip, it sure is more readable.
Oh, indeed `(&(&1)).(:x)` seems to loose it brackets after quoting + Macro.to_string.

[2016-01-20 21:51] lexmag commented on #4214
@michalmuskala sadly yes. :cry:
Capture operator has very low precedence.

[2016-01-20 21:55] josevalim commented on #4214
It is intended because it is the same as: `& &1.field` which we write a lot.

[2016-01-20 22:01] josevalim commented on #4213
I was wrong, we don't limit to 255. The error is happening because we build variables like x0, x1, x2, x3 but for &192, the codepoint is 256 which has no translation. I think we need to build variables like this:

[?x|integer_to_list(X)] so we get proper numbers for any X >= 0.

[2016-01-20 22:04] #4213 closed

[2016-01-21 09:33] michalmuskala commented on #4214
In fact I find `& &1.field` equally confusing :smirk: The first time I encountered it I had no idea what was happening.

But I can see, how it's not possible to change it.

[2016-01-21 20:00] suprafly commented on #4200
I'm working on getting some simple code that will consistently reproduce
this, but as of right now here's what I did this morning..

I have nothing open but SublimeText, terminator.

I run iex with the simple command: iex

Now, I am working on an algorithm to build a prefix tree from a dictionary
of about 250k words. My workflow (which admittedly may not be correct, as
I've only been with elixir f

[2016-01-21 20:32] cheshirecatalyst opened #4216 "Strange unexpected output mixed with expected output"

[2016-01-21 21:07] #4216 closed

[2016-01-21 21:17] edgurgel commented on #4211
I would love to use this as well :+1:

[2016-01-21 21:52] lexmag commented on #4200
@suprafly are you using ElixirSublime plugin?
I suspect it might be the same as in the #3951: the problem in that plugin vishnevskiy/ElixirSublime/issues/20.

[2016-01-22 04:19] suprafly commented on #4200
@lexmag This might be the root cause. I've removed the ElixirSublime plugin and after some light testing, I am not seeing the problem. I will do a bit more heavy testing w/o the plugin this weekend to ensure that this fixes the issue.

Thanks so much!

[2016-01-22 13:54] mschae opened #4220 "Regex.escape/1 doesn't escape "]" and "}""
`Regex.espace/1` doesn't escape closing closing brackets.

### Expected:

[code]

### Actual

[code]

[2016-01-22 13:54] mschae commented on #4220
Unless someone else is inclined to, I would be happy to tackle this.

[2016-01-22 13:55] josevalim commented on #4220
Please go ahead!

[2016-01-22 13:59] lexmag commented on #4220
I assume that's correct behaviour what we have today, no? Is it breaks matching?

[2016-01-22 14:01] lexmag commented on #4220
E.g. C# states:

[2016-01-22 14:10] mschae commented on #4220
Sorry maybe I am missing something.

Say I want to replace `[` and `]` in a text:

[code]

What am I missing?

[2016-01-22 14:19] lexmag commented on #4220
It looks like a special case with `[]` inside `[]`, as I remember `]` inside should be the first element (will look for a source).
These samples but with `{}` inside `[]` works flawlessly.

[2016-01-22 14:30] lexmag commented on #4220
Nevertheless, having this inconsistency I :+1: for more escaping.

[2016-01-22 17:46] chowetno opened #4221 "Windows shortcut contains hardcoded werl.exe"
There's a hardcoded `werl.exe` path in the shortcut installed with Elixir using the Windows installer. The path currently is `%USERPROFILE%\Desktop\werl.exe` but it works if you change it to `C:\Program Files\erl7.1\bin\werl.exe`. I think that maybe it's best to not assume `werl.exe` exists on the Desktop?

[2016-01-22 18:00] josevalim commented on #4221
Could you please make it a pull request to the installer? We rely on contributions for maintaining the installer at: https://github.com/elixir-lang/elixir-windows-setup Thank you!

[2016-01-22 18:00] #4221 closed

[2016-01-22 18:03] chowetno commented on #4221
Ah, thanks, moved to elixir-lang/elixir-windows-setup#3

[2016-01-22 20:26] suprafly commented on #4200
Confirming that this problem is nto related to Elixir, or Iex, but to #3951 in the ElxixirSublime plugin.

Tested at 4 hours of continuous usage w/o the Plugin installed, no problems were seen.

[2016-01-23 06:05] tyre opened #4222 "Compilation error with 1.2"
Not sure if this is helpful or not. While compiling before entering IEX, got the following errors. Compilation ended up failing from a typo, and I still got the right error eventually, so no effect on functionality.

Just thought I'd let ya know!
[code]

[2016-01-23 08:47] josevalim commented on #4222
Can you provide a way to reproduce this? If not, we will gladly take a look. Otherwise there isn't much we can do. Thank you!

[2016-01-23 08:47] #4222 closed

[2016-01-23 22:49] arthurcolle opened #4226 "Updating mix breaks existing projects"
Noticed this several times on Windows so merits opening an issue.
[code]

Is there a way to fix the fact that its pointing to an older version that was deleting (I presume) during update?

[2016-01-24 04:27] arthurcolle commented on #4226
`iex -S mix` also not working in the sense of returning file access errors.

[code]

[2016-01-24 06:40] arthurcolle commented on #4226
Yeah so future windows users that encounter this - the previous archive file is still open (makes sense) as a resource in your OS, so just reboot your computer if the error bothers you

[2016-01-24 06:40] arthurcolle commented on #4226
Yeah so future windows users that encounter this - the previous archive file is still open (makes sense) as a resource in your OS, so just reboot your computer if the error bothers you

[2016-01-24 06:40] #4226 closed

[2016-01-24 14:15] ericmj commented on #4226
If you close all your processes running mix that may have loaded the archive the issue should also resolve itself.

[2016-01-24 17:38] PragTob commented on #4031
Wrote erlang-solutions an email, didn't find an issue tracker or anything like that

[2016-01-24 22:40] josevalim opened #4227 "Consider deprecating NEW LINE + OPERATOR"
Except for arrow related operators. Because pipe operators have already been special cased in the language, I wouldn't mind making another exception here for sanity reasons.

[2016-01-25 00:01] lexmag commented on #4227
Really like this idea.

[2016-01-25 12:07] ericmj commented on #4227
I am :-1: because sometimes code looks better with the operator on the newline. What are the sanity reasons you are referring to?

[2016-01-25 14:02] josevalim commented on #4227
The fact it won't work with `+` and `-`, the fact it doesn't work on IEx, as well as limitations around `,` (raised on IRC yesterday) and the fact it is often confusing in code like below:

[code]

Do you remember of any cases, besides pipes, where you prefer them in new lines?

[2016-01-25 14:37] ericmj commented on #4227
Pipes also doesn't work in iex and that should be a bigger issue because that's definitely the binary operator most used on a new line.

I prefer these:

[code]

[code]

[2016-01-25 14:37] ericmj commented on #4227
It also seems odd to start disallowing this if we are considering to allow commas on new lines.

[2016-01-25 16:14] josevalim commented on #4227
The plan is to not allow commas. Regarding the previous examples, this would be a about us imposing one preferred way of doing so. I see no reason why the examples above would be better than having the operator in the previous line?

[2016-01-26 03:23] artculinaire commented on #1116
I also get the same error message running **iex** in a Centos 6.7 terminal when Centos is running inside of VirtualBox with 2 CPUs. The error disappears when I change VirtualBox to 1 CPU. Running **erl** doesn't show any errors with 1 or 2 CPUs. This is with Elixir 1.2.1 compiled from source.

[2016-01-26 03:25] sailorsteve commented on #1116
I also get the same error message running **iex** in a Centos 6.7 terminal when Centos is running inside of VirtualBox with 2 CPUs. The error disappears when I change VirtualBox to 1 CPU. Running **erl** doesn't show any errors with 1 or 2 CPUs. This is with Elixir 1.2.1 compiled from source.

[2016-01-26 17:03] liveforeverx opened #4228 "Umbrella project and custom mix compile tasks not working from root of umbrella"
I have prepared minimal reproducible example ( https://github.com/liveforeverx/umbrella_elixir )

There are 2 branches, `master` and `extra`, in first case, there is custom compile task, which includes in `app_a` and added to compilers, in second the custom compile task, which is added as dependency(It doesn't make any difference).

If I go to app directly `apps/app_a` or `apps/app_b` and do `mix

[2016-01-26 19:37] sunaku commented on #3847
FYI - I just wanted to point out that this issue still exists under the latest Elixir 1.2.1 release. :memo:

[2016-01-26 23:02] scrogson opened #4230 "[MIX] select a manager automatically"
Opening an issue as request by @josevalim in IRC.

I ran into an issue while including a dependency in a phoenix app. The dependency depends on `{:ranch, "~> 1.0"}`.

Because `cowboy` depends on `ranch`, attempting to `mix deps.get` produces the following error:

[code]

This was due to the difference in the `manager` option. Changing the dependency to `{:rebar, "~> 1.0", manager: :rebar}` in the

[2016-01-27 01:53] ericmj commented on #4230
The problem here is that we chose a specific manager too early. For "cowboy -> ranch" we chose rebar as manager because we assume that dependencies of a rebar project can always be compiled with rebar. For "your mix.exs -> ranch" we chose make as a manager because ranch has a Makefile but no rebar.config. If we instead kept [rebar, make] as a manager for "cowboy -> ranch" we could more easily conv

[2016-01-27 08:35] padde commented on #2061
I was just trying to use this to match a map key in a function head with another variable from the same match. Are the following examples revealing bugs, or am I just using this wrong?

[code]

The pin operator won't help either, as suggested by the compile error. It shouldn't be required for function heads anyway:

[code]

[2016-01-27 08:41] josevalim commented on #2061
The error messages are correct. Maps only allow you to map on previously
defined variables, they can't come from the same pattern.

On Wednesday, January 27, 2016, Patrick Oscity <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-01-27 08:53] josevalim commented on #4230
@ericmj I am thinking we should just automerge. If one is coming high in the tree, it automatically wins, if from the disjoint trees, we will do (mix > rebar3 > rebar > make). There is no reason to raise conflicts for managers. Let me know when you have a sec to discuss this before we ship 1.2.2.

[2016-01-27 09:11] #4228 closed

[2016-01-27 11:12] padde commented on #2061
Alright, thanks for the info, too bad :( I guess this limitation comes from the BEAM? Is there anything we can do about it or would it be considered an "anti-feature" anyway?

[2016-01-27 11:30] josevalim commented on #4230
We are missing the steps to reproduce this, unfortunately.

[2016-01-27 11:33] josevalim commented on #4230
I was able to reproduce it with these deps:

[code]

[2016-01-27 11:56] #4230 closed

[2016-01-27 11:56] josevalim commented on #4230
This has been fixed, thank you for the report @scrogson!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-01-27 11:56] josevalim commented on #4230
@ericmj I am waiting for you to confirm the fix before a release. :)

[2016-01-27 13:27] ericmj commented on #4230
@josevalim Looks good.

[2016-01-27 13:50] ericmj commented on #4227
No way of doing it is better than the other, there are two ways of doing it and my preference happens to be the one we are considering to disallow.

[2016-01-27 15:38] bcardarella opened #4232 "Allow ExUnit to clean up more than just the `tag` module attribute"
I'd like to propose that the `test` macro can be instructed to delete more than just the `@tag` attribute.

Use case:

In EctoFixtures I'd like to have the following API:

[code]

I *could* use the `@tag` attribute:

[code]

but the problem comes when someone wants to use multiple fixtures:

[code]

The attribute accumulator will just overwrite `:fixtures` on the `context` object passed into the t

[2016-01-27 15:55] josevalim commented on #4232
@bcardarella What would add meaning to the `@fixtures` module attribute?

[2016-01-27 15:56] josevalim commented on #4232
I mean, we could erase it, but usually in order to make use of it you would have to fetch it explicitly anyway and you could use this opportunity to delete it.

[2016-01-27 15:57] bcardarella commented on #4232
@josevalim perhaps I am missing where I can do that. From what I've seen fetching the module attribute during the `setup` will have after compilation, which means that all `@fixture` declarations will have been accumulated. Where I only care about the ones directly associated with that test, similar to how `@tag` is being used.

[2016-01-27 16:02] josevalim commented on #4232
Exactly. We do this because we have the `test` macro and we call some particular code. So the only way you can make use of `@fixtures` is if you also have a `test` macro, that reads `@fixtures` and call today's `test` macro. But if you do that, you can clean it up yourself.

To be more explicit: do you have a working version of your @fixtures today? It know it can work only for a single test for n

[2016-01-27 17:54] bcardarella commented on #4232
@josevalim I'll add a branch in a bit with a demo for you to look at

[2016-01-27 21:08] bcardarella commented on #4232
@josevalim

Here is the implementation: https://github.com/dockyard/ecto_fixtures/blob/bc-fixture-tag-example/lib/ecto/fixtures.ex#L25-L46

and how it would be used (assuming a single test, not possible with multiple tests with above implementation) https://github.com/dockyard/ecto_fixtures/blob/bc-fixture-tag-example/test/module_attributes_test.exs#L10-L15

[2016-01-27 21:25] josevalim commented on #4232
Thank you! the implementation above wouldn't work after changing ExUnit either, because on before_compile you would have only the fixtures for the last test. The only way to make this work is by replacing ExUnit.Case.test by your own test macro that reads the attribute and calls ExUnit.Case.test. Once that is done, you won't need to change ExUnit as well because you can take care of the cleaning u

[2016-01-27 21:27] bcardarella commented on #4232
@josevalim what I am suggesting in this issue is a modification of how ExUnit.Case works. Where an additional number of module attributes can used along side `@tag` in ExUnit.Case. If you'd like I can PR that for discussion

[2016-01-27 21:28] bcardarella commented on #4232
I'm hesitant to go the route of wrapping ExUnit.Case in my library as it may not be compatible with other library that decide to do the same.

[2016-01-27 21:31] josevalim commented on #4232
@bcardarella let's try a PR then :) I can't guarantee it will be merged but I think it will progress this discussion!

[2016-01-27 22:01] bcardarella commented on #4232
Understood, I know its a long shot but let's see :)

[2016-01-28 05:51] tuvistavie commented on #4186
@josevalim If it seems fine, I will implement `ignore: :whitespaces` and `ignore: :non_alphabet` and send a PR.

[2016-01-28 09:25] josevalim commented on #4186
@tuvistavie thank you! let's go with only `ignore: :whitespace` for now because i haven't seen a need for `:non_alphabet` yet.

[2016-01-28 09:36] tuvistavie commented on #4186
@josevalim Sure! I'll send a PR when I am done.

[2016-01-28 14:15] hdcos opened #4234 "ExUnit.Case functions arent running serially using Agent global state"
I read this issue ( https://github.com/elixir-lang/elixir/issues/3580 ) and it seems test functions inside a Case are run serially.
When I run a simple test case without global state cases are indeed run serially.

But when I use global state with Agent the order of execution depends on luck. For the same call to

    mix test --trace

the order of execution change. Here is my test suite:

    def

[2016-01-28 14:32] josevalim commented on #4234
The tests run serially but they run in **random order**. Your tests are failing because they are order dependent as they change some global state.

When you run your suite you see this at the bottom:

    Randomized with seed 596046

You can disable it by adding `ExUnit.configure seed: 0` to your `test_helper.exs` but I would rather advise for your tests to be order independent.

[2016-01-28 14:32] #4234 closed

[2016-01-28 14:33] tuvistavie commented on #4234
They are indeed run serially, but the order is not guaranteed, which is why your tests sometime fail.

[2016-01-28 14:41] hdcos commented on #4234
Ok thank you very much :)

[2016-01-28 15:11] hdcos opened #4235 "ExUnit: € sign causes Argument error"
When I use a € sign in a test desciprtion with

    test "crediting 850€ with BlueCard" do
      ...
    end

When I run my test with

    mix test --trace test/...

I get

    test/lemonwex_test.exs:46: warning: this expression will fail with ArgumentError
    ** (ArgumentError) argument error
        test/lemonwex_test.exs:46: (module)
        (stdlib) erl_eval.erl:669: :erl_eval.do_apply/6

and

[2016-01-28 15:12] josevalim commented on #4235
It is because we convert test names to atoms and atoms unfortunately do not support unicode yet. There is nothing we can do but I will investigate what is the status of this, thank you!

[2016-01-28 15:12] #4235 closed

[2016-01-28 19:14] jisaacstone commented on #4227
I am in favour of consistent behaviour across all binary operators. I'm against special casing anything. Makes the language easier to communicate, simpler to parse / debug, and reduces the number of decisions I need to make when writing code.

[2016-01-28 19:53] benwilson512 opened #4236 "ExUnit setup_all returning {:ok, file: :foo} explodes"
Elixir 1.2

The following test:
[code]

results in
[code]

Changing the `file:` key to anything else makes the error go away. Making the test pass makes the error go away.

see https://github.com/benwilson512/ex_unit_error for a full isolated example (not that there's really any  more to it than what I pasted).

[2016-01-28 21:09] josevalim commented on #4236
`@file` is a reserved key. We should raise a decent error if you try to override one of those.

[2016-01-28 21:16] benwilson512 commented on #4236
A bummer. I assume there's no hope of renaming it to `:__file__` ? `file` is a pretty common word to have reserved.

[2016-01-28 21:21] josevalim commented on #4236
Here is the issue, those tags can be used as filters. So you can say: run all tests with the file tag. That's why I don't think we should move it to __file__, because then the filter becomes awkward. Does it make sense?

More info: https://github.com/elixir-lang/elixir/blob/master/lib/ex_unit/lib/ex_unit/case.ex#L117-L120

[2016-01-28 21:27] benwilson512 commented on #4236
I see. That makes sense. What I don't yet see is where / why the output of the setup blocks gets merged with those tags. Do all inputs to a test end up as tags?

[2016-01-28 21:36] josevalim commented on #4236
The tags and the user data as stored in the same map. It is a decision I mostly regret today but I guess we could move tags to `context.tags` so if you override them we won't choke.

[2016-01-28 21:41] benwilson512 commented on #4236
Ah that is indeed unfortunate. I'd go as far as putting it in `ex_unit_context.tags` or something just so that we can avoid collision as much as possible.

[2016-01-28 23:04] #4186 closed

[2016-01-28 23:34] #4236 closed

[2016-01-29 08:15] seantanly opened #4239 "Hidden error in build process when upgrading packages"
In upgrading my packages on a Phoenix 1.1.4 app, specifically `phoenix_html` from 2.4.0 to 2.5.0, I encountered the following

`** (FunctionClauseError) no function clause matching in Phoenix.HTML.Form.normalize_form/1`

The steps I took is simply `mix deps.update --all` and running `mix test` thereafter.

Looking into the issue, I thought the error lies with the new phoenix_html specifically http

[2016-01-29 08:26] josevalim commented on #4239
Which Elixir version are you using?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-01-29 08:27] seantanly commented on #4239
Installation Info
Elixir 1.2.1 & Erlang 18.2.1 installed via homebrew.

$ mix hex.info
Hex:    0.10.4
Elixir: 1.2.1
OTP:    18.2.1

Built with: Elixir 1.2.1 and OTP 18.2.2

Registry file available (last updated: 2016-01-29 08:25:23)
Size: 1359kB (compressed 441kb)
Packages #: 1446
Versions #: 6420

[2016-01-29 08:29] josevalim commented on #4239
This is great, thank you. Those errors indeed should not happen, I will investigate what is happening. Is this app public by any chance? It would be easier if I could just have a failing test ready but if not I will build one. :)

[2016-01-29 08:45] seantanly commented on #4239
Sure, here's the example app which I built from Programming Phoenix. ;)

https://github.com/seantanly/phoenix-rumbl

[2016-01-29 10:24] josevalim commented on #4239
Unfortunately I cannot reproduce the issue. Once I cloned the repository, I changed the lock file because it was using 2.5.0 already. I did the steps and nothing. :S

[2016-01-29 10:26] josevalim commented on #4239
Nevermind, I can reproduce it now. :) We should recompile phoenix_ecto but we haven't for some reason. :)

[2016-01-29 10:35] seantanly commented on #4239
Ah yes, the updated mix.lock got committed. Just fixed it on the repo reverting the phoenix_html version back to 2.4.0.

Glad that you got the error reproduced anyway. :)

[2016-01-29 12:22] #4239 closed

[2016-01-29 12:23] josevalim commented on #4239
Excellent catch and top notch bug report, thank you! 1.2.2 should be out soon with a fix. :)

[2016-01-29 16:55] paulcsmith opened #4240 "Dialyzer has output with _@ instead of variable/function names"
When running dialyzer on Elixir 1.2.1 the output contains many instances of `_@x` where `x` is an integer. Here is an example build of the plt and some excerpts from the output:

The plt:

[code]

[2016-01-29 17:02] josevalim commented on #4240
Please open up issues in the appropriate projects, they should tag the output. If you can include a simple way to reproduce it, even better (like a small project on Github with a command to run). Feel free to ask me on IRC (or on this thread) if you are not sure if you should open an issue here, Phoenix or Phoenix.HTML. :)

The safe one seems to be on Phoenix.HTML. I will fix put_new_layout in Pho

[2016-01-29 17:02] #4240 closed

[2016-01-29 17:06] paulcsmith commented on #4240
@josevalim I don't believe this is just a Phoenix issue; that's why I opened it here. The warnings I pasted happen to be from Phoenix, but the `_@` stuff also comes up on other parts that aren't Phoenix specific. It may be elixir or possibly eex, but I'm not sure. That's why I opened it here because I believe you said that should have been fixed in Elixir 1.2. Maybe I misinterpreted though?

[2016-01-29 17:08] paulcsmith commented on #4240
Also I'll open a Phoenix specific issue with the Phoenix warnings that are generated. I'll also include an example app if I can to make it a bit easier to debug :)

[2016-01-29 17:34] paulcsmith commented on #4240
And maybe it would be good if you could give me a hint on where to put the issue(s). I think maybe I'm not sure where this problem is coming for since I thought it was an elixir thing :P

[2016-01-29 17:39] josevalim commented on #4240
What is happening is that, when any Elixir project generates code, usually for optimization, we may generate clauses like this:

[code]

The issue is that dialyzer can look at such code and say: well, some of those clauses will never match. So the answer for who is to blame in those _@INT warnings is usually: "who generated the code?". For the code snippets above, anything in .html.eex is Phoenix.

[2016-01-29 19:16] paulcsmith commented on #4240
@josevalim Yes that helps a lot, thank you! I think I see what you mean now and that it's not an elixir issue. One question, how do you "mark a clause as generated"? I've tried searching, but can't find where that is, or what it means :S

I'll get a repo up and open an issue with the phoenix html stuff :)

[2016-01-29 21:20] josevalim opened #4242 "Add Process.sleep"
Based on `:timer.sleep`. We should also document common cases of how using it can be avoided.

[2016-01-30 05:34] eminarcissus opened #4243 "location: :keep bug seems like?"
lib/test.ex
[code]
lib/test2.ex
[code]

Testing it with console
[code]
in TestModule2.test we should expect it raised error from lib/test.ex: 14 but not lib/test2.ex

Some more interesting founds:
1: if I removed test2.ex location: :keep, directly call Test.test will return the correct line number test.ex : 8
but TestModule.test and TestModule2.test both have no line number at all(don't know if ha

[2016-01-30 05:45] eminarcissus commented on #4243
With location: :keep in test2.ex
[code]

Without
[code]

[2016-01-30 09:55] josevalim commented on #4243
which Elixir version?

[2016-01-30 10:10] eminarcissus commented on #4243
[code]
latest version I think

[2016-01-30 10:21] josevalim commented on #4243
Thank you! I will investigate this later.

[2016-01-30 10:23] eminarcissus commented on #4243
Appreciate , thx :)
2016年1月30日(土) 18:22 José Valim <notifications@github.com>:

[2016-01-30 13:07] josevalim commented on #4227
I am closing this because I just realized I use `when` after new lines almost everywhere. However, I wouldn't like to allow the following to work:

[code]

However, if we want to be consistent, we may need to do.

[2016-01-30 13:07] #4227 closed

[2016-01-30 13:07] josevalim commented on #4232
Closing in favor of the PR. :D

[2016-01-30 13:07] #4232 closed

[2016-01-30 13:08] josevalim commented on #4242
In master. :D

[2016-01-30 13:08] #4242 closed

[2016-01-30 16:27] tuvistavie commented on #4227
I think those kind of coding conventions are quite personal
and it is hard to say if one is superior to another.
To give a counter example to the above example, indentation such as

[code]

is used all the time in Haskell and I do not think it is less readable than something else.
[Some people](https://docs.npmjs.com/misc/coding-style#comma-first) use this syntax in Node too.
I think those kind of

[2016-01-31 21:09] stephenmoloney opened #4246 "String.replace_trailing/3 remove last char bug"
```String.replace_trailing/3``` fails to remove the last char from the String.t

Examples:

1.
  ```String.replace_trailing("t", "t", "") == ""```

2.
  ```String.replace_trailing("aaaaaaaaaa", "a", "") == ""```

Only the first one returns true.

```String.rstrip/2``` also fails to remove the last char from the String.t because it calls ```String.replace_trailing/3````

Example:

``` String.rstrip

[2016-01-31 22:04] geoffroymontel opened #4248 "iex : consider adding a shortcut to cancel current line ?"
Newbie here.

If you mistype something in iex interpreter, you have to type `#iex:break` to cancel the line interpretation.
It's not very convenient. Could you add an option to ctrl+c options ?

[code]

[2016-02-01 01:03] linearregression opened #4249 "warning options for deprecated elixir modules?"
it does not look like there is an options to turn on warnings of deprecated Elixir modules.
There is for the underlying erlang code but not for elxir code.

E.g. will help for migration of Dict/HashDict to Map etc.

http://elixir-lang.org/docs/stable/elixir/Dict.html

[2016-02-01 04:11] skirino opened #4250 "Question: missing debug_info in string metadata modules"
Using newly-released v1.2.2, dialyzer starts to complain:
[code]

The reason of the error is obvious: `String.Graphemes`, `String.Unicode` and `String.Normalizer` do not have `debug_info` ( https://github.com/elixir-lang/elixir/commit/e65b01b870b8b75882a ).
Removing `@compile {:debug_info, false}` from these modules and recompiling elixir resolve my issue (for the moment).

I'm wondering what the

[2016-02-01 08:20] #4246 closed

[2016-02-01 08:46] josevalim commented on #4249
Right now those are "soft" deprecated on purpose. We won't want them to emit warnings just yet. :)

[2016-02-01 08:46] #4249 closed

[2016-02-01 08:47] josevalim commented on #4248
Unfortunately we cannot add this feature easily as we rely on the erlang toolchain for now. So I will close this as won't fix until we have our own. Thank you!

[2016-02-01 08:47] #4248 closed

[2016-02-01 10:44] geoffroymontel commented on #4248
OK ! Thanks for your answer

[2016-02-01 15:05] bharendt opened #4251 "GenServer.cast/2 can crash calling process"
`&GenServer.cast/2` behaves differently whether event is casted to non-existent name or to non-existent pid. This makes it unsafe to call and make elixir differ significantly from erlang in that regard where it's always safe.

`&GenServer.cast/2` throws `ArgumentError` if no pid is associated with the given name. [This is also documented](http://elixir-lang.org/docs/v1.2/elixir/GenServer.html#cast

[2016-02-01 15:24] josevalim commented on #4251
The solution for this case is also mentioned in the docs:

    GenServer.cast({name, node()}, event)

I will let @fishcakez decide if this is worth changing, we could potentially special case atoms and handle this particular error, but I believe using `:gen_server.cast` is not an option due to behaviour with remote nodes.

[2016-02-01 15:24] josevalim commented on #4251
In any case, thank you for the detailed report @bharendt!

[2016-02-01 15:36] mk commented on #4251
I also just read about the workaround. For what it's worth, I'd be in favor of changing the behavior to be safe by default. We didn't really know about this difference until it's bitten us and I'm afraid we're not alone.

[2016-02-01 16:16] fishcakez commented on #4251
I definitely don't think we should change this because it is backwards incompatible.

However the reason we have this behaviour is for consistency with `send/2` and when using `:global` or `:via` we delegate to the custom module's `send/2`. It is actually `:gen_server.cast/2` that has the inconsistencies. Firstly it catches the `ArgumentError` for locally registered process and secondly it does no

[2016-02-01 16:19] fishcakez commented on #4251
But only when using pids or locally registered names. The guarantee exits when using `via` or `:global`.

[2016-02-01 17:56] bharendt commented on #4251
Thanks for the quick reply. I understand that changing that behaviour is a problem because it is not backwards compatible.
But I don't think there are many cases where it makes sense to get an argument error, if the process of the registered name is down. You also don't get that information if you cast to a pid directly, to a name on a different node or to a globally registered name. You also don'

[2016-02-01 19:18] josevalim commented on #4251
The point is that this is how `send` behaves anyway, so as much as we could argue it doesn't make sense, it is right there in the main primitive for sending messages and `cast` mirrors that. Which is a great "lesson" because if you expect `cast` to work, someone may expect `send` to work as well, and with Elixir they both won't.

That's without mentioning the fact via and global will still fail. W

[2016-02-01 20:55] sandeshsoni commented on #4161
As discussed,
changing the error messages.

At the same time, checking for a possibility
supervised.ex (around line no 115), function defp exit/4 has more details like message, value of right etc.
on inspecting get_reason(log_reason), we can see value of message as well as right.
Trying to figure out how is it that only value of message is picked up. what code is doing this. can we attach value of

[2016-02-01 22:47] fishcakez commented on #4251
Oh we catch exits for :global and :via cast but reverted that for locally registered names to match send/GenEvent.notify behaviour. I thought we reverted all the catching. This is indeed inconsistent.

[2016-02-01 22:59] josevalim commented on #4251
@fishcakez OK. Let's revisit this then, specially because we should not worry about GenEvent.notify.

[2016-02-02 03:17] benwilson512 opened #4252 "Path.join(["/", "", "foo"]) != Path.join(["/", "foo"])"
This seems buggy:

[code]

Ruby:
[code]

[2016-02-02 05:34] eminarcissus opened #4254 "Macro.create created module have incorrect context in macro injected method"
I've posted a question yesterday on StackOverflow to make sure if this is a bug or something I missed when testing the macro and dynamically created module, and find this might be potentially a bug here.
The code are as following

[code]

Calling B.test
result : "good"

Calling D.test
(UndefinedFunctionError) undefined function C.test2/0

Where dynamically generated module D and predefined B shoul

[2016-02-02 08:29] #4254 closed

[2016-02-02 08:29] josevalim commented on #4254
Thank you for the report, it has been fixed in master!

[2016-02-02 12:08] mk commented on #4251
I'm trying to find out how much the safe solution using `node()` is used in Elixir projects on GitHub. If anyone knows a better way to search for it, please let me know.

Here's what I tried:
* Search GitHub for language:Elixir and `GenServer.cast node` brings up [171 results](https://github.com/search?utf8=✓&q=GenServer.cast+node+language%3AElixir&type=Code&ref=searchresults). Looking through the

[2016-02-02 12:34] fishcakez commented on #4251
@mk can you clarify what you mean by "safe"? I personally view the current behaviour as "safe" because it raises when there is likely to be an error and your suggested default behaviour as "unsafe" because it can hide bugs or errors.

[2016-02-02 13:30] mk commented on #4251
@fishcakez what you're saying is only true if the receiving process never crashes. What we ran into with our poker sever was the following: we have a process for each table that casts to a supervised process responsible for saving log data to the database. We wrongfully assumed this would be fire and forget. One of the messages crashed this receiving process (the same would happen if the database

[2016-02-02 13:53] bharendt commented on #4251
It's mainly a problem for processes which were alive and a pid for the registered name existed, but then terminated. For all other ways to cast to a process, meaning a pid which is down, a locally registered name on a different node which is down, for a globally registered name etc. this does not cause `GenServer.cast` to fail, but if a locally registered name is down. This is especially a problem

[2016-02-02 14:49] fishcakez commented on #4251
@mk @bharendt the point I was trying to make is that crashing when the target process is down can be considered "safe" because a crash is occurring when an error has occurred. If we did not crash then an error is being hidden, which would then be "unsafe". This is an opposing opinion to yours and I think this blanket statement is not always true:

Of course it is sometimes true. If we take the pos

[2016-02-02 15:56] mk commented on #4251
@fishcakez like a said I could hardly find any cases on GitHub where the errors that can occur when calling `GenServer.cast` are currently handled. The way we use GenServer is the following:
 * we either want to make sure that the message is received and handled correctly, in that case we're using a `call`
 * if we want to offload the work to another process we never want the calling process to be

[2016-02-02 18:04] fishcakez commented on #4251
@mk likely because `GenServer.cast` does not need to rescued and crashing is perfectly acceptable. In most cases the supervision tree will handle the situation where the target dies due to a `rest_for_one` or `one_for_all` relationship. If the sender does not exist it is very likely a bug/error and so if in doubt we want to crash. If we do not crash we are potentially hiding the error. If there is

[2016-02-02 18:31] sandeshsoni commented on #4161
@fishcakez
Here is an update.
Your feedback on error message.

No, I haven't had to keep changing message everywhere or add value of right everywhere. The reason is different.

I feel i am close to what is expected.

[code]

[2016-02-02 19:20] bharendt commented on #4251
I think you mean *receiver* and that might be your interpretation, but it differs [from the erlang interpretation](http://erlang.org/doc/man/gen_server.html#cast-2):

On a running node there are now two modules with almost the same name `:gen_server` and `GenServer` and the same function `cast` which have two different understandings of whether it's acceptable that a generic server process you cas

[2016-02-02 20:21] fishcakez commented on #4251
Unfortunately this is exactly how you came across to me and I am sorry for we have had a miscommunication.

Please note that it is very hard to talk about expectations for other people. `:gen_server.cast` works differently to all other asynchronous messages functions in OTP, `send/2`, :gen_fsm.send_event`, `:gen_fsm.send_all_state_event` and `:gen_event.notify`. `GenServer.cast` currently behaves

[2016-02-02 21:17] mk commented on #4251
@fishcakez I was just writing up another message which seems to be obsolete by your reply now. We'll come up with PR for this tomorrow. Should this be against `master`?

I was discussing another possibility with @bharendt of introducing an additional `GenServer.cast!/2` method in Elixir 2.0 that always throws an `ArgumentError` when called with a nonexistent process, regardless of how it's called.

[2016-02-02 21:26] josevalim commented on #4251
This has been a great discussion, thanks everyone.

@mk yes, the PR should be against master.

About the need for `cast!/2`, let's wait. Everyone involved on this discussion knows there is an opportunity for introducing `cast!/2`. As soon as we need in an actual application, let's open up an issue with the proper use case and move forward.

[2016-02-03 06:56] sandeshsoni commented on #4161
After some modifications, here is one more update
[code]

[2016-02-03 08:41] elpdspec commented on #1358
@josevalim Whould you mind sharing how was this resolved ?

[2016-02-03 11:28] josevalim opened #4258 "Ensure get_in foo[bar][baz] and get_in(foo, [bar, baz]) behave the same"
They may behave differently in the presence of anonymous functions. This means we need to make it consistent with `foo[bar][baz]` itself.

[2016-02-03 11:45] #4251 closed

[2016-02-03 12:12] fishcakez commented on #4161
@josevalim @lexmag how much information should we move to the message and how much should we leave to in the struct to only be pretty/colour printed if in the test process? I think if we move all the information to the message it will be less clear for 95% of cases. Perhaps we only need to show the right (and if relevant left) when the assert uses `=`, `==`, `>=`, `match? `?

[2016-02-03 12:48] josevalim commented on #4161
@fishcakez I would say that, whatever we can show in the message, with similar formatting to the one in the formatter, will be a welcome addition.

[2016-02-03 12:49] josevalim commented on #4161
But without colors, of course.

[2016-02-03 13:07] fishcakez commented on #4161
@sandeshsoni this looks great except I think we want the current behaviour when the error occurs in the test process, and only display the extended the message when the error occurs elsewhere.

[2016-02-03 13:29] lexmag commented on #4161
Hard to say without looking at current approach, are we going to have `message/1` function in `ExUnit.AssertionError`?
I looked briefly how we can get it on formatter level, we can match on `{:EXIT, %ExUnit.AssertionError{}}` there and apply more extensive formatting I think.

[2016-02-03 13:32] sandeshsoni commented on #4161
@fishcakez
Did does that mean,
continue the old behavior i.e message when error occurs in normal behavior.

[code]
When error occurs in test process.
[code]
The changes i made should not have any effect on regular error message. i.e MatchError etc. The changes have effect only on ExUnit.AssertionError

[2016-02-03 13:36] sandeshsoni commented on #4161
@lexmag
Yes, my current approach is having message/1 in ExUnit.AssertionError

[2016-02-03 13:38] sandeshsoni commented on #4161
This is the approach.

[code]

[2016-02-03 18:17] bharendt commented on #4251
Thanks for taking this issue seriously, for all that information and for changing that behaviour.

[2016-02-04 03:52] hdcos opened #4262 "2500 / 3 |> Float.round(2) |> Float.to_string equals "8.33330000000000040927e+02""
The bug I had came from this line.
    2500 / 3 |> Float.round(2) |> Float.to_string
I was expecting the result to be "833.33"
but iex tells me:
    "8.33330000000000040927e+02"

Is this normal? Have I done something wrong?

2500 / 3 |> Float.to_string(decimals: 2) works as expected.

[2016-02-04 08:31] josevalim commented on #4262
Please use the mailing list for questions, specially if you are not sure if something is a bug. This particular topic has been discussed there a couple times. :)

[2016-02-04 08:31] #4262 closed

[2016-02-04 08:32] #4252 closed

[2016-02-04 17:02] CharlesOkwuagwu opened #4263 "Mix compile error (Windows, Elixir 1.2.2, Erlang 18.2.1)"
I get the following error when I run mix compile:

[See Related Gist:](https://gist.github.com/CharlesOkwuagwu/288ffb9454c40dd6d18b)

[code]

[2016-02-04 17:07] ericmj commented on #4263
I've managed to reduce the error to this so far:

[code]

[2016-02-04 17:14] ericmj commented on #4263
Fairly certain this is an OTP bug related to binary matching. Maybe in the optimizer?

[2016-02-04 17:18] CharlesOkwuagwu commented on #4263
I will try to revert to an older version of the decoder.ex that worked earlier today

[2016-02-04 17:19] ericmj commented on #4263
The following erlang:

[code]

Fails with:
[code]

[2016-02-04 17:20] ericmj commented on #4263
Definitely an erlang bug but lets leave open because we should give a better error message in elixir.

[2016-02-04 17:23] CharlesOkwuagwu commented on #4263
You are right

I commented out that portion of the code and it compiles now [see this:]
(https://gist.github.com/CharlesOkwuagwu/288ffb9454c40dd6d18b#file-decoder-ex-L9)

[2016-02-04 17:24] CharlesOkwuagwu commented on #4263
But the decode operation will fail without that check :(

[2016-02-04 21:23] richarddewit commented on #4031
Using `trusty` for Linux Mint 17.3 worked for me.
@folz - good idea to run `lsb_release -uc` :+1:

[2016-02-05 02:08] resilva87 opened #4266 "UTF-8 string in iex hangs console (Windows 10 x64 - Erlang 18 - Elixir 1.2.1)"
I'm trying to run the example from the page http://elixir-lang.org/getting-started/binaries-strings-and-char-lists.html. After typing `iex> string = "hełło"` (previously setting my console to handle UTF-8 strings) it hangs.

    C:\Users\Renato\Workspace
    λ chcp 65001
    Página de código ativa: 65001

    C:\Users\Renato\Workspace
    λ iex
    Eshell V7.2.1  (abort with ^G)
    Interactive El

[2016-02-05 02:12] jbodah opened #4267 "Function list as IEx Macro"
Just learning Elixir and really enjoying it. I realize that you can see a module's functions by doing something like: `String.__info__ :functions`, but it would be suuuper if there was a shortcut for this, maybe something like `f String`. Then my workflow can just be `f String` followed by `h String.codepoints/1`. No need to jump over to the docs or anything :smile_cat:

[2016-02-05 03:42] ericmj commented on #4267
Write `String.` and then press [TAB] for auto-complete to list the functions.

[2016-02-05 08:47] josevalim commented on #4266
Thank you @resilva87! If you can investigate it further and gives us feedback, we would really appreciate it. The `chcp 65001` was enough in my Windows machine so I wonder why it doesn't work for you.

[2016-02-05 08:50] #4267 closed

[2016-02-05 12:48] jbodah commented on #4267
Awesome thanks!

[2016-02-05 14:36] eproxus opened #4268 ""warning: redefining module" unproductive for code generation"
Whenever a module is redefined using a macro, Elixir emits this warning to stderr:

[code]

We are using the following pattern to generate modules in runtime for storing our configuration:

[code]

Changing our configuration and updating this module, will trigger this warning. We also use this pattern to generate efficient, custom logging callbacks. There are a couple of scenarios when redefining

[2016-02-05 14:42] eproxus commented on #4268
Should have dug further, the following solves our problem:

[code]

[2016-02-05 14:42] #4268 closed

[2016-02-05 15:14] josevalim commented on #4268
I would recommend to set it when your application starts.

[2016-02-05 15:37] eproxus commented on #4268
Well, someone could unset it later since the options are global (ugh!). If there was a way to pass options to each compile call, that would be nicer. :smile:

[2016-02-05 17:47] linearregression opened #4269 "make ignores user defined prefix. Does make script support install at custom directory?"
make PREFIX=/opt/elixir122  && make install
still install at /usr/local
please add make uninstall
install.log:
==> elixir (compile)
==> Install prefix /usr/local  <-----
==> elixir (install)
make install_man
make[1]: Entering directory '/opt/elixir-1.2.2'
make clean_man
make[2]: Entering directory '/opt/elixir-1.2.2'
rm -f man/elixir.1
rm -f man/iex.1
make[2]: Leaving directory '/opt/elixir-1.2.2'

[2016-02-05 18:35] josevalim commented on #4269
Can you please provide those tasks? We would really appreciate a contribution but they are not high priority for us, thank you!

[2016-02-05 18:35] #4269 closed

[2016-02-06 08:11] tuvistavie commented on #4258
I would be glad to give this one a try, could you give a little more details please?
I understand `get_in` can be passed a function while the access syntax expects
the key to be an atom, is this what you are referring to here?

[2016-02-06 08:21] josevalim commented on #4258
@tuvistavie Since `foo[bar]` compiles to `Access.get(foo, bar)`, I believe it is a matter of removing these clauses:

https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel.ex#L1695-L1698

And moving them inside `Access.fetch`. Then do the same for `get_and_update_in`: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel.ex#L1695-L1698

And then, of course, impr

[2016-02-06 08:29] tuvistavie commented on #4258
@josevalim Thank you for the precisions.

So if I understand you correctly, this mean that we would be able to write
something like

[code]

right?

[2016-02-06 08:30] josevalim commented on #4258
Precisely!

[2016-02-06 08:31] tuvistavie commented on #4258
Thank you, I will give it a shot!

[2016-02-06 16:23] #4263 closed

[2016-02-06 21:02] linearregression commented on #4269
quite a few of companies especially enterprise wants to be able install under custom directory to keep it clean. and are hard requirements for use in production.
It looks like a change to the makefile.
e.g I can install Erlang under custom directory.

[2016-02-06 21:12] josevalim commented on #4269
@linearregression indeed, I think it is a change to the makefile. As I mentioned, a pull request will be really welcome! Thank you!

[2016-02-06 22:44] #4085 closed

[2016-02-07 07:49] ericmj commented on #4263
@josevalim Should this be reported to OTP also?

[2016-02-07 07:52] josevalim commented on #4263
It has been!

[2016-02-07 11:43] tuvistavie commented on #4258
Hi @josevalim,

I started to work on this, but either I am missing something,
either it is not as obvious as moving a function around.

For a case such as

[code]

it is obvious than moving the call to `Access.fetch` is enough,
but for something such as

[code]

when using `get_in` we know if we will need to recurse or not,
and can therefore create the `next` function accordingly.
However, when tr

[2016-02-07 12:10] josevalim commented on #4258
@tuvistavie you are right, thanks for checking this. I will review it later on. :)

[2016-02-07 13:11] tuvistavie commented on #4258
@josevalim Thank you for your confirmation. Please let me know if there is something I can help with!

[2016-02-07 20:06] meadsteve opened #4270 "In elixir 1.2 protocol implementations aren't used when defined in exunit .exs"
I'm not sure if this is a duplicate (or related) to #4151 but any protocol implementation defined in an .exs file for a test seems to be ignored.

Demonstrated by this build:
https://travis-ci.org/meadsteve/CompError/builds/107636091
of this test repo:
https://github.com/meadsteve/CompError

[2016-02-07 20:16] fishcakez commented on #4270
Compiling will consolidate the protocol - unless disabled - and any implementations set in your `test/**/*.exs` won't be used because they are loaded after the main compilation.

[2016-02-07 20:16] #4270 closed

[2016-02-07 21:15] josevalim commented on #4270
You can disable this behaviour by doing something like:

    consolidate_protocols: Mix.env != :test

in your mix.exs file!

[2016-02-07 21:19] meadsteve commented on #4270
thanks @josevalim & @fishcakez I think I'd missed this change in 1.2.

[2016-02-08 03:42] ijt opened #4271 "HashSet from[[1], []] does not equal HashSet from [[], [1]]"
Erlang sets handle this case as expected:

    iex(1)> :sets.from_list([[], [1]]) == :sets.from_list([[1], []])
    true

Elixir HashSets handle it if the arguments are in the same order:

    iex(3)> Enum.into([[], [1]], HashSet.new) == Enum.into([[], [1]], HashSet.new)
    true

but not if they are not:

    iex(4)> Enum.into([[], [1]], HashSet.new) == Enum.into([[1], []], HashSet.new)
    false

[2016-02-08 03:51] ijt opened #4272 "HashSet has no from_list constructor"
It's surprising that the HashSet module has to_list but not from_list:

    iex(1)> HashSet.to_list(Enum.into([1], HashSet.new))
    [1]
    iex(2)> HashSet.from_list [1]
    ** (UndefinedFunctionError) undefined function HashSet.from_list/1
        (elixir) HashSet.from_list([1])
    iex(5)> HashSet.new [1]
    ** (UndefinedFunctionError) undefined function HashSet.new/1
        (elixir) HashSet.

[2016-02-08 04:11] michalmuskala commented on #4272
As far as I know `Enum.into/2` is the preferred way of constructing `HashSet`. Given it's deprecated as of Elixir 1.2 I doubt it there will be any new additions.

The newer `MapSet` features `MapSet.new/1` and `MapSet.new/2` that create the set from any enumerable.

[2016-02-08 04:14] michalmuskala commented on #4271
HashSet does not guarantee structural equality. You need to use `HashSet.equal?/2` function.

It's newer replacement `MapSet` is based on maps and thus guarantees structural equality.

[2016-02-08 08:46] #4271 closed

[2016-02-08 08:46] #4272 closed

[2016-02-08 09:08] tuvistavie opened #4274 "IEx evaluator_test randomly failing?"
I just noticed that the build failed in the PR I just sent.

https://travis-ci.org/elixir-lang/elixir/builds/107709147

I have not checked it out yet, but I suspect the error happens randomly,
as the [merge commit](https://travis-ci.org/elixir-lang/elixir/builds/107724048) passed normally.

Any ideas?

[2016-02-08 09:23] ericmj commented on #4274
Likely because this code has a race condition where application env vars can be unset https://github.com/elixir-lang/elixir/blob/master/lib/iex/test/test_helper.exs#L38-L42

[2016-02-08 10:46] #4274 closed

[2016-02-08 10:51] tuvistavie commented on #4274
@ericmj Thanks for the quick fix!

[2016-02-08 12:20] josevalim commented on #4258
The only way for us to fix this is to make `foo[bar][baz]` compile to `get_in foo, [bar, baz]`. I am not sure though if this is what we want so I am closing this. /cc @lexmag

@tuvistavie thanks for investigating and sorry for the "false alarm"!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-02-08 12:20] #4258 closed

[2016-02-08 12:20] #3676 closed

[2016-02-08 12:20] josevalim commented on #4250
Fixed in master and v1.2 (which will have a new release soon-ish).

[2016-02-08 12:20] #4250 closed

[2016-02-08 12:21] josevalim commented on #4266
I just tried again on Windows and I cannot reproduce. If you can provide a more precise way to reproduce the issue, please let me know. I'm also paging @OnorioCatenacci to check if he can reproduce or has a clue about what is happening.

[2016-02-08 12:21] #4266 closed

[2016-02-08 13:11] OnorioCatenacci commented on #4266
I can take a look Jose but I doubt I can reproduce it if you can't.

On Mon, Feb 8, 2016, 7:25 AM José Valim <notifications@github.com> wrote:

[2016-02-08 14:03] eproxus opened #4276 "ExUnit @moduletag broken (or mis-documented)"
According to the documentation for ExUnit tags, the following is possible:

[code]

When using the `@moduletag :integration` form, running the tests yields the following error:

[code]

When using the `@moduletag integration: true` form, running the tests yields the following error:

[code]

(These can both be reproduced in a new project created with `mix new temp` and where the `test/temp_test.ex

[2016-02-08 14:11] lexmag commented on #4276
It should be fixed in master.

[2016-02-08 14:18] josevalim commented on #4276
@lexmag we need to make sure it is fixed on v1.2 too so we ship v1.2.3. Do you know when this regression happened?

[2016-02-08 14:19] lexmag commented on #4276
@josevalim I'm looking into.

[2016-02-08 14:21] lexmag commented on #4276
Ah, everything is much simpler – we can't have `@moduletag` set before `use ExUnit.Case`.

[2016-02-08 14:22] lexmag commented on #4276
@josevalim looks like we need to check reserved attributes in `ExUnit.Case.__using__` that they are not set.

[2016-02-08 14:26] eproxus commented on #4276
Can confirm that it works as expected with the `@moduletags` after `use ExUnit.Case`.

[2016-02-08 14:58] #4276 closed

[2016-02-08 15:53] eproxus commented on #4276
@josevalim Will the fix be included in 1.2.3?

[2016-02-08 17:15] josevalim commented on #4276
@eproxus doesn't it just work on 1.2.3 as well? The error is because you were defining them before `use ExUnit.Case`. This doesn't seem to be a regression, so likely we won't add any checking to 1.2.3.

[2016-02-08 18:50] ybur-yug commented on #4161
@sandeshsoni hows your progress on this? I'd be happy to chip in if you'd like any help.

[2016-02-09 10:45] eproxus commented on #4276
@josevalim Ah, ok. Assumed that was the "bug".

Just curious, why is it like this? Shouldn't the use just pick up the existing module tags?

[2016-02-09 11:39] josevalim commented on #4276
It is because @moduletag and @tag can be used multiple times, so we change its internal structure. We should either raise if something is set or initialize it to empty. But no need to backport because it isn't a new regression, it has been there since the beginning.

[2016-02-09 12:40] eproxus commented on #4276
Ah, I see. Makes sense. Thanks for the explanation.

[2016-02-09 13:17] OnorioCatenacci commented on #4266
Hi Jose and @resilva87,

I just tried this on Windows 10 (10.0.10586) and I do get a hang.  This is exactly what I did:

1.) Win+R then type "cmd" (without the double quotes, of course)

2.) chcp 65001

3.) iex.bat

4.) string = "hełło" (I have to paste the string in since I'm not sure of how to get those two non-Latin chars from the keyboard).

5.) No response from iex.bat but I can Ctrl+C to sto

[2016-02-09 13:29] OnorioCatenacci commented on #4266
For whatever it's worth, UTF-8 support on Windows Console seems to be spotty at best.  I can dig into this to see if I can figure out what's going on but there are lots of reports of issues using UTF-8 on Windows Console and they're reported from several different programming languages.

By the way, I also tested this with a powershell prompt (since powershell is newer I thought the UTF-8 support

[2016-02-09 15:07] josevalim commented on #4266
Changing the font fixes it? http://stackoverflow.com/questions/388490/unicode-characters-in-windows-command-line-how/388500#388500

[2016-02-09 15:15] OnorioCatenacci commented on #4266
Sorry José -- I should have mentioned that I tried changing the font too
(actually I found that S O answer too) and it didn't help.

On Tue, Feb 9, 2016 at 10:08 AM, José Valim <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2016-02-09 15:18] OnorioCatenacci commented on #4266
Oh and while I'm jotting down the circumstances of my test, I also tried
this from a Powershell prompt (as opposed to a cmd prompt) and I got the
same hang result.

On Tue, Feb 9, 2016 at 10:14 AM, Onorio Catenacci <Catenacci@ieee.org>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2016-02-09 15:24] josevalim commented on #4266
I have read somewhere that setting the codepage is exactly what blocks the input. Unicode characters can work as long as they belong to your default code page.

[2016-02-09 15:35] OnorioCatenacci commented on #4266
I think it's actually a problem with Erlang.  I just fired up the Erlang terminal (erl) and did this:

x = 'hełło'

and also

x = "hełło"

(I'm not sure which form is right and I'm not as long on Erlang skills as you are José :) )
and it hung there too.  I'd say the best course of action is to ask the Erlang/Windows folks if they know anything about this.

[2016-02-09 15:36] OnorioCatenacci commented on #4266
I'll post a question to the Erlang folks and see if anyone over there has an idea of what's going on.  Or you can if you'd rather José.  Just let me know how you'd like to proceed.

[2016-02-09 15:43] josevalim commented on #4266
I don't think this is Erlang related because I have seen folks reporting the same issues with Python (and Ruby). :) One option is to check if iex --werl solves it.

[2016-02-09 15:54] OnorioCatenacci commented on #4266
Sorry. I guess it would have been more correct for me to say that I think
the issue is at a lower level than Elixir. :)  I mean I know you're right
about others seeing this same behavior in Python and Ruby and a few other
places too.  Interestingly, directly echo'ing the string at the command
prompt works just fine.

The problem doesn't occur in iex.bat --werl but the two unicode characters
(i. e.

[2016-02-09 16:23] OnorioCatenacci commented on #4266
For whatever it's worth, this works:

 l = <<0xc582::utf16>>
"ł"

I don't think that's a real fix but I mention it in case someone can use it as a workaround if they run into this issue.

[2016-02-09 17:56] sandeshsoni commented on #4161
@ybur-yug Its in progress. I am giving a try to thought of lexmag.
If i need help in adding tests, i will ask for help.
Thanks.

[2016-02-09 20:25] resilva87 commented on #4266
Hi, I've done a couple of tests and seems that if I enable code page 65001 through `chcp 65001`, then the problem happens.
If I just open the console, type `iex` and `string = "hełło"`, then everything works.
Kind of weird though.
It seems that if you change the code page, things start **not working**

[2016-02-09 20:28] OnorioCatenacci commented on #4266
Look closely at the string you get Renato.  The "L" characters do not have
the slash--at least they don't on my machine.

--
Onorio

On Tue, Feb 9, 2016 at 3:25 PM, Renato Silva <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2016-02-09 20:30] resilva87 commented on #4266
@OnorioCatenacci you're correct, I didn't notice.

[2016-02-09 20:36] OnorioCatenacci commented on #4266
Not trying to split hairs or anything Renato :)  just trying to be sure I
wasn't seeing things wrong.

On Tue, Feb 9, 2016 at 3:30 PM, Renato Silva <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2016-02-09 21:06] ybur-yug commented on #4161
Sounds good! Thanks @sandeshsoni

[2016-02-09 21:07] resilva87 commented on #4266
Sure @OnorioCatenacci. Well, as I've installed both Elixir and Erlang through chocolatey (https://github.com/chocolatey/choco) and my Elixir version is not latest, I think I'll wait for a new release update and check things out. I don't have any other ideas except installing Linux in my machine :bowtie:
I think this can be closed unless you guys want to try something else.

Thank you very much for

[2016-02-09 21:16] OnorioCatenacci commented on #4266
I really do need to pay better attention to this. I'm the one who takes
care of Chocolatey and I didn't notice that Jose released 1.2.2.  I'll
remedy that one directly.

You may want to retest with 1.2.2 (I didn't test with 1.2.2 myself) but I
suspect the issue is at a lower level than Elixir since we've found reports
of unicode issues with Python and Ruby on Windows as well.

On Tue, Feb 9, 2016

[2016-02-09 21:17] josevalim commented on #4266
This is definitely not fixed on 1.2.2. :)

[2016-02-09 21:21] OnorioCatenacci commented on #4266
Sorry for my tardiness in getting 1.2.2 on Chocolatey Jose!  I really do need to pay better attention when you release new packages. :)

[2016-02-09 21:26] resilva87 commented on #4266
Not trying to clutter the thread's topic but this sure seems to be related to Windows as pointed by @OnorioCatenacci: https://bugs.python.org/issue1602
I'll reinstall Elixir with Web Installer to the new 1.2.2 version and check things out :)

[2016-02-09 21:30] OnorioCatenacci commented on #4266
Either way Renato.  The 1.2.2 Chocolatey NuGet package should be available
in a couple of hours (it's 16:28 EST where I'm at right now).

On Tue, Feb 9, 2016 at 4:26 PM, Renato Silva <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2016-02-10 11:19] josevalim opened #4289 "Support Task.async/2/4 and Task.start_link/2/4"
They will receive the node name as argument. Built on top of `:rpc.call/4`. @fishcakez, thoughts?

[2016-02-10 12:32] fishcakez commented on #4289
What is the advantage of using `:rpc.call/2` compared to registering a
`Task.Supervisor` in the `elixir` supervision tree?

On 10 February 2016 at 11:19, José Valim <notifications@github.com> wrote:

[2016-02-10 13:17] josevalim commented on #4289
Good point. I can think of any besides we would be re-using the already registered process from Kernel.

[2016-02-10 17:00] #4289 closed

[2016-02-10 23:13] lpil commented on #3589
:+1:

[2016-02-11 19:33] zsherman commented on #3956
@josevalim thanks, also worked for me.

[2016-02-12 12:09] eminarcissus opened #4293 "Compile time warning which didn't saw before"
[code]

The following line now warning me with
lib/test.ex:9: warning: the variable "a" is unsafe as it has been set in a conditional clause, as part of a case/cond/receive/if/&&/||. Please rewrite the clauses so the value is explicitly returned. For example:

    case int do
      1 -> atom = :one
      2 -> atom = :two
    end

Can be rewritten as:

    atom =
      case int do
        1 -> :one

[2016-02-12 12:16] josevalim commented on #4293
It is a new warning. You can check the rationale in the elixir-lang-core mailing list: https://groups.google.com/forum/#!topic/elixir-lang-core/3o-omqgCV3E

[2016-02-12 12:16] #4293 closed

[2016-02-12 14:47] liveforeverx opened #4294 "mix compile hangs infinitely in a case of undefined behaviour + struct"
This is a minimal reproducible example, which I found.
Application, without dependencies, which tries to access undefined @behaviour and undefined struct in a code hangs infinitely.

[code]

Tried in 1.2.2 and in master.

[2016-02-12 22:44] eksperimental commented on #3911
thank you @lexmag for looking after this, as I never had the time to do it.
once more trick learned

[2016-02-13 00:46] lexmag commented on #4294
I think this issue is here for very long time.
The reason is following: a compiler process for that file is waiting for two modules (`:sbroker` and `MaybeUndefinedStruct`) to be available, and when `length(waiting) == length(queued)` is reached we "release" module usually with error, but in that particular case, we emit warning for `:sbroker` and then we hang in waiting when `MaybeUndefinedStruct`

[2016-02-13 11:35] josevalim commented on #4294
@lexmag i am working on a patch that solves those bits in the compiler so please wait. :)

[2016-02-13 13:15] #4055 closed

[2016-02-13 13:15] #4294 closed

[2016-02-14 13:37] whatyouhide commented on #4209
@ericmj your last example inserts a newline though, which IMO it's the correct behaviour as the `\` is being escaped and thus the newline is picked up.

I'm not sure that inserting just a single non-escaped `\` in a `~S""` sigil should not insert a newline, as I thought `\` was a special line-continuation character in all Elixir, even outside of strings:

[code]

I don't think `~S` should have the

[2016-02-14 15:50] sikanhe opened #4300 "String.strip does not strip non-breaking space"
To reproduce:

`String.strip "dfdf" <> <<160::utf8>>`

[2016-02-14 16:56] whatyouhide commented on #4300
Upon some investigation, this happens with the following UTF8 codepoints:

* NO-BREAK SPACE, `0x00A0`
* NARROW NO-BREAK SPACE, `0x202F`
* ZERO WIDTH NO-BREAK SPACE, `0xFEFF`

[code]

The first two have a [bidi](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/unicode/unicode.ex#L18-L22) of `"CS"`, which is not considered whitespace ([here](https://github.com/elixir-lang/elixir/blob/mas

[2016-02-14 18:09] josevalim commented on #4300
Yup, we only use the ones specified by Unicode in Bidi. If the consortium provides a separate file with whitespace characters, I will be glad to use them, but it seems are correct according to Unicode.

[2016-02-14 18:14] sikanhe commented on #4300
well this is annoying because sometimes user inputs will contain trailing whitespace that is not the normal space.

[2016-02-14 19:42] josevalim commented on #4300
@sikanhe so use your own stripping function that strips whatever you want. The specification of String.strip is very clear on its purpose. I also don't understand the fixation in stripping those particular characters, there are hundreds of other unicode characters in user inputs that are not going to show as expected.

[2016-02-15 00:52] eksperimental commented on #4300
so how about letting String.strip/2 take a list of codepoints?

[2016-02-15 00:56] lexmag commented on #4015
@zambal ping. :)
I got working guards in `for`, and they are available in `with` but lacking documentation.

[2016-02-15 02:16] ericmj commented on #4209
@whatyouhide Maybe not, that's up for discussion. But as it works today there is no way to insert a single `\` with `~S`.

[2016-02-17 08:17] sandeshsoni commented on #4161
work in progress update.

After making changes as suggested by lexmag.
So far achieved this. Adding necessary tests.

[code]
[code]

[2016-02-17 11:18] cbarratt opened #4305 "Error running mix test without any migrations"
I have a Phoenix app which has schema's setup and is utilising a pre-existing database with data.

I came across quite an unhelpful error message while attempting to create tests for the Phoenix application.

When running `mix test`

[code]

At first I had no idea what was going on and assumed I'd some something wrong in my Elixir code.

I eventually had a look at `test_helper.exs` and noticed thi

[2016-02-17 11:50] #4305 closed

[2016-02-17 11:52] cbarratt commented on #4305
This doesn't belong here! My mistake. Moved to [Phoenix issues](https://github.com/phoenixframework/phoenix/issues/1556)

[2016-02-18 11:26] nesQuick opened #4308 "idea: persist iex history between sessions"
So that when I reopen `iex` I can have the history from previous sessions when tapping arrow-up.

[2016-02-18 11:39] josevalim commented on #4308
Please check the issues tracker and mailing list. This has been discussed multiple times.

[2016-02-18 11:39] #4308 closed

[2016-02-18 19:54] obmarg opened #4309 "`mix deps.get` doesn't update dependency if you update the requested git tag."
When I want to update a hex.pm package, my approach is usually to change the version I'm requesting in `mix.exs` and then run `mix deps.get`.  This usually pulls in the new version, and changes the mix.lock file for me.

However when I'm pulling dependencies from github, using something like this:

[code]

If I update the tag I'm requesting and run `mix deps.get`, it will not pull in the new tag t

[2016-02-18 19:58] obmarg commented on #4309
Forgot to say - this is on elixir 1.2.2 and 1.2.0

[2016-02-18 19:58] josevalim commented on #4309
I was able to reproduce this. Thank you for the report.

[2016-02-20 08:41] josevalim opened #4316 "Padding in Base.url_encode64 is not URL safe"
Today we generate padding `=` in Base.url_encode64 which is not safe to use in URLs and would have to be URL encoded.

The spec also allows padding to be skipped on the url_encode64 cases, as mentioned here: https://tools.ietf.org/html/rfc4648#section-5

So we should url_decode64 strings without padding as well as allow them to be generated without padding.

[2016-02-20 12:49] wojtekmach opened #4317 "Incorrect warning when importing module multiple times"
Per conversation on IRC, I'm opening up this issue.

Here's how to reproduce it:

[code]

I think in this particular case, there should be no warning.

As a potential improvement, compiler could suggest to keep all imports of a module in the same line (`import String, only: [upcase: 1, downcase: 1]` in this case)

[2016-02-20 13:22] ericmj commented on #4317
Actually when I check again, both imports are unused so the warning is correct. I'm guessing the first line doesn't warn because `import :only` overwrites the previous `import`.

[2016-02-20 13:24] wojtekmach commented on #4317
@ericmj yeah, my bad, I forgot to actually take `String.` out from the code

[2016-02-20 13:24] #4317 closed

[2016-02-20 14:08] riverrun commented on #4316
With [pbkdf2 base64 encoding / decoding in Comeonin](https://github.com/elixircnx/comeonin/blob/master/lib/comeonin/pbkdf2/base64.ex), which uses a different alphabet, but is based on the base.ex `do_encode64` and `do_decode64` functions, we already strip the padding.

[2016-02-20 16:57] pma commented on #4316
Should the default behaviour remain strict and an extra option necessary for the lenient behaviour?
Do we need to work with padding chars different than the default (`=`)?

A possible set of configuration options:

Add to the `encode` functions:

* `padding`: `true` (appends the default padding char =) - default behaviour
* `padding`: `false` (omits padding)
* `padding`: `char` (appends char as pa

[2016-02-20 19:16] josevalim commented on #4316
What is the use case here? Why do we need to support custom padding?

My plan is to support only padding: false on encoding and just support with
and without padding on decode. That's based on the spec. What is the
rationale for all the other combinations proposed?

On Saturday, February 20, 2016, Paulo Almeida <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.

[2016-02-21 08:48] pma commented on #4316
@josevalim The custom padding char came up because the RFC mentions using `~` or `.` as an alternative for padding. But adding `padding`: `boolean` (defaults to `true`) to the encode function seems to cover all use cases. If a different alphabet is needed, it can be implemented in a custom module.

Regarding the decode function, I think the default behaviour should remain strict. What do you think

[2016-02-21 09:01] josevalim commented on #4316
I would go with padding: false on both encoding and decoding. In the former, it means the padding won't be included. In the latter, it means it will accept even if the padding is missing. Do you intend to send a PR? :) I would like to make this part of the 1.2.3 release.

[2016-02-21 09:25] whatyouhide commented on #4309
@josevalim are you working on this? If not, I'd be happy to give it a try.

[2016-02-21 10:04] josevalim commented on #4309
@whatyouhide no, please go ahead. :)

[2016-02-21 11:10] pma commented on #4316
@josevalim Yes, I'd like to take this one.

[2016-02-21 11:24] josevalim commented on #4316
Awesome! Please go ahead. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-02-21 15:35] vraravam opened #4318 "Mix alias chain does not stop in case of non-zero exit code"
In my mix.exs, i have the following:
[code]
If one of my specs fail, I would expect that the mix invocation bubbles up the exit code and stops the current process. But, this does not happen. Mix only reports the exit code of the last step.

[2016-02-21 15:44] ericmj commented on #4318
What exit code are you referring to? The aliased tasks runs in the same process.

[2016-02-21 15:46] vraravam commented on #4318
@ericmj In the above example, i'm trying to run `mix espec --cover` as the second in the "chain". As I mentioned, if I have a failing spec, I would expect the whole `mix commit` task to halt with a non-zero exit code. But that doesnt seem to happen.

[2016-02-21 15:52] ericmj commented on #4318
Is the problem that the chain doesn't halt on failures or that the exit code is zero when it should be non-zero? Or is it both?

[2016-02-21 15:53] vraravam commented on #4318
I think its both - since:
1) The chain does not halt on the task that should expose the failure; and
2) When I invoke the same through my CI pipeline, I get a green build.

[2016-02-21 15:57] anduong commented on #2486
@josevalim: Can you explain in details why Elixir is confused when compiling functions with default arguments and multiple clauses? And can you give an example to illustrate? :) I'm not sure that I understand the reason behind it right.

Thanks.

[2016-02-21 16:00] ericmj commented on #4318
1) The chain does not halt by design because both the `test` and `espec` tasks does not raise or call `System.halt` on failures. credo does seem to halt on failures which is bad because you should be able to run multiple tasks, a single task should not exit the VM.

We could add a return value to the `test` task to indicate if tests failed or not, the same would have to be done for the two other t

[2016-02-21 16:03] josevalim commented on #4318
@ericmj we could add a --raise switch to `mix test` that would raise if it fails. Thoughts?

[2016-02-21 16:05] ericmj commented on #4318
@josevalim A --raise switch and a boolean return value would be great I think.

[2016-02-21 16:05] vraravam commented on #4318
The project we are using to learn is OSS - here's the GH url: https://github.com/twchennai/Recruitx-Backend

If I uncomment one of the specs marked with `xit`, it will fail. In this state, if I run `MIX_ENV=test mix espec` - the exit code is non-zero. This is reproducible if I call the `espec` task directly. If I use the alias, its not erroring out - which is what I am trying to get fixed :)

[2016-02-21 16:09] #2497 closed

[2016-02-21 16:10] vraravam commented on #4318
ok - just introduced a `expect(true) |> to(eq(false))`. And am seeing the exit code as 1 - though the 3rd task in the alias is also run. But, i think, i can live with the current behavior (as long as it raises non-zero code), I can still hook it upto my CI and get notified on breaking builds.

thanks a lot guys!

[2016-02-21 16:11] ericmj commented on #4318
@vraravam We can add a `--raise` flag to the `test` task which will halt the chain. But you need to open issues on two other projects you call tasks from.

[2016-02-21 16:13] ericmj commented on #2486
The issue tracker is reserved for issues. Please ask questions on the mailing list, IRC, Slack or Stack Overflow. If you search you should be able to find where this is explained.

[2016-02-21 16:13] vraravam commented on #4318
Sure - will do that. Tx for the VERY quick response! btw - I'm loving elixir and phoenix - keep up the great work!!!

[2016-02-21 16:13] ericmj commented on #4318
Let's leave this open because we need to implement the switch :)

[2016-02-21 16:29] #4318 closed

[2016-02-21 16:36] anduong commented on #2486
@ericmj Thanks!

[2016-02-21 16:48] #4316 closed

[2016-02-23 09:45] josevalim commented on #4309
Btw, I am thinking you should have run `mix deps.update`. That's because the old reference "7984fe3b01dd762145eac6c4f6f11f72a29254e4" is valid in both tags, so Mix won't force for an update in there.

[2016-02-23 13:27] garyposter opened #4323 "Sign Elixir release SHAs with known keys?"
Hi! Would you maintainers be open to signing the release SHAs with known GPG keys, a la node?  See their release process for examples, specifically ["Who can make a release? : 3. A Publicly Listed GPG Key"](https://github.com/nodejs/node/blob/master/doc/releases.md#3-a-publicly-listed-gpg-key) and ["How  to create a release : 12. Promote and Sign the Release Builds"](https://github.com/nodejs/node

[2016-02-23 13:37] ericmj commented on #4309
But if "v0.4.1" doesn't point to "7984fe3b01dd762145eac6c4f6f11f72a29254e4" this seems wrong. mix.exs specifies a tag that isn't locked and mix neither updates or complains about this.

[2016-02-23 13:58] josevalim commented on #4323
Can you please post such discussions in the elixir-lang-core mailing list as asked in the opening issue template? Many others will be able to contribute to the discussion there. Thank you.

[2016-02-23 13:58] #4323 closed

[2016-02-23 14:01] josevalim commented on #4309
Yes, exactly That's why I believe the bug is in the checkout code and not in lock outdated.

[2016-02-23 17:29] nathany commented on #3223
I tried running my tests with that command but I still get warnings

[code]

[code]

For now I'm running the following on CI
[code]

[2016-02-23 17:36] nathany commented on #3223
Sorry, my fault. A warning-as-errors vs. warnings-as-errors typo.

[2016-02-23 18:44] yltsrc opened #4324 "iex pipeline"
It would be nice to have feature line we have in irb, when you can use last returned value
I just wondering if we can have behaviour like described below, because it may be very useful
and it is valid elixir code as well, so it can be run when it is written in file, but not in iex

### Environment

* Elixir version (elixir -v): 1.2.1
* Operating system: mac os 10.11.2

### Current behavior

[code]

[2016-02-23 18:44] yltsrc commented on #4324
feel free to close the ticket if you think it is not a right time to implement it :wink:

[2016-02-23 18:58] wojtekmach commented on #4324
You can already use the 'v' IEx helper to grab the value from the last expression. In general you probably want to ask questions/propose new features on the mailing list :)

[2016-02-23 21:12] josevalim commented on #4324
Interesting enough. We could make this work. I can foresee two complications if we do such:

1. We would need to support such on iex
2. We would need to support such for iex inside doctests

It may be worth doing it because it is a common source of confusion and I don't think such addition would harm people's understanding of Elixir syntax and rules.

[2016-02-23 21:12] josevalim commented on #4324
/cc @alco @lexmag @ericmj thoughts?

[2016-02-23 22:29] lexmag commented on #4324
I'm more toward :-1:, It feels inconsistent to other operators. I rather see proposed behaviour confusing, I think for most (every?) REPLs it's natural to treat one-line expression as is and not to wait for extra content, for example the following Ruby code doesn't work in irb:
[code]

As @wojtekmach said, we already have `v` helper for that, it's even more powerful (as it accepts index argument)

[2016-02-23 22:59] #4324 closed

[2016-02-23 23:21] eksperimental opened #4325 "quote/2 examples not compiling"
The quote examples are not compiling.
https://github.com/elixir-lang/elixir/blob/187f4f800bc708ce272c70fd2de92deba5010272/lib/elixir/lib/kernel/special_forms.ex#L1131-L1137
[code]

[code]

neither this one
https://github.com/elixir-lang/elixir/blob/187f4f800bc708ce272c70fd2de92deba5010272/lib/elixir/lib/kernel/special_forms.ex#L1178-L1184

[code]

[code]

[2016-02-23 23:55] ericmj commented on #4324
Agree with @lexmag.

[2016-02-23 23:57] ericmj commented on #4325
You can't use macros in the same context they are defined. A fix would be to put the module and the invocation of the macros in separate files.

[2016-02-23 23:57] #4325 closed

[2016-02-24 00:11] eksperimental commented on #4325
thanks @ericmj
Would it help to make it more clear the example?

[code]

[2016-02-24 00:17] ericmj commented on #4325
That could also be more confusion. Would appreciate input from others /cc @elixir-lang/elixir.

[2016-02-24 00:22] heavyk commented on #4324
I'm still learning elixir so I don't know everything, but this is super useful to me. in iex you can do this:

[code]

when calling v(n), n will be the nth iex statement - and you see next to ex(n) (for positive integers) - or negative n refers to previous values. (-1 for previous, -2 for second to last, etc.)

[2016-02-25 06:19] hamiltop opened #4327 "Match Multiple Structs"
Per https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/elixir-lang-core/U6bQqVKL3UE/QE9bBBibAgAJ

It was proposed to allow pattern matching on the Struct type itself.

The following code:

[code]

Would be functionally equivalent to:

[code]

Valid use cases:

[code]

[code]

[code]

A few cases that were not clear:

[code]
Should that be valid? or should it raise at compile

[2016-02-25 06:57] josevalim commented on #4327
It is already in master. :)

[2016-02-25 06:57] #4327 closed

[2016-02-25 06:59] hamiltop commented on #4327
Wonderful! Thanks!

[2016-02-25 08:14] zhangsoledad opened #4328 "mix deps.clean --unused doesn't write change to mix.lock"
### Environment

* Elixir version (elixir -v): Elixir 1.2.3
* Operating system:  osx

### Current behavior

when i change mix.exs
run `mix deps.clean --unused` ,  it cleaned the unused deps,
but doesn't write change to mix.lock

[2016-02-25 08:20] emilsoman commented on #4151
@josevalim this bit me too. I spent some time yesterday debugging this.
Here's what I found:

Step 1. Create an app with a protocol and compile for the first time -> works as expected
Step 2. Change the protocol and compile again -> compiles fine, but function in protocol not dispatched properly.

I think the problem is that we don't check for stale protocols, instead currently only additions or r

[2016-02-25 08:26] josevalim commented on #4151
@emilsoman I think we should be able to simply call "compile.protocols" inside the recompile task. Have you tried this approach? Also, can you provide a repo that reproduces the issue? :) It will make it easier for us to verify a fix. Thank you!

[2016-02-25 08:28] josevalim commented on #4328
You need to pass the `--unlock` flag. :)

[2016-02-25 08:28] #4328 closed

[2016-02-25 08:29] zhangsoledad commented on #4328
@josevalim  thx

[2016-02-25 09:16] emilsoman commented on #4151
@josevalim Here's a repository which demonstrates the issue : https://github.com/emilsoman/protocol_recompile .

Please note that I'm using the master branch of Elixir. Steps to reproduce are mentioned on the README. Thanks :)

[2016-02-25 09:58] #4309 closed

[2016-02-25 16:37] josevalim opened #4330 "Pending escript tasks"
* [x] Check the file is an actual escript before writing to disk
* [x] Verify they work on Windows (it will likely need .bat files to be generated)

/cc @alco can you please tackle the first one?

[2016-02-25 17:17] josevalim commented on #4330
Issue updated to add `MIX_ESCRIPTS`.

[2016-02-25 20:14] oarrabi commented on #4209
Hey @ericmj,

Are you saying that
[code]

Should actually return
`"abc\\\ndef"`?

[2016-02-26 08:22] henrythebuilder opened #4332 "Test failure after compilation"
Hi,
I fetched the Elixir master branch this morning and I had some failures on test after compilation.
Performing compilations several times sometimes there were no error but sometimes not.
This is the first time I have similar problems when compiling Elixir.
I would like to share the output of the test if may be useful for some other check.
Bye

### Environment
* Elixir version (elixir -v): Elixi

[2016-02-26 08:41] #4332 closed

[2016-02-26 08:44] henrythebuilder commented on #4332
Thanks !

[2016-02-26 13:39] alco commented on #4330
I may be able to look into it tomorrow. If you don't hear from me then, I apologize in advance :sweat_smile:

[2016-02-26 14:44] lexmag commented on #4015
Documented in #4334.

[2016-02-26 14:44] #4015 closed

[2016-02-26 16:50] nathanl commented on #880
For others who (like me) stumble on this and want more context, this feature is called "unquote fragments". It's discussed [in the docs](http://elixir-lang.org/docs/v1.2/elixir/Kernel.SpecialForms.html) and was also discussed [on the mailing list](https://groups.google.com/forum/#!topic/elixir-lang-core/wKp7vxcaCQk) at the time of this issue.

[2016-02-26 19:09] seanabrahams commented on #4309
I ran into this issue with the `branch:` option and have confirmed @whatyouhide's code fixes this as well. Thank you!

[2016-02-28 11:10] josevalim commented on #4330
@alco it now works on Windows because we also write .bat files. :)

[2016-02-28 11:11] #4220 closed

[2016-02-28 16:53] #4209 closed

[2016-02-28 17:03] tokafish opened #4342 "Confusing error message when incorrectly casing an Elixir module."
### Environment

* Elixir version: 1.2.3
* Operating system: OS X 10.11

### Current behavior

When incorrectly casing the name of an Elixir module, Elixir logs an error message that I think could be improved.

Example, if I have code like the following:

[code]

I see the following messages when I start iex:

### Expected behavior

I'm not sure what would be the best thing to do here. My only tho

[2016-02-28 18:39] josevalim commented on #4342
I agree those are not nice error messages but there is nothing we can do. They come directly from the emulator and I am not sure supressing it is enough because you could trigger it by calling Code.ensure_loaded?(Genserver) and then you would have a silent failure. :(

[2016-02-28 21:26] sivsushruth commented on #4330
I have added
[code]
(escript.build.ex)

[2016-02-29 00:08] sivsushruth commented on #4171
I have had a look at this and here are my findings:
**elixir_def.erl**  has
[code]
ets lookup can be used to later check for all functions, however, in case of a **FunctionClauseError** the entire functions table is not populated. I was thinking, a parser to store all function declarations might help us here.
Let me know if I am headed the right direction.

[2016-02-29 03:07] tokafish commented on #4342
Understood. Thanks for the info!

[2016-02-29 03:07] #4342 closed

[2016-02-29 07:02] josevalim commented on #4330
Thank you but the check not be done before building but after installation. We will have to open the file and snoop around if it is an actual escript.

[2016-02-29 10:58] Gobiner opened #4345 "Mix can't shell out to rebar on Windows"
### Current behavior

Running `mix deps.compile esqlite` on Windows, in my phoenix project folder, yields the following error:
[code]

A little digging showed me that mix is attempting to shell out to `C:\\WINDOWS\\system32\\cmd.exe /c c:/Program Files/erl7.2.1/bin/rebar.cmd compile skip_deps=true deps_dir="c:/Users/Aaron/Desktop/hurdoo/_build/dev/lib"`

This has a couple of issues. The first is t

[2016-02-29 11:13] Gobiner commented on #4345
I forgot to mention that I'm running on Erlang/OTP 18 and Elixir 1.2.3

[2016-02-29 11:36] josevalim commented on #4345
Thank you @Gobiner for such a detailed report! Which Windows version are you running on? According to the Windows docs, I see this:

So I am thinking we may be able to not use \S as long as we quote correctly. Can you try the following changes:

[code]

Then we move the path replacing to wrap_cmd "/" by "\\". Can you please try this:

[code]

Can you please let me know how it goes? Thank you! :hea

[2016-02-29 15:23] Gobiner commented on #4345
I tried your proposed changes and mix shelled out to rebar without issue. I give it the Works On My Machine seal of approval.
![Works On My Machine](https://i.imgur.com/WnmTVx0.png)

The `deps_dir="c:/Users/Aaron/Desktop/hurdoo/_build/dev/lib"` bit still has forward slashes of course, but that didn't seem to change the behavior (my test case doesn't compile successfully regardless, so this might n

[2016-02-29 15:37] josevalim commented on #4345
@Gobiner thank you! I went with `/s` anyway because it is supported since Windows XP, so we should be safe and run into less corner cases. The deps_dir path does not matter because it is handled by rebar so that should just work™.

[2016-02-29 15:40] #4345 closed

[2016-03-01 08:04] aleksandarzivkovic opened #4347 "Unit test touch_with_timestamp fails on February 29th"
### Environment

* Elixir version: https://github.com/elixir-lang/elixir/archive/v1.0.0.tar.gz
* Operating system: building on Ubuntu 2.6.32-38-generic-pae #83-Ubuntu SMP Wed Jan 4 12:11:13 UTC 2012 i686 GNU/Linux

### Current behavior
Our build server runs nightly build of elixir package. After build is performed unit tests are executed.
During the unit test execution (at least) one test fails wh

[2016-03-01 08:09] wojtekmach commented on #4347
This is already fixed in master with https://github.com/elixir-lang/elixir/pull/4344

[2016-03-01 08:12] #4347 closed

[2016-03-01 16:28] sandeshsoni commented on #4161
@fishcakez
I am almost done with this issue.
Only tests have to be fixed. I am not sure how do i test these **exit** examples.
Could you give some more information on writing tests for this issue?

Have added code as well as tests on formatter.

The code is here. May i have your feedback.

https://github.com/elixir-lang/elixir/compare/master...sandeshsoni:4161

Here is how the new code would look

[2016-03-01 21:58] mavdi commented on #4041
I had the same issue with Erlang 18, but relinking it with brew worked for me:
[code]

[2016-03-02 18:42] stevedomin opened #4351 "Compilation hangs indefinitely"
### Environment

* Elixir version (elixir -v): 1.2.3
* Operating system: OS X 10.11.2

### Current behavior

I've ported the UUID module from Ecto to my project because I need a tiny incompatible change to it. I meant to wrap the code around `if Code.ensure_loaded?()` statement to make sure this was only compiled when Ecto was in the project. Fast forward a couple of days, I haven't added the `ect

[2016-03-02 18:44] josevalim commented on #4351
It should be fixed in Ecto master. :)

[2016-03-02 18:55] stevedomin commented on #4351
Awesome thanks @josevalim

Can you point me to the relevant commit?

Also I felt like this was more of a bug in Elixir rather than in Ecto. Is that not the case?

[2016-03-02 18:59] josevalim commented on #4351
Oops, I mean to say it is fixed in Elixir master, I am sorry. Here is the commit: https://github.com/elixir-lang/elixir/commit/b6dc389f5e3eb2286885c172009333ef414d7860

[2016-03-02 19:03] stevedomin commented on #4351
Aaah, that makes sense :) Thanks

[2016-03-02 19:03] #4351 closed

[2016-03-02 19:21] mremond opened #4352 "I need to issue deps.compile twice to get my .so copied in _build/dev/lib/fast_xml/priv/lib"
### Environment

* Elixir version (elixir -v): Elixir 1.2.0
* Operating system: OSX 10.11.3

### Current behavior

My mix.exs:

[code]

[code]

### Expected behavior

I expect that the .so file are copied to _build/dev/lib/fast_xml/priv/lib/ on first mix deps.compile run.

Did I miss something ?

[2016-03-02 19:22] josevalim commented on #4352
Is fast_xml an Elixir project?

[2016-03-03 08:04] mremond commented on #4352
This is an Erlang project, built with Mix: https://github.com/processone/fast_xml

[2016-03-03 22:29] josevalim opened #4355 "Allow Logger's handle_sasl_reports to be started via elixir"
Today I frequently use `--erl "-boot start_sasl"` to get detailed SASL reports. Instead of falling back to ERL, we should simply allow those to be given via the command line. My suggestion:

    --logger-otp true|false        Print OTP messages using Logger (default to true)
    --logger-sasl true|false       Print SASL reports using Logger (default to false)

Thoughts?

[2016-03-04 00:24] CharlesOkwuagwu opened #4356 "Integer.parse/1, inconsistent error reporting"
### Environment

* Elixir version (elixir -v): Elixir 1.3.0-dev
* Operating system: Windows 10

### Current behavior

[code]

### Expected behavior

`Integer.parse(nil)` should give `:error`

should give same error as` Integer.parse("some invalid integer")`

[2016-03-04 00:42] NobbZ commented on #4356
The spec of `Integer.parse/2` is clearly stating that it wants a binary as input, while `nil` is an atom. From my point of view missing clause is what I'd expect in this case.

[2016-03-04 01:40] ericmj commented on #4356
`Integer.parse` will return `:error` when the given string is an invalid string, if not given a string it will raise. This is a convention of all Elixir functions and in line with the "let it crash" philosophy.

[2016-03-04 01:40] #4356 closed

[2016-03-04 09:56] whatyouhide commented on #4352
@mremond I tried to reproduce your output but was not able to. I tried on 1.2.0 and OSX 10.11.3 as well. I just created a fresh project, added just `{:ejabberd, "~> 16.2"}` to my deps (didn't change anything else in `mix.exs`) and ran:

[code]

I have the `.so` files in `_build/dev/lib/fast_xml/priv/`. Could you try this on a new project and tell us if you still have this problem?

[2016-03-04 10:00] mremond commented on #4352
Thanks for checking out :+1:

Sure, I will retry from scratch.
It was already a new project, but I will restart from scratch to see if some local tinkering could be interfering.

[2016-03-06 13:05] alxgnon opened #4365 "(Mix) Failed to open Hex registry"
I get the same error every time I run `mix`.
[code]

I just installed Elixir on this machine. Here is the first time output of `mix`:
[code]

The registry file does not exist. Maybe it was supposed to be created automatically and wasn't? I tried this too and it also fails:
[code]

### Environment (Elixir 1.2.3, Debian jessie)
[code]

[2016-03-06 13:25] alxgnon commented on #4365
### Update:

I found two different workarounds to fix this for myself.

The first workaround is to run `mix hex.registry fetch` to fetch the registry manually.

The second workaround is to run `mix deps.get` before running any other mix commands. It will fetch the registry.

I will leave the issue open because it might be an indicator of a bug. There might be a way to prevent this error from happe

[2016-03-06 13:40] josevalim commented on #4365
Can you please run `mix hex.info` and let us know?

[2016-03-06 13:40] josevalim commented on #4365
Btw, the registry file is never supposed to be created by hand.

[2016-03-06 16:12] alxgnon commented on #4365
[code]

[2016-03-06 16:13] alxgnon commented on #4365
It seems running hex.info generated the registry file?

[2016-03-06 19:01] ericmj commented on #4365
@josevalim I think we should print the stacktrace on Mix errors also. I have an idea where this happens but I am not 100% sure because we have no trace.

[2016-03-06 19:29] josevalim commented on #4365
MIX_DEBUG will start printing the stacktrace but honestly, you should likely not be raising Mix.Error for a case like this.

[2016-03-06 20:28] ericmj commented on #4365
I've changed the error message in hex to "** (Mix) Failed to open Hex registry (file does not exist, run `mix hex.info` to fetch it)".

[2016-03-06 20:28] #4365 closed

[2016-03-06 21:10] edgurgel commented on #2662
If anybody is looking for a solution while we don't have a replacement for GenEvent, here's my library that mimics `Logger.Watcher` behaviour: https://github.com/edgurgel/watcher

(Feel free to delete my comment if this shameless ad of the project is not acceptable :P)

[2016-03-07 14:58] emilsoman commented on #4151
@josevalim were you able to reproduce the issue ?

[2016-03-07 15:02] josevalim commented on #4151
Sorry, I didn't try it yet! I will do once i am back to tackling issues.

[2016-03-07 15:20] tuvistavie commented on #4151
I managed to reproduce the issue here, but I did not find a solution yet.
Calling `compile.protocols` does not work, as [`Mix.Utils.stale?` seems to return `false`](https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/tasks/compile.protocols.ex#L52),
and the manifest itself is not changed, as it does not contain information about
the name of the functions in the protocol.
I will try t

[2016-03-07 15:35] emilsoman commented on #4151
I was preparing a fix for this. Can you check this comment above : https://github.com/elixir-lang/elixir/issues/4151#issuecomment-188666329

[2016-03-07 20:22] paulcsmith opened #4366 "Hard to understand error message when using <> with non binaries"
### Environment

* Elixir version (elixir -v): 1.2.2
* Operating system: OS X 10.11.3

### Current behavior

[code]

Raises: `ArgumentError: argument error`

In this particular example it is fairly easy to see what's wrong, but I've had instances similar to this that are harder to figure out:

[code]

### Expected behavior

If possible, I think that the function should say something like:

[code]

[2016-03-07 20:38] josevalim commented on #4366
There is not much we can do here unfortunately. We could add checks but it would affect performance and the behaviour inside matches.

[2016-03-07 20:38] #4366 closed

[2016-03-07 20:39] paulcsmith commented on #4366
That's too bad. Thanks for the clarification!

[2016-03-08 16:39] digitalronin opened #4368 "ExUnit.DocTest misses tests when iex prefix contains a number"
#According to the docs, doctest should cope with iex prefixes that contain numbers (the default) like this;

    iex(1)> MyModule.foo

But, the presence of a number seems to cause the doctests to be skipped, as per this gist;

https://gist.github.com/digitalronin/dc81b24f2fa4264b524f

* Elixir version 1.2.2
* Operating system: OSX 10.11.3

### Current behavior

This runs a failing doctest;

[code]

[2016-03-08 20:29] lexmag commented on #4368
Closed in cd6a102a5dc1cbaa9a940313786d9bf00489d813.

@digitalronin thank you for report. :yellow_heart:

[2016-03-08 20:29] #4368 closed

[2016-03-09 10:27] mremond commented on #4352
@whatyouhide I check from scratch with Elixir 1.2.3 and it seems to work fine.

I think the original issue what that the priv dir need to be packaged in the hex.pm archive, even empty.

[2016-03-09 10:27] #4352 closed

[2016-03-09 10:31] whatyouhide commented on #4352
Alright, thanks for the report anyways @mremond :)

[2016-03-11 10:19] accatyyc opened #4378 "Manpages are not installed correctly via homebrew"
### Environment

* Elixir version (elixir -v): `Elixir 1.2.3`
* Operating system: `OSX 10.11.3`

### Current behavior

`man elixir` yields `No manual entry for elixir`

### Expected behavior

`man elixir` should display the info in https://github.com/elixir-lang/elixir/blob/master/man/elixir.1.in

I noticed that manpages actually exist for Elixir by browsing the repo here. Previously I have always

[2016-03-11 10:28] josevalim commented on #4378
Thank you @accatyyc! We are not responsible for how Elixir is packaged in the many different managers and OSes, so I would recommend opening an issue directly in homebrew or sending a pull request. Feel free to link the PR here if you would like help getting reviewed.

[2016-03-11 10:28] #4378 closed

[2016-03-11 18:32] Theemuts opened #4379 "Using a module as a key in a map only works if => is used"
### Precheck

* Do not use the issues tracker for help or support requests (try Stack Overflow, IRC or mailing lists, etc).
* For proposing a new feature, please start a discussion on [elixir-lang-core](https://groups.google.com/forum/#!forum/elixir-lang-core).
* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

### Environment

* Elixir

[2016-03-11 18:34] #4379 closed

[2016-03-11 19:30] michalmuskala commented on #4379
Maybe you figured this already out and closed because of that, but for every body else who arrives here:

This issue is caused because the `[key: value]` syntax is shorthand for `[{:key, value}]`.
This means that using `[Mod: value]` gives you `[{:Mod, value}]`.
But `:Mod != Mod` and hence the issue. `Mod` is an atom, but because it's a module name it is encoded to `Elixir.Mod` so that it's easy t

[2016-03-11 19:44] Theemuts commented on #4379
Yes, I assumed the same when I saw the key returned by Map.keys. Thank you
for confirming my assumption!

[2016-03-11 22:28] folz opened #4380 "Hex 0.11.2 makes `mix compile` have a hard dependency on the internet?"
### Issue

After upgrading hex from 0.10.0 to 0.11.2, `mix compile` seem to have a hard dependency on an available internet connection. This issue was not present when using hex 0.10.0. I couldn't find similar bugs via Github or Google search.

### Environment

[code]

[code]

### Current behavior

Mix with unstable internet:

[code]

Mix with no internet:

[code]

Mix with good internet:

[code]

[2016-03-11 23:39] enilsen16 commented on #4380
I get the same thing with elixir 1.3.0 and hex 0.11.2. I didn't have this issue with hex 0.11.1

[code]

[2016-03-11 23:48] adamkittelson opened #4381 "GenServer crashes without logging"
### Environment

* Elixir version (elixir -v): 1.2.0
* Erlang version: 18.2.1
* Operating system: OS X 10.9.5

I converted a call to a cast in a genserver yesterday but I made a mistake when altering the return value tuple, rather than going from `{:reply, resp, state}` to `{:noreply, state}` I absentmindedly landed on `{:noreply, resp, state}`

This caused my process to crash (rightly) because my

[2016-03-12 07:25] ericmj commented on #4380
Please reopen this at https://github.com/hexpm/hex

[2016-03-12 07:25] #4380 closed

[2016-03-12 08:24] josevalim commented on #4380
Done: https://github.com/hexpm/hex/issues/213 :)

[2016-03-13 14:35] fishcakez commented on #4381
The error is occurring inside the `:gen_server` code so there is anything to be done in Elixir itself. A `:crash_report` will be logged in this situation. Logger will log this report with the following config:
[code]

[2016-03-13 14:35] #4381 closed

[2016-03-13 15:15] lexmag commented on #4243
There is a limited case which shows this problem:
[code]

[code]
In the stacktrace we're taking __line__ from original place but __file__ from the quote.
That's not happening when we providing quoted expression instead of bare atom `:my_fun` (e.g. `Test2.wrapfunc my_fun() do`), and same with `Macro.decompose_call/1` we effectively losing file information from the definition.

[2016-03-13 15:33] fishcakez commented on #4251
Just as an update the new `:gen_statem` behaviour coming in OTP 19 has `cast/2` that works the same as `:gen_server.cast/2` and so does not raise.

[2016-03-14 10:05] bartoszbinda opened #4388 "OpenSSL 0.9.8 Ubuntu 15.10"
There is a problem installing Erlang/Elixir on Ubuntu 15.10 due to the fact of unmet dependencies.

[2016-03-14 10:08] josevalim commented on #4388
Can you please read the template and open an issue and provide proper information in the bug report? How are you installing it? From which package? Which error are you seeing? It is unlikely this is an Elixir error but rather an Erlang one. Thank you.

[2016-03-14 10:08] #4388 closed

[2016-03-14 13:08] amuino commented on #4300
I have also been surprised by `strip` not removing `U+00A0` (the no-break space). The [documentation for `strip`](http://elixir-lang.org/docs/v1.1/elixir/String.html#strip/1) states that it removes _«all leading and trailing Unicode whitespaces has been removed»_ … and [`U+00A0` is unicode whitespace](http://unicode.org/cldr/utility/list-unicodeset.jsp?a=%5Cp%7Bwhitespace%7D). As an anecdote, simi

[2016-03-14 13:34] josevalim commented on #4300
Thank you @amuino. This is really complicated because it is coupled to what we consider to be whitespace. Unfortunately, that's not a static definition because it depends on the context. The property list you linked defines whitespace as follows:

Source: http://unicode.org/reports/tr44/#White_Space

I would argue that's not necessarily the context strip and split are being applied on. So I am per

[2016-03-14 14:17] amuino commented on #4300
I'm slightly biased towards using the unicode whitespace property for consistency, since it seems to be honoured by the `Regex` module when in unicode mode (in my head, if something is whitespace according to a language built-in, it should also for others).

[code]

But there seems to be no consensus between programming languages, so updating the docs might suffice and is much simpler (no code, no

[2016-03-14 14:21] josevalim commented on #4300
@amuino good point about the Regex. If we change the strip to use the proplist implementation, which version should we use for split?

[2016-03-14 14:24] amuino commented on #4300
Didn't really think it much… I would go for "unicode whitespace except no-break chars", which in practice means "except `U+00A0`" but if we want to generate no-break chars from a unicode table, I have not researched if one exists.

[2016-03-14 14:56] amuino commented on #4300
Oh, seems that "breakabilityx" is present in UnicodeData.txt in the `decomposition` column we are currently ignoring, marked with the value `<noBreak>`.

[2016-03-14 15:06] josevalim commented on #4300
@amuino should we therefore strip on all whitespace UNLESS they have the nobreak property?

[2016-03-14 15:07] josevalim commented on #4300
The last sentence was an affirmation. :) Let's strip on all whitespaces unless they have the nobreak property. Can you please send a pull request? Btw, I don't think we need the whole PropData.txt file, only the whitespace parts.

[2016-03-14 15:10] amuino commented on #4300
Just to confirm: you mean `strip` and `split` both will work on unicode whitespace except no-break whitespace? (I was hopping for `strip` to work on all whitespace, since the no-break semantic only seems relevant when splitting)

[2016-03-14 15:52] josevalim commented on #4300
`strip` on all whitespace and `split` on all non-breaking whitespace. :)

[2016-03-14 19:49] sikanhe commented on #4300
I think that is a good solution

[2016-03-15 00:30] amuino commented on #4300
PR submitted on #4389! Probably this issue can be closed now?

[2016-03-15 08:58] whatyouhide commented on #4300
@amuino let's wait to close the issue until #4389 gets merged :)

[2016-03-15 14:37] amuino commented on #4300
@whatyouhide 🙂merged!

[2016-03-15 14:39] #4300 closed

[2016-03-15 14:39] whatyouhide commented on #4300
:clap:

[2016-03-15 14:59] josevalim opened #4390 "Update CombiningClasses.txt, Normalisation.txt and Denormalisation.txt to Unicode 8"
Unfortunately I am being unable to download such files. If they have been derived, we will need to do so before 1.3 is out. /cc @endersstocker

[2016-03-15 15:08] josevalim commented on #4390
According to this Unicode Report, the normalization forms are not supposed to change save very rare exceptions, so we should likely be fine, but it would be nice to rebuild those files to be double sure.

[2016-03-15 16:22] KaySackey opened #4391 "Unexpected stack trace during debugging"
### Environment

* Elixir version (elixir -v): Elixir 1.2.2
* Operating system: Mac OSX

### Current behavior

If you create a Supervisor and override start_link, and have an error within that method to  Supervisor.start_link/3 then the stacktrace will skip the function that you defined.

     ** (CaseClauseError) no case clause matching: "rooms-lobby"
         (elixir) lib/supervisor.ex:297: Supe

[2016-03-15 16:41] josevalim commented on #4391
That's how Elixir works, it performs tail call optimization. if the last thing you do in a function is to call another function, the caller won't be included in the stacktrace.

[2016-03-15 16:41] #4391 closed

[2016-03-16 09:33] josevalim opened #4393 "Add Mix.Task.rerun that will reenable and run a task"

[2016-03-16 11:38] #4393 closed

[2016-03-16 16:50] brione commented on #3955
I am having the same problems that the OP reported and I was able to figure out a workaround based on comparing my system with one that works.

In short, I was having the exact same problem described at the top and like the OP, never got a satisfactory answer.

When I compared my system to my son's system, where --sname generated sessions work correctly, we found that on his system the command:

W

[2016-03-17 10:10] endersstocker commented on #4390
The [Unicode Normalization Charts](http://www.unicode.org/charts/normalization/) are official and up-to-date. **C** and **D** are the relevant columns.

[2016-03-17 11:02] josevalim commented on #4390
Do you know if there is an easy way to get those as txt files? :)

[2016-03-17 12:02] #4355 closed

[2016-03-18 09:32] whatyouhide commented on #3679
This can be closed :tada:

[2016-03-18 09:37] #3679 closed

[2016-03-18 19:30] nathanl opened #4405 "Confusing error: "undefined function" when actually private"
### Environment

* Elixir version (elixir -v): 1.3.0-dev
* Operating system: OS X 10.11

### Current behavior

`apply(__MODULE__, :name_of_private_function, [some,args]` gives error "undefined function"

### Expected behavior

I was confused by this. I figured out that `apply` is inlined to `__MODULE__.name_of_function...`, but it took a minute to understand that the function definition I was look

[2016-03-18 19:43] josevalim commented on #4405
We could use something like `String.module_info(:functions)` to find out if it is private or not and show a proper error but I am really not sure if we should.

[2016-03-18 19:45] lexmag commented on #4405
I'm :-1: on doing so.

[2016-03-18 21:22] sunny-mittal commented on #4405
For what it's worth, I would agree that actually catering the error to private vs undefined functions would be a little unsafe, but amending the existing message to convey that the function is either undefined or private might be useful.

[2016-03-18 22:24] gaynetdinov opened #4406 "mix test command does not run only one test when line number provided"
### Environment

* Elixir version (elixir -v): 1.2.3
* Operating system: OSX 10.11.3

### Current behavior

I have a fresh mix project where I created a simple module with 2 functions and a test for this module with scopes like this:
`lib/big_module.ex`
[code]

`test/big_module_test.exs`
[code]

If I run this test file with specifying a line number like this:
[code]
I see that both test were execu

[2016-03-19 03:21] pdilyard opened #4407 "Incorrect SemVer validation on metadata"
### Environment

* Elixir version (elixir -v): 1.2.2
* Operating system: Mac OSX

### Current behavior

I have versioning in my project set up to use the git SHA in the version number, for example `0.0.1+sha.d1af69c`. Here's the function that generates this:

[code]

By chance, I got a commit hash where the first 7 characters were all numbers, and where the first number was 0, so my full version n

[2016-03-19 08:17] josevalim commented on #4407
@pdilyard perfect, thank you!

[2016-03-19 09:40] whatyouhide commented on #4407
From my research, it looks like the problem is not the leading `0`, it's the `.` in the build metadata. Right now, the regex we're using to parse versions ([here](https://github.com/elixir-lang/elixir/blob/4fb70d9ebf0da297eec295ea1043bab722ae9fe6/lib/elixir/lib/version.ex#L368)) is this:

[code]

As you can see, `.`s are allowed in the pre info but not in the build info. This is against the SEMVER

[2016-03-19 09:47] nathanl commented on #4405
I'd be happy with just amending the message as a friendly reminder.

[2016-03-19 10:04] #4407 closed

[2016-03-19 10:16] ericmj commented on #4407
We can fix this in the parser but we it internally to support `~>`. `~> 2.0` is implemented as `>= 2.0.0 and < 3.0.0-0`.

[2016-03-19 10:19] whatyouhide commented on #4407
@ericmj I see. I don't think being loose with the spec here is a problem though, as I don't think people would expect `3.0.0-0` to break anyways (or actually, they'd probably be surprised it broke :smiley:).

[2016-03-19 10:21] benoitc opened #4410 "removed dependencies not removed from mix.lock"
### Environment

[code]

### Current behavior

removed a dependency from the list of des to fetch and that change is not reflected in `mix.lock`

### Expected behavior

having the removed dependency also removed from `mix.lock`

[2016-03-19 10:34] josevalim commented on #4410
That's on purpose because some projects have dependencies that are fetched only in certain environments. To clean up the lock, run `mix deps.unlock --unused` or some of the options. Thank you!

[2016-03-19 10:34] #4410 closed

[2016-03-19 18:40] wobh commented on #4390
I'm interested in tackling this one. Any advice about where to start? Did you mean "Composition.txt" and "Decomposition.txt" in the subject? Should I try to make an extraction tool for generating these files from the UCD?

[2016-03-19 19:04] josevalim commented on #4390
Yes, Composition and Decomposition. And yes, we would need to generate them somehow, I'd love if you can take a look, specially if @endersstocker can't remember how we got them. :)

[2016-03-19 20:24] Qqwy opened #4411 "Improve error message when attempting to define a non-allowed infix operator"
### Environment

* Elixir version (elixir -v): 1.2.3
* Operating system: Linux Mint 17.2

### Current behavior

I just attempted to define my own infix `...` operator.
This did not work, as `...` is not in the allowed infix operator list.

However, the given compiler error was very confusing:

[code]

This is why I only understood what was happening after [asking about it on StackOverflow](http://

[2016-03-19 20:33] josevalim commented on #4411
`...` is a valid identifier in Elixir. So when you write `def left ... right do`, it is the same as writing `def foo bar baz do` which is the same as `def foo(bar(baz)) do`. In other words, you would be calling `bar(baz)` inside a match (function arguments). So the message is correct, you just need to know `...` is an identifier and not an operator to make sense of it.

So suggestions for improvin

[2016-03-19 20:55] Qqwy commented on #4411
Thank you for your reply.

I indeed had the expectation that above error would happen for any non-permiitted two- or three-symbol infix operator, which is not the case (all others that I tested return a syntax error instead).

Because it is only this single case, it makes the problem a lot less important.

It does seem like a good idea to me to show the full call, if possible.

[2016-03-19 21:32] wobh commented on #4390
Working with @dhedland and we found what looks like an off-by-one problem in Decomposition.txt

[code]

a couple more examples here:

https://gist.github.com/wobh/0d081c6ce79c44b72fc7

We found it when generating test cases from UnicodeData.txt to verify the updating Decomposition.txt and Composition.txt.

[2016-03-20 00:27] lexmag commented on #4243
For a case when we use bare atom `:my_fun` as function name, the function gets metadata from quote location and not from the place where this atom was defined.
The following commit should fix that situation: https://github.com/lexmag/elixir/commit/b9e084dd6bf76dbc7918891b4634d27eefab4316.
Although this special case doesn't feel quite right. @josevalim what are your thoughts about it?

Generated AS

[2016-03-20 08:23] josevalim commented on #4390
@wobh you are right, great catch! Let's generate Composition and Decomposition for both Unicode 7.0 and 8.0 so we can backport those fixes to v1.2.

[2016-03-20 14:22] lexmag commented on #4406
Unfortunately we can't fix this today, it requires too invasive changes which isn't desired yet, this will be one of the things we would like to fix in the long term. It will be a won't fix for now. Sorry.

I've added a note about line filter for a file with multiple test cases: https://github.com/elixir-lang/elixir/commit/3f9ea587f30e77197ecefdd316d076e773b76c3a.

[2016-03-20 14:22] #4406 closed

[2016-03-20 16:26] endersstocker commented on #4390
I originally wrote a script to generate all three files from the official [UnicodeData.txt](http://ftp.unicode.org/Public/UNIDATA/UnicodeData.txt). All the data is in that txt file. Unfortunately I cannot seem to locate my script.

@wobh Thanks for taking care of this! I have my hands full at the moment.

[2016-03-20 20:24] wobh commented on #4390
Sure thing!

Here's the plan I have in mind:

1. Extract tests from `http://www.unicode.org/Public/7.0.0/ucd/NormalizationTest.txt` and see if it duplicates problem results.
2. Regenerate `Composition.txt` and `Decomposition.txt` from `http://www.unicode.org/Public/7.0.0/ucd/UnicodedData.txt`

That should resolve the error and be sufficient for back porting. This should perhaps be treated as a sep

[2016-03-21 11:13] chrismccord opened #4417 "Consider injecting binding discards for Logger when expanding"
Unused variable warnings can be caused by a Logger macro call for a Logger level that is compiled out of the environment. For example, for the test/prod env, the following code block warns for unused `status`:

[code]

The only way to solve this yourself is to add a discard or if check:

[code]

One solution would be to add in discards automatically when expanding logger macros that get compiled o

[2016-03-21 11:19] whatyouhide commented on #4417
Not sure about which solution is better here, but it's definitely a user experience problem IMO, so I'm :+1: on finding a solution.

[2016-03-21 11:30] NobbZ opened #4418 "Odd behviour when getting and putting @doc in __on_definition__/6"
### Environment

* Elixir version (elixir -v): 1.2.3
* Operating system: Ubuntu Linux

### Current behavior

Given the code below, compiling does end up with an error message about an unmatched clause.

[code]

[code]

To make it actually work and keep the generated documentation intact you need to put `{env.line, doc}` instead.

### Expected behavior

When taking something out and putting it back

[2016-03-21 18:25] ericmj commented on #4417
This can also produce warnings for unused private functions.

[2016-03-21 21:27] michalmuskala opened #4419 "Nasty compilation error with character literals"
### Environment
[code]
Ubuntu 15.10

### Current behavior

When incorrect syntax is reported that involves character literals the integer instead of character is reported.

[code]
This makes discovering where the error lies difficult and is quite confusing since the erroneous code does not have integers at all. It took me some time to understand what is happening.

### Expected behavior

[code]
I

[2016-03-21 22:02] bcardarella opened #4420 "Circular dependency avoidance"
I'm not sure if this would be considered a bug or not. Here is my situation.

I have a library I wrote. It is adapter based. One of the adapters was getting to be large so I broke it out into its own library. Let's call the original library the Parent and the extracted library the Child.

In the child library I depend upon the parent library in `mix.exs`. However, I want to include the child libra

[2016-03-21 22:15] josevalim commented on #4420
You can't have circular dependencies. Maybe we can raise better error messages but we certainly can't make it work.

[2016-03-21 23:11] wojtekmach commented on #4420
@bcardarella I've became a fan of monorepos of late, so please take my advice with a grain of salt :) I think keeping "officially supported" adapters within the same repo/release is usually a better experience for both maintainers and end-users. I can't speak for the maintainers of these projects, but there are popular examples that follow "batteries included" pattern like e.g.: Ecto and Terraform

[2016-03-21 23:49] bcardarella commented on #4420
@josevalim in this case it seems odd that the child having the parent as the dep would still install the parent into `deps/` if being called from the parent itself. But I hear you, I figured it was a long shot

[2016-03-21 23:49] bcardarella commented on #4420
@wojtekmach I've debated it, I think it will add a lot of headache. I suspect in the case I will just make the child dep an opt-in

[2016-03-22 18:31] mtwilliams opened #4421 "Backport bug-fixes to white space handling?"
As per 98a4ee5da6d24cc1edf8f198e24af99289393ad7, white space handling code was bug fixed to handle non-breaking spaces (`00A0` or `160`, in Latin-1 supplement).

Discussing this with @benwilson512, we agreed that this should be backported to `v1.2`.

[2016-03-22 18:35] josevalim commented on #4421
Done.

[2016-03-22 18:35] #4421 closed

[2016-03-22 21:40] martin-langhoff opened #4423 "Mix should not error out on non-SemVer versions, warning should be enough"
### Environment

* Elixir version (elixir -v): v1.2.3
* Operating system: Fedora 23 (I'm your friendly Fedora packager) and CentOS/RHEL 7.

### Current behavior

Our (complex, large) projects generate daily builds; and generally we can create a build from any git commit on our project. These happen to get built as rpms, but that's a minor detail.

These projects are not Elixir only, Python and oth

[2016-03-22 22:34] Qqwy commented on #4405
I agree with @sunny-mittal on this. I find behaviour like Ruby, where it is explixitly stated when a private function is called. Although that is understandable there, with the way everything ought to be monkey patchable, I really think that that approach does not fit well in Elixir.

Changing the error message to hint at the possibility of a private method seems a lot cleaner.

[2016-03-22 22:46] josevalim commented on #4423
Hey @martin-langhoff, thank you for the report. We could allow you to build a non-semver version but you would still run into limitations like you won't be able to publish packages to Hex. Regardless of the pros and cons of semver, semver defines how versions should be ordered and this is very important for package managers like Hex.

Btw, is there any reason why you can't version it as "3.0.0+wha

[2016-03-23 08:27] tinglei8 opened #4424 "Sending messages in recursive functions performance degradation"
### Environment

* Elixir version (elixir -v): Elixir 1.1.1
* Erlang version: Erlang/OTP 18
* Operating system: Mac OSX El Capitan 10.11.3, CentOS 6

### Current behavior

In following test snippet, we send two messages from a process to another process, and repeat for 5000, 50000, 500000 times. It's surprising to notice the send performance degrades dramatically with respect to message total numb

[2016-03-23 10:19] josevalim commented on #4424
@tinglei8 there are two important things to consider here:

1. Every process has a number of reductions, basically a number of operations it is allowed to perform before it is scheduled out. Every time you send a message to another process, the number of reduction it takes increases with the receiver's message queue. This works as a backpressure mechanism, you want to make sending messages to larg

[2016-03-23 10:20] josevalim commented on #4424
Thank you for this fantastic example, it was highly educative. If you have more questions, please ask them!

[2016-03-23 10:20] #4424 closed

[2016-03-23 10:44] tinglei8 commented on #4424
Thanks for the quick comment, looking forward to the improvement in erlang compiler!

[2016-03-23 11:31] ericmj commented on #4423
The version for your mix project does not have to match your git tags.

I am guessing you have something automated that generates the mix project version from git or something similar? A simple regex would likely be enough to make it conform to semver.

[2016-03-23 12:59] tinglei8 opened #4425 "Evaluation of .exs script with large binary module attribute defined and referenced is very slow"
### Environment

* Elixir version (elixir -v): Elixir 1.1.1
* Operating system: Mac OSX El Capitan 10.11.3

### Current behavior

Referencing large binary module attribute in elixir script is very slow. Creating and referencing the same binary in a function is normal.

test2.exs
[code]

test3.exs
[code]

Run "time elixir test2.exs":
real	0m20.113s
user	0m15.733s
sys	0m4.471s

Run "time elixir test

[2016-03-23 13:23] martin-langhoff commented on #4423
@josevalim so I guess I had missed that semver handles plus signs for daily snaps. I can probably fix things up to make git describe output match.

I am still partial to a `--do-not-validate-version` option, not all my projects are Elixir-centric; Mix as a build tool should not be so heavy handed.

I completely agree, Hex and its public repositories need strict version handling for ordering consis

[2016-03-23 13:43] josevalim commented on #4425
I will see if we can optimize this use case but I am afraid the answer is rather not. The crux of the issue is that we need to transform this 5MB binary into AST and the AST will be really large, which will slow the whole compilation down. I will investigate and come back shortly.

[2016-03-23 13:51] josevalim commented on #4425
Confirmed, the compiler is already optimized to handle this case. Thanks for another well described issue :)

[2016-03-23 13:51] #4425 closed

[2016-03-23 14:58] josevalim commented on #4423
Thanks @martin-langhoff. I will close this then because `+` will likely handle your use case. If folks have other use cases, please let us know.

[2016-03-23 14:58] #4423 closed

[2016-03-23 22:12] #4243 closed

[2016-03-24 08:53] #4418 closed

[2016-03-24 11:27] soulfly commented on #3251
Had the same issue,
had an old version of Erlang installed

just upgraded to latest 18.3 https://www.erlang-solutions.com/resources/download.html
works now!

[2016-03-25 05:09] setzer777 opened #4427 "How about a String.to_list/1 function?"
I don't know if this is even relevant... but in my humble opinion this function will save us to transform the string into a char_list, and then transform it into an array of strings. I don't know if this makes some sense at all with Elixir philosophy, but it'd be really cool as module List already has `List.to_string/1`

Something like this:
[code]

Greetings :)

[2016-03-25 05:22] tuvistavie commented on #4427
@setzer777 You are talking about something which would do

[code]

right?
If this is the case, we already have a way to do this with the `String` module:

[code]

[2016-03-25 05:24] setzer777 commented on #4427
Oh great! Then sorry for the suggestion :p I guess it's more than enough with that c:
Thanks a lot!

[2016-03-25 06:13] myronmarston opened #4428 "Interpolated string map key causes compile error"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

[code]

### Expected behavior

[code]

(Originally reported on the mailing list: https://groups.google.com/forum/#!topic/elixir-lang-core/_fYiUeVJwVE)

[2016-03-25 06:47] josevalim commented on #4427
There is also String.codepoints and String.graphemes. Also, please don't use the issues to request or propose features, there is a mailing list for such discussions. Thank you.

[2016-03-25 06:47] #4427 closed

[2016-03-25 11:21] tuvistavie opened #4429 "Inconsistent behavior of map pattern matching with pin operator"
Hi,

When trying to pattern match on maps, I found the behavior of the pin operator inconsistent.
I would except the same result when using a literal map or a pinned value.

### Environment

* Elixir version (elixir -v): 1.2.3 and master
* Operating system: Linux 4.4.1-2-ARCH x86_64 GNU/Linux

### Current behavior

[code]

### Expected behavior

[code]

I am not sure if this is the intended behavi

[2016-03-25 11:43] lexmag commented on #4429
This is an expected behaviour, pin operator means that `foo` must be equal `bar`.
There were at leat 2 similar issues opened previously, I'll try to link them.

[2016-03-25 11:45] tuvistavie commented on #4429
Thanks for the quick reply and sorry for the inconvenience!
I will be very glad to take a look at the other issues if you can find them.

[2016-03-25 11:58] lexmag commented on #4429
Didn't manage to find relevant issues, but there is a whole discussion in mailing list exists:
https://groups.google.com/forum/?fromgroups#!searchin/elixir-lang-talk/pin/elixir-lang-talk/e6Ly4tWEEWM/k2reV-BPDQAJ.

[2016-03-25 11:58] #4429 closed

[2016-03-25 12:00] tuvistavie commented on #4429
Great, thank you very much!

[2016-03-25 21:43] martin-langhoff commented on #4423
@josevalim thanks for your help so far.

After a bit of experimentation with '+' for snaps etc, we still have a problem.

SemVer with prerelease tags does not play well at all with rpm or deb because it uses hyphens. The only way to identify a pre-release is to tag it "1.0.0-alpha". From git describe with a regex I can make subsequent commits look like "1.0.0-alpha+10-gf234ga"; however rpm will no

[2016-03-25 21:46] ericmj commented on #4423
@martin-langhoff What about sending a patch to exrm-rpm so that it changes the version to something rpm can handle? This really sounds like it should be handled by the tool that generates rpm packages.

We can't expect Mix to work with every possible versioning scheme.

[2016-03-25 21:59] martin-langhoff commented on #4423
Hi @ericmj !  Mix is a build tool, using it to _mandate_ a version string is misguided. Good old `make` is flexible and agnostic and widely used.

I am fine with Mix pushing for SemVer, but a build tool must be humble and flexible; it might be used in an environment where is not the dominant tool. For example, a shop mainly using other languages / toolchains where folks are starting to use Elixir.

[2016-03-25 22:02] ericmj commented on #4423
The problem isn't with semver, it's a perfectly fine versioning format. The issues is that you expect semver to work with every possible, existing versioning scheme. That's just not possible.

Can you show where this will be an issue?

[2016-03-25 22:11] martin-langhoff commented on #4423
I expect SemVer to work nicely with rpm and deb packaging, and in some cases it does not. That is a major gotcha.

I also expect _build tools_ to be build tools :-) -- again kindly pointing folks in a good direction is fine, but mandating a versioning scheme is not. Why would Mix need that? Hex repositories (as gatekeepers before Hex clients) do need it, and that is the right place to do it.

Wher

[2016-03-25 22:16] ericmj commented on #4423
That's expected because they use different versioning schemes.

Mix is building mix projects, mix projects require semver. All projects using semver means that we can set proper version requirements on dependencies (and dependencies doesn't have to be hex packages). If it's not using semver we can't use version requirements that make sense.

I proposed a solution for this; patch exrm-rpm. Can you

[2016-03-25 22:26] martin-langhoff commented on #4423
Hmmm? Not so, please read the bug in the SemVer gihub repo I linked in the opening of this issue. Not expected, definitely a misfeature. Nobody wants to make their version strings awkward for deb and rpm packaging. See mojombo/semver#145

I have fleshed out other answers already, I hope we can leave this circular stage of the discussion behind ...

[2016-03-25 22:34] ericmj commented on #4423
I have already read the issue and there doesn't seem be a consensus if it's an actual issue. Some people seem to think that semver should change to be compatible with debian and rpm and others believe that a new standard shouldn't be expected to conform to every other existing versioning scheme. We have to agree to disagree, like the many others in the issue you linked.

I am trying to do so. If y

[2016-03-25 23:17] martin-langhoff commented on #4423
Patching exrm-rpm - there is quite a bit of surface to that; I pointed out matching version numbers of the tarballs included already. Perhaps you missed that?

I am not familiar with the internals of how Mix, exrm and exrm-rpm interop. I cannot tell you it won't work but it looks rather messy. Separating version strings in exrm-rpm based on usage, and policing that any scripts and tools that get t

[2016-03-25 23:27] ericmj commented on #4423
I did not miss that but I think you missed my follow up question: "Can you show where this will be an issue?". If all tarballs follow the rpm versioning scheme then where will matching be an issue?

To me it's messy to not enforce semver. That means if someone accidentally sets a version that is not compatible with semver it means I won't be able to use their project as a dependency.

If it's impo

[2016-03-25 23:35] martin-langhoff commented on #4423
@ericmj thanks. Keep in mind we are talking daily builds, usually of the top project, not libs, so they are not a dep for others.

And I completely agree this should be an override. I just need it to be available.

[2016-03-26 08:53] josevalim commented on #4423
I am thinking we should go from an error to a warning. @ericmj, does Hex.pm already validate the published version format? We just need to be safe on Hex' front.

[2016-03-26 10:18] ericmj commented on #4423
Hex.pm does validate.

On Saturday, 26 March 2016, José Valim <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-03-26 10:34] whatyouhide commented on #4419
Sadly, this is a very hard problem to solve. In Elixir, the tokenizer takes care of integers ([here](https://github.com/elixir-lang/elixir/blob/c5a34ef4424775fe1b3b73c237a754e89baad85f/lib/elixir/src/elixir_tokenizer.erl#L137-L147)) exactly the same way it takes care of `?char` literals ([here](https://github.com/elixir-lang/elixir/blob/c5a34ef4424775fe1b3b73c237a754e89baad85f/lib/elixir/src/elixi

[2016-03-26 10:57] jcspencer commented on #4330
Is there any specific standard escript header that can be checked? That seems like the only check we could perform that would be effective across the board.

[2016-03-26 11:23] whatyouhide commented on #4417
I tried on of the solutions @chrismccord proposed for unused variables and it works pretty well: when a `Logger` call has to be pruned out of the AST, we just return `_ = var1; _ = var2; ...` for all the variables passed to the call.

@ericmj I think private functions are much more difficult (this would also affect unused imports btw). Do you have a solution in mind?

Also, do you think it's worth

[2016-03-26 11:27] ericmj commented on #4417
I think it's still worth it to handle the variable warnings. I just
mentioned other possible related issues, they should not stop us from
fixing the lower hanging fruit.

On Saturday, 26 March 2016, Andrea Leopardi <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-03-26 11:33] michalmuskala commented on #4419
Making `?/1` a macro is an interesting approach,  but I'm not sure of the consequences either.

It seems the only way to solve this is for the tokenizer not to convert `?a` into `97` and return an additional token handled accordingly by the parser.

[2016-03-26 11:39] whatyouhide commented on #4419
@michalmuskala yep, but if the consequences of the `?/1` macro are not crazy I'd go with that so we don't have to handle an additional special case in the parser :). Let's hear what the others have to say on this, then I'd be superhappy to tackle it.

[2016-03-26 11:40] whatyouhide commented on #4417
@ericmj will open a PR for variables then :).

[2016-03-26 11:46] josevalim commented on #4419
Let's do a small step first and handle it in the parser. I am not
necessarily against an unary ?/1 but I worry with certain ambiguities like
the meaning of "? A" or "?1" or "?foo".

On Saturday, March 26, 2016, Andrea Leopardi <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-03-26 11:48] whatyouhide commented on #4419
@josevalim ok, I'll open a PR in a while :)

[2016-03-26 20:22] josevalim opened #4433 "Replace String.lstrip/rstrip/ljust/rjust that works on code points on versions that works on graphemes"

[2016-03-27 14:28] Gobiner opened #4435 "Improve error message for syntax error in anonymous fn pipe"
### Current behavior

[code]
[code]

The necessary syntax to use anonymous functions in this kind of situation is not obvious (to me, at least) and the error message from the compiler doesn't help. My intuition is that I'm "piping values through functions"; my intuition is not that I'm using a macro to rewrite my function calls, and of course my anonymous function needs to be called instead of mer

[2016-03-28 10:05] josevalim commented on #4435
I don't mean this in a negative way but you will need to adjust your intuition. The issue with supporting "anonymous functions" is that we would only support literal ones. For example, if you write this:

    var = (fn x -> x + 5 end)
    5 |> var |> IO.puts

It is not going to work as expected. It will try to call the local function `var()` and not the anonymous function. And there is no way to s

[2016-03-28 11:03] wobh commented on #4390
Some belated findings and stuff I'm not sure how to integrate:

Working with the standard NormalizationTest.txt was a little too complicated for me to start off with. I wrote tests based on the existing files and some code for integrating them in this repo here:

https://github.com/wobh/elixir_unicode_import

I've put results of the compose and decompose tests here:

https://gist.github.com/wobh/f

[2016-03-28 11:20] josevalim commented on #4390
Great work @wobh! I am looking at the Unicode Data file and the definition for 015D seems correct:

    015D;LATIN SMALL LETTER S WITH CIRCUMFLEX;Ll;0;L;0073 0302;;;;N;LATIN SMALL LETTER S CIRCUMFLEX;;015C;;015C

From where the 0074 (`t`) we see in Composition.txt and Decomposition.txt are coming from then?

[2016-03-28 11:23] josevalim commented on #4390
To be clear, here is what we have in the decomposition.txt file: `015D;0074;0302;;;`

[2016-03-28 11:37] josevalim commented on #4330
You can look at `escript:parse_file/1` for ideas on how we can validate them. I believe we don't need to consider all formats for now but only the one generated by `escript.build`. Source: https://github.com/erlang/otp/blob/maint/lib/stdlib/src/escript.erl#L403

[2016-03-28 18:18] wobh commented on #4390
I must be doing something wrong in the testing. It does seem unlikely that there are errors in the `UnicodeData.txt` and a sample of the errors I did get aren't in there either:

Decomposition.txt:130: `015D;0074;0302;;;` should read `015D;0073;0302;;;`

[code]

... and yet that's not one of the composition errors or decomposition errors I was getting.

Here's one that was:

Composition.txt:466: `

[2016-03-28 19:38] josevalim commented on #4390
Some of the failures may be because we are not considering the exclusions list. I agree the tests should be part of our suite but I suggest to have a single test instead of generating tests dynamically. You can pass a second argument to `assert` to get a better error message. :)

[2016-03-28 22:55] josevalim commented on #4390
I have fixed this in master by fetching the data from UnicodeData.txt on every run. Here is the commit: https://github.com/elixir-lang/elixir/commit/664feb180281f4d22feba61674f7de0cc4d270d9

Some testing will be really appreciated to make sure we got everything right before a v1.2.x release. Thank you so much @wobh for the proof of concept and insights, it was really helpful. If you can run the No

[2016-03-29 03:03] wobh commented on #4390
I'm getting a compile error:

[code]

[2016-03-29 03:10] tuvistavie commented on #4390
Maybe try cleaning and rebuilding, the function must be defined during bootstrap, so if you bootstrapped with an older version this may occur.

[2016-03-29 03:18] wobh commented on #4390
Thanks!

[2016-03-29 08:22] wobh commented on #4390
I'm going to make a PR that adds a few normalization and equivalence tests. I've verified that the latest master does not have the issues we saw earlier.

[2016-03-29 08:27] wobh commented on #4390
Maybe I can take the elixir-unicode-import project I started and turn it into a library for tooling, testing, and providing unicode properties to characters.

[2016-03-29 08:59] josevalim commented on #4390
@wobh I have written this script at the root of your project:

[code]

Unfortunately it gives 430 failures, two of them are errors I will look into fixing now.

[2016-03-29 10:43] whatyouhide commented on #4435
I'm slowly but steadily looking into this :)

[2016-03-29 11:39] josevalim commented on #4390
I have pushed a bunch of commits to Elixir master that fixes all pending issues. We are now passing all normalization tests. :)

[2016-03-29 11:39] #4390 closed

[2016-03-29 14:35] wobh commented on #4390
Fast work!

[2016-03-29 23:02] whatyouhide commented on #4417
We can keep this open for private functions and unused imports, but I don't think there's an easy solution for those; if others agree to that, we can close this :).

[2016-03-29 23:05] #4417 closed

[2016-03-30 11:53] #4435 closed

[2016-03-30 13:05] josevalim opened #4451 "Allow matching on ExUnit setup/setup_all blocks"
For example:

    setup %{login_as: username} do
      # ...
    end

will only be invoked if the context as the given key. We should also support guard clauses:

    setup %{login_as: username} when is_binary(username) do
      # ...
    end

/cc @chrismccord

[2016-03-30 13:35] tuvistavie commented on #4451
I would like to give this one a try if nobody is on it yet!

[2016-03-30 13:39] lexmag commented on #4451
Please go ahead.

[2016-03-30 14:08] ericmj commented on #4451
This could be confusing since multiple setups does not generate clauses, instead they just create new functions. Notice the difference in behaviour between functions and setups:

[code]

For the function only one clause will run if the argument matches `%{login_as: ...}`, for the setup both blocks will run.

[2016-03-30 14:12] josevalim commented on #4451
I thought about it but I thought it was still worth it because today there is a lot of code like this:

    setup context do
      if username = context[:login_as] do
        ...
      else
        :ok
      end
    end

Maybe we could have something like `setup_matching` but I am not convinced. Thoughtss?

[2016-03-30 14:19] josevalim commented on #4451
Btw, the reason why it may not be a problem is because we know that

    setup context do
    setup context do

will run both setup blocks.

[2016-03-30 14:20] lexmag commented on #4451
Hmm, as for me, today's `if` way feels good enough. I have nightmares about deeply nested `before`-callback hell in RSpec where global state mutates. :bowtie:

Thankfully we don't do nesting, thus in my rating `if` >= `setup` > `setup_matching`.

[2016-03-30 14:22] josevalim commented on #4451
I hate the if way because we have about 4 lines of boilerplate compared to
today's solution. Sometimes it is more boilerplate than actual code.

[2016-03-30 18:54] michalmuskala commented on #4451
You could use `with` to simplify:
[code]

Maybe we could have something to reduce this `{:ok, value}` wrapping, like:
[code]

[2016-03-30 20:26] josevalim opened #4454 "Add System.os_time/0 and System.os_time/1"
They will point to `:os.system_time/0` and `:os.system_time/1`. We should improve the docs for time in general in the System module.

[2016-03-30 20:59] josevalim commented on #4451
I find the `with` proposal quite hard to read, to be honest. :(

[2016-03-30 21:08] whatyouhide commented on #4451
I'm leaning towards a :-1: on the `with` proposal as I find it hard to read as well. I'm inclined to agree with @lexmag here, a simple `if` may be more verbose but it's clear and people know what to expect from it. If we go with the proposed solution, we introduce some kind of complexity (for the reasons @ericmj mentioned as well) that we will have to document (intensively :smile:) for people to b

[2016-03-30 21:53] josevalim commented on #4454
Closing in favor of the PR.

[2016-03-30 21:53] #4454 closed

[2016-03-31 04:56] tuvistavie commented on #4451
We can already write

[code]

so the behavior of running all the clauses already exists.
Therefore, I do not think that it would really increase the complexity or make things harder to
understand if we skip the clause instead of just failing with a `FunctionClauseError`.

[2016-03-31 09:46] #4411 closed

[2016-03-31 16:11] lpil commented on #4433
Hi! From reading the title I presumed this this assertion would fail:

[code]
But it does not. What is an input in which the current implementation shows unwanted behaviour?

Thanks,
Louis

[2016-03-31 16:47] josevalim commented on #4433
@lpil the problem is the second argument. I want to propose versions where `String.lstrip("ééé abc ééé", "é")` is possible. Implementing this one in particular is quite straightforward today:

[code]

 Implementing the just versions are a bit more complicated.

[2016-03-31 16:48] lpil commented on #4433
I see, thanks!

[2016-03-31 18:39] bjfish opened #4461 "Investigate ExUnit performance"
I was investigating `mix test` run for the Elixir's ExUnit tests with `:observer.start`.

I found the following utilization during the test.
![screen shot 2016-03-31 at 11 29 09 am](https://cloud.githubusercontent.com/assets/110023/14186555/91c07ca4-f744-11e5-8de4-6295a02daa29.png)
The drop off to almost zero utilization in the middle of the graph is after `ParallelRequire` finishes requiring all

[2016-03-31 19:57] #4405 closed

[2016-04-01 04:41] jcspencer commented on #4330
It looks like the only per-line check performed in OTP is:

[code]
This should be enough to confirm that the file is an escript from the first few bytes.

[2016-04-01 07:47] josevalim commented on #4330
Yes, that would be awesome. :)

[2016-04-01 12:02] romul commented on #3400
I agree with @wishdev. You couldn't detect what is passed to round
`1.255 * 100` or `125.49999999999999` or `125.5 - 1.0e-14`
So, trying to fix float numbers you would introduce the issue in the cases with correct values.

[2016-04-01 12:31] ewildgoose commented on #3400
Hi, actually, could you please look VERY closely at the original report before responding further? (I mean this respectfully, quite possibly you already have)  This thread and the related one have produced lots and lots of responses shooting from the hip and the problem is a subtle one

I think perhaps my original report is too subtle? It looks as though the arithmetic (*100, etc) is important, bu

[2016-04-01 16:16] frpaulas opened #4465 "warning msg misdirects"
### Environment

* Elixir version (elixir -v): 1.2.0
* Operating system: os x 10.11.4

### Current behavior
iex -S mix gives the following warning

for mix.exs at https://gist.github.com/frpaulas/771d87084bad800a56442f4360467556
when the issue is:  @version is undefined in deps/mock/mix.exs

defining @version in deps/mock/mix.exs clears the warning

### Expected behavior

It would be good if the w

[2016-04-01 16:29] josevalim commented on #4465
Yes, the issue is that we have CDed into that directory, which causes the warning to be out of place. I am not sure if we have a reasonable fix for this, unfortuntely.

[2016-04-01 16:37] frpaulas commented on #4465
understand

[2016-04-01 17:01] michalmuskala commented on #4465
A solution could be to print CWD with such errors in mix, if we know we'll be moving around.

[2016-04-01 17:24] campezzi opened #4466 "Compiler error when trying to use an unquoted range as a guard clause in a generated function"
### Environment

* Elixir version (elixir -v): 1.2.3
* Operating system: Mac OS X El Capitan (10.11.3)

### Current behavior

Metaprogramming: compiler errors when trying to use an unquoted range as a guard clause in a generated function, even when using `Macro.escape` to get an AST representation of said range.

---
Code:
[code]
Result:
`** (ArgumentError) invalid args for operator "in", it expec

[2016-04-01 18:19] lexmag commented on #4465
Maybe we can do something like this when `MIX_DEBUG` is set to `1`.

[2016-04-01 18:20] ericmj commented on #4465
We should wrap errors when loading the mix.exs file of dependencies.

[2016-04-01 18:21] josevalim commented on #4465
They are not errors though, they are warnings. That's the problem.

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-04-02 03:59] peteygao opened #4467 "Test translates :proc_lib crashes with neighbour with name (Logger.TranslatorTest)"
### Stack trace

[code]

### Environment

* Elixir version (elixir -v): `master` branch, commit `9cbbf8a5803210b4fd40a867c3e26b79b20da8e6`
* Operating system: `Linux 4.1.7-v7+ #817 SMP PREEMPT Sat Sep 19 15:32:00 BST 2015 armv7l GNU/Linux` This is a Raspberry Pi 2 system (CPU is an Armv7, I believe)

### Current behavior

Repro steps:
[code]

### Expected behavior

Tests should pass and Elixir bui

[2016-04-02 09:39] fishcakez commented on #4467
Thanks for the report, it looks like a race condition in the test.

[2016-04-02 13:13] felipesere commented on #4428
How would one go about solving this? Is this part of the parser `elixir_parser.yrl`?

[2016-04-02 13:14] squallified commented on #3400
I don't think there is another way to round IEEE 754 floats (except converting them to something else). Even languages that provide the option to supply the number of decimal places use the same method: [.NET round implementation](http://referencesource.microsoft.com/#mscorlib/system/math.cs,88)

[2016-04-02 13:22] tuvistavie commented on #4428
@felipesere I think the issue is in the translator. An error in the parser would probably result in a `SyntaxError`.

[2016-04-02 21:50] whatyouhide commented on #4466
I'm looking into this.

[2016-04-03 10:34] oarrabi commented on #4465
I would like to take this one if no one has started it

[2016-04-03 10:43] josevalim commented on #4465
I don't think anybody is tackling it but we also haven't agreed on a
solution. What do you have in mind Omar? :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-04-03 10:47] oarrabi commented on #4465
Honestly, I dont have a solution in mind, I am trying to get any easy, starter level, task to work on :S.
I am still not experienced in implementing features in Elixir itself.
If you know of another starter level task then point me to it please :)

[2016-04-03 10:55] josevalim commented on #4465
That's alright, @oarrabi, thanks for the interet! Because we don't have a solution yet, I will remove the Starter label for now. :)

[2016-04-03 12:59] alexeypetrushin commented on #3857
FYI had similar bug on Ubuntu 14 LTE. Elixir 1.2.3, Mix 1.2.3.

It build fine for dev, but when I tried prod it failed.

[code]

Resolved it with this command:

[code]

[2016-04-03 14:13] ericmj commented on #4465
We can capture any output from loading the file and then print it with `Mix.Shell` which will print print the app name.

[2016-04-03 14:56] josevalim commented on #3857
It seems to be related to the rebar version. @devinus, is that file
strictly necessary?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-04-03 16:14] ericmj commented on #3857
That file is not part of the poolboy project, rebar creates it.

[2016-04-03 18:33] josevalim commented on #4465
That's a lot of code for this feature. We would need to capture both stdio and stderr. There is a chance for introducing bugs and I don't think the amount of code is worth it.

[2016-04-03 18:54] michalmuskala commented on #4465
I'd say that having errors or warnings originating at a location that can't be easily identified is pretty bad, so some solution to this is needed - we can't leave it like this.

[2016-04-03 19:56] josevalim commented on #4465
Let's also remember that Mix will show something like `==> deps name` when doing something inside a dependency.

[2016-04-03 19:58] ericmj commented on #4465
@josevalim That's the issue actually. We don't show that when loading the mixfile of a dependency because the output doesn't go through Mix.Shell, hence we need to route stdout and stderr through Mix.Shell.

[2016-04-03 20:03] josevalim commented on #4465
If there was an error, it would show the dep info. And if you compiled anything afterwards, it would also show it. I think a bit more info with MIX_DEBUG=1 would be enough to settle this.

Again, routing the stdout and stderr is a lot of work and very error prone because even if we start routing, we would need to somehow match on paths being printed, like "mix.exs:9" and convert them to the full p

[2016-04-03 20:40] vothane opened #4471 "IO.inspect in iex incorrectly displays elements in a list"
IO.inspect in iex incorrectly displays elements in a list, particularly elements that contains identical pairs of certain numbers. See example below.

http://elixirplayground.com?gist=4e34a25eb7471b386596a16c9b6fd3af

[2016-04-03 20:43] whatyouhide commented on #4471
This is not `IO.inspect/1` incorrectly displaying elements in those lists; it's that lists of integers such as `[10, 10]`, where all integers can be interpreted as codepoints for printable characters (`10` would be `\n`) are printed as such in Elixir.

[2016-04-03 20:57] wojtekmach commented on #4471
@vothane because Erlang's "strings" are char lists (lists of integers), which Elixir needs to support, that ambiguity will always exist and Inspect is simply doing a best effort job of trying to display the right thing. You can force it to display the list of integers using this:

[code]

When inspect output seems weird, you can use the `i` helper which should provide you with more information. In

[2016-04-03 20:57] ericmj commented on #4465
I am not suggesting rewriting paths inside strings, that's very error prone and fragile. I am simply saying that we should print `==> app name` for all output from dependencies. We do not rewrite paths or stacktraces for any errors from dependencies, we just write `==> app name` before so we should do the same here.

[2016-04-03 20:57] #4471 closed

[2016-04-03 21:08] devinus commented on #3857
What @ericmj said.

[2016-04-04 00:37] eksperimental commented on #4471
This is by far the "bug" (actually a feature) that gets more times being misreported
Linking to the FAQ hoping it will help avoid misreports in the future https://github.com/elixir-lang/elixir/wiki/FAQ#4-why-is-my-list-of-integers-printed-as-a-string

[2016-04-04 11:57] sandeshsoni commented on #4161
@lexmag @fishcakez @ybur-yug
Could you have a look at the diff here https://github.com/elixir-lang/elixir/compare/master...sandeshsoni:4161
Suggest changes required. Add your comments.

If no changes required, then I can squash the commits and submit a pull request.

[2016-04-04 14:16] bjfish commented on #4461
I did a proof of concept where files are required in parallel with running the tests. On its own, this change did not significantly improve performance or utilization.  It is nice to see the test suite starting immediately with no delay in seeing the first test success `.`.

I did find test performance/utilization being affected by the number of cases that could be run at a given time (`max cases`

[2016-04-04 14:35] Steve-O-Cassels commented on #4266
Hi there, I've upgraded to Elixir 1.2.4 on Win 10, (not using choco) and with the following steps in cmder

$ chcp 65001
$ iex
iex(1)> ?ł

The CLI hangs.

If I instead:

$ chcp 65001
$ iex --werl
iex(1)> ?ł

I get the correct codepage of 322 whilst in the erland cli

[2016-04-04 14:40] OnorioCatenacci commented on #4266
Yep.  Known issue.  It's an issue with Erlang not Elixir.  The only
solution is to use werl (which you've found for yourself).   And, I just
tried pasting ł into the Erlang CLI and it hangs for me.  It's an Erlang
issue.

On Mon, Apr 4, 2016 at 10:36 AM, Steve-O-Cassels <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2016-04-04 15:15] josevalim commented on #4266
There is also an environment variable you could set to always start in WERL.

[2016-04-04 15:23] OnorioCatenacci commented on #4266
That's a good point José.  Thanks for the reminder!

On Mon, Apr 4, 2016 at 11:15 AM, José Valim <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2016-04-04 16:43] Maikon opened #4473 "Allow String.replace to replace multiple parts of a string with multiple values."
This is a feature that I know [Ruby](http://ruby-doc.org/core-2.1.4/String.html#method-i-gsub) and [Clojure](https://clojuredocs.org/clojure.string/replace#example-542692d7c026201cdc327100) provide that is quite handy. I'm not aware of a way that this can be done in Elixir currently and I am keen to see what the community thinks about implementing something like this.

How would this look?

[code]

[2016-04-04 17:03] josevalim commented on #4473
Would your implementation also work when the second argument is a string?
If not, it should likely be added only to the regex module. Also, don't
forget to generally send proposals to elixir-Lang-core.

On Monday, April 4, 2016, Makis Otman <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-04-04 17:52] Maikon commented on #4473
Ah apologies Jose, wasn't sure where to bring it up. I can move the discussion there if desired?

To answer your question, yes the implementation I have works when the second argument is a string so it behaves as it currently does.

[2016-04-04 17:57] josevalim commented on #4473
Please send a PR then. :) Let's discuss the implementation and move forward based on that. Thank you!

[2016-04-04 17:57] #4473 closed

[2016-04-04 19:35] #4419 closed

[2016-04-05 00:51] peteygao commented on #4467
No problem, glad to help :smile:.

[2016-04-05 14:06] mschae opened #4476 "Obscure error message when using with"
### Environment

* Elixir version (elixir -v): 1.2.4
* Operating system: Mac OS X, 10.11.4

### Current behavior

Currently omitting arrows or equal signs in with clauses yields the following error:

Example:
[code]

Error:
[code]

### Expected behavior

Being spoiled by the high quality of other error messages in Elixir, I would've expected the error message to tell me what I am doing wrong and h

[2016-04-05 14:16] whatyouhide commented on #4476
I think this is fixed on master?

[2016-04-05 14:16] mschae commented on #4476
Might be, sorry if it is, didn't find a related issue.

[2016-04-05 14:18] josevalim commented on #4476
Fixed in master, just checked :)

[2016-04-05 14:18] #4476 closed

[2016-04-05 14:18] mschae commented on #4476
Sorry about that...

[2016-04-05 14:19] whatyouhide commented on #4476
No worries @mschae, btw for reference I *think* it was fixed in https://github.com/elixir-lang/elixir/commit/92bbb10a. :)

[2016-04-05 21:05] josevalim opened #4479 "GenServer.call/3 should raise a nice error message if you try to call yourself"
@fishcakez I think this would be really helpful but I am afraid of changing today's semantics. Thoughts?

[2016-04-06 09:40] ahamez opened #4481 "Logger and dialyzer"
* Elixir version (elixir -v): Elixir 1.2.4
* Operating system: OS X 10.11.4

When configured to check unmatched returns, dialyzer complains about each usage of Logger: `Expression produces a value of type 'ok' | {'error',_}, but this value is unmatched`.
It's possible to overcome this problem by typing `:ok = Logger.info "...."`, but it's cumbersome.

Static analysis is the key for a robust system

[2016-04-06 10:59] whatyouhide commented on #4481
The slippery slope with regard to `!` is that you may (and *often* I would add) want to just log and don't care if it fails or goes well. `:ok = Logger.info(...)` has a specific semantic: it will fail with a `MatchError` if `Logger.info/2` returns `{:error, _}`. For this reason, we can't just go our merry way and change all `Logger` calls to match `:ok`, as this is not the semantics they currently

[2016-04-06 11:32] ahamez commented on #4481
Yes, indeed it works, but between `:ok = Logger.info` and `_ = Logger.info`, there's not so much difference, it still feels awkward, just for logging, no? (Granted, the first one can fail)

[2016-04-06 11:39] whatyouhide commented on #4481
@ahamez I feel like failing or not failing is quite a huge difference! :) I don't think crashing the process if logging fails is an acceptable behaviour in many (if not most) applications.

[2016-04-06 13:31] bjfish opened #4483 "Path.expand/2 appears slow"
### Environment

* Elixir version (elixir -v): 1.3.0-dev
* Operating system: Max OS X
* Found while investigating #4461

### Current behavior

While profiling tests, I found that `'Elixir.Path':do_absname_join/4` appears as the slowest function for many profilings. The `Code.require_file "test_helper.exs", __DIR__` that appears in every test will call `Path.expand` which calls `Path.absname`.

For

[2016-04-06 13:38] ericmj commented on #4483
Can you include units in your profile results? I have no idea what those numbers mean.

[2016-04-06 13:42] bjfish commented on #4483
@ericmj I've added more information which I hope explains the units.

[2016-04-06 13:44] ericmj commented on #4483
You showed the units of the benchmark but not the profile results.

Although `Path.expand` can likely be optimized a 25x execution time difference can be expected between Elixir and C code depending on the task. If you would like to try to optimize the function please go ahead.

[2016-04-06 14:00] josevalim commented on #4483
Yes, improvements are always welcome but I don't think it is an "issue" per se. There are many places we can optimize, so let's do it whenever we can. :D

[2016-04-06 14:00] #4483 closed

[2016-04-06 14:27] bjfish commented on #4483
I agree, I think this is good to close. Way too much of a micro-optimization.

Once I figured out to aggregate all function calls during a test run, it became apparent that this little function call doesn't have a big effect, less than 0.01% of total time :
[code]

[2016-04-06 14:29] josevalim commented on #4483
In your profile, you are seeing a lot of results you should not because you are defining the module in the same file that you profile. Read the docs for mix profile.fprof for more info.

[2016-04-06 18:57] josevalim commented on #4481
If you are using dialyzer, then you should explicitly handle its requirements. That's going to be preferable than hiding the warnings behind Logger.info!, specially because, as @whatyouhide side, you likely want to use `_ = Logger.info`.

[2016-04-07 08:55] ahamez commented on #4481
OK, I'll go the `_ = Logger....` way, even though it feels awkward just for logging. Maybe I'll come up with some macro to hide this.

[2016-04-07 15:15] bjfish commented on #4461
I've rewritten my previous proof of concept (POC) of requiring tests in parallel while running tests and have now found an estimated improved run times by  about 10% when tuned with `max_cases 32` and  about 15% when adding `+A 64`.

I think I'm close to concluding this investigation. There's just a two more questions I'd like to answer first:

- Is there an efficient way to get `@ex_unit_async` o

[2016-04-07 15:38] josevalim commented on #4461
Great job @bjfish! Are the benefits only for increasing max_cases or when you both increase max_cases and allow tests to start immediately?

Btw, currently there is no way to get all async cases.

[2016-04-07 16:20] bjfish commented on #4461
Changing max cases alone doesn't appear to have much of an effect. I measured the following timings on the Elixir test suite:
[code]

[2016-04-07 17:43] martin-langhoff opened #4490 "Elixir recompiles unchanged files under Vagrant with VirtualBox 'vboxsf' /vagrant mountpoint"
### Environment

* Elixir version (elixir -v): Elixir 1.2.3 (also v1.2.1 and 1.2.2)
* Operating system - guest: CentOS7 (guest) and CentOS6 (guest)
* Operating system - host: Fedora 21, 22, 23 (host), VirtualBox 4.0.x and tested up to 5.0.14

Similar behaviour observed on MacOS X hosts.

### Current behavior

Every `mix compile` acts as if all files needed recompilation. This seems to be related t

[2016-04-07 21:16] ericmj commented on #4490
If you run `ls -l lib` and `ls -l _build/dev/lib/[APP]/ebin` are the source file and compile artifact mtimes what you would expect? Source files should be older than compile artifacts unless they were changed since the last compile.

[2016-04-07 23:11] eksperimental opened #4492 "IEx: Autocompletion doesn't work when `@moduledoc false` but functions are documented"
_I'm still not sure whether it's the intented behaviour, or not..._

Take for example `Mix.Compilers.Elixir`, which is set to `@moduledoc false`.

When on iex, type the `h` command, and start typing, autocompletion will not work, only until i reach the module where this function is in (this case `h Mix.Compilers.Elixir.`<kbd>Tab</kbd>)

[code]

I think that if the docs are going to be available vi

[2016-04-08 00:59] stavro opened #4493 "Raise when redefining ExUnit test cases"
### Raise when redefining ExUnit test cases
Elixir: 1.2.0

I've been bitten by this multiple times through copy/pasting test cases, where two test cases end up with the same name.  Especially since I'm not aware of any context blocks, or ways of grouping tests cases under a nested structure (a la RSpec's `context` block).

[code]

When running the suite, there is a **warning** reported, but the se

[2016-04-08 05:49] tuvistavie commented on #4451
I just opened a PR, so maybe we can continue the discussion there?

[2016-04-08 07:49] eksperimental opened #4497 "`mix local.hex` improve message when replacing existing archive"
[code]

only after I hit <kbd>Y</kbd>, I know what I'm gonna replace that archive with

[code]

I think a message like this will help:
`Are you sure you want to replace them with hex-0.11.5.ez? [Yn]`

Also mix consider them a more than one archive, when it mentions "them".

[2016-04-08 07:49] eksperimental commented on #4497
I will submit a PR

[2016-04-08 07:58] josevalim commented on #4493
We had this discussion when we added the warning. The thing is that tests are functions (maybe we should make it clearer) and we can see that in examples like:

    test "foo", %{foo: foo} do

If there is no foo key, it will fail.

Furthermore, most of the warnings you may get in your test suite may indicate you are not testing what you were supposed to. This is definitely just one of them (same f

[2016-04-08 07:58] #4493 closed

[2016-04-08 08:02] josevalim commented on #4492
That's because mix is not a loaded application. IEx can only load modules from loaded applications. If you try to autocomplete it under `iex -S mix`, then it works. :)

[2016-04-08 08:02] #4492 closed

[2016-04-08 12:14] ciaran opened #4498 "Allow interpolation of regex to compose patterns"
Being able to embed regex through interpolation allows us to compose patterns from smaller components:

[code]

I think this is a useful feature to have.

In Ruby, interpolating as above would result in the following pattern:

`/(?-mix:\d+)|(?-mix:.+@.+)/`

I’ve created a proof of concept of this functionality using a `String.Chars` implementation: https://gist.github.com/ciaran/a4243d32d9790d60f2

[2016-04-08 12:52] whatyouhide commented on #4498
Regexes don't have `/this/` syntax in Elixir, they're expressed with the `~r` sigil (e.g., `~r/.*/`). This sigil supports interpolation *of strings* (like many other lowercase-letter sigils like `~w` and `~s`), not of other regexes, so you can easily do this:

[code]

[2016-04-08 12:55] ciaran commented on #4498
I wrote the example as ruby initially and forgot to add the sigils.

This feature is to add interpolation of regexes inside of other regexes, which I believe to be useful on top of the existing string inside regex interpolation, as it allows a regex to be used on its own, and also used in composition of a larger pattern.

[2016-04-08 12:56] benwilson512 commented on #4498
Right as I understand it the string based interpolation thing doesn't provide the desired result:

[code]

vs
[code]

[2016-04-08 12:57] whatyouhide commented on #4498
@benwilson512 yep, I already updated my comment to explain this :)

[2016-04-08 12:58] josevalim commented on #4498
Please use the core mailing list for feature discussion. I would be OK with
supporting something similar but the trick part is about ensuring regex
modifiers like /uim and so on are part of the interpolation.

On Friday, April 8, 2016, Ciarán Walsh <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-04-08 13:01] ciaran commented on #4498
I’ll move this discussion to the mailing list.

[2016-04-08 13:01] #4498 closed

[2016-04-08 13:04] josevalim commented on #4498
Perfect, thank you! Try to do a quick prototype if you are interested. An
initial version could simply implement String.Chars for Regex. The tricky
part is precedence and ensure they compose under all kinds of situations
like modifiers outside /uic and inside ?:mix of the regex . :)

On Friday, April 8, 2016, Ciarán Walsh <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<

[2016-04-08 13:06] ciaran commented on #4498
That prototype was linked in the original note :)

[2016-04-08 13:16] ericmj commented on #4497
This is my output when running the task:

[code]

Did you run master? There has been changes around this since the last stable release.

[2016-04-08 13:27] martin-langhoff commented on #4490
After a build things look normal to me (see below), yet calling compile again will recompile everything.
[code]

[2016-04-08 13:34] martin-langhoff commented on #4490
Any hint as to what code in Mix/Elixir I could/should instrument to gain some insight on this? Files are on different (and perhaps odd) mountpoints, so  checks might be returning unexpected values...

[2016-04-08 13:39] ericmj commented on #4490
`lib/mix/tasks/compile.elixir.ex` and `lib/mix/compilers/elixir.ex`. Notice the calls to `Mix.Utils.stale?/2` and `Mix.Utils.last_modified/1`.

[2016-04-08 13:39] josevalim commented on #4490
@martin-langhoff I would also inspect the .compile.* files that can be found inside _build/dev/lib/YOUR_APP as well as the mix.exs and mix.lock files. Here is the bulk of the code that does the checking: https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/tasks/compile.elixir.ex#L63

[2016-04-08 13:45] josevalim commented on #4498
I am sorry @ciaran, I missed the prototype in your first message because I was reading from my phone. In any case, I think the mailing list is the proper medium for this discussion, so we can continue it there. :)

[2016-04-08 13:54] martin-langhoff commented on #4490
Thanks! I'll look into instrumenting `Mix.Utils.stale?/2` and report back.

[2016-04-08 17:09] papylhomme opened #4499 "Umbrella project enforce path name as application name"
Hello,

I'm using an umbrella project where application names are different from their directory names. No technical reason, nor any technical problem either, it's more of a nomenclature thing: Umbrella project is called _habitat_ with 2 subdirectories _core_ and _web_, where application are named respectively _habitat_core_ and _habitat_web_ to avoid an eventual clashing of application names.

Ru

[2016-04-08 20:17] michalmuskala commented on #4499
I believe I was complaining about the exactly same thing. It seems the main issue is that the `mix.exs` is loaded further down the road and is not available at that point.

I proposed I would be perfectly fine with specifying the name/path in the umbrella's `mix.exs` config:

[code]
I'm not sure though how ward would it be to implement something like that.

[2016-04-08 20:58] josevalim commented on #4499
Can we please move this discussion to the mailing list? I think we need to put some more visibility into it and the elixir-lang-core mailing list is a perfect place to do that. Other than that, @michalmuskala  solution would be fine and is relatively straight-forward to implement.

Thank you!

[2016-04-08 20:58] #4499 closed

[2016-04-09 06:32] HaFoLuoKe opened #4500 "[question] mix hex.info error"
My OS is MacOS . I got a elixir project from github
under the project folder, run make
[code]

then I run mix hex.info, I got the response:

[code]

please teach me how to fix it. I've trying for few days.
thanks very much

[2016-04-09 08:39] josevalim commented on #4500
@HaFoLuoKe where are you based? Maybe there are proxies or timeouts blocking your access?

/cc @ericmj

[2016-04-09 08:43] ericmj commented on #4500
It's usually a proxy issue if you consistently get connection errors. If you use a proxy make sure it's set up correctly and that you have set the environment variables for it.

[2016-04-09 08:46] josevalim commented on #4500
@ericmj do you have a link or a command we can run to get information on the proxy configuration?

[2016-04-09 08:47] dmitryU commented on #4497
I have the same problem. Running on Windows:
[code]

[2016-04-09 08:48] ericmj commented on #4497
@dmitryU Are you running on master?

[2016-04-09 08:53] dmitryU commented on #4497
I'm using version 1.2.3. Just downloaded elixir-master:
[code]

[2016-04-09 08:54] ericmj commented on #4497
If you aren't using elixir master it's expected to not get changes that are only in master :).

Suggesting we close this unless there are other changes needed?

[2016-04-09 08:59] dmitryU commented on #4497
I'm tested it on the master, see my previous comment :)

[2016-04-09 09:00] ericmj commented on #4497
But mix reported version 1.2.4, master is on 1.3.0-dev.

[2016-04-09 09:02] ericmj commented on #4500
@josevalim I don't, maybe we should print this when set `MIX_DEBUG=1` is set?

[2016-04-09 09:09] josevalim commented on #4500
Why wouldn't we print it always that fetch the registry fail? We could say:

Registry update failed (http_error). This may happen if you don't have internet connection or if you are behind a proxy that may intercept external connections. Please run `mix help hex.config` for more information on using mirrors or setting up proxies.

Thoughts?

[2016-04-09 09:11] josevalim commented on #4497
I can confirm it is fixed in master:

[code]

:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-04-09 09:11] #4497 closed

[2016-04-09 09:39] ericmj commented on #4500
@josevalim I misunderstod you, I thought you meant a command printing the configuration. But you meant guiding the user to documentation for the configuration?

[2016-04-09 10:13] josevalim commented on #4500
Yes, the latter. We get those reports frequently. :)

On Saturday, April 9, 2016, Eric Meadows-Jönsson <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-04-09 20:01] ssbb opened #4502 "Unclear error message for undefined method name"
### Environment

* Elixir version (elixir -v): Elixir 1.2.4
* Operating system: OS X 10.11.4 (15E65)

### Current behavior

I just followed this example:

[code]

and made a mistake in `words` function. Instead of `Dict.keys` I wrote `Dict.Keys` (capitalized). I got this error:

[code]

### Expected behavior

Should it be something like `Module Dict does not have method Keys`?

[2016-04-09 20:08] josevalim commented on #4502
Thanks for the report.

`Dict.Keys` is called an alias. Invoking an alias is simply not possible, the parser does not support it and that's why it is a syntax error. Another way to put it, there is no straight-forward way to invoke a function named "Keys", that's why the proposed error message feels like a mismatch. :)

The syntax errors could arguably be better but that's a major effort we don't