[2016-04-09 20:08] #4502 closed

[2016-04-10 15:10] #4481 closed

[2016-04-10 23:39] HaFoLuoKe commented on #4500
Thanks for your responses。I am in china。atcually, I access internet through proxy because we have 'great fire wall'。Now I closed my proxy, But I also cannot run the command。I think a way to check the connectivity, or a package to let we can install the components locally will be helpful。
Thanks for the responses again。

[2016-04-11 10:27] #4428 closed

[2016-04-11 15:38] aaronjensen opened #4506 "Reenable documentation for Kernel.Typespec?"
The documentation for `Kernel.Typespec` was disabled here https://github.com/elixir-lang/elixir/commit/f1d4d5b034bd47d6488b808766f25a3f6fd82683, but it still has some useful functions such as `beam_types/1` https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel/typespec.ex#L226

Is there a reason these are "undocumented"?

[2016-04-11 15:39] bjfish commented on #4159
Would `ExUnit.configure` work for this: https://github.com/elixir-lang/elixir/blob/master/lib/ex_unit/lib/ex_unit.ex#L213
https://github.com/parroty/excheck/blob/master/lib/excheck.ex#L26

Or an init option for CLIFormatter:
https://github.com/parroty/excheck/blob/master/lib/excheck/formatter.ex
https://github.com/elixir-lang/elixir/blob/master/lib/ex_unit/lib/ex_unit/cli_formatter.ex#L11

[2016-04-11 16:33] Troush commented on #4506
There is still documentation for ```Kernel.Typespec```. https://github.com/elixir-lang/elixir/commit/f1d4d5b034bd47d6488b808766f25a3f6fd82683 moved only "How to" to docs pages. But function documentation still there. See https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel/typespec.ex#L226

[2016-04-11 17:08] josevalim commented on #4506
We are considering making those private in the long term. Feel free to use them at your own risk, we likely won't change anything before Elixir 2.0 anyway because they were public at some point during 1.x.

[2016-04-11 17:08] #4506 closed

[2016-04-11 18:49] michalmuskala opened #4509 "Restart applications when running recursive tasks"
### Environment

Erlang/OTP 18 [erts-7.3] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.2.3

### Current behavior

When a recursive task, such as `mix test` is running, all the applications in the umbrella are started only once at the beginning and are kept running while the task recurses.

This makes it impossible to call tasks that expect the app not to be ru

[2016-04-11 19:31] josevalim commented on #4509
@michalmuskala I am not sure this is something we should do. Maybe you should run it with `--no-start` and eventually start when you want to?

[2016-04-11 19:40] josevalim commented on #4159
I don't think we want to do it in the formatter because the same suite can have both tests and properties. It is more about allowing a different kind of thing to be defined in ExUnit.

[2016-04-11 19:53] michalmuskala commented on #4509
The biggest problem for me is that it's completely inconsistent - it works for the first app, but fails for the next one.

I also don't think we should keep things between runs - this may create situations where `mix test` works for each app independently, but fails when running from umbrella.

I always considered recursive task to be somewhat equivalent to running:
[code]

[2016-04-11 19:55] josevalim commented on #4509
Well, it isn't equivalent to that because the state will be carried around. Can we talk about your particular issue? Which state is being carried over?

[2016-04-11 20:02] michalmuskala commented on #4509
Let me explain the full issue:

With ecto 1.1 I could reset the database for tests in `test_helper.ex`. That method unfortunately does not with with 2.0, because by the time we get to the `test_helper.ex` the connections are already established. Alternative solution, that is advised, is to setup a mix alias for test that will reset the database. This works perfectly with normal application or in u

[2016-04-11 20:06] eksperimental commented on #4497
sorry for the false alarm I didn't run it from master

there's one caveat,
[code]

My local hex was up to date, still offered to install it.
Woudln't it be better to check for an sha1 hash and avoid downloading an exact copy of what we already have in the system

[2016-04-11 20:06] josevalim commented on #4509
Let's solve this in Ecto. :)

[2016-04-11 20:06] #4509 closed

[2016-04-11 20:07] ericmj commented on #4497
How would we hash the archive without downloading it?

[2016-04-11 20:12] eksperimental commented on #4497
I haven't looked at the code, so I have no idea of the internals, but when you request the url of the latest archive, wouldn't it be possible to obtain its hash from the server?

[2016-04-11 20:14] ericmj commented on #4497
Yes, we already do that because we sign that hash, but it seems like an unnecessary optimization? We already do one request to the server, I don't think it matters much if we do one more.

[2016-04-11 20:20] ericmj commented on #4509
@josevalim Why shouldn't we test individual umbrella children in isolation? State from one test run can affect the tests of another app.

[2016-04-11 20:20] eksperimental commented on #4497
I find it unnecessary to ask the user if he wants to download something that's already there.
it's not so much about the requests but about the bandwidth on both sides (specially on the user side).

Actually I think it would be best not to open up the dialog at all, and finish straight away if we could manage to get the hash.

[2016-04-11 20:24] ericmj commented on #4497
If you want to work on it please send PR but I don't find it's high priority at this time.

[2016-04-11 20:27] eksperimental commented on #4497
Sure! I will give it a try.
Will contact you if I have questions regarding the server side

thank you

[2016-04-11 20:32] ericmj commented on #4497
No problem, thank you.

I believe everything should already be there for you in the csv file with hashes but feel free to ask any questions.

[2016-04-12 03:50] aaronjensen commented on #4506
@Troush when [`@moduledoc false` is set](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel/typespec.ex#L2), the docs don't actually get generated.

@josevalim fwiw [this](https://groups.google.com/forum/#!topic/elixir-lang-talk/gI8sGkfmObc) was my reason for using `beam_types/1`. We're using it for now in this way (to fill the atom table with atoms used in structs' typespecs

[2016-04-12 10:07] miwee opened #4511 "GenServer should give a warning, if init/0 callback is defined instead of init/1"
In this case callback init routine not required any args, I mistakeny defined a init/0 function. Since use GenServer, injects a default init/1 function, in case init/1 is not defined by callback module. So I thought I've defined init callback but it was not used at all. Genserver was using default init/1 function.

It took a while to figure out that I needed to define init, with args as input, eve

[2016-04-12 10:14] fishcakez commented on #4511
It is very easy to make an error in the arity of a callback when using `use GenServer`. An alternative is to `@behaviour GenServer` and define all callbacks by hand. I guess `handle_call/2` (missing `from`) and `handle_cast/3` (including `from`) might be other common ones. I am concerned about false positives though.

[2016-04-12 10:23] josevalim commented on #4511
Yes, there is nothing we can do. Someone may as well have defined `init/0` on purpose.

[2016-04-12 10:23] #4511 closed

[2016-04-12 11:59] TBK145 commented on #4511
Isn't it possible to define `init/1` as `def init(args \\ []) do`?

[2016-04-12 17:20] Troush commented on #4330
Added ```is_escript``` implementation and check before writing to disk https://github.com/Troush/elixir/commit/9b1d833888263ed2f7b57d8023530620368e709b

Do this is what we want? Or not?

[2016-04-12 17:53] josevalim commented on #4330
@Troush that's a step in the proper direction. We probably want to define that here though:

https://github.com/Troush/elixir/blob/9b1d833888263ed2f7b57d8023530620368e709b/lib/mix/lib/mix/tasks/escript.install.ex

The place you changed is shared by both archives and escripts and I think we could make it escript only.

[2016-04-12 22:23] martin-langhoff commented on #4490
Apologies for the delay! Seems like I am getting closer. The `.compile.elixir` and `.compile.lock` files are the ones that end up with odd timestamps, leading to a full rebuild every time we call `mix compile`.

I don't fully understand how those work, guidance welcome.

How I instrumented Elixir compile:
[code]

Lightly edited output

[code]

[2016-04-12 23:32] martin-langhoff commented on #4490
The prior patch didn't tell us what the targets where. Updated to

[code]

We now get this output below, which makes me think that lib/config/indicator is a problem, it's full name is `apps/config/lib/config/indicator.ex` ; apps/config is an internal app that other apps depend on; if something in apps/config is rebuilt then everything follows.

Why is `apps/config/lib/config/indicator.ex` apparent

[2016-04-13 00:45] martin-langhoff commented on #4490
`apps/config/lib/config/indicator.ex` is empty.

I suspect a similar problem could be triggered by a file made up of comments; or enough macros/conditionals that it generates no compiled output (can Elixir code do that? I new around here :-) ).

Perhaps we could / should?

* Issue a warning if a file compilation has created no output.
* Prune the empty-output file from the list of files/modules/de

[2016-04-13 07:34] josevalim commented on #4490
Yes, that could happen! Great find!

Please open up an issue, we can easily solve this issue now that we store
compiled files to an ETS table. :)

[2016-04-13 10:57] josevalim commented on #4490
Actually, no need to open up an issue. It has been fixed in master:

https://github.com/elixir-lang/elixir/commit/e3a04eca10e2c690512552e90a23ce88d0064742

And it has been backported to the v1.2 branch:

https://github.com/elixir-lang/elixir/commit/3798dff0fca55b2a486581257831e3830e770f72

I would love if you could give it a try. Thanks for investing and reporting
the bug, Elixir is better because

[2016-04-13 10:58] #4490 closed

[2016-04-13 14:22] martin-langhoff commented on #4490
Tested 3798dff -- works for me, skips pointless recompilation on empty file, yet triggers compilation on a valid updated file, tested in a large umbrella proj with app and module deps.

_Thank you_ for amazing maintainership, help debugging various random matters on irc, mailing list, github and for the 1.2 backport. Looking at the patch, it was a fairly involved job!

[2016-04-13 14:48] josevalim commented on #4490
Glad to help @martin-langhoff! If you are using umbrella projects, I would love your feedback here:

https://groups.google.com/forum/#!topic/elixir-lang-core/uhar5L5FNBU

It is a commit after the one you just tried which hopefully will make life for those using umbrellas easier. :)

[2016-04-13 14:51] paulcsmith commented on #4461
FWIW even if the tests finished at about the same time, getting the first `.` out faster would definitely make the perceived time go down, which would be a win in and of itself. So I think running as soon as the test is ready is an awesome idea!

Great work on this @bjfish

[2016-04-13 18:18] sikanhe opened #4517 "restart: :transient does not affect Task.Supervisor.async/async_nolink"
For task supervisors, the processes can only be restarted when using start_child method. We cannot currently await on a task that we want to retry.

[code]

I understand there is a limitation that a Task is tied to a process, so it cannot possibly know about the new process that could get started. But this was unclear in the documentation.

Do you think there is a way to await on  a supervised tas

[2016-04-13 18:57] josevalim commented on #4517
Transient works. If you use Task.Supervisor.children, you will see new PIDs, showing the task is being restarted. Your conclusion is correct though, transient won't work for `async`  because it will never receive the initial request.

@fishcakez is there something we can do here? Maybe if the supervised task timeouts and the parent process is dead, maybe there is a better error message we can use?

[2016-04-13 19:54] SimonWoolf opened #4518 "Elixir 1.2: Logger crash when using `inspect` in production with protocols consolidated"
Wasn't sure whether to report this as not certain it's an elixir/logger bug rather than something I'm doing wrong (tried [slack](https://elixir-lang.slack.com/archives/general/p1460540350016716) and [SO](https://stackoverflow.com/questions/36595091/elixir-1-2-logger-crash-when-using-inspect-in-production) first), but on I figure logger crashing seems likely to be a bug that I should report even if

[2016-04-13 20:07] josevalim commented on #4518
It is failing because it thinks the function Elixir.Inspect.List.inspect/2 is not available. I would look for the following things:

1. See if Elixir.Inspect.List is present inside Elixir in the slug (or check if it is available from the console)
2. See if you are not accidentally redefining it
3. Maybe it is a failed build issue. Try pushing to heroku with the always_rebuild configuration set to

[2016-04-13 20:50] SimonWoolf commented on #4518
Hi Jose! Thanks for the quick reply :)

I'm a little confused as to how it can not be, but you're right, it isn't. `IO.puts :erlang.function_exported(Elixir.Inspect.List, :inspect, 2)` from the app prints `true` when running the app locally, but `false` in production.

Not sure how else to check if it's 'present inside Elixir'? Grepping the `_build` directory for `Elixir.Inspect.List` produces "Bi

[2016-04-13 22:29] bjfish commented on #4461
I think it could be a good change to compile and test in parallel. However, I understand if this is not a priority at the moment.

I'm not currently working on this so feel free to close this issue if you would like.

[2016-04-13 23:39] fishcakez commented on #4517
https://github.com/elixir-lang/elixir/commit/eba153d0398c6d4ac39951e76c0e4618b52b950d prevents the Task.Supervisor from reaching max restarts if the caller is dead and restarts is `:transient`. That's about all we can do in this situation.

It is not possible to await on a restarted task because the monitor reference can not be reused or new pid detected by the caller. An improvement to the docs i

[2016-04-14 06:46] josevalim commented on #4517
Thank you @fishcakez :heart:

@sikanhe you mentioned the docs were unclear, if so, please submit a pull request to improve them, we would really appreciate it. Thank you!

[2016-04-14 06:46] #4517 closed

[2016-04-14 07:21] josevalim commented on #4518
This seems to be the root cause. What does `Code.ensure_loaded?(Elixir.Inspect.List)` return?

`Elixir.Inspect.List` is provided as part of Elixir. I am assuming somewhere in your slug, the Elixir project was downloaded and compiled. I am assuming that `Elixir.Inspect.List.beam` is either missing from the elixir project (not _build) in your slug or it somehow has a bogus version.

[2016-04-14 09:17] #4330 closed

[2016-04-14 09:26] fishcakez commented on #4479
Added in https://github.com/elixir-lang/elixir/commit/cc59462e968415f09be062bf64270c3a4a1518f3 and https://github.com/elixir-lang/elixir/commit/7f948540c63da74ad5e13bb87884eb4627371f0c

[2016-04-14 09:26] #4479 closed

[2016-04-14 13:33] kzemek opened #4519 "Function clause when setting param `@impl` with env defined with config/2"
### Environment

* Elixir version (elixir -v): Elixir 1.2.4
* Operating system: OS X 10.11.5 Beta

### Current behavior

Having compile-time configs defined as follows:

[code]

and a module that sets param `@impl` that fetches the configuration:

[code]

the compilation fails with:

[code]

When initializing `@impl` using `:config3key`:

[code]

the compilation completes successfuly and `@impl` c

[2016-04-14 15:42] tuvistavie commented on #4519
The `@impl` attribute is used internally for protocols implementation, and the compilers tries to retrieve the `protocol` from it,
which is why it fails here, as obviously `:value[:protocol]` will not work.

It is simple enough to add a a meaningful error message, but I wonder if we should not
use `:__impl__` internally to avoid cases like this.

[2016-04-14 17:00] #4519 closed

[2016-04-15 06:50] shahuwang opened #4521 "There is a typo in mix doc that the environment variable should be MIX_ARCHIVES"
[http://elixir-lang.org/docs/stable/mix/Mix.html](url) In this page, the environment variable is MIX_ARCHIVE, without `s`

[2016-04-15 07:28] josevalim commented on #4521
Thank you, it is fixed in master!

[2016-04-15 07:28] #4521 closed

[2016-04-15 15:37] josevalim commented on #4500
@ericmj should we move this to hex?

[2016-04-15 17:49] ericmj commented on #4500
Yeah.

[2016-04-15 17:49] #4500 closed

[2016-04-15 19:17] pedroassumpcao commented on #2662
@josevalim your comment is from August 2015, are the plans of removing GenEvent still a thing? I am asking this as I am working with it right now, just wondering if I should consider :gen_event instead.

[2016-04-15 19:23] josevalim commented on #2662
We may deprecate it but it won't be removed before Elixir 2.0 so there is plenty of time. I wouldn't  worry about it.

[2016-04-15 20:30] vans163 opened #4522 "Support for Erlangs #rec{_ = '_' } and for record_info/2"
There is no way to set a record to be created with default fields.

ETS and  Mnesia select/match functions rely on records with all fields set to '_' to work.

In Erlang shell this can be done by:
[code]
My proposal is to allow MyRecords.test(\_: :\_) to set for example :\_ to every value, or something like, MyRecords.test() |> Record.default(:\_).  The former in a one-liner is better as the expre

[2016-04-15 20:43] whatyouhide commented on #4522
Hey there @vans163! Elixir's issue tracker is reserved for bugs in Elixir. Proposals of new features should be directed at the [elixir-lang-core](https://groups.google.com/forum/#!forum/elixir-lang-core) mailing list, where the community can discuss such features. Thanks! :heart_decoration:

[2016-04-15 20:53] vans163 commented on #4522
josevalim told me on irc I could just open an pull request or an issue, I assumed he meant github.  Also that mailing list is behind a google user wall.

[2016-04-15 21:18] whatyouhide commented on #4522
Well if @josevalim vouched for this then by all means, an issue is fine :) The mailing list is behind the Google wall, but sadly that's how it is for now :disappointed:

[2016-04-15 21:20] josevalim commented on #4522
You can subscribe to the mailing list without a Google account but they hide it the best they can. If you want to, please try this address: https://groups.google.com/forum/#!forum/elixir-lang-core/join

[2016-04-16 14:42] vans163 commented on #4522
Yea it seem I can join it eventually but to make new topic it wants a google account. Anyways just close this if its wrong place.

[2016-04-16 14:53] josevalim commented on #4522
Ouch, sorry to hear about that.

No, this is correct place as we already validated this on IRC. :)

[2016-04-17 00:18] vans163 commented on #4522
Started a pull.
https://github.com/elixir-lang/elixir/pull/4523

[2016-04-17 05:50] daewon opened #4524 "If special form do not eval 'true' clause when first argument is false."
### Environment

* Elixir version (elixir -v): 1.2.4
* Operating system: MacOS 10.11.4

### Current behavior
If special form do not eval 'true' clause when first argument is false.
but, below expression raise error

expression
[code]

stack trace
[code]

### Expected behavior
No compile error.

It should works like below code.(it works, with no error)
```if true, do: true, else: raise "do not eval

[2016-04-17 05:58] tuvistavie commented on #4524
The problem is easy to understand if you check the AST produced by your code.

[code]

which indeed does not mean anything.

So you must add parenthesis to your `raise` call to fix this.

[code]

[2016-04-17 07:10] josevalim commented on #4524
Thanks you @tuvistavie! Since there is a bug in Macro.to_string above, I will keep this open until it is fixed. :)

[2016-04-17 07:15] tuvistavie commented on #4524
@josevalim I would be glad to give it a try.
Should the correct output look something like this:

[code]

[2016-04-17 07:33] josevalim commented on #4524
Yes. We should not use the block format if there is no "do" keyword.

[2016-04-17 07:36] tuvistavie commented on #4524
Ok, I am going to take a look.
It seems we have the same problem with `catch`, `after` and `rescue`.

[2016-04-17 08:09] #4524 closed

[2016-04-17 21:52] vans163 opened #4528 "Observer with Mnesia tables does not allow editing/deleting records."
### Environment
Elixir 1.2.3

### Current behavior
With mnesia started and with at least one table present, using observer to inspect the table and edit or deleting a record fails with:
[code]

### Expected behavior
The record is edited/deleted.

[2016-04-17 22:02] edgurgel commented on #4528
Observer is not part of Elixir but erlang: https://github.com/erlang/otp#bug-reports

[2016-04-17 22:09] vans163 commented on #4528
Yea but its a bug when used with elixir. Works fine with the same mnesia database running from Erlang.

[2016-04-17 22:27] edgurgel commented on #4528
Sweet then :+1:

[2016-04-18 01:14] ericmj commented on #4528
What do you mean running from Elixir? What part of mnesia or observer is affected by Elixir?

[2016-04-18 02:41] vans163 commented on #4528
To workaround not yet having #Rec{_=> '_'} in Elixir I set the records default values to _, but apparently this is a reserved value and Mnesia cannot store values with '_' in them.

[2016-04-18 02:41] #4528 closed

[2016-04-18 08:19] c0b commented on #4083
I would like a soft deprecation warning (with a solution url for mixed language projects) in 1.3; I do have projects were pure erlang code but I switched to use elixir compiler and exrm to manage, then I started to develop new features in elixir, old code were still in erlang and I hope this warning can come with a solution url for how to declare mix project still support both languages and make s

[2016-04-18 08:27] josevalim commented on #4083
We will always support both languages, the question is which one we should attempt to compile by default. At this point, I think we should leave the compilers there by default, instead I will make sure the noop cost is as low as possible. Thank you! :)

[2016-04-18 08:27] #4083 closed

[2016-04-18 09:37] SimonWoolf commented on #4518
After some experimentation -- it seems to be random :(

- Sometimes, `Code.ensure_loaded?(Elixir.Inspect.List)` returns `true`. In this case:
 - Subsequent `function_exported(Elixir.Inspect.List, :inspect, 2)` calls return `true` for List but `false` for Map and others
 - all subsequent `inspect` calls work correctly (whether List, Map, whatever). (After a successful `inspect` of a type, the relev

[2016-04-18 10:12] josevalim commented on #4518
That's quite surprising.

When you mention "deploy" the same slug, does it compile the code every time you deploy or you are referring to the exact same compiled artifacts? Would you be able to retrieve the `.beam` file for cases where it works and where it fails and upload somewhere so we can analyze them?

Thank you for following up.

[2016-04-18 10:57] SimonWoolf commented on #4518
Sorry for ambiguity - I mean literally the exact same compiled artifacts. heroku-elixir-buildpack spits out a tarball with everything compiled, that's what I'm referring to by the 'slug'. 'deploying the slug' is just starting a docker container with the slug extracted to /app, and running [this script](https://gist.github.com/SimonWoolf/fc143bc2de24121efe5f5e020ea9eb89) (passing in `mix run --no-h

[2016-04-19 02:13] sbdchd opened #4533 "Vi style keybindings in `iex`"
In `ipython`, `irb`, and  the`python` REPL, Vi style keybindings can be enabled via the [`.inputrc`](https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File.html) file.

However, this doesn't work with `iex`.

Environment
* Elixir version (elixir -v): 1.2.4
* Operating system: OSX 10.10.5

[2016-04-19 02:57] parkerl commented on #4533
I'm not sure this is the right place for this issue but I have had good luck with `rlwrap` and vi bindings on OS X. I have this alias `alias iex='rlwrap -m ''\'' -a dummy iex`. Sorry I don't have access to all my dotfiles right now, can't remember how I have vi bindings enabled.

[2016-04-19 07:40] josevalim commented on #4533
It is not possible because we are tied to Erlang's bindings and it is not high priority to do so. :)

[2016-04-19 07:40] #4533 closed

[2016-04-19 17:27] SimonWoolf commented on #4518
After some more experimentation, turns out this bug only ever happens if the very first call to `inspect` for some datatype is done *from a cowboy handler process*.

In other words, the issue completely disappears if I do something like `Logger.debug "Some data structures: #{inspect {%{}, [], MapSet.new, 0.1, 1..2, ~r//, :a, <<1>>}}"` from one of my apps' application callback functions (on start).

[2016-04-19 18:34] josevalim commented on #4518
This is really helpful. It seems to be related to Erlang's code loading then. When building releases, we should not have such problems, as all modules are preloaded upfront. Great job and thank you!

[2016-04-19 18:34] josevalim commented on #4518
I will leave this open for now if I get a chance to investigate it later, specially to find out why it happens only with `inspect`.

[2016-04-19 19:27] parkerl commented on #4533
@sbdchd `.inputrc` is picked up by rlwrap. Using the alias above you can set `vi` mode and it works well for me in `iex`.

[code]

[2016-04-20 14:55] anronin opened #4537 "whether it is possible to add a function String.decapitalize?"
Hi! It's not an issue but the question.
Do you need such a function in the standard library?

`String.decapitalize` when you need to convert to lowercase a first letter in the word. Maybe it's not the most desired feature but sometimes it can be useful and i can try to implement it, but I'm not very good at programming)

[2016-04-20 15:14] nubunto commented on #4537
A "decapitalized" string is just a full downcased string, if you think about it. So, if you want to "decapitalize" you can always:

     capitalized = String.capitalize("striNG!")
     decapitalized = String.downcase(capitalized)
     IO.puts decapitalized # puts "string!"

[2016-04-20 15:47] anronin commented on #4537
not quite, I mean this `String.decapitalize("UpperCaseString") => "upperCaseString"`

[2016-04-20 15:54] whatyouhide commented on #4537
Hey @anronin Elixir's issue tracker is reserved for bugs and issues with Elixir. The [elixir-lang-core](https://groups.google.com/forum/#!forum/elixir-lang-core) mailing list is where feature proposals should be posted so that the community can discuss them :) Thanks!

[2016-04-20 16:07] anronin commented on #4537
my bad, thanks @whatyouhide, will post to elixir-lang-core mailing list

[2016-04-20 16:07] #4537 closed

[2016-04-20 18:02] X4lldux commented on #925
@josevalim  I went after your suggestion and implemented this proof-of-concept as a separate library - http://github.com/X4lldux/disc_union. Same as with @alexrp initial description, any "types" are just for documentation purposes and are NOT checked, or even used for anything else, anywhere. Syntax is a little ML-like, but that should not be of any importance at this stage (It's just less verbose

[2016-04-20 20:53] josevalim commented on #925
This is really neat, thanks for sharing!

I see you used typespec types. I was wondering what it would look like if the types would actually be made by expressions that are valid guards. It would make the types more strict and you could compiled the guards along-side the patterns.

Thoughts?

[2016-04-21 07:58] X4lldux commented on #925
As described, for now, they're only for code documentation, and they don't have any meaning. I didn't want to concentrate on being type-strict at this stage, when even generated macros and functions, don't have typespecs generated too. And I didn't want to implement a third typing mechanism (we have BEAM primitives, typespecs from Dialyzer and another would be here). Although, type checking is som

[2016-04-21 08:19] josevalim commented on #925
@X4lldux we are having a similar discussion to this in the elixir-lang-core mailing list.

Both Elixir and Erlang do not expect the function you are calling to exist during compilation time. The best idea for now is to have a post-compile step that would check for undefined modules as well as undefined functions being called.

Another approach is to enable this only partially. For example, if a mo

[2016-04-21 08:21] josevalim opened #4540 "Emit warnings if undefined function is called on a required module"
Both Elixir and Erlang do not expect the function you are calling to exist during compilation time. However, if a module has been required, we could perform such checks because then, by definition, it is available during compilation time.

The idea of this feature is to check if a function actually exists when compiling code and the function being called belongs to a module that has been required.

[2016-04-21 08:21] josevalim commented on #925
See #4540.

[2016-04-21 10:43] X4lldux commented on #4540
That would surely make our software safer. But specifying all used modules could be tedious, so we could implement a _glob_-like feature:
[code]
which would mean, that all "called" modules need to be present at compile time. With a `:except` keyword to specify optional modules.

But I'd rather lean towards requiring all modules, which functions were called, to be present at compile time and give a

[2016-04-21 10:56] josevalim commented on #4540
@X4lldux that feels to be another separate discussion: how to make it easy to require multiple modules?

I am quite sure we can never make something like * with `:except` work because the only way to know all modules is by compiling all of them. And then if you define require * in two different modules, how to solve that? I believe we should move this discussion elsewhere, possibly the elixir-lang

[2016-04-21 14:30] michalmuskala commented on #4540
I think such a feature of checking modules in the entire project could be done much easier as a post processing step to the compilation. I'm thinking about something similar to what xref does, but make a convenient mix task of it and promote adding it to the test alias so it runs after (or even before) the tests.

Using `require` for this has also a significant drawback - adding compile-time depen

[2016-04-21 14:52] josevalim commented on #4540
@michalmuskala that's only if you are using this feature for the purpose of getting warnings.

Maybe another way to put it is: would be worth to emit those warnings given the module was already required? It is considerably cheaper than a precompile check.

[2016-04-21 15:03] michalmuskala commented on #4540
I'm just afraid that people will start adding additional requires just to get those checks (because they are useful), and they will get slow compilation even not realizing why that is.

[2016-04-21 16:41] josevalim commented on #4540
I am not sure if it would increase compilation time by any noticiable measure. If one file halts, we will always put another one in the compilation pipeline.

[2016-04-21 16:58] michalmuskala commented on #4540
The problem is that with something like `require *` you put every file in the compilation pipeline. With single modules I agree this won't be an issue.

I think using a struct from a module also adds compile time dependency - should we do the detection for those modules as well?

Another issue I see is that it might be confusing why you sometimes get those warnings and sometimes you don't.

And to

[2016-04-21 17:03] josevalim commented on #4540
Yes, that's why I asked to move the discussion about `require *` elsewhere. I don't think it could actually work.

The struct is a good point but I think this comment may be enough reason for keeping it only for required modules.

Thank you :)

[2016-04-22 00:33] #4522 closed

[2016-04-22 00:37] vans163 opened #4543 ":debugger.start loses module location after doing a Code.load_file"
Related to this pull:
https://github.com/erlang/otp/pull/977

Not sure if this belongs Erlang or Elixir, but you are only affected by this bug if you are using Elixir.

The debugger module was patched recently to find the modules, but doing a Code.load_file to hotload code breaks the heuristic, and you need to restart the whole app in order for it to find the module.

[code]

[2016-04-22 07:10] X4lldux commented on #4540
After spending some time playing with xref, exref and xref_runner, I would side with @michallepicki. It will be confusing why sometimes compiler warns us and sometimes not. And it would be a lacking duplication of a tool that already exists - xref (it'd be better to integrate it to mix, like eprof was, or maybe even add it to the list of default compilers to be run always after `mix compile`).

[2016-04-22 09:44] samuelebistoletti opened #4544 "Missing esl-erlang and elixir packages under Ubuntu 16.04"
Erlang and elixir packages aren't available on repository for Ubuntu 16.04 Xenial.
404 Not found is returned after installing erlang-solutions package on system and trying apt-get update.

[2016-04-22 10:41] Troush commented on #4544
Hey, @samuelebistoletti
Elixir issues are for elixir related bugs.

Ask for package in ubuntu community or get in touch with maintainers of previous ubuntu packages or make one by your self :)

[2016-04-22 11:35] ericmj commented on #4544
Please contact Erlang Solutions (if it's their packages you are using). The Elixir team does not maintain those packages.

[2016-04-22 11:35] #4544 closed

[2016-04-22 16:02] josevalim commented on #4540
@X4lldux well, the issue with integrating with xref is that if it is an optional step, it won't run, and if it is always run, it will slow compilation down. So I like `xref` for its feature set but it is most likely that we would have our own tiny implementation, integrated into Mix, if we ever add something of sorts.

The advantage of relying on require is that the feedback would be immediate and

[2016-04-22 16:46] michalmuskala opened #4546 "Document OTP behaviours"
Elixir declares callbacks of `GenServer` and `GenEvent` even though the underlying code is using `@behaviour :gen_server` or `:gen_event`. I see this mainly as documentation effort.

We should document `Application` and `Supervisor`'s callbacks in a similar fashion. Today one has to do to the erlang docs to find it properly described.

A thing to consider is if we should keep `@behaviour :gen_serv

[2016-04-22 17:59] X4lldux commented on #4540
@josevalim the main issue in my worries, is to not give people the false sense of security. If those warning would be only generated for `require`d modules, we might easily lose track of what module was or wasn't required. And fall in to illusion we didn't make a bug.

If a `xref` detection capabilities would be written into compiler, such it would be able to detect bugs in the entire scope of com

[2016-04-22 19:24] josevalim commented on #4540
1.4s is definitely a lot. We could likely optimize xref to only run if some code was compiled but to me 1.4s is not acceptable for something we would like to make part of Elixir.

[2016-04-22 20:27] michalmuskala commented on #4540
Yes, that's definitely too much.
I think a separate step might be a good idea. We could generate a task alias like `test.full` or something like that that would run the step along the regular tests.

One way we could speed the process up is to build the dependency graph as we go compiling stuff, but check it only later once all modules are compiled. That would be much more complicated than just ca

[2016-04-22 20:39] X4lldux commented on #4540
And run tests and checking of undefined function in parallel, to speed things up, and placing it as a mix task was something I had in mind :+1:

But nonetheless, we shouldn't be mixing `require` with warning about missed functions. It would be either over-used or over-trusted.

[2016-04-22 21:02] #4540 closed

[2016-04-23 13:45] ericmj opened #4548 "ExUnit assertion differ crashes on improper lists"
GenEvent crash:

[code]

/cc @lexmag

[2016-04-23 16:21] lexmag commented on #4548
Oops, fix is coming.

[2016-04-24 18:36] michalmuskala opened #4553 "Compile error with capture and cons"
### Environment

The error exists in both 1.2.4 and master.

### Current behavior

[code]

### Expected behavior

[code]

[2016-04-24 19:44] whatyouhide commented on #4553
The problem should be that `[&IO.puts/1 | []]` is quoted incorrectly:

[code]

So `&` takes precedence over `|`. Likely, the correct quoted AST would be the one returned if we put the capture in parens:

[code]

[2016-04-24 21:26] michalmuskala commented on #4553
Yeah, I suspected this might be a precedence issue.

I'd say though that this still is a bug. The capture is a whole value, no matter the context, so I should be able to write it as such without wrapping in parens.

[2016-04-24 22:18] whatyouhide commented on #4553
@michalmuskala definitely a bug, yes. `&` should likely have higher precedence over most other things. I'll have a look into this in the morning if no one's already working on it.

[2016-04-24 22:24] josevalim commented on #4553
I am almost 100% sure we can't fix this. & has lower precedence than
operators, so & &1+&2 works. Maybe we can make operators with lower
precedence to not be included in this list but it would be a special case
and hard to make it work in the parser.

On Monday, April 25, 2016, Andrea Leopardi <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and D

[2016-04-24 22:31] whatyouhide commented on #4553
@josevalim ah, this is nasty. Maybe a quick solution would be to extend the error message a bit so that

mentions something like "this error may be caused because `&` has lower precedence than other operators (such as `|`)" or similar.

[2016-04-25 05:18] jisaacstone opened #4555 "MapSet-like entities are not handled gracefully"
I was messing around with MapSets and did something no sane person would do.

[code]
iex does not know what to do with this thing.

[code]
Yes this should fail, but it ought to fail with a `MatchError`, not a `FunctionClauseError`

---------------------

So, I can fix these issues. But before I do, is it even worth fixing? I mean I really hope no one ever uses anything like `Map.put(m2, :__struct_

[2016-04-25 07:59] ericmj commented on #4555
To me it looks like everything is working as expected.

When you do `%MapSet{} = m2ms` only the `__struct__` key is matched, the match is successful and then we crash when printing `m2ms` because it's an invalid `MapSet` struct.

[2016-04-25 08:23] josevalim commented on #4555
You should never do this:

[code]

There is no guarantee you are actually respecting the structured defined by MapSet. Use one of the functions in `MapSet` or generally `struct/2`  or `struct!/2`. If you mess up the internal representation of `MapSet`, it is expected many functions won't work.

[2016-04-25 08:23] #4555 closed

[2016-04-25 08:53] josevalim commented on #4553
@whatyouhide I am not sure what we can do here in regards to the error message. This is just an example of where the precedence is wrong and I am sure there are many more. :(

[2016-04-25 08:53] #4553 closed

[2016-04-25 09:00] whatyouhide commented on #4553
Yeah, that's why I showed an error message that's kind of generic ("[...] than other operators [...]"). Still not too useful probably :(

[2016-04-25 18:02] #4433 closed

[2016-04-26 01:48] KallDrexx opened #4556 "Misleading warning when "with" clause always matches"
### Environment

* Elixir version (elixir -v): 1.2.3
* Operating system: Windows 10

### Current behavior

When the following code is compiled:

[code]

The following warning is emitted by the compiler:

### Expected behavior

This warning is misleading to me as an elixir newbie because it's claiming an always matching assignment will fail because the same pattern always matches.  It also makes it

[2016-04-26 17:18] eksperimental commented on #4467
I came to report the same issue
but different seed

https://gist.github.com/eksperimental/afc0d7395deca0463270c5cb3bf3cbe3

[2016-04-26 20:07] jordan0day opened #4561 "Keyword lists with module keywords bug?"
I believe this may be related to issue #3113 and PR #3127

In 1.2, I'm seeing some behavior that seems a little off when using module names as the keys for a keyword list:

[code]
Compare that to the behavior when a non-module atom is used:
[code]

It appears that when the `[SomeModule: 1]` style is used, the quoted atom `:'SomeModule'` is used as the key, and not the module name atom:

[code]

I

[2016-04-26 20:10] whatyouhide commented on #4561
What you're seeing happens because `SomeModule != :SomeModule`:

[code]

Just to add information to this, not sure how we should behave in this case.

[2016-04-26 20:23] ericmj commented on #4561
What @whatyouhide said.

`[foo: 1]` and `[Foo: 1]` are sugar for `[{:foo, 1}]` and `[{:Foo, 1}]` respectively. `Foo != :Foo` hence the the equality check fails.

[2016-04-26 20:23] #4561 closed

[2016-04-26 21:10] jordan0day commented on #4561
Should `Foo != :Foo` actually be considered part of the language specification (informal or otherwise), or just a side effect of the implementation?.

Since the `atom: value` sugar is used all over the place for keywords and maps, it seems surprising that there's a class of atoms for which it doesn't work.

A use case where it'd be nice to be able to use module names with the keyword/map sugar is

[2016-04-26 21:13] ericmj commented on #4561
Yes, it's definitely a defined part of the language, it's not a side-effect of something else. Atoms and module aliases are different.

What do you mean it doesn't work? It definitely does work for capitalized atoms, but they are not aliases.

[2016-04-26 21:16] #4548 closed

[2016-04-26 21:25] jordan0day commented on #4561
Ah, yes, I am conflating atom aliases with atoms.

[2016-04-27 07:07] trungpham commented on #14
Ruby took a long time to implement named arguments. I believe it first showed up in Ruby 2.1.

[2016-04-27 07:38] Lispre commented on #4500
I meet this problem either.

[2016-04-27 22:42] Sotorin commented on #3955
I was having exactly the same issue as the OP, I'm on Mac (El Capitan) and @brione work around worked for me as well. Nodes are connecting.

[2016-04-28 03:41] eksperimental opened #4563 "Change typespec for IO.getn/3 count arg"
Sorry for posting this here,  I tried posting it in the elixir-lang-core mailing list, but after one day they mail hasn't been delivered .
@josevalim could you please check if my message went to a moderation list?

I'm currently reviewing the IO module, and I discovered an
inconsistency in a data type.

getn(device, prompt, count)

binread(device \\ group_leader(), line_or_chars)

since getn uses

[2016-04-28 13:38] vadim-moz commented on #4561
I would put question differently: should `x = [Foo: 12]` be interpreted as `[{:Foo, 12}]` or `[{Foo, 12}]`? Given that in the next `x[Foo]` it would be interpreted differently, it causes confusion.

\<sight\>Eternal problem with implicit rules\</sight\>

[2016-04-28 14:44] ericmj commented on #4561
I don't think so since `["foo": 123] != [{"foo", 123}]`.

The rules are pretty straightforward, for keyword lists just move the colon from the right hand side to the left hand side.

[2016-04-28 14:53] josevalim commented on #4561
Think about it this way: if `[Foo: 12]` would be the same as `[{Foo, 12}]` then I would expect `[foo: 12]` to be the same as `[{foo, 12}]`, which does not make much sense. It always returns atoms.

[2016-04-28 16:23] wrachwal opened #4566 "Mix deps.clean removes sources of path based dependency in deps/"
### Environment

* Elixir version (elixir -v): Elixir 1.3.0-dev (23dd272)
* Operating system: Ubuntu 14.04

### Current behavior

If a `:path` based dependency is stored in *deps/*, `mix deps.clean` (--all) removes this dependency completely (with sources!). When the location is changed outside *deps/*, sources are left intact (only its _build is cleaned).

### Expected behavior

Sources of `:path

[2016-04-28 16:26] vadim-moz commented on #4561
It is not exactly like this: for example `IO.puts "#{Foo}"` and `IO.puts "#{:foo}"` are different. So upper-case _identifiers_ (for lack of better term) behave differently in the language than low-case one.

(Ok, `IO.puts "#{:Foo}"` behaves exactly like `IO.puts "#{:foo}"`. My point is unqualified `foo` is not an item, and `Foo` is. So, 'colonizing' is not exactly necessary -- keying could behave

[2016-04-28 17:40] josevalim commented on #4566
Yes, good catch. There is a `scm.fetchable?` option we can use to check if we should remove a path or not.

[2016-04-29 20:52] myronmarston opened #4570 "Getting weird stacktrace (`:`) via `assert a.nil == :b` when `a()` returns `nil`"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

[code]

Running these tests produces:

[code]

### Expected behavior

For the stacktrace for the `function_returning_nil.foo` failure I'd expect it to print `test/unit/nil_test.exs:5` instead of `:`.

On a completely unrelated note: I'm surprised these tests are taking 21.4ms and 13.

[2016-04-29 22:32] myronmarston opened #4571 "`map |> Stream.filter |> Map.get` confusingly returns `nil`"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

Normally, when you pass a stream to `Map.get`, it fail with a `BadMapError`:

[code]

However, if you pipe a map through `Stream.filter` and then into `Map.get`, it silently returns `nil`:

[code]

### Expected behavior

I'd expect a `BadMapError` when `Map.get` is passed any kind of

[2016-04-30 01:20] ericmj commented on #4571
Some streams are functions, others are structs:

[code]

Since structs are built from maps `Map.get/2` will work on them. We shouldn't raise `BadMapError` if you actually pass a map to `Map` functions.

[2016-04-30 01:20] #4571 closed

[2016-04-30 09:57] #4466 closed

[2016-05-01 12:42] #4570 closed

[2016-05-01 12:48] lexmag commented on #4570
@myronmarston I'm wondering how you measure these times, in my tryout I'm getting 32us to run:
[code]
and 1113us for the following test:
[code]

[2016-05-01 18:32] eksperimental opened #4573 "Inconsistent behaviour in parallel require: Tests with same module name are compiled, depending on the naming order of files"
I got bitten by this bug in the parallel compiler, and it took quite some time to understand what was going on.
I would consider it critical as test as passing when they should not.

I had a test I knew it was supposed to fail due to a change in my code, and realized it was not changing so I thought my library was wrong... but nope.. it was mix passing the test when it shouldn't.
later i found out

[2016-05-01 19:14] josevalim commented on #4573
There is nothing we can do here. Elixir is already warning the module is redefined, you need to look into the warning and act accordingly. If the module is redefined, only one of the versions will run.

[2016-05-01 19:27] eksperimental commented on #4573
So why sometimes it gives a compile error. The behaviour is not consistent

[2016-05-01 20:04] josevalim commented on #4573
It will give you a compile error if both modules are being defined in the same time, which is one possible case which we can surely say something is wrong. The other cases our best option is to warn.

[2016-05-01 20:33] eksperimental commented on #4573
Depending on the order of the scripts there is a time when most of the
warnings are CompileError. Here's the proof:
https://gist.github.com/eksperimental/acff3fa8790848418e4779feb0fb9005#file-elixir_mix_bug_output-sh-L673-L721

What I am trying to suggest is that this inconsistent behaviour may
lead people to believe a false impression, that if they are not getting
a CompileError, there are no mod

[2016-05-02 07:22] emilsoman commented on #4566
I'd like to work on the fix if this is not being worked upon.
[Here's a failing test](https://github.com/emilsoman/elixir/commit/0b0f078cb9a0712fe80129d705a04cfc1a7a4dac) that I've added, does it look alright ?

[2016-05-02 07:36] josevalim commented on #4573
You are right, maybe we could do a post-check after invoking the parallel require. Good idea.

[2016-05-02 07:38] josevalim commented on #4566
Yup, the test looks great. I hvae added just one tiny comment. :)

[2016-05-02 09:06] emilsoman commented on #4566
Thanks, fixed that :) Also, here's the PR that makes the failing test pass : #4575 . Please review and let me know if something needs to change.

[2016-05-02 09:11] #4566 closed

[2016-05-02 16:38] myronmarston commented on #4570
I'm just running `mix test --trace`.  The measured times are what ExUnit is printing.

I'm actually curious how you measured microseconds -- for me, ExUnit's measured times are in milliseconds and only show two decimal places.

Anyhow, just for comparison against the two tests you provided I decided to try them a bunch of times and see what results I got:

[code]

Looks like the `ok` test is less

[2016-05-02 16:43] josevalim commented on #4570
It would be nice to measure with care because definitely it is not only the
exception cost. :)

[2016-05-02 19:47] myronmarston commented on #4570
Can you recommend how to do that?

[2016-05-02 19:58] lexmag commented on #4570
I've manually wrapped https://github.com/elixir-lang/elixir/blob/master/lib/ex_unit/lib/ex_unit/runner.ex#L200 with `:timer.tc/1`. :bowtie:

Anyway I'll try to get time slices on every level up to failure printing to see where we spend the most of it.
I assume it is formatting.
Good thing is that happy case is wicked-fast and that's the goal. :)

[2016-05-02 23:02] lexmag commented on #4570
@myronmarston that milliseconds time is needed to load `ExUnit.AssertionError` and `Exception` modules and happens only once during whole test run:
[code]

However on my machine it takes only `3.1ms`.
You can try to measure with the following `setup_all` to be 100% sure that it's the loading time:
[code]

[2016-05-03 07:43] dokie commented on #4509
I too am hitting this issue in upgrading from 1.1.1 to 1.2.5 as my individual umbrella apps all pass their tests with `mix espec` when in the umbrella app dir but the second app fails when `mix espec` is run from the upper umbrella app. I'm going to continue to see what I can determine that I can do to fix it but any help would be welcomed too.

[2016-05-03 14:04] alfakini opened #4578 "** (Mix) Could not start application brcpfcnpj: 'bad encoding'"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

[code]

### Current behavior

I am getting the error `** (Mix) Could not start application brcpfcnpj: 'bad encoding'` when I run `mix test`. I just added accented characters in the description of my `mix.exs` file:

[code]

To reproduce, just add any non-ASCII character (e.g. "é") to a `mix.exs` and run `mix test`.

### E

[2016-05-03 14:09] josevalim commented on #4578
Apparently we cannot have non-ASCII characters in the description. I will investigate and make sure to raise better errors, thank you.

[2016-05-03 16:31] josevalim opened #4579 "Diffing takes a long time for large strings"
If we have large strings, the diffing algorithm can take a really long time. I am not sure if it can be optimized but should set up a limit for now. Here is an example to be added to difference.exs:

[code]

We should add a limit such that, the size of both strings exceed the limit, we should not perform a diff.

[2016-05-03 16:32] josevalim commented on #4579
/cc @lexmag

[2016-05-03 17:39] Qqwy opened #4580 "Add boolean methods for different unicode character groups (String.alphanumeric?, etc)"
I have seen multiple people ([In the Elixir Slack group](https://elixir-lang.slack.com/archives/general/p1462294660007855), [on Reddit](https://www.reddit.com/r/elixir/comments/4h4y4e/whats_missing_from_the_elixir_ecosystem/d2nvbwd)) during the last couple of days requiring something that checks if a (possibly long) string contains e.g. only alphanumeric characters.

It is possible to do this usin

[2016-05-03 17:46] josevalim commented on #4580
Please send proposals to the elixir-lang-core mailing list. IIRC, we already had such discussions in the past.

[2016-05-03 17:46] #4580 closed

[2016-05-03 19:32] Qqwy commented on #4580
For posterity, the proposal on elixir-lang-core [can be found here](https://groups.google.com/forum/#!topic/elixir-lang-core/DU-_euhvVk0).

[2016-05-03 21:04] myronmarston commented on #4570
Thanks for that info, @lexmag.  That definitely explains the times I was seeing from your example.  However, in my original example there is an additional 10-20ms that is unaccounted for.  Changing the assertion so that it is on `function_returning_nil.foo` instead of just `function_returning_nil` adds 10-20ms. In fact, I can remove the assertion entirely and just use `nil.foo` in my tests and I s

[2016-05-03 21:48] lexmag commented on #4570
@myronmarston yes, I think you're right, that should be the cost of module loading.

VM has two code loading modes: interactive (by default) and embedded.

* In interactive mode, only some code is loaded during system startup-up, basically the modules needed by the runtime system itself. Other code is dynamically loaded when first referenced. When a call to a function in a certain module is made,

[2016-05-03 22:04] myronmarston commented on #4570
Thanks for the detailed explanation!

[2016-05-04 17:55] josevalim commented on #4451
My counter-proposal is to add a new set of macros: `setup_if`, `setup_all_if` and `test_if` that will only run if the context matches. There may be better options than `setup_if` but I prefer that to `setup_matching`. Thoughts?

[2016-05-04 18:03] SimonWoolf commented on #4518
We think we know why this was happening now, and it was our fault. Not a bug in elixir or erlang. Sorry for the invalid bug report :(

If you're interested:
- Our deploy process mounts the compiled slug using overlayfs, with the upperdir set to a directory in /tmp that's unique to each docker container, before running that with docker.
- We apparently have a maintenance script that runs after each

[2016-05-04 18:03] #4518 closed

[2016-05-04 18:11] josevalim commented on #4518
I am glad this was fixed! :heart:

[2016-05-04 21:42] ericmj opened #4581 "IEx recompile does not restart app after compilation failure"
The helper `recompile/0` will stop running mix apps, compile the code and then start the apps again. If compilation fails the apps will not be started again.

But since recompile only restarts apps if they were started before calling recompile they will not be started the second time you call recompile, after you've fixed the compilation error.

[2016-05-04 21:44] ericmj commented on #4581
Not sure what the best way to solve this issue. We can store in `Mix.State` if apps have been started at some point and then always try to start them again if compilation was successful. WDYT?

[2016-05-05 07:43] josevalim commented on #4581
@ericmj Elixir's compilation is not going to write any file to disk in case of crashes. So maybe we can just start the app again?

[2016-05-05 10:49] ericmj commented on #4581
@josevalim They are still loaded in memory though right? Writing to disk shouldn't matter unless you restart iex.

[2016-05-05 11:04] josevalim commented on #4581
Ah, good point. :S

[2016-05-05 12:51] JohnLunzer commented on #4167
This error message still occurs on windows 7. Writing this issue off as a "can't reproduce" and then giving an empty "thank you" leaves me feeling excluded and unimportant. It also gives an unfortunate first impression.

From a PR standpoint the appropriate thing to do would be to leave this issue open indefinitely (6 months to a year) while soliciting details about the setup of users who experien

[2016-05-05 13:12] whatyouhide commented on #4451
The idea could work, but I don't like the name `setup_if` too much; I find it hard to link it to the idea of "matching". Maybe `setup_if_matching`? It's long, yeah, but I tend not to care too much if variable/function names are long if they convey the meaning in a good way.

[2016-05-05 13:13] josevalim commented on #4167
Hi @JohnLunzer!

That was certainly not our intention, sorry.

There are two things to consider here: Windows support is important for us. That's why we provide a installer in the first place.

It is also important for us to have *actionable* issues in the issues tracker. That's why we attempt to label and tag most opened issues. There is a very high cost in leaving a ticket that cannot be acted o

[2016-05-05 13:14] josevalim commented on #4167
Alternatively, you can also try installing Elixir via Chocolatey: https://chocolatey.org/

[2016-05-05 13:23] josevalim commented on #4451
I thought about setup_case and setup_when but the latter on doesn't look good when using guards:

    setup_when %{age: age} when age >= 18 do

[2016-05-05 13:24] whatyouhide commented on #4451
[code]

looks good to me though.

[2016-05-05 13:25] lexmag commented on #4451
What about `setup_only`? :bowtie:

[2016-05-05 13:27] whatyouhide commented on #4451
@lexmag looks a bit alien to me; what would "only" mean?

[2016-05-05 13:27] josevalim commented on #4451
I think we should go with `setup_matching` then. :P

[2016-05-05 13:28] lexmag commented on #4451
Also I think it would be valuable to come up with a 3-`setup` use case and see how it will be transformed with new macros.

[2016-05-05 13:38] josevalim opened #4585 "Do not show "Compiled ...." in Mix"
The focus is to put more attention on warnings and reduce compiler output. Setting `MIX_DEBUG=1` will bring the compiler information back. We can also provide a `--verbose` option.

[2016-05-05 13:39] josevalim commented on #4585
@tsloughter is there an option we can pass to rebar3 so it doesn't print the same as well?

[2016-05-05 13:47] ericmj commented on #4585
Are there plans for a progress meter? It can be a bad user experience to not see any progress for the duration of the compilation.

[2016-05-05 13:50] josevalim commented on #4585
We could try that as well.

[2016-05-05 13:51] josevalim commented on #4579
@lexmag one option is that, if the string is large, we could compare line by line, maybe getting some of the ideas we have seen here:

https://github.com/elixir-lang/elixir/pull/4430#issuecomment-206504858

@lexmag I am thinking that maybe the meyers difference algorithm actually belongs in Enum? The String version just calls it passing a list of graphemes?

[2016-05-05 13:52] whatyouhide commented on #4585
If we go with the progress bar, we should think about printing warnings: where would we print them with the progress bar? All at the end? Below the progress bar, re-drawing over the previous lines?

[2016-05-05 13:53] JohnLunzer commented on #4167
I understand your position. Being confined to only "open" and "closed" can cause misinterpretation. It is true those two statuses are not permanent but they each carry a connotation. Open confers a connotation of "present and unresolved" while Closed connotes "past and resolved".

It appears that you're interpreting "Closed" more broadly to also include "unactionable but unresolved". Given this in

[2016-05-05 13:54] ericmj commented on #4585
Clear the progress bar line, print the warning, draw the progress bar again below the warning.

[2016-05-05 13:54] josevalim commented on #4585
@ericmj we are not ready for that. :( it would require a very tight integration between mix and the warning system :(

[2016-05-05 13:54] josevalim commented on #4585
One alternative is to use dots, the same way we do for test suites.

[2016-05-05 13:56] JohnLunzer commented on #4167
As for providing more information. Usually not a lot to say about the installation itself as windows installs do not vary greatly. However, I can say that I am attempting the install from a corporate environment which entails all sorts of restrictions on access, specifically writing to certain locations. Even "run as admin" does not provide relief. But this could be a place to start.

Additionally

[2016-05-05 14:03] josevalim commented on #4167
@JohnLunzer that's great feedback, thank you. Do you think the "Note:Needs more info" is enough or should we add a more explicit label?

[2016-05-05 14:04] ericmj commented on #4585
Dots are not a great interface unfortunately. I think we should hold off on this until we can control the output from the compiler.

Don't know if rebar3 is interested in dots or progress bar. erlang.mk just calls erlc so I don't think the output is customizable, so maybe focus on mix projects for now? For other build tools we can collect stdout and stderr and only show it for non zero exit status

[2016-05-05 14:12] JohnLunzer commented on #4167
"Needs more info" implies an unresolved status but still lacks an explicitness that would prevent the status of the issue being misinterpreted. Stealing some zen: "Explicit is better than implicit". "Unresolved", while big and ugly can never be misinterpreted.

[2016-05-05 14:25] lexmag commented on #4579
@josevalim, agree, it could be better to do line by line difference: better output and performance.
I believe it doesn't belong to `Enum`.

[2016-05-05 14:39] antipax commented on #4585
I would like to add that the Compiled... messages were very important in diagnosing an issue I had the other day where a rogue editor plugin was recompiling my modules in the background. This resulted in the modules not being detected as needing recompilation, and thus their .beams were not reloaded.

Without the messages indicating which files were compiled, it would have been much more difficult

[2016-05-05 14:40] antipax commented on #4585
I forgot to add that this is only relevant to use of `recompile/0` in iex. For mix CLI I'm definitely 100% on this change.

[2016-05-05 15:21] josevalim commented on #4167
@JohnLunzer I have changed the label to Unresolved and made it red. :) Thank you!

[2016-05-05 17:57] ibizaman opened #4586 "Make mix test stop on nth failure"
Is it possible to add a flag asking mix test to stop on nth failure?

This is part of my test repairing workflow when using pytest, a python test executor.
I run it like this: [`pytest --maxfail=1`](https://pytest.org/latest/usage.html#stopping-after-the-first-or-n-failures), it stops on first error, I repair that error (or try at least), re-run the pytest command and repeat until there are errors

[2016-05-05 17:58] whatyouhide commented on #4586
Is there value to making the maximum number of tests allowed to fail configurable instead of just using something like "stop on the first failing test"?

[2016-05-05 19:12] ibizaman commented on #4586
I never set maxfail to something >1 so not for me at least.

[2016-05-05 19:34] eksperimental commented on #4586
I guess >1 could be useful when introducing a breaking change in a project, that requires to modifiy a hell of a lot of tests.. so you want to see/fix them by chunks of n's

[2016-05-06 05:16] ibizaman opened #4588 "Make mix test accept a capture_log argument"
I just found out about this argument by checking ExUnit's source code. It would be awesome if mix test could handle this argument and pass it to ExUnit.

Use case is that my tests produce a lot of output and 99% of the time I only want output relevant to the failed test(s).

[2016-05-06 07:57] whatyouhide commented on #4588
If 99% of the time you *don't* want any output from the logs, you may be better off using `@moduletag :capture_log` in your test cases, or `config :ex_unit, capture_log: true` in your configuration to capture the log from all tests. The [documentation for `ExUnit.Case`](http://elixir-lang.org/docs/stable/ex_unit/ExUnit.Case.html) has a "Log capture" session with more information about this.

Also,

[2016-05-06 09:31] josevalim commented on #4588
Yes, there are multiple ways of doing this today!

  1. In your config:

        config :ex_unit, capture_log: true

  2. In your test_helper.exs:

        ExUnit.start capture_log: true

So you should probably go with one of the existing mechanisms. :)

[2016-05-06 09:31] #4588 closed

[2016-05-06 09:32] josevalim commented on #4586
Why would such feature be required given we already print failures as they come? I would understand the importance of this feature if you had to wait for the whole suite to finish but you can already start acting as soon as the first failures show up.

[2016-05-06 09:32] #4586 closed

[2016-05-06 09:53] eksperimental commented on #4586
Because tests can be long, specially if you are on an slow computer, and you may want to be doing something else (concurrency in real life :-) rather than looking at the computer screen waiting for it to fail.
So maybe do something like:
`mix test --max-fail 3 && play_sound_sucess || play_sound_error`

I'm not saying it is required feature, I'm just giving a possible case scenario

[2016-05-06 09:55] josevalim commented on #4586
I see. If someone would like to submit a pull request, we would likely accept it, but for us it is low priority. :)

[2016-05-06 12:05] JohnLunzer commented on #4167
After stinking things up I think I've come close to the conclusion. By pure chance I was disconnected from my VPN and attempted to run the installer and it worked! The VPN I connect to disallows most SSL connections. A guess is that there is an https access issue, this has thwarted my installation of many things.

[2016-05-06 14:52] josevalim commented on #4167
@JohnLunzer thank you! We can probably check those in the installer and maybe raise better error messages? Let's page @chyndman in case he has an idea. :)

[2016-05-06 15:00] BrandenSchwartz commented on #4167
Interestingly, I've never been on a VPN from the machine where I initially experienced the issue because I'm inside my organisation's firewall, but I downloaded a fresh copy of the elixir-websetup.exe this morning when I saw this comment and with no other changes to my machine or network environment (that I'm aware of) it worked for me as well.

[2016-05-06 15:42] ibizaman commented on #4588
I'm sorry for the confusion, I did not see those two ways of doing it @josevalim but I added `ExUnit.configure capture_log: true` in the test cases which works too, like @whatyouhide suggested.

I explicitly meant a way to set or not log output capture from the command line. But disabling it by default is good for me too.

I'm sorry to not have used the mailing list for those features, will do nex

[2016-05-06 15:47] ibizaman commented on #4586
@josevalim to be honest, I wanted this because I didn't know at the time about the log capture option. I wanted this because in my case I have a 7000 line test debug output (all SQL requests are logged) when running all tests and I spend a stupid amount of time finding the printed failures. But as I said, log capture solves this!

[2016-05-06 15:59] chyndman commented on #4167
Sounds like downloading .csv release information files was failing for you guys; perhaps the issue went away after [this commit](https://github.com/elixir-lang/elixir-lang.github.com/commit/9b232db38fcee35ca07b41b0fbc753294c7d38ee).  Still strange given that I'm catching download errors [here](https://github.com/elixir-lang/elixir-windows-setup/blob/master/ElixirWeb.iss#L223).  At any rate, new ve

[2016-05-06 16:13] mageddo opened #4590 "Elixir crashes on Linux Mint Rebeca"
### Environment

* Elixir version (elixir -v):

		elixir -v
		{"init terminating in do_boot",{undef,[{elixir,start_cli,[],[]},{init,start_it,1,[]},{init,start_em,1,[]}]}}
		init terminating in do_boot ()

* Operating system:

		cat /proc/version
		Linux version 3.13.0-74-generic (buildd@lcy01-07) (gcc version 4.8.2 (Ubuntu 4.8.2-	19ubuntu1) ) 			#118-Ubuntu SMP Thu Dec 17 22:52:10 UTC 2015

* Erla

[2016-05-06 16:14] mageddo commented on #4590
I tried search in stackoverflow and there, but no answer

[2016-05-06 16:16] eksperimental commented on #4590
how did you install Elixir? and what version...?
I can see you are running erlang 16, and v18 is required for 1.2.x

[2016-05-06 16:18] eksperimental commented on #4590
you can run
[code]
to find out

[2016-05-06 16:20] mageddo commented on #4590
I have downloaded the Precompiled from https://github.com/elixir-lang/elixir/releases/tag/v1.2.5 and 1.2.4

It works now, the problem was the erlang version, now I can see where is specified the elixir requirements http://elixir-lang.org/blog/2016/01/03/elixir-v1-2-0-released/.

[2016-05-06 16:21] mageddo commented on #4590
Thanks a lot

[2016-05-06 16:23] eksperimental commented on #4590
you are welcome. please do not forget to close the issue

[2016-05-06 16:23] #4590 closed

[2016-05-06 16:47] JohnLunzer commented on #4167
I think that an offline installer would be a great idea.

[2016-05-08 00:44] metabrain commented on #2061
I ran into this issue as well, hence finding this thread here. My question is, the variable binding is done sequentially, parameter by parameter correct? If so, if the order of the parameters were reverted it should work since key would be bound with the incoming parameter before the ^key was used in the map pattern-match expression yes?
`
defmodule Test do
  def x(key, %{^key => value}), do: valu

[2016-05-08 07:22] josevalim commented on #2061
No, pattern matching is not sequential. The whole pattern is analyzed at
once and not left to right. :)

It is also noting this is a VM limitation (and not an Elixir one!).

On Sunday, May 8, 2016, Daniel Parreira <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-08 09:37] josevalim opened #4596 "Make alias, import and require return the module given instead of nil"
Instead of:

[code]

we want:

[code]

[2016-05-08 09:54] tuvistavie commented on #4596
I will take this one if nobody is on it yet!

[2016-05-08 10:11] josevalim commented on #4596
Please go ahead! :D

[2016-05-08 13:02] michalmuskala commented on #4596
What should be returned in case of the multi-syntax?

[code]

[2016-05-08 14:51] josevalim commented on #4596
A list of the aliased/imported/required atoms.

On Sunday, May 8, 2016, Michał Muskała <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-08 14:57] michalmuskala commented on #4596
Maybe we should always return a list, then? It will be the most consistent option.

[2016-05-08 15:06] josevalim commented on #4596
@michalmuskala it is fine as is. I don't expect anybody to rely on such values, it is just that showing nil in the terminal is a bit weird.

[2016-05-08 15:38] #4579 closed

[2016-05-09 02:03] antipax commented on #4596
Seems fine to go with the plan as is, but maybe returning `:ok` would be simpler to implement and achieve the goal of being clearer in the terminal?

[2016-05-09 02:20] tuvistavie commented on #4596
I agree if the main purpose is to make it sound less weird in iex, `:ok` seems better.

[2016-05-09 06:58] josevalim commented on #4596
The reason why I proposed to return the module name is because you may want to alias/import/require an already aliased, and returning the final module name will give more information about what exactly did you alias/import/require.

[2016-05-09 07:02] tuvistavie commented on #4596
I see, this makes sense indeed.
I am going to give it a try!

[2016-05-09 07:39] #4578 closed

[2016-05-09 12:18] antipax commented on #4596
Ah, makes sense. Thanks for the explanation!

[2016-05-09 12:57] antipax commented on #4159
@josevalim is my idea above an acceptable way to try implementing this? Would like to take a shot at it, if you approve?

[2016-05-09 14:13] josevalim commented on #4159
@antipax that's ambiguous because we can match on the context as the second argument there. I am still not sure how this should look like, sorry. :( I will need to investigate it with detail later on. I also know @ericmj is working on related things.

[2016-05-09 16:30] antipax commented on #4159
Cool, no need to apologize! :)

[2016-05-09 18:06] #4556 closed

[2016-05-10 19:31] gringocl opened #4604 "String.codepoints not returning multiple codepoints"
### Environment

* Elixir version (elixir -v): `1.2.5`
* Operating system: `osx 10.11.3`

### Current behavior

`v 1.2.5`
[code]

### Expected behavior

`v 1.2.3`
[code]

This seems to have changed.  Was this expected?

[2016-05-10 21:48] josevalim commented on #4604
Thank you for the report. It looks like a bug in our nfd code.

[2016-05-10 22:13] gringocl commented on #4604
This seems to be the [problem] (https://github.com/elixir-lang/elixir/blob/v1.2.5/lib/elixir/unicode/unicode.ex#L508). Changing this back to `normalize_nfd` solves my issue however there are two failing specs.

[code]

I will hopefully have a pr soon!

[2016-05-10 22:17] josevalim commented on #4604
Great catch. Such a silly mistake. A PR with tests will be really appreciated. :)

[2016-05-11 00:19] gringocl commented on #4604
❓  Lurking around in the `String` module trying to understand, how this code works is the spec for `String.normalize` correct?

[code]

Does this return a `boolean` or is this supposed to be a `String.t`?  These functions return the `acc`, which seem to be a `bitstring`.

[2016-05-11 08:28] josevalim opened #4608 "Provide IO.warn that unifies warnings"

[2016-05-11 12:49] whatyouhide commented on #4608
I can take a shot at this if nobody is already working on it and there's already a good idea of what this would like. Or I can experiment :)

[2016-05-11 18:50] paulgoetze opened #4609 "Consistent function definition in String.Char"
Just a small thing, but should the inline function [String.Chars.to_string/1](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/string/chars.ex#L44) for consistency reasons be written as

[code]

instead of

[code]
—or the other way round, the multiline definitions be one-liners where it makes sense and still reads good?

[2016-05-11 20:54] whatyouhide commented on #4609
There is no convention on this in Elixir, and I think the Elixir team tries to not focus on contributions around style too much. 😃 Also, Elixir's issue tracker is reserved for bug reports; this looks more like a questions, and it would probably be better handled in the [elixir-lang-core](https://groups.google.com/forum/#!forum/elixir-lang-core) mailing list or on Elixir's Slack/IRC channels.

[2016-05-11 22:48] paulgoetze commented on #4609
Thanks for your fast reply @whatyouhide. Yeah, maybe it sounded too much like a question—actually I suggest to care about consistency in the implementation. I know that there are community driven style guides for Elixir (like https://github.com/niftyn8/elixir_style_guide) that recommend at least consistency in whatever style you use.

I just came across this example when reading the Elixir doc and

[2016-05-12 13:23] waqas321 opened #4612 "mix deps.get , mix local.hex etc not working"
### Precheck

I'm facing the problem while using mix. When i want run any command using mix it gives me following same error on every commad
[2016/05/12-17:54:02, critical] Error: Cannot parse configuration file!
[2016/05/12-17:54:02, critical] Terminating Programm!

### Environment
* Erlang (Erlang/OTP 18 [erts-7.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false])
* Mix-

[2016-05-12 13:25] josevalim commented on #4612
@waqas321, can you please paste the full output of running your command?

[2016-05-12 13:29] waqas321 commented on #4612
engintech@engintech-HP-EliteBook-8460p ~ $ mix deps.get
[2016/05/12-18:29:19, critical] Error: Cannot parse configuration file!
[2016/05/12-18:29:19, critical] Terminating Programm!

[2016-05-12 13:31] waqas321 commented on #4612
@josevalim, engintech@engintech-HP-EliteBook-8460p ~ $ mix deps.get
[2016/05/12-18:29:19, critical] Error: Cannot parse configuration file!
[2016/05/12-18:29:19, critical] Terminating Programm!

[2016-05-12 13:35] waqas321 commented on #4612
@josevalim, Thanks to show interest in my problem
I'm using this blog to setup the phoenix and their dependencies
please guide me in this

[2016-05-12 13:42] josevalim commented on #4612
@waqas321 I believe there may be something else happening in your system. The format of those error messages are not, afaik, emitted by Elixir nor Erlang. Can you please paste your `mix.exs` file?

[2016-05-12 14:00] waqas321 commented on #4612
@josevalim, can't locate mix.exe file
I'm doing my phoenix setup from this blog "http://blog.fxndev.com/erlang-elixir/"
After install Erlang and Elixir when I'm running this command "mix local.hex: it gives the error
[2016/05/12-18:29:19, critical] Error: Cannot parse configuration file!
[2016/05/12-18:29:19, critical] Terminating Programm!

[2016-05-12 14:03] waqas321 commented on #4612
@josevalim  Can use tell how I install "mix tool"  for Elixir Project

When I run "sudo apt-get install mix" command it says to me to install "sudo apt-get install anon-proxy" for this. I do this when i check anon-proxy version then it show me this think

Mix-Version: 00.08.37
Using: OpenSSL 1.0.1f 6 Jan 2014
Using Xerces-C: 3.1.1
Max open sockets: 1021

I'm talking about this "MIX version" in que

[2016-05-12 14:06] eksperimental commented on #4612
start a new project with

[code]

if you get some error, it is probably some corrupt file in your Elixir/Erlagn install (somehting wrong with your file system).
Those errors are linux related, not Elixir/Erlang as José stated.

if test_project works, follow the steps in the blog post (I haven't read it), and do it again starting fresh,
tell us how it goes

[2016-05-12 14:09] eksperimental commented on #4612
actually, now that you metion it,
that is an error related to anon-proxy,
if you google "Terminating Programm!" (sic) you will find it is related to that.

[2016-05-12 14:12] eksperimental commented on #4612
I was tempted to ask when i read your initial post, where did you get that "mix" version from.. now I see is from other mix program, not Elixir's mix.

can do put the output of this command please

`which mix`

that answer is most likely to solve this issue

[2016-05-12 14:25] waqas321 commented on #4612
@eksperimental,
$ which mix
/usr/sbin/mix

[2016-05-12 14:28] waqas321 commented on #4612
@eksperimental,

mix new test_project

command give the same error

[2016/05/12-19:24:05, critical] Error: Cannot parse configuration file!
[2016/05/12-19:24:05, critical] Terminating Programm!

[2016-05-12 14:29] eksperimental commented on #4612
please do:
[code]

[2016-05-12 14:30] waqas321 commented on #4612
@eksperimental

which elixir
/home/engintech/elixir/elixir/bin/elixir

mix --version

Mix-Version: 00.08.37
Using: OpenSSL 1.0.1f 6 Jan 2014
Using Xerces-C: 3.1.1
Max open sockets: 1021

[2016-05-12 14:33] eksperimental commented on #4612
alright,, your anon-proxy app, has a command named mix, which is not our mix.
you need to make an alias in bash, to use
`/home/engintech/elixir/elixir/bin/mix`and name it `elixir-mix`,

I remember some time ago somebody mentioned in the mailing list that there was a command named the same as one of the bin commands in elixir (probably mix, and probably this one).

[2016-05-12 14:35] eksperimental commented on #4612
somebody else had the same issue, https://github.com/Microsoft/BashOnWindows/issues/106#issuecomment-214930703

[2016-05-12 14:36] waqas321 commented on #4612
@eksperimental thanks it work

[2016-05-12 14:39] waqas321 commented on #4612
@eksperimental
elixir-mix throw  another error
(Mix) Could not find a Mix.Project, please ensure a mix.exs file is available

[2016-05-12 14:41] eksperimental commented on #4612
you need to run mix from the root folder in your project, you are proabbly running ti from somewhere else. and there must be a mix.exs file in it, if you created a project with the `mix` command ,it should be there

[2016-05-12 14:41] pedroassumpcao commented on #4612
@waqas321 are you in the directory of a mix project?

[2016-05-12 14:50] waqas321 commented on #4612
@josevalim, @eksperimental, @pedroassumpcao once again thanks for helping me.
@eksperimental specially you
My has been problem resolved cause of you

[2016-05-12 14:53] eksperimental commented on #4612
@waqas321 no worries
fortunately other people will see this and figure out what's going on in their system

[2016-05-12 17:10] olafura commented on #4004
As I understand it going through the source code Erlang has a group server that sends messages to user_drv that has a port process to write to stdio, I can get the process through: :erlang.group_leader()

I'm not sure if a pool would be any faster at processing it. It would be fun doing some tests maybe sending messages directly to the user_drv.

Maybe use a buffer instead?

[2016-05-13 06:51] josevalim opened #4617 "Support Erlang 19 new features"
Changes that can be done at any time:
- [x] Support new Erlang typespec map syntax
- [x] No longer include `__info__(:compile)[:time]` in `IEx.Helpers.i/1` info (this attribute has been removed)

Changes that require exclusive Erlang 19 support (therefore we must wait until we drop Erlang 18):
- [x] Use `maps:take/2`
- [x] Use `io_lib:scan_format/1` in Logger
- [x] Use `:binary.split/3` with `:tri

[2016-05-13 06:52] josevalim commented on #3763
Moved to #4617.

[2016-05-13 06:52] #3763 closed

[2016-05-13 07:11] josevalim commented on #4004
@olafura the goal was to bypass all that and write directly the stdio via a port. I did a test a couple days ago but it is unfortunately not possible. I am closing this but if you have ideas on how to improve Logger IO performance, please let us know and/or send PRs. :D

[2016-05-13 07:11] #4004 closed

[2016-05-13 07:11] #4612 closed

[2016-05-13 07:28] #4604 closed

[2016-05-13 07:31] #4609 closed

[2016-05-13 07:33] josevalim commented on #4585
@antipax one of the ideas that came to mind is to show that a file is being compiled only if it has passed 5 seconds and it has not finished compiled yet. For example:

    Compiling lib/foo.ex... (5s has passed)

Thoughts?

[2016-05-13 07:34] whatyouhide commented on #4617
I think that regarding dialyzer we only need to support `%{...}`, right?

[2016-05-13 07:36] whatyouhide commented on #4585
I think that printing "Compiling [...]" only for *some* modules (if it takes more than 5s) may be even more confusing.

[2016-05-13 07:36] josevalim commented on #4581
@ericmj lately we found out in Phoenix that we do not need to actually stop applications when recompiling. What if we change `recompile` then to no longer stop applications? We could maybe add `restart` if you actually to stop and start it again. Alternatively, we can always start it afterwards. Thoughts?

[2016-05-13 07:37] josevalim commented on #4563
I think I have replied to this in the mailing list. :)

[2016-05-13 07:37] #4563 closed

[2016-05-13 07:38] josevalim commented on #4546
Yes, we should definitely do this except for GenEvent (which will eventually be removed anyway).

[2016-05-13 07:43] josevalim commented on #4465
@ericmj it still comes from stderr and it is much harder to redirect from stderr than from stdout because we can't rely on the group leader. It is also not safe to do in terms of concurrency because it is registered locally. :(

[2016-05-13 07:49] josevalim commented on #4461
This is a very good point. I can think of two downsides:

1. we will no longer be able to measure run time and load time (as they now happen together)

2. there is a chance you will run into concurrency issues. let's say you depend on a module defined in another test file. This is obviously not something you should do but you may start running into it anyway

Honestly, I don't think those two down

[2016-05-13 07:51] #4420 closed

[2016-05-13 07:51] josevalim commented on #4617
@whatyouhide typespecs now also make the distinction between required and optional keys, no?

[2016-05-13 07:53] josevalim commented on #4122
This feature no longer exists so this is "fixed". :)

[2016-05-13 07:53] #4122 closed

[2016-05-13 07:53] whatyouhide commented on #4617
@josevalim yes, now if you do `%{key_type => value_type}` it means that that key-value pair is required, but there's no change in **syntax** there. This also changes the behaviour or `%{}` which now means empty map (with `%{...}` being "any map").

[2016-05-13 07:54] josevalim commented on #4451
We discussed a bit about this during ElixirConf EU. I will post a new report later.

[2016-05-13 07:56] josevalim commented on #4585
@whatyouhide even if we say *why* we are printing it?

[2016-05-13 08:00] josevalim commented on #4617
@whatyouhide Oh, but there is new Erlang syntax! I have updated the issue to make it clearer. In a nutshell, we should be able to support everything an Erlang developer can write.

[2016-05-13 08:01] whatyouhide commented on #4585
@josevalim maybe `Compiling lib/foo.ex... (taking longer than 5s)` or something along this lines, wdyt?

[2016-05-13 08:05] josevalim commented on #4042
I believe this has been enabled for a while, right @ericmj?

[2016-05-13 08:06] whatyouhide commented on #4617
@josevalim yeah, agreed. To recap more clearly, about changes in maps and typespecs:

* now `KeyType := ValueType` pairs are allowed in Erlang maps and they denote "associations" (kv pairs) that must be present. This will syntactically translate to just `key_type => value_type` in Elixir.
* the `...` shorthand stands for the association `any() => any()`. This will be used as is in Elixir, `...`.
*

[2016-05-13 08:10] josevalim commented on #4585
Yup, whatever wording makes more sense. :)

[2016-05-13 10:13] ericmj commented on #4581
@josevalim Sounds good. Let's make that change on master and see how it goes.

[2016-05-13 11:16] ericmj commented on #4042
It has been :)

[2016-05-13 11:20] ericmj commented on #4617
I will work on the typespec changes after we have Elixir working with the release candidate.

[2016-05-13 12:07] wstucco opened #4618 "Path.wildcard unexpected results if file name contains square brackets"
`Path.wildcard` (`:filelib.wildcard` as well) has a problem with file names with square brackets.
You get an empty list, even after quoting the brackets.

* Erlang/OTP 18 [erts-7.3] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Elixir 1.2.5
* OS X 10.11.4

[code]

Is this the official behaviour?
I haven't found documentation about this.

[2016-05-13 12:09] josevalim commented on #4618
Please try:

    Path.wildcard "abc\\[def\\]*"

But yes, it is expected behaviour. You can see in the docs for filelib:

http://erlang.org/doc/man/filelib.html#wildcard-1

Patches to improve the docs in Elixir are always welcome :D

[2016-05-13 12:11] liveforeverx opened #4619 "Mix compile error by renamed packages"
Hi!

I have a [repository](https://github.com/liveforeverx/riak_app) for reproducing it. Checkout repository and do `mix do deps.get, compile`

### Environment

* Elixir version (elixir -v): Elixir 1.3.0-dev (9d03be2)
* Operating system: Mac OS X 10.11.4 (15E65)
* Hex: v0.11.5

### Current behavior

Seems, like Hex + mix tries to compile a package with hex name instead of proposed application name

[2016-05-13 12:12] josevalim commented on #4608
Let's leave this open still because I have other features in mind for IO.warn. More info soon. :)

[2016-05-13 12:14] josevalim commented on #4619
Thank you. I think @kanatohodets has stumbled on this issue too.

[2016-05-13 12:16] wstucco commented on #4618
Thanks for the super quick answer! :)
My bad, sorry, I edited the previous comment to make it more clear.

It doesn't work (for me) anyway, even after double quoting the brackets.
I read the documentation on the Erlang page and I thought that being special characters I just needed to quote them, but it does not work.
Is the solution to use `[]`?

[2016-05-13 12:19] lpil commented on #4161
@sandeshsoni This seems to have been forgotten. Perhaps make a PR?

[2016-05-13 12:24] ericmj commented on #4619
Can you include `mix deps.tree`? We need to know how the `riak_core` dependency is declared.

[2016-05-13 12:25] liveforeverx commented on #4619
@josevalim after his presentation I wanted to switch our codebase from big `override`-s with patches over dependencies, and stumbled to it.

[2016-05-13 12:25] liveforeverx commented on #4619
@ericmj
[code]

[2016-05-13 12:30] ericmj commented on #4619
@liveforeverx Thank you, it only seems to be an issue for transitive dependencies which indicates a hex issue. Lets keep the issue open here while I investigate.

[2016-05-13 12:31] sandeshsoni commented on #4161
@lpil
I will rebase and give a PR on this weekend.

[2016-05-13 14:15] josevalim commented on #4618
It seems to be so as apparently you can't escape []. When you write `[[]` and `[]]`, you are basically saying that you are only allowing `[` and `]` respectively, which makes sense and works. Anyway, a PR for the docs is welcome. I am closing this for now as it is not a code issue. :) Thank you!

[2016-05-13 14:15] #4618 closed

[2016-05-13 14:41] antipax commented on #4585
:+1:, I like it.

[2016-05-13 15:40] bjfish commented on #4461
@josevalim
I didn't run into problem 2 for when I tried this with elixir, eex, mix, ex_doc, etc.

I don't see much of a downside to number 1. I think the load time could just be counted as part of the test execution time; it's implied by being an exs file.

[2016-05-13 16:07] paulcsmith commented on #4461
I think number 1 shouldn't be an issue and I think number 2 is only an issue if there was something you could do about the load time, which I think besides deleting tests, there's not much that can be done.

So I think running tests as they're loaded would be awesome!

[2016-05-13 16:34] #4151 closed

[2016-05-13 16:34] #4581 closed

[2016-05-13 23:38] vadim-moz opened #4622 "dependency calculation issues"
### Environment

* Elixir version (elixir -v): v1.2.5
* Operating system: Linux

### Current behavior

Full code sample: https://github.com/josevalim/umbrella_sample/pull/4

relevant part:

umbrella project with three subprojects (dependencies only):

master:
[code]

helper:
[code]

test_only:
[code]

When executed:

[code]

output:
[code]

in constrast

[code]

all result in successful compilatio

[2016-05-14 02:41] ericmj commented on #4619
The issue seems to be with rebar3_hex. The package is published with `basho_poolboy` as the application name of the `basho_poolboy` dependency.

[2016-05-14 07:20] josevalim commented on #4619
@ericmj did you ping them? :)

[2016-05-14 09:28] ericmj commented on #4619
I have pinged them, waiting for confirmation before I close this issue.

[2016-05-14 15:16] whatyouhide commented on #4585
@josevalim I started working on an implementation for this, just a couple of questions:

1. right now `Kernel.ParallelCompiler.files/2` takes an `:each_file` option. Should we add a `:each_slow_to_compile_file` option (with a better name possibly 😄)?
1. do we want this just for `mix compile`? I'm thinking of when Elixir is compiled (`make compile`), do we want this there as well?

The change per-s

[2016-05-14 15:22] josevalim commented on #4585
I thought about :each_waiting.

We could also make the waiting time a configuration option.

Implementation wise, I don't think you can use after because we are waiting
for multiple files concurrently. So you will have to use Process.send_after
every time you start compiling a new file. If the timeout is triggered, you
invoke the callback. Once the file is compiled, you will have to cancel the
tim

[2016-05-14 15:34] eksperimental commented on #4585
/8!???!!!! @whatyouhide luckily [it's a private function](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel/parallel_compiler.ex#L142)

[2016-05-14 15:35] whatyouhide commented on #4585
@josevalim makes sense, I will play with both implementations and see what looks/behaves nicer.

[2016-05-14 20:07] josevalim commented on #4082
We have added this feature as a separate project so we can get some initial feedback before v1.3 is out: http://github.com/elixir-lang/elixir_make

Please give it a try and let us know if it works as desired!

[2016-05-14 21:09] kanatohodets commented on #4619
Regarding José's note -- yep, this is exactly what I bumped into (and hacked around by editing the .app file in `deps/`). Thanks @liveforeverx for writing up the issue.

[2016-05-14 21:09] jpmec commented on #4082
That looks nice jose, thanks for adding the env option.  One question, could a "pre-build" callback be added that expects a config and returns a new config?

[2016-05-14 21:10] whatyouhide commented on #4082
@jpmec what would the use case be?

[2016-05-15 02:23] jpmec commented on #4082
@whatyouhide, the use case I had in mind is that I want to call a System.cmd before make is called to query the environment variables needed for nmake.  I found that I can call the vcvarsall.bat, then get the environment variables, and then set them before nmake is called.

[2016-05-15 06:43] josevalim commented on #4082
@jpmec we could make it so `make_env` can also be a function. In such cases, it would be invoked before being used. If that works for you, please send a PR to `elixir_make` or open up an issue there. :D

However, you should also consider moving this logic to makefile itself (if possible).

[2016-05-15 14:44] henry-hz opened #4630 "improve error messages based on context"
### Environment

* Elixir version (elixir -v): 1.3-dev
* Operating system: debian

### Current behavior

Sometimes, if the developer forget to fill variables as the example below: entity, execution and updated, the compiler claims that these variables are a function call without parentheses, but in fact they are variables.

[code]

### Expected behavior

Expect the compiler to know if it lacks a f

[2016-05-15 14:52] fhunleth commented on #4082
FYI: I gave it a try with `nerves_uart` on Linux and Windows, and it works great.

[2016-05-15 15:50] josevalim commented on #4630
@henry-hz Elixir v1.4 will warn when a variable becomes used as a function call, so when used together it will provide enough context. Other than that, those errors are raised in different parts of the stack, so when we raise that the function was not defined we no longer have the information it was a variable, unfortunately.  For the other issue, please track #3517.

[2016-05-15 15:50] #4630 closed

[2016-05-15 15:53] josevalim commented on #4596
@tuvistavie in case you didn't see it yet, someone already sent a PR for this. :)

[2016-05-15 15:53] #4596 closed

[2016-05-15 15:57] josevalim commented on #4082
@fhunleth awesome, thank you for the feedback!

[2016-05-15 18:33] #4585 closed

[2016-05-15 18:33] #4608 closed

[2016-05-15 20:12] ericmj commented on #4619
Reported to rebar3 team.

[2016-05-15 20:12] #4619 closed

[2016-05-15 20:34] liveforeverx commented on #4619
Does there exists related issue?

@ericmj Thank you!

[2016-05-15 20:36] ericmj commented on #4619
It should be fixed in this commit https://github.com/hexpm/rebar3_hex/commit/a512dffbc14b17e69c1b8533534252cc0b80aca3.

A new release of rebar3_hex should be coming out soon, keep an eye on hex.pm.

[2016-05-16 04:24] tuvistavie commented on #4596
I just saw it, thank you :smile:

[2016-05-16 14:40] josevalim commented on #4461
Master will now print tests as they are loaded. Feedback is welcome!

[2016-05-16 14:40] #4461 closed

[2016-05-16 15:23] josevalim commented on #4159
Although I don't know yet how the final API will look like, I have some ideas on how it should behave internally. We could add a `:type` field to the `ExUnit.Test` struct which defaults to `:test`:

https://github.com/elixir-lang/elixir/blob/3a48c4fdfad28a90c5c15118b36a150b89fbe44d/lib/ex_unit/lib/ex_unit.ex#L78

Now, the CLI formatter when counting how many tests have run, it should do per *type*

[2016-05-16 15:29] tuvistavie commented on #4159
Would there be any drawbacks to allow passing a plural form also stored as property in `ExUnit.Test`, and default to adding an `s` when it is `nil`?

[2016-05-16 15:35] josevalim commented on #4159
@tuvistavie it would probably be fine. We could store it as: `{:test, :tests}`, `{:property, :properties}` and so on. It just feels a bit awkward to include this information in the test struct and duplicate it everywhere given it is used in just one place. :(

[2016-05-16 16:13] antipax commented on #4159
@josevalim perhaps an ExUnit configuration for test types would help?

[code]

and then

[code]

Might not be something a test framework can do without asking the user to add it to their test_helper.exs or config.exs, then, though.

[2016-05-16 16:48] josevalim commented on #4159
That's a good idea, @antipax. The options on start are simply stored in the app environment so we could probably provide an API that stores there. Maybe `ExUnit.plural_rule("property", "properties")` that will store it and ExQuickCheck could call when it gets started.

[2016-05-16 17:08] antipax commented on #4159
Ok, gonna work on this

[2016-05-16 21:05] ericmj opened #4636 "Mix raises lock error when it should be raising diverge error"
When two siblings on the same level (in this case `jsx`) are declared with different SCMs Mix should raise a dependency diverged error.

Reproduce:

[code]

Repo: https://github.com/ericmj/converger_error

[2016-05-16 22:00] josevalim commented on #4159
Thank you @antipax!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

@ThomasArts, this will finely allow ExUnit to show "34 properties" as you run tests with ExQuickCheck. Ping me once 1.3.0 is out and I will gladly help if you have any questions!

[2016-05-16 22:00] #4159 closed

[2016-05-17 00:30] mgartner commented on #3847
I'm not sure if this is related, but it looks like coverage is also incorrect for function headers with more than one default argument, even when they are on the same line. For example, the function header here is marked as not covered in this code:

[code]

I'm seeing this on 1.2.5.

[2016-05-17 05:57] ThomasArts commented on #4159
Super cool! It works.

I'll update my QuickCheck wrapper accordingly

[2016-05-17 12:39] josevalim commented on #4042
We still need to make rebar3 the default package for Git dependencies.

[2016-05-17 12:57] antipax commented on #3847
Does your code actually use all of the arities of the function?

[2016-05-17 12:59] #4636 closed

[2016-05-17 14:20] josevalim commented on #4622
TIL about `pushd` and `popd`. :)

[2016-05-17 14:59] #4622 closed

[2016-05-17 15:01] josevalim commented on #4622
I have fixed this but I would like to add a note about this:

`mix deps` must be per environemnt because it is not even guaranteed we can get all deps from all environments into the same tree without running into more conflicts. In particular, every dependency is loaded in a particular environment (prod for regular dependencies and Mix.env for umbrella siblings), which adds to this notion that `mi

[2016-05-17 15:20] josevalim commented on #3847
This discussion showed up in the past. It is because implementation wise add(1) calls add(1, 2, 3) directly, so the intermediary one is never called.

[2016-05-17 15:23] ericmj commented on #3847
We can try to work around issues like this but at the end of the day we will never get it working 100% until a coverage tool is written with Elixir in my mind. The coverage tool for Erlang simply makes assumptions that are not valid for Elixir code.

[2016-05-17 15:37] mgartner commented on #3847
I see. Why does just `add(1, 2)` get full coverage. Doesn't that end up skipping `add/1`?

[2016-05-17 15:43] ericmj commented on #4042
What do you think about introducing a warning if `:manager` is not explicitly set and we can't infer it with 100% certainty?

[2016-05-17 15:44] josevalim commented on #3741
I have been exploring this on and off and it does not seem to be possible to customize how IEx will behave regarding stdout, unfortunately. The erlang shell will always try to interpret it and abort right after. I am marking this as unresolved unless someone has a break through on how to solve this.

[2016-05-17 15:44] #3741 closed

[2016-05-17 21:17] antipax commented on #3096
@josevalim I'm interested in giving this a try, is that OK or not?

[2016-05-17 21:19] josevalim commented on #3096
@antipax go ahead! The current graph that we build can be seen in "lib/mix/lib/mix/compilers/elixir.ex". We could probably build and check the graph after compilation. This may take a while btw... for example, I know you don't have information like the line number where you called a module... but if we get the early warnings working... we can add this information later on. :)

[2016-05-17 21:24] antipax commented on #3096
@josevalim awesome, already had that file open! 🎉

Sounds good.

[2016-05-18 00:40] insiderq commented on #1116
I've also faced with this error, it's was showed only once.
Guys from there http://erlang.2086793.n4.nabble.com/rebar3-shell-showing-error-td4715452.html
telling that it is an issue of rebar3, and i indirectly can confirm that since i've been seeing this error after installing a rebar3, but i've installed a lot of new on that time

[2016-05-18 04:37] antipax commented on #4042
I'm having trouble compiling the hex package "cf" v0.2.1 with an elixir/mix build from current master and the latest hex and rebar3 installed (from hex). I don't know enough about rebar3 to know if it's the package's fault or not, but it works fine on Elixir 1.2.5.

[2016-05-18 05:48] josevalim commented on #4042
You can pass manager: :rebar2 to your dependency options. Does it fix the
issue?

On Wednesday, May 18, 2016, Eric Entin <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-18 07:46] henry-hz opened #4640 "GenServer global registry returning the pid ID instead of registering the name"
### Environment

* Elixir version (elixir -v): 1.3.0-dev
* Operating system: debian jessie

### Current behavior
When using the global registry, the name registered.
Example:

[code]

### Expected behavior

[code]

[2016-05-18 07:50] josevalim commented on #4640
If you use global, then you need to use the global registry to look it up: http://erlang.org/doc/man/global.html#whereis_name-1

[2016-05-18 07:50] #4640 closed

[2016-05-18 09:45] ericmj commented on #4042
"cf" is listed as a rebar3 project on hex. But without any more information it's impossible for us to say what is going on.

issue?

It should be `:rebar`, not `:rebar2`.

[2016-05-18 12:24] josevalim commented on #3400
Thanks everyone.

After reviewing the whole discussion a couple times and collecting feedback from other languages, I don't believe this is an issue. @wishdev puts it really well, we will have precision issues always in some interval, regardless of how we implement it. I also don't agree rounding behaviours are inconsistent: they are rounding at different precisions, which means precision differen

[2016-05-18 12:38] #3413 closed

[2016-05-18 14:29] antipax commented on #4042
"cf" does work when the manager is overridden to `:rebar` for both "cf" and "erlware_commons". Here's the error that happens when you leave it on the default:

[code]

[2016-05-18 14:31] antipax commented on #4042
Here's the rebar3 report for the command, as well:

[code]

[2016-05-18 14:32] liveforeverx commented on #4042
@antipax update erlware_commons from 0.19.0 to 0.20.0 this fixes error for

[code]

[2016-05-18 14:50] liveforeverx commented on #4619
@ericmj One more question: Should the maintainers of broken packages publish new version, or it will be fixed automatically on hex??

[2016-05-18 16:42] ericmj commented on #4619
@liveforeverx They need to push a new version but the maintainers unfortunately want to wait until there are changes in the upstream riak_core.

[2016-05-19 00:23] Licenser commented on #4619
To clarify the reasoning for not publishing a new package, riak_core_ng is in sync with the riak core versions (+1 minor version for the additional functionality as dictated by semver). It is not allowed to re-publish the package on the same version (mix policy), build metadata is not a part of the package identity in mix either (so it is not possible to publish `2.2.5+mixfix` so that isn't a way

[2016-05-19 06:10] developerworks commented on #4617
[code]

[2016-05-19 06:24] josevalim commented on #4617
@developerworks those have been fixed in master and in the v1.2 branch.

[2016-05-19 07:42] josevalim commented on #4619
Thank you for the feedback @Licenser!

[2016-05-19 09:58] josevalim opened #4645 "Do not use an ets table in lexical tracker"
The table is not shared in any way, there is no reason for having it.

/cc @antipax

[2016-05-19 11:36] liveforeverx commented on #4619
@Licenser Thank you for feedback!

[2016-05-19 12:55] zambal commented on #4015
@lexmag Sorry for missing the ping. My GitHub activity was almost non existing for the last couple of months. But awesome to see that this has been implemented in the meanwhile :)

[2016-05-19 13:25] antipax commented on #4645
I can do this as part of #4639, I think?

[2016-05-19 14:26] josevalim commented on #4645
@antipax as you prefer. :)

[2016-05-19 15:20] KronicDeth opened #4646 "mix compile freezes"
I have a commit where `mix compile` freezes without output.  I assume this is due to some circular dependency, but I would expect the compiler to either tell me that (since it's computing a dependency graph and topological sort to order the compiles) or error out with a timeout if the circular dependency can't be detected.

The commit that triggers the freezing is https://github.com/C-S-D/alembic/

[2016-05-19 15:23] josevalim commented on #4646
@KronicDeth can you please try Elixir master? The compiler has many improvements and one of them is exactly better deadlock detection.

[2016-05-19 15:30] josevalim commented on #4646
This is what I got in master:

[code]

That seems to be the real issue but your compiler is getting stuck for some reason. So it is fixed in master indeed. :)

[2016-05-19 15:30] #4646 closed

[2016-05-19 15:31] KronicDeth commented on #4646
I got the build to work by redoing the cherry-pick (Alembic is opening sourcing part of one our private repos).  The issue was a missing `alias Alembic.Pagination` in `lib/alembic.links.ex`, so the `@behaviour Pagination`, `Pagination.t` and `%Pagination{}` would all have been waiting on `Pagination` module to be defined instead of the correct `Alembic.Pagination`.  The odd part is, I've had circu

[2016-05-19 22:46] #4645 closed

[2016-05-20 22:16] josevalim opened #4656 "mix xref --list file"
Hi @tonini (from Alchemist) and @msaraiva (from Atom),

@antipax is working on a feature in Elixir v1.3 that would allow you to list all functions being called on a given file. For example:

    mix xref --list lib/foo.ex
    Foo.bar/1:7
    Bar.baz/1:19

Do you think such feature would be useful for Emacs and/or Atom? If there is an interest, let's discuss how it should work and its format. If th

[2016-05-20 23:35] christhekeele commented on #3857
FWIW I'm having troubles with this too, also on DigitalOcean.

I figure this belongs on idna too but others may find this thread like I did.

I'm running a Dokku droplet (Ubuntu Dokku v0.5.6 on 14.04) on the smallest plan (512MB) with the [HashNuke buildback](https://github.com/HashNuke/heroku-buildpack-elixir). Everything is out-of-the-box, no custom config.

My deps are:

[code]

My logs on `git

[2016-05-20 23:45] antipax commented on #4656
I think this could enable a "find all references" type of search, which would be cool, IMO.

[2016-05-21 00:14] christhekeele commented on #3857
Updating my droplet to use 1GB RAM succeeds.

[2016-05-21 16:51] DiogoNeves commented on #4161
Is this still being worked on? I'm new to this community but would love to start contributing 😄

[2016-05-21 17:03] DiogoNeves commented on #4656
I am new to Elixir so, apologies in advance if this already exists.
Wouldn't it be more useful to have the opposite? A list of all the files and functions that called a given file/function?

What's the use case in mind for the current feature suggestion?

Personally I'd like to be able to easily refactor code. This would be made easier if I could quickly list all the places that call the Function

[2016-05-21 17:22] sandeshsoni commented on #4161
@DiogoNeves Do you want to pitch in? here is the code. https://github.com/elixir-lang/elixir/compare/master...sandeshsoni:4161

[2016-05-21 17:37] DiogoNeves commented on #4161
@sandeshsoni maybe make a pull request to make it easier to comment directly in your code 😄

Isn't the goal to just print the exact the same assertion message in and out of other processes?
I assumed this was about catching process exits when they're due to an assertion and use the existing formatter.

Your code seems to do a bit more than that, but I'm not entirely sure I understood the problem.

[2016-05-21 17:42] sandeshsoni commented on #4161
Do you want to add any comment here? https://github.com/elixir-lang/elixir/compare/master...sandeshsoni:4161

[2016-05-21 18:47] DiogoNeves commented on #4161
@sandeshsoni I can't comment on the link you shared (am I missing something?)

I was looking into the code and I think this issue is about fixing the assertions case when raised inside a process.
I added this little test to ExUnit assertions_test.exs

[code]

This currently fails but if I understood the problem, it shouldn't fail. Maybe after fixing it a little improvement would be to output the p

[2016-05-21 19:31] DiogoNeves commented on #4161
Ok, my suggestion would be to look into simply adding a function that matches the case when we're exiting from a process with an assertion.

[code]

This ignores all the other process related information. A little improvement could be to change the message to include ```" in process with pid: #{pid}"```

What do you think?

[2016-05-21 19:31] josevalim commented on #4656
@DiogoNeves that's a great suggestion which we could also implement. Let's wait for feedback from @msaraiva and @tonini. :)

[2016-05-21 19:32] josevalim commented on #4656
@DiogoNeves although I believe finding where a function is called can be easily done today using search. Search won't catch dynamic calls but neither will this feature.

[2016-05-21 19:45] DiogoNeves commented on #4656
@josevalim that's a very good point! 😄
I think both cases could be achieved using search but the list of called functions is definitely more complex and having it available helps. You changed my mind haha

As for dynamic calls, that sounds complex but incredibly useful! 👍

[2016-05-21 20:25] antipax commented on #4656
For `apply`s that we have all the information about at compile time (i.e. an apply in a macro with module, func and arity present), it might be a good idea to track (and check) those as well. Even for applies where we only have the module, or the func and arity, or the module and arity, we could do additional checks that there is at least some function somewhere that fulfills any compile-time cons

[2016-05-21 20:28] antipax commented on #4656
Also, one nice thing about having the fully-expanded list of callers is that even if the module is aliased you can find all references to it/a function.

[2016-05-21 20:36] DiogoNeves commented on #4656
@antipax those are great points!

would this fit under the same command? Something like:
[code]

I don't like my suggestion ```--list-callers``` but it's a way to start brainstorming names 😄

[2016-05-21 20:37] antipax commented on #4656
I think any information about the call graph that we end up deciding to provide will end up under xref, yes. But as @josevalim says, let's let @tonini and @msaraiva weigh in before we make any decisions :)

[2016-05-21 21:25] josevalim commented on #4656
We probably want:

    # Shows help
    mix xref
    # Prints unreachable modules and calls as warnings (used by mix compile.xref)
    mix xref --unreachable
    # Prints all file:line that call M.F/A
    mix xref --callers Foo.bar/1
    # Prints all calls (M.F/A) in the given file
    mix xref --calls lib/foo.ex

But again, let's wait for use cases, otherwise feature creep is easy. :)

[2016-05-21 21:44] josevalim commented on #2547
We have now started checking most of the front-end commands like `run`, `new`, `test` and friends.

[2016-05-21 21:44] #2547 closed

[2016-05-21 21:47] josevalim commented on #3657
@gjaldon that should be discussed in another issue. :)

[2016-05-21 21:47] josevalim commented on #3657
@lexmag and @whatyouhide: I would appreciate your feedback on this one. If we implement this for now, we would need to start as a warning.

[2016-05-22 05:56] tonini commented on #4656
Hi @josevalim and others in this discussion :-)

I start to think about a `refactoring`tool if I read about the `xref` functionality, if you ask me.

For example for `mix xref --callers Foo.bar/1` which would `prints all file:line that call M.F/A` could be useful. Yes there are search/replace tools in most IDE/Editors available but these mostly work with `regex` and getting the informations much m

[2016-05-22 09:12] josevalim commented on #4656
@tonini including column information is really complicated in Elixir because it is very common for information to get lost through AST processing. We can still give it a try though, but that should be a separate discussion.

Don't worry about this. :) The hard work is already done to power other features and adding such listings will be really straight-forward. The answer we need from you is if th

[2016-05-22 09:18] josevalim opened #4657 "Handle generated listings in lexical tracker"
@antipax, when collecting calls, some of those calls may come from within a macro. For example:

    some_macro()

Which can expand to:

    SomeUnknownModule.unknown_function(1, 2, 3)

We typically do not emit warnings for generated code. Because if the user looks at the source, he won't ever see such calls. I have opened this to discuss how we want to support this regarding the lexical tracker.

[2016-05-22 09:23] josevalim commented on #3096
Now in master! :D

[2016-05-22 09:23] #3096 closed

[2016-05-22 09:26] whatyouhide commented on #3657
@josevalim yep, I think it's a good idea to do this now and warn, can't see any downsides :). Would we move to `struct!/2` when we can?

[2016-05-22 11:30] studzien opened #4659 "Executable code doesn't have proper line numbering in the abstract code"
### Environment

* Elixir version (elixir -v): Elixir 1.3.0-dev (ee715dd)
* Operating system: OS X 10.11

### Current behavior

The following function:
[code]

has the following abstract code generated:
[code]

What means, that not all [executable lines](http://erlang.org/doc/apps/tools/cover_chapter.html#lines) are tagged correctly (with line number 0 instead of their actual line number), causing

[2016-05-22 11:32] josevalim commented on #4659
That's a side-effect of how Elixir AST works. Values that are literals, like integers and lists, do not have line information attached to them, so they will be always marked as 0 in the intermediate Erlang Abstract Format.

[2016-05-22 11:32] #4659 closed

[2016-05-22 11:32] josevalim commented on #4659
Case branches should be properly annotated. If they are not annotated, please post examples.

[2016-05-22 11:43] studzien commented on #4659
I actually still meant literals, but inside the ``case`` structure, so for example the above code rewritten as:
[code]

If you have time, can you please quickly describe what makes the Elixir literals different than Erlang ones, where they are annotated properly?

Correct me if I'm wrong, but if Elixir literals are not annotated with the line number we will never be able to tell which branches of

[2016-05-22 11:50] josevalim commented on #4659
The integer 42 in Erlang AST is represented as `{integer, Line, 42}`. In Elixir AST it is simply `42`. This is very useful in Elixir when it comes to macros but it means we will have no line information when we convert it to the Erlang AST.

You can still look at the line information in the clause in the Erlang abstract format (see 2 below):

    [{clause,2,
         [{cons,0,{integer,0,48},{nil,0

[2016-05-22 12:00] studzien commented on #4659
Yes, that's obvious, but still clauses are not executable pieces in the ``cover``'s terms.
Wouldn't it make sense then to approximate the line number of literals during the Elixir AST -> Erlang AST transformation, so we don't make ``cover`` a little bit useless?

[2016-05-22 12:04] josevalim commented on #4659
I would rather have a cover that understands Elixir semantics than complicate the generation of Elixir -> Erlang AST with the only purpose of making cover happier.

[2016-05-22 12:05] josevalim commented on #4659
Oops, premature send. If you search the issues tracker, you will see there are other cover and coverage related issues, and that's because in some situations we cannot pass all the meaning to Erlang Abstract Format, specially with constructs like default arguments.

[2016-05-22 12:09] studzien commented on #4659
I've already seen the issue with the default arguments :)
Thanks for the explanation and I hope I can help somehow when there's work on "cover that understands elixir" ;)

[2016-05-22 14:29] antipax commented on #4657
Yeah, definitely needs some discussion. Maybe we could move these dispatches to `compile_dispatches` and annotate them with the macro that generated them, and then also check `compile_dispatches` like we do `runtime_dispatches`, and in the warning display the source macro call in addition to the missing function.

[2016-05-22 16:07] josevalim commented on #4657
@antipax they would fit the "compile time" bucket by some broad definition. :) Maybe it is fine to not implement this for now. We do not skip warnings for all generated code, mostly variables, and maybe those warnings will be useful. Let's wait and see. :)

[2016-05-22 16:07] #4657 closed

[2016-05-22 17:13] josevalim opened #4661 "Support xref: [exclude: [module]] that will ignore xref for the given modules"
Ecto and Phoenix will need it. We don't need to support MFAs for now but it could be added in the feature.

[2016-05-22 17:56] ericmj commented on #4617
PR for new map typespecs: https://github.com/elixir-lang/elixir/pull/4662.

[2016-05-22 20:36] #4661 closed

[2016-05-22 21:35] josevalim commented on #4082
@jpmec @riverrun @joshnuss any feedback on the elixir_make project so far? :)

[2016-05-22 21:48] antipax commented on #3634
Going to work on this now.

[2016-05-22 21:51] josevalim commented on #4191
Closing as part of #4162.

[2016-05-22 21:51] #4191 closed

[2016-05-22 22:01] antipax commented on #3634
With two apps in an umbrella referencing each other, the cycle is detected:

`** (Mix) Could not sort dependencies. There are cycles in the dependency graph`

So only the case where the app references itself needs to be fixed.

[2016-05-23 00:33] antipax commented on #4543
Grabbing this one.

[2016-05-23 02:37] antipax commented on #4543
https://github.com/erlang/otp/blob/maint/lib/debugger/src/int.erl#L548

[code]

so it looks like that the problem is that Erlang won't treat a module as "interpretable" unless `:code.which` returns a file and not `:in_memory`. Looking into if we can take care of that on our end or if it will require another change in Erlang/OTP.

[2016-05-23 02:46] jpmec commented on #4082
Hi @josevalim,

I tried it out on comeonin here:

https://github.com/jpmec/comeonin/blob/feature/make_compiler/mix.exs

It seemed to get stuck in an endless loop?  It kept printing

            mix compile

    Microsoft (R) Program Maintenance Utility Version 10.00.30319.01
    Copyright (C) Microsoft Corporation.  All rights reserved.

I'll look at it some more and see if I can't figure out what

[2016-05-23 02:58] antipax commented on #4543
`:code.which/1` is returning `:in_memory` because the module is indeed only in memory after a `Code.load_file`, which seems to be intentional. Since `Code.load_file` does not write a .beam, we cannot use any modules loaded using it with `:int`, because to be interpretable, a module must have a .beam file.

Unless I'm misunderstanding something, I think this issue should be closed, because `Code.lo

[2016-05-23 03:03] jpmec commented on #4082
Something that would be helpful would be to have an option to print out what elixir_make is doing, specifically what is the final command that will be executed?

[2016-05-23 03:59] michalmuskala commented on #4617
I got a compilation error on 19 with phoenix:

[code]

[2016-05-23 05:41] riverrun commented on #4082
I'm working on a [test project here](https://github.com/riverrun/blake2-elixir). I haven't got it working yet, but it does build.
@jpmec  you need to edit the Makefile so that the `all` option points to the `prive\bcrypt_nif.dll` line, or you might be able to define your own make command in the config.

[2016-05-23 08:35] whatyouhide commented on #3980
I'm working on this.

[2016-05-23 09:26] josevalim commented on #4617
@michalmuskala I believe Phoenix uses `line: -1` in a couple places. We need to drop that in favor of `line: 0`. If that doesn't solve the warnings, we need to use `generated: true` (master only).

[2016-05-23 09:27] josevalim commented on #4543
Agreed. Perfect, thank you @antipax!

[2016-05-23 09:27] #4543 closed

[2016-05-23 09:28] josevalim commented on #4617
/cc @chrismccord

[2016-05-23 09:29] almasakchabayev opened #4668 "assert does work properly for structs"
Today I have upgraded to elixir 1.2.5 and for some reasom the following test failed:

[code]

I receive the following error:
[code]

However when I change test to
[code]

Test passes.

to_user function is pretty simple:
[code]

So is it a bug? or do I misunderstand something?

[2016-05-23 09:35] josevalim commented on #4668
@almasakchabayev it is very likely not a bug. There is certainly one of the fields that are still different. I would try the following:

[code]

And try to find which one does not match. This is probably a bug in Ecto. We may be hiding too much information.

[2016-05-23 10:22] almasakchabayev commented on #4668
@josevalim Thanks for quick reply. It appears that error happens in `__meta__`:
[code]

[code]

without `__meta__` no errors

[2016-05-23 10:27] whatyouhide commented on #4668
@almasakchabayev can you paste the result of inspecting the `Ecto.Schema.Metadata` structs in your test? Be sure to use `IO.inspect(meta, structs: false)` so you get what's inside the struct :)

[2016-05-23 10:27] josevalim commented on #4668
Can you please call Map.from_struct on both metas before comparing them so
we know what is different?

On Monday, May 23, 2016, Almas Akchabayev <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-23 10:29] whatyouhide commented on #4668
`Map.from_struct/1` is a better choice, we'll get the nice assertion formatting :)

[2016-05-23 10:36] almasakchabayev commented on #4668
@josevalim @whatyouhide I did
[code]

and got the following error:
[code]

[2016-05-23 10:38] josevalim commented on #4668
So that's the issue. You are merging registration metadata into the device.
I will improve the metadata to make those clearer on Ecto side, thank you.

On Monday, May 23, 2016, Almas Akchabayev <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-23 10:39] almasakchabayev commented on #4668
@josevalim @whatyouhide Also I remembered how this error appeared. I had Registration model as `embedded_schema` (followed your [post](http://blog.plataformatec.com.br/2016/05/ectos-insert_all-and-schemaless-queries/)) and then changed it to `schema "registrations" do`. When I change it back to embedded no errors appear

[2016-05-23 10:41] almasakchabayev commented on #4668
@josevalim So I cannot write `struct(MyApp.Device, Map.from_struct(registration))` in
[code]
As it merges registrations metadata, right?

[2016-05-23 10:59] josevalim commented on #4668
Right. I think there is a function in the Ecto module that would discard
the metadata field but I am not sure and I don't remember which. :) (I am
not at the computer right now).

On Monday, May 23, 2016, Almas Akchabayev <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-23 11:14] josevalim commented on #4668
Fixed in Ecto master. Apparently the function I mentioned above does not exist, you will have to delete the __meta__ field explicitly for now.

[2016-05-23 11:14] #4668 closed

[2016-05-23 11:47] JustMikey opened #4669 "Compilation error when using bitstrings spec"
There is a closed [issue](https://github.com/elixir-lang/elixir/issues/3340) on the same problem but the resolution seems unclear and the problem still exists. My elixir version is 1.2.5.

[2016-05-23 11:53] josevalim commented on #4669
Can you please provide your source code? The issue in the original report is that the syntax is simply invalid:

       @spec foo(<<_ :: 32, _ :: _ * 8>>) :: list

A bitstring typespec can only have a single element.

[2016-05-23 12:05] ericmj commented on #4669
The elixir docs and code are invalid. For some reason Erlang supports that syntax but not `<<_::size*unit>>`.

http://erlang.org/doc/reference_manual/typespec.html

[2016-05-23 12:36] josevalim commented on #4669
@ericmj yes, I just realized that now. We need to fix Elixir. Thanks @JustMikey.

[2016-05-23 12:52] #4669 closed

[2016-05-23 12:52] almasakchabayev commented on #4668
@josevalim I will just grab ecto master. Thanks

[2016-05-23 13:39] #3634 closed

[2016-05-23 13:40] whatyouhide commented on #3634
@ericmj closed this for now as as @antipax pointed out, cycles in the graph are already detected. Feel free to reopen if #4667 is not enough.

[2016-05-23 13:44] antipax commented on #3328
I'm going to do some r&d on this issue unless anyone opposes. :)

[2016-05-23 13:45] whatyouhide commented on #3328
@antipax go ahead, this is a really nasty one. :)

[2016-05-23 14:33] josevalim commented on #3657
I am working on this. I have decided to emit a warning for any field that does not have a default value.

We cannot use `struct!` because it is slightly different. `struct!` raises for unknown options, here we want to warn/raise for missing options.

[2016-05-23 14:40] josevalim commented on #3657
We can also use `struct!` if we want. Maybe we should start emit warning for those cases too?

[2016-05-23 15:31] whatyouhide commented on #3657
@josevalim I think the point is to not use fields that are not supported by the exception struct, correct? (that's why I thought of `struct!/2` over the `struct/2` we use now)

[2016-05-23 17:12] #3657 closed

[2016-05-23 22:13] josevalim opened #4671 "Add from_erl and to_erl to Time, Date and NaiveDateTime"
[code]

The `to_erl` functions must check the calendar field to be ISO. The `from_erl` functions can simply rely on the newly added `new` functions to each respective type.

/cc @lau @bitwalker

[2016-05-23 22:15] josevalim opened #4672 "Add to_iso8601 and from_iso8601 to Time, Date and NaiveDateTime"
We are going to support the Calendar dates in the extended format: https://en.wikipedia.org/wiki/ISO_8601

## Notes

  * `to_iso8601`: Returns a string
  * `to_iso8601`: All entries (hour, minute, second, ...) must be padded per the standard
  * `to_iso8601`: Must match the calendar field on its inputs to be `Calendar.ISO`

  * `from_iso8601`: Returns `{:ok, struct} | {:error, atom}`
  * `from_iso

[2016-05-23 22:27] josevalim opened #4673 "Support time, date and naive date time sigils"
They are:

[code]

It must implement and use a bang variant of `from_iso8601`.

/cc @lau @bitwalker

[2016-05-23 22:35] lau commented on #4672
I think it is fine to ignore UTC offset information if present.

[2016-05-23 22:52] josevalim opened #4674 "Add from_unix, to_unix and utc_now to DateTime"
Also add ways to get `to_date`, `to_time` and `to_naive` as well as `to_iso8601`.

This one is assigned to me. :)

[2016-05-23 22:55] vans163 commented on #4543
thanks @antipax

[2016-05-23 23:00] lau commented on #4673
The examples there for ~n and ~d are ISO 8601 extended.
We could also support ISO 8601 basic. E.g. "20160523T225833Z" and "20160523"

[2016-05-23 23:15] bitwalker commented on #4672
I'm not strongly opposed to ignoring it, but I really kind of feel like if we have the UTC offset, we should shift it to UTC if we're going to discard the information.

[2016-05-23 23:21] josevalim opened #4676 "Add to_rfc3339 and from_rfc3339 to Time, Date and NaiveDateTime"
As specified here: http://www.ietf.org/rfc/rfc3339.txt

## Notes

  * `to_rfc3339`: Returns a string
  * `to_rfc3339`: All entries (hour, minute, second, ...) must be padded per the standard
  * `to_rfc3339`: Must match the calendar field on its inputs to be `Calendar.ISO`

  * `from_rfc3339`: Returns `{:ok, struct} | {:error, atom}`
  * `from_rfc3339`: Each parsed values must be checked for valid

[2016-05-23 23:21] josevalim commented on #4672
Closed in favor of #4676

[2016-05-23 23:21] #4672 closed

[2016-05-23 23:27] bitwalker commented on #4676
Just to recap my comment from #4672:

I can tackle this, but I'm interested how you wish to see it implemented. Do you want a proper handwritten parser for RFC-3339, or is a regex sufficient? I'm assuming the former, but don't want to go down that road if it's more than what you are looking for here.

[2016-05-23 23:32] lau commented on #4676
I can kind of see the logic in using "RFC 3339" for parsing NaiveDateTimes.

But for formatting why not just use `o_iso8601`? And the documentation will say something like: returns a string with the NaiveDateTime formatted as a ISO 8601 datetime.

[2016-05-23 23:35] lau commented on #4676
- `to_iso8601/1`: you get a valid ISO 8601 string
- `to_rfc3339/1`: you get an invalid RFC 3339 string

[2016-05-23 23:35] #4671 closed

[2016-05-23 23:38] josevalim commented on #4676
@bitwalker we already have a parser for RFC3339 in Ecto. I plan to port it tomorrow.

@lau maybe `to_rfc3339/2` where the second parameter is the missing timezone information (and defaults to incomplete empty string)?

[2016-05-23 23:39] josevalim opened #4677 "Implement built-in protocols for Date, Time, NaiveDateTime and possibly DateTime"
More info coming soon.

[2016-05-23 23:41] bitwalker commented on #4676
@josevalim Oh that's right, never mind then :)

[2016-05-23 23:48] lau commented on #4676
@josevalim to_rfc3339/2 with no defaults might be less bad. But rfc3339/1 is just super dangerous and confusing IMHO. The name says rfc3339 but it is impossible to get a valid RFC 3339 string no matter the input. 100% invalid all the time.

What is wrong with `to_iso8601/1`? Super simple. 100% valid all the time. No surprises.

[2016-05-24 00:06] josevalim commented on #4676
Maybe we should call it to_string and go with a format that is parsed by
from_rfc3339?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-24 00:09] josevalim commented on #4676
To answer your question directly, it feels a bit inconsistent to have
from_rfc and to_iso. Maybe to_string is the proper balance though given
DateTime will also only have the to_string one.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-24 00:23] lau commented on #4676
Remember that if you take an RFC3339 string a lop off the UTC offset you have a perfectly valid ISO8601 string. So with `to_iso8601` you have a string which you can add "Z" to and you have a valid RFC3339 string.

The naming might seem assymetrical, but that is only because that is the truth. By calling it to_string we have a less telling name. Is it worth that just in order to "hide" the asymmetr

[2016-05-24 00:46] lau commented on #4676
I would reconsider calling the parsing function `from_iso8601` for a moment:
Documentation:  `Parses an ISO 8601:2004 extended date time string. Discards any UTC offset information.`

Doesn't that describe the function OK?

Note that ISO 8601:2004 does not allow specifying years with two digits. 8601:2000 did.

RFC 3339 is more about requiring a UTC offset and how those are handled. We don't need

[2016-05-24 01:33] vans163 commented on #4543
Wait nevermind. recompile restarts the entire app, that is not a valid solution.  I am trying to use
Kernel.ParallelCompiler.files and files_to_path but cant figure out how they work.

I am using Code.load_file for all my hot loading hence why in the example.

[2016-05-24 05:58] lau commented on #4674
`to_rfc3339` makes sense for DateTime. Because we know the total offset (standard + utc).

[2016-05-24 05:59] lau commented on #4676
Just noticed that it is also for Date and Time. ISO 8601 suports that too. RFC 3999 does not. I can implement these for ISO 8601.

[2016-05-24 06:08] josevalim commented on #4676
@lau you are correct. I have just read the spec and they also allow omitting T:

Source: http://www.uai.cl/images/sitio/biblioteca/citas/ISO_8601_2004en.pdf, page 19

However I think the to_iso8601 function must always include the T, correct? I will work on this today.

[2016-05-24 07:09] josevalim opened #4679 "Rename NaiveDateTime to LocalDateTime"
While implementing `NaiveDateTime.from_iso8601/1` I have realized that the discussion between discarding the timezone information or computing the offset or discarding the offset is tricky because NaiveDateTime is not well defined.

Given the work on JodaTime and Java8, it may be more reasonable to call it `LocalDateTime`. With such, it is expected that the offset will be discarded because we are

[2016-05-24 07:35] josevalim commented on #4676
ISO parsing functions were added.

[2016-05-24 07:35] #4676 closed

[2016-05-24 07:40] josevalim commented on #4543
recompile in master no longer restarts the entire app. :)

[2016-05-24 09:13] almasakchabayev commented on #4668
@josevalim I updated deps to Ecto master, but the error still exists

[2016-05-24 09:24] josevalim commented on #4668
the error will still exist the difference is that you will be able to find out what is different between the two meta structs now.

[2016-05-24 11:17] josevalim commented on #4679
It may also be worth considering renaming DateTime to ZonedDateTime. Altogether:

    Date -> LocalDate
    Time -> LocalTime
    NaiveDateTime -> LocalDateTime
    DateTime -> ZonedDateTime

[2016-05-24 11:23] #4673 closed

[2016-05-24 11:23] tuvistavie commented on #4679
I think adding the `Local` prefix for structures without a timezone is a good idea,
but I think `DateTime` would be less verbose and easy enough to understand.

It is probably the structure which will be the most used, so I would rather not make the name too long.

[2016-05-24 11:50] #4677 closed

[2016-05-24 11:59] josevalim commented on #4679
Here is another reason why I believe we should at least convert NaiveDateTime to LocalDateTime:

[code]

`to_local` makes much more sense as a conversion and as an understanding of why the timezone information is not carried over.

[2016-05-24 12:27] josevalim opened #4680 "Normalize precision and Calendar fields"
The System.convert_time_unit function accepts precision as `:seconds`, `:minutes` and so on. The Calendar fields are singular: `:second`, `:minute`, etc. Should we normalize those to be same? I believe the answer should be no because precision is in "seconds", "kilograms", etc (plural) and the fields should be singular, although I thought I would bring the topic up anyway.

/cc @lau @bitwalker @le

[2016-05-24 12:40] lexmag commented on #4680
I agree with not changing these names.
My reasoning is the following:
Calendar fields say what `:second` (`:minute`, ets.) of point in time it represents (e.g. X second of Y hour).
Precision says what unit of it you expect as function return, e.g X [amount of] `:seconds` in Y `:minutes`.

[2016-05-24 13:54] lexmag commented on #4679
To me `NaiveDateTime` seems more suitable name for that kind of data: I expect that it just doesn't provide timezone, I'm responsible for applying that meaning on application level and it can simply be not the same as my "local" timezone.
Looking at `LocalDateTime` I'm wondering to which timezone it's local, this name makes me think that this data structure may provide some timezone information, a

[2016-05-24 14:08] vans163 commented on #4543
@josevalim Perfect in that case.Now if only master (1.3) didn't break a bunch of old libs.

[2016-05-24 14:21] josevalim commented on #4543
Master should be backwards compatible. If some lib is breaking, please
include source and error message.

On Tuesday, May 24, 2016, vans163 <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-24 15:22] msaraiva commented on #4656
@josevalim, @antipax and others, I agree with @tonini and I think the `mix xref --callers Foo.bar/1` would be an awesome feature. It would be very useful to develop much better search/refactoring tools. I never liked the idea of having such tools based on regex using the editor's native language, actually that's one of the reasons I developed the Elixir parser for Atom in Elixir itself!

I'm reall

[2016-05-24 15:39] josevalim commented on #4656
Perfect, we can work on `--callers Foo.bar/1` next. Would `--calls lib/foo.ex` be useful to anyone at this point or not really?

[2016-05-24 16:00] josevalim commented on #4674
Those functions have been added.

[2016-05-24 16:00] #4674 closed

[2016-05-24 16:05] lau commented on #4679
Here is a definition of local:

A good example of a "local" datetime is if for instance you get a datetime belonging to a particula area. Let us say "America/Montevideo". We have a struct that can do that, which is called `DateTime` 😄
But of course we can also use `DateTime` to represent UTC. UTC is not local.

Here are some antonyms for the word local: "broad, unrestricted". Which of the datetime

[2016-05-24 16:10] josevalim commented on #4679
That goes without saying. The reason I brought the local API is because it personally made more sense to me. It is important to bring such discussions without being accused of cargo-culting one API or another (specially given the Java API is quite new). :)

[2016-05-24 16:10] #4679 closed

[2016-05-24 16:16] josevalim commented on #4679
This is a very good argument. Let's keep things as is. :heart:

[2016-05-24 16:21] lau commented on #4679
I sincerely apologize. I didn't consider the choice of words (ironic in a way isn't it 😉 ) sufficiently before posting that and writing about cargo culting. It might seem like a small thing to some, but I am glad you pointed it out, because we should discuss these things in a proper manner.

[2016-05-24 16:57] josevalim commented on #4679
Thank you @lau! :heart:

[2016-05-24 16:57] #4680 closed

[2016-05-24 18:21] vans163 commented on #4543
@josevalim retracted that because fellow dev told me he tried switching to 1.3 and it broke some of the libs he was using.   If I actually get source/error will def file a report.

[2016-05-24 18:31] lau opened #4681 "Microsecond defaults"
Shouldn't microsecond default to nil instead of 0? For Time, NaiveDateTime and DateTime.

Example: `{10, 30, 22} |> Time.from_erl! |> Map.get(:microsecond)`
Wouldn’t it make more sense if microsecond was nil instead of 0 here? We don’t know anything about microseconds from the data provided.

Another example: We parse some datetimes.

`2015-01-23T23:50:07.123` microsecond: 123000
`2015-01-23T23:50

[2016-05-24 18:38] almasakchabayev commented on #4668
@josevalim So would something like that be enough:
[code]

[2016-05-24 19:21] josevalim commented on #4668
Yes.

[2016-05-24 19:52] josevalim commented on #4681
I agree 100%.

[2016-05-24 21:11] josevalim opened #4682 "Diffing algorithm is sometimes hard to parse"
Many times diffing is super helpful but sometimes it is very hard to understand exactly what is wrong:

<img width="997" alt="screen shot 2016-05-24 at 22 57 01" src="https://cloud.githubusercontent.com/assets/9582/15519674/da18c3ce-2202-11e6-992c-8744f3ad4ab4.png">

The diff helps because it gives me an idea of *where* is wrong but it is hard to put together exactly *what*. I have been thinking a

[2016-05-24 23:59] antipax commented on #4682
👍 . Also, whitespace diffs are not highlighted in any way, which has been annoying a couple of times.

[2016-05-25 07:10] josevalim commented on #4682
@lexmag maybe one solution is to have the format diff function return a diff list, e.g. `[eq: ..., less: ..., more: ..., [less: ...]]` which can be arbitrarily nested. Then we print the lhs with eq and removals and the rhs with eq and additions. Thoughts @lexmag? :)

[2016-05-25 07:16] michalmuskala opened #4684 "Dependency conversion error in umbrella"
### Precheck

### Environment

* Elixir version (elixir -v): latest master (and 1.2.4)
* Operating system: ubuntu 16.04

### Current behavior

One app in umbrella lists ecto as a normal hex dependency.
Another one that has the first one as a dependency lists ecto as path dependency using `override: true`.
The override is not taken into account and a dependency diversion error is printed (recommend

[2016-05-25 07:18] josevalim commented on #4684
From the umbrella project perspective, they are not being overridden because they are siblings. You need to make them consistent or override at the umbrella parent as well. The former is advised.

[2016-05-25 07:18] #4684 closed

[2016-05-25 07:20] michalmuskala commented on #4684
Yeah makes sense, overriding at the umbrella level works.
Overriding in each application is not really practical for quick changes to test some ecto bugs :smirk:

The error message could be better though. I believe mix knows you're in umbrella, doesn't it?

[2016-05-25 08:32] michalmuskala commented on #4681
On one hand I can see how this is the correct solution.
On the other one it's extremely impractical. You'll get nil check everywhere around all the date handling code and it *will* lead to bugs and issues.

[2016-05-25 08:46] lexmag commented on #4682
I think there are 3 problems mentioned in the issue:
1. List diff needs improvement – make it less noisy and more content aware
2. Handle whitespace diff in some way (thoughts?)
3. Try separated diff

I'm starting work on 1. and 3.
I think having separated diff will be really good improvement, almost every diff tool provide both, unified and separated, diffing but I don't remember when I've used u

[2016-05-25 09:20] lexmag commented on #4681
I agree with @michalmuskala, this feels impractical.
Honestly, I don't see where we may lose precision, it seems we're actually getting one. :bowtie:

[2016-05-25 12:04] ericmj commented on #4684
I tried to change 'Ensure they match or specify one of the above in your deps and set "override: true"' to say that you should override at a higher level but couldn't find a way to word it that wouldn't just make it more confusing.

@michalmuskala Do you have any suggestions for how to improve the error message?

[2016-05-25 12:17] josevalim commented on #4684
I think the message is good because he is getting it already at the
umbrella root. So it is implicit the issue is tied to the root mix.exs.
Although if we can improve it more, then surely!

On Wednesday, May 25, 2016, Eric Meadows-Jönsson <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-25 12:39] ericmj commented on #4681
It depends on what we mean with losing precision. If I tell someone I will meet them at 8 o clock. I don't mean anytime within the hour 8, I mean 8:00:00. For that reason having 0 as defaults for minute and second makes sense, and by extension also microsecond.

This also ties into the recent proposal of required struct fields, if we don't want to leave out any precision then all fields should be

[2016-05-25 13:23] kroburg opened #4685 "URI.to_string produces inconsistent result if IPv6 address and port were specified"
### Environment

* Elixir 1.2.3
* Ubuntu Linux

According to RFC (https://tools.ietf.org/html/rfc3986#section-3.2.2 and https://www.ietf.org/rfc/rfc2732.txt) IPv6 address should be enclosed in "[" and "]'. It is crucial to put braces if port was specified.

URI.to_string should enclose IPv6 address in "[" and "]" but it is not.

### Current behavior

Result of `URI.to_string(URI.parse("http://[200

[2016-05-25 13:32] whatyouhide commented on #4685
This indeed seems like a bug, but I'll look into it a bit more and see what can be done :) Thanks for the report @kroburg!

[2016-05-25 13:48] tuvistavie commented on #4685
I think that it is a bug in `URI.to_string`.
Stripping the brackets when parsing is fine, but they should be added
back in `to_string` when the IP is v6 and a port is present I think.

[2016-05-25 13:51] whatyouhide commented on #4685
@tuvistavie yeah, the idea is that the bug is in `URI.to_string/1`. Still not sure about the solution though :0

[2016-05-25 13:53] josevalim commented on #4685
Isn't : in the host invalid unless it is IPv6? If so, that's your check. :)

On Wednesday, May 25, 2016, Andrea Leopardi <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-05-25 13:57] tuvistavie commented on #4685
For reference, according to RFC 3986

   [RFC3513] or later, is distinguished by enclosing the IP literal
   within square brackets ("[" and "]").

[2016-05-25 14:02] whatyouhide commented on #4685
Yep, @josevalim's solution sounds right as `:` is not allowed in the "host" part of a URI (specifically, it's not allowed in `IPv4address` or in `reg-name`):

[code]

PR on its way :)

[2016-05-25 14:16] lau commented on #4681
What do you base that on? If you don't have nil microseconds you have bugs an issues to begin with: that you cannot represent a datetime that has no fractional seconds.

I have implemented nil microseconds in Calendar and it is not really that impractical. You don't need nil checks everywhere either, because in many places microseconds are ignored anyway. But when you use them, it is nice to have

[2016-05-25 15:00] josevalim commented on #4681
Quoting [wikipedia](https://en.wikipedia.org/wiki/Accuracy_and_precision):

This means 08:00:00 and 08:00:00.0 have different accuracies but so does 08:00:00.00. In other words, if we want to accurately store microseconds, an integer (or nil) field is not sufficient. So there is an inconsistency here since we are proposing to provide only *some* accuracy (of precisely ±0.05s).

Similarly, I don't

[2016-05-25 15:43] lau commented on #4681
The way it works with sigils you have to specify minute and second. But not microseconds. Because they are optional:

[code]

It looks correct above, but the `~T[08:00:00]` should really be displayed as `~T[08:00:00.0]`. With default 0 microseconds we have  are hidden with a because of the issue of default 0 microseconds.

So already today we have a special case in the code for 0 microseconds.
[co

[2016-05-25 15:56] josevalim commented on #4681
Yes, we adopted only part of the ISO. We can adopt more if we all think it makes sense (but let's leave that to a separate discussion).

But we could also display it as: ~T[08] if we wanted to! I am also not worried about the implementation. If nil is the correct thing to do, then it is the correct thing to do, and if it requires more code, so be it.

My point is that the proposal sounds arbitrary

[2016-05-25 16:00] lau commented on #4681
The kind of bugs you get by adding 0 by default are silent and generate no errors. The kind of bugs you get if you make some code that does not handle nil microseconds correctly raises errors, so you will notice the bug and can fix it.

[2016-05-25 16:04] josevalim commented on #4681
iex> ~T[08:00:00].microseconds
    {0, 0}

    iex> ~T[08:00:00.0].microseconds
    {0, 1}

    iex> ~T[08:00:00.01].microseconds
    {10000, 2}

    iex> ~T[08:00:00.123456].microseconds
    {123456, 6}

[2016-05-25 16:19] josevalim commented on #4681
One advantage of using the tuple is that you won't have to handle nils either. It is the same format everywhere. @ericmj, I would love your opinion (given the decimal library). /cc @bitwalker

[2016-05-25 16:21] lau commented on #4681
It is true that some of the choices are somewhat arbitrary in a way. So are the design of standards. They are judgement calls. Some systems also have more choices of types than others. We could also have a separate type that has just a year and a month. And a separate type with just a year. And a separate type for datetimes with no seconds. And so on. Then you have a problem of having many types.

[2016-05-25 16:30] michalmuskala commented on #4684
Maybe when we have an umbrella and an override in one of the conflicting dependencies we could give something like:

[code]

[2016-05-25 16:41] lau commented on #4681
I like the idea.

Wouldn't {nil, 0} for the first example be more correct?

[2016-05-25 16:49] josevalim commented on #4681
@lau I don't see the benefit of introducing `nil` here. If you don't care about precision, you can always pick the first element, but if you do, you must look at the second. We get convenience without nil-checks and precision.

[2016-05-25 16:52] michalmuskala commented on #4681
I like the proposal with the tuple, but does the name `microseconds` make sense in that case? Microsecond is 1/1000th of a second, and that's all. I think a more appropriate name would be `fractional`.

Another thing to consider is, if it's better to say `{10, 2}` or maybe `{10, 100}`.

[2016-05-25 16:57] josevalim commented on #4681
@michalmuskala that's a very good point, it may make sense to revisit the whole field name and simply call it "precision" or "fraction".

[2016-05-25 19:54] josevalim commented on #4656
We have merged the callers feature. If there is an interest in changes or more features, just let us know!

[2016-05-25 19:54] #4656 closed

[2016-05-25 19:59] josevalim commented on #4681
Another name is "subsecond": https://en.wiktionary.org/wiki/subsecond

[2016-05-25 21:03] whatyouhide commented on #4681
👍 for "subsecond", I find it much more clear than "fraction" / "precision" / "fractional" :)

[2016-05-25 21:35] #4162 closed

[2016-05-25 22:05] josevalim commented on #3847
After a Skype session with Eric it seems we really can't fix this. There are some incompatibilities with how cover annotates code and how default clauses work.

[2016-05-25 22:05] #3847 closed

[2016-05-25 22:06] fishcakez commented on #4656
https://github.com/lpil/mix-test.watch automatically runs tests when files in a mix project change. It would be nice to only run a subset of these tests based on the files that changed. If it was possible to build the callgraph of each test file with `mix xref --list test/foo_test.exs` then it would possible to only run test files when the relevant modules are compiled/changed.

/cc @lpil

[2016-05-25 22:23] whatyouhide commented on #4685
I did some research and I have some updates. First of all, we do something bad, which is stripping the `[]` from the *authority* when parsing URIs:

[code]

As you can see, we strip brackets from the `:host` field as well.

I researched what other languages are doing.

### Ruby, Java
They keep `[]` in both authority (`[::]:1234`) as well as host (`[::]`).

### Python, NodeJS
They keep `[]` in the

[2016-05-25 22:39] antipax commented on #4656
I think we could look in the manifest for the provided file, and then if it's not present we could try to compile it and dump the compile/runtime dispatches. Thoughts, @josevalim?

[2016-05-25 22:43] kroburg commented on #4685
As I remember, current URI module implementation perform some URI normalization during URI.to_string/1. It will remove specified port if it is equal to the current scheme default port, for example. I think that the right way is to split URI.to_string/1 into URI.to_string/1 and new URI.normalize/1 function.

And new URI.normalize/1 should favor rules from [RFC normalization rules] (https://tools.ie

[2016-05-25 22:45] antipax commented on #4682
I think the only whitespace diff that isn't handled is spaces, so maybe we can display the diff for those as spaces with a green or red background?

[2016-05-25 22:58] josevalim commented on #4656
I don't think we should use the compile.elixir manifest for storing test information. I don't think we need xref either. We would need to:

1. extend the parallel require (used by tests) and start storing this information from tests themselves
2. for every run, see on disk which beam files have changed since the last test manifest was wrote
3. go through the test manifest looking for tests that re

[2016-05-25 23:01] josevalim commented on #4656
Actually, this is wrong. Elixir's compiler is smart and recompiles only compile time dependencies and in this case you also want to run tests for runtime dependencies. But this information can be retrieved from the compile.elixir manifest as well (in the runtime column). So overall it is 5 steps:

1. extend the parallel require (used by tests) and start storing this information from tests themselv

[2016-05-25 23:01] josevalim commented on #4656
We should probably open a new issue for this as it is not xref related. :)

[2016-05-25 23:16] kroburg commented on #4685
BTW, URI.normalize/1 is a separate topic for discussion because there are pitfalls and some questions:
* Should we add or remove `/` from the last path segment? (I think they should be removed, yet RFC mentions some concerns)
* Do we need to sort query arguments?
* What about query arguments separators (`&`, `?` etc.)?
* Should we apply IDNA encoding for authority?

[2016-05-25 23:51] lpil commented on #4682
Traditionally an interpunct character is used to signify whitespace.
https://en.wikipedia.org/wiki/Interpunct

I could have a go at implementing this or the coloured background solution if that's OK.

[2016-05-26 00:29] ericmj commented on #4684
dependencies of the others.

This is not strictly true, siblings can't override each other, but umbrella apps can have a hierarchy.

[2016-05-26 00:38] antipax commented on #4656
@josevalim this sounds like a pretty awesome feature so I'm interested :)

[2016-05-26 00:47] antipax opened #4688 "mix test --stale"
As discussed in #4656, implement `mix test --stale` which runs only the tests that refer to modules that have changed since the last invocation of `mix test --stale`.

Just putting this here for my own reference: https://github.com/elixir-lang/elixir/issues/4656#issuecomment-221733204
/cc @josevalim @fishcakez

Plan to get started on this soon, if anyone has any feedback please share.

[2016-05-26 07:46] josevalim commented on #4681
We have decided to go with `microsecond: {microsecond, precision}` as it is by far the simplest to work with format. Thanks everyone for the discussion!

[2016-05-26 07:46] #4681 closed

[2016-05-26 08:52] #4009 closed

[2016-05-26 08:53] whatyouhide commented on #4685
@kroburg indeed, you're right, we do perform some normalization and this is why we prefer to use `userinfo + host + port` if we have those. I agree that `URI.normalize/1` and such things should be discussed separately.

So, let's do something different to fix this issue:

* always print the host surrounded by `[]` if it contains one or more `:` in `URI.to_string/1`
* don't strip the `[]` from the

[2016-05-26 09:09] josevalim commented on #4685
That's backwards incompatible though. We need to continue stripping it. It should be ok though to not rebuild the authority.

[2016-05-26 09:10] whatyouhide commented on #4685
@josevalim I know it's backwards incompatible, but I think it's a bug 😕

Just to be 100% clear, I mean that `URI.parse("foo://[::]:1234")` will have `authority: "[::]:1234"` and `host: "::"`.

[2016-05-26 09:14] josevalim commented on #4685
If so, this is fine, yes. :)

[2016-05-26 14:51] #4685 closed

[2016-05-26 18:12] ThomasArts commented on #1191
Is there a possibility that the issue is re-introduced?
Erlang/OTP 18 [erts-7.2.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Interactive Elixir (1.3.0-dev) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)> String.contains? "n", ""
** (ArgumentError) argument error
    (stdlib) :binary.match("n", "")
    (elixir) lib/string.ex:1699: String.contains?/

[2016-05-26 18:15] josevalim commented on #1191
@ThomasArts we have decided to use the same solution as Erlang which is to fail if the string is empty since the previous behaviour was highly desired by some and highly undersired by others. :)

[2016-05-26 18:18] josevalim commented on #4573
@eksperimental i have implemented checking between compiled modules only to release you can get a more strict behaviour by setting:

    Code.compiler_options(warnings_as_errors: true)

At the top of your test_helper.exs. That's the solution we are going to promote for now. :) Thank you!

[2016-05-26 18:18] #4573 closed

[2016-05-26 23:38] Annwenn opened #4695 "Mix does not call a script located in rebar.conf's pre_hooks section"
I'm opening this issue because Mix does not call a shell script located in the `pre_hooks` section of @tatsuya6502's h2leveldb's `rebar.conf` : leveldb-erlang/h2leveldb#9

[2016-05-27 06:01] ThomasArts commented on #1191
Well... I guess there are algebraic laws that I cannto think of that they are interested in, but I like the following kind of properties to hold

 1) property Start string (StringEqc)
     test/string_eqc.exs:9
     forall({s1, s2} <- {utf8, utf8}) do
       String.starts_with?(s1 <> s2, s1)
     end
     Failed for {"", ""}

But... I can put a non_empty(utf8) instead... just not as clean.

[2016-05-27 06:50] josevalim commented on #1191
That's a very good point @ThomasArts. I will bring this behaviour back now that we have a good mechanism to explain why it behaves like this. Thank you!

[2016-05-27 07:19] josevalim commented on #4695
Thank you @Annwenn!

I believe this is a known limitation as Mix cannot really run on the same environment as Rebar. @ericmj, can you please confirm?

[2016-05-27 07:24] ThomasArts commented on #1191
And for the other issue mentioned in this discussion, it is natural to not call contains? with an empty list of strings. The property that one is interested in is:

  property "String contains any of the given contents" do
    forall {s1, strings, s3} <- {utf8, non_empty(list(utf8)), utf8} do
      forall s2 <- elements(strings) do
        String.contains?(s1 <> s2 <> s3, strings)
      end
    en

[2016-05-27 10:37] lpil commented on #1191
Hi @ThomasArts , if you place ``` on a line before and after your code you will get a monospace font. Syntax highlighting can be achieved by adding the language name after the first 3 ticks.

[code]

[2016-05-27 14:06] ThomasArts commented on #1191
Thanks a lot. I tried to get it right, but gave up. Good to know the way it works now.

Regards
Thomas

[2016-05-27 18:40] antipax commented on #3328
A couple of ideas I've had:

* add a separate file, like `.iex.helpers.exs`, where you define helpers in the file scope, and we wrap it in a defmodule with a unique name and then import it after

* define a module like `IEx.Helpers.MyApp` in `.iex.exs`, check what modules are loaded before eval, and after we import the ones with the prefix `IEx.Helpers` that weren’t loaded before

[2016-05-27 19:31] #4688 closed

[2016-05-27 21:25] josevalim commented on #3328
@antipax it could be tricky to automatically import all modules :(

The quoted expression approach may work but I think it should be more explicitly opt-in, like:

    {:eval, quote do
        import Foo
      end}

Alternatively, we could use the tuple return to select imports:

    {:import, Foo}

[2016-05-27 21:29] josevalim commented on #4451
Here is the new proposal: https://groups.google.com/forum/#!topic/elixir-lang-core/pDI1zvYCj_k

[2016-05-27 21:36] antipax commented on #3328
@josevalim that works for me, is it ok if I get started on a PR for both of those forms? I'd also add `{:import, [Foo, Bar]}`.

[2016-05-27 21:39] whatyouhide commented on #3328
For the record, in the months I worked on Elixir since last time, I really started to feel the need for this feature less and less. If I want helpers, I just `defmodule H do ... end` in the `.iex.exs` file and use *two* more characters to get the same effect.

Wdyt if we keep the discussion going a bit before starting to work on a PR?

[2016-05-27 21:48] antipax commented on #3328
I'm totally fine with waiting. Believe it or not I think I was the one who originally got this issue raised a year ago: https://github.com/elixir-lang/elixir/pull/3232#issuecomment-89026164 😛

I do think this should be implemented though, if only because I think users should be able to do everything they can do in IEx in a `.iex.exs` (within reason).

[2016-05-27 21:51] robi-wan opened #4704 "DateTime.utc_now() fails under Windows"
### Environment

* Elixir version (elixir -v):
Erlang/OTP 18 [erts-7.3] [64-bit] [smp:8:8] [async-threads:10]
Elixir 1.3.0-dev (commit c839521d741764fb8b516f24cbdeea1b262a4cd5)

* Operating system: Windows 7 Professional 64bit

### Current behavior

Doc Test `DateTime.utc_now()` fails:

    test doc at DateTime.utc_now/0 (15) (DateTimeTest)
     test/elixir/calendar_test.exs:61
     Doctest failed

[2016-05-27 22:17] whatyouhide commented on #3328
@antipax yes, that's a good point of course, but returning `{:import, Foo}` (or similar solution) doesn't feel like "doing what they want" IMO, they can't just write Elixir code in `.iex.exs` and call it a day, they explicitely have to know they have to write some "special" parts to make it work.

[2016-05-27 22:22] josevalim commented on #4704
@robi-wan I have pushed a fix to master, can you please give it a try? Thank you!

[2016-05-27 22:22] josevalim commented on #3328
Ok, let's close this for now and see if people will bring this complain back. Short module names is a good enough starting point.

[2016-05-27 22:22] #3328 closed

[2016-05-28 06:20] ericmj commented on #4695
Even if we did execute the pre_hook it wouldn't work correctly since it is manually git cloning into the deps dir. Mix has to control all dependencies for it to work correctly.

Looking at the code I can't see why it manually clones instead of adding the dependencies as "raw" deps in rebar.config. If you move the deps to rebar.config it might work better.

[2016-05-28 06:40] #4695 closed

[2016-05-28 06:54] robi-wan commented on #4704
@josevalim Works. Thank you!

[2016-05-28 06:54] #4704 closed

[2016-05-28 10:41] josevalim commented on #3980
Closing in favor of #4705.

[2016-05-28 10:41] #3980 closed

[2016-05-28 10:41] josevalim commented on #4451
In master!

[2016-05-28 10:41] #4451 closed

[2016-05-28 13:21] josevalim commented on #4161
We should not change the formatter. I believe the best way to proceed here is to implement `def message` for `ExUnit.AssertionError` and make it include some of the logic we see in the formatters themselves.

[2016-05-28 13:43] #4546 closed

[2016-05-28 14:12] Annwenn commented on #4695
Alright, thanks :)

[2016-05-28 16:39] josevalim commented on #4161
In master, thanks everyone!

[2016-05-28 16:39] #4161 closed

[2016-05-28 19:25] michalmuskala commented on #4684
I thought a little bit more about this. Maybe something like that:

[code]

[2016-05-28 19:28] josevalim commented on #4684
I believe detecting this exact scenario may be non trivial. Umbrella apps
are treated as regular dependencies and the issue does not happen in the
dep but in their parent. If you want to give this a try, please go ahead,
but it may be tricky.

On Saturday, May 28, 2016, Michał Muskała <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Found

[2016-05-28 19:36] michalmuskala commented on #4684
I think it may be enough to detect it if we are in an umbrella and one of the conflicting dependencies has `override: true`.

[2016-05-28 19:41] josevalim commented on #4682
@lexmag I think I found a bug in the new diff!

![image](https://cloud.githubusercontent.com/assets/9582/15629582/e969bc3a-251c-11e6-83c3-1335d2d86904.png)

The comma should be part of the diff most likely. :)

[2016-05-28 19:49] lexmag commented on #4682
@josevalim the fix is in master.

[2016-05-28 20:40] amuino commented on #4009
Any reason why `at` was finally not added for lists? I found myself implementing `first` (which is just a particular case of `at`).

[2016-05-28 20:44] josevalim commented on #4009
No reason. Would you like to send a PR?

On Saturday, May 28, 2016, Abel Muiño <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-29 03:24] tatsuya6502 commented on #4695
Thanks for the comment. I think when I created my project, there was no "raw" deps support existed in rebar. I will change the dependency to "raw" to see if it works.

[2016-05-29 16:56] amuino commented on #4009
@josevalim Done! #4719

Would it be useful to have `first` and `last`? (Mostly because `last` is a bit cumbersome to implement with an index based API).

Re: naming, I'll throw an idea… `Access.List.at`, `Access.Tuple.elem`… (or maybe the other way around: `List.Access.at`…).

[2016-05-29 19:16] josevalim commented on #4082
Hello everyone,

This is another ping to see how the elixir_make integration is going. The plan is to release Elixir v1.3-rc this week and we won't include elixir_make in it so far. If we get enough usage and positive feedback before final, we can definitely include it, otherwise we will hold until v1.4, so please let us know.

@jpmec we will make it support the --verbose flag.

[2016-05-30 14:40] josevalim opened #4723 "Add --warmup to mix profile.fprof"
The idea is to execute code once before profiling. By default, the option should be true and we will print a "Warmup..." before the warmup run.

[2016-05-30 15:51] antipax commented on #4723
Any objections to me grabbing this?

[2016-05-30 17:38] josevalim commented on #4723
@antipax not at all!

[2016-05-30 19:55] #4723 closed

[2016-05-31 01:03] david-pm commented on #4031
I had the exact same problems as @PragTob . Used the GUI installers https://www.erlang-solutions.com/resources/download.html
changed squeeze to wheezy in /etc/apt/sources.list.d/erlang-solutions.list and it all works fine :)

[2016-05-31 03:07] riverrun commented on #4082
Comeonin [develop branch](https://github.com/elixircnx/comeonin/tree/develop) is now using elixir_make.
This has just been tested on Linux, so feedback on using it on other platforms would be very welcome.

[2016-05-31 08:17] PragTob commented on #4031
Still, damn :(

As another solution I just started using [asdf](https://github.com/asdf-vm/asdf) as a version manager and it worked rather nice.

[2016-05-31 21:00] josevalim opened #4733 "Unpack archives after installation"
There is no reason to keep archives as .ez files after they are installed. Unpacking should improve boot times and possibly solve issues with update on Windows.

[2016-05-31 21:04] antipax opened #4734 "mix escript.install/archive.install from SCM"
@ericmj's proposal on the elixir-lang-core list:

Going to be working on this now, so let me know if you have any ideas or feedback about this for me to incorporate.

/cc @josevalim @ericmj

[2016-05-31 21:13] josevalim opened #4735 "mix escript.install should warn if the given executable is already in PATH at another location"
/cc @michalmuskala @ericmj

[2016-05-31 21:31] antipax commented on #4735
Maybe we should also add that you should put the escripts dir at the end of your PATH to the warning when you use escript.install and the escript dir is not in your path? That way at least any existing executables will not be overridden, though even in that case this warning would be useful.

[2016-05-31 21:34] ericmj commented on #4733
We can further optimize it by calling a specific module, named by convention from the archive name (like `Mix.Tasks...`). That module has a function that registers all tasks and hooks into Mix.

This way we don't have to traverse every module in the archive.

[2016-05-31 21:48] whatyouhide opened #4737 "Add documentation for @optional_callbacks"
Working on this, I'm opening it just so I don't forget :)

[2016-05-31 22:15] michalmuskala commented on #4733
We talked a little bit about this on IRC. It seems the main issue is not unpacking the archives, but discovering the mix tasks.

What if we could somehow cache the list of available tasks? I see two solutions for that:
* compile a module mapping task name to module name similar to how protocol consolidation works. This module would only need to be recompiled if a task is not found or if a task was

[2016-05-31 22:24] ericmj commented on #4733
This would work for dependencies but for archives all beam files are in the same directory. We could of course extract this list of beams and store it in the archive.

[2016-06-01 05:22] michalmuskala commented on #4733
If the archive is unpacked when installed, there could be a similar directory for each archive with it's tasks or for all archives with all the tasks from them. It would be easy to populate either one when installing the archive.

[2016-06-01 07:51] #4737 closed

[2016-06-01 07:53] josevalim commented on #4733
I am not worried about traversing all modules in the archive because we only do this for paths and we do this for everything in the load path. So I am not sure what we are gaining?

This PR is simply about unpacking them so the VM doesn't have too every time we boot.

[2016-06-01 08:34] ericmj commented on #4733
If we never traverse modules more than in `mix help` then ignore my suggestion.

[2016-06-01 08:48] josevalim commented on #4733
This has been merged but we should keep it open until we verify it works on Windows.

[2016-06-01 09:35] #4735 closed

[2016-06-01 10:04] michalmuskala commented on #4733
So what is the main reason for lots of archives being slow? Is that unpacking or traversing all the modules in archives looking for tasks?

[2016-06-01 15:15] olafura opened #4740 "Using prim_file instead of using file"
:code already states that:
%% prim_file is faster than file and the file server may
%% not be started yet.

And the :file_server is basically just a wrapper.

I think it might be worth considering at least for read and write.

I'm just wondering if the other interface are just for backwards
compatibility and not being tied to an implementations.

I'll try creating some tests to see what the differ

[2016-06-01 16:41] fishcakez commented on #4740
@olafura `:prim_file` is not documented so we wont be used it directly. You can open with `raw` mode to use `:prim_file` almost directly. The code server can not use `:file`/`:file_server` to load `:file`/`:file_server` but `:prim_file` is preloaded so will always be there to load other files with.

[2016-06-01 16:41] #4740 closed

[2016-06-01 16:43] fishcakez commented on #4740
@olafura but yes you can gain quite some performance by using `:raw` mode, I suggest you try it out and perhaps other tips listed in the `File` docs :smile:.

[2016-06-01 17:14] olafura commented on #4740
@fishcakez Thanks for the explanation ;)

[2016-06-01 22:54] robi-wan opened #4753 "Failing SystemTests under Windows"
### Environment

* Elixir version (elixir -v):
Erlang/OTP 18 [erts-7.3] [64-bit] [smp:8:8] [async-threads:10]
Elixir 1.3.0-rc.0

* Operating system: Windows 7 Professional 64bit

### Current behavior

Running the tests under windows gets me this output:
[code]

System.cmd/3 is tested by using the echo executable.

But: there is no native echo `executable` under windows. There does exist an echo `c

[2016-06-01 23:09] josevalim commented on #4753
@robi-wan thank you! can you please send a PR so we can further investigate?

[2016-06-02 05:59] VJOfficial opened #4755 "How to run elixir mix app in detached mode"
Hello , i build api app using mix , elixir , how to run mix app in detached mode ? i tried --detached but api is not working. let me know if we have any command in mix or something else i need to add to configuration file or something. thanks in advance.

[2016-06-02 06:03] eksperimental commented on #4755
hi VJ, this is not the place for posting questions.
you may try luck with www.elixirforum.com
or the mailing list elixir-lang-talk@googlegroups.com

[2016-06-02 08:07] #4755 closed

[2016-06-02 08:39] robi-wan commented on #4753
I will send a PR (with different tests depending on os type). Later today.

[2016-06-02 09:34] chvanikoff opened #4757 "Check for recursive imports in config files"
Currently, there are no checks in `import_config` and in case of recursive include like this `config.exs`:
[code]
iex will hang untill it gets to spawn_process limit:
[code]

Expected behaviour is to throw an error immediately before reaching processes limit if such a recursion detected

[2016-06-02 18:40] myronmarston opened #4759 "Getting new compile error for timex 0.19.2 on Elixir 1.3.0-rc.0"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

Ubuntu 12.04.5 LTS (on travis)

### Current behavior

I wanted to give Elixir 1.3.0-rc.0 a try and updated the `.travis.yml` in our main application to see if it could build OK on the new version.  The build failed while trying to compile timex 0.19.2:

[code]

It looks like [this line](https://github.com/bitwalker/timex/

[2016-06-02 19:25] josevalim commented on #4759
@myronmarston thank you. I have decided to update the changelog to mention it because such syntax was never officially supported and it gets in the way of some features we have implemented on v1.3 (like defdelegate with default args).

[2016-06-02 19:25] #4759 closed

[2016-06-03 04:44] jacqueline-homan opened #4766 "Makefile: recipe for target 'clean' failed in Debian 8"
### Precheck

* Do not use the issues tracker for help or support (try Stack Overflow, IRC, mailing list, etc)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir version (elixir -v):
* Operating system:

### Current behavior

[2016-06-03 05:52] robi-wan commented on #4753
Resolved with https://github.com/elixir-lang/elixir/pull/4760

[2016-06-03 05:52] #4753 closed

[2016-06-03 07:27] josevalim commented on #4766
Please see this issue: https://github.com/elixir-lang/elixir/issues/1741

It is like your erlang installation is missing some components. :)

[2016-06-03 07:27] #4766 closed

[2016-06-03 08:30] josevalim commented on #4082
@jpmec if we want to support such, I think we need to do so by using environment variables. Using Mix project or the config files is not going to work when compiling a dependency. Maybe `MIX_MAKE_EXECUTABLE`? Any other flags you would need?

[2016-06-03 11:17] alco commented on #4682
Sometimes it just looks cute
<img width="665" alt="screenshot 2016-06-03 14 15 42" src="https://cloud.githubusercontent.com/assets/207748/15777134/c9b289a8-2995-11e6-877e-ba7f65ca9d8c.png">

[2016-06-03 11:56] jpmec commented on #4082
@josevalim hmm, environment variables are an okay work around for smaller stuff.  I think this goes back to the ultimate problem of the choices the library author made to decide how to compile may not be the choices I need.  Perhaps for now, just settling on `nmake` for windows is the best?  I'm okay using Visual Studio, but the awareness needs to be that with this compiler, then Visual Studio bec

[2016-06-03 11:58] jpmec commented on #4082
@josevalim and about the environment variables, I think the `MIX_MAKE_EXECUTABLE` would be enough for my needs for now.

[2016-06-03 12:38] josevalim commented on #4082
@jpmec doesn't the current compiler automatically picks up `make` if you are inside something like MSyS/MinGW?

[2016-06-03 13:13] fhunleth commented on #4082
Regarding environment variables, there's a convention to use `$MAKE` to point to the `make` executable and to provide arguments. On Windows, I've only seen this used with Cygwin and Mingw projects, so I'm not sure it applies to Visual Studio. The use cases that I can think of would be to set `$MAKE` to `gmake` or `gnumake` if your default `make` is the BSD variety. The other one is if your project

[2016-06-03 13:28] steflef commented on #4167
Same problem here: Runtime Error (at 113:542): List index out of bounds(1)" .
Win 7 behind firewalls in a large corporation.

We have the same problem with npm (proxy, ports, etc.), but at least the main node.js is a complete install.
Without an offline installer, it's very difficult to even try elixir.
Thanks!

Will try from home  ;)

[2016-06-03 16:17] josevalim commented on #4167
Hi @steflef, don't forget you can use the precompiled package: http://elixir-lang.org/install.html#precompiled-package

Maybe we should ship with an offline installer but I am really concerned about having to build a new installer for new releases. @chyndman already said he could take care of it, and it is really appreciated, but preferably we want less process in Elixir releases. Maybe one option

[2016-06-03 17:38] josevalim commented on #4082
Thanks @fhunleth. We could use the MAKE environment variable but we would need to change how we currently invoke the MAKE command since we make a distinction between executable and arguments. I am not sure if that is worth the trade-off.

[2016-06-03 17:48] myronmarston opened #4768 "`mix compile` does not report invalid switches (as the 1.3 changelog suggests it should)"
### Environment

* Elixir version (elixir -v):

[code]
* Operating system:

OS X el capitan

### Current behavior

Running `mix compile --force --errors-as-warnings` ran without failing.

### Expected behavior

I meant `--warnings-as-errors` and mistyped it.  However, given the [Option Parser Integration](https://github.com/elixir-lang/elixir/blob/master/CHANGELOG.md#option-parser-integration) sec

[2016-06-03 18:00] josevalim commented on #4768
Mix compile won't be able to support this because it is a facade to multiple compilers, each bringing its own options. I will make it more explicit in the CHANGELOG but it won't be available to all tasks.

[2016-06-03 18:00] #4768 closed

[2016-06-03 18:00] josevalim commented on #4768
Thank you for the report and for trying v1.3.0 :D

[2016-06-03 18:34] chyndman commented on #4167
@steflef @BrandenSchwartz see [v1.11](https://github.com/elixir-lang/elixir-windows-setup/releases/tag/v1.11) of the installer which should at least provide a friendlier error message in your circumstances.

@josevalim there are a couple issues with this.  First, I would need to implement some way to validate the contents of Precompiled.zip so the installer doesn't install any arbitrary ZIP file o

[2016-06-03 18:38] fhunleth commented on #4082
I think the separation in elixir_make between executable and arguments is the way to go, and don't want that changed. The point that I meant to make was that if there's an environment variable, I like it being called MAKE. It just needs to be sanitized first since there's a common use (abuse?) of it to pass command line arguments.

Here's another data point: If a `Makefile` calls `make` recursivel

[2016-06-03 19:13] josevalim commented on #4167
That sounds like a great option too, definitely!

[2016-06-03 20:29] lau opened #4769 ""nil" ({0, 0}) microsecond default"
In 1.3.0-rc.0 we get:
[code]

Should microsecond default to `{0, 0}` ? For all the three types that have microseconds. We already have it as default for the sigil.

cc @josevalim

[2016-06-03 20:55] josevalim commented on #4769
Sounds good. We decided to not include it originally probably because of
precision but now it is explicit.

On Friday, June 3, 2016, Lau Taarnskov <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-03 23:37] ericmj opened #4770 "`mix deps.compile app` is not force compiling the dependency"
From docs:

[code]

The force compilation does not work.

[2016-06-03 23:42] myronmarston opened #4771 "ExUnit intermittently crashes on my project on Elixir 1.3"
### Environment

* Elixir version (elixir -v):

[code]
* Operating system:

OS X el capitan

### Current behavior

When running `mix test` on my project, I got this error from within ExUnit:

[code]

The test run immediately aborted at that point even though I was running `mix test` in the context of an umbrella project and there were many apps left to run tests for.

Unfortunately, it's only happ

[2016-06-03 23:47] eksperimental commented on #4771
If you have the randomized generated seed it will probably help as well

[2016-06-03 23:52] myronmarston opened #4772 "Elixir 1.3 compiler intermittently crashing when compiling dependencies on my project"
### Environment

* Elixir version (elixir -v):

[code]
* Operating system:

OS X el capitan

### Current behavior

I've been trying to get our project on Elixir 1.3.0-rc.0.  Twice, the compiler has crashed in a non-reproducible way.  In both cases, it appears to be related to struct definitions.

The first time I encountered this error while it was compiling timex 1.0.2:

[code]

Another time I go

[2016-06-03 23:53] myronmarston commented on #4771
I don't, unfortunately.  Although, I tried to use it to reproduce and wasn't able to reproduce with the same seed.

[2016-06-04 00:43] vans163 opened #4773 "mix is not respecting clean."
mix.lock holds relics to old versions of repos.  When those repos get updated (on github) doing a mix clean, mix deps.get,  or deleting _build directory does not give you the latest version.

You need to delete mix.lock file.

Should mix clean not clear out any mix.lock relics?

Perhaps a related mix issue: https://github.com/elixir-lang/elixir/issues/4770

[2016-06-04 06:30] michalmuskala commented on #4773
I think this is perfectly intentional and correct behaviour. `mix.lock` ensures that the builds are fully repeatable - until you explicitly change a version of a dependency you should get exactly the same code each time you get it.
If you want to update a dependency you can use `mix deps.update` or unlock it with `mix deps.unlock`.

[2016-06-04 06:59] riverrun commented on #4082
I was also having problems with setting config values with elixir_make (I was trying to change the default makefile). Adding values to a config.exs file didn't seem to have any effect. When I checked the output of Mix.Project.config, none of the config values were present - there was just a value for the config_path.
Has anyone managed to get this to work?

[2016-06-04 07:26] fishcakez commented on #4773
It is intentional for the `mix.lock` file to remain beyond a `mix clean --deps` so we get repeatable builds. This is a feature :). It is much safer to use the commands @michalmuskala suggested to unlock/update.

[2016-06-04 07:26] #4773 closed

[2016-06-04 07:36] fishcakez commented on #4771
In 1.3 we started running tests as soon as they are loaded. Looks like we have a race condition where asyncs are empty only for more to get loaded before we try to grab synchronous ones. Likely we need to have one take function and let the server decide what to give.

[2016-06-04 07:51] ericmj commented on #4770
It also doesn't seem to load dependencies:

[code]

[2016-06-04 08:42] #4769 closed

[2016-06-04 08:44] josevalim commented on #4768
The changelog is updated in master!

[2016-06-04 08:46] josevalim commented on #4770
Removed force.

This is explained in the docs. :)

[2016-06-04 08:47] #4770 closed

[2016-06-04 08:51] josevalim commented on #4082
@riverrun the configuration happens in your `def project` in your mix.exs (similar to the other compilers):

    def project do
      [make_executable: "special_make"]
    end

[2016-06-04 08:53] ericmj commented on #4770
I think we should have force compilation. If I change configuration for a dependency (for example `config :mime, :types`) I have to either `mix deps.clean` or delete directories from `_build/`. It's bad enough that I have to know I have to explicitly force recompilation after changing configuration so we should really try to make this straight-forward.

Can you point me to those docs? I see docs a

[2016-06-04 08:58] josevalim commented on #4770
The dependencies should be loaded, they won't be loaded through if they haven't been previously compiled.

[2016-06-04 09:21] josevalim commented on #4771
@myronmarston do you remember if another error got reported? For example, you were trying to load some file that had a syntax error on it? I believe that it is the only situation this error would happen.

[2016-06-04 09:22] josevalim commented on #4772
I believe this is the same error @Gazler is seeing.

[2016-06-04 09:41] Gazler commented on #4772
The errors look very similar. Mine have not been failing on dependencies, but I am using an umbrella application. I have been trying to replicate the issue for a while now.

I have had it fail on

 * a dependency on another app in the umbrella
 * another file in the same app

We can maybe rule out a few things here.

@myronmarston:

 * Are you using an umbrella app?
 * Could you provide the deps a

[2016-06-04 10:03] josevalim commented on #4771
Here is some rationale why I don't think this can happen except in case of errors.

`mix test` will spawn a task to run tests, that's the one effectively calling `take_sync_cases`. Then the main process will proceed to load all files and signal that all cases have been loaded only after all files have been loaded:

https://github.com/elixir-lang/elixir/blob/2a1d3d65303c96da56200d29a333310adfd8bace

[2016-06-04 10:25] josevalim commented on #4772
I don't think this is related to particular dependencies given all the different scenarios this is happening. In fact, I have fixed another bug in master that may have been the cause of such issues. Here is the rationale:

Elixir tracks modules being compiled by the compiler. For example, imagine these two files:

[code]

Elixir knows that one file is defining B and waiting on A and another is def

[2016-06-04 10:32] #4771 closed

[2016-06-04 10:41] josevalim commented on #4772
@Gazler said this definitely did not fix the issue, so we need to continue investigating. On the other hand, @Gazler also said that when this happens once it happens consistently.

[2016-06-04 11:02] josevalim commented on #4733
I have verified this also works on Windows.

[2016-06-04 11:02] #4733 closed

[2016-06-04 11:03] josevalim commented on #4733
@michalmuskala packing and unpacking the archives on boot. If we keep them unpacked, it is mostly a matter of having more load paths to handle.

[2016-06-04 12:28] ericmj opened #4776 "Add --force flag to mix deps.compile"
When the flag is set build artifacts should be cleaned before compiling.

[2016-06-04 12:43] felipesere commented on #4776
@ericmj I'd love to take this one

[2016-06-04 12:45] josevalim commented on #4776
@felipesere all yours. :)

[2016-06-04 14:26] josevalim commented on #4772
Fixed by #4777. 🎉

[2016-06-04 14:26] #4772 closed

[2016-06-04 14:36] vans163 commented on #4773
I see okay thanks. I just found it really unintuitive then, also checking 'mix help' did not help much to explain how to clean out all the project deps and start from scratch.

[2016-06-04 16:11] felipesere commented on #4776
Quick question:
How would I check that deps were actually re-compiled?
I thought about using the mtime of `_build` or some other folder, but I just get second-resolution...

[2016-06-04 17:09] josevalim commented on #4776
Since you will be cleaning before compiling, you can write a bogus file
inside the application directory in _build and ensure it is no longer there
after compilation.

On Saturday, June 4, 2016, Felipe Seré <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-04 17:11] josevalim commented on #4776
@ericmj I just realized that cleaning the target in _build is not going to
do anything for make and rebar dependencies since the artifacts are added
deps/app.

On Saturday, June 4, 2016, Felipe Seré <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-04 22:26] lexmag commented on #4682
Alright, there are first results for content-aware lists difference:

* first pair of lines – current output
* second pair of lines – new output

_ignore keywords formatting_

<img width="368" alt="screen shot 2016-06-05 at 00 15 56" src="https://cloud.githubusercontent.com/assets/248290/15802468/afeb2592-2ab3-11e6-9df0-34ed5de25d61.png">

[2016-06-04 22:48] felipesere commented on #4776
This is my first stab, though its not working: https://github.com/elixir-lang/elixir/pull/4780
Pointers/advice/suggestions either here or on the PR are super-welcome.

[2016-06-05 02:08] StevenXL commented on #4757
Hello. I'd like to take on this issue please.

[2016-06-05 08:57] josevalim commented on #4757
Please go ahead! :D

[2016-06-06 17:38] myronmarston commented on #4776
Since `mix compile` will compile dependencies if needed (as well as your project files), will `--force` in `mix compile --force` apply only to your project files or to dependencies, too?

Ideally, I'd like it to apply to only your project files, because in our CI builds we:

* Have travis configured to cache `deps` and `_build` so that dependencies do not have to be re-compiled on every CI build
*

[2016-06-06 17:41] myronmarston commented on #4772
Thank you both, @josevalim and @Gazler!  I'm going to keep working on upgrading our app to 1.3 using HEAD of this repo (only changes meant for 1.3.0 final are being merged to master, right?) so I'll let you know if I see this again.

[2016-06-06 17:45] myronmarston commented on #4771
@josevalim When I got the error I believe it was the only error I got.  I don't have the output from that run handy at this point so I could be remembering wrong.

Regardless, thanks for looking into the issue and applying a fix.  I'll let you know if I see it again.  If it does happen again (and is still non-reproducible for me), is there any additional information I should make sure to provide?

[2016-06-06 18:03] josevalim commented on #4771
Having the full run should be useful. Plus, if the error still exists, I
hope it will show up closer to the actual source now!

On Monday, June 6, 2016, Myron Marston <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-06 19:19] ericmj commented on #4776
do anything for make and rebar dependencies since the artifacts are added
deps/app.

Can't we do the same thing we do for `deps.clean` or are you saying that `deps.clean` is also broken?

`mix compile --force` should not clean deps.

[2016-06-06 20:00] myronmarston opened #4783 "Regression in f957d2fb76a6206493feb451f1035b1ee9338dc1 breaks the `test_all` mix task in my umbrella project"
### Environment

* Elixir version (elixir -v):

[code]

(This is HEAD as of this morning).

* Operating system:

OS X El Capitan

### Current behavior

When I run `mix test_all` in my umbrella app, I get this error:

[code]

This task is a custom one in our project ([which I proposed on the mailing list](https://groups.google.com/forum/#!searchin/elixir-lang-core/test_all/elixir-lang-core/8wX8i5sE

[2016-06-06 20:21] josevalim commented on #4783
@myronmarston I am ok with fixing it BUT it is worth mentioning that the new --stale feature won't work with your test_all task. Do you still think it is worth keeping it?

[2016-06-06 20:28] myronmarston commented on #4783
That's good to know.   I've not used 1.3 yet (still haven't managed to upgrade our project to it...) so I don't have any experience with `--stale` in our workflow to see if it removes the need for `test_all`.  I expect `test_all` to still be useful at times, though.  For example, when upgrading Elixir (as I'm trying to do now) I want to be able to run all tests from all sub apps all at once, and `

[2016-06-06 20:32] josevalim commented on #4783
@myronmarston you can still use `mix test` to run all apps at once. ;)

Anyway, I will push a fix shortly, but I want to remind you that you have a workaround and we may not be able to support it on our side forever and ever. :) Specially now that the reason this is failing is because of the new `--stale` feature.

[2016-06-06 20:33] antipax commented on #4783
@myronmarston I think using `mix test --stale` would give you greater performance gains than running all of your test suites at once for the use case you describe.

[2016-06-06 20:39] myronmarston commented on #4783
What specifically are we doing that may not be supported?  We are:

* Defining a mix task the delegates to another one
* Setting `preferred_cli_env` to `test` for our custom task
* Overwriting `test_paths`

Which of these things is a work around/non-standard thing that may not be supported? They all seem like normal mix operations to me...

If everything is stale (because a universal dependency li

[2016-06-06 20:43] josevalim commented on #4783
You are not supposed to call the `run/1` function of a Mix.Task directly. They should be invoked through the Mix API which will guarantee they are running in the proper environment, that aliases are run, that they are running recursively and so on. So if you wanted to delegate, you should use `Mix.Task.run "test", arg` but that would be recursive and you don't want that. :)

Oh, this is good to kn

[2016-06-06 20:43] myronmarston commented on #4783
Is there a mode that `mix test` supports to run all apps at the same time and provide a single summary report at the end of the results?  I've only ever seen `mix test` do the normal recursive approach of running `mix test` in the context of each app in turn, resulting in multiple pages of output for our umbrella app (which has 40 children, as I mentioned above).

If there is such a mode, I'd be k

[2016-06-06 20:44] #4783 closed

[2016-06-06 20:46] antipax commented on #4783
@myronmarston Actually, now that I think about it `mix test --stale` wouldn't improve your use case, my bad. :)

Forgot that we changed it so it would only start determining which tests are stale until until you have a totally successful test suite.

[2016-06-06 21:03] myronmarston commented on #4783
Thank you for the quick fix, @josevalim!

I had no idea!  It would be good to document this somewhere...but I'm not sure where it would go.

Anyhow, would you be open to Elixir providing out-of-the-box support for what we're achieving via `mix test_all` in Elixir 1.4?  Then you could stop supporting our work around :).

If you're open to Elixir supporting this out-of-the-box I'd be happy to work u

[2016-06-06 21:36] felipesere commented on #4776
@myronmarston I haven't touched `Mix.Tasks.Compile` so your setup with CI should remain unaffected. 😄

@ericmj @josevalim I have updated the PR and the tests pass.
I am not sure on how to name a function that _may_ do something (like cleaning in this case) or not.
`?` felt like a predicate and `!` like it could raise...

More feedback is welcome.

[2016-06-06 21:57] josevalim commented on #4783
I am more open to do this, certainly, but let's wait a bit further. If it gets to the point we can no longer support what you are doing, I would gladly introduce such a task.

[2016-06-07 07:30] tallakt opened #4784 "Issue with Date.to_iso_8601! - no roundtrip compatibility"
### Environment

* Elixir version (elixir -v):
    Erlang/OTP 18 [erts-7.3] [source-d2a6d81] [64-bit] [async-threads:10] [hipe] [kernel-poll:false]

    Elixir 1.3.0-rc.0 (5830699)

* Operating system:

Linux tallak-VirtualBox 3.16.0-71-generic #92~14.04.1-Ubuntu SMP Thu May 12 23:31:46 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

### Current behavior

    iex(2)> NaiveDateTime.to_iso8601(~N[2000-02-2

[2016-06-07 07:35] josevalim commented on #4784
You are converting from NaiveDateTime to Date, I wouldn't expect a roundtrip there.

[2016-06-07 07:35] #4784 closed

[2016-06-07 22:15] #4682 closed

[2016-06-08 02:10] phipix01 opened #4787 "System.cmd's parallelism: true flag doesn't seem to work with whiptail or dialog"
I'm not 100% if this is a bug or me having it implemented wrong but given the existing documentation I couldn't think of another way to achieve this.

I'd like to display the stdout from programms like whiptail or dialog in the shell i executed the elixir script in.

### Environment
* Erlang/OTP 18 [erts-7.3] [source] [64-bit] [smp:4:4] [async-threads:10] [kernel-poll:false]
* Elixir 1.2.4
* Opera

[2016-06-08 09:10] josevalim commented on #4787
@phipix01 does it work without parallelism: true?

[2016-06-08 11:43] alco opened #4789 "assert_receive doesn't warn about unused variables"
Test code:

[code]

Elixir v1.1.1:

[code]

Elixir v1.2.0 and above:

[code]

Those warnings are (were) useful because missing a `^` in your test code will make the test weaker and will let bugs slip through.

[2016-06-08 11:49] alco commented on #4787
What is the expected behaviour? To me it looks like it's working as intended.

[2016-06-08 17:34] phipix01 commented on #4787
@josevalim .. no doesn't work without parallelism either.
@alco I shouldn't have to abort the erlang vm. `whiptail` and `dialog` both crash after a few keystrokes or after a certain time waiting.
The behaviour is very inconsistent though sometimes they crash very early and sometimes I'm able to use it for some seconds. Also I noticed that if I redirect the `stderr` it's more likely to crash.

I no

[2016-06-08 18:22] josevalim commented on #4787
I don't think System.cmd is going to work for your use case. What is happening is that you are writing the dialog output into stdout but all of the stdin still goes to Erlang and not dialog. Erlang echos what you type in back, resulting in the behaviour you described, nothing is really reaching dialog.

You can look into Ports (and the System.cmd) implementation to see if there is a way you can by

[2016-06-08 18:22] #4787 closed

[2016-06-08 20:29] josevalim commented on #4082
Hi everyone, we have currently decided to not include elixir_make in Elixir v1.3. We will wait for it to get stable and release it as part of Elixir v1.4. The benefit is that you can use it today in your projects as a dependency as it works with older Elixir versions. This way we can get more mileage before we effectively include it in Elixir v1.4. If someone disagrees with this decision, please l