[2016-06-08 22:51] #4789 closed

[2016-06-09 00:46] myronmarston opened #4792 "Prob in elixirc paths used by `:path` dependencies in Elixir 1.2/1.3"
### Environment

* Elixir version (elixir -v):

Erlang/OTP 18 [erts-7.2.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.3.0-rc.1 (9eb4781)

* Operating system:

El Capitan

### Current behavior

There's an example app for this in josevalim/umbrella_sample#6.

Running against that branch, if I use a `:path` dependency (set via the `BAR_DEP` env var) a

[2016-06-09 00:58] antipax commented on #4792
`:path` dependencies will always be built with `:prod` env, while `:in_umbrella` deps will share the same environment as the current application, so I believe this is expected behavior. I'm not sure why it changed from 1.2 to 1.3, though.

[2016-06-09 01:02] antipax commented on #4792
I'm presuming you only add `test/support` to `:elixirc_paths` in `:test`, btw.

[2016-06-09 03:25] KallDrexx opened #4793 "Can't use <<rest::binary>> at the end of a concatenated binary pattern match"
### Environment

* Elixir version (elixir -v): 1.2.3
* Operating system: Windows 10

### Current behavior

[code]

### Expected behavior

I would expect to be able to do a pattern match against an existing binary variable while still being able to use pattern matching to retrieve the remaining bytes (e.g. get the result of entry #4)

[2016-06-09 03:47] tuvistavie commented on #4793
I think this is rather an Erlang/OTP issue, as Elixir implementation relies on it:

[code]

[2016-06-09 04:19] myronmarston commented on #4792
This is useful information I did not know.  Thanks!  It's [documented](http://elixir-lang.org/docs/v1.2/mix/Mix.Tasks.Deps.html) pretty clearly but I somehow missed that.

Yep:

https://github.com/josevalim/umbrella_sample/pull/6/files#diff-69eb10ba0ae7102ccb907c0b64f6a64bR12

I decided to try this command:

[code]

Basically, do `mix test` and then `cd apps/foo mix test` with a `tree _build/test/

[2016-06-09 06:53] riverrun commented on #4082
Sounds good. I just have a question about how you will handle the transition from using elixir_make (as a separate library) to having make as part of the standard library. Is that going to cause many headaches?

[2016-06-09 07:37] josevalim commented on #4082
It should not. The reason we named the project :elixir_make with name of
ElixirMake is so when we move it to Elixir we can rename it to :make and
Make. So you will only need to change the compiler name and everything
should work with no conflicts.

On Thursday, June 9, 2016, David Whitlock <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>

[2016-06-09 09:11] josevalim commented on #4793
Yes, it is a VM limitation. Your best option is to match multiple times and use binary_part when splitting into known binary sizes.

[2016-06-09 09:11] #4793 closed

[2016-06-09 09:48] josevalim commented on #4792
Ok, so the bug here is really that you are trying to run bar in two conflicting environments and we were not reporting it. I have fix for this in master and I am working on a test next.

Thanks for the fantastic report @myronmarston!

[2016-06-09 09:58] abhurtun commented on #3342
You can also use tini (https://github.com/krallin/tini) or dumb-init (https://github.com/Yelp/dumb-init) to manage PIDs inside containers when using Erlang this would resolve the issue

[2016-06-09 10:24] #4792 closed

[2016-06-09 15:32] myronmarston commented on #4792
Thanks for the fix, @josevalim!  Will the fix be included in 1.3 final?

[2016-06-09 15:51] josevalim commented on #4792
@myronmarston I am not sure yet. :) I am running master (which is basically v1.3.0 with this fix right now) and you are welcome to do the same. If I don't detect any issues, I may include it but I would like to avoid doing changes to the rc unless we absolutely have to.

[2016-06-09 17:24] chyndman commented on #4167
I've released [v2.0](https://github.com/elixir-lang/elixir-windows-setup/releases/tag/v2.0) of the installer which supports creating offline installers.  See the [readme](https://github.com/elixir-lang/elixir-windows-setup#offline-installation) on how to do so.  Please let me know if the process is unclear.

[2016-06-09 21:36] Tuxified commented on #3268
+1 for warning, fyi: Credo already has a warning for this

[2016-06-09 22:22] josevalim commented on #4167
This is fantastic work, thank you @chyndman! :D

[2016-06-10 19:06] c0b commented on #3413
the float_pp looks good and is exactly what I want, could you make it available on hex.pm ? @ewildgoose

[2016-06-10 22:03] c0b commented on #3413
will lose the convenient `:compact` conversion as a keyword list, will have to write in full format like `:erlang.float_to_binary 7/2, [{:decimals, 4}, :compact]`

[code]

[2016-06-11 08:00] josevalim commented on #3413
You can write `[:compact, decimals: 4]`. I don't think this tiny convenience justifies keeping a function that can yield unexpected results, specially because you can also easily do the wrapping yourself as well.

[2016-06-11 10:00] CrowdHailer commented on #2876
Is there any reason why URI only does basic parsing? @jw2013 did you find a roll your own library or did you just end up using plug

[2016-06-11 11:12] #4776 closed

[2016-06-11 14:17] StevenXL commented on #4757
Still working on this. Learning as I go. Getting a lot of help on IRC. No timeline for completion but if I think I won't be able to complete, I will update this issue so that others can feel free to take a look.

[2016-06-11 14:33] whatyouhide commented on #4757
Great @StevenXL, thanks for the update! 💟

[2016-06-11 14:33] antipax commented on #4757
@StevenXL I'm around on IRC if you have more questions, or we could pair on it some time over skype or something if you need some more help.

[2016-06-11 20:07] antipax commented on #4734
Just going to reuse this issue for the archive.install version, unless anyone has any objections.

[2016-06-11 20:10] josevalim commented on #4734
Sounds good!

[2016-06-11 20:31] #3268 closed

[2016-06-12 04:06] brennan3 commented on #3857
For what its worth for others, if you have a small droplet on digital ocean, you will get memory issues.  When you do, just compile the dependency directly on its own.  IE,
$> cd deps/idna
$> rebar compile

Running your standard mix deps.compile afterwards should proceed along.  If other deps have issues, just compile them directly as well.  You shouldn't have to upgrade the droplet RAM if you go

[2016-06-12 11:04] zackehh opened #4799 "Logger console backend does not print metadata values when using default keys"
### Precheck

Disclaimer: I'm not 100% sure whether this is a core bug, a doc bug, or a misunderstanding (which I suppose may result in a doc bug).

### Environment

* Elixir version (elixir -v): 1.2.6
* Operating system: OS X 10.11

### Issue

The Logger [documentation](http://elixir-lang.org/docs/stable/logger/Logger.html) states the following about the `:console` backend:

Which is then followe

[2016-06-12 11:14] zackehh commented on #4799
Ah, following up on this seems like it only occurs in `iex` - if I compile and run without an `iex` session, it logs correctly.

So this seems like a bug, but less significant (maybe?).

[2016-06-12 12:26] josevalim commented on #4799
I will improve the docs to be clearer. It is also worth pointing out that you cannot really pass the module, as Logger automatically gets one for you, and in this case, because you are in IEx, there is no module. :)

[2016-06-12 12:26] #4799 closed

[2016-06-12 12:26] josevalim commented on #4799
Thank you!

[2016-06-12 14:12] josevalim opened #4801 "with should not leak variables to "else""
[code]

It will unfortunately return 2 but it should return 1. Showed up as part of #4800.

[2016-06-12 16:55] #4465 closed

[2016-06-12 17:33] #4734 closed

[2016-06-12 19:26] #4801 closed

[2016-06-12 22:02] antipax opened #4810 "mix xref graph"
As discussed in IRC:

Implement `mix xref graph`, which will output the module reference graph for the current mix project. Should support the usual `--exclude` and `--format pretty/plain/dot`, as well as `--sink` and `--source` to display only nodes for which there is a path to the given sink/from the given source.

Going to be working on this next.

/cc @josevalim

[2016-06-12 22:24] josevalim commented on #4810
Sounds good.

[2016-06-14 06:44] #4757 closed

[2016-06-14 22:42] sachpatel commented on #4031
@PragTob and @david-pm solution worked for me today. I was using Linux Mint Rosa. Had to change squeeze to wheezy, run apt-get update and then elixir installed :+1:

[2016-06-15 09:35] ulfurinn opened #4814 "Repeated compilation does not produce identical beams"
Elixir 1.2.5, Erlang 18.3

Deleting `_build` and recompiling without any code changes does not produce identical beam files.

Looking closer, `:beam_lib.cmp file1, file2`, run on two beam files produced from the same source, returns `{:error, :beam_lib, {:chunks_different, 'Atom'}}`.

Looking at `:beam_lib.chunks file1, [:atoms]`, the atom order slightly varies between compilations. Some parts of

[2016-06-15 10:43] fishcakez opened #4815 "Variables made safe in multiple clauses are defined before a fun that is returned in or created and used in the tail"
Present in all 1.* versions of Elixir.

[code]

This creates approximately the following Erlang:

[code]

[2016-06-15 13:08] josevalim commented on #4814
@ulfurinn great catch. Since we are storing functions in an ETS table, which is non-ordered, I bet that's the source of non-determinism. I have just verified the report in Ecto and I will work on a fix soon.

[2016-06-15 13:25] #4814 closed

[2016-06-15 14:14] #4815 closed

[2016-06-15 14:34] fishcakez commented on #4467
Fixed in https://github.com/elixir-lang/elixir/commit/d917f7f411c239cb52c37348d0cd3baedf1e4620

[2016-06-15 14:34] #4467 closed

[2016-06-15 14:36] josevalim commented on #4467
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-06-15 18:57] #4810 closed

[2016-06-18 17:52] fishcakez commented on #4617
[ ] translate `:gen_statem` log messages

[2016-06-18 18:25] josevalim commented on #4617
@fishcakez can we include it in the upcoming v1.3 release?

[2016-06-18 19:51] akitaonrails opened #4826 "Possible mistake in the Getting Started example for "Enumerables & Streams/Eager vs Lazy""
I was trying this example from [this section](http://elixir-lang.org/getting-started/enumerables-and-streams.html#eager-vs-lazy) in the Getting Started guide:

[code]

It blows the following error:

[code]

I think the correct example would be using the `Integer.is_odd` macro, wouldn't it?

[code]

[2016-06-18 19:54] josevalim commented on #4826
Hi @akitaonrails! :D We did define the `odd?` function in the previous section: http://elixir-lang.org/getting-started/enumerables-and-streams.html#eager-vs-lazy

Maybe we should make it clearer?

[2016-06-18 20:36] fishcakez commented on #4617
@josevalim yeah sure, its not as straight forward as the other translators.

[2016-06-18 20:37] fishcakez opened #4827 "Translate gen_statem error messages in Logger"

[2016-06-18 21:29] jamesnolanverran opened #4828 "String.replace_leading"
On Elixir 1.2.3

[code]
String.replace_trailing seems to work as expected:

[code]

[2016-06-18 21:39] fishcakez commented on #4828
Thanks @jamesnolanverran, this should be fixed in 1.2.5, 1.3.0-rc.0 and 1.4.0-dev. Please reopen if not.

[2016-06-18 21:39] #4828 closed

[2016-06-19 06:50] alco opened #4829 "`mix deps.get` gets confused with "> 0.0.0""
I've got Elixir v1.2.6 running on OS X.

Here's a test project in which you can reproduce the issue – https://github.com/alco/mixdepstest.

Clone the project and edit the Ecto dep `mix.exs` to look like this:

[code]

Then run `mix deps.get`. Here's the result I get:

[code]

Without making any other changes I run `mix deps.get` again and it works this time around:

[code]

That is why I think it'

[2016-06-19 08:35] josevalim commented on #4829
Can you please check if it has been fixed on master and you are running on
latest Hex? :)

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-06-19 13:49] ericmj commented on #4829
@josevalim I still think the `:divergedreq` check is wrong. What we really should be checking is if the version requirements are not compatible/overlapping (we would need to add this functionality to `Version`). But what we are checking is if the new requirement matches the compiled version in .app. We shouldn't do that check because we will be recompiling postgrex anyway since it changed.

[2016-06-19 16:18] alco commented on #4829
The error doesn't appear when using Elixir master (e26f8de5753c16ad047b25e4ee9c31b9a45026e5) and Hex v0.12.1.

[2016-06-19 16:20] ericmj commented on #4829
@alco Did you recreate the same _build/ when you tested on Elixir master? Or rather; can you reproduce it again on Elixir v1.2.6?

[2016-06-19 16:30] alco commented on #4829
After switching back to Elixir v1.2.6, I wasn't able to reproduce this, before and after removing `_build/`. It may have had to do with the particular Hex version I had on the first try but I don't remember seeing any suggestions to upgrade Hex at the time when I filed the issue.

[2016-06-19 16:33] ericmj commented on #4829
@alco I think you should be able to reproduce by fetching and compiling a version of postgrex that doesn't match "~> 0.11.2" and then changing the mix.exs file to `{:ecto, "2.0.0-rc.6"}` again.

[2016-06-19 16:46] alco commented on #4829
Compiling the project with Ecto v2.0.0-rc.5 and Postgrex v0.11.1, then updating to Ecto v2.0.0-rc.6 and doing `mix deps.get` reproduces the error.

[2016-06-19 17:21] michalmuskala opened #4830 "super in overridable macros does not work"
### Environment

* Elixir version (elixir -v):
[code]
### Current behavior
Given the code below:
[code]
It compiles with a warning, and when used produces an error:
[code]

### Expected behavior

I can use `super` in macros marked as overridable.

[2016-06-19 17:34] whatyouhide commented on #4830
I'm looking into this.

[2016-06-20 09:41] tallakt opened #4832 "Issue with loading existing atoms from other modules"
### Environment

* Elixir version (elixir -v):
1.3.0-rc.0 (but also on older Elixir versions)

* Operating system:
Ubuntu 3.1.16-0-73-generic (on virtualbox VM)

### Current behavior

A demonstrator for the bug may be found at https://github.com/tallakt/test_for_atom_elixir_bug

Running `mix test` fails ~50% on my machine.

The issue being that the atom table of the module does not seem to get loa

[2016-06-20 09:56] josevalim commented on #4832
@tallakt everything seems to work as expected.

1. Your tests run in random order so they will fail from time to time depending on the seed value

2. "The issue being that the atom table of the module does not seem to get loaded before a function on that module has been called." - this is always true, the atom table for a module only gets loaded when that module is loaded (and calling a function a

[2016-06-20 09:56] #4832 closed

[2016-06-20 12:45] tallakt commented on #4832
Thanks for clearing that out, also with a solution :)

[2016-06-20 13:23] omidbachari commented on #4171
If this is still available and ready for implementation, I can give it a shot!

[2016-06-20 15:01] fishcakez opened #4833 "Investigate if "mix deps.get --only test" can only fetch test deps"

[2016-06-20 15:16] ericmj commented on #4833
The underlying issue is that Mix will call Hex even if no Hex dependencies are defined for the given environment.

[2016-06-20 15:32] josevalim commented on #4826
@akitaonrails I am closing this but please let me know if you think we can make it clearer. Thank you! :D

[2016-06-20 15:32] #4826 closed

[2016-06-20 20:31] #4827 closed

[2016-06-20 20:31] josevalim commented on #4827
Closing in favor of the PR.

[2016-06-20 22:05] ericmj commented on #4042
The issues above with `badmatch` errors have been resolved with new rebar3 builds that we provide in `mix local.rebar`.

@josevalim Wdyt about this:

[2016-06-20 22:09] ericmj opened #4836 "The c helper should not produce beam files by default"
Creating .beam files in the local directory for mix projects is usually a bad idea which can cause weird compilation errors. I think this feature is causing more confusion for new users than it helps.

[2016-06-20 22:36] josevalim commented on #4042
When would this happen?

[2016-06-20 22:38] antipax commented on #4836
Just want to note that modules that are compiled in-memory cannot be used with the debugger, so maybe it would be a good idea to provide the option of compiling to file or memory in some way.

[2016-06-21 09:26] whatyouhide commented on #4836
Maybe calling it `c` for `c`ompile is not very user-friendly since if I *compile* I expect the compile output to exist. Maybe we should have an helper to "require" or "load" files?

[2016-06-21 09:54] josevalim commented on #4836
@whatyouhide the problem is with folks using `c` to check something quickly inside a Mix project and leaving a .beam in their root which causes more issues down the road. It has happened almost a dozen times at this point (that I know of).

[2016-06-21 09:55] whatyouhide commented on #4836
Yes it happened to me as well tbh, but since we would possibly have this fix in future versions of Elixir, people will still have to deal with `c` behaving like today for a while; considering that, maybe it's worth thinking about another helper for that, that's what I meant :)

[2016-06-21 10:13] josevalim commented on #4836
@whatyouhide I think we should still keep `c/1` and `c/2`, except that `c/1` is a shortcut for `c(file, :in_memory)`. So if you want to write to disk, you just do: `c("foo.ex", ".")` which is a bit more explicit and we don't end-up adding a new letter to our helpers. :)

[2016-06-21 10:29] tuvistavie commented on #4836
I have also run a few times into some issues due to a generated beam file,
and I agree it is a bit dangerous for a default behavior.
I like the idea of `c/1` defaulting to memory.

[2016-06-21 11:20] josevalim commented on #4836
This is up for grabs then. :)

[2016-06-21 11:24] tuvistavie commented on #4836
Can I take this one? :smile:

[2016-06-21 11:25] josevalim commented on #4836
Yes, please!

[2016-06-21 14:05] bcardarella opened #4837 "Assertion messages in 1.3 broke tests that previously worked in 1.2"
It seems that assertion messages now get prepended with `\n\n` and appended with `\n`.

I'm not advocating for this to be reverted, however using `assert_raise` now means I have to wrap everything in those new lines. And that isn't expected as the actual assertion message I raise doesn't have them.

[2016-06-21 14:08] josevalim commented on #4837
Can you please provide a more detailed example? It is not obviously clear
from your report. Are you talking about the message from
ExUnit.AssertionError? If so it is worth pointing out there is no
compatibility guarantee in error messages as the goal is always to make
them as readable as possible. If you check Elixir v1.0 announcement it is
one of the examples. You can also pass regular expression

[2016-06-21 14:08] bcardarella commented on #4837
@josevalim ah, didn't know about the regex. I'll just do that.

[2016-06-21 14:08] #4837 closed

[2016-06-21 17:32] kevinastone opened #4839 "mix xref unreachable should return an error code"
### Environment

* Elixir version (elixir -v):
[code]

* Operating system:

OSX 10.11.5

### Current behavior
[code]
### Expected behavior

[code]

[2016-06-21 17:34] josevalim commented on #4839
I disagree it should return an error code. It is performing static analysis and even though a warning is not an error. If you would like to get errors, I would suggest to use something like `mix compile.xref --warnings-as-errors`.

[2016-06-21 17:34] #4839 closed

[2016-06-21 17:35] josevalim commented on #4839
Thank you for trying the new release out. :D

[2016-06-21 17:39] akitaonrails commented on #4826
Ah, sorry, you're right :-) I was copying this snippet to use in a presentation (I say it's from the getting started in the site), so without context it fails, but following step by step it does work. Not a bug, just out of context from my part indeed.

[2016-06-21 18:02] myronmarston opened #4840 "Getting new compile error on 1.3.0"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

I'm getting a compile error when compiling my project from within Elixir's erlang source:

[code]

Here's the source code of the file that is failing (`lib/shaardwolf.ex`):

[code]

Note that this compile error consistently happens for me on OS X but I've not seen it happen in our tr

[2016-06-21 18:08] myronmarston commented on #4840
Looking into this a bit on my own, it looks like the problem is on [this line](https://github.com/elixir-lang/elixir/blob/v1.3/lib/elixir/src/elixir_locals.erl#L34):

[code]

The `[_ | T] = erlang:get_stacktrace(),` line assumes `erlang:get_stacktrace()` returns a non-empty list, but [the docs](http://erlang.org/doc/man/erlang.html#get_stacktrace-0) specifically call out the fact that it can:

So

[2016-06-21 18:13] kevinastone commented on #4839
Is this a suggested implementation?  I'm fine with the flag (I just want this in my CI system).
[code]

[2016-06-21 18:13] josevalim commented on #4840
It seems the bug has always been there but changes to the compiler is making you trigger it now. I will investigate, calling erlang:get_stacktrace() in there is wrong for all purposes.

[2016-06-21 18:20] myronmarston commented on #4840
Thanks, @josevalim.  If you figure out a work around we can use for this issue, please let me know.  We were hoping to deploy 1.3.0 to prod today but are going to hold off until this is fixed since we can't use 1.3.0 in local dev while this is happening.

[2016-06-21 18:21] josevalim commented on #4840
@myronmarston I have a fix.

[code]

as soon as tests pass I will push to both master and v1.3 branches.

[2016-06-21 18:23] josevalim commented on #4840
As a local workaround, this should be enough:

[code]

This will make sure those modules are loaded upfront so we don't try to load structs dynamically (which is leading to the branch that fails).

[2016-06-21 18:23] myronmarston commented on #4840
Sounds good, @josevalim!  Will 1.3.1 be released with this fix soon?  I'm comfortable building from source in the v1.3 branch (I've been doing that for a bit) but my teammates are probably less comfortable with that.

[2016-06-21 18:24] myronmarston commented on #4840
Thanks!  Giving that a try...

[2016-06-21 18:24] josevalim commented on #4840
@myronmarston Sorry, you cannot remove the alias, you need both the alias and the require. :)

[2016-06-21 18:25] josevalim commented on #4840
Btw, we had a test for this:

[code]

But it was not triggering that clause because unfortunately the stacktrace was filled.

[2016-06-21 18:26] #4840 closed

[2016-06-21 18:28] josevalim commented on #4839
@kevinastone if you want that in your system, I would suggest enabling warnings as errors throughout the compiler. In your `mix.exs`, please add:

    elixirc_options: [warnings_as_errors: true]

[2016-06-21 18:30] josevalim commented on #4839
@kevinastone it is not a suggested implementation, it is implemented today and we have tests to check it indeed works :D Here is the source: https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/tasks/compile.xref.ex#L27-L36 and here is the test: https://github.com/elixir-lang/elixir/blob/master/lib/mix/test/mix/tasks/compile.xref_test.exs#L68-L77

[2016-06-21 18:31] myronmarston commented on #4840
I confirmed the workaround you provided fixes the issue for us.  Thanks!  Now we don't have to wait until 1.3.1 to upgrade :).

[2016-06-21 18:36] josevalim commented on #4840
@myronmarston and I can wait a bit more before releasing v1.3.1. :D

[2016-06-21 18:46] kevinastone commented on #4839
👍

(it wasn't re-compiling so I needed to `mix clean` first)

[2016-06-21 19:03] allyraza commented on #4836
can I take it?

[2016-06-21 19:46] myronmarston commented on #4840
We're running 1.3.0 in prod now :).

[2016-06-21 19:53] josevalim commented on #4840
Yay, congrats and thanks for all of the feedback on the prereleases!

[2016-06-21 20:09] drathier opened #4841 "Mix runs Makefile on Win10 when Makefile.win is also present, except if also present in root."
I have a dependency that contains a `Makefile` and a `Makefile.win`. As per the docs, `nmake /F Makefile.win` should be called on Windows, and `make` should be called on other OS:es.

However, when I run `mix test` on Windows 10 (in intellij, cygwin, mingw and cmd), it executes `make` instead, which of course fails. Manually running `nmake /F Makefile.win` inside the dependeny's root folder works

[2016-06-21 20:15] josevalim commented on #4841
Great catch. I will have a fix shortly. :)

[2016-06-21 20:16] ericmj commented on #4836
@allyraza I believe @tuvistavie is already working on it.

[2016-06-21 20:17] #4841 closed

[2016-06-22 00:04] myronmarston opened #4842 "Elixir 1.3 is periodically losing protocol implementations"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

Several times today, protocol implementations have vanished, and I start getting errors like:

[code]

If I `rm -rf _build` and recompile, the problem goes away.

Unfortunately, I have not yet been able to figure out a consistent set of steps that triggers this, but I think it has to

[2016-06-22 01:36] hahuang65 opened #4844 "Elixir 1.3 causes deadlocks on compile"
### Environment

* Elixir version (elixir -v): 1.3.0
* Operating system: OS X El Capitan

### Current behavior

I've got this message when compiling:
[code]

The two files are as follows:

[code]

[code]

This code was compiling right before I upgraded to 1.3.0. I was previously using 1.2.6 and 1.2.3.

I thought maybe the cause was because, as I was developing, I wrote one file first, with no co-d

[2016-06-22 01:40] hahuang65 commented on #4844
Just tried again with version 1.2.6:
[code]

[2016-06-22 03:21] aaronjensen opened #4845 "Elixir 1.3 occasionally fails to compile exq"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

Ubuntu 14

### Current behavior

[code]

If I run the compilation on its own, manually, it works. I've seen this twice now, it seems to only happen on a clean build.

### Expected behavior

It would always build.

[2016-06-22 04:36] michalmuskala commented on #4842
Do you have `build_path` set up in the applications? And do you have proper dependencies between the applications?

[2016-06-22 04:53] tuvistavie commented on #4845
I believe this is the same issue as #4840 and has been fixed in master with https://github.com/elixir-lang/elixir/commit/3ce029615dd7107030c601bb12cace1d7ca1cc99
It should be in the 1.3.1 release.

[2016-06-22 05:11] aaronjensen commented on #4845
Ah, thank you. Likely the same thing. @josevalim please feel free to close this out if so, sorry about the dupe!

[2016-06-22 05:12] myronmarston commented on #4842
Yep.  We've got this for each:

[code]

Yes, we have dependencies declared between the applications.  It's possible we've missed some declarations, of course, so it may not be "proper".

I realize I didn't give much to go off of to reproduce this bug (sorry about that!).  I plan to spend some time in the next day or two trying to come up with an isolated repro case.

[2016-06-22 05:42] tuvistavie opened #4846 "Inconsistency with unsafe assignment"
Hi,
I am not sure what is the desirable behavior here, but the imperative assignment
introduced what I think is an inconsistency. Here is an example:

[code]

[code]

I understand that this is a result of how the `case` is expanded internally,
but from a user point of view, I think that the behaviors of these two expression should
be the same.

What do you think?

For the record, the code I was ac

[2016-06-22 07:34] #4836 closed

[2016-06-22 07:34] josevalim commented on #4845
@aaronjensen no problem about the dup, thanks for reporting!

[2016-06-22 07:35] #4845 closed

[2016-06-22 07:39] josevalim commented on #4846
There is no inconsistency. When you do:

[code]

There is no conditional assignment. `a` is effectively defined before the case, equivalent to:

[code]

However, when you do:

[code]

`a = 1` is the conditional assignment because of `&&`.

I have typically fixed those cases by rewriting it to:

    result = some_id && Repo.get_by(Model, some_id: some_id)

Although I understand that the mixture of

[2016-06-22 07:39] #4846 closed

[2016-06-22 07:41] josevalim commented on #4842
@myronmarston thank you for the report, we are looking towards more news.

Btw, did this happen in the RCs? We did change parts of this code to make compilation in umbrella faster so we may have introduced bugs BUT we didn't really change it after RCs. So it would be interesting to see what happened there.

[2016-06-22 07:48] tuvistavie commented on #4846
I see, thank you for the explanation!
I found out the `with/else` form reads quite well for this case :smile:

[2016-06-22 07:58] whatyouhide commented on #4830
New notes and discoveries:

- we should look into what happens when I have an overridable function and try to override it with a macro and viceversa
- private macros are nastier because we don't generate exported functions for those, and right now `defoverridable` alone breaks private macros:

[code]

[2016-06-22 08:04] tuvistavie opened #4849 "xref warning not showing on recompilation"
### Environment

* Elixir version (elixir -v): Elixir 1.3.0
* Operating system: ArchLinux 4.6.2-1-ARCH

### Current behavior

`xref` compiler does not seem to emit any warning after the first compilation

### Expected behavior

I would expect warnings (if any) to be emitted each time a module is changed.

Sidenote: the `Compiling 1 file (.ex)` message does not show up either on recompilation,
 whi

[2016-06-22 08:05] #4844 closed

[2016-06-22 08:07] josevalim commented on #4849
I could not reproduce it. Given that you didn't see "Compiling 1 file", and you were supposed to, I am assuming you either forgot to save it OR Mix is failing to track changes somehow:

[code]

[2016-06-22 08:07] josevalim commented on #4849
Can you please double check?

[2016-06-22 08:14] tuvistavie commented on #4849
Sorry false alert, after trying with another editor,
it seems that my editor (Atom) is using atomic write,
or some kind of feature like this which is probably why mix did not pick up the changes.
I'll check how I can disable this Atom feature.

[2016-06-22 08:14] #4849 closed

[2016-06-22 08:59] hahuang65 commented on #4844
@josevalim 👍 thanks for all the hard work.

[2016-06-22 09:16] tuvistavie commented on #4849
Ok, I just understood what is going on.

For posterity, here is what happens with
a more or less standard Atom installation.

It has nothing to do with atomic write or whatsoever,
atom is just running `fs.writeFileSync` under the hood.

The issue was with the linter. The default settings of elixir-linter
uses `mix compile` and the project is therefore already
compiled when running `mix compile` fr

[2016-06-22 09:59] lexmag commented on #4830
Considering overriding of private macros never worked before maybe we should disallow private macros overriding.
I suppose it would be good to disallow private functions overriding in general, it seems magical to me to have overriding for private stuff, if overriding is needed it's likely a public thing. :bowtie:

[2016-06-22 10:07] tuvistavie commented on #4830
I think overriding private functions make sense to override a part of the internal behavior
of a module.
A real world example would be [HTTPoison](https://github.com/edgurgel/httpoison), which let the user
override functions which should probably not be public.

[2016-06-22 10:13] whatyouhide commented on #4830
@tuvistavie HTTPoison could use a few other less magic methods to achieve that IMO, such as `use HTTPoison, headers_function: :my_function` or similar. I am 👍 on not supporting private macros overriding since it already doesn't work, and for the future I think private functions should go too.

[2016-06-22 10:18] lexmag commented on #4830
HTTPoison is a first thing that came to my mind, and I think all these overridable functions can be public since users do need somehow to know about their existence. And as @whatyouhide said there could be less magical way.

[2016-06-22 10:29] tuvistavie commented on #4830
Now you say it, I agree it could be easily achieved in a less magical way,
and I cannot think of any other valid use case, so :+1: on this!

[2016-06-22 12:27] josevalim commented on #4830
I am OK with not making private functions overridable. We will need to emit
warnings for now and leave a TODO for us to fix it later.

On Wednesday, June 22, 2016, Daniel Perez <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-06-22 12:28] whatyouhide commented on #4830
Yes, on it.

On Wednesday, 22 June 2016, José Valim <notifications@github.com> wrote:

--

Andrea Leopardi
an.leopardi@gmail.com

[2016-06-22 13:46] Alexey-T opened #4850 "Elixir lexer for SynWrite+CudaText"
The lexer is made today, support for syntax hiliting, and basic support for Tree-panel (list of def's)
To install in Synwrite/Cudatext, -- AddonsManager.

Example of CudaText, with tree-panel

![eli](https://cloud.githubusercontent.com/assets/4154978/16268890/332c5138-38a1-11e6-9447-681d86799d66.png)

[2016-06-22 14:07] josevalim commented on #4850
Is this an issue or just a heads up that it is working? If so, congrats!

On Wednesday, June 22, 2016, Alexey T. <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-06-22 14:12] paulcsmith commented on #3268
I see how this could help, but I also prefer keeping parens off zero arty calls. I wonder if instead of warning when parens are missing, the warning would come up when there is a local variable name and a function with zero arity in the same scope.

Example:

[code]

In this case the call to `conn()` is ambiguous and a bit confusing. I don't think the solution is to add parens though, the solution

[2016-06-22 14:14] Alexey-T commented on #4850
It is heads-up that it is new lexer.

[2016-06-22 14:19] edgurgel commented on #4830
Oh Hi! I agree HTTPoison & HTTPotion abuse a bit of private overridable functions and this was my tentative of exposing a better interface: https://github.com/edgurgel/httpehaviour .
It's not as easy to use but it's not "nasty".

[2016-06-22 14:29] whatyouhide commented on #3268
I am strongly in favour of this warning because it makes Elixir code so much easier to read. Imagine you have this code:

[code]

Is `something` a variable or a private/imported 0-arity function? You can't know and you'll have to look through the 50 lines above the call to `my_function/1` to find out. And bear in mind, it's not just a matter of finding `something = ...`, because you may have deepl

[2016-06-22 14:31] paulcsmith commented on #3268
@whatyouhide Sure! I thought I saw a discussion label on this issue so I posted here. It seems most people are strongly in favor of adding the parens though so it probably isn't worth. Just wanted to voice an opinion in case it resonated with anyone :)

[2016-06-22 14:32] josevalim commented on #3268
think the solution is to add parens though, the solution would be to rename
the function to build_conn or something else. So I think that adding parens
just masks the problem without really fixing the confusion.

The call to conn() is never ambiguous. Only "conn". :)

The problem with a warning only when there is a function call in scope is
because it still does not solve the ambiguity for someone

[2016-06-22 14:34] paulcsmith commented on #3268
@josevalim Yeah that's a good point! Thanks for responding

[2016-06-22 15:08] peuh opened #4851 "Update test suite for Erlang 19"
After compiling elixir from source, 5 tests fail. Also the compilation emits a few warnings.
I have the same result whether I use master or tag/1.3

### Environment

Debian Stretch (and some bit of unstable)

    # cat /proc/version
    Linux version 4.5.0-2-amd64 (debian-kernel@lists.debian.org) (gcc version 5.3.1 20160509 (Debian 5.3.1-19) ) #1 SMP Debian 4.5.4-1 (2016-05-16)

Erlang (installed

[2016-06-22 15:15] josevalim commented on #4851
Thanks for reporting. We are aware of those failures  and we have reported
the bug to OTP two weeks ago. :)

On Wednesday, June 22, 2016, Peuh <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-06-22 15:48] peuh commented on #4851
No problem. Thanks for the awesome job on elixir. Just starting with it but I like it a lot already.

Considering those failed tests, should I downgrade erlang to v18 and recompile or it will work anyway? It's a dev environment, not production.

[2016-06-22 15:55] myronmarston commented on #4842
Not that I noticed, but I didn't actually try the RCs for any extended period of time.  I was still using 1.2 for my normal development while using the RCs to get my app warning-free and green on 1.3.  I'm not sure if I ever followed whatever sequence triggers this while using the RCs.

Your question gives me a good idea, though: I'm going to use `git bisect` and see if I can isolate this regressi

[2016-06-22 16:01] msimcoe commented on #4617
Erlang/OTP v19.0 is available and I have installed it but, I am not sure how to make it work with IEx v1.3.0 when Erlang/OTP 18 is still installed on my os x machine. At the moment I am really just interested in getting the debugger to work. Sorry if this is the wrong place to bring this up. I'm just starting to learn Elixir and I am working the Dave Thomas's book. Any help you can give would be g

[2016-06-22 16:07] josevalim commented on #4617
@msimcoe while this is not the correct place to bring it up, we are glad to help (as I believe others will end-up finding this exact same issue). For future reference, Stack Overflow or the [Elixir Forum](http://elixirforum.com) is a good place to ask questions.

Now, to the answer, Elixir v1.3.0 should just work with Erlang v19.0. All you need to do is to make sure the desired Erlang installation

[2016-06-22 16:16] josevalim commented on #4617
Btw, after reading the whole changelog for Erlang 19, I have updated the list of changes we are applying to Elixir.

[2016-06-22 16:17] josevalim commented on #4850
Perfect, thank you!

[2016-06-22 16:17] #4850 closed

[2016-06-22 16:22] josevalim commented on #4851
@peuh those bugs are all related to typespecs and it should not affect your code in anyway. You will just get more warnings than necessary if you are using a tool called `dialyzer`. So it is fine to use Erlang 19 but you may downgrade if it makes you feel more comfortable.

Btw, this is up for grabs. Unfortunately we can't solve the dialyzer issue, so it means we should not run that particular tes

[2016-06-22 16:24] peuh commented on #4851
Thanks for the update @josevalim.

[2016-06-22 16:26] antipax commented on #4851
Grabbing this

[2016-06-22 16:42] msimcoe commented on #4617
Thank you for the reply. I uninstalled ERL v 18 and reinstalled ERL v19 and everything appears to work fine now with IEx using ERL v19. Thanks.

[2016-06-22 17:43] michalmuskala opened #4853 "Allow protocols to work with opaque types"
@benwilson512 reported an interesting dialyzer error from ecto:
[code]

And it makes sense, because protocol is defined externally to the module with opaque type and relies on the internal structure for dispatch.
On the other hand often the protocol implementations are conceptually part of the module that defines the type.

@fishcakez proposed to define `@dialyer :no_opaque` in `defprotocol`

[2016-06-22 17:45] fishcakez commented on #4853
I disagree with this, `defimpl` is defined outside a module defining the struct.

[2016-06-22 19:12] romul commented on #3268
I'd prefer to have a warning if there is a function contains more than 50 lines )))

[2016-06-22 19:20] josevalim commented on #3268
@romul if you have a comment related to this feature in particular, please add so, otherwise if you want to discuss other improvements and warnings, you should try the elixir-lang-core mailing list. Let's stay on topic please.

[2016-06-22 20:10] ericmj commented on #4853
The unfortunate effect of this is that there is no way to define a protocol implementation for an opaque types. And you can also get cases where the distinction is less clear since you define an implementation inside the module with the opaque. I realize that to erlang and dialyzer there is no such thing as nested modules.

[2016-06-22 20:15] fishcakez commented on #4853
@ericmj hence the suggestion to add `@dialyzer :no_opaque` to protocol modules, then if `defimpl` uses an opaque the protocol will not create a warning for the protocol. The implementation would then need to manually use `@dialyzer :no_opaque`

[2016-06-22 21:27] myronmarston commented on #4842
I've run `git bisect` to find the source of this regression.  It's cd9f4e1cf0dc4032bae538b22407a597e71c871a.  On that commit I see the protocol implementations get lost; on the parent commit, fd8230f25a42499398b6c28127d6645d473debe4, the problem does not occur.

Here is the sequence of commands I'm running from within my repository to reproduce this:

[code]

When this last `mix test` runs, the pr

[2016-06-22 22:27] josevalim commented on #4842
@myronmarston I will investigate. :D Thank you!

[2016-06-22 23:33] myronmarston commented on #4842
BTW, when this happens I've noticed that my test suite also takes much longer to run -- usually 2-3x longer.  I'm guessing that the missing protocol implementations have something to do with it?

[2016-06-23 01:22] jdicioccio opened #4857 "What is valid syntax inside a module changes after executing `:int.i/1`"
### Environment

* Elixir version (elixir -v):
[code]

* Operating system: OS X 10.11.5

### Current behavior

After using `:int.i/1` on a loaded module that loops into itself, anonymous functions in that module begin to throw errors.

See https://github.com/jdicioccio/ex_repro for simple repro

### Expected behavior

It would be expected that syntax would be the same after executing `:int.i/1`

[2016-06-23 03:34] KallDrexx opened #4858 "binary-size(struct.property) causes compile error"
### Environment

* Elixir version (elixir -v): 1.3.0 (Erlang/OTP 18)
* Operating system: Windows

### Current behavior

[code]

### Expected behavior

I would expect a struct's property value to work just the same as a variable (line 3 should react the same as line 4)

[2016-06-23 04:39] acangiano opened #4859 "h helper fails on operators"
### Environment

* Elixir version: 1.3.0
* Operating system: Both Mac OS X 10.11.5 and Windows 7.

### Current behavior

h's introspection fails on operators. Example:

    iex(1)> h ==/2
    ** (FunctionClauseError) no function clause matching in IEx.Introspection.has_content?/1
           (iex) lib/iex/introspection.ex:142: IEx.Introspection.has_content?(nil)
           (iex) lib/iex/introspecti

[2016-06-23 05:09] milmazz commented on #4859
If you try `h Kernel.div/2` it works, seems to be missing a matching clause in `has_content?`. I'll try to fix it.

[2016-06-23 05:16] tuvistavie commented on #4859
@milmazz Sorry, I just saw your comment, I just finished working on it, so I will send a PR if you don't mind!

[2016-06-23 05:28] josevalim commented on #4858
It is working as expected. Although you could say you could simply
precompiled the variable in this example, it wouldn't be that
straight-forward to do so in case and it would make matching more
expensive. So you need to be explicit and pre calculate it. We should
improve the error message though to say "a literal integer" for clarity.

On Thursday, June 23, 2016, Matthew Shapiro <notifications@gi

[2016-06-23 07:59] #4859 closed

[2016-06-23 08:02] #4858 closed

[2016-06-23 08:09] #4851 closed

[2016-06-23 08:17] josevalim commented on #4857
@jdicioccio that's unfortunately how anonymous functions and code loading works in Erlang. Anonymous function names are generated somewhat dynamically so when you interpret the module, it loads a new module version into memory, and the anonymous functions get new names and the old ones can no longer be found. We usually properly update the code in production (for example, like in a GenServer code_

[2016-06-23 08:17] #4857 closed

[2016-06-23 09:21] lpil opened #4861 "mix do fails when one of the tasks has a comma in it"
Debian 9 Linux
Elixir 1.3.0

As of Elixir v1.3 `mix do` incorrectly parses arguments when a task contains a comma.

Example:

[code]

Before this was interpreted as one task (`run -e "[1, 2]"`), but now it is incorrectly interpreted as 2 (`run -e "[1` and `2]`), which is a syntax error.

[code]

I've been unable to find ways to escape the comma in the code literal here.

Thanks,
Louis

[2016-06-23 09:50] tuvistavie commented on #4861
I think that's my bad :sweat: I'll take a look at it!

[2016-06-23 09:52] lpil commented on #4861
Thanks @tuvistavie :)

[2016-06-23 12:35] josevalim commented on #4861
I think we have no other option besides reverting to the previous behavior
that checks for commas only at the end and then explicitly documenting it.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-06-23 12:53] tuvistavie commented on #4861
@josevalim It seems to be the only solution indeed. I'll take care of it!

[2016-06-23 14:37] josevalim opened #4862 "Revisit usage of diff with =~ in assertions"

[2016-06-23 18:03] Qqwy opened #4864 "Update Elixir's Unicode support to Unicode 9.0"
On 21 June(as of writing, two days ago), [version 9.0](http://www.unicode.org/versions/Unicode9.0.0/) of the Unicode standard [was released](http://blog.unicode.org/2016/06/announcing-unicode-standard-version-90.html).

This added some new scripts, both in current use and historic, some new emojis and also the [IEEE1621 Power Symbol](http://unicodepowersymbol.com/we-did-it-how-a-comment-on-hackern

[2016-06-23 18:07] nuss-justin opened #4865 "Compiler error when compiling combine"
### Environment

* Elixir version (elixir -v): Elixir 1.3.0 (416bf41, compiled from source), Erlang/OTP 19
* Operating system: Arch Linux x64

### Current behavior

Compiling [combine](https://hex.pm/packages/combine) throws an compiler error.

[code]

### Expected behavior

No internal compiler error.

[2016-06-23 18:10] josevalim commented on #4865
This is an error either in combine or Erlang 19. An issue has been opened on combine already. :)

[2016-06-23 18:10] #4865 closed

[2016-06-23 19:44] veverkap commented on #4865
https://github.com/bitwalker/combine/issues/18

[2016-06-24 03:15] arsdehnel commented on #4617
is there a fix I can apply locally to resolve the compilation error in @michalmuskala's comment?  or do i just need to revert back to 18 for now as the best course of action?

[2016-06-24 06:06] michalmuskala commented on #4617
@arsdehnel as far as I know, the newest phoenix release from the 1.1 branch and phoenix 1.2 should be free from this issue.

[2016-06-24 08:20] josevalim commented on #4617
And you should also update phoenix_html to 2.6.

[2016-06-24 09:23] talklittle opened #4871 "Elixir 1.3.0 does not warn unused aliases, if the module contains an import"
### Environment

* Elixir version (elixir -v): 1.3.0
* Operating system: OS X 10.10.5

### Current behavior

If a module has an unused alias, and also an import of any module, then the "unused alias" warning is not shown.

Example, add this to `$ELIXIR_REPO/lib/elixir/test/elixir/kernel/warning_test.exs`:

[code]

### Expected behavior

The "unused alias" warning should still be shown. The presenc

[2016-06-24 09:49] josevalim commented on #4871
@talklittle good catch!

[2016-06-24 11:16] #4871 closed

[2016-06-24 11:19] lexmag commented on #4871
@talklittle 💛

[2016-06-24 14:03] arsdehnel commented on #4617
Thanks I updated to 1.2 and it's working again now.

[2016-06-24 14:41] bvjebin opened #4873 "Better error handling at mix compile task"
I had problems getting my phoenix app up and running after installing erlang 19. I had switched to elixir 1.3 to see if that solves the problem. Many dependencies failed and there was a warning to update a piece of my code in mix.exs file from this

[code]

to

[code]
I know there is problem with the change but ignored it in the beginning. I had reverted back to erlang 18 and elixir 1.2.3 to get t

[2016-06-24 14:54] whatyouhide commented on #4830
Closing this as the original issue (macros not being overridable) is fixed, and we took care of private macros as well. As for deprecating the ability to make private functions overridable, we can discuss that in #4872 as it's unrelated to this issue anyways :)

[2016-06-24 14:54] #4830 closed

[2016-06-24 15:08] #4873 closed

[2016-06-24 18:16] bvjebin commented on #4873
Awesome!

[2016-06-24 18:19] lexmag commented on #4873
@bvjebin thank you for the great report. 💛

[2016-06-24 20:11] KronicDeth opened #4874 "invalid remote in typespec: @for.t() for typespec inside defimpl"
### Environment

* Elixir version (elixir -v): 1.3.0
* Operating system: OSX 10.11.5

1. `git clone https://github.com/C-S-D/alembic`
2. `git checkout 565ad837d4664075a88b37eb9f277e6d450904dd`
3. `mix compile`

### Current behavior

[Alembic](https://github.com/C-S-D/alembic) fails to compile under Elixir 1.3.0.  (It compiled and passed `mix dialyze` without errors under 1.2.6 [[CircleCI Build](ht

[2016-06-24 20:11] martinos opened #4875 "URI.encode doesn't escape #"
### Environment

* Elixir version (elixir -v): Elixir 1.3.0

* Operating system: OS X El Capitan

### Current behavior

    iex(3)> URI.encode("http://example.com/file#1.pdf")
    "http://example.com/file#1.pdf

### Expected behavior

I think it would be better if `#` was escaped like the Ruby URI.encode function.

    ex(3)> URI.encode("http://example.com/file#1.pdf")
    "http://example.com/file

[2016-06-24 20:21] josevalim commented on #4875
The behaviour of URI.encode is well specified. It will by default escape all non-reserved and non-unreserved characters according to RFC 3986. You can change the behaviour by passing a function to `URI.encode`.

[2016-06-24 20:21] #4875 closed

[2016-06-24 21:49] josevalim commented on #4042
@ericmj ping. :)

Btw, I think we should push this change to master so we can give it a try for a good while.

[2016-06-24 21:55] ericmj commented on #4042
I pushed a change to master that detects `rebar.lock` which we can with 100% certainty mark as rebar3 since rebar2 didn't use locks. So in practice you would have to explicitly set it for rebar2 deps and rebar3 deps that do not commit `rebar.lock` (they should commit it). And only for git/path deps.

[2016-06-24 22:20] whatyouhide commented on #4874
Taking a look at this :)

[2016-06-24 22:20] henrik opened #4878 "Add `IEx.Helpers.import_file_if_available` and deprecate `IEx.Helpers.import_file foo, optional: true`"
José said on IRC that if we merge #4877, it would be nice to also do this for consistency.

[2016-06-24 22:47] #4878 closed

[2016-06-25 07:27] josevalim commented on #4861
@tuvistavie please let us know when you get a chance at it. We want to release v1.3.1 this monday and I would likely to include this fix. :)

[2016-06-25 08:25] tuvistavie commented on #4861
@josevalim I'll have time to do this tomorrow :smile:

[2016-06-25 17:57] felipesere commented on #4864
I'd give this a go if I can get some minimal instructions :)

[2016-06-25 18:03] josevalim commented on #4864
@felipesere sorry but I would prefer to handle this one personally. :)

[2016-06-25 18:04] felipesere commented on #4864
Sure

[2016-06-26 06:26] sunboshan opened #4890 "No Specs for Enum.reduce_while/3"
In https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/enum.ex, the Specs for `Enum.reduce_while/3` is missing.

[2016-06-26 07:57] #4890 closed

[2016-06-26 07:57] whatyouhide commented on #4890
Thanks @sunboshan, fixed :D

[2016-06-26 14:48] anik786 opened #4892 "mix.copy() does not work on folders if there is a dot in the directory name"
### Environment

* Elixir version (gulp elixir -v):
[code]

* Operating system: Windows 10 Home

### Current behaviour

I have found that if I use elixir on a directory that contains a dot, it will only copy the folder, but not the contents inside.

For example consider copying a folder called `public/a.something` at the root of the project:

[code]

The above will only make an empty directory cal

[2016-06-26 14:53] whatyouhide commented on #4892
You're probably talking about [this](https://github.com/laravel/elixir), not Elixir the programming language :) You can open an issue on https://github.com/laravel/elixir probably.

[2016-06-26 14:53] #4892 closed

[2016-06-26 15:31] #4874 closed

[2016-06-26 16:17] anik786 commented on #4892
Apologies. Feel a bit stupid now!

[2016-06-26 16:18] whatyouhide commented on #4892
@anik786 no problem, it happens to everyone :D

[2016-06-26 21:04] ijcd opened #4894 "Trouble defining struct in dynamically named module"
### Environment

This happens in 1.2.5 and 1.3.0. It seems this only fails in the interpreted mode. It works under compilation.

% elixir --version
Erlang/OTP 18 [erts-7.3] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
### Current behavior

% cat foo.ex
[code]

[code]

### Expected behavior

I would expect `__struct__/0` to be defined whether this was compiled

[2016-06-26 21:22] peteygao opened #4896 "Attempting to compile branch v1.3 from source results in 5 test case failures"
### Environment

* Erlang version (`erl -v`): `Erlang/OTP 19 [erts-8.0] [source-790c521] [64-bit] [smp:8:2] [async-threads:10] [hipe] [kernel-poll:false]`
* Elixir version (`elixir -v`): `Elixir 1.2.4` (I have an existing Elixir version installed)
* Operating system (`uname -a`): `Linux mono 2.6.32-042stab113.11 #1 SMP Fri Dec 18 17:32:04 MSK 2015 x86_64 x86_64 x86_64 GNU/Linux`

### Current behav

[2016-06-26 21:36] ericmj commented on #4896
This is fixed in master, it just haven't been backported to v1.3 yet. It should happen before release of the next version.

[2016-06-26 21:36] #4896 closed

[2016-06-27 08:09] whatyouhide commented on #4894
Looking into this.

[2016-06-27 13:45] eksperimental commented on #4892
They also have something called "mix"?!
Actually thats the first line u see in their getting started guide
https://laravel.com/docs/5.1/elixir#introduction

[code]

What a coincidence

[2016-06-27 17:11] elpddev opened #4897 "Using charlist() in typespecs gives error: type charlist() undefined"
### Environment

* Elixir version (elixir -v): Elixir 1.2.5
* Operating system: Kubuntu 16.04

### Current behavior

[code]

[code]
### Expected behavior

To be able to use charlist() in typespecs as by the [typespecs docs](http://elixir-lang.org/docs/stable/elixir/typespecs.html).

[code]

[2016-06-27 17:15] Chicker opened #4898 "Add some useful functions to string module"
Some times ago, in google elixir group discussed a possibility of adding some additional functions for working with strings and symbols. Here is the link to this discussion:

[link to discussion in elixir google group](https://groups.google.com/forum/#!searchin/elixir-lang-core/unicode/elixir-lang-core/DU-_euhvVk0/1wqDwgWgBAAJ)

I also consider that these functions very useful when manipulating wi

[2016-06-27 17:16] josevalim commented on #4897
You are looking at the docs for Elixir v1.3 but you have 1.2.5. :) Use `char_list()` (which will be deprecated in the future) or update to v1.2.

[2016-06-27 17:16] #4897 closed

[2016-06-27 17:21] josevalim commented on #4898
Closing in favor of the PR.

[2016-06-27 17:21] #4898 closed

[2016-06-27 18:25] #4861 closed

[2016-06-27 18:32] josevalim commented on #4842
@myronmarston is the protocol defined in a dependency or in another umbrella app?

[2016-06-27 18:38] myronmarston commented on #4842
Another umbrella app.

[2016-06-27 18:39] josevalim commented on #4842
@myronmarston and that's not the umbrella app you are touching right?

[2016-06-27 18:44] josevalim commented on #4842
@myronmarston I need a bit more information:

1. Which app defines the protocol being lost
2. How the application that is being touched above relates to the one that defines the protocol. Is it a direct in_umbrella dependency? Or is it a dep of a dep?

[2016-06-27 19:02] myronmarston commented on #4842
The protocol is `Delorean.Shard` and is defined in `apps/shard`.

Here's the output from `mix deps.tree` (with a bunch of `--exclude` flags so we don't include things like ecto, timex and mariaex):

[code]

As you can see, there are a couple dependency paths:

* `rankings_endpoint_models` -> `rankings_shard_repository` -> `shard_storage` -> `shard`
* `rankings_endpoint_mdoels` -> `rankings_builder

[2016-06-27 21:22] lpil commented on #4861
Thanks all!

[2016-06-28 00:17] anik786 commented on #4892
I know lol. That's why I was confused!

[2016-06-28 09:27] josevalim commented on #4894
I have a fix for this. :)

[2016-06-28 09:28] whatyouhide commented on #4894
@josevalim yep, I think I found the cause yesterday (we don't put the module in `:context_modules`) and would have fixed during lunch, but go ahead if you have a fix now :)

[2016-06-28 09:30] #4894 closed

[2016-06-28 17:51] myronmarston commented on #4842
Thanks for the fix, @josevalim!  I can confirm it fixes the problem for me.

I was going to ask if this could be included in 1.3.1 but I see that's already been released.  For now my team will probably have to compile against HEAD ourselves to avoid this issue.  Do you plan to include this in 1.3.2?

[2016-06-28 19:05] mobileoverlord opened #4900 "Xref loading {:autoload, false} modules across BEAMs"
While this commit:
elixir-lang/elixir@6ccab886b4bae27bcea8eb187e215b7fce42401d
Fixed warning from within the same beam There seem to still be an issue when checking refs across beams. I have created a sample umbrella which illustrates the issue
https://github.com/mobileoverlord/auto_load

`mix compile` from the top of the umbrella
### Environment

* Elixir version (elixir -v): v1.3(master) / 19.0

[2016-06-28 23:06] josevalim commented on #4842
I don't understand. This bug reveals a bug in your code as the :crawl_models was not a dependency of rankings_endpoint_models. So as long as you fix this bug, this patch should be completely irrelevant to you. So why do you need HEAD? :)

I don't plan to ship this as part of 1.3.2 because this area of the code, tied to umbrellas, is complex, so I would prefer to battle test it for longer than back

[2016-06-28 23:09] myronmarston commented on #4842
I don't understand what the bug in our code was.   `crawl_models` is indeed not a dependency of `rankings_endpoint_models` and should not be.  I tested making it dependency to see if making it a dependency worked around this issue and it works...but there is nothing in `rankings_endpoint_models` that has anything to do with `crawl_models`, so it is definitely wrong for us to declare it as a depend

[2016-06-28 23:11] josevalim commented on #4842
Oh, sorry, you are right. I misunderstood part of the issue: the test that fails is not part of `rankings_endpoint_models`. I will backport the issue to v1.3.2 and I'd appreciate if you give the v1.3 branch a try for a while. THank you!

[2016-06-28 23:32] ericmj commented on #4042
Implemented in https://github.com/elixir-lang/elixir/commit/17557aa39c17061443b88617ecffbf16917bc9ff.

[2016-06-28 23:32] #4042 closed

[2016-06-29 00:10] ericmj opened #4902 "Unzip escript on installation"
On installation unzip the escrip contents into a directory and generate a shell script (or bat file for windows) that will load the escript code and call the `main` function. The benefits of this is faster start time for the escript and that we should be able to use `priv` directory from the escript.

Here is an example of how rebar3 does it: https://github.com/erlang/rebar3/blob/master/src/rebar_

[2016-06-29 00:10] ericmj commented on #4902
@antipax This is up for grabs if you want it :)

[2016-06-29 00:11] antipax commented on #4902
Cool, happy to tackle this.

[2016-06-29 00:21] #4900 closed

[2016-06-29 01:51] #4833 closed

[2016-06-29 01:52] ericmj commented on #4833
@fishcakez Can you verify if this does what you wanted? I did not recall our conversation exactly.

[2016-06-29 09:07] josevalim commented on #4833
Looks good to me regardless!

[2016-06-29 09:08] mikestok opened #4907 ":elixir_tokenizer.tokenize column info and numbers with embedded underscores"
### Environment

* Elixir version (elixir -v): Erlang/OTP 18 [erts-7.3] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace] Elixir 1.3.0
* Operating system: Darwin ratdog-2.local 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64

### Current behavior

I'm working on an improvement to `credo` and its checkin

[2016-06-29 09:11] josevalim commented on #4907
@mikestok the tokenizer is private API. We won't provide any guarantees about its return values. :)

[2016-06-29 09:11] #4907 closed

[2016-06-29 10:12] fishcakez commented on #4833
This does seem to be what I wanted but of course I can't replicate the initial bug I hit because it was on old OTP/Elixir.

[2016-06-29 13:11] Qqwy opened #4909 "Elixir's Kernel defines both to_char_list and to_charlist"
### Current behavior

Elixir's Kernel defines the macro `to_charlist/1` as well as `to_char_list/1`. The first version includes documentation, the second version does not.

### Expected behavior

I am not sure if there is a reason for the second version (`to_char_list/1`) to exist.

- If it is a duplicate, we could remove it.
- If however there is a reason for its existence, it should receive docu

[2016-06-29 13:14] Qqwy commented on #4909
Hmm... Diving in the source, I see that it already is marked as 'TODO: Deprecate in version 1.5', so maybe I spoke too soon and this issue is already kown.

Right now it has `@doc false`. Is it better to give it documentation that states that it is deprecated as well?

[2016-06-29 13:15] whatyouhide commented on #4909
The second version (`to_char_list/1`) will be deprecated in future versions of Elixir 1.5, and for now it's softly deprecated, meaning it's not shown in documentation but no warning is emitted when it's used. You can see `TODO: ...` deprecation comments [here](https://github.com/elixir-lang/elixir/blob/dfd5e79590bf743795d182bd05cd4277fcbb2f7a/lib/elixir/lib/kernel.ex#L4313).

 We shouldn't show do

[2016-06-29 13:15] #4909 closed

[2016-06-29 14:55] michalmuskala commented on #4909
If it's soft-deprected, should that mean, it shouldn't show up when TAB-completing in iex? It currently does show up.

That's contrary to `String.strip/2` that was deprecated as well, but does not show up when TAB-completing.

[2016-06-29 15:10] eksperimental commented on #4909
When i read this issue, i thought of thw same tging michal is mentioning. How did qqwy find out about the function if he hadn't read the source code by the. And IEx came to my mind

[2016-06-29 15:19] antipax commented on #4902
As discussed in IRC, due to limitations in how `erl -run` works we need to generate an extra beam as part of the extraction process which defines `main/0` and `main/1`, where the `main/0` calls `main/1` with an empty list and `main/1` calls the escript's entry point with the given argument.

[2016-06-29 16:54] antipax commented on #4902
A couple issues:

* Not all escripts can be safely extracted. The only example I've come up with so far is that any escripts with their shebang modified from the default should not be extracted. Thus, we need a way to determine which escripts can be extracted and which cannot. It would seem that the two options would be to do some kind of analysis on the escript (i.e. that the shebang is the defau

[2016-06-29 18:36] myronmarston commented on #4842
Thanks!  I've been trying it since yesterday.  I've been periodically seeing a new failure I haven't seen before that seems to be related.  Occasionally when I run `mix test path/to/test.exs` from within on of our sub-apps, I get:

[code]

It goes away when I retry.  I don't think I saw this before running against an Elixir version with your fix applied, so it might be related.  Let me know if you

[2016-06-29 18:40] josevalim commented on #4842
Does it happen when running on the umbrella, inside a child app, or both?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-29 18:45] myronmarston commented on #4842
It happens when running inside a child app.  I have not noticed it when running in an umbrella, but I run tasks from within a child app much more often than running tasks from the umbrella root (my main workflow involves a vim keybinding that runs a specific test file by invoking `mix test path/to/file.exs` from within its app) -- so it's possible I just haven't run into it in the umbrella yet.

[2016-06-29 18:52] myronmarston commented on #4842
I figured out a command that consistently triggers it:

[code]

Running `mix test path/to/test.exs` after saving an implementation file consistently triggers the error (apparently because it had to recompile that file).  But if I just run `mix test path/to/test.exs` (or run it after the failure) it works.

[2016-06-29 19:40] josevalim commented on #4842
path/to/test.exs can be any file, right? Does this happen in any app as
well?

On Wednesday, June 29, 2016, Myron Marston <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-29 19:57] myronmarston commented on #4842
Any test file.

It appears to.  I haven't tried it in all of our sub apps (we have about 40 of them!) but I've tried it in several and it's happened in all of them so far.

[2016-06-29 20:16] myronmarston commented on #4842
Hmm, it is apparently not happening of the sub apps.  I just found one (named `rankings_builder`) for which it does not occur.  I'm not yet sure what's different about it (any suggestions of what to look into?).

[2016-06-29 21:30] myronmarston commented on #4842
I'm also running into a case where re-running `mix test path/to/file.exs` does not fix the issue.  The failure keeps happening every time I try to run a test and I have to blow about my `_build` directory to fix it.

[2016-06-30 08:46] TBK145 opened #4911 "pop_in with Access.at not working on lists."
### Environment

* Elixir version (elixir -v): 1.3.1
* Operating system: Ubuntu 14.04

### Current behavior

pop_in does not seem to work on Lists in combination with Access.
It does return the correct value, but doesn't remove it from the structure.

[code]

### Expected behavior

[code]

[2016-06-30 08:52] #4911 closed

[2016-06-30 09:06] josevalim commented on #4902
Actually, it would only work if you install extractable escripts, which is even more constrained still. Btw, how does rebar solve those issues?

@ericmj, @antipax - the issue I am seeing is that, if we are going to provide such flags, we would make the line between escripts and archives even blurrier. :( So now escripts may support priv depending on how they are installed? But still both escripts

[2016-06-30 09:41] josevalim commented on #4842
@myronmarston can you please do this change in your Elixir checkout:

[code]

and then run `make mix` to compile it and reproduce the error so we know which protocol is failing? I need to know if it is a protocol defined in the current project, a dependency or in Elixir. :) I will push this change to elixir permanently as well so we get better reports in cases like this.

[2016-06-30 09:47] josevalim commented on #4842
@myronmarston or, instead of running the changes above, just let me know which implementations are defined inside "lib/build_management/build_management.ex". :)

[2016-06-30 09:49] heri16 commented on #2061
:sadface

[2016-06-30 09:49] whatyouhide commented on #4909
Oh, @michalmuskala is right, it appears in IEx. This appears to be a problem just in `Kernel` though, since if you try to autocomplete `String.to_char` it only shows `String.to_charlist/1` as expected. `Kernel` however behaves differently, i.e., `Kernel.to_char` and just `to_char` both show `to_char_list/1` as well.

[2016-06-30 11:44] ericmj commented on #4902
The same is true for archives. Rebar doesn't have these issues because they fully control how the escript is built and installed.

Why is the line blurrier? Should we not add features to escripts because those features already exist in archives and that would make the distinction confusing?

[2016-06-30 12:57] josevalim commented on #4902
Don't we fully control as well? :)

Well, not adding it is one possible outcome. But generally it just means we need to be more careful, even if the final solution just ends-up meaning "adding more documentation".

[2016-06-30 13:46] antipax commented on #4902
I've flip-flopped a few times on whether this is worth it or not myself. I think if we can support the priv dir in escripts there's obvious use cases for that, and so far it's pushed me in the direction of this being worth doing.

Maybe instead of opt out, extractability should be a special mode of escript generation? They would allow use of the priv dir, but also require extraction. If they are n

[2016-06-30 14:00] josevalim commented on #4902
Well, we started on this road exactly because we thought extracting by
default is a good idea. The other downside is that if we are extracting
because of priv, it only works if you extract it, which means the escript
only works if Elixir installs it, which defeats part of the purpose behind
escripts.

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D

[2016-06-30 14:12] antipax commented on #4902
So, what do we see as the reasons for extracting by default? As I understand it, there are two:

* *Performance* - we have not yet profiled what kind of speed up is actually achieved by extraction, and if it is worth the ~50% increase in disk space usage (measured with a minimal 1-module escript), so currently this seems like a "nice to have" rather than a good reason to handle all the complexity

[2016-06-30 14:30] ericmj opened #4913 "Force disable warnings_as_errors for dependencies"
Warnings as errors causes more harm than good when it's enabled for dependencies. We should disable it for both the elixir and erlang compilers.

For makefiles we already added the `IS_DEP=1` env var to disable it for erlang.mk. I will investigate how to do it for rebar3, I've got some ideas from the rebar3 team already. With mix we, of course, have full control over the options.

[2016-06-30 14:36] ericmj commented on #4902
I think a major source of escripts usage will be from `mix escript.install foo`. That is much easier to do than to build an escript yourself (for the oldest OTP version), host it somewhere and ask users to manually download them and copy them to PATH.

[2016-06-30 14:46] josevalim commented on #4902
Well, everyone using escripts today is not for this reason. :) if the
reason why we think this will be useful is because of mix escript.install I
think we should wait until we have more data points.

On Thursday, June 30, 2016, Eric Meadows-Jönsson <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-30 15:39] sunboshan opened #4914 "Doc for String.replace/4 is messed because of escape character \"
Not sure if this is a bug of `ExDoc` or `Elixir`, but in the doc for [String.replace/4](http://elixir-lang.org/docs/master/elixir/String.html#replace/4), the last part of the example is messed because of the escape character `\` in the doc in the following sentence.

    Notice we had to escape the escape character `\`.

When run `mix docs`, it emits warning

    Closing unclosed backquotes ` at e

[2016-06-30 15:41] margnus1 opened #4915 "Built-in type struct is incorrectly defined"
The type of the `struct` built-in type is, as defined in `lib/elixir/src/elixir.erl`, `#{'__struct__' => atom()}`. This type does not match any struct values, however, as all structs contain keys that are not `:__struct__`, and as of OTP 19 Dialyzer is capable of recognising this, causing spurious warnings for Elixir projects that use the `struct` type.

A correct definition would be `#{'__struct_

[2016-06-30 16:01] whatyouhide commented on #4915
I think we can have conditional type for structs based on the Erlang version. If there's agreement on this, I can look into implementing it.

[2016-06-30 16:15] whatyouhide commented on #4914
Thanks for the report @sunboshan. I am not sure but I suspect the bug is in [Earmark](https://github.com/pragdave/earmark) (the Markdown parser used by ExDoc) because I would expect

[code]

To be turned into a backslash in monospaced font if

[code]

is considered as an escaped backtick. But the weird thing is that the backslash is displayed correctly in the docs (in monospaced font and all), but

[2016-06-30 17:24] RobertDober commented on #4914
pong @whatyouhide ;)
There is definitely a bug in the markdown
[code]
opens a backtick and does not *close* it.

However when I tested with the fixed version
[code]
it still does not work, so there is a bug in Earmark too!
I'll open an issue soon. Thank you both for the report.

[2016-06-30 17:26] whatyouhide commented on #4914
Yep, as I suspected. Thanks for the swift reply @RobertDober. @josevalim if you approve, I can push the "backslash" instead of `\` fix so that docs work fine again for now.

[2016-06-30 17:36] #4915 closed

[2016-06-30 17:36] ericmj commented on #4915
Thanks for the great report @margnus1.

[2016-06-30 17:41] antipax commented on #4915
I'm going to try re-enabling some of those mentioned tests as well now.

[2016-06-30 17:45] margnus1 commented on #4915
@ericmj You're welcome, but I believe you forgot to change the `Exception.t` type (`lib/elixir/lib/exception.ex:18`). @antipax will probably find that the particular test still fails.

[2016-06-30 17:54] antipax commented on #4915
Yep, I fixed up that type and re-enabled the test, PR incoming.

[2016-06-30 17:55] ericmj commented on #4915
Should be fixed in 433ff888227714a62007e29e9ba74efbd56f51b2.

[2016-06-30 18:32] josevalim commented on #4914
Please go ahead Andrea.

On Thursday, June 30, 2016, Andrea Leopardi <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-30 18:36] myronmarston commented on #4842
As it turns out, nothing is defined in that file.  It wasn't an existing file (the file I was thinking of was `lib/build_management.ex`) but `touch`ing it created an empty file.

Anyhow, I applied the diff above and now I'm getting:

[code]

Apparently the error is happening while consolidating the `Inspect` protocol, but I don't have any implementations of it in this sub-app.  I do in a couple of

[2016-06-30 20:14] whatyouhide commented on #4914
Solved for now in https://github.com/elixir-lang/elixir/commit/4ba0c6c16a122c269c592096165240979d979cea, please @RobertDober ping us when this will be solved in Earmark and we can use a new version in ExDoc so we'll bring the actual `\` back (which I definitely prefer over the word "backslash").

[2016-06-30 20:14] #4914 closed

[2016-06-30 21:27] josevalim commented on #4913
I have fixed this for mix too. So just rebar/rebar3 left. :)

[2016-06-30 21:27] josevalim commented on #4913
@ericmj and i am almost sure you can do it for rebar3 by using overrides?

[2016-06-30 21:37] josevalim commented on #4902
@ericmj @antipax I am more inclined to postpone this. Does everyone agree?

[2016-06-30 21:43] antipax commented on #4902
👍

[2016-06-30 22:36] ericmj commented on #4915
@josevalim With the platform specific defines is there a chance elixir build with OTP 19 will not work on OTP 18? Do we want this guarantee and have we followed it in the past? I think 19 itself is backwards compatible with 18 unless you use 19 specific features.

[2016-06-30 23:27] myronmarston commented on #4842
Just now I ran into the `Protocol.UndefinedError` error I originally reported in this issue, even though I'm running against 301aa6eddce60c02a7fd11a7c1426aec97338878 which has your fix for the issue.  I'm not sure why.  It's possible that I accidentally ran a mix task in another shell which doesn't have my locally compiled elixir on the path but I'm 99% sure I didn't do that.  So it's a bit of a m

[2016-07-01 00:26] aaronjensen commented on #4365
@josevalim  @ericmj Is this really fixed? It's common for us on our docker container to get this new error message now when just running a `mix test` if the deps are already in place. We use a shared volume for our deps so our test container doesn't need to do a `mix deps.get`, which means we get build failures w/ this unless we do a `mix hex.info` first. This seems weird.

[2016-07-01 00:32] ericmj commented on #4365
@aaronjensen The only "fix" was improving the error message.

You get the error because the registry is not available on your docker instance. Which hex version do you have, hex should no longer require the registry when loading the dependencies. Please reopen this issue on https://github.com/hexpm/hex with this information, the commands your run and their output.

[2016-07-01 00:41] aaronjensen commented on #4365
@ericmj the latest. It's not while loading, it's while building exsyslog. I can open an issue.

[2016-07-01 00:45] ericmj commented on #4902
As with the typespec discussion the other day I don't think you can compare usage data of an existing feature with one that doesn't exist yet :).

I am for postponing this if we can't decide right now on how to handle the edge cases.

[2016-07-01 04:36] RobertDober commented on #4914
@whatyouhide I am a little bit confused here. Yes we get a warning, however the generated HTML does look correct.
[code]

[2016-07-01 11:22] whatyouhide commented on #4914
@RobertDober yes but the following generated text gets all screwed up and code blocks don't show up as code blocks anymore.

[2016-07-01 12:14] josevalim commented on #4902
Yes, let's wait so for more use cases so we consider if we should optimize it. :)

[2016-07-01 12:14] #4902 closed

[2016-07-01 14:01] josevalim opened #4918 "Document :sys in the GenServer module and possibly provide a custom install handler"
/cc @fishcakez

[2016-07-01 15:31] josevalim opened #4919 "Support mix test --listen-to-stdin"
The idea of this flag is that it will automatically listen to stdin after running the tests. For now, if enter is pressed, tests will automatically re-run. This can be powerful when combined with `--stale` or when receiving input from another unix command.

[2016-07-01 15:32] josevalim commented on #4919
Useful gist: https://gist.github.com/josevalim/a5e747c90a72e40a4b52062ea6919877

[2016-07-01 16:02] antipax commented on #4919
Ok for me to grab this?

[2016-07-01 16:10] josevalim commented on #4919
Please do! :D I hope it is straight-forward to implement. I believe it is mostly a matter of documentation on how to use it with `--stale` and make it clear any text from stdin will be accepted to trigger a restart.

[2016-07-01 18:02] josevalim opened #4920 "Support -abc in OptionParser"
It should be equivalent to -a -b -c. For example, `-abc foo` should be equivalent to `-a -b -c foo`.

[2016-07-01 18:41] c0b commented on #4920
:clap: a good start here, from https://github.com/elixir-lang/elixir/pull/4412#issuecomment-198810626 (I have some unfinished code from there but if anybody here already have an implementation, that's better)

Can we clarify if someone defined `aliases: [abc: :long_option_for_abc]` that won't be supported, right? this is an undocumented behavior and will be broken?

[code]

[2016-07-01 18:47] josevalim commented on #4920
Yes, aliases must be single letters. We should make it as clear as possible.

[2016-07-01 19:00] #4919 closed

[2016-07-01 21:27] whatyouhide commented on #4920
I was quickly investigating this and found out that we currently use multiletter aliases in some places in Elixir (for example [here](https://github.com/elixir-lang/elixir/blob/0e073b83e3f065968610ae82c87f91eb6c6d40cf/lib/mix/lib/mix/tasks/run.ex#L49), we support `-pr` in the `mix run` task as an alias for `--parallel-require`, and we have the same for the `elixir` executable). We can't rename the

[2016-07-01 21:33] lexmag commented on #4909
Should be fixed in https://github.com/elixir-lang/elixir/commit/9740544f54824e720738413820b83b7e3b911fc7. :bowtie:

[2016-07-01 21:34] whatyouhide commented on #4909
I definitely missed that it was commented D: Thanks @lexmag!

[2016-07-02 05:13] tuvistavie commented on #4920
Not having this feature is IMO a deal breaker to use `OptionParser` for CLI apps.
Nobody wants to set verbosity with `-v -v -v`.
Maybe we could have an option to enable/disable this feature? For example let's say:

[code]

Also, I think it's perfectly fine to have multiletter aliases, but I think it should conform
to the POSIX guidelines, so that `-abc` expands to `-a -b -c` whatever alias is defi

[2016-07-02 07:44] josevalim commented on #4920
I have an idea. If `-pr` is the only value we use in Mix, we can break it apart in two options: `--parallel` and `--require`, with aliases `-p` and `-r`. We can deprecate `--parallel-require` specially as we will be able to use `-pr` in the past and in the future. The only downside of this change is that you won't be able to mix both `-r` and `-pr` options anymore but I think that's an acceptable

[2016-07-02 08:09] RobertDober commented on #4914
@whatyouhide Oh boy, almost missed the whole point of the issue. Thanx a lot.

[2016-07-02 10:04] whatyouhide commented on #4920
That's a good compromise @josevalim. If that's ok I can take care of splitting `--parallel-require` and then @c0b you can work on making `-abc -> -a -b -c` :)

[2016-07-02 10:27] whatyouhide commented on #4920
@josevalim however, I am not 100% sure I got that right: you mean `--parallel` should become a boolean switch that accompanies the following `--require`, so that basically `--parallel-require FOO` becomes `--parallel --require FOO`?

[2016-07-02 10:40] josevalim commented on #4920
--parallel is a Boolean switch that changes how require work but it doesn't
need to be given in order. It could be anywhere.

On Saturday, July 2, 2016, Andrea Leopardi <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-07-02 11:41] whatyouhide commented on #4920
@josevalim so it will change all `require`s to be parallel requires? Sorry it's tooking me a while to get it right 😄

[2016-07-02 11:42] josevalim commented on #4920
@whatyouhide yes!

[2016-07-02 14:43] whatyouhide commented on #4920
@c0b I just deprecated `-pr` in the Mix tasks, so if you want you can work on splitting `-abc` to `-a -b -c` :) If you want me to work on that, just ping me! 💟

[2016-07-02 16:38] wojtekmach commented on #4842
I think I'm running into similar issue, I'm on `Elixir 1.4.0-dev (1498c42)`

Here's a simplified repo to reproduce: https://github.com/wojtekmach/umbrella_bug:
- [apps/money/lib/money.ex](https://github.com/wojtekmach/umbrella_bug/blob/master/apps/money/lib/money.ex) defines a `Money` struct
- [apps/web/lib/money_ext.ex](https://github.com/wojtekmach/umbrella_bug/blob/master/apps/web/lib/money_ext

[2016-07-02 17:45] eksperimental commented on #4909
thank you @lexmag  for the fix, it was my fault

[2016-07-02 18:32] josevalim commented on #4909
And of everyone who reviewed it, like me. :) it happens!

On Saturday, July 2, 2016, Eksperimental <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-02 18:41] eksperimental commented on #4909
@josevalim  I think we should backport this to 1.3.x

[2016-07-02 18:42] eksperimental commented on #4909
nevermind, @lexmag already took care of it https://github.com/elixir-lang/elixir/commit/cc35c8fc222fb8665be0efd5dd8a91a246d87680

[2016-07-02 20:08] josevalim commented on #4842
@wojtekmach beautiful, I will investigate it now. Btw, huge thank you to both you and @myronmarston for using development versions and helping us find bugs early!

[2016-07-02 22:01] #4842 closed

[2016-07-02 22:02] josevalim commented on #4842
Fixed in master and v1.3. Please @myronmarston continue giving it a try and let me know if anything new shows up.

[2016-07-03 04:03] eksperimental opened #4926 "warning: behaviour String.Chars undefined in lib/calendar.ex"
We are getting these warning in 1.4-dev (master)

https://travis-ci.org/elixir-lang/elixir/builds/141946234#L211-L229
[code]

[2016-07-03 07:01] sunboshan opened #4928 "Typespec for Kernel.pop_in/2 might be wrong"
Return value for [Kernel.pop_in/2](http://elixir-lang.org/docs/master/elixir/Kernel.html#pop_in/2) is `Access.t` right now.

I might be wrong but shouldn't it be `{term, Access.t}`?

[2016-07-03 07:05] tuvistavie commented on #4928
You're perfectly right. Maybe you could try sending a PR?

[2016-07-03 07:38] josevalim commented on #4926
Yes, those happen when bootstrapping the system due to the order modules are defined.

[2016-07-03 07:38] #4926 closed

[2016-07-03 10:53] josevalim opened #4929 "--listen-on-stdin is ignored if tests fail to compile"
/cc @antipax

[2016-07-03 14:08] antipax commented on #4929
Ah yup. That makes sense. Will fix this ASAP.
On Jul 3, 2016 6:53 AM, "José Valim" <notifications@github.com> wrote:

[2016-07-03 17:11] #4928 closed

[2016-07-03 17:12] #4929 closed

[2016-07-03 17:43] josevalim opened #4933 "Add Stream.uniq_by"
It is missing by accident.

[2016-07-03 17:57] antipax commented on #4933
Would like to grab this, if that's alright?

[2016-07-03 18:19] josevalim commented on #4933
Yes please.

[2016-07-03 18:37] Qqwy commented on #4909
Guys, you are awesome :heart_eyes:

[2016-07-03 20:23] #4933 closed

[2016-07-03 20:54] robi-wan opened #4935 "Return value of OptionParser.parse!/2 and OptionParser.parse_head!/2 differ from their counterparts without exclamation point"
### Environment

[code]
* Operating system:
Windows 7 Professional 64bit

### Current behavior

The number of element in the returned tuples differ:

[code]
### Expected behavior

The number of the elements in the returned tuples are the same. This behavior is also described in the documentation.

I think [this commit](https://github.com/elixir-lang/elixir/commit/91aa29d1b47a110572b45bb846453a87fa

[2016-07-03 21:16] antipax commented on #4935
First of all, thanks for opening this issue!

As I see it, the spec for `parse_head!` is indeed incorrect (it should be the same as the spec for `parse!`), but the specs for `parse_head`, and both versions of `parse` seem to be correct.

The third element in the non-! versions contains the errors that occurred during parsing, and so for the ! versions (which raise in case of errors) this element w

[2016-07-03 21:24] josevalim commented on #4935
Yes, we should fix the specs. The current behaviour is correct. :)

[2016-07-03 21:27] robi-wan commented on #4935
I see that the docs were recently updated in commit https://github.com/elixir-lang/elixir/commit/1498c423e3d9e8d39d2a4af77e49ee2d8bf1b48c.

I docs for elixir 1.3.1 still mention the three-element tuple for the !-versions:
* [parse!/2](http://elixir-lang.org/docs/stable/elixir/OptionParser.html#parse!/2)
* [parse_head!/2](http://elixir-lang.org/docs/stable/elixir/OptionParser.html#parse_head!/2)

I

[2016-07-03 21:35] antipax commented on #4935
@robi-wan This is what I see for `parse!` at the link you provided:

[code]

which looks correct to me? Are you seeing something different?

[2016-07-03 21:37] robi-wan commented on #4935
This is correct. I also see this spec.
But the text below reads:

[2016-07-03 21:38] antipax commented on #4935
Ah, ok. Definitely an issue then! :)

[2016-07-03 21:38] josevalim commented on #4935
@robi-wan the docs and specs are out of date, the code is correct. Sorry about that, can you send a PR fixing both?

[2016-07-03 21:51] whatyouhide commented on #4935
So I noticed the wrong typespec in `parse_head!/2` and decided to fix that, ended up in the rabbit hole of fixing all the docs in https://github.com/elixir-lang/elixir/pull/4924 and forgot the spec 😄 I took care of the specs in https://github.com/elixir-lang/elixir/commit/d75cad62db54cde517d60897836f78a58884172d and had already took care of the docs in #4924, so everything should be a-ok @robi-wan

[2016-07-03 21:51] #4935 closed

[2016-07-03 21:57] robi-wan commented on #4935
@whatyouhide Wow - that was fast! Thanks!
Could you also 'backport' these changes to branch v1.3?

[2016-07-03 21:58] whatyouhide commented on #4935
@robi-wan doing that exactly right now :) Thanks for bringing this up! 💟

[2016-07-04 07:43] Qqwy opened #4937 "Access behaviour callbacks are missing documentation"
### Environment

* Elixir version (elixir -v): v 1.4 (and earlier)

### Current behavior

The documentation of Elixir's Access behaviour [does not include information](http://elixir-lang.org/docs/stable/elixir/Access.html#callbacks) on how the callbacks should be implemented.

### Expected behavior

It would be better if this were properly documented. Right now, the only way to find out how to imp

[2016-07-04 08:03] whatyouhide commented on #4937
@Qqwy if you want to send a PR, that would be great! 😃 Otherwise, I can take care of it if you prefer. 💟

[2016-07-04 11:58] Qqwy commented on #4937
All right! expect a PR for this this evening.

[2016-07-04 18:15] RobertDober commented on #4914
@whatyouhide  have resolved the issue and am waiting for the release by @pragdave

[2016-07-04 19:59] cjhowe commented on #4857
Your answer doesn't provide any solution to the problem. Presenting another problem does not resolve this issue. Please consider the detriment this type of mistake has on the community. We don't want people being erroneously convinced that they have made a mistake or that no solution exists.

If he started an IEx shell with the interpreter enabled at the start, so that the initial state is correct

[2016-07-04 20:20] josevalim commented on #4857
The previous comment explained *why* he is encountering the behaviour he described. It is a VM limitation.

I agree, however, I did not provide a solution to the problem. But couldn't you just have asked for one? The fact my answer was incomplete was not on purpose or without consideration.

That said, if you upgrade/interpret a code while a process holds references to its anonymous function, thos

[2016-07-04 20:29] josevalim commented on #4857
@cjhowe and if in turn I read too much into your comment, I apologize. ❤️

[2016-07-04 21:11] cjhowe commented on #4857
Unfortunately in this case, unintentional or not, it could have had an negative impact on the growth of the community. I think it's appropriate to be critical of mistakes that cause harm to the community, even if it's unintentional. If necessary, maybe having two people check each issue before closing it would help increase the quality of issue triage?

[2016-07-04 21:23] antipax commented on #4857
@cjhowe While I agree that providing a solution would have been optimal, in my humble opinion I believe you're being somewhat hyperbolic by calling this a harmful mistake.

The issue tracker is here for the purpose of tracking bugs/features for the community, and that @josevalim took the time at all to explain why this wasn't a bug, rather than just closing the issue as "won't fix" was above and b

[2016-07-04 22:10] josevalim commented on #4857
Good points, agreed.

I believe we have different perceptions of how the issues tracker is used. This issue was triaged properly.  Closing the issue does not imply end of the discussion, "closed" reflects there is nothing for contributors to work on. Sometimes we may close improperly but we always reopen as soon as *anyone* asks. The conversation is always on-going, as it is happening now.

[2016-07-05 05:20] aaronjensen commented on #4365
I can't create a repro with that I thought the problem was. It's probably something specific to the order I was doing things in. I'll open an issue if I manage to create a repro some day.

[2016-07-05 07:11] sunboshan opened #4943 "Missing typespecs for String.replace_{prefix,suffix,leading,trailing}/3"
The latest [doc](http://elixir-lang.org/docs/master/elixir/String.html#replace_leading/3) doesn't have typespecs for

[code]
which should be `String.replace_xxx(t, t, t) :: t` or `String.replace_xxx(t, pattern, t) :: t`. I think it's the first one but I'm not 100% sure..

[2016-07-05 07:40] josevalim commented on #4943
Thank you @sunboshan! Since we do not guarantee we will provide them, I am going to close this issue but, if anyone is interested in providing one, pull requests are welcome. I believe they should be indeed `String.replace_xxx(t, t, t)` as they do not allow binary patterns.

[2016-07-05 07:40] #4943 closed

[2016-07-05 08:20] lexmag commented on #4937
Closed in #4939.

[2016-07-05 08:20] #4937 closed

[2016-07-05 14:57] sunboshan commented on #4943
Thanks @josevalim for explaining! And thanks @whatyouhide for adding it!

[2016-07-05 17:58] myronmarston commented on #4842
Thank you @josevalim!

Will do!

[2016-07-06 14:26] bill-mybiz commented on #3932
I know this is closed, but I am still pretty new to Elixir and I just got bit by this. This GitHub issue itself + Google was what helped me figure it out, because I was not explicitly passing a string but was passing in `context.test`, and it was not obvious that this was the problem.

I mention this because there have been so many awesome error messages so far with Elixir that it has really helpe

[2016-07-06 14:45] josevalim commented on #3932
Thank you @bill-mybiz! @TattdCodeMonkey looking back I may have closed this a bit too hastily, sorry about that. Since this is a common case, let's definitely improve the error message, both on start_link and whereis.

[2016-07-06 14:59] whatyouhide commented on #3932
Since we should likely do this for `GenEvent` and `Supervisor` as well, should we abstract this somewhere @josevalim?

[2016-07-07 05:47] chrisfishwood opened #4955 "mix test fails on umbrella applications with "database does not exist""
### Environment

* Erlang/OTP 18 [erts-7.3] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
* Elixir 1.4.0-dev (cbe0398)

* OSX 10.11.5

### Current behavior
`mix test` will fail (database does not exist) when run from the parent project of an umbrella application with 2 or more applications if it has not been run for each application first.  `mix test` from the

[2016-07-07 07:55] josevalim commented on #4955
This is a bug in Ecto. When you run Mix.Task.run "ecto.create" in the first application, it marks the task as run, so when the second application comes in it won't re-run the task. One fix is to replace the calls to `Mix.Task.run` in your test helper by `Mix.Task.rerun`. Although updating to Ecto 2.0 is recommended as it takes a different approach on this. If you build a new app with phoenix v1.2

[2016-07-07 07:55] #4955 closed

[2016-07-07 13:40] alco opened #4957 "The 'else' clause in 'with' does not support guards"
Trying to compile the following piece of code on Elixir v1.3.1

[code]

results in this error

[code]

[2016-07-07 14:18] chrisfishwood commented on #4955
Awesome. Thanks for the quick reply! 🍻

[2016-07-07 16:15] antipax commented on #4957
Would like to grab this one, if that's ok?

[2016-07-07 16:18] josevalim opened #4959 "Add :offset option to String.split"
So we discard previous matches without effectively converting them into strings. I am already on this, so this is mostly a note to self.

[2016-07-07 16:19] josevalim commented on #4957
Please go ahead. :)

[2016-07-07 17:02] josevalim commented on #4959
Actually, we won't need this thanks to perf improvements in :binary.split in Erlang 19

[2016-07-07 17:02] #4959 closed

[2016-07-07 18:26] #4957 closed

[2016-07-08 02:20] eksperimental opened #4963 "`mix deps.get` wrongly tells "All dependencies up to date" when not connected to the internet"
Running master

with no internet connection,

[code]

I wouldn't expect to see
[code]

which is not true

may be a friendly and more informative message message saying "please check your internet connection, or firewall"

[2016-07-08 02:38] ericmj commented on #4963
How do you know it's not true? By the flow you showed there would be no new dependencies being fetched even if the registry was successfully fetched.

As far as hex knows all dependencies are up to date according to the registry it has. Hex is still supposed to work even if your internet connection is down and I think the error message shows that there was an issue fetching the registry.

[2016-07-08 02:40] ericmj commented on #4963
On hex master, the message "Registry update failed" has changed to "Failed to update registry (using the cache)" and is shown in yellow text to more clearly show that it failed to fetch the registry.

[2016-07-08 06:52] josevalim commented on #4963
Beautiful, I was going to propose just something like this!
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-07-08 06:52] #4963 closed

[2016-07-08 10:39] ericmj commented on #4963
To clarify, if all your dependencies are locked (as in your example) you will still get the message "All dependencies up to date" even if you have an older registry. This message does not mean that you have the latest version of all dependencies, it's meant to inform you that all your dependencies are up to date compared to your lock and mix.exs file.

The reason the error message in hex was updat

[2016-07-08 13:16] mrkaspa commented on #3367
This will be pretty useful

[2016-07-08 13:46] whatyouhide commented on #3367
@mrkaspa we decided to not support this in Elixir after all, but you can find a separate Hex package that implements this [here](https://github.com/whatyouhide/short_maps).

[2016-07-08 15:40] mrkaspa commented on #3367
@whatyouhide why don't you include the sigil way in the standard library?

[2016-07-08 16:26] josevalim commented on #3367
@mrkaspa he linked to the discussion that explains why it is not part of the standard library. :)

[2016-07-08 16:55] michalmuskala opened #4967 "Fail when calling use and __using__/1 is a function"
This is a followup on a discussion we had on IRC.

\cc @whatyouhide @antipax @fishcakez

It's a common error (and not just a beginner error) to define `__using__/1` as `def` instead of `defmacro`. The worst thing is that the code silently passes that point, but fails somewhere else down the road because of not imported functions, not required macros, etc.

However, it would be bad to special case

[2016-07-08 17:05] eksperimental commented on #4963
Thanks for the explanation, and for updating the message, but still i think there is a something that is telling me it's not right.. and it is this.
`All dependencies up to date`

I think it is deceiving to run a command to update your dependencies, and it fails to connect and it still shows such a message.

given we get the :failed_to_connect error, could the message be more details as such:
`All

[2016-07-08 17:27] josevalim commented on #4967
All of the callbacks can be a functions by design. Maybe you just want to
register the module itself and not actually generate anything.

I don't think we should remove this feature. I understand the need to
provide a good development workflow but use is already a slightly advanced
feature and I don't think it is worth at the cost of removing features or
introducing special cases for advanced feat

[2016-07-08 17:40] michalmuskala commented on #4967
I understand you could use `__using__` function for evaluating for side-effects. But that seems like a horrible idea anyway - using something that normally is used for macros to process some side-effects at compile time.

Do we have some examples of people actually using that?

[2016-07-08 17:58] josevalim commented on #4967
`import` is a side-effect. ExUnit.Case uses it for a side-effect as well: registering the test case. However it also does other things (and that's why it ends up being a macro). I likely don't have an example where someone is using it only for side-effects but recall using before_compile and after_compile callbacks for side-effects and I wouldn't introduce an inconsistency.

[2016-07-08 17:58] #4967 closed

[2016-07-08 18:00] mrkaspa commented on #3367
@josevalim I see thanks

[2016-07-08 22:46] whatyouhide commented on #4967
The thing is that we (somehow heavily) advertise `__using__/1` to be a macro. We don't do the same for `@before_compile` and `@after_compile` though. Should we say `__using__/1` can just be anything and stop saying it has to be a macro then?

[2016-07-08 23:24] myronmarston opened #4968 "`x in [1 | rest]` raises `undefined function |/2`"
### Environment

* Elixir version (elixir -v):

[code]

* Operating system:

OS X El Capitan

### Current behavior

[code]

### Expected behavior

I'd expect to be able to prepend to a list on the right side of an `in` expression.  I also tried using parens (`x in ([1 | nums])`) -- which seems like that should force the prepend to be evaluated first -- but that also fails.  It works if I do this,

[2016-07-08 23:38] antipax commented on #4968
Looks like this is because the [code](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel.ex#L2860) is not taking the appropriate branch because it's not technically in a module in IEx.

I think the in_module? check needs to be changed to an in_guard? check? If I'm on the right track happy to do a PR for the fix.

[2016-07-08 23:53] antipax commented on #4968
Yeah, I was wrong. It's because the quoted form of `[1 | nums]` is `[{:|, [line: 7], [1, {:nums, [line: 7], nil}]}]`, so the `[h | t]` clause in `in` is pulling the `:|` call out of the list as an element to compare against. One option would be to special case lists like the one above so that they use `Enum.member? `instead of the optimized static check, which can't be used for this.

[2016-07-09 00:00] josevalim commented on #4968
We should actually compile such cases to "x === 1 or Enum.member?(rest,
x)". This way we can keep similar logic as today and optimize as far as we
can go.

On Saturday, July 9, 2016, Eric Entin <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-09 00:01] antipax commented on #4968
Oh cool, that's even better. @josevalim ok if I do a PR?

[2016-07-09 06:53] josevalim commented on #4968
Yes please.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-07-09 10:52] sivsushruth opened #4970 "Rebar3 bare compile error"
Please refer https://github.com/erlang/rebar3/issues/1190
On further notice I found out this, https://github.com/erlang/rebar3/issues/1190#issuecomment-230983512
Seems like a mix issue. Any ideas on what can be done ?
I'm happy to help .

[2016-07-09 11:32] ericmj commented on #4963
But you are not updating your dependencies, that is `deps.update`, you are calling `deps.get`.

The message is from mix and it has no idea if the hex registry is fresh or not. I don't think "All dependencies in cached registry are up to date" makes sense because "up to date" != "latest". As I said earlier "up to date" means the dependencies are up to date compared to the mix.lock and mix.exs files

[2016-07-09 11:47] ericmj commented on #4970
If you look at the comment below https://github.com/erlang/rebar3/issues/1190#issuecomment-230986950 you have the reason for why it works on older elixir versions. I think we should rather try to fix this in rebar3 rather than reverting back to using rebar2 by default because that will cause even more issues.

As a workaround you can set the dependency as `{:foo, "~> 1.0", manager: :rebar}` to use

[2016-07-09 11:50] ericmj commented on #4967
Where do we say this? We should definitely fix that.

[2016-07-09 19:21] benoitc commented on #4970
@ericmj the issue with rebar3 is still true isn't it?  I don't think @sivsushruth was asking to revert to rebar so not sure why it's closed :) I agree anyway rebar3 is the path to follow there. Maybe the initial report there will help you to reproduce: it https://barrel-db.atlassian.net/browse/BAR-57

This issue is actually preventing any elixir application that import a rebar3 project. Se also ht

[2016-07-09 19:25] ericmj commented on #4970
AFAIK the issue is still there, but since rebar is breaking without mix interaction it's not likely to be a mix issue. Since there is nothing actionable for us to do from this end I am keeping the issue closed.

[2016-07-09 19:32] #4968 closed

[2016-07-09 19:34] benoitc commented on #4970
@ericmj do you mean it's a rebar3 issue?

[2016-07-09 19:38] ericmj commented on #4970
Yes. Unless you can show otherwise?

We close issues that are not actionable by us. AFAICT this is a rebar issue and I can not reproduce this locally so there is nothing I can do from here.

[2016-07-09 19:43] josevalim commented on #4970
To avoid further confusion, I have marked this issue as "Unresolved". In other words, we need a way to reproduce this bug, otherwise there isn't much we can do. In particular, if you are currently seeing this issue, please run: `~/.mix/rebar3 --version` and let us know the result. Then run `mix local.rebar` and try again to see if the issues have been fixed and also please let us know. :)

[2016-07-09 21:25] sunboshan opened #4975 "Notation for capture \N is not consistency in String.replace/4 and Regex.replace/4"
In latest [doc](http://elixir-lang.org/docs/master/elixir/String.html#replace/4) for `String.replace/4`, it uses `\N` to refer to a specific capture.

    ... one can give \N or \g{N} in the replacement string ...

    Notice we had to escape the escape the backslash escape character...

While in latest [doc](http://elixir-lang.org/docs/master/elixir/Regex.html#replace/4) for `Regex.replace/4`, it

[2016-07-09 21:27] josevalim commented on #4975
Great catch. It is a little bit tricky. The correct is `\N` but because `\` is escaped, `\\N` is what you will see in most strings. Maybe we should use `\N` but mention we need to use `\\N` because of the escape character.

[2016-07-09 21:39] sunboshan commented on #4975
Thanks!

Ping @whatyouhide since he changed wording for `String.replace/4` in a recent [commit](https://github.com/elixir-lang/elixir/commit/4ba0c6c16a122c269c592096165240979d979cea). Note there might be a typo in the current [doc](http://elixir-lang.org/docs/master/elixir/String.html#replace/4) for `String.replace/4`

    Notice we had to escape the escape the backslash escape character.

Might b

[2016-07-09 22:05] sunboshan opened #4976 "Syntax highlight for Regex.split/3's Example is messed"
In the latest [doc](http://elixir-lang.org/docs/master/elixir/Regex.html#split/3) for `Regex.split/3`, the syntax highlight for Example section is messed due to using slash `/` as delimiter for sigil_r

    ~r/-/

A simple work around would be using other delimiters, such as

    ~r{-}

However there might be some other bug causing this issue.

[2016-07-09 22:09] josevalim commented on #4976
Yes, let's change it so it looks nice on the syntax highlight.

[2016-07-09 22:10] michalmuskala commented on #4976
I often like to use `~r"-"` when the regex does not involve quotes itself.

[2016-07-09 23:10] michalmuskala opened #4977 "Stray comma in map diffs"
### Environment

* Elixir version (elixir -v): master
* Operating system: OSX

### Current behavior

With an assertion like `assert %{a: 1} == %{b: 1}` ExUnit gives following diff (with proper colours):

[code]

<img width="197" alt="screenshot 2016-07-10 01 09 45" src="https://cloud.githubusercontent.com/assets/477062/16710770/02892284-463b-11e6-9733-1e4efe198616.png">

### Expected behavior

The

[2016-07-10 07:20] #4976 closed

[2016-07-10 07:23] eksperimental commented on #4976
sweet, we've been dealing for ages with this bug

[2016-07-10 07:31] eksperimental commented on #4963
Well, I think the message should be improved then to explain what we mean by  "up to date".
only when you do `mix help deps.get` you can find out about the mix.lock, (and no mentions to mix.exs).

Also by running `mix help deps.update` is hard to tell what is the difference between the two commands.

[2016-07-10 08:04] ericmj commented on #4963
Agreed that we can improve the docs and messages. A PR would be very appreciated.

[2016-07-10 08:08] eksperimental commented on #4963
sorry eric, i don't feel qualified for this one as I have a hard time understanding the differences as you can see :-P

[2016-07-10 23:17] #4977 closed

[2016-07-11 07:44] ivan opened #4991 "iex exits after interrupting and connecting back to the process"
I am not sure this is a bug, but it seems like undesirable behavior.  In `erl`, I can ^G, interrupt the job, connect, and get back to a working REPL.  In `iex`, doing the same sequence of actions breaks the REPL (the exception does not seem to get caught, so it exits).

erl:

[code]

iex:

[code]

### Environment

* Elixir version (elixir -v): Elixir 1.4.0-dev (24e494b)
* Operating system: Ubuntu

[2016-07-11 14:49] martin-langhoff opened #4993 "Compiling is very slow on filesystems with slow directory access"
When compiling over a FS that has slow `open()`, `stat()` and company, builds are painfully slow. This affects builds over NFS and `vboxsf` (VirtualBox, often under Vagrant).

An initial rookie diagnosis: stracing the build (with `-e trace=file`) shows each directory and file path is hit many times with `open()`, `openat()`, `stat()`, etc. A quick read of `lib/compilers/elixir.ex` and `mix/utils.e

[2016-07-11 14:58] ericmj commented on #4993
It would be great if you could provide an elixir project where this happens and the commands you run.

[2016-07-11 16:35] josevalim commented on #4993
A project would be great. If an open source project like Plug is enough to reproduce this, even better. But in general, yes, let's see if we can do less queries because it will benefit everyone.

[2016-07-11 18:06] Troush commented on #4991
Can confirm with `Elixir 1.3.0`.

Will try to tackle this

[2016-07-11 22:27] Troush commented on #4991
What I understand, so far:
This is `etop` specific issue. Because while we spawning `etop` process with link to current iex process.
When we interrupting `etop` we interrupting it with iex process. And after interruption there is no iex to continue.
Any clues to continue my work?

[2016-07-11 22:36] josevalim commented on #4991
@Troush I am not sure. Given the shell process is indeed exiting, maybe we should find out why it is so and why a new one is not being started automatically? For example, this is handled automatically:

    iex> Task.start_link fn -> raise "oops" end

[2016-07-11 23:33] Troush commented on #4991
[code]
Switching to new shell while etop interrupted is raising same erlang exception

[2016-07-12 08:13] josevalim opened #4996 "Deprecate Enum.partition in favor of Enum.split_with"
Enum.partition should be soft-deprecated. Which means we will add a `@doc false` and leave a TODO so we can emit warnings on version 1.5 or later.

The reason for the renaming is that `GenStage` will introduce a particular meaning to partitions which we want to avoid mixing up with `Enum.partition`.

[2016-07-12 08:40] whatyouhide commented on #4996
I can tackle this.

[2016-07-12 08:46] josevalim commented on #4996
All yours!

[2016-07-12 09:19] whatyouhide commented on #4975
Great catch @sunboshan, thanks for the ping and sorry it took me a while to get back to you :) I opened #4998 to hopefully fix this 👍

[2016-07-12 09:23] #4996 closed

[2016-07-12 15:47] josevalim opened #4999 "Release v1.3.2"
* [x] Confirm with @myronmarston and @wojtekmach they haven't see further issues in umbrella apps
* [x] Confirm with @mobileoverlord he hasn't seen any further issues with Nerves
* [x] Confirm with @ericbmerritt support for Nix works
* [x] Investigate exdoc issue on Erlang 19: https://github.com/elixir-lang/ex_doc/issues/580

[2016-07-12 17:32] mobileoverlord commented on #4999
confirmed. v1.3 head is working as expected.

[2016-07-12 17:46] martin-langhoff commented on #4993
I'll try. I made a stab yesterday with Plug. It shows 3 or 6 attempts at opening each path, because:

* paths are tried as `./foo/doo.ex` and then again as 'foo/doo.ex`. At first blush, these are equivalent.
* paths are first opened as directories, then as files

[code]

I have a (private) project which shows other aspects of very slow compile; unsure why; working on diagnosing further and getting

[2016-07-12 19:13] myronmarston commented on #4999
Confirm that I haven't seen any new issues with our umbrella app.  I also just compiled HEAD of the `v1.3` branch and will use it today and report back if I see any issues.

Note, however, that I have still periodically seen the issue I reported in #4842, but when it happens I'm not quite sure if the elixir I had just run is `v1.3.1` or my locally compiled elixir out of the v1.3 branch.  One issue

[2016-07-12 20:09] wojtekmach commented on #4999
Looks good on my end, I tested it on both v1.3 head and recent v1.4-dev.

Btw, I just posted this on ML: https://groups.google.com/forum/#!topic/elixir-lang-talk/6O8DwVkzICE, it's probably not a bug (hence ML) but it was related to my experiments with umbrella that lead me to reproduce the bug in #4842.

[2016-07-12 21:00] jasmo2 opened #5002 ":observer.start on OSX"
I try to run  *:observer.start*, but I get the next error:

[code]

[2016-07-12 21:06] whatyouhide commented on #5002
Judging by this part:

it looks like it could be a permission problem? Can you give more info on how you installed Erlang and Elixir and such?

[2016-07-12 21:08] jasmo2 commented on #5002
I used **[Kiex](https://github.com/taylor/kiex)** tool)

[2016-07-12 21:11] whatyouhide commented on #5002
@jasmo2 that's just for installing Elixir. How did you install Erlang? What OS are you running on? How are you starting `iex`? Are you running as root or as a regular user? More info would make trying to figure out what's going on easier :) 👍

[2016-07-12 21:13] jasmo2 commented on #5002
I do not know, I think as a regular user.
¿How do I check?

[2016-07-12 21:15] whatyouhide commented on #5002
@jasmo2 did you run `sudo ...`, or just `...`? :) That's usually enough to tell. Also, we need to know:

1. how you installed Erlang
2. what OS are you running on
3. how did you start `iex`

:)

[2016-07-12 21:17] jasmo2 commented on #5002
1. `brew install elixir`
2. OSX *10.11.5*
3. iex -S mix

[2016-07-12 21:25] ericmj commented on #4999
@myronmarston The bug is that https://github.com/elixir-lang/elixir/blob/v1.3/VERSION was not bumped to `1.3.2-dev` after `v1.3.1` was tagged.

[2016-07-12 21:26] ericmj commented on #5002
Closing this since it's not an Elixir issue. Feel free to continue the discussion.

[2016-07-12 21:26] #5002 closed

[2016-07-12 21:37] jasmo2 commented on #5002
@whatyouhide, how do I give permissions to erlang?

[2016-07-12 21:45] josevalim commented on #5002
@jasmo2 observer relies on wxwidgets. Do you have it installed? Maybe via homebrew? If so, check the results `brew info wxmac`.

[2016-07-12 22:16] josevalim commented on #4999
@myronmarston I have bumped the version file and that can help. Alternatively, you can also run this `elixir -e "IO.inspect System.build_info"` and that will give a bit more information.

[2016-07-12 22:35] myronmarston commented on #4999
Good to know, thank @josevalim.  No problems yet with the version I compiled this morning.

[2016-07-12 23:03] jasmo2 commented on #5002
@josevalim it seems that is installed:
[code]

[2016-07-12 23:28] jasmo2 commented on #5002
I had to:

- `brew install kerl`
- `kerl update releases`
- `kerl update releases`
- `kerl list`
- ` sudo kerl buil R16B03`  sudo kerl build VERSION

Start IEX

[2016-07-13 13:05] whatyouhide commented on #4967
@ericmj we say that in the [docs for `use/2`](http://elixir-lang.org/docs/master/elixir/Kernel.html#use/2). Should I fix that then? I can do it later today :)

[2016-07-13 15:36] heri16 opened #5003 "Regression on GenServer handle_call :timeout"
### Environment

* Elixir version (elixir -v): 1.2.5
* Operating system: Windows 8.1

### Current behavior

In a GenServer, I had made sure that all the handle_call function clauses return {:noreply, state, :infinity}.
Even so, a ":timeout" message is sent to the GenServer process after 30 seconds, resulting in handle_info(:timeout, state) being called.

### Expected behavior
Since the timeout is

[2016-07-13 15:40] josevalim commented on #5003
@heri16 can you please provide the source code of your GenServer? I have just tried locally and I could not reproduce it:

[code]

After 30 seconds nothing was printed in both cases.

[2016-07-13 15:54] heri16 commented on #5003
Apparently one of my handle_info was returning {:noreply, new_state, 30_000}.

Missed that because the documentation of handle_info/2 is missing the part about timeouts.

[2016-07-13 15:54] #5003 closed

[2016-07-13 15:55] josevalim commented on #5003
The docs for `handle_info/2` currently refer to `handle_cast/2` so we don't repeat all information. The typespec though still mentions the timeout return.

[2016-07-13 17:23] sunboshan opened #5004 "Enum.find_index/2 should return nil if the element is not found in a Stream"
### Environment

* Elixir version:

[code]
* Operating system: `Mac OSX 10.11`

### Current behavior

[code]

### Expected behavior
[code]

[2016-07-13 17:37] fishcakez commented on #5004
Thanks for the report and test cases @sunboshan. Indeed if the enumerable halts we will return the index it halted at, rather than `nil`.

[2016-07-13 18:13] maxim commented on #4846
@josevalim  I ran into a few of these, and had a question. Isn't it always safe to use this variable in the `if`, and always unsafe to use it in `else`? And therefore, shouldn't the warning only be produced if the variable is used in `else`?

[code]

[2016-07-13 21:03] ericmj commented on #4967
Please do :)

[2016-07-14 04:32] tuvistavie commented on #4846
I think it is safe, but it is indeed a conditional assignment,
so the warning is correct in that it is a conditional assignment, but
maybe a little misleading in this particular case as it is not really unsafe.
I am not sure if there is anything we could do to make this clearer.

[2016-07-15 08:54] #5004 closed

[2016-07-15 10:07] #4975 closed

[2016-07-15 10:15] whatyouhide opened #5009 "Support a :label option in IO.inspect/2"
As discussed in [this thread](https://groups.google.com/forum/#!topic/elixir-lang-core/iCaUDS6IEiY) in the elixir-lang-core mailing list.

`IO.inspect/2` will now accept a `:label` option (a binary) to inspect values with a small label before:

[code]

The return value of `IO.inspect/2` will remain unchanged.

@michalmuskala is working on this.

<strike>I wonder, maybe `:label` is a better name fo

[2016-07-15 10:29] michalmuskala commented on #5009
I like `tag` because it's short, which is important in case of a debugging utility.

[2016-07-15 10:30] whatyouhide commented on #5009
I think two characters are still very ok though, with more clarity that this is just a visual thing (tag always makes me think of more complicated/general stuff). Let's wait for other opinions? 😃

[2016-07-15 10:36] josevalim commented on #5009
:+1: for tag.

[2016-07-15 10:44] lexmag commented on #5009
I really like `:label` (we also refer to such thing as label in `ExUnit.Formatter` code). :bowtie:

[2016-07-15 10:49] Troush commented on #5009
I prefer ':label', elixir uses 'tag' a lot in different context than "Marking stuff". (in 'ExUnit' like example).

[2016-07-15 12:51] whatyouhide commented on #5009
I think we've got more votes for `:label` then? 😄 @josevalim what shall we do? :)

[2016-07-15 12:58] josevalim commented on #5009
`:label` is fine so we don't further overload `:tag`.

[2016-07-15 16:47] #4999 closed

[2016-07-15 19:39] michalmuskala commented on #4918
Should this describe the whole concept of special processes, system messages, etc?

[2016-07-15 19:42] josevalim commented on #4918
No, I don't think it should talk about special process but system messages, we can focus on log and trace as a starter.

[2016-07-15 19:48] michalmuskala commented on #4918
Wouldn't this be better as a separate page? This could get quite a lot of text. As a separate page you could also easily reference it from other places.

[2016-07-15 20:08] josevalim commented on #4918
I am not sure. I don't oppose the idea but I am also not sure it deserves its own page. It is meant to be a quick reference. The actual page is in the erlang docs.

[2016-07-15 20:16] michalmuskala commented on #4918
I'll write something and we'll see how it will work out. Moving some text around is not a big problem, writing it is.

[2016-07-15 22:36] Sgeo opened #5013 "Docs and typespec for Kernel.get_and_update_in/3 don't mention :pop"
### Environment

* Elixir version (elixir -v): Elixir 1.3.1

### Current behavior

No mention of `:pop` in  `Kernel.get_and_update_in/3`'s typespec or documentation.

### Expected behavior

It seems like `Kernel.get_and_update_in/3` is intended to allow a "get and update" function to pop, by emitting `:pop` instead of a `{get, update}` tuple. This is documented in `Access.get_and_update/3`

This s

[2016-07-16 10:10] heri16 commented on #5003
Apologies, must have been the lack of coffee over an overnight sprint.

[2016-07-16 12:36] whatyouhide commented on #5013
Thanks for the report @Sgeo! :) Do you want to submit a PR for this, or should I take care of it? :)

[2016-07-16 17:41] #5009 closed

[2016-07-16 21:14] #5013 closed

[2016-07-16 21:47] nrio0 opened #5019 "String.replace_leading leads to infinite recursion"
`String.replace_leading("foo", "", "")`

should return "foo", but instead it runs forever.
Tested with elixir version 1.3. and Erlang version 19.0.

[2016-07-16 21:53] whatyouhide commented on #5019
Same happens for `String.replace_trailing/3` btw.

[2016-07-16 22:12] Troush commented on #4991
After a lot of time with this I can say that I am not capable to solve this.
So this is issue free to take.

[2016-07-17 03:22] wobh commented on #5019
Hah! Nice catch!

Looks like there's no null-case testing in either `String.replace_leading/3` or the private function `String.replace_leading/6`. The latter could detect when `prefix_size` and `suffix_size` are both 0 and return the string. Likewise with `String.replace_trailing/3`.

[2016-07-17 12:32] benoitc commented on #4970
@josevalim steps to reproduce are described above. I am not sure which details to give more. We are using the latest version in any case.Actually it makes very difficult to use an erlang package with hex and force us to do such crappy change:

https://github.com/barrel-db/barrel-platform/pull/52/commits/ae1abcb6b9f341e4da37e2448e75098553c1ea6f

I don't know where is the error, rebar3 or elixir. A

[2016-07-17 13:28] josevalim commented on #4970
@benoitc sorry, maybe I missed something, but I still cannot find a way to reproduce this after reading the issues. The nerves example worked fine here. Do you have one where this is triggered for barrel or hackney? I would love to solve this and make it easier for everyone.

[2016-07-17 13:30] ericmj commented on #4970
I tried to reproduce from the instructions in https://barrel-db.atlassian.net/browse/BAR-57 but it's still not really clear. I assume that commands in the linked issue is run from barrel_ex, which I also assume is https://github.com/barrel-db/barrel_ex? When I clone master from that repo and run `mix deps.get` I get the following error:

[code]

[2016-07-17 13:49] sivsushruth commented on #4970
@ericmj I am sorry, it is https://github.com/barrel-db/barrel-platform/tree/mix
Can you please check with this, thanks you.

[2016-07-17 13:52] ericmj commented on #4970
@sivsushruth Which commit should I use? The branch you linked seems to have the workaround.

[2016-07-17 13:59] sivsushruth commented on #4970
hey @ericmj it is easier, if you revert a few lines here, https://github.com/barrel-db/barrel-platform/commit/ae1abcb6b9f341e4da37e2448e75098553c1ea6f
Also please check this, https://travis-ci.org/barrel-db/barrel-platform/jobs/145338338#L960
Let me know if you need anything else.

[2016-07-17 14:11] ericmj commented on #4970
That got me a bit further but still not all the way. Why should I do step "2) compile with rebar3. (This steps should get the deps)"? It fails with:

[code]

[2016-07-17 14:26] eksperimental opened #5023 "Enum.slice/2-3 correct documentation regarding negative indexes"
####  Enum.slice/2
- [ ] We need to correct docs examplaining how using non-valid indexes will return in `[]` .
originally discussed here https://github.com/elixir-lang/elixir/pull/5017#issuecomment-233183078

Currently we have:

there are two cases where this is not true.
where range is `1..-1` (still valid)
and `-1..1`, ascending order, and it will return `[]`

####  Enum.slice/3
We need to
- [

[2016-07-17 14:27] eksperimental commented on #5023
for  Enum.slice/2 @josevalim [suggested](https://github.com/elixir-lang/elixir/pull/5017#issuecomment-233183167)

[2016-07-17 14:35] sivsushruth commented on #4970
@ericmj https://github.com/dscape/couchdb/blob/master/opt/install/apache-couchdb-1.3.1/INSTALL.Unix#L105 might help you.
You need spidermonkey.

[2016-07-17 14:36] ericmj commented on #4970
There have been multiple bumps for me when reproducing this. I'm sorry but you need to create a smaller project that reproduces this.

[2016-07-17 14:38] sivsushruth commented on #4970
@ericmj I am sorry, I am trying to port this into a hex package. Would it be convenient if I spent time getting a script to reproduce the error in place ?

[2016-07-17 14:39] ericmj commented on #4970
A script  does not help if I need to install external libraries to build it. A smaller project that reproduces the issue without making changes to the project and clear instructions of what commands

[2016-07-17 17:42] antipax commented on #4993
Not sure if we have a good example yet, but I'd like to take a shot at improving the situation here. What does everyone think about providing some kind of cache for Mix file operation? I'm thinking of something like `Mix.File` which wraps the read-related operations of the `File` API and provides cached operations for mix tasks.

If we took this approach, the question of course would be when that

[2016-07-17 17:46] ericmj commented on #4993
We have discussed using a cache for the file stat operations and I even made an implementation for it. But like you said the issue is invalidation. I would rather try to look at if we can refactor the code to only stat a file once.

[2016-07-17 17:48] antipax commented on #4993
@ericmj that's very fair, and I think certainly attempting to reduce operations would be a great start in any event.

Would anyone be opposed to me taking a shot at reducing the FS op count in `Mix.Compilers.Elixir`?

[2016-07-17 19:57] josevalim commented on #4993
@antipax I would like first to see which stat operations are happening in access. For example, it is very likely we are stat-ing the `Mix.Project.config_files` multiple times through the compilers and those are straight-forward to cache in "compile" and then delete the cache after the compilers ran. However, for the other ones, different solutions may be required. Sometimes the cache can be a map

[2016-07-17 21:07] antipax commented on #4993
Ok cool. I'm going to try to combine some instrumentation in `File` with
dtruss to figure out exactly where the ops are coming from.

On Jul 17, 2016 3:57 PM, "José Valim" <notifications@github.com> wrote:

[2016-07-18 01:20] uri commented on #1520
What is [`Node.spawn/2`](http://elixir-lang.org/docs/stable/elixir/Node.html#spawn/2) used for then? It has the same problem where the function is compiled into the module.

[2016-07-18 02:05] antipax commented on #4993
Here's the output from my instrumented build with strace trace=file outputting to the terminal. The instrumentation I added prints "lib/blah/file.ex:12: File.read/1", if, for instance, File.read/1 was called at lib/blah/file.ex line 12.

https://gist.github.com/antipax/67ffad57831b314bff4533f0e39dac04

You can search for "Compiling 44 files (.ex)" in the log to see when the elixir compilation star

[2016-07-18 02:31] antipax commented on #1520
@uri as long as the remote node has the same module loaded, you can pass an anonymous function and it will work just fine.

You can try this out by creating a mix project, starting and connecting two nodes to each other from that project's code using `iex --sname <name> -S mix`, and then using `Node.spawn/2` on an anonymous function defined in a module in the mix project.

[2016-07-18 02:36] antipax commented on #1520
I would also note that since anonymous functions won't work across node boundaries due to the aforementioned reasons, it is generally recommended to use module/fun/args instead of anonymous functions. This is because they will continue to work as long as the specified Module.fun/arity exists in the called node's code.

[2016-07-18 08:38] whatyouhide commented on #5023
@eksperimental will you submit a PR for this or should we take care of it?

[2016-07-18 10:17] alco opened #5024 ""with" suppresses unused variable warnings"
The code below doesn't produce any warnings when compiled with Elixir v1.3.2.

[code]

Not all warnings are suppressed. For example, the following code

[code]

produces this output

[code]

[2016-07-18 10:35] josevalim commented on #5024
This is a consequence of how safe/unsafe variables work in Elixir. This won't emit warnings either:

[code]

There are two ways for us to fix this. 1. Emit the unused variable warnings ourselves or 2. Wait until we unify the scoping rules (something we have already started but we will able to finish effectively on 2.0 only). I believe it makes more sense to wait until Elixir v2.0.

[2016-07-18 12:12] eksperimental commented on #5023
Give me two days. If i am not able to submit anything, please take care of it

[2016-07-18 14:32] josevalim commented on #4918
Closing in favor of the PR.

[2016-07-18 14:32] #4918 closed

[2016-07-18 15:03] josevalim commented on #4993
I would only expect this to happen during protocol consolidation.

@martin-langhoff can you please set: `consolidate_protocols: false` in your `mix.exs` file and let us know if it impacts the performance of compiling your code in any considerably way when you run `mix compile` afterwards?

[2016-07-18 15:03] josevalim commented on #4993
Btw, great job @antipax !

[2016-07-18 16:27] whatyouhide commented on #3932
@alecspopa I think we're missing such error only in `Agent`, correct?

[2016-07-18 16:28] josevalim commented on #3932
Doesn't Agent use GenServer?

[2016-07-18 16:28] #3932 closed

[2016-07-18 16:29] whatyouhide commented on #3932
Whoops, it does, I'm already getting tired today 😛 Sorry!

[2016-07-19 16:11] michalmuskala commented on #4853
Is adding the attribute to the protocol module and documenting how to make it work for implementations enough? Or is something more needed here?

[2016-07-19 16:42] #5023 closed

[2016-07-19 16:46] #5019 closed

[2016-07-19 21:13] josevalim opened #5033 "Consider adding conveniences for pmap"
With GenStage.Flow more involved, it is clear one this pattern won't be covered by `GenStage.Flow`:

    collection
    |> Enum.map(fn x -> Task.async(fn -> do_something(x) end) end)
    |> Enum.map(&Task.await(&1, 5000))

We should consider including such in the standard library. I can think of two approaches:

  1. pmap: `collection |> Enum.pmap(&do_something/1, 5000)`
  2. Task.async_many/await

[2016-07-19 21:19] michalmuskala commented on #5033
The problem I see with this approach is that it may actually be slower in many cases, than a simple `Enum.map/2`. We need a really good documentation to tell people they need to make sure they provide enough work for each process, or an option to `Enum.pmap/3` to chunk the data before.

I'm just afraid people will simply change `Enum.map/2` to `Enum.pmap/2` see it's slower, and be very disappointe

[2016-07-19 21:23] whatyouhide commented on #5033
Agreed with @michalmuskala, this is a "dangerous" feature to implement right because you really have to know what you're doing, and you have to know a bunch of stuff like how to handle errors in spawned processes (they're linked I guess?) and so on.

[2016-07-19 21:31] josevalim commented on #5033
I just want to point out that all of those arguments could (and were) used against Task. "It could be used wrong" is definitely a given but I wouldn't like to limit everyone using it correctly because we are afraid people will use it without properly measuring or reading the docs.

[2016-07-19 21:35] whatyouhide commented on #5033
Sorry, I didn't mean to discourage this feature, I like the idea :) I meant that we should have a good balance of configurability (because a bunch of things could go wrong and we want to provide ways to not make them go wrong) and "do the right thing"™iness. Also, if we provide `Enum.pmap/2`, would we provide something like `Enum.peach/2` as well? Asking because the "do these things in parallel bu

[2016-07-19 21:51] josevalim commented on #5033
That's why I prefer the `Task` approach because it is more explicit in terms of semantics. Since it is `async_something`, it follows the same semantics as `Task.async` in terms of linking and in terms of calling `Task.await_many` being required.

At least this one does not make sense. Stream computes item by item, which means you can't leverage parallelism on `Stream.pmap/2`. If you try to do that

[2016-07-19 22:01] whatyouhide commented on #5033
Ah, I see now with `Stream.pmap/2`, sorry, didn't think it through. Yes from my perspective 2. looks more formal/strict and appears to leave less room to mistakes :)

[2016-07-20 04:33] walkr opened #5034 "Calling :erlang.apply on macros fails"
Dynamically calling a function on the Logger module as in the code below

[code]

fails with the following error message:

[code]

Is this expected, and if it is could someone please explain why it's the expected behavior?

Thanks!

[2016-07-20 07:33] josevalim commented on #5034
Macros are not functions, you cannot apply them at runtime nor invoke them dynamically. There is a function called `Logger.bare_log` that can be used for this purpose.

[2016-07-20 07:33] #5034 closed

[2016-07-20 08:40] #4920 closed

[2016-07-20 09:00] TBK145 opened #5035 "mix hex.outdated in umbrella projects"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: Ubuntu 14.04

### Current behavior

When using `mix hex.outdated` in an umbrella project it shows the dependencies of all sub-projects, but we have some dependencies (ex_doc, credo) defined in the root mix.exs. This mix file is not listed in the output of `mix hex.outdated`.

[2016-07-20 09:12] josevalim commented on #5035
Please file the issue on github.com/hexpm/hex. The task should probably not be marked as recursive. :)

[2016-07-20 09:12] #5035 closed

[2016-07-20 09:12] josevalim commented on #4920
@whatyouhide should we update the Mix tasks where we have added the `-pr` workaround? :)

[2016-07-20 09:16] whatyouhide commented on #4920
@josevalim yep, doing that right now :)

[2016-07-20 10:31] DevL commented on #5033
I'll throw in a 👍 for option 2. I take it that it would retain the order of the collection unlike `Task.yield_many`. If so, would there be room for a function that doesn't care about retaining the order or is that use case covered by `Task.yield_many`?

Probably a case of YAGNI.

[2016-07-20 17:52] alco opened #5040 "Quote suppresses unused variable warnings"
Elixir v1.3.2:

[code]

[code]

[2016-07-20 18:12] josevalim commented on #5040
Yes, this one is by definition. A lot of times the generated code itself may end-up emitting warnings and it doesn't make sense to go through hops and tailing the code generation. That's also one of the many reasons to avoid generating a lot of code inside quote. :)

[2016-07-20 18:12] #5040 closed

[2016-07-20 18:16] alco commented on #5040
This should be mentioned in the docs. The only place in `quote`'s documentation where the word "warning" is mentioned is in the Options section:

and I'm not really sure what exactly this option does. Does it suppress all kinds of warnings? How does it related to the default behaviour of suppressing unused variable warnings?

[2016-07-20 23:18] srp opened #5042 "anonymous function syntax not working for zero arity"
### Current behavior

[code]

### Expected behavior

[code]

[2016-07-20 23:48] josevalim commented on #5042
It is expected. As the error message says: "a capture containing at least one argument as &1".

[2016-07-20 23:48] #5042 closed

[2016-07-20 23:49] srp commented on #5042
Why? It seems very inconsistent that I have to use a completely different syntax for zero arguments then non-zero arguments

[2016-07-21 00:04] eksperimental commented on #5042
Where's ur anonymous function? By using & u are calling a capture, which needs a at leasy a &1 arg

[2016-07-21 00:16] bbense commented on #5033
Seems kind of a slippery slope, you know the first request is going to be for Task.chunk
I think if you go into it knowing that managing a worker pool is out of scope, the Task.async_many is fine. I would avoid Enum.pmap at all costs. Everyone should write that in the first week so they learn why it's not a great idea.

[2016-07-21 01:21] srp commented on #5042
Ok, why does a capture need at least 1 arg? It seems arbitrary. Clojure has a very similar special form (eg `#(+ %1 %2)`) and it doesn't restrict it on 0 arity:

[code]

[2016-07-21 04:37] pjotrp opened #5043 "Failing tests in isolated GNU Guix build"
After successfully including Erlang in GNU Guix (the GNU package manager) I started work on including Elixir.

11 tests in Elixir and 33 tests in Mix fail when building in an isolated environment (i.e. with no access to $HOME, /usr/bin) and without network. We enforce this environment for GNU Guix reproducible installs. No outside inputs can interfere with the build process - i.e., all dependencie

[2016-07-21 08:54] josevalim commented on #5043
Awesome work @pjotrp!

I would love to include patches that generally make Mix or Elixir work better but those seem like they would be putting a maintenance burden on us, specially because we don't really know what is available on GNU Guix and what is not. We would be guessing, specially when some of those outcomes is exactly what we are testing (like handling of the HOME environment variable).

C

[2016-07-21 15:22] dm1try opened #5045 "mix xref unreachable ignores aliases when --no-compile option is used"
### Environment

* Elixir version (elixir -v): 1.3.2

### Current behavior
[code]
`AliasedModule` is reachable

### Expected behavior
Aliases or any other information that was received on the latest compilation should not be ignored.
Or the `--no-compile` flag should be removed from shared options of `xref` command. See `mix help xref`

[2016-07-21 15:28] antipax commented on #5045
@dm1try can you please share your code as well? Thanks for the report!

[2016-07-21 15:34] dm1try commented on #5045
@antipax you can use any mix application.
Running on fresh phoenix app as example:
[code]

[2016-07-21 16:38] josevalim commented on #5045
I think the issue is that --no-compile is implying no loading which means
we won't find anything. If we don't compile, maybe we should at least call
"loadpaths"?

On Thursday, July 21, 2016, dm1try <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-21 17:02] dalexj opened #5046 "Integer.digits/2 doc is confusing with Ruby 2.4 changes"
https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/integer.ex#L70

[code]

Ruby 2.4 is adding `int#digits`, which has a different behavior than elixir's version

Ruby's version reverses the digits `123.digits # => [3, 2, 1]`, while elixir's doesn't. The docs use the number `101` which makes it confusing as to what elixir's does - reversing it or not. Please change to not use a palind

[2016-07-21 17:25] dm1try commented on #5045
@josevalim btw, the `loadpaths` task certainly did the trick, thx :)
`mix do loadpaths, xref unreachable --no-compile` works as expected(does not compile and checks refs fine).

[2016-07-21 17:33] antipax commented on #5045
@josevalim I suppose that since `--no-compile` will result in erroneous results without running `loadpaths` we should be doing so. Should I do a PR?

[2016-07-21 17:38] antipax commented on #5046
Thanks for the report! I agree the example would be improved by using a non-palindromic number, but I would also like to note that the docs do currently state that it returns the "ordered digits."

[2016-07-21 17:59] ephe-meral opened #5047 "Mix flags deps as "unchecked" if other deps generate files"
### Environment

* Elixir version (elixir -v): 1.3.1 & 1.3.2
* Operating system: FreeBSD, Debian Jessie

### Current behavior

Mix compiles the dependencies just fine, however, one dependency - `:asn` does generate files in during compilation. After all the deps are compiled and before the compilation of the project, mix says that some (almost all) of the deps are unchecked and require a compilati

[2016-07-21 19:03] eksperimental commented on #5046
thank you for the report @dalexj. Do you feel like submitting a PR, or should I take care of it?

[2016-07-21 19:51] dalexj commented on #5046
you can go ahead and take it

[2016-07-21 23:01] keathley opened #5049 "@moduledoc and @typedoc accept charlists as input"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: OS X 10.11.6

### Current behavior

Currently `@moduledoc` and `@typedoc` accept a charlist as input while `@doc` throws a `FunctionClauseError`:

[code]

[code]

### Expected behavior

Based on conversations on IRC it seems that `@moduledoc` and presumably `@typedoc` should reject charlists as input the same way that `@doc`

[2016-07-22 01:15] pjotrp commented on #5043
@josevalim thanks for responding!

We can set a $HOME in the package and patch in paths to calls to git, echo etc. I'll address those in the coming month. There may be a number of tests I need help with. Three questions:

Q1: Would it be possible to have all calls out to git in one single function? I think it is useful to make such dependencies explicit.

Q2: Is there any git networking involved?

[2016-07-22 08:26] josevalim commented on #5043
Q1: It should be two: one in the code and another one for the tests.

Q2: No, it is not.

Q3: No, I took a look and I couldn't see why they would be related if you are not changing the source files (and only test ones).

[2016-07-22 08:27] #5046 closed

[2016-07-22 08:38] josevalim commented on #5045
Yes, please. We should just always call loadpaths before compile, regardless if compile is called. :)

[2016-07-22 09:13] whatyouhide commented on #5049
I can look at this one.

[2016-07-22 13:29] #5045 closed

[2016-07-22 17:23] ephe-meral commented on #5047
It seems as this is actually a problem with sub-dependencies (of `:asn` in this case, which has a sub-project that is given by a path) - I was able to get it to compile with the following command:

[code]

However, in my project I have two dependencies that have sub projects like that, and if I try to use the command of above with the two of them, I end up with the same problem.
I guess to fix thi

[2016-07-22 20:14] #5049 closed

[2016-07-22 22:46] ericmj commented on #5047
We do not support that. You should not publish packages to Hex that have path dependencies.

You got a warning about asn_compiler not being included when you published it and you can see here https://hex.pm/packages/asn that the dependency is not included.

Looks to be a bug that we even see the asn_compiler dependency.

[2016-07-23 08:15] ephe-meral commented on #5047
@ericmj what would be the preferred way then, in case the project has inner depedencies? something like an umbrella project?

[2016-07-23 09:40] josevalim commented on #5047
Those dependencies need to be made packages as well.

On Saturday, July 23, 2016, Johanna Appel <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-24 00:20] antipax opened #5053 "Compiler reports deadlock for %__MODULE__{} instead of struct undefined error"
[code]

[code]

in IEx, where the parallel compiler is unused:
[code]

So it seems like, in order to provide an accurate error, this is maybe a special case that needs to/should be handled by the parallel compiler?

[2016-07-24 07:44] josevalim commented on #5047
@ephe-meral I believe we can close this one since Hex packages can only depend on Hex packages. What do you think? :)

[2016-07-24 07:44] josevalim commented on #4993
@martin-langhoff ping?

Unless we find out that consolidation is slow, I believe we can close this one.

[2016-07-24 07:45] josevalim commented on #4970
Ping? Did we get a mechanism to reproduce this?

[2016-07-24 08:22] josevalim commented on #5053
Could this have been caused by b98b4bd235ccf461c49d7218a9614d34df94bfdb?

[2016-07-24 08:25] josevalim commented on #5053
Actually, I misunderstood the issue. It is mostly a matter of knowing the struct won't be defined if I am trying to access the module itself. :) I don't think it was necessarily caused by above (and if it was, it doesn't matter much).

[2016-07-24 11:19] ericmj commented on #5047
@josevalim Ideally we should do something about Mix compiling dependencies that are not technically dependencies. But I have no idea how to fix this.

[2016-07-24 20:00] ephe-meral commented on #5047
@josevalim I guess so
@ericmj Yeah I guess if it would have prevented me from publishing `:asn` in the first place with a reasonable explanation why... The warning was to me more like a 'be aware that this is non-standard' sign

[2016-07-24 20:04] ericmj commented on #5047
The message does say: "WARNING! Excluded dependencies (not part of the Hex package):" in yellow text :). We shouldn't prevent you from publishing the package because it is sometimes valid. I guess we can force you to add the `--ignore-warnings` for those times.

[2016-07-25 09:25] josevalim commented on #5047
I thought about this but then there are some packages that will always have those and we will push people to cargo cult the option. :( I think a blank `--ignore-warnings` is specially bad because new warnings can be added in the future and we will basically never know. If we want to have flags, I think it needs to be per warning (or per warning type), for example, `--ignore-non-package-deps`.

[2016-07-25 10:10] ephe-meral commented on #5047
I can confirm that the error was related to the sub packages... I refactored the structure of `:asn` and `:mac` to not use a sub-project and now the build runs through :)
Thanks for the hints to figure out the problem!

[2016-07-25 10:11] ericmj commented on #5047
@josevalim I reviewed the warnings we have and some should actually be non-overridable errors. The excluded dependencies warning should possibly also not be overridable since you can use environments to work around it.

Closing this since we have an open issue on Hex.

[2016-07-25 10:11] #5047 closed

[2016-07-25 16:21] Troush opened #5056 "Undefined struct value memory leak"
### Environment

* Elixir version (elixir -v): `1.3 / master`
* Operating system: `ubuntu 16.04`

### Current behavior

When you define module with struct and functions that return this struct, you can set undefined value for a struct, that causes process to freeze and consume all the memory it can.
Code:
[code]
### Expected behavio
[code]

I will try tackle this.
P.S. Maybe related to #5053, but

[2016-07-25 16:26] antipax commented on #5056
You are calling the function `test/1` for the value of `test` within the function `test/1`, so you are producing an infinite recursion.

[2016-07-25 16:29] Troush commented on #5056
@antipax Still, this is not valid behavior.

[2016-07-25 16:31] antipax commented on #5056
@Troush can you explain why you think this is not valid behavior? Unless you have figured out a solution to the halting problem, I'm not sure there is anything the compiler can do here. :)

[2016-07-25 16:33] Troush commented on #5056
Okay, I am closing this :+1:
Late night stupidity, sorry lads.

[2016-07-25 16:33] #5056 closed

[2016-07-25 16:33] antipax commented on #5056
@Troush happens to all of us! :) ❤️

[2016-07-25 16:33] josevalim commented on #5056
@Troush it is valid behaviour. That's how a GenServer works: it calls the same function over and over again recursively. Basically you are writing this:

[code]

I think the real bug is that you intended to write a variable and it ended-up being a function call. :) Luckily we have a warning for it on master. :bowtie:

[2016-07-25 16:39] Troush commented on #5056
I will tell the whole story behind this, to maybe explain the thinking, that ended up here :)

I have production code that looks like.
[code]
And miss typed, and `:same` become `same`. Get machine freeze couple of times, then fixed this. But totally lost context that `:same` is a function name. And it ends up here.
Busy day, sorry again :)

[2016-07-26 17:19] antipax commented on #5053
Working on this, let me know if anyone has an objection.

[2016-07-26 19:28] michalmuskala commented on #5053
Is this related?
[code]

[code]

[2016-07-26 19:30] antipax commented on #5053
I would argue that message is at least accurate, though it of course could be improved to say what the problem is more directly. I'm not sure it would be worth it, though.

[2016-07-26 19:57] josevalim commented on #5053
@antipax one option is to discard the current patch and instead change the parallel compiler to raise a better error when I am waiting on myself. This would solve both issues.

[2016-07-26 20:01] whatyouhide commented on #5053
Actually I am 👍 on @josevalim's suggestion, it's a bit like when we say "function undefined or private", so that we don't have to do too many stuff an can just give an error message that explains possible causes.

[2016-07-26 20:24] antipax commented on #5053
Doesn't the current message already say that it is waiting on itself? I don't think that makes the error more clear in the struct situation.

[2016-07-26 20:29] antipax commented on #5053
To be clear, I think we should do both. The error message for deadlocked on self could be improved. The error message for an undefined local struct should say undefined struct, not deadlocked on self, IMO, because the fact that it produces a deadlock at all instead of a undefined error is due to an implementation detail (since structs can be waited on in the parallel compiler).

[2016-07-27 12:58] MSch opened #5069 "String.split with parts and trim: true doesn't trim last substring"
Elixir 1.3.2 on Erlang 19.0.2

Using `String.split` with `trim: true` doesn't trim the last part if it returns exactly `parts` parts.

[code]

[2016-07-27 13:08] whatyouhide commented on #5069
I can look into this.

[2016-07-27 13:52] fishcakez commented on #4853
@michalmuskala that's enough yes, please go ahead if you like.

[2016-07-27 13:57] meadoch1 commented on #4970
I'm having a similar issue compiling a project that depends on hackney.  The error I'm getting is complaining that the bare command doesn't exist for rebar3.  Is the command to run rebar3 created by mix or something else?  Does the bare command on it need to be removed?

[code]

I just upgraded from Elixir 1.2 and Erlang 18.x yesterday and this started happening.  I've since completely uninstalled

[2016-07-27 14:00] ericmj commented on #4970
@meadoch1 It's because you have an old rebar in your `PATH` at /Users/cmeadows/bin/rebar3.

[2016-07-27 14:02] meadoch1 commented on #4970
(facepalm)  That did it.  I figured I couldn't be the only one to notice the bare command missing but thought it was worth a shot.  Thanks for finding my blind spot!  (and sorry for missing the obvious)

[2016-07-27 14:04] ericmj commented on #4970
No worries. Elixir 1.4 will by default use the rebar mix installs instead
of the one in PATH because this seems to be a common issue.

On Wed, Jul 27, 2016 at 4:03 PM, Chris Meadows <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-07-27 19:17] josevalim opened #5071 "Should we implement system messages for Stream.interval?"
Source is here: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/stream.ex#L433

This would allow us to consume Stream.interval for periodic tasks inside Tasks. Similarly, we could implement those for other streams such `GenStage.stream`.

/cc @fishcakez

[2016-07-27 19:25] josevalim commented on #5071
@fishcakez

[2016-07-27 19:25] #5071 closed

[2016-07-28 03:08] asiniy opened #5072 "Contrinituitive behaviour of `import` - it uses least set of imported functions"
### Environment

* Elixir version (elixir -v): 1.3.1
* Operating system: Ubuntu 14.04

### Current behavior

Let's suppose I have a code like that (this is the real code):

[code]

Surprisingly (for me), I have a compilation error here: `undefined method cast/3 on line number n`. I fixed that by [this commits](https://github.com/asiniy/ecto_state_machine/commit/79fefc736c4532ca81f53e83cd5277a04919

[2016-07-28 05:05] sunboshan opened #5073 "Performance 40x slower for comprehension operation in IEx"
### Environment

* Elixir version (elixir -v):
[code]
* Operating system: `Mac OSX 10.11`

Here's a piece of code computing `pythagorean triples` using comprehension.

[code]
Run it

[code]

Exact same piece of code in IEx

[code]

It's 40x slower than running through an .exs file. Not sure if it's a bug in `IEx` or it's expected to be slower in `IEx`. Any thoughts?

[2016-07-28 08:23] josevalim commented on #5073
In IEx code is evaluated and not compiled, so it is expected. Never benchmark outside of a compiled module.

[2016-07-28 08:23] #5073 closed

[2016-07-28 08:26] josevalim commented on #5072
In my opinion the opposite would be counter-intuitive. If I am asking to import only `cast: 4`, why is `cast: 3` still around? Furthermore, if we always imported the maximum, then you would never be able to remove imports.

Also, I don't understand why EctoStateMachine is even importing changeset functions into the user codebase. You should the import to ouside of the quote. It will keep the same

[2016-07-28 08:26] #5072 closed

[2016-07-28 10:11] asiniy commented on #5072
@josevalim but you are asking to import everything in another part of code, isn't it?

Yeah, `EctoStateMachine` implementation still isn't clean, but I'm improving it

[2016-07-28 11:01] josevalim commented on #5072
everything in another part of code, isn't it?

Which is now being overwritten. Is like setting up an alias, the last one
is going to prevail.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-07-28 13:57] michalmuskala commented on #4853
As discussed yesterday on IRC, I tried implementing a fix for the dialyzer warning, but it seems we can't remedy this. The warning is issues at the place the protocol function is called, and not inside the protocol.
I think this can be closed.

[2016-07-28 14:32] fishcakez commented on #4853
@michalmuskala can we check there aren't any other warnings before closing. For example dispatching to an an opaque implementation does not cause warnings after consolidation.

[2016-07-28 15:31] sunboshan commented on #5073
@josevalim Thanks for the explanation! But isn't that `.exs` is just interpreted not compiled?

[2016-07-28 15:38] josevalim commented on #5073
.exs is also compiled but the bytecode modules is not written to disk (only loaded in memory).

[2016-07-28 15:54] sunboshan commented on #5073
Awesome! I was under impression that `.exs` is not compiled after reading Dave's Elixir book.

[2016-07-28 16:01] josevalim commented on #5073
Please submit an errata because that's not correct. :)

On Thursday, July 28, 2016, sunboshan <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-07-28 17:36] ericmj commented on #5073
To clarify; Elixir does not care about the file ending, Elixir will do the same thing regardless if the file ends in `.ex`, `.exs` or `.rb`. There is a convention though that `.ex` files are supposed to produce compiled `.beam` files to disk and `.exs` should only load modules into memory. But this is only a convention, you still need to call the different commands `elixir`, `elixirc` or `iex` to

[2016-07-28 20:16] k-solutions commented on #5073
My opinion is that should be clearly explained in docs, as I saw few
benchmarks on Plug from iex itself with weak results.

On Jul 28, 2016 8:36 PM, "Eric Meadows-Jönsson" <notifications@github.com>
wrote:

[2016-07-28 20:22] ericmj commented on #5073
@k-solutions We are also in the opinion that things should be explained in documentation. It's currently documented here: http://elixir-lang.org/getting-started/modules.html#scripted-mode, it's also the first result when I google "elixir exs". If you think the documentation can be improved a PR would be very appreciated. External contributions are always appreciated for documentation since the cor

[2016-07-28 21:00] sunboshan commented on #5073
@ericmj Thanks for above link. However in that doc, it is said

Elixir treats both files exactly the same way, the only difference is in intention. .ex files are meant to be compiled while .exs files are used for scripting, **without the need for compilation**.

Per discussion with @josevalim above, `.exs` is also compiled in memory, it's just didn't write any bytecode file in disk. The sentence `

[2016-07-28 21:04] ericmj commented on #5073
While docs are correct I can see how they are confusing. "Without the need for compilation" means that they don't need to be compiled but there can still be compiled elements in them. An `.ex` file OTOH needs to be compiled or they would have no effect.

A PR would be very appreciated.

[2016-07-28 23:36] Ljzn commented on #3956
That should be `mix archive.install path/to/downloaded/hex-0.9.0.ez`.

[2016-07-29 20:51] cogle commented on #5069
I believe this is due to the fact that is the parts is exactly one more then the number of expected results the code will execute line number 353.

In the first case where the string is `"x-"` the returned value from executing the case statement at line 355 will be `{"x", ""}`.
This pattern matches with the first condition with the following values `["x" | split_each("", "-", :true, 1)]`.
This wil

[2016-07-29 23:11] TreyE opened #5076 "Better documentation for binary pattern matching"
Currently the syntax and specifiers for binary pattern matching in elixir are hard to find extensive documentation for - you have to dig into the comments provided in the actual Erlang source for Elixir.

### Current behavior

Right now I have to read the Erlang source in order to find a full specification and examples.

### Expected behavior

This documentation should be available in either the E

[2016-07-29 23:26] josevalim commented on #5076
Full specification can be found here: http://elixir-lang.org/docs/stable/elixir/Kernel.SpecialForms.html#%3C%3C%3E%3E/1

Or by typing `h <<>>` in your terminal. If you believe this is not enough, please let us know the specific aspects of the docs we can improve.

[2016-07-29 23:26] #5076 closed

[2016-07-29 23:43] cogle commented on #5069
I created a pull request #5077 for this issue.

[2016-07-30 01:28] TreyE commented on #5076
Nope - this is precisely what I was looking for - don't  know why I missed it.

Thanks!

[2016-07-30 08:54] #5069 closed

[2016-07-30 09:15] whatyouhide commented on #5069
Thanks @cogle, I got caught up a bit and didn't have time to finish looking into this, great job :)

[2016-07-31 16:33] dmorneau commented on #4991
It also happens when triggering an interrupt while running `Process.sleep(10000)` or similar. I think the important point is whether the shell is waiting on IO or not.

Happy case:
* IEx.Server has run `io_get` and is waiting for a response from the group server
* User does an interrupt
* The group server (see Erlang's `group.erl`) receives `{:'EXIT',Drv,interrupt}` while it's in `get_line1/4`
* I

[2016-07-31 17:21] pkazmier commented on #1116
I can reproduce this very easily on my Mac (El Capitan) in the standard **Terminal** that comes with OS X by simply starting and stopping **iex**. In the example below, the error happened the second time I started **iex**. Sometimes it takes 5 or 6 times to reproduce, but inevitably it will always happen if one persists long enough:

[code]

I then tried to reproduce with **erl** to see if it was

[2016-07-31 20:16] josevalim commented on #4991
Thank you @dmorneau for the detailed analysis. We are looking forward to the PR! :D

[2016-08-01 10:37] yaBliznyk opened #5079 "Realize swapcase function"
I read how works functions upcase and downcase and try to think how to realize function swapcase.

[code]

I down known how to test it. Is this code working?  If it is, may you insert it in codebase?

[2016-08-01 11:05] lexmag commented on #5079
Hi @yaBliznyk, Elixir's issue tracker is reserved for bug reports, https://elixirforum.com would be preferred place for such questions.
Regarding feature proposal, please use elixir-core mailing list.
Thank you.

[2016-08-01 11:05] #5079 closed

[2016-08-01 11:15] yaBliznyk commented on #5079
Thank you very much, i go to mailing list!

[2016-08-01 15:23] #4991 closed

[2016-08-02 15:10] antipax commented on #5053
So, has anyone come to any conclusions on this? Happy to close this out whatever way you all want to.

[2016-08-02 15:35] josevalim commented on #5053
@antipax I would prefer to solve the problem generally first, if possible, and then merge the current patch only if necessary.

[2016-08-02 15:35] antipax commented on #5053
@josevalim Ok, what kinda message are you thinking to display when we are waiting on ourselves?

[2016-08-02 15:38] josevalim commented on #5053
@antipax I am not even sure if we can generally detect if we are waiting on ourselves. Can we? If so, we should just ask it to proceed (we could lie the module is available) because then it will certainly crash afterwards.

[2016-08-02 15:39] antipax commented on #5053
@josevalim I'm not sure, that's an interesting idea though and would solve the problem very cleanly. I will investigate.

[2016-08-02 18:35] PragTob opened #5082 "flat_map is slower than map |> flatten (and erlangs :lists.flatmap)"
(this is not strictly a bug but a somewhat surprising performance degradation I found, hope the issue tracker is still the appropriate place :))

### Environment

[code]

### Current behavior

In my benchmark `Enum.flat_map` is a lot slower (~1.6) than doing map first and then flattening the list, which is unexpected as flat_map is specialized and therefore ought to be faster (I think and it is in

[2016-08-02 18:52] josevalim commented on #5082
So Enum.flat_map never calls `++` and uses a reversal, that should theoretically consume less memory. `flat_map` also accepts any enumerable to be flattened while `:lists` can afford to work only on lists. In any case, can you please try these versions?

[code]

[code]

It would also be nice to know how they compare against smaller inputs. :)

[2016-08-02 19:06] PragTob commented on #5082
@josevalim will do! Thanks and :heart: as always for your quick interaction and general awesomeness :)

[2016-08-02 19:13] dplummer opened #5083 "ArgumentError stacktrace in ExUnit.Case.test does not include source line"
An `:erlang.apply` ArgumentError in an `ExUnit.Case.test` doesn't include the stacktrace line of the actual error, just the line where the test was defined.

### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: Mac OS X 10.11.5 (15F34)

### Current behavior

[code]

[code]

### Expected behavior

Stacktrace would include the line with the error, being line 7 of the test file.

[2016-08-02 19:27] PragTob commented on #5082
You sir, are amazing.

[code]

Concrete implementations etc. [in this commit](https://github.com/PragTob/elixir_playground/commit/e48c0d4e5fbe973ed38414866cb81927c804153f)

[2016-08-02 20:56] #5082 closed

[2016-08-02 20:58] josevalim commented on #5082
Thank you for benchmarking! :heart:

[2016-08-02 23:03] fishcakez opened #5084 "ExUnit test failures when asserting for lack of equality (!=, >, <) shows redundant information when exactly equal"
Example from Ecto:
[code]

[2016-08-03 06:50] PragTob commented on #5082
Thank you! :)

[2016-08-03 13:02] Licenser commented on #4619
Sorry to comment on a closed issue, I know this took a really really long while to get sorted, but a new version of riak_core was release and after a week or two with banging my head against the dependencies there is now a new riak_core_ng package that should solve this problem.

[2016-08-03 17:02] rranelli opened #5087 "Using a type defined in another module implies in compile-time dependency"
### Environment

* Elixir version (elixir -v): 1.3.2 & 1.2.6
* Operating system: debian8 (jessie)

### Current behavior

While debugging recompilation issues in my project I noticed that whenever we
add a reference to a type defined in another module in a typespec, the other
module is added as compile-time dependency.

For example, if we have something like this:

[code]

I will end up with the fo

[2016-08-03 18:07] #5053 closed

[2016-08-03 18:10] josevalim commented on #5087
Thank you! We should fix this and backport it. :)

[2016-08-03 18:16] johnhamelink commented on #4970
I was also experiencing this issue with relx (as a dependency of exrm). For some reason I had rebar3 in `/usr/local/bin`. Deleting that version solved the problem for me.

[2016-08-03 21:15] rranelli commented on #5087
If there is anything I can do to help, let me know :+1:

[2016-08-03 21:24] antipax commented on #5087
@josevalim are you still taking a look at this like you were this morning? Happy to work on this if you would prefer to do stuff on GenStage or whatever.

[2016-08-03 22:51] ericmj commented on #4970
If the issue is a bug in an older rebar3 version I think we can close this.

@benoic @sivsushruth Please let us know if it still doesn't work with latest rebar3 and we will reopen.

[2016-08-03 22:51] #4970 closed

[2016-08-04 03:25] aidanSoles opened #5090 "Sytax errors from 'make test' command originating from src file"
### Environment

* Erlang version: Erlang R16B03 (erts-5.10.4) [source] [64-bit] [async-threads:10] [kernel-poll:false]
* Elixir version (elixir -v): 1.4.0-dev (grabbed from GitHub: 'elixir: command not found')
* Operating system: Linux Mint 17.3 Rosa (VirtalBox VM)

### Current behavior

$ git clone https://github.com/elixir-lang/elixir.git # No error messages.

$ make clean test
cd lib/elixir &&

[2016-08-04 03:30] ericmj commented on #5090
You need to update your Erlang version. You are using R16 and 18.0 or later is needed.

It seems this commit https://github.com/elixir-lang/elixir/commit/f524f25c58169da28ce0d17fb7235932bb043c9a broke the version checker for versions <17.0.

[2016-08-04 10:02] #5090 closed

[2016-08-04 18:24] #5087 closed

[2016-08-04 18:25] josevalim commented on #4993
Closing. Let us know if you have more info @martin-langhoff.

[2016-08-04 18:25] #4993 closed

[2016-08-04 18:30] austinsmorris opened #5094 "mix do clean, compile does not perform mix deps.compile"
### Environment

* Elixir version (elixir -v):
Erlang/OTP 19 [erts-8.0] [source] [64-bit] [async-threads:10] [kernel-poll:false]
Elixir 1.3.2

* Operating system:
Ubuntu 16.04 LTS

### Current behavior

I have an umbrella application and one of those applications is a phoenix app.  When I try:

`mix do clean, compile`

I get this error:

    ** (Mix) The task "compile.phoenix" could not be found.

[2016-08-04 18:40] josevalim commented on #5094
Thank you @austinsmorris! Can you please provide a small github repo that reproduces the problem? It would help me reproduce the issue and work on a fix. :)

[2016-08-04 19:16] austinsmorris commented on #5094
@josevalim,

You can pull down https://github.com/austinsmorris/compileapp, then:

[code]

Thanks!

[2016-08-04 21:14] martin-langhoff commented on #4993
Hi folks! Getting back on deck after a couple weeks of holiday. Will report on this soon (tomorrow or monday). Apologies for the blackout.

[2016-08-04 21:33] antipax opened #5096 "Provide suggestions for correct module/function names in xref warn"
Add "did you mean" functionality to compile-time xref warnings, similar to the current error for undefined functions at runtime:

[code]

[code]

Minimally, this would be implemented for functions (using the existing code), but if there is a way to do it for modules, that would be great too. The issue with doing it for modules is that they may or may not all be loaded at compile time for us to fin

[2016-08-05 02:00] tsloughter opened #5097 "mix bare compile"
### Current behavior

`mix compile` builds deps and src to `_build/dev/lib`.
### Desired behavior

rebar3 added the `rebar3 bare compile` task for mix to be able to easily build deps with rebar3. It simply builds beams for `./src/ to`./ebin`instead of`_build/default/lib/`. Similar is required from mix so rebar3 can use it to build mix dependencies.

[2016-08-05 08:50] josevalim commented on #5097
@tsloughter do you need to compile it to ebin? I am assuming that copying from `_build/prod/lib/app/ebin` is as hard as copying from ebin?

Now, regarding the dependency loading, we already support a MIX_NO_DEPS=1 flag since v1.3.2, so if compiling to `_build` is fine, there is a chance you can already implement Mix support in rebar3. :D

[2016-08-05 13:21] ericmj commented on #5097
When using `MIX_NO_DEPS=1` we skip all dependency verification and loading, so you need to add the dependencies to the load path yourself with `ERL_LIBS`.

[2016-08-05 15:48] tsloughter commented on #5097
@josevalim the idea is to not need any copying. deps live in `_build/default/lib/<app>` and should just build there. But we could hack it to then copy from the `_build/default/lib/<app>/_build/prod/lib/app/*` and bring it up a few levels I guess.

[2016-08-05 15:53] josevalim commented on #5097
Are you calling it from the command line? If so we can support an
environment variable that customizes the build_path. That's what you want,
right?

On Friday, August 5, 2016, Tristan Sloughter <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-08-05 15:57] tsloughter commented on #5097
Correct, we'll call from the command line. Calling without having to shell out would make setting up the code paths easier but with mix needing to be started (has processes) and what not we'll stick to shelling out for now at least.

[2016-08-06 07:19] colinramsay opened #5099 "MacOS Sierra installation via homebrew fails"
On MacOS Sierra Beta (16A239m), the installation via homebrew fails due to an unsatisfied dependency.

`wxmac: This formula either does not compile or function as expected on OS X`

By installing wxmac with the `--devel` flag, wxmac will install, but at this time elixir itself won't. I'm not sure how to get elixir to install that dev version of wxmac. It may be that this simply sorts itself out wh

[2016-08-06 08:34] whatyouhide commented on #5099
Hey @colinramsay, thanks for the report. However, I would say that this is not a bug with Elixir and maybe an issue should be opened in [homebrew-core](https://github.com/Homebrew/homebrew-core), where the Elixir formula lives. Wdyt?

[2016-08-06 08:42] colinramsay commented on #5099
Possibly! I wasn't sure where the ownership of this would lie. Homebrew also gives the following message:

[code]

In other words, if I can't fix it, don't bring it up. I opened the issue here in the hope that someone familiar with elixir *and* homebrew could advise - perhaps one of the people who have contributed to the elixir formula.

[2016-08-06 09:28] josevalim commented on #5099
What do you mean by Elixir won't install when using --devel for wxmac? Do
you have the error message?

You should be able to install Erland without wxmac though. So maybe try
installing Erlang first, without wxmac, and then try Elixir.

On Saturday, August 6, 2016, Colin Ramsay <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-08-06 09:46] colinramsay commented on #5099
[code]

With wxmac-3.1.0_2 already installed via `brew install --devel wxmac`, `brew install elixir` just gives:

[code]

I'll try installing Erlang first, thanks for the recommendation.

[2016-08-06 09:54] colinramsay commented on #5099
[code]

😞

[2016-08-06 10:05] josevalim commented on #5099
The elixir is failing because there is no --devel support for it. Can you
check the Erlang formula to see if you can install it without wxmac? I am
assuming a flag is needed or you will have to at least change the formula.

On Saturday, August 6, 2016, Colin Ramsay <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R

[2016-08-06 10:39] Qqwy opened #5100 "Doctests cannot handle Unicode"
### Environment

* Elixir version (elixir -v): 1.3.2 (and probably older versions as well)
* Operating system: Linux Mint.

### Current behavior

I am creating a library called [Tensor](https://github.com/Qqwy/tensor/), which allows people to work with Vectors, Matrices and higher-dimension Tensors.

These data structures are implemented as Structs, with an overridden Inspect protocol. A matrix, f

[2016-08-06 12:06] colinramsay commented on #5099
wxmac is only a recommended dependency of erlang, so I disabled it:

[code]

Everything installs as expected.

[2016-08-06 12:06] #5099 closed

[2016-08-06 15:38] josevalim commented on #5100
It is not an Unicode issue. Since you start the result with {, Doctest
expects a valid value in Elixir syntax and not something with #....

There is a section on Doctest documentation about this. The solution is to
assign to {vector, tensor} individually and then compare each.

On Saturday, August 6, 2016, Qqwy <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.

[2016-08-06 19:13] schnittchen commented on #5094
I have the same problem, and it's triggered from inside the build process of Edeliver. So it's hard to work around.

[2016-08-06 19:44] Qqwy commented on #5100
Thank you! I have been able to modify my example to work with these restrictions. (For posterity, they can be found [here](http://elixir-lang.org/docs/stable/ex_unit/ExUnit.DocTest.html#module-opaque-types) )

Do you think that it might be possible to create a better exception message that includes this information, on doctest compilation failure?

[2016-08-06 19:53] josevalim commented on #5100
Yes, we may be able to improve the error messages, yeah.

[2016-08-06 20:17] Qqwy opened #5103 "Doctest 'opaque type' regular expression is too restrictive"
### Environment

* Elixir version (elixir -v): 1.3.2
* Operating system: Linux Mint

### Current behavior

This is sort of a follow-up on #5100.

I followed the documentation on DocTests outlined [here](http://elixir-lang.org/docs/stable/ex_unit/ExUnit.DocTest.html#module-opaque-types), which states that opaque types are matched specially, because they start with a `#` (and these are also used ins

[2016-08-06 20:22] Qqwy commented on #5103
The only way to make these kind of values work with doctests right now, is to use `inspect(matrix)` and wrap the result in `"..."`. This degrades the quality of the examples, because it of course is not what a user should do in their terminal.

[2016-08-06 20:22] schnittchen commented on #5094
Apparently the problem goes away when doing `mix deps.compile` before `mix do clean, compile`.

[2016-08-06 20:48] josevalim commented on #5103
If you would like to send a PR we would appreciate it. The regex can definitely be improved but I also think it could be simpler. I would say all we care is what it starts with `~r/\A#[A-Z][\w\.]*</u`. I don't think we need to care about the rest.

[2016-08-06 20:50] Qqwy commented on #5103
Yes, I agree. I will create a PR tomorrow. (It's nearly midnight over here right now).

Do we actually care about the `<` in there? I can totally understand cases where an opaque inspect would not use `<...>`.
Or is there then the problem of matching things that are actually comments?

[2016-08-06 20:55] Qqwy opened #5104 "IEx: `r Kernel` searches for source path of computer that originally compiled Elixir"
### Precheck

### Environment

* Elixir version (elixir -v): 1.3.1, 1.3.2, possibly 1.4
* Operating system: Linux Mint; OSX.

### Current behavior

When doing `r Kernel` from inside IEx, you get the following result:

[code]
This is when using the Elixir version (1.3.2) that was built with the `asdf` version manager.

[code]
This is when using Elixir (1.3.1 in this case) loaded from the [erlang-so

[2016-08-06 21:13] josevalim commented on #5104
I don't think there is something we can do here. You effectively do not have the source for that module. What would you add to the error message? We cannot guess that the reason is that it is precompiled because maybe you just changed directories of your Elixir source.

[2016-08-06 21:15] #5096 closed

[2016-08-06 21:16] josevalim commented on #5103
Precisely. I would require the `<`.

[2016-08-06 21:29] Qqwy commented on #5104
That is a good question. There probably isn't any difference between a locally-built version of Elixir and a built-and-packaged version of Elixir that can be seen from within. Hmm...

What we might maybe ask instead is: How useful is `r Kernel`?

[2016-08-06 21:31] josevalim commented on #5104
@Qqwy it is useful if you are working against Elixir. Why would you reload `Kernel` though if you haven't changed it locally? You need to have the Elixir source in your machine and have compiled from it.

I believe we are doing what is correct here. Shall we close this? :)

[2016-08-06 21:45] Qqwy commented on #5104
It is... a bit weird, and I don't like that you're able to see a path of someone else's computer this way, but I guess there is no way around it.

Thank you for your support :-)

[2016-08-06 21:45] #5104 closed

[2016-08-06 22:11] eksperimental commented on #5104
I agree with you @Qqwy, and I have faced this earlier.
from a privacy point of view I think this is a bug,
If i compile elixir and distribute it, it should not save in the binaries the path it was compiled from in my local system.

[2016-08-07 07:44] talentdeficit commented on #5097
if mix is going to be called from the command line rebar3 will also need a way to disable loading the config (from `config/*.exs)`

it would also be nice if mix could expose a way for rebar3 to provide it's own config (preferably via a map or proplist to make it more accessible to erlang users) and a way to override entries in the mix project like `erlc_options` and possibly `build_embedded`

[2016-08-07 18:13] schnittchen opened #5107 "Clarify what an `:optional` mix dep means"
Here https://github.com/elixir-lang/elixir/blob/3bd976737e4a6b5c4f508b8f3b576e16d184be36/lib/mix/lib/mix/tasks/deps.ex#L61 it says:

[code]

I could not find another place documenting the option. To me, "optional" and "required" are antonyms, hence the sentence above made no sense to me.
(I know the answer to my question is in the code, but it seems inside the hefty dep resolution...)

I'm current

[2016-08-07 18:24] #5100 closed

[2016-08-07 18:24] #5103 closed

[2016-08-07 20:30] #5107 closed

[2016-08-07 22:19] talentdeficit opened #5108 "alternative elixir compilers"
i wrote an alternative rebar3 compiler that can compile elixir sources in a rebar3 project (using `Mix.Compilers.Elixir.compile/5` but ran into the following problems:

* `Mix.Compilers.Elixir.compile/5` relies on `Mix.State` and `Mix.ProjectStack`

  i had to start these explicitly to get compilation to work at all. as far as i can tell these are only used to get `elixirc_opts` from the project t

[2016-08-08 07:46] kipcole9 opened #5110 "ExUnit.Server hard-coded timeout limit of 60_000msec"
### Current situation

ExUnit.Server has a hard-coded timeout value of 60_000 which appears to be the cause of one of my complex test cases timing out with:

[code]

In my example I am using sample data to generate test cases similar to the following - since the sample data is several thousands items, generating the test cases takes more than 60_000 on all my machines.  Indeed the tests never star

[2016-08-08 07:53] josevalim commented on #5110
Yes, we can definitely provide a way to configure it. I never thought someone would hit it. :)

[2016-08-08 13:57] Maikon commented on #5110
Is this not solved using the `:timeout` tag? https://github.com/elixir-lang/elixir/blob/96da837136e13a5d599e8d1bbcb87f2b4675e861/lib/ex_unit/lib/ex_unit/case.ex#L134

[2016-08-08 14:10] josevalim commented on #5110
The :timeout tag is per test. Those refer to the inner working of ExUnit (before the test even starts running, for example).

[2016-08-08 14:22] Maikon commented on #5110
Gotcha. Thanks for the clarification :-)

[2016-08-08 23:07] #5084 closed

[2016-08-08 23:56] JGulbronson commented on #5110
I wouldn't mind taking a look at this, as long as no one's started on it yet. Have been using Elixir at work lately, and would love to give back. Let me know and I'll get started!

[2016-08-09 07:46] josevalim commented on #5110
@JGulbronson please go ahead. The idea is to have a configuration in the application environment called server_timeout and use it in both places where we use `@timeout` in ExUnit code base. :)

[2016-08-09 10:37] pjotrp commented on #5043
We are pleased to announce a recent reproducible build of Elixir+Erlang and debugger is now part of GNU Guix: https://www.gnu.org/software/guix/packages/

The source of the package can be found at http://git.savannah.gnu.org/cgit/guix.git/tree/gnu/packages/elixir.scm#n31

And the current build and dependencies can be viewed at http://hydra.gnu.org/build/1375771#tabs-runtime-deps

Thanks to Ricardo

[2016-08-09 10:52] josevalim commented on #5043
Yes, please. Just send a PR here: github.com/elixir-lang/elixir-lang.github.com

And thank you for your work! Shall we close this issue now or is there anything else I can help with?

[2016-08-09 11:04] #5043 closed

[2016-08-09 14:48] dmorneau commented on #5094
Mix remembers what tasks it already ran, so it won't run `loadpaths` during `compile` if it already did during `clean`. Interestingly it also means `mix do help, help` for instance only prints the help once.

[2016-08-09 16:08] talentdeficit commented on #5108
alternately, if `Kernel.ParallelCompiler.files/2`, `Kernel.LexicalTracker.remote_references/1` and `Kernel.LexicalTracker.remote_dispatches/1` are exposed (or a function in another namespace that gives access to these, if exposing Kernel directly is an issue) that solves the Mix state problems and the manifest problems for rebar3. the erlang compiler options problem and the protocol consolidation

[2016-08-09 16:48] josevalim opened #5115 "Support conflict resolution in protocol consolidation"

[2016-08-09 16:49] #5108 closed

[2016-08-10 02:19] Ljzn opened #5119 "Why the name of this strategy"one_for_all""
Why its name isn't `all_for_one`?

[2016-08-10 02:21] eksperimental commented on #5119
Precheck

Do not use the issues tracker for help or support (try Stack Overflow, IRC, mailing list, etc)

[2016-08-10 07:36] josevalim opened #5122 "Reverse line in token matching error message"
The following code:

[code]

Raises:

    ** (SyntaxError) iex:2: unexpected token: "end". "{" starting at line 1 is missing terminator "}"

However, since most of the causes are likely to be closer at line 1, I believe we should reverse it to:

    ** (SyntaxError) iex:1: "{" is missing terminator "}". unexpected token: "end" at line 2.

Thoughts?

[2016-08-10 07:49] #5119 closed

[2016-08-10 10:05] ottolin commented on #5122
I think the suggested message looks more natural since users will usually scan the error message from left to right.
I would like to look into this if the final conclusion is agreed with the change.

[2016-08-10 10:28] lexmag commented on #5122
Agree, suggested message describes problem better.

[2016-08-10 10:32] whatyouhide commented on #5122
👍 on my side as well.

[2016-08-10 11:55] #5122 closed

[2016-08-10 19:20] josevalim opened #5124 "Support negative unix times in DateTime.from_unix"
@lau wrote:

https://github.com/elixir-ecto/postgrex/pull/225#issuecomment-238952196

[2016-08-11 06:11] milmazz opened #5126 "String.split/3 fails when a compiled pattern + option is given"
It seems that `String.split/3` is trying to re-compile a *compiled pattern* when an option is given, the following is an example of what I'm trying to accomplish:

[code]

The default behavior is to split the string as many parts as possible, in my case, I want to limit the number of parts to 2:

[code]

Which works fine, but, I want to use a compiled pattern because I need to execute the same mat

[2016-08-11 07:46] #5126 closed

[2016-08-11 14:35] fishcakez opened #5129 "Add docs page on operators and guards"
For reference: http://elixir-lang.org/getting-started/basic-operators.html#operator-table

[2016-08-11 15:10] hisapy opened #5130 "mix deps compiled in Docker image need to be re-compiled when starting container"
This might be a possible minor bug.

### Environment

* Elixir version (elixir -v): **Elixir 1.3.1**
* Operating system: Ubuntu 16.04 (on a Docker container)

### Current behavior

I have a [Dockerfile with an instruction to compile Mix deps](https://github.com/iporaitech/pwr2-docker/blob/master/Dockerfile#L49). Everything works fine when you build the Docker image. However the first time you [sta

[2016-08-11 15:32] josevalim commented on #5130
I need more information to understand what is really happening. For example, does the machine where you built the software contains the same Elixir version that is inside Docker? Another option is that the Elixir compiler works on timestamps and maybe when creating the instance it sets all file timestamps to be the same?

[2016-08-11 15:34] josevalim commented on #5130
Btw, it seems your docker instruction is using elixir v1.3.2 (the latest) and if `elixir -v` on your machine reported `v1.3.1`, that would explain the issue.

[2016-08-11 15:56] fishcakez commented on #4853
Doesn't appear to be anything we can do here, except to suggest using `@dialyzer {:no_opaque, [fun: arity]}` where appropriate.

[2016-08-11 15:56] #4853 closed

[2016-08-11 19:13] pareeohnos opened #5132 "IEx auto-complete doesn't work for structs"
I've come across what I think is a bug (although could be a design choice) whereby autocompletion in IEx does nothing if it is a struct. Take for example the following

[code]

In IEx, I am able to do `MyStr` and hit tab and autocompletion works fine, but if I prefix that with a `%` autocompletion stops working.

Whilst this is obviously not a major issue, it gets quite annoying. I've got a fix ru

[2016-08-11 19:18] fishcakez commented on #5083
Fix brewing in #5116.

[2016-08-11 19:37] hisapy commented on #5130
Hi Jose,

Obrigado for the quick response.

I'm using Elixir entirely inside the container. When you build the image Elixir is [installed from apt-get](https://github.com/iporaitech/pwr2-docker/blob/master/Dockerfile#L27). Think of the container as a virtual machine image that you can boot and starts the same machine as it was when you created the image.  So yes, the Elixir when compiling in the D

[2016-08-11 19:38] josevalim commented on #5132
@pareeohnos thank you! Would you like to submit a pull request with tests or should we tackle it?

[2016-08-11 19:39] pareeohnos commented on #5132
I'll get one prepped now :) @josevalim

[2016-08-11 19:42] josevalim commented on #5130
Ok, thank you for explaining. I have a very minimum Docker knowledge. :) Just to make sure I got it correctly: the project **is compiled inside Docker** but, when starting the container, it still asks for compiling. Is this correct?

Can you try running `rm -rf deps/*/.fetch` before starting the project and let me know if it fixes the issue?

[2016-08-11 19:45] hisapy commented on #5130
Thanks again ... I'll try it right now

[2016-08-11 19:48] #5132 closed

[2016-08-11 19:48] hisapy commented on #5130
Thank very much @josevalim ! ... It works ... I'll add `rm -rf deps/*/.fetch` to the Dockerfile right now.  What a great community experience

[2016-08-11 19:48] #5130 closed

[2016-08-11 19:51] josevalim commented on #5130
Glad to have helped @hisapy!

I have one last question though: can you print the mtime of the `deps/*/.fetch` files? It seems the bug is that those timestamps are being rewritten when building the container. Is there an option for this not to happen? This would be the ideal fix IMO.

[2016-08-11 20:52] fishcakez commented on #5129
@whatyouhide sorry that was part of 2operators", hence the link to the table, Then in the guide we can link to the new page.

[2016-08-11 21:16] whatyouhide commented on #5129
Ok, awesome :) Can I ask what you mean exactly with "guards"? Should we describe what you can do in guards, what functions/operators you can use, and why?

[2016-08-11 22:11] hisapy commented on #5130
Sorry for the delay @josevalim

I just came back and played a little with **Iex** tried a nice one liner but ended-up with:

[code]
As you can see in the long output below, **Change** timestamp are set to the time the container was created. Apparently **Access** and **Modify** timestamp are still set to the creation time of  the Docker image layer for the instruction `mix deps.compile`.

I don't k

[2016-08-11 22:56] josevalim commented on #5130
Alright, thank you!

[2016-08-12 14:03] #5124 closed

[2016-08-12 19:48] Qqwy opened #5135 "guard-safe `Integer.mod` revisited"
A couple of days ago, I started a topic on the elixir-core mailing group about implementing a guard-safe version of the modulo (floored division remainder) operation in Elixir.
I thought this would be easy, but in the end it turned out to be hard. The final macro we ended up with was, when expanded:
[code]
[I wrote a blog post about how we came up with this.](https://medium.com/@W_Mcode/down-the-r

[2016-08-13 14:29] Fahrradflucht opened #5137 "Possible improvement for error messages on syntax error in maps"
### Environment
- Elixir version (elixir -v): 1.3.2
- Operating system: OS X 10.11.6
### Current behavior

Given this (a syntax error containing) code:

[code]

The error message I got was:

[code]
### Expected behavior

This was just a typo but I had a really hard time spotting the issue and the error message totally led me in the wrong direction. I counted parentheses and checked `current_user`.

[2016-08-13 14:39] josevalim commented on #5137
We could make the error message better by maybe adding a rule that has the
eol in it which then raised a more reasonable error message. I will
investigate.

On Saturday, August 13, 2016, Mathis <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-08-13 18:55] josevalim commented on #2469
Reopening given the mailing list discussion. @whatyouhide if someone needs to process the arguments before quoting, then they shouldn't use defguard. :) We will also go with the third option:

[code]

It is the one that makes most sense because the right side of when needs to be guard expressions.

[2016-08-13 19:35] christhekeele commented on #2469
So, to reify the spec on this, you want:

- to create a Kernel macro `defguard\1`
- that accepts a single argument of the function definition AST format `name(args) when guard clauses`
- that raises an error if there are no `when` clauses
- that otherwise splits on the `when` to give function head `name(args)` and guards `guard clauses`
- that creates an alternate version unquoted version of `guar

[2016-08-13 19:46] josevalim commented on #5135
Closing in favor of the PR.

[2016-08-13 19:46] #5135 closed

[2016-08-13 19:50] josevalim opened #5138 "Support Enum.map_every/3 and Stream.map_every/3"
It receives an enumerable, an integer `pos` and a function which is invoked with the element every `pos`th item. The first item of the collection is always invoked (unless pos is 0) as to mirror the behaviour in drop_every/take_every.

[2016-08-13 19:51] josevalim commented on #2469
@christhekeele yes. And it should also raise if a non-valid guard expression is used in

[2016-08-13 20:06] christhekeele commented on #2469
Here's my issue with the `when` syntax: idiomatically wherever you can specify a `when` clause (function/macro heads), you can write multiple heads for matching different clauses. So you can do:

[code]

Parallel syntax suggests you could do the following:

[code]

Of course that makes no sense in this context. The implementation discussed above would generate macros that warn `this clause cannot

[2016-08-13 20:24] christhekeele commented on #2469
Of course a smart `when` implementation could warn/raise on duplication. But the `do...end` implementation wouldn't have to be smart so would be a little simpler. If you want the `when` syntax (which does have nice parallels to its usage) there's no reason not to get a little smart about it.

[2016-08-14 12:27] #5138 closed

[2016-08-15 10:44] fishcakez commented on #5083
My bad #5116 does not handle this.

[2016-08-15 12:04] michalmuskala commented on #5083
#5116 would fix this if there was a previous stack entry. It looks like that the test executes in a new process so the stack is empty when the mocked entry for bad call is added.

What would be a fix? Ensure that we're not calling the test in the tail position, so we have proper stack info?

[2016-08-17 17:56] geowa4 opened #5143 "New warning format cannot be onelined"
### Environment

* Elixir version (elixir -v): Elixir 1.3.2 / Erlang/OTP 19
* Operating system: OS X El Capitan

### Current behavior

I am running a linter and syntax checker in Vim. This plugin uses a regular expression to parse the output of commands like `elixirc` to show errors in the gutter. After upgrading to Elixir 1.3, warnings no longer display in my editor since the format has changed t

[2016-08-18 21:06] josevalim commented on #5143
Then I would recommend updating the elixir markers for vim. It is the same format we use for exceptions, so if exceptions can be handled, warnings can likely to. We chose the new format because when we asked developers they said it was the most readable one. It doesn't make sense to revert back for an editor, the machines should be doing the work for us. :)

[2016-08-18 21:06] #5143 closed

[2016-08-18 21:32] Marqin opened #5144 "little- works for floats in binary matching, but is not documented"
* elixir 1.3.2
* OS X 10.11.6

prefix `little-` works for floats in binary matching, but is not documented:
http://elixir-lang.org/docs/stable/elixir/Kernel.SpecialForms.html#%3C%3C%3E%3E/1

Docs say that little can be used only for "integer, utf16, utf32", but I used it for `float` and it works.

Is it bug in elixir or it docs?

[2016-08-18 21:34] josevalim commented on #5144
@Marqin great catch. Docs bug. Can you please send a PR?

[2016-08-18 21:36] Marqin commented on #5144
:ok

[2016-08-18 21:54] #5144 closed

[2016-08-19 14:19] geowa4 commented on #5143
I just want a flag to remove the `\n`. I'm not asking to revert behavior (by default). With compiler errors, the message, file, and line numbers are all on the same line. To me, putting all the relevant data on one line is consistent with the Unix tradition that a single record is a single line. The new output is meant for humans, which is greatly appreciated by my eyeballs, but there's no easily

[2016-08-19 14:56] dantswain commented on #5143
This doesn't seem like an unreasonable request to me.  The new format is very nice when working in the shell, but a LOT command line tools want one thing per line.  @geowa4 is just asking for an _option_ to support bare text one-line-per-warning output.  @josevalim would you be willing to consider a pull request that adds this option?

Also you said this 'works' for exceptions - what do you mean b

[2016-08-19 18:17] josevalim commented on #5143
We don't have plans for supporting more options. Unless this is an
unsolvable issue existing in all editors, I don't believe we should add
options based on NeoVim expectations.

Also, the one thing per line is not going to stick because we have warnings
themselves that spawn multiple lines beyond the file:line information. Such
warnings contain code samples and examples on how to improve the code.

[2016-08-19 19:16] geowa4 commented on #5143
This isn't just a NeoVim expectation. That's just where I first ran into it. I believe this is also an issue for Sublime (https://github.com/smanolloff/SublimeLinter-contrib-elixirc/blob/master/linter.py).

Doing a quick search, I found LLVM adhering to one-line-one-record: `t.c:3:11: warning: conversion specifies type 'char *' but the argument has type 'int'` (http://clang.llvm.org/docs/UsersManu

[2016-08-20 01:49] geowa4 commented on #5143
While I do believe single-line output should be available in command line tools, I'm going to move past this issue in the interest of building relationships instead of souring them before they really start. I have a workaround that I've grown more comfortable with as it's actually giving me more flexibility. Thanks for the time (and the language itself) @josevalim!

[2016-08-21 19:38] sa-mm opened #5148 "String.ends_with?"
The [documentation](http://elixir-lang.org/docs/stable/elixir/String.html#ends_with?/2) for `String.ends_with?` might be slightly ambiguous. At the beginning of the method explanation, "string" refers to the first argument. Later, it refers to the second argument.

Here's the method syntax:

`ends_with?(string, suffixes)`

### Current behavior

[code]

### Expected behavior

[code]

[2016-08-21 19:59] c0b commented on #5148
what's the problem? your **Current behavior** is exactly same as **Expected behavior**

![image](https://cloud.githubusercontent.com/assets/14798161/17839523/04a0cf42-679f-11e6-8c8d-172e01b84165.png)