[2017-11-06 21:35] josevalim commented on #7005
@rcdilorenzo I think this will be one of the bugs where it takes you 12 hours to find the fix and 2 minutes to fix it. It is definitely a bug in the Code.Formatter though. Either in the tuple or in the operator rendering.

[2017-11-06 21:36] josevalim commented on #6997
@rlustin please let us know if you got started or if you need help moving forward!

[2017-11-06 21:52] tpitale commented on #7009
@josevalim Sorry, I guess wasn't clear … I'm using `--remsh` to connect to an already running instance of the application. That's why calling `Mix.Tasks.MyApp.SomeTask.run` works when I start `iex`.

[2017-11-06 22:08] BenMorganIO commented on #7005
Honestly, I would strongly prefer:

[code]

So that each type is on its own line. The formatted version supplied isn't as readable.

[2017-11-06 22:08] josevalim commented on #7009
Doh, that makes sense. It was my bad. So, as you said earlier, the mix command runs BEFORE you connect to the node. To make sure there is no confusion:

[code]

[2017-11-06 22:19] josevalim commented on #7005
Folks, the fact the snippet above is broken does not mean your code will be formatted like that. In fact, the whole things fits on a single line, so the formatter won't even introduce a line break. The snippet above is just an example that triggered the bug post formatting. If in doubt, **try the formatter out**.

[2017-11-06 23:21] jgmchan commented on #6994
I would like to help a little on this issue if possible. I've done some code diving focusing only on the `with` issue and I think it has something to do with how the generator statements are handled in the `call_args_to_algebra_no_blocks/6` function.

It seems that the generators are handled after the `left` argument has already been transformed to an Algebra document so the comments end up being

[2017-11-07 00:45] jgmchan commented on #6994
Seems like it might not be as easy just dealing with the `:<-` tokens as `for` comprehensions can also contain filters like `for n <- [1, 2, 3, 4, 5, 6], rem(n, 2) == 0, do: n`

[2017-11-07 07:22] josevalim commented on #6994
Hi @jgmchan. It is not related to the generators but to the fact we don't handle comments inside function calls at all.

[2017-11-07 08:18] jgmchan commented on #6994
Yeah I had a play around with it today and found that if I replace the following line:
[code]
with
[code]
I could at least get the `left` side to keep the comments in the right place (although the indentation is a little off). This suggested to me that it might be more complex than I had thought.

I would like to help with this but I don't really know where exactly to tackle this problem.

[2017-11-07 08:37] #7005 closed

[2017-11-07 08:41] josevalim commented on #7007
Yup, this is behaving as expected. You can force them to be consistent by putting the `when` in its own line. Then it will behave like @isaacsanders mentioned, except it is aligned with the beginning of token_list_downcase.

[2017-11-07 08:41] #7007 closed

[2017-11-07 08:58] ericmj commented on #7007
What is the rule that causes this to happen and why do we need to keep that rule over a rule that gives us alternative 1 or 2?

[2017-11-07 09:51] #6994 closed

[2017-11-07 09:52] josevalim commented on #6994
@jgmchan the changes were quite larger than I expected as it required a good amount of code to move around. You can see them here: 5ea7321

[2017-11-07 10:00] josevalim commented on #7007
The general rule is 2 but 1 exists because of `config` as pointed out by @whatyouhide. 1 is only applied if all previous arguments fits on the previous line and the trailing keywords do not fit on said line.

[2017-11-07 10:28] ericmj commented on #7007
@josevalim Maybe you are misunderstanding me. Alternative 1 and 2 is what i expect to happen but it isn't happening. I can force alternative 2 by inserting newlines but I cannot make it format as 1.

What I am seeing is the first clause under "Current behavior".

[2017-11-07 10:31] josevalim commented on #7007
You can't force the first clause. Clause 2 is the rule. Clause 1 is the exception.

[2017-11-07 10:34] rlustin commented on #6997
I’m almost done, and still have to write some documentation. I’ll suggest a PR during the day.

[2017-11-07 11:18] rcdilorenzo commented on #7005
Maybe I missed something but why was this issue closed? Is there another one that covers it?

[2017-11-07 11:22] mpranjic commented on #7005
@rcdilorenzo apparently fixed in commit  ca75fc6 :)

[2017-11-07 11:41] rcdilorenzo commented on #7005
Ah, sorry. I couldn't see that on mobile. :-)

[2017-11-07 22:47] brodeuralexis commented on #6999
@josevalim, may I take this issue ?

[2017-11-07 23:01] jgmchan commented on #6994
Wow, this was more complicated than I thought, thanks @josevalim for showing me the changes.

[2017-11-08 11:16] AndrewDryga opened #7013 "mix xref ignores some apps in the umbrella app"
We have 6 apps in our umbrella app:
[code]

Whenever I run `mix xref graph` from an umbrella app, graph is built only for 4 of them.

[code]

### Environment

* Elixir & Erlang versions (elixir --version): 1.6-dev (master branch) / OTP 20
* Operating system: macOC Sierra

### Expected behavior

I expect it to work for all the apps in the umbrella.

[2017-11-08 11:19] AndrewDryga commented on #6967
@josevalim What do you think about utilizing this information in a `mix test --stale`? Right now, I guess, we run tests only for a module which is changed, when we could run all tests that would hit changed module and all his dependants.

[2017-11-08 11:22] AndrewDryga commented on #7013
@wojtekmach It's really nice that I can analyze dependencies between projects, but still it would be nice to have `.dot` file in each of umbrella apps by default. Right now I do not understand why certain are ignored.

If that's on purpose, let's update the doc :).

[2017-11-08 11:23] wojtekmach commented on #7013
`mix xref` is a recursive task so you should get one `.dot` per umbrella child app. Or are you saying for certain apps you don't get one?

[2017-11-08 11:25] AndrewDryga commented on #7013
@wojtekmach 2 out of 6 were ignored (see log above)

[2017-11-08 11:38] AndrewDryga commented on #7013
@wojtekmach It's weird, updated Elixir master branch (it was behind 10 days) and it seems to be fixed. Thanks for help 👍

[2017-11-08 11:38] #7013 closed

[2017-11-08 12:13] josevalim commented on #6967
I believe we run all tests that would hit changed modules and all his dependants.

[2017-11-08 12:15] josevalim commented on #6967
Btw, contributions that add this feature is welcome!

[2017-11-08 12:17] tmbb commented on #6967
I haven't forgotten this, but I haven't had much time. I think I can do it in the last week of November.

[2017-11-08 12:30] josevalim commented on #6967
Are you OK if someone else does it then?

[2017-11-08 12:40] tmbb commented on #6967
Sure :)

For anyone interested, it's probably just a matter of integrating these three functions from my [Guaxinim](https://github.com/tmbb/guaxinim) package into Mix.Xref (possibly changing some pattern matches for the new API?):

* https://github.com/tmbb/guaxinim/blob/master/lib/guaxinim/beam_inspector.ex#L75
* https://github.com/tmbb/guaxinim/blob/master/lib/guaxinim/beam_inspector.ex#L66
* ht

[2017-11-08 12:45] #6997 closed

[2017-11-08 12:56] kelvinst commented on #6554
@josevalim I will work on this tonight if no one else is working on it...

[2017-11-08 13:09] josevalim commented on #6999
It is in master thanks to @brodeuralexis! I also added callback completion in the next commit: 7869f1ca1bd7bdf105dda4d57a7f94f5a29ba4d2

[2017-11-08 13:09] #6999 closed

[2017-11-09 20:00] josevalim opened #7016 "Migrate Task.Supervisor to use the new DynamicSupervisor"
I am on it.

[2017-11-10 04:16] jgmchan commented on #6967
I can give this a try in the next couple of days, will probably have a bunch of questions soon!

[2017-11-10 10:07] pickme467 opened #7018 "The way the child spec argument is applied to start keyword prevents workers from having start_link/0 functions"
https://github.com/elixir-lang/elixir/blob/7f8db39ce27854c34b7d722783f5e89a9058fbe1/lib/elixir/lib/supervisor.ex#L445

Now it is hard to use child_spec predefined function to start workers under supervisor tree if given worker has start_link/0 function defined.
Current implementation puts an argument taken from child_spec into a list of arguments in start keyword. It makes implicit assumption that

[2017-11-10 10:23] narrowtux opened #7019 "Documentation for Protocol.derive is missing information how it works"
Reading the [code in Poison](https://github.com/devinus/poison/blob/master/lib/poison/encoder.ex#L344), it seems like you have to add a macro named `__deriving__` to an impl to get the options that were passed. The documentation and the guides on the homepage don't tell you that.

Also, I'd like a hint that you can use `@derive` attributes on a struct in the documentation for Protocol.derive

[2017-11-10 11:31] josevalim commented on #7019
Yup, those will be good improvements. Thank you.

[2017-11-10 11:34] josevalim commented on #7018
That's by design. Having a dummy parameter is not bad because, if you ever need to expect a new argument, then nobody needs to change the signature.

If you don't agree with it or you having existing workers, then you can always specify the child_spec by hand, which is what we always did in the past - so I don't see why that would be an issue now.

[2017-11-10 11:34] #7018 closed

[2017-11-10 12:50] hauleth commented on #6963
@josevalim what about adding new "internal" flag `--in-umbrella` for `mix test`, `mix xref` or any other `mix` task that need to be ran recursively and then handle it there. It would enormously help with Vim or similar tools integrations.

[2017-11-10 14:03] josevalim commented on #7016
Done: 6d1deb2032d1a9b21877a6757033de1bc88987a0

[2017-11-10 14:03] #7016 closed

[2017-11-10 19:53] ggcampinho commented on #6792
@josevalim I was checking the issue again and I noticed that I didn't see that you were assigned for this, sorry.

Anyways, I opened the PR with my progress so far, it's not complete and there is one open question for maps: should it be unique by pair or by key? The simple solution is just to follow what was implemented for the other and do it by pair, but if we do by key it's possible to introduc

[2017-11-10 19:56] josevalim commented on #6792
No worries, that has been fixed! ;)

By pair, we should treat it as any other enumerable. :)

[2017-11-10 21:16] joeellis commented on #4423
Is there still interest in a PR to add such an override / warning?  I'd be interested in trying to take it on.  I am 100% in favor of keeping semver as a default and as a requirement of things that will be used as dependencies - but it is rather to have to semver things like web applications that won't be serve as a dependency for others and have frequent version changes.

I understand that web ap

[2017-11-10 21:19] ericmj commented on #4423
@joeellis Why can't web apps follow the semver format? What format do you want to use instead?

[2017-11-10 21:28] AndrewDryga commented on #6963
@hauleth mix xref already have `--include-siblings` flag.

[code]

[2017-11-10 21:43] hauleth commented on #6963
@AndrewDryga I am talking especially about `mix test` as I would <3 to be able to have umbrella-relative paths in output as it would significantly improve UX when using Vim QuickFix window with tests.

So instead of `tests/xyz_test.exs` there would be `apps/abc/tests/xyz_test.exs` when `mix test` is ran on Umbrella.

[2017-11-10 22:01] wojtekmach commented on #6963
@hauleth one problem with `mix test` outputting `apps/abc/test/xyz_test.exs` is that you still wouldn't be able to do `mix test apps/abc/test/xyz_test.exs` (https://github.com/elixir-lang/elixir/issues/5650) so that would be counterintuitive.

The entire test output should be customizable via formatter so maybe try writing a custom "umbrella-aware" one that would output paths?

[2017-11-10 23:02] wojtekmach commented on #6963
@hauleth here's a quick'n'dirty such formatter: https://gist.github.com/wojtekmach/8aee5de5e3763d78529be2ced4ff07db. I only tested it in a very simple umbrella.

The only difference from stock CLIFormatter is this line: https://gist.github.com/wojtekmach/8aee5de5e3763d78529be2ced4ff07db#file-umbrella_formatter-ex-L15

You can use this by doing: `ExUnit.start(formatters: [UmbrellaFormatter])` in `t

[2017-11-11 00:05] joeellis commented on #4423
@ericmj For a web app specifically, I would version using git refs. I feel its common practice, and in a continuous delivery / deployment environment with a constant stream of daily builds where our app is in constant flux, a uniquely identifiable build version and a timeline are the two most important pieces of info needed for a given release. `git` already gives us both, and we can already use `

[2017-11-11 00:09] martin-langhoff commented on #4423
Using "git describe" output is damn useful. It should just work for the
internal or web app builds, including draft/scratch builds.

Not every build is of something that's tagged-and-released...

On Nov 10, 2017 7:06 PM, "Joe Ellis" <notifications@github.com> wrote:

[2017-11-12 09:05] josevalim opened #7023 "Make string split with an empty string consistent with replace"
The plan is to reopen #6566.

I am working on it as it also means we need to fix Regex.replace.

[2017-11-12 12:37] whatyouhide commented on #7023
@josevalim if you come up with good properties for this, hand them over and I'll add them to the few we have in stream_data so we'll not forget about them when we merge.

[2017-11-12 14:37] josevalim commented on #7023
[code]

[2017-11-12 14:42] josevalim commented on #7023
Here is another one that associates replace + split:

[code]

[2017-11-12 18:17] whatyouhide commented on #7023
Yep, the second one triggers fine:

[code]

[2017-11-12 18:24] josevalim commented on #7023
@whatyouhide could we have shrunk replacement to something simpler? Maybe an alphanumeric character?

[2017-11-12 18:34] whatyouhide commented on #7023
@josevalim quite nasty to do if we don't special case things. Right now strings are lists of codepoints, and we use `string(:printable)` here and `:printable` means many codepoints.

[2017-11-12 19:23] whatyouhide commented on #6930
I still think this needs to be thought through but in the meantime I found something else that suggests what we have today is suboptimal:

[code]

[2017-11-12 19:58] michalmuskala commented on #6930
What if we first tried to compare inspect results, and if they don't differ do the structural comparison like today?

There's also the possibility of diffing the algebra documents (if the particular implementation leverages them), but that might be much more complex.

[2017-11-12 21:29] NobbZ opened #7025 "Comprehensive overview of elixir and OTP versions"
After a quick chat in IRC with @ericmj, he asked me to open an issue:

Currently its hard to find out what elixir versions require which version of BEAM or otherwise support it.

Often one has to skim the changelog to find out which is the upper bound of official support while having to search the web pages source history to get the minimum required version of OTP.

Therefore I'd suggest to provid

[2017-11-12 21:31] ericmj commented on #7025
I'm thinking we can add this to Deprecations or a new a page in the ExUnit pages docs.

[2017-11-13 00:38] whatyouhide commented on #7025
Why ExUnit @ericmj? 🤔

[2017-11-13 05:18] jgmchan commented on #6967
I've pushed up my current progress to #7026 for this feature. I do have a couple of questions regarding the implementation:
* Compilation functions/macros - Currently we return a list similar to this:
[code]
   This contains macros/functions like `Kernel.def/2` and `Kernel.LexicalTracker.read_cache/2`
   which are called during compilation, but I'm not sure whether they provide any useful informat

[2017-11-13 09:42] tmbb commented on #6967
No. They provide useful information for projects li Guaxinim or even mix.xref tasks

[2017-11-13 20:47] ericmj commented on #7025
I meant ExDocs. These pages: https://hexdocs.pm/elixir/deprecations.html#content

[2017-11-13 21:32] josevalim commented on #6967
Agreed with @tmbb.

@jgmchan i don't think we should do anything special for umbrella projects as well besides documenting that it won't work in the umbrella root (since the umbrella root has no manifests).

Other than that, it looks great!

[2017-11-13 22:00] #6792 closed

[2017-11-13 23:16] jgmchan commented on #6967
Ok cool, I'll add a note in the documentation then.

[2017-11-14 08:50] josevalim commented on #6967
Closing in favor of the PR #7026 .

[2017-11-14 08:50] #6967 closed

[2017-11-14 17:12] ericmj commented on #4423
If you don’t intend to tag or release the version I don’t see a reason to update the version in mix.exs, if it's part of a continuous deployment it sounds even more annoying to do so.

I think your release tool should instead be able to override the version in mix.exs with a flag or similar. If this is not possible without changes in mix.exs please let us know and we can look into that.

[2017-11-14 17:21] Wonko7 opened #7029 "Make error message when using optional arguments in lambdas more explicit"
### Environment

Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:4:4] [async-threads:10]
Elixir 1.5.2
Linux.

### Current behavior

[code]

### Expected behavior

Something that helps to understand why that's not legal. As I was told on IRC:
[code]

[2017-11-14 17:43] martin-langhoff commented on #4423
@ericmj we key lots of things in the version tracked in `mix.exs`. Our software gets released, so the final release gets a proper SemVer. But lots of interim builds don't -- daily builds, etc.

The version in `mix.exs` is shown in the UI, so QA teams can report what build they repro'd a bug, or what build fixed it. It is all pretty useful.

A version is a version is a version; different people wil

[2017-11-14 17:57] ericmj commented on #4423
Don't use the version in mix.exs in that case you can read this string from anywhere.

Knowing what format the version is is also useful. If we do not warn about the version format then you may not notice that it's invalid semver until it's used as a dependency. Keep in mind that you can fetch dependencies using git, so you will notice it with `mix hex.publish`.

Have you tried using the build par

[2017-11-14 18:41] martin-langhoff commented on #4423
Yes we can make up our own "my_version" property. Seems silly given that there's a version property. mix.exs is used by apps not meant for publishing on Hex / being used/distributed as a library or reusable app or component.

Every time you make your own "final" app, your own hello_world app, you are building something not meant for reuse, and that's a valid use case. We'd all be unemployed withou

[2017-11-14 19:07] adamniedzielski opened #7030 "mix deps.update <package> updates dependencies even when not necessary"
I'm not sure if this is a bug or an expected behaviour, but I couldn't find any source that could explain this. Feel free to close if that's an expected behaviour.

### Environment

* Elixir & Erlang versions (elixir --version):

[code]

* Operating system: Mac OS High Sierra
* Hex: 0.17.1

### Steps to reproduce

1. Clone https://github.com/adamniedzielski/mix-check
2. Run `mix deps.update tzdata

[2017-11-14 19:43] ericmj commented on #4423
Can you elaborate about why you can't use the build metadata in the semver string? Build metadata exists for this reason.

[2017-11-14 19:45] josevalim commented on #4423
Can you please describe where the workflow is breaking when you use a
version that is not a semver?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-14 19:47] josevalim commented on #7030
@ericmj, the reason why we unlock Hackney is to give Hex the flexibility to
also bump it if necessary. However, I think that if we don’t unlock
Hackney, Hex would update to the maximum allowed version, right?

So what if we unlock Hackney only if it is not a top level dependency?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-14 20:03] ericmj commented on #7030
By default we also update children of a dependency because that's more useful in the majority of cases otherwise you would also have to list every child dependency that you may not even know about or care about.

I understand that also only updating a single dependency can be useful in some cases, but we would need a new option/flag for this because we still want the current behaviour in the major

[2017-11-15 08:37] adamniedzielski commented on #7030
I checked how this works in Bundler and:
1. `bundle update <library>` will update the dependencies as well (so this matches the behaviour of `mix deps.update <library>`)
2. `bundle update --source <library>` will only update the library. Honestly, I think that the flag name is not very intuitive here and the documentation doesn't highlight this use case
3. `bundle update --conservative <library>`

[2017-11-15 09:15] ericmj commented on #7030
I think `--source` and `--conservative` flags would be nice to have.

That means we either have to move the update/unlock logic [1] to Mix, which may be wrong because different SCMs may want different logic. We can emulate `--source` by unlocking the dependency writing the new lock file to `mix.lock` and sending the lock to Hex. `--conservative` would require new code and we can't emulate it from

[2017-11-15 10:42] Virviil opened #7033 "Logger: Overwriting embedded metadata"
### Environment

* Elixir & Erlang versions (elixir --version): Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] Elixir 1.5.2
* Operating system: Manjaro Linux

### Current behavior

Embedded metadata can be overwritten without any notifications and warnings. For example, one can add `:module`, `:function` or `:application` as `Logger`

[2017-11-15 10:44] ggcampinho commented on #7023
I think this is a nice property to achieve that involves only the `String.replace/3` and `String.split/2`:

[code]

[2017-11-15 10:57] josevalim commented on #7023
@ggcampinho what happens if the pattern is in replacement or vice-versa though? Maybe it works fine but that's typically one of the issues in generalizing replace.

[2017-11-15 11:15] josevalim commented on #7030
@ericmj I think we can do everything from Mix. The `--conservative` flag would simply unlock the dependencies explicitly given.

[2017-11-15 11:17] ericmj commented on #7030
If we do everything in Mix we need to change behaviour in Hex or Hex will continue to unlock all children. To not break for users using older Elixir versions we need to introduce a new on RemoteConverger function that does not unlock.

[2017-11-15 11:17] #7033 closed

[2017-11-15 11:22] josevalim commented on #7030
Oh, I see. I thought Hex relied only on what we unlocked. I thought Hex only unlocked what we unlocked.

[2017-11-15 11:23] josevalim commented on #7030
@ericmj if that's the case, I would rather update the docs for `mix deps.update` and mention users can go with `mix deps.unlock` route.

[2017-11-15 11:24] ggcampinho commented on #7023
@josevalim The nice thing about things property is that the generalization works:

[code]

The general cases:
- `pattern` that exists inside of the string with `replacement` that doesn't
- `replacement` that exists inside of the string `pattern` with that doesn't
- `pattern` that exists inside of the string with `replacement` that also exists
- `pattern` that doesn't exist inside of the string wit

[2017-11-15 11:33] ericmj commented on #7030
The child unlocking happens in Hex, Mix does the same thing in the converger but Hex doesn't use it so we do something similar before running the resolver.

[2017-11-15 11:33] ericmj commented on #7030
Should we document how Hex updates dependencies in Mix docs?

[2017-11-15 12:18] ggcampinho commented on #7023
Sorry, I've read it wrong. You're right, that causes a problem in some cases.

[2017-11-15 12:36] ggcampinho commented on #7023
I did a couple more tests and I don't know if it means much, but this works with substrings:

[code]

[2017-11-15 13:18] fazibear opened #7034 "Code formater change code logic"
### Environment

* Elixir & Erlang versions (elixir --version): 1.6.0-dev
* Operating system: OSX

### Current behavior

Code changes after `mix format`:

[code]
[code]

[code]

### Expected behavior

Don't change code logic

[2017-11-15 13:30] Virviil opened #7035 "Logger.Backend.Console: Does not reset configuration after redefining"
### Environment

* Elixir & Erlang versions (elixir --version): Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] Elixir 1.5.2
* Operating system: Manjaro Linux

### Current behavior

[code]

### Expected behavior

Different aproaches:

1. Even in `iex(7)` foo=bar should not appear - because it should be reconfigured explicitly (My opini

[2017-11-15 13:37] ericmj commented on #7034
Your first example is correct behavior because `^^^` has higher precedence than `&&&`.

The two other examples are indeed incorrect and it's because the operator table are not the same https://github.com/elixir-lang/elixir/blob/master/lib/elixir/src/elixir_parser.yrl#L54 https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/code/identifier.ex#L33.

[2017-11-15 15:20] OvermindDL1 commented on #7034
I really *really* do not like this though, I keep parenthesis around many of such math/logic operators so I don't have to mentally freak out about precedence ordering because I really mentally just freeze every time I see such unparenthesized math/logic operators...  >.>

[2017-11-15 18:03] NobbZ commented on #7034
I do prefer parens around operators as well, since I'm a polyglot I often
have to deal with some slight edge cases where language a does have
precedence just the other way round or its the same precedence in language
A but they differ when in language B...

OvermindDL1 <notifications@github.com> schrieb am Mi., 15. Nov. 2017, 16:21:

[2017-11-15 18:51] josevalim commented on #7035
This is working as intended. You can explicitly set metadata to an empty list if you want to remove it. The reason this is working as intended is because sometimes you want to temporarily remove or disable a backend, and we don't want to lose all previous configuration. We also want the configuration to "stick" if for some reason the backend is restarted too.

[2017-11-15 18:51] #7035 closed

[2017-11-15 18:53] #7034 closed

[2017-11-15 19:08] josevalim commented on #7030
@ericmj it doesn't seem to be anything specific to Hex though? Both Mix and Hex behave the same.

[2017-11-15 19:52] #6637 closed

[2017-11-15 19:53] #6426 closed

[2017-11-15 20:02] #7030 closed

[2017-11-15 20:23] ericmj commented on #7030
:heart:

[2017-11-15 20:45] adamniedzielski commented on #7030
💚

[2017-11-16 01:15] jgmchan commented on #7029
Would I be able to try doing this one? From what I understand I will need to modify the logic in `lib/elixir/src/elixir_fn.erl` and add a new `format_error` function?

[2017-11-16 07:57] Virviil commented on #7035
Well, it sounds logical...

May be, additional method to reset this config should be provided then?

Let's for example assume, that we want to change logger logic dynamically. And we want to switch from 2 configurations - as provided in example.
Then after back switch, logger behavior is not the same as on the first cycle, and it looks like **not pure**

I'm facing this problem when switching logg

[2017-11-16 14:06] michalmuskala commented on #5851
@josevalim why adding the two new guards require only Erlang 20? Shouldn't it be possible to define the functions with some annotation that they can be used in guards only in Erlang 20? Outside of guards we could simulate them with other calls.

[2017-11-16 14:15] michalmuskala commented on #6549
I missed it when I was asked to explain my 👎 on this feature, so here it goes.

I was never a fan of the `@impl` feature in the first place. I feel like it just adds noise to the source code without providing additional value. Especially in code like `GenServer` that heavily leverages pattern matching in multiple heads - the distance between the "annotation" and the code that it affects is often s

[2017-11-16 14:27] wojtekmach commented on #6549
about:

[code]

`@impl true` already adds `@doc false` so it can be skipped (but you can still do `@doc "foo"` to overwrite it). Furthermore, perhaps `@impl true` could also "pre-fill" `@spec` if that would be useful.

[2017-11-16 15:29] josevalim commented on #6549
That's valid criticism @michalmuskala. As @wojtekmach said, `@doc false` is not necessary. We could maybe even allow this:

[code]

But I am not sure if we would gain much at this point.

That's already how it works today.

In any case, I feel like you brought enough concerns for us to not make it required by default, at least for now. If someone feels like `@impl hadle_info(...)` is a good, feel

[2017-11-16 15:29] #6549 closed

[2017-11-16 15:53] #7029 closed

[2017-11-17 12:03] wrachwal opened #7041 "Changed behaviour in pattern-matching of records in assertions"
### Environment

* 1.6.0-dev "882c2bd"

### Current behavior

[code]
Middle "match some fields" test in each describe group fails.

[code]

### Expected behavior

This changed since `1.5.2` where it worked... I didn't find anything in commits log so it looks like a bug introduced.

[2017-11-17 12:27] AndrewDryga commented on #7041
Looks like the record is not expanded into tuple:
[code]

[2017-11-17 12:50] ericmj commented on #7041
It is expanded, but we print the unexpanded code.

[2017-11-17 13:06] ericmj commented on #7041
The problem is that the macro created by `defrecord` works differently if it's inside a match or not. When inside a match `vec()` should expand to `{:vec, _, _, _}`, when outside of a match we need to generate the default values: `{:vec, 0, 0, 0}`.

If we fix this it needs to be in `assert_receive` so that the macro is expanded in the match environment.

[2017-11-17 23:13] wojtekmach commented on #6996
Is it useful to configure the same app+key in _multiple_ child apps? If not (or there's a good workaround) we should warn instead?

[2017-11-18 08:32] ishantar opened #7044 "short-circuited expressions causing "nil" assignment"
elixir 1.5.2, erlang 20, windows 7 x64

If a pattern-matching operation is nested within the right-side expression of a short circuit operator, and the left-side expression causes the operator to short-circuit, unbound identifiers in the right-side pattern-match will be silently assigned to "nil".  Nesting the pattern-match in some sort of wrapper seems to be neccessary.

examples: (assume x is un

[2017-11-18 08:48] NobbZ commented on #7044
Shouldn't there be a warning, telling you about imperative assignements?

If not, then the bug is that there is no warning, not that the variables are bound to `nil`.

At least this is my opinion.

[2017-11-18 11:15] josevalim commented on #7044
Today we emit a warning but you don't see this warning on IEx because we evaluate the expression at distinct moments. However there is a bug in this warning/error, which we need to fix:

[code]

[code]

[2017-11-19 09:23] #6930 closed

[2017-11-19 09:24] #7041 closed

[2017-11-19 23:25] josevalim opened #7046 "Automatically wrap logger arguments in an anonymous function"
This removes the need for compile time trickery and gives developers less chance to do expensive calls in production i.e:

    Logger.debug fn -> "foo #{inspect bar}" end

[2017-11-20 06:48] redink opened #7047 "generate one new module and one atom per compilation during runtime"
https://github.com/elixir-lang/elixir/blob/d8a533d19f3a016512f605ac125e2709c6bd74ae/lib/elixir/src/elixir_code_server.erl#L132

### Environment

[code]

### Our use case

We using beam as a specific cache for database, we need compile some given modules to load the latest data from db to beam in interval time during runtime. Using:

[code]

### Current behavior

create one new module and one atom

[2017-11-20 07:04] redink commented on #7047
I noticed the logic for `retrieve_compiler_module` and `return_compiler_module`  are complete. It will retrieve the compiler module when compile, and will return after compile.

[code]

https://github.com/elixir-lang/elixir/blob/d8a533d19f3a016512f605ac125e2709c6bd74ae/lib/elixir/src/elixir_compiler.erl#L91

But, why not return when can't purge the module ?

[2017-11-20 07:07] michalmuskala commented on #7046
Alternatively, we could have a `Logger.Lazy.debug` macro that does the wrapping for you. Switching would be as easy as `require Logger.Lazy, as: Logger` instead of `require Logger`.

[2017-11-20 09:28] slashmili commented on #4031
FYI I faced same problem because with Mint 18.2 distro
[code]

and even though it's base on Debian `stretch` you should still use `wheezy` in erlang-solutions source file. However Elixir 1.3 was installed.

I guess `asdf` is the best option in Mint.

[2017-11-20 10:58] Fudoshiki opened #7049 "Cant run commands directly for non-umbrellas"
### Environment

*
[code]
*
[code]
* `Node.js v9.2.0`
* `Yarn 1.3.2`
* `macOS High Sierra Beta 10.13.2 (17C79a)`

### Expected behavior
[code]
Run `mix.reset` should run  `"cmd cd assets && yarn"`

### Actual behavior
When run `mix app.setup` all good,
When `run app.reset`, this doesn't run part  `"cmd cd assets && yarn"`

### From Discord
ericmj
[code]

@ericmj so, how i can run shell commands?

[2017-11-20 11:09] michalmuskala commented on #7049
A workaround for now might be to do:

[code]

[2017-11-20 11:12] Fudoshiki commented on #7049
@michalmuskala Thank you
[code]

This is works fine

[2017-11-20 11:14] ericmj commented on #7049
I think we should either have `mix cmd` raise when not in an umbrella or make it work for non-umbrellas.

[2017-11-20 15:40] josevalim commented on #7049
We do run the task locally. The issue is that the `cmd` task is not reenabled automatically after running (and we probably should).

[2017-11-20 15:43] josevalim commented on #7047
We can't return because we can't purge the module. If we return a non-purged module, it will be redefined later on, which then would cause the purging possibly breaking existing code. You rather need to figure out why your modules are not considered as purgeable. You can get the beam from the disk and call this:

    beam_lib:chunks(Binary, [labeled_locals])

If you have labelled locals, i.e. loca

[2017-11-20 15:45] josevalim commented on #4031
Should we update the website to recommend asdf then? Can someone please send a PR there? the repo is elixir-lang/elixir-lang.github.com

[2017-11-20 15:47] josevalim commented on #7046
I would like to avoid compile time trickery because it can break in subtle ways. For example, if you write:

    Logger.debug var = "foo"
    var

It is also very subtle when refactoring the code. Imagine you have this:

    Logger.debug "some long message..." <> inspect(bar)

And then you decide to refactor to:

    inspected = inspect(bar)
    Logger.debug "some long message..." <> inspected

Th

[2017-11-20 15:50] michalmuskala commented on #7046
Adding the functions everywhere is very ugly and often makes logging take up more space in the function that the actual logic the function is performing, obscuring the flow.

[2017-11-20 15:53] josevalim commented on #7046
I don't think taking up space is a good argument if it is arguably the correct thing to do. Especially because you can always extract the verbose log call to a separate private function.

In any case, I understand the hesitation compared to what we have today. :) I would still like to stay clear from any compile time trickery.

[2017-11-20 15:57] michalmuskala commented on #7046
I can't always extract since it changes the metadata like the function name and line, making the logs much less relevant.

[2017-11-20 15:59] DenisGorbachev commented on #4031
@josevalim might be better to provide distro-specific installation instructions (in this case, people will be able to install & update elixir via native package manager)

[2017-11-20 16:10] josevalim commented on #7046
@michalmuskala I meant the argument itself:

    Logger.debug fn -> this_and_that_message(arg1, arg2) end

[2017-11-20 16:25] NeilMenne commented on #7046
Speaking of metadata, adding relevant metadata with the default formatter is already kludgy since it relies on [`to_string`](https://github.com/elixir-lang/elixir/blob/v1.5.2/lib/logger/lib/logger/formatter.ex#L157). This makes it a difficult tool to use for debugging, since map (and friends) don't come with an implementation out of the box.

The given implementation of passing a function is only

[2017-11-20 18:12] josevalim commented on #7046
One option is to support a mixed format where we accept literal strings or a runtime function.

[2017-11-20 18:29] NeilMenne commented on #7046
@josevalim are you saying things like `"#{inspect bar}"` wouldn't be allowed in log messages?

[2017-11-20 18:32] josevalim commented on #7046
Yup, you would need to wrap it in a function.

[2017-11-20 18:55] NeilMenne commented on #7046
Pardon my ignorance on this subject, but the original problem was around debug calls being left hanging around in production by default. Why is the default behavior of [:compile_time_purge_level](https://hexdocs.pm/logger/Logger.html#module-application-configuration) not to follow log level? If I set my log level to `:info`, why can't `:compile_time_purge_level` also be bumped to `:info`?

It seem

[2017-11-20 19:00] josevalim commented on #7046
Because compile_time_purge_level changes the code semantics. It has all of the downsides I mentioned to @michalmuskala in regards to Logger.Debug.

[2017-11-20 19:01] OvermindDL1 commented on #7046
The problem is that the log level can be changed at runtime.

[2017-11-20 19:22] PragTob commented on #4031
👍 on asdf... went with it after all my experience here and still love it. Won't get to PRing it now but might get around to it the next couple of days :)

[2017-11-20 20:14] NeilMenne commented on #7046
Thanks for the info. I don't think the proposal here moves `Logger` towards being unsurprising out of the box, but I understand why it is what it is.

[2017-11-20 22:13] jfayad opened #7050 "Enum.reduce_while on a stream is not behaving as expected"
### Environment

* Elixir & Erlang versions (elixir --version): Erlang/OTP 20 [erts-9.0] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.5.1
* Operating system: Mac OS Sierra

### Current behavior

If reduce_while receives `{[], 0}` it will not iterate to the next element and it will stop instead.

### Expected behavior

I would expect the e

[2017-11-20 22:38] josevalim commented on #7050
Can you please provide a quick snippet that reproduces the error?

[2017-11-21 03:38] christopheradams opened #7052 "Code formatter does not count do keyword in line length"
### Environment

* Elixir & Erlang versions (elixir --version):

Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.6.0-dev (d19f613) (compiled with OTP 20)

* Operating system:

Ubuntu 16.04

### Current behavior

When setting the `line_length` option in `Code.format_string!/2`, the `do` keyword in a do-end block is not counted

[2017-11-21 04:12] acconrad commented on #6480
@ivanovaleksey @josevalim looks like this hasn't been worked on since August, is this going to make it into 1.6.0 or can others give it a shot?

[2017-11-21 05:58] redink commented on #7047
Thanks for reply.

I still have question, for example, I have a module like this:

[code]

I will get:

[code]

As expected, it can't be purged, then can't return. So the module count and atom count have to increase.

Could you tell me how should I handle these case please? And how should I modify the code for `Test` module ?

Thanks again !

[2017-11-21 06:28] redink commented on #7047
Thanks for reply.

Just want to know, why anonymous functions will affect the purge ?

( I only know that anonymous functions maybe lead failed when hot upgrade, but I don't know why clearly.

[2017-11-21 08:25] jfayad commented on #7050
Hi @josevalim ,

The snippet I have relies on SSHEX

[code]

I initially though this was an issue with the sshex project and created the issue I referenced above there. After further inspections with the creator of sshex it appeared the problem comes from `reduce_while`.

[2017-11-21 09:05] ivanovaleksey commented on #6480
Sorry guys I haven't enough time to accomplish this. @acconrad you are welcome to implement it!

[2017-11-21 12:20] josevalim commented on #7050
@jfayad sorry for not being clear. Can you provide a minimal snippet that reproduces the error that I can run on IEx?

[2017-11-21 12:24] josevalim commented on #7047
You need to run the command above for the `:elixir_compiler_1` modules and so on. If the internal modules have functions, it means they can spawn processes and purging those modules mean they will crash.

If you can find an `:elixir_compiler_X` that has labelled locals, you can then call `:elixir_compiler_X.__FILE__` or `:elixir_compiler_X.__MODULE__` and it will tell you if a file or module are g

[2017-11-21 12:27] jfayad commented on #7050
Ohh sure,

Does this make it ? (You'll need the SSHex module for it work).

[code]

[2017-11-21 12:41] ericmj commented on #7050
@jfayad Since you figured out the error is not in SSHEx can you provide a reproducing example that does not require us to dig into the SSHEx library. Some code that reproduces without using external dependencies would help a lot. Thanks!

[2017-11-21 12:53] michalmuskala opened #7054 "Invalid AST in debug_info for default calls"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]

### Current behavior

When reading the data from `debug_info` chunk, the definitions with default arguments are expanded very strangely. Given the following module:

[code]

We get following in the `:definitions` field:
[code]

As you can see, it contains a strange `super({:def, :test}, 1)` call.

### Expected behavior

The AS

[2017-11-21 13:59] josevalim commented on #7054
It behaves as such by intent. We need to document the internal AST, currently it is still private.

[2017-11-21 13:59] #7054 closed

[2017-11-21 14:04] josevalim commented on #7054
In a nutshell, super in the expanded AST means calling the function given as first argument with the remaining arguments. I thought about putting the `{Kind, Name}` in the metadata but it may be weird to require some AST node to be present? The other idea is to introduce a new internal node, such as `__local__` but the way things work means the users wouldn't be able to use such node as well, whic

[2017-11-21 14:55] redink commented on #7047
I can find an `:elixir_compiler_X`, but I can't call functions `:elixir_compiler_X.__FILE__` and `:elixir_compiler_X.__MODULE__`, because `:elixir_compiler_X` is not available.

Just like:

[code]

I think this due to:

https://github.com/elixir-lang/elixir/blob/d8a533d19f3a016512f605ac125e2709c6bd74ae/lib/elixir/src/elixir_compiler.erl#L86

[2017-11-21 15:42] josevalim commented on #7047
@redink oh, you can try removing that line and running `make erlang` and then run against your local Elixir.

[2017-11-21 15:58] josevalim commented on #7047
@fishcakez suggested a less conservative approach for purging modules which will likely solve your problem. Please give master a try and let us know!

[2017-11-21 16:36] redink commented on #7047
during compilation, the state of elixir code server is:

[code]

after compile, the state is:

[code]

after some times retry, the counter of `mod_pool` didn't increase.

so, I think it works.

Thanks all of you again.

[2017-11-21 19:01] acconrad commented on #7019
I'll take this! How do I claim this issue to work on it?

[2017-11-21 20:10] ericmj commented on #7019
@acconrad Mentioning in the issue that you are working on it is enough. Thanks!

[2017-11-22 02:56] isaksky commented on #7046
Do you think it is reasonable for a program to rely on side effects from function calls inside a log statement? To me it seems pretty crazy, and therefore this proposal seems like we'd be bending over backwards to support weird/bad code.

Is it an option to just add a warning about side effects in the documentation, and then have a better default for `:compile_time_purge_level`?

A better option m

[2017-11-22 15:27] NeilMenne commented on #7046
@isaksky's proposal is where I was heading when talking with my team, but the warnings are a good touch.

[2017-11-22 18:08] michaelkschmidt opened #7059 "Can't run "deps.get", "deps.compile" and "compile" in same alias"
We would like to have an alias that completely builds the app:

[code]

However we get an error:
[code]

The equivalent Makefile works, however:
[code]

I tried adding a "loadconfig" to the alias after "deps.get".  It seems to help, but as dependencies change the bug returns.

Any ideas on what causes this?  The "unchecked dependencies" were in fact fetched, but not compiled

[2017-11-22 18:13] sebastialonso commented on #2739
So, out of curiosity @mgwidmann, how did you solve it?

[2017-11-22 18:48] josevalim commented on #7059
I tried it no master and I can't reproduce the error in the plug project, even after a removing _build and deps directory. Can you please provide a sample app that reproduces the error?

[2017-11-23 03:05] jgmchan commented on #7050
I think the issue is not with `Enum.reduce_while` but with the logic in the reducer function.
[code]

I did some testing with the SSHEx library by dumping out the process mailbox after the command has been executed in the `Stream.resource`'s `start_fun` and the messages received were (though not necessarily always in the exact order):
[code]
The logic in the reducer function will stop the enumerat

[2017-11-23 12:04] josevalim commented on #7050
Thanks @jgmchan. So it seems to not be an issue with Elixir after all?

[2017-11-23 22:53] jgmchan commented on #7050
No, it's not an issue with Elixir.

[2017-11-23 23:16] ericmj commented on #7050
@jgmchan Thank you for looking into it.

[2017-11-23 23:16] #7050 closed

[2017-11-24 19:53] jfayad commented on #7050
Thanks Everyone for the help. I'll inform the maintainer of the SSHex module about how things developed here so a fix can be pushed there.

[2017-11-24 20:36] wrachwal commented on #3589
@josevalim - specs in `h/1` helper are really nice. However, the removal of `s/1`, if not moved to somewhere else (I searched for a while, without luck), has one drawback though:
[code]
It'd be good to have it again until `h/1` for Erlang is worked out.

[2017-11-24 20:57] josevalim commented on #3589
@wrachwal I would rather make `h :file.get_cwd` show the specs for Erlang and then say documentation for Erlang modules is not available.

[2017-11-24 21:11] wrachwal commented on #3589
@josevalim - that makes sense and the message will be clear: "spec we have today, and doc will do tomorrow"

[2017-11-24 21:21] josevalim opened #7060 "Show specs for Erlang modules in "h" but say docs are not available for non-Elixir modules"
See https://github.com/elixir-lang/elixir/issues/3589#issuecomment-346893320

[2017-11-25 07:29] jgmchan commented on #7060
I can work on this one :)

[2017-11-26 23:35] dartg commented on #6122
I've just faced the same issue on Windows 8 and solved it by enabling TLS 1.2 and SSL 2.0 on IE10.

[2017-11-27 18:04] ggcampinho commented on #7044
@josevalim I get this on master
[code]

but when I'm running the version installed on my machine (Elixir 1.5.1), I have:
[code]

Is the second behavior the desired one?

[2017-11-27 18:26] josevalim commented on #7044
Yes, it needs to be a warning. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-11-27 19:27] ZhengQingchen opened #7066 "Always compiling 1 file when run mix compile"
### Environment

* Elixir & Erlang versions (elixir --version):
Erlang/OTP 20 [erts-9.1.5] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.6.0-dev (85e9fdf) (compiled with OTP 20)
* Operating system:
MacOS

### Current behavior
Run mix compile always compiling 1 file.

[code]
Use recompile in iex

[code]
It's a web application use phoenix ,e

[2017-11-27 20:40] josevalim commented on #7066
Try `mix compile --verbose`. Then if you have a way to reproduce the issue, please let us know.

[2017-11-28 01:02] ZhengQingchen commented on #7066
Try ` mix compile --verbose`
Get output like this
[code]
The file content is
[code]
Just a file than has all content be commeted

Then I Try some thing similar.  With this step  I can simple reproduce the issue

[code]

[2017-11-28 08:49] LostKobrakai commented on #2061
I'm wondering if it's a known limitation, that the first following example does not work, while the latter does:

[code]

[code]

[2017-11-28 13:56] #7044 closed

[2017-11-28 14:22] josevalim commented on #7059
Closing this. If you have a mechanism to reproduce, please let us know.

[2017-11-28 14:22] #7059 closed

[2017-11-28 19:38] lexun opened #7070 "Inconsistency between DateTime and NaiveDateTime creation"
Creating a `NaiveDateTime` with `new` or `from_iso8601` will pass invalid times right into the date struct, where `DateTime` will fix issues with part of the time being out of bounds.

In some ways this makes sense due to `DateTime` depending on `Calendar.ISO`, but the difference in behavior can be surprising. The documentation describes the uniqueness of a `NaiveDateTime` being only that it does

[2017-11-28 21:19] JulioDeLeon commented on #7070
I would like to work on this but I have a question. So base of the following examples:

`iex(2)> DateTime.from_iso8601("2017-11-28T11:32:60Z")`
`{:ok, #DateTime<2017-11-28 11:33:00Z>, 0}`

`iex(3)> NaiveDateTime.from_iso8601("2017-11-28T11:32:60Z")`
`{:ok, ~N[2017-11-28 11:32:60]}`

`iex(4)> DateTime.from_iso8601("2017-11-28T11:32:61Z")`
`{:error, :invalid_time}`

`iex(5)> NaiveDateTime.from_iso86

[2017-11-28 21:19] JulioDeLeon commented on #7070
I would like to work on this but I have a question. So base of the following examples:

`iex(2)> DateTime.from_iso8601("2017-11-28T11:32:60Z")`
`{:ok, #DateTime<2017-11-28 11:33:00Z>, 0}`

`iex(3)> NaiveDateTime.from_iso8601("2017-11-28T11:32:60Z")`
`{:ok, ~N[2017-11-28 11:32:60]}`

`iex(4)> DateTime.from_iso8601("2017-11-28T11:32:61Z")`
`{:error, :invalid_time}`

`iex(5)> NaiveDateTime.from_iso86

[2017-11-28 21:19] JulioDeLeon commented on #7070
I would like to work on this but I have a question. So base of the following examples:

`iex(2)> DateTime.from_iso8601("2017-11-28T11:32:60Z")`
`{:ok, #DateTime<2017-11-28 11:33:00Z>, 0}`

`iex(3)> NaiveDateTime.from_iso8601("2017-11-28T11:32:60Z")`
`{:ok, ~N[2017-11-28 11:32:60]}`

`iex(4)> DateTime.from_iso8601("2017-11-28T11:32:61Z")`
`{:error, :invalid_time}`

`iex(5)> NaiveDateTime.from_iso86

[2017-11-28 22:15] lexun commented on #7070
Oh, I didn't even check that. I assumed that since 60 rolled over that higher values would do the same. I suppose just returning `:invalid_time` makes more since in either case.

I wonder why 60 was chosen here instead of 59:
https://github.com/elixir-lang/elixir/blame/master/lib/elixir/lib/calendar/iso.ex#L340

[2017-11-29 00:47] whitfin opened #7072 "Controlling documentation for automatically generated record macros"
### Environment

* Elixir & Erlang versions (elixir --version): v1.5.2/OTP 20
* Operating system: macOS 10.12

### Current behavior

If you create a record using `defrecord`, the generated macros are automatically added to your  documentation:

[code]

It would be nice if there were some way to suppress the documentation. You could use `defmacrop`, but it's not always valid as you might want to us

[2017-11-29 01:58] josevalim commented on #7072
You can always add docs for something defined programatically by using bodyless clauses:

[code]

[2017-11-29 02:06] josevalim commented on #7070
I believe this is working as intended. We need to support 60 because of leap seconds. When we have DateTime, then we can normalize that against the timezone information.

The only question is if we should continue normalizing this information when creating a DateTime in UTC. Elixir itself doesn't have a list of leap seconds.

@lau, thoughts?

[2017-11-29 05:03] acconrad commented on #6480
@josevalim okay so I think I have the first case covered, a few questions for clarification:

1. is something like this desired?

[code]

2. `state.history` the right object to be checking for if this kind of expression has been called before?

3. What would an evaluator process crash look like? How would I try that out in iex? I'm assuming this isn't the same as adding documentation to this error

[2017-11-29 07:23] whitfin commented on #7072
@josevalim this does work (using `defmacro` instead of `def`) but doing so for the `my_record(args)` signature generates a warning in the compiler:

[code]

Any ideas what I should do to satisfy this warning?

[2017-11-29 10:55] ericmj commented on #7072
@whitfin Can you show the code that produced the warning?

It's a bug if you get the warning when not defining default values or a function body. Im guessing it's happening because the record macros already defines a body-less function.

[2017-11-29 11:26] jgmchan commented on #7066
I'm guessing the issue is somewhere in `Mix.Compilers.Elixir.compile/6` where it thinks a file with only comments as always being stale. I can dig into this a bit further.

[2017-11-29 12:57] lau commented on #7070
Right
`DateTime.from_iso8601("2017-11-28T11:32:60Z")`
is not valid, but we can only really know that if we have a list of the leap seconds. tzdata has a list of leap seconds.

`2015-06-30T23:59:60Z` is valid because that is a leap second. It is different from `2015-07-01 00:00:00Z`.

[code]
I don't think it is right to return a date in July, when one in June was provided in the input.

In the futu

[2017-11-29 16:37] josevalim commented on #7070
@lau I believe the issue though is that we are saying DateTime in Elixir supports UTC... but apparently we don't because don't consider leap seconds.

The question is:

1. should we say that both NaiveDateTime and DateTime do not support leap seconds
2. should we overlap on both (i.e. convert 60 to the next minute)
3. should we add support for leap seconds in Elixir (separate from tzdata) since it

[2017-11-29 16:38] josevalim commented on #7066
@jgmchan it is important to note that an empty file is not compiled every time.

[2017-11-29 16:56] josevalim commented on #6480
1. it is the opposite, when you have a list and it is shown as a charlist.

2. no need to traverse the history. instead we need to store in a file that we have already shown it.

3. don't worry about that now. let's do either the list or the crash one first.

4. you need to use bin/elixirc to compile. everything else should be fine though.

[2017-11-29 17:16] whitfin commented on #7072
Hi @ericmj!

Here's an example causing that warning:

[code]

And when I compile it from the command line, I see:

[code]

I discovered that you can actually suppress the docs with no warning doing the following, but it still feels like a bug:

[code]

[2017-11-29 17:26] ericmj commented on #7072
We shouldn't warn about multiple clauses with default values when we are defining a function head since it doesn't have a clause.

[2017-11-29 17:44] #7060 closed

[2017-11-29 19:04] josevalim opened #7074 "Add blame/2 as a callback of the Exception behaviour"
`Exception.blame/3` should normalize errors and delegate to the callback:

[code]

The callback should return a tuple with the blamed exception and the stacktrace. A default callback will be generated by default by defexception.

/cc @michalmuskala @chrismccord

[2017-11-29 19:11] michalmuskala commented on #7074
I like that. I would change it slightly and instead made the callback optional instead of macro-generating the default.

[2017-11-29 19:25] josevalim commented on #7074
Great idea. We can check for `Code.ensure_loaded?` and `function_exported?` and then call blame/2 only if it exists.

[2017-11-29 19:36] michalmuskala commented on #7074
I'll send a PR

[2017-11-29 19:43] jgmchan commented on #7066
Thanks @josevalim

[2017-11-29 20:54] #7074 closed

[2017-11-30 02:02] JakeBecker opened #7077 ":int.ni/1 crashes on some Elixir modules in recent Elixir revisions"
### Environment

* Elixir compiled from source with either OTP 19.3 or 20.1 (both fail). First bad commit: https://github.com/elixir-lang/elixir/commit/e12a76eca9da87ea3f6fbb3d889d03746e706250
* Operating system: macOS Sierra

### Current behavior

Run in `iex`:
[code]

### Expected behavior

`:int.ni/1` should be able to interpret compiled Elixir modules.

[2017-11-30 02:32] josevalim commented on #7077
Fixed in master.

[2017-11-30 02:32] #7077 closed

[2017-11-30 02:37] JakeBecker commented on #7077
Wow, that was fast!

[2017-12-01 00:37] ggcampinho commented on #7072
I will try this one!

[2017-12-01 21:29] bglusman opened #7080 "IEx appending to IEx.History state regardless of shell_history value"
Reddit user [ClemDev](https://www.reddit.com/user/ClemDev) reported this on Elixir Reddit [here](https://www.reddit.com/r/elixir/comments/7gws99/iex_locks_up_when_calling_processinfoself_a_lot/), and at first I didn't think it was a bug since I had IEx history enabled, but even when disabling the shell_history param the history grows with every call.

I think there's an easy fix to check the Erlan

[2017-12-02 22:31] whitfin opened #7083 "Consider adding a new "trace" log level in the Logger"
This stems from discussion on the mailing list, Slack, and around friends/colleagues. I'm opening this issue for broader feedback; most people I've spoken to agree that this is a hole in the existing API.

There currently exists no good solution for a library developer to log messages. If I am writing a package that's designed to be a Mix dependency, I want to be able to log messages which are not

[2017-12-02 22:38] stefanchrobot opened #7084 "Show BOM on inspected strings"
### Environment

Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.5.2
Ubuntu 17.10

### Current behavior

Strings produced with the `~s` sigil sometimes contain the BOM. If that's the case, then subsequent comparison with the same string created with plain quotes will fail.

Reproduction:
[code]
The BOM is visible upon inspecti

[2017-12-02 22:46] josevalim commented on #7084
I don’t think the sigil is adding the BOM but rather your editor. It is the
same as “é” which can be written in two different ways in Unicode and they
won’t be equal. Elixir won’t alternate between the two. It is all up to you
and your editor. Similar to any zero width white spaces in Unicode you may
add.

Maybe ExUnit could show better diffs in this case, but I don’t think it is
an issue with sig

[2017-12-02 22:52] josevalim commented on #7083
Please hold on with moving issues from the mailing list to the issues tracker until there is a consensus or an explicit approval. We have no plans in introducing a new log level because then we will only shift the issue: for example, lib A uses lib B and lib A wants to debug its own "traces" but lib B is too verbose.

I am personally more inclined in allowing the log level to be purged per library

[2017-12-02 22:52] #7083 closed

[2017-12-02 23:00] josevalim commented on #7046
I don't think it is reasonable. But given it is one of the things you would find out only in production (since it is unlikely you would purge in development), it would be a nightmare to understand why something is not happening.

Imagine something as simple as this:

[code]

Then you rewrite this to:

[code]

And now it won't work in production. Good luck figuring it out!

[2017-12-02 23:22] josevalim commented on #7084
Yeah, I totally understand that. It is the same issue as this:

[code]

or using non zero width white space:

[code]

It makes you pull your hair until you figure out what is really happening. It is not a behaviour specific to Elixir either.

[2017-12-02 23:40] josevalim commented on #7084
For now, let's show `\uFEFF` on *inspected* strings (instead of showing nothing). That should at least make it more obvious without changing its representation.

[2017-12-03 02:46] dmlittle commented on #7084
I'd like to give this issue a go if it's up for grabs.

[2017-12-03 05:37] whitfin commented on #7083
Hey @josevalim! Gotcha and noted; there's a thread [here](https://groups.google.com/d/msg/elixir-lang-core/C5-ixZVau3U/Wq0uuDy-BgAJ) but most feedback came via Slack (hence why I moved here). I'll wait for further mailing list feedback; I'd appreciate if you could drop your thoughts in if you get a chance!

[2017-12-03 12:04] AndrewDryga commented on #7046
Because having the statement that some action occurred without any insights would not be helpful at all, I believe literal string would make sense only in two cases:
- debugging (if somebody uses logging instead of `IO.inspect/2` with literal);
- using it along with metadata, that actually comes with helpful payload.

When used with metadata, then we would need a callback function for it, so that

[2017-12-03 13:04] #7084 closed

[2017-12-03 20:41] scmx commented on #1116
[code]
I can only reproduce that `iex` hangs every time I run it in this terminal window. In another window iex behaves just like normal.

[2017-12-04 00:49] lau commented on #7070
@josevalim

I think `NaiveDateTime` and `DateTime` structs should continue to support leap seconds.

I don't think converting 60 to the next minute is good when creating new structs. E.g. if asking for 2008-12-31 23:59:60Z you should not get a DateTime from 2009. That second is perfectly valid. For NaiveDateTime we don't have a way of validating leap seconds because we don't know the timezone. So

[2017-12-04 16:27] OvermindDL1 commented on #7046
That's an interesting idea, a pipeable `Logger` call that can pass a value through while logging it, perhaps with a format string and such as well passed in (as well as the level)?

[2017-12-04 18:40] wrachwal commented on #6509
Sorry that I put it in the closed issue.

I am very mixed feelings. Below same data printed under elixir-master and elixir-1.5.2.
Inspect's `:limit` is 50 by default, imagine the output with higher values.

Is it, or would be, possible to have an option that would render the old way?

[code]

[code]

[2017-12-05 09:12] kevinbader commented on #7046
+1, I think it'd be a good idea to stay consistent with how `inspect` works:
[code]

[2017-12-05 18:30] #7066 closed

[2017-12-06 08:27] bcardarella opened #7088 "Range arithmetic"
This may be something that is working by mistake at the moment:

[code]

I'm guessing there is some Protocol that is allowing for this? It would end up being useful in certain circumstances, but when the range is assigned to a variable `:erlang.+` is used and an error is raised:

[code]

If the range arithmetic is not intended can it be disallowed in the first case? If it is intended then I guess

[2017-12-06 08:37] wojtekmach commented on #7088
`1..1 + 1` expands to the same AST as `1..(1 + 1)` and that's the only reason it works

[2017-12-06 08:46] josevalim commented on #7088
Yup, @wojtekmach got it. It is related to the operator precedence in this case!

[2017-12-06 08:46] #7088 closed

[2017-12-06 08:47] bcardarella commented on #7088
Thanks for the quick explanation!

[2017-12-06 09:44] josevalim commented on #6725
Btw, this was added to master at some point. The code above will be formatted to:

[code]

[2017-12-06 09:44] #6725 closed

[2017-12-06 09:51] josevalim commented on #6509
We basically need to choose between two approaches that I am really undecided about:

## First

[code]

## Second

[code]

Thoughts?

[2017-12-06 11:01] josevalim commented on #6509
I went with the second one as that is more inline with the formatter and the previous output.

[2017-12-06 11:10] josevalim commented on #7025
Available on master: https://hexdocs.pm/elixir/master/compatibility-and-deprecations.html

[2017-12-06 11:10] #7025 closed

[2017-12-06 11:17] josevalim commented on #6738
I am not sure if there is much we can do on this case besides maybe moving the logic to a private function. :( To solve this for good, we would need changes in the Erlang compiler as I really don't think we should mark everything in the `else` block as generated.

/cc @ggcampinho @michalmuskala

[2017-12-06 11:33] michalmuskala commented on #6738
There are some changes in the erlang compiler around case statements (in master and PRs) that might make `with` optimize better. The problem is, it would work nice on OTP 21, but it would work worse then now on previous versions.

[2017-12-06 11:38] josevalim commented on #6480
Folks, after some discussion, we have decide to close this issue because we could not come up with good and cheap heuristics for detecting lists that become charlists. We are also concerned with the fact that simply running IEx may now store local information. Thanks for everyone who contributed and participated in the discussions.

[2017-12-06 11:38] #6480 closed

[2017-12-06 13:11] remiprev opened #7090 "`mix format` changes file modification time if content was not changed"
If `mix format` is ran on a file and its content is not changed by the formatter, its modification time is still updated.

### Environment

* Elixir & Erlang versions (elixir --version):
[code]

* Operating system:
[code]
  * MacOS 10.12.6

### Current behavior

[code]

We can see the file’s `mtime` attribute has been updated but its content stayed the same (hence the same md5 hash).

The problem

[2017-12-06 13:25] josevalim commented on #7090
Yup, we should not write the files. A quick benchmark I ran locally even showed that the formatter is faster if it is not writing on every change.

[2017-12-06 14:31] doomspork commented on #7090
@josevalim I'd be happy to take a whack at this if it's not something you're already tackling 👍

[2017-12-06 14:32] josevalim commented on #7090
@doomspork glad you asked because I am almost done with it! :D

[2017-12-06 14:45] #7090 closed

[2017-12-06 15:03] jordan0day commented on #6738
Not a huge showstopper obviously, and wrapping the case bits in another function (even a local anonymous fn) seems to eliminate the compiler warning. Feel free to close the issue unless you'd like to keep it open to reexamine after OTP 21 is released.

[2017-12-06 15:49] geofflane opened #7091 "Compilation error with too many modules"
### Environment

Elixir 1.5.2 & Erlang 19.3
Ubuntu Linux 17.10

### Current behavior
(This is a Phoenix app that does some statistics tracking and so has a large number of small ecto schemas each with a corresponding "calculator" to condense data into various stats.)

I have a project with about 600 modules currently. Somewhere between about 550 and 600 modules the elixir compiler can no longer co

[2017-12-06 15:52] josevalim commented on #7091
@geofflane I believe this system limit has been removed on Erlang/OTP 20. Did you give it a try?

[2017-12-06 15:57] wojtekmach commented on #7091
you can also manually bump the limit by setting env var

[code]

[2017-12-06 16:01] geofflane commented on #7091
@josevalim I believe you are correct that Erlang 20 does away with that limit. We have multiple apps that are deployed using Docker on Alpine images and Alpine doesn't get Erlang 20 in a release until the end of this year... so for reasons, hadn't tried that yet. :)

I just assumed others would still be on 19 as well and didn't know the implications of bumping the max ets tables.

[2017-12-06 16:04] josevalim commented on #7091
@geofflane oh, you definitely did well in reporting! I was just providing a quick work around for now. :)

[2017-12-06 17:01] ggcampinho commented on #6738
I have the impression that is possible to mark the variables generated in the else clause and add `generated: true` where they are used directly, but it's not so easy to do it.

[2017-12-06 17:04] ggcampinho commented on #6248
Hey @jeremyowensboggs, did you have success? I tried a little bit out and I think I have a prototype working with lists, tuples and atoms that need some refactoring but it's working.

[2017-12-06 17:13] jeremyowensboggs commented on #6248
Yes, I'm pretty happy with what I have that deconstructs the pattern and determines what matches, but I'm using the exiting diff that applies to '==' matches.  I need to make up something that just colorizes the pattern based on status of the matching.    You can see what it is currently doing at https://github.com/jeremyowensboggs/elixir - if you cd into ex_unit, then run  ../../bin/elixir -r tes

[2017-12-06 17:48] AndrewDryga commented on #7091
Sidenote: @geofflane you can build Alpine image on your own, this one works for a large project - https://hub.docker.com/r/nebo15/alpine-erlang/~/dockerfile/.

[2017-12-06 18:48] josevalim commented on #6738
@ggcampinho it is definitely possible but I really don't think we should do it! :D

[2017-12-06 18:50] #7091 closed

[2017-12-06 20:40] KronicDeth opened #7093 "Newline (\n) before comma in parentheses arguments is syntax error while no space and space is not"
While making optimizations to the IntelliJ Elixir parser and grammar, I came up with some new test cases for treating optional newlines the same as whitespace.  When testing comma handling, I hit a case that is reported as an error in the native parser/tokenizer.

### Environment

* Elixir & Erlang versions (elixir --version):
[code]

* Operating system:
   `macOS High Sierra 10.13.1`

### Current

[2017-12-06 20:46] josevalim commented on #7093
Is there any reason to support this style?

My biggest concern is the implications this may have in function calls without parens and, given that nobody would actually encourage this style, I see no reason to support it.

[2017-12-06 20:49] josevalim commented on #7093
It is worth noting there are other situations where an optional newline is not the same as a whitespace, such as `foo\nbar` and `foo\n+bar`. There are probably others.

[2017-12-06 21:38] KronicDeth commented on #7093
I just make the pathological test cases.  I didn't mean to imply it was a good idea to write code like that.  I only used the "Expected behavior" because it's in the template.  If you want to close as not supported, I have no problem with that.

[2017-12-06 21:57] bglusman commented on #7080
After this was opened [dmor](https://www.reddit.com/user/dmor) on reddit pointed out some reasons this may not be a bug at all, but might still be an opportunity for improvement or making it more similar to how erlang's repl behaves, but the behavior can be repro'd there, it's just storing it in a seperate process not the main process.

[2017-12-06 23:48] josevalim commented on #7093
Thanks for clarifying Luke! Very appreciated.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-12-07 02:12] KronicDeth commented on #7093
Seems consistent with the rules for `do` also

[code]

while it's fine for parenthesized.  So we could group both under making no parentheses calls less confusing

[code]

[2017-12-07 09:58] josevalim commented on #7093
@KronicDeth yeah, we do support it in many places but almost all of them appeared with use cases. We support in operators because of things like pipelines. We support in do end blocks because some people prefer to write this:

[code]

But unless we have a use case for commas, I would like to avoid it.

Thanks for the report!

[2017-12-07 09:58] #7093 closed

[2017-12-07 11:23] josevalim commented on #7080
I agree with diagnosis from the reddit folks, it is not a bug, but it was worth investigating nonetheless. Thanks for following up!

[2017-12-07 11:23] #7080 closed

[2017-12-07 11:37] josevalim commented on #7070
Thanks @lau!

It still feels like we are missing something because, even if DateTime.from_iso returned `{:ok, #DateTime<2008-12-31 23:59:60Z>, 0}`, at the moment we add `0 seconds` to that datetime, it would flip over to `#DateTime<2009-01-01 00:00:00Z>` exactly because our engine does not consider leap seconds.

I am wondering now if it is best to not allow datetimes to be represented with leap s

[2017-12-07 14:18] leiding commented on #3634
why not print the detailed cycle dependency so people could quick fix this?

[2017-12-07 15:04] wrachwal commented on #6509
Now it's pretty close to 1.5.2, but legibility has improved - fat lists that cannot fit inline got open `[` in next lines, thus extra indentation helps in dissecting. Thanks!

[2017-12-07 17:53] lindem commented on #6122
I can confirm that setting the "Internet Zone" in IE11 security options to the lowest possible setting resolves the issue and the installer continues.

[2017-12-07 19:28] josevalim commented on #7046
@fertapric I don't think that's a good idea because you often want to enable `compile_time_purge_level` for all of your dependencies and being unable to do that because the library did not consider it in the first place can be frustrating.

[2017-12-07 20:47] ericmj commented on #3634
@leiding Contributions are welcome, we may be able to use this function to get the cycles: http://erlang.org/doc/man/digraph_utils.html#cyclic_strong_components-1. Otherwise we need to traverse the graph ourselves and detect the cycle.

[2017-12-07 21:24] ericmj commented on #6122
I have fixed an issue where the certificate we used was only issued for `elixir-lang.org` instead for both it and `www.elixir-lang.org`. This should not have been the issue you are seeing since you got errors when accessing the naked domain.

We support the protocols recommended by Amazon: TLSv1.1 and TLSv1.2. We do not support SSL 2.0 so enabling it should not make a difference.

Can you verify w

[2017-12-07 23:46] fertapric commented on #7046
Brainstorming here 😄

Other option would be to purge the code only if it's safe to do so. If not, only remove the call to `Logger.bare_log`.

This would be the equivalent code written by the macro:

[code]

And the macro code (https://github.com/elixir-lang/elixir/blob/master/lib/logger/lib/logger.ex#L734):

[code]

[2017-12-08 08:43] josevalim opened #7095 "Allow compile time purging to happen per application/module"
Requires #7046.

Mailing list discussion: https://groups.google.com/d/msgid/elixir-lang-core/606029ea-9855-44c6-ba94-69113ffed45c%40googlegroups.com?utm_medium=email&utm_source=footer

[2017-12-08 17:01] whitfin commented on #7095
@josevalim do you anticipate this working in the same way as levels currently work (meaning you can change an application's level at runtime assuming they're not purged out)? If so I wouldn't mind taking a shot at this once the other issue is ready & merged.

[2017-12-08 17:24] josevalim commented on #7095
The plan for now is only compile time.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-12-08 17:27] bitwalker commented on #7095
What about purging by module as well? Both application and module are available at compile-time right? I think it provides a great deal of flexibility if you only want to silence a particularly noisy part of a dependency/application, rather than having to say "well module A is noisy, so I guess I just have to kill all logs from that application".

In the mailing list discussion, it was more about

[2017-12-08 18:20] Paddy3118 opened #7096 "Stream.chunk_every/4 gives odd results"
I am *very* new to Elixir, and so looking at `chunk_every` when argument `step` is more than `count`.

    Erlang/OTP 20 [erts-9.0] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10]

    Interactive Elixir (1.5.2) - press Ctrl+C to exit (type h() ENTER for help)
    iex(17)> Enum.chunk_every('ABCDEFGHIJK', 3, 4, [])
    ['ABC', 'EFG', 'IJK', 'IJK']
    iex(18)> Enum.chunk_every('ABCDEFGHIJKL', 3,

[2017-12-08 19:52] michalmuskala opened #7097 "Introduce __STACKTRACE__"
**TL;DR** Replace the use of `System.get_stacktrace()` with a pseudo-variable `__STACKTRACE__` similar to `__MODULE__` or `__CALLER__` available only inside `catch` and `rescue` clauses of the `try` expression.

## Reasons
Erlang recently set out to overhaul how stack traces are handled. The `:erlang.get_stacktrace/0` call (and thus it's Elixir's equivalent `System.get_stacktrace/0`) are problemat

[2017-12-08 20:53] josevalim commented on #7095
@bitwalker that's a great idea. We can likely generalize the filter for any compile time attribute.

[2017-12-09 08:55] Daniel-Xu opened #7098 "Regex lookbehind & lookahead issue"
### Environment
Erlang/OTP 20 [erts-9.1.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.5.1

### Current behavior

lookahead and lookbehind return wrong results:
[code]
### Expected behavior
The expected results should be

![image](https://user-images.githubusercontent.com/548144/33794171-776efa2e-dc94-11e7-8db1-1ced2f524c50.png)

also, t

[2017-12-09 09:45] josevalim commented on #7098
Elixir and Ruby use different Regex engines. Although I cannot understand why Elixir returns A and Ruby returns B, I can say the result you are getting is consistent with the PCRE engine used by Elixir: https://regexr.com/3hp9m

[2017-12-09 09:45] #7098 closed

[2017-12-09 10:06] josevalim opened #7099 "Introduce @since module attribute"
It can be stored alongside the documentation. My suggestion is to support `@since` for now, so we at least have the information in the source code but to store them with the docs would require to redesign the docs chunk, something we are trying to do with the consensus of all other BEAM languages.

[2017-12-09 11:50] albertoalmagro commented on #7099
Could I try this one @josevalim ? Could you please give me an example of a similar already existing feature?
Thanks!

[2017-12-09 13:33] whatyouhide commented on #7099
@albertoalmagro you can look at how we store `@doc` for starters.

[2017-12-09 14:03] josevalim commented on #7099
I assigned this one to me because I am already working on it. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-12-09 19:25] albertoalmagro commented on #7099
Thanks @josevalim @whatyouhide this one looked interesting 😉

[2017-12-10 21:10] michalmuskala opened #7101 "Supervisor.count_children crashes with Task.Supervisor"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system: macOS

### Current behavior
[code]
### Expected behavior

It should work as before introduction of `DynamicSupervisor`. Sorry for being so brief, but I'm in the middle of debugging. I'll post more information later, if needed.

[2017-12-11 13:04] amrnt opened #7102 "Formatter: Indentation is broken when |> case do"
I'm testing around the formatter and looking at my code. I just found that some indentation is broken in some cases.

An issue is when you have a pipeline to a `case`, the line after `do`, i'm not sure it it needs an extra space or there is an extra space already.

<img width="579" alt="screen shot 2017-12-11 at 13 58 14" src="https://user-images.githubusercontent.com/21756/33832341-1acb482e-de7c-

[2017-12-11 13:13] NobbZ commented on #7102
The clauses are indented 2 spaces relative to the indentation of the `case`, as aswell the `end` is at the very same indentation as the `case`.

This is one of the things I can live with, even though I had prefered the `|>` as anchor and indenting clauses 4 spaces and having `end` at the same indent as `|>`. To be honest, the `case`s `end` feels much more off than the clauses...

[2017-12-11 13:37] josevalim commented on #7102
@amrnt it is working by design but we can discuss the options that we have.

1. Indent by the operator

[code]

2. Indent nothing

[code]

3. Indent only clauses

[code]

I am personally fine with 1 or 2, 3 is by far the worst for me.

[2017-12-11 13:46] whatyouhide commented on #7102
Agreed, 1 or 2 are fine, 3 is not :smile:

[2017-12-11 13:50] michalmuskala commented on #7102
The same is happening with anonymous functions. I think before the formatter the most common way was to write:

[code]

Which corresponds to proposal 2. I find the current indentation pretty weird in this situation.

[2017-12-11 13:52] amrnt commented on #7102
No for the 3rd option please! 1 and 2 are fine!

IMO,  I would go with the second one since it's cleaner and prettier in a way.

[2017-12-11 13:52] NobbZ commented on #7102
I'd go for option 2 as well. I also skimmed my code now and realized, that while I explained something similar to 3, I actually use 2 in my code ;) Dunno why I said 4 spaces...

[2017-12-11 14:02] josevalim commented on #7102
Here is the PR: https://github.com/elixir-lang/elixir/pull/7103

You can see how the changes affect the Elixir codebase in it. Please give your opinion accordingly.

[2017-12-11 14:02] #7102 closed

[2017-12-11 15:13] #7101 closed

[2017-12-11 15:16] josevalim commented on #7072
Closing in favor of the PR.

[2017-12-11 15:16] #7072 closed

[2017-12-11 20:15] ggcampinho commented on #6738
Agreed! I also think it's better to wait for OTP 21, maybe put a reference to that issue

[2017-12-11 20:45] josevalim opened #7104 "Introduce @deprecated module attribute"
The plan is to use it alongside xref and print compile time warnings to deprecated functions. Docs can use it in the future too.

[2017-12-11 21:19] josevalim opened #7105 "Make context sensitive mappings in upcase/downcase/titlecase opt-in"
For now this means `:greek`. Note this will also allow us to support language-sensitive mappings, such as turkish and lithuanian. We can also include an `:ascii`  mapping.

[2017-12-11 21:33] hamiltop commented on #7046
I think building the most correct thing is to have logger accept only fns. Accepting raw strings is probably ok as well.

As far as `Logger.Lazy`, I think I'd probably use that if it were available. I might even build it myself. But I think taking that leaky abstraction on by choice is acceptable. I think that's different than providing (and endorsing) a leaky abstraction in the standard library.

[2017-12-11 22:20] albertoalmagro commented on #7096
@josevalim may I take care of this one?

[2017-12-12 01:34] pragdave opened #7106 "The changelog seems to have an incorrect description of atom and variable names"
(I've tried this on 1.6: I assume nothing has changed here since 1.5)

The Changelog says

However, I don't think it means this. How about:

     name    josé   _age   まつもと  _42  адрес

     name•   a±2  42

[2017-12-12 01:50] christhekeele opened #7107 "Usage of `defprotocol` sometimes causes dialyzer warning"
### Environment

* Elixir & Erlang versions (`elixir --version`):

[code]

* Operating system: OSX (`sw_vers`):

[code]
### Current behavior

Any usage of the `defprotocol` macro in a project dependency causes dialyzer to complain:

`Guard test 'or'('false','false') can never succeed`

### Expected behavior

It would be nice if this did not occur, as every project containing dependencies with prot

[2017-12-12 01:53] christhekeele commented on #7107
Confirmed that the exact same warning is emitted in prod mode, so this is not a consolidation thing.

[2017-12-12 07:55] fishcakez commented on #7107
@christhekeele please provide an example because our own protocol dialyzer test does not warn. If I add protocol consolidation to the test I get different warnings:
[code]
Note we consolidate by default since 1.4 when using mix.

[2017-12-12 08:44] josevalim commented on #7106
Thanks @pragdave!

We did the mistake of being too terse (and plain wrong) in the CHANGELOG. I have ported your fixes to the v1.5 branch.

A slightly more formal specification can be found here: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/pages/Unicode%20Syntax.md

[2017-12-12 08:44] #7106 closed

[2017-12-12 08:54] josevalim commented on #7096
@albertoalmagro yes please! If it is not assigned and nobody "claimed" it, you should be good to go!

[2017-12-12 09:56] fertapric commented on #7046
Agree with @hamiltop. I'm not a fan of the new syntax, but it's currently the best option so far.

[2017-12-12 10:45] michalmuskala commented on #6738
Well, we first need to implement this optimization and get it merged for OTP 21 release 😆

[2017-12-12 11:04] kevinbader commented on #7046
I might got lost on the way, but what exactly is the problem with the current way of allowing both a string and a function as the parameter to the Logger functions? I mean, it's quite obvious what happens in either case. Let's be honest, having side effects in a log statements has never been a good idea in any language, and the fact that it's possible to supply a function is a nice addon for (stri

[2017-12-12 14:01] fertapric commented on #7046
@kevinbader I think this comment from @josevalim exemplifies the problem:

To clarify it a bit, the last line is the same as `Logger.debug(build_message(increment_counter(input)))`. If `compile_time_purge_level: :debug` would be enabled in production, that line would be entirely removed along with the call to the `increment_counter` function, changing the business logic. Something that could be qu

[2017-12-12 15:09] mguimas opened #7109 "Syntax error on comma placement"
### Environment

* Elixir 1.5.2
* Erlang/OTP 20 [erts-9.1.5] [64-bit]
* macOS Sierra 10.12.6

### Current behavior

Elixir 1.5.2 is giving syntactic error on the first comma:

[code]
** (SyntaxError) lib/todo/cache.ex:15: syntax error before: ','
    (elixir) lib/code.ex:334: Code.load_file/2
    (iex) lib/iex/helpers.ex:421: IEx.Helpers.do_r/1
    (iex) lib/iex/helpers.ex:401: IEx.Helpers.r/1

[2017-12-12 17:39] josevalim commented on #7109
Thanks for the report.

This is working as intended. Please see #7093 for a similar discussion.

[2017-12-12 17:39] #7109 closed

[2017-12-13 00:46] ggcampinho commented on #7104
Should this be stored in the defs table on the key `{def, {module, arity}}`?
I think I can do it

[2017-12-13 05:38] christhekeele commented on #7107
I've created a clean mix project reproducing this issue in my orphaned branch [here](https://github.com/christhekeele/elixir/tree/defprotocol_dialyzer_warn). Running `mix dialyzer` produces the dialyzer errors documented in the [`dialyzer.output`](https://github.com/christhekeele/elixir/blob/defprotocol_dialyzer_warn/dialyzer.output) file.

[2017-12-13 05:42] christhekeele commented on #7107
@fishcakez I've included richer erlang and OS version info in my description.

[2017-12-13 05:44] christhekeele commented on #7107
I'm using the newer [`dialyzex`](https://github.com/Comcast/dialyzex) package in my example, but this does not affect the outcome versus [`dialyxir`](https://github.com/jeremyjh/dialyxir).

[2017-12-13 08:05] christhekeele commented on #7107
I've created a [build matrix](https://travis-ci.org/christhekeele/elixir/builds/315749168) to diagnose the versions of Elixir and OTP where this occurs. (Takes quite some time to run, no conclusions to draw yet.)

[2017-12-13 08:21] fishcakez commented on #7107
@christhekeele don't worry the issue is trivial, fallback to any with consolidation creates guard clause that can never match. In future please try to give more minimal examples or at least full warnings. You reported that it was all protocols and consolidation didn't matter, which made this confusing to understand.

[2017-12-13 09:33] christhekeele commented on #7107
Yeah, I didn't have time to dig into it until tonight; but I knew when I noticed and silenced the warning yesterday that I'd never get around to reporting it if I didn't then.

In the future I'll avoid speculating on the probable cause if I haven't had time to do more investigation, though! 😄 👍

[2017-12-13 09:43] christhekeele commented on #7107
Unless you are on the heels of a fix yourself, I'm confident that armed with your synopsis I can submit a patch for this. Feel free to assign to me if you are not working on this, and thanks for your help!

[2017-12-13 11:22] josevalim commented on #7104
@ggcampinho please go ahead! Some notes:

1. During compilation we can store it as we store documentation using a `{{deprecated, {name, arity}}, deprecation_reason}` entry or similar (I can't quite recall how we store docs).

2. We need to validate the reason is a string (similar to how we validate `@since`)

3. When emitting the Erlang bytecode, we will add an extra chunk called "ExDp" that will

[2017-12-13 11:31] whatyouhide commented on #7104
@josevalim did we decide we want to store the deprecation reason in the chunk? I still think storing the version it was deprecated in in the chunk and just mentioning the reason in the documentation might be a better idea. However I wonder if this would mean that we would not do `@doc false` anymore on deprecated functions.

[2017-12-13 11:53] josevalim commented on #7104
@whatyouhide I think storing the reason is better because that is more immediately useful for developers for warnings coming from xref.

Compare:

    foo.ex:3: String.contain?/2 was deprecated. Use String.contains?/2 instead.

with:

    foo.ex:3: String.contain?/2 was deprecated (on version v1.3.2)

And I would say the version it was deprecated is not very important. The version the replacement

[2017-12-13 11:55] josevalim commented on #7107
@christhekeele please do send a PR!

[2017-12-13 12:38] whatyouhide commented on #7104
@josevalim okay, fair enough. 👍

[2017-12-13 13:42] #6644 closed

[2017-12-13 14:03] #7019 closed

[2017-12-13 19:16] galina opened #7112 "Stream.chunk_while results in error when enumerating with Enum.at"
As described in

https://elixirforum.com/t/stream-chunk-while-error-when-enumerating/10809

`Stream.chunk_while` enumerated with `Enum.at` results in error

(elixir version is 1.5.1)

the code:

[code]

calling `stream |> Enum.at(0)` gives this error:

[code]

[2017-12-13 21:08] albertoalmagro commented on #7112
Could be related to #7096 , if it is I could take a look after finishing it.

[2017-12-13 23:08] Paddy3118 commented on #7096
This came about because I was so impressd, I decided to do a version in Python, and noticed the above in my testing.

My blog post is: [Elixirs' chunk_every in Python](http://paddy3118.blogspot.co.uk/2017/12/elixirs-chunkevery-in-python.html).

[2017-12-14 12:43] zaidshaikh112 commented on #128
how did it was resolved the issue my friend

[2017-12-14 16:21] OvermindDL1 commented on #128
Usually better to ask questions like this at https://elixirforum.com/ as this is primarily for issue tracking.  :-)

However, they solved it either by recompiling erlang with all modules (or at least with the crypto module added), or they reinstalled from their packaging system.

[2017-12-14 23:33] albertoalmagro commented on #7112
I have already finished with the other issue so I can take care of this.

[2017-12-15 09:21] #7096 closed

[2017-12-15 09:26] michalmuskala commented on #7104
One thing to consider is that both this attribute and `@since` might be problematic to libraries that want to be compatible with multiple elixir versions because of the unused attribute warnings. I'm not sure what would be the best course of action here.

[2017-12-15 09:46] bramhaag opened #7116 "mix local.hex causing erl.exe to crash on Windows."
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version):  Erlang/OTP 20 [erts-9.

[2017-12-15 09:49] ericmj commented on #7116
It seems like an issue with crypto.dll which would be an OTP issue. If you open `erl` and run something like `crypto:hash(sha, <<"foobar">>).`, does that work?

[2017-12-15 09:51] bramhaag commented on #7116
@ericmj that also causes erl.exe to crash

[2017-12-15 09:53] ericmj commented on #7116
Please report the issue here: https://bugs.erlang.org

[2017-12-15 09:59] whatyouhide commented on #7104
@michalmuskala they can have a `_ = @since` to be compatible without warnings?

[2017-12-15 09:59] #7116 closed

[2017-12-15 10:05] bramhaag commented on #7116
I've opened the issue (here)[https://bugs.erlang.org/browse/ERL-533]

[2017-12-15 10:17] josevalim commented on #7104
I have also pushed a commit to v1.5 so it doesn't warn there. We should have a new release today or tomorrow.

[2017-12-16 16:50] romenigld opened #7120 "error when creating a tuple with elixir 1.5.2"
### Precheck

### Environment

Elixir 1.5.2, erlang 20.2
[code]
* Operating system:
MacOS x High Sierra 10.13.2
### Current behavior
I'm reading a book and for create this tuple I get this error:
[code]

[2017-12-16 21:26] OvermindDL1 commented on #7120
Do you mean:

[code]

?

[2017-12-16 21:31] antonioj-mattos commented on #7120
It might be because the code sample in the book is incomplete, and the variables a, b and c are not defined.

And, as OvermindDL1 pointed out, you can use it with atoms or strings as in

[code]

[2017-12-16 21:58] #7120 closed

[2017-12-16 22:23] wojtekmach opened #7121 "IEx.Helpers.h duplicate output for default arguments"
### Environment

* Elixir & Erlang versions (elixir --version): `Elixir 1.6.0-dev (5294a739b) (compiled with OTP 20)`
* Operating system: macOS Sierra

### Current behavior

<img width="653" alt="zrzut ekranu 2017-12-16 o 23 01 46" src="https://user-images.githubusercontent.com/76071/34074710-9c563d6c-e2b5-11e7-8a08-c36e19743f8c.png">

On one hand we do have `add_backend/1` and `add_backend/2` so

[2017-12-17 05:57] dylan-chong opened #7122 "Allow trailing commas in parameter list"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version):

Erlang/OTP 20 [erts-9.

[2017-12-17 08:16] josevalim commented on #7122
We don't support those on purpose as they are ambiguous with optional parenthesis. We could support them only if there are parens but that in itself could be seen as an inconsistency.

[2017-12-17 08:16] #7122 closed

[2017-12-17 18:08] romenigld commented on #7120
yes it's true, it was an error of the book.
Thank you guys!

[2017-12-18 10:20] lukaszsamson opened #7124 "Compilation warnings and failure after erlang update"
After updating erlang from 20.1 to 20.2 compile is noisy:
[code]
This goes on for every dependancy and module.

Finally, the build fails or completes but fails to start. In this case it failed with
[code]
The suggested solution `mix deps.compile gettext` obviously does not fix the problem
`mix clean` does not help either
`mix deps.clean --all` fixes the problem

### Environment

* Elixir & Erlang

[2017-12-18 10:27] josevalim commented on #7124
This is expected for Elixir v1.6-dev. We keep a manifest of precompiled files but we don't always bump the manifest version in development versions. By the time v1.6 is out, then the manifest is bumped between v1.5 and v1.6, and then everything should be cleaned properly.

TL;DR - it may happen when running on Elixir master, it should not happen between stable versions.

[2017-12-18 10:27] #7124 closed

[2017-12-18 12:45] michalmuskala commented on #7097
So I looked a bit into actually implementing this, and one problem with `__STACKTRACE__` is that it can be confusing and a bit inconsistent in nested `try`s. For example:

[code]

It's clear that `#1` should just fail to compile. It's also clear that `#4` should return the stack for `throw :foo`. But now `#2` should return the stack for `throw :foo` as well, but then in `#3` it should probably ret

[2017-12-18 13:40] josevalim commented on #7097
@michalmuskala we could make #2 fail, forcing the user to explicitly set a variable before.

[2017-12-18 14:26] michalmuskala commented on #7097
Yeah, this also comes down to approach to compiling the thing. I initially tried to make it work similar to `__CALLER__` - translating to a variable and after translation mark a flag in `elixir_erl` record and later read it and prepend the `__STACKTRACE__ = :erlang.get_element()` call. The problem with that approach is that it won't work, since the variables would conflict.

[2017-12-18 14:32] josevalim commented on #7097
@michalmuskala we can generate fresh variables every time. :)

[2017-12-18 14:33] josevalim commented on #7097
@michallepicki we could even expand our catch/rescue to have three elements, the same as Erlang, but that would be completely internal. This way `__STACKTRACE__` belongs exclusively to Elixir land and exclusively to the expansion pass.

[2017-12-18 15:33] michalmuskala commented on #7097
You pinged the wrong Michał. 😆

 But that would mean we'd need to expand `rescue` clauses to `catch` clauses in elixir, wouldn't it?

[2017-12-18 15:59] michallepicki commented on #7097
that's fine, I got used to it already, happens every few months ;)

[2017-12-19 09:03] josevalim commented on #7097
Oops, sorry!

I don't think we should do that because that is a behaviour that is fairly specific to Erlang. For example, ElixirScript probably wants to keep the high level semantics so  `rescue` is also capable of rescuing JavaScript exceptions or something similar?

Maybe rescue should have two arguments too...

[2017-12-19 12:53] #7112 closed

[2017-12-19 14:55] ggcampinho commented on #7104
Today, `xref warnings` returns `{:ok, unreachable}` being `unreachable` a list with `{message, location}`. I don't know if this is really used outside or if it's used only to check if there are no warnings (`{:ok, []}`). To add deprecated things to it, I think we need to change the list to be at least a map with `%{unreachable: unreachable, deprecated: deprecated}`, and I'm not sure how should be

[2017-12-19 15:01] josevalim commented on #7104
@ggcampinho I think we can keep the same return, we just have different messages.

[2017-12-19 20:39] fxn opened #7125 "Mismatch in the documented return values of Mix.SCM.lock_status/1"
The documented return values of `Mix.SCM.lock_status/1` are

* `:mismatch`
* `:lockmismatch`
* `:outdated`
* `:ok`

but the typespec in the callback definition says

* `:mismatch`
* `:outdated`
* `:nolock`
* `:ok`

The atom `:lockmismatch` is missing in the typespec, and `:nolock` is missing in the docs.

(Just reporting, don't know which is the fix.)

[2017-12-19 22:14] #7125 closed

[2017-12-19 22:36] albertoalmagro commented on #7112
HI @josevalim , this is still failing in version 1.5.3. What was the reason to close it? Thanks!

[2017-12-19 22:39] albertoalmagro commented on #7112
Ok, already saw the commit in the PC, sorry for the noise.

[2017-12-20 02:57] seantanly opened #7126 "Missing v1.5.3 binary for travis-ci"
I'm not sure whether this is the right channel for raising this issue.

### Current behavior

Travis-CI is unable to fetch the latest Elixir binary v1.5.3 from the following URL and thus failing the builds.

https://repo.hex.pm/builds/elixir/v1.5.3.zip

[code]

### Expected behavior

The Travis-CI build passes.

[2017-12-20 08:34] gmile commented on #7126
@seantanly looks like pre-built packages for 1.5.3 are not yet there:

[code]

[2017-12-20 09:26] #7121 closed

[2017-12-20 09:55] #7023 closed

[2017-12-20 10:54] #7105 closed

[2017-12-20 11:00] ericmj commented on #7126
Fixed now. Thanks for letting us know.

[2017-12-20 11:00] #7126 closed

[2017-12-20 11:30] #7049 closed

[2017-12-21 08:18] #7104 closed

[2017-12-21 17:11] michaelkschmidt commented on #7018
@josevalim Sorry to push back, but I think @pickme467  is correct.  This line is breaks the convention of both Elixir and Erlang:

[code]
would result in a call to
[code]

The new syntax of
[code]
calls
[code]

This means that to convert to the new Supervisor syntax, we have to change every module we use, wrapping its args in `[]`

[2017-12-21 19:24] amatalai opened #7130 "Code formatter: compilation error after commented out one line of typespec"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.6.0-dev (05dba8e9e) (compiled with OTP 20)
* Operating system: macOS 10.13.2 - High Sierra

### Current behavior

When we have multiline typespec like this:

[code]
comment out one line and run formatter, we get this:
[code]
after one additional formatter run:
[code]
both versions cause `** (CompileError) lib/foo.ex:4: undefi

[2017-12-21 20:48] josevalim commented on #7130
This code is already invalid:

[code]

The formatter cannot get invalid code and make it valid, that's why it errors.

[2017-12-21 20:59] amatalai commented on #7130
@josevalim I missed example for one step because my editor is running formatter on save.
This is how it looks after commenting out but before running formatter
[code]
It compiles properly before formatting

[2017-12-21 21:14] josevalim commented on #7130
@amatalai ah, that's definitely a bug. Good catch.

[2017-12-22 02:32] malcolmwhat opened #7131 "Build error in node_test.exs for master branch on Ubuntu 16.04"
### Precheck

* [x] For bugs, do a quick search and make sure the bug has not yet been reported

### Environment

* Elixir & Erlang versions (elixir --version): Trying to install elixir 16.0-dev, currently have erlang/OTP release 19.2, since this was highlighted in #5670 to be a correct version of erlang to be using. I installed erlang through the [erlang solutions downloads page](https://www.erla

[2017-12-22 08:44] josevalim commented on #7131
Thank you. Apparently there is an existing ~/.erlang.cookie file that is either too old or created by hand. We could try to erase it but on the other hand I don't think we should touch the user's home directory. Please erase the mentioned file and you should be good to go. Thanks for reporting!

[2017-12-22 08:44] #7131 closed

[2017-12-22 10:27] #7130 closed

[2017-12-22 10:45] josevalim commented on #7107
I will go ahead with this since we are working towards a release candidate for v1.6.

[2017-12-22 11:38] #7107 closed

[2017-12-22 14:09] stefanchrobot opened #7132 "reraise/2 generates code that causes dialyzer warning for custom errors when in private context"
### Environment

* Elixir & Erlang versions (elixir --version):
Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.6.0-dev (a46a662d2) (compiled with OTP 20)

* Operating system:
Ubuntu 17.10

### Current behavior

When used in private function, the `reraise/2` macro generates code that causes dialyzer warnings. This only happens

[2017-12-22 16:18] josevalim commented on #7132
Closed with b6e7fa28b8ec804513304b69356f2b7462daea5b.

[2017-12-22 16:18] #7132 closed

[2017-12-22 20:39] malcolmwhat commented on #7131
Thanks for the response, deleting the `~/.erlang.cookie` file (which was empty, not sure where it came from) did the trick and the tests all passed.

[2017-12-22 23:49] LukeWood commented on #5987
I actually had this same problem when building a release inside docker.

details:  I was using https://github.com/jamesotron/heap and the Enumerable protocol was being lost.

Adding `mix compile.protocols --force` to my list of mix commands fixed the problem.

[2017-12-23 09:27] #6835 closed

[2017-12-23 10:13] #6626 closed

[2017-12-23 18:03] #6551 closed

[2017-12-23 18:39] josevalim opened #7135 "Deprecate functionality scheduled for deprecation in v1.7"
Now that we have branched v1.6 and the release candidate is coming out, we can start work on master towards v1.7.

We are going to deprecate:

  * [ ] The old Enum.chunk/2/3/4 (since check_every now exists with less pitfalls)
  * [ ] The old Stream.chunk/2/3/4 (since check_every now exists with less pitfalls)
  * [ ] Deprecate the ambiguous `not left in right` (since `left not in right` now exists

[2017-12-24 00:24] eksperimental opened #7137 "Update Compatibility and Deprecations page"
Branch v1.5 needs compatibility info for v1.5.3
And branch v1.6 needs info as well

[2017-12-24 03:07] josevalim commented on #7137
Thanks. This is not going to scale if we need to update on every release,
so we will come up with something. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-12-24 08:49] eteeselink opened #7138 "Breaking change in 1.6 `Supervisor.start_child` typespec"
### Environment

* Elixir & Erlang versions (elixir --version):
    Erlang/OTP 20 [erts-9.0] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10]
    Elixir 1.6.0-dev (9f61cbcdf) (compiled with OTP 20)
* Operating system:
   Windows 10 Pro 64-bit

### Current behavior

In a supervisor module with the `:simple_one_for_one strategy`, calling `Supervisor.start_child(__MODULE__, [something, something_els

[2017-12-24 11:16] #7137 closed

[2017-12-24 11:16] #7138 closed

[2017-12-24 13:39] eteeselink commented on #7138
Wow, that's.... totally amazing! :-)

Thanks for Elixir and for being such an example to the community.

[2017-12-24 20:32] #7135 closed

[2017-12-25 03:34] Awenimpagaritse commented on #3589
Cool

[2017-12-25 03:36] Awenimpagaritse commented on #3589
Cool

[2017-12-25 03:41] eksperimental opened #7140 "Update minimum OTP version in README file"
It says it requires OTP 18, when it is 19.
The output of the erlang version command should be updated as well. I would recomend to use the highest supported version so that line doesn't need.to be updated every time the minimum version goes up.

This applies to the v1.6 branch and master.

[2017-12-25 03:53] eksperimental opened #7141 "Update RELEASE.md to reflect changes in Compayibility page"
Item 4 and 6 should be updated to reflect changes recently introduced in d18030f

[2017-12-25 03:56] eksperimental opened #7142 "Add compatibility info for v1.7"
To avoid https://github.com/elixir-lang/elixir/issues/7137

[2017-12-25 04:39] eksperimental opened #7143 "Add deprecation of Macro.unescape_tokens/1 and Macro.unescape_tokens/2 in CHANGELOG"
Sorry, GitHub doenst allow me to submit PRs over my mobile.
 Here's the commit for CHANGELOG in the v1.6 branch

       * [Macro] `Macro.unescape_tokens/1` and `Macro.unescape_tokens/2` are deprecated in favor of `Enum.map/2`

[2017-12-25 04:51] eksperimental opened #7144 "Improvements for Deprecations page"
1. I think in the table of deprecations, Range.range?/1 shouldnt suggest  pattern match left..right, as user doesn't care or may not know what is left or right. It is much more clear the way it put in the changelog: "Deprecate Range.range?/1 in favor of pattern matching on _ .. _"
2. Minor nitpick: "Macro.unescape_tokens/1 and Macro.unescape_tokens/2" should appear before "Map.replace/3" since fun

[2017-12-25 05:23] eksperimental opened #7145 "v1.6 CHANGELOG improve entry for @deprecated and @since attributes"
The current entry reads

1. "says" sounds untechinical. "Annotates reads better IMO.
2. "the latter says the version said API was added" is grammatically wrong, maybe something like "the latter annotates the version the API was introduced"
3. In the release info of v1.6-rc0 https://github.com/elixir-lang/elixir/releases/tag/v1.6.0-rc.0 there's a weird casing in subheading "@deprecated and @SInCE a

[2017-12-25 05:25] eksperimental commented on #7145
Oh..regarding no.3 `@since` is a GitHub user thats why it is stylised like that. You may want to use backticks to avoid that

[2017-12-25 05:27] eksperimental commented on #7099
I guess this one can be closed

[2017-12-25 09:00] #7099 closed

[2017-12-25 09:00] josevalim commented on #3589
Note to self: the new chunk storage should support storing information such as ":since" and ":deprecated".

[2017-12-25 09:02] #7141 closed

[2017-12-25 09:02] josevalim commented on #7142
We will do so when we release, especially since the RELEASES.md page says so now.

[2017-12-25 09:02] #7142 closed

[2017-12-25 09:03] #7140 closed

[2017-12-25 09:04] #7144 closed

[2017-12-25 09:11] #7143 closed

[2017-12-25 09:13] josevalim commented on #7145
Thanks @eksperimental! I have applied all fixes from the issues you opened! :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2017-12-25 09:13] #7145 closed

[2017-12-25 13:07] eksperimental commented on #7142
My question is, how can users trying master know what is the highest OTP version that Elixir is guaranteed to work on. Actually, now that I'm thinking this information should be in the README file, as it will be really annoying to install the latest OTP version to find out it is not supported

[2017-12-25 13:09] eksperimental commented on #7145
Great! One more thing you could update the release info with the latest CHANGELOG

[2017-12-25 17:47] Eiji7 opened #7147 "Could not call defguard check inside defguard."
### Origin

Talk begins in [Elixir v1.6.0-rc.0 released](https://elixirforum.com/t/elixir-v1-6-0-rc-0-released/11064?u=eiji) news thread.
Here are links for most important posts (from begin to José example):

1. [Original question](https://elixirforum.com/t/elixir-v1-6-0-rc-0-released/11064/7?u=eiji)
2. [Ask again but with old version that uses macros](https://elixirforum.com/t/elixir-v1-6-0-rc-0-

[2017-12-25 22:55] josevalim commented on #7147
Thanks, I can reproduce it. We were not testing remote calls in the suite.

[2017-12-25 23:26] Eiji7 commented on #7147
@josevalim: I found that now elixir compiler generates incorrect warning:

File `reproduce.sh` is enough - just need to change git ref from `tag` to `branch` i.e. from:
[code]
to:
[code]
Then you should see something warning like:
[code]
which is incorrect, because guards **should not raise** with `ArgumentError`

[2017-12-26 08:54] josevalim commented on #7147
The warning is correct. :) You are calling is_rgb *outside* of a guard, which means it does fail, especially because you haven't surrounded it by `is_tuple` checks.

[2017-12-26 08:54] #7147 closed

[2017-12-26 15:46] vjorjo opened #7149 "Greek final sigma"
### Environment

* Elixir & Erlang versions (elixir --version):
Erlang/OTP 20 [erts-9.2] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10]
Elixir 1.6.0-rc.0 (182c730bd) (compiled with OTP 19)

* Operating system:
windows 7 x64

### Current behavior

String.downcase for Greek letter 'Σ' now always returns the final sigma 'ς', which is completely wrong.
Until version 1.5.2, it always returned 'σ' wh

[2017-12-26 17:24] michalmuskala commented on #7149
The Unicode 10 standard defines the behaviour for final sigma in section 3.13 in table 3-14:

There's also a helpful (or not) regex provided:
* Before C: `\p{cased} (\p{case-ignorable})*`
* After C: `! ( (\p{case-ignorable})* \p{cased} )`

I have no idea, how to implement those conditions efficiently.

[2017-12-26 23:16] nifoc opened #7151 "Unexpected dialyzer warnings for child_spec/1"
### Environment

* Elixir & Erlang versions (elixir --version):

[code]
* Operating system:

[code]

(macOS High Sierra 10.13.2)

### Current behavior

Modules with `child_spec/1` functions that look like this generate unexpected `dialyzer`-warnings:

[code]

The `dialyzer` output looks like this:

[code]

Since the value for the `Supervisor.child_spec()` type changed in 1.6, I tried the "old" (1.

[2017-12-27 13:53] Eptis opened #7152 "Formatting of large binary pattern matches"
Not sure if this is the preferred formatting by the community, but the formatter in 1.6 currently formats this code:
[code]
as:
[code]

I personally would expect and prefer something more condensed. Is this intended or could this be improved?

### Environment

* Elixir 1.6.0-rc.0, Erlang 20.1
* Operating system: OSX

[2017-12-27 15:09] nifoc commented on #7151
I have created a [small example repository](https://github.com/nifoc/child_spec_example) to easily reproduce the issue.

[2017-12-27 18:39] jakub-gonet opened #7154 "Logger disabling in testing environment"
Wells, I just wanna propose to add some setting to disable logger (or to be specific: its output in console) in tests env while keeping some way to refer to them; ideally in config.exs. For now I'm using `Logger.remove_backend(:console)` at top of every test which logs something, but this isn't very convenient.

[2017-12-27 18:51] whatyouhide commented on #7154
Hey @jakub-gonet, you can use [`ExUnit.CaptureLog.capture_log/2`](https://hexdocs.pm/ex_unit/ExUnit.CaptureLog.html#capture_log/2) for fine-grained control over capturing logs and using the logged output. Otherwise, ExUnit supports a `:capture_log` tag so you can suppress the output of a test by doing

[code]

or of an entire test case with `@moduletag :capture_log`.

[2017-12-27 18:51] #7154 closed

[2017-12-27 18:54] jakub-gonet commented on #7154
Didn't know about this tag, its definitely more elegant than removing backend, thanks!

[2017-12-27 21:02] Eiji7 opened #7155 "IEx: break! works strange with pattern match on new guards"
### Environment

[code]

### Example code

Like in last issue I'm still testing RGB(a) checks (as real world example):

[code]

### Current behavior

[code]

### Expected behavior

Call with 4-element tuple should not reach breakpoint that was set for 3-element tuple.

[2017-12-28 01:35] josevalim commented on #7155
Thanks, I will investigate.

It is worth noting that defguards are macros, so the first check is never going to be reached because the macro will never be invoked with `{255, _, _}`, but rather with `{:{}, _, [255, 255, 255]}`. We will need to clarify the docs for both `break!` and `defguard` here.

[2017-12-28 05:39] Eiji7 commented on #7155
@josevalim: Thanks for explanation. It's my bad - I could expect it.
I just assumed that calls are unique for both cases.
I checked it and it works as expected, so I have updated this issue by removing first check.

[2017-12-28 10:14] CrowdHailer commented on #7151
Hi I have just run into the same issue. It looks like it also occurs when the default child_spec is used. I have a module not implementing child_spec and dialyzer references a line in `gen_server` for the error.

[code]

I'm looking through the Elixir source and cannot see why that call would break the child specification.
For the moment is there any way to silence this warning?

[2017-12-28 10:16] josevalim commented on #7155
@Eiji7 the second is an Erlang compiler bug as I could reproduce it with this snippet:

[code]

Now in the shell:

[code]

I will report it to their issues tracker later today.

Copying @michalmuskala in case he wants to have some fun with it before. :)

[2017-12-28 10:42] michalmuskala commented on #7155
Yeah, it looks like for some reason the compiler completely eliminated the check for tuple size, here's the assembly for `check/1`:

[code]

There's a lot of room for improvement alongside the bug

[2017-12-28 10:51] michalmuskala commented on #7155
Without looking at the code, I'd say the bug is probably in `beam_type` - seeing the `element` instructions the compiler is sure the tuple is at least of size 3 and erroneously eliminates the `tuple_size` instruction which checks if the tuple size is exactly 3 and not at least 3.

[2017-12-28 11:09] Eiji7 commented on #7152
I'm also not a fun of such rule. I think that there should be two separate formatting rules.

`List` is one big mystery. It's not surprise to see any data type in it really often, so it could be applied to both rules for its special cases.

### Rule with condensation

Personally I'm not worked with such big binaries, but I really often see similar problem when formatting `List`, `Keyword` and when

[2017-12-28 13:45] fishcakez commented on #7151
The issue is the child_spec type declaration has function() but it should
be atom() for the type of the second element in start. The function name is
an atom and not a fun.

On 28 Dec 2017 10:15, "Peter Saxton" <notifications@github.com> wrote:

[2017-12-28 14:22] amatalai opened #7156 "Strange result of pattern matching on structs"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.6.0-rc.0 (182c730) (compiled with OTP 20)
* Operating system: macOS 10.13.2 - High Sierra

### Current behavior

[code]
Second line returned `true`. In previous elixir versions same code returns struct from right side of `=`
### Expected behavior
[code]

[2017-12-28 18:24] HangingClowns opened #7158 "Unused Variables Misreporting v1.6.0"
Elixir/Erlang versions:

Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.6.0-rc.0 (182c730bd) (compiled with OTP 20)

when I use assert_reply or assert_broadcasted in phoenx 1.3 I get unused variable warnings.

[2017-12-28 18:28] josevalim commented on #7158
Could you please do a complete bug report? Please include code samples or, even better, an application that reproduces the error. FWIW, Phoenix test suite passes without warnings here, and it uses both assert_reply and assert_broadcasted.

[2017-12-28 18:35] HangingClowns commented on #7158
Apologizes. If you just create a blank project in phoenix then use the generator to generate a new channel ( I used room, like the examples):

[code]

[code]

[2017-12-28 18:37] josevalim commented on #7158
I am almost sure that `assert_broadcast` is expecting a pattern, so you are receiving a message, assigning it to the variable `payload` and never using it. This should fix it:

    assert_broadcast "shout", ^payload

The warning actually caught a bug. :)

[2017-12-28 18:38] HangingClowns commented on #7158
Oops:

[code]
I should have read farther down on another method. Thanks!

[2017-12-28 18:38] #7158 closed

[2017-12-29 09:13] zhangzhen opened #7159 "How does elixir launch an external program in a docker container?"
I am going to use genstage and flow to build a bioinformatics pipeline for the analysis of tumor samples. The pipeline takes millions of reads of several samples and needs to launch external programs built in separate docker images to process such reads. bwa is one of the most important programs, which aligns the reads to the reference genome. It is very computation intensive and needs to be execu

[2017-12-29 12:49] NobbZ commented on #7152
A magic comment that would switch off the formatter for some region of code has been requested multiple times and I will do it again here...

[2017-12-29 15:44] Eiji7 commented on #7159
Please read carefully rules (issue template):

It's totally ok if you ask question when thinking about something like a bug. If it's bug then we will solve it and if it's not then we will update docs to make such thing more clear.

**In your case** it's not a good place for it. Please **close this issue** and **ask on forum**. You will receive response **faster** and we (contributors) will not hav

[2017-12-29 17:58] josevalim commented on #7152
And support for code comments will be denied once more because it will not
only open up space for style discussions, which the formatter aims to
eliminate, but it will cause developers to pollute the codebase witn notes
regarding formatting.

I would rather support project configs for those than code comments.

Some features will never be added, regardless of how many times people ask
for it. :)
-

[2017-12-29 20:53] #7159 closed

[2017-12-30 06:51] dmlittle commented on #7156
I tried taking a look at this issue but I'm not comfortable enough with Erlang to be able to fix it. Using [`git bisect`](https://git-scm.com/docs/git-bisect) I was able to find that the regression was originally introduced in #6347 when the matching logic was changed to validate struct names.

[2017-12-30 07:09] fishcakez commented on #7156
@dmlittle looking at that PR I think the bug is at https://github.com/elixir-lang/elixir/blob/25dc8d8d4f27ca105d36b06f3f23dbbd0b823fd0/lib/elixir/src/elixir_erl_pass.erl#L28. This Erlang AST is returning `true` on a match with a struct var due to the `[True]` body element, whereas we want to be returning the value of the expression on the right side, i.e. `[ResultVar]`.

[2017-12-30 07:50] dmlittle commented on #7156
@fishcakez awesome! I think I know how to solve this issue now. I'll put up a PR and see if there are any other changes needed.

[2017-12-30 17:35] #7156 closed

[2017-12-30 17:43] #7151 closed

[2017-12-31 22:06] pragdave opened #7161 "rc.0: Compiler bug when code is conditionally compiled"
### Environment

[code]

### Current behavior

Given a.exs:

[code]

then:

[code]

If you remove the if/else/end, this error goes away.

[2017-12-31 22:28] josevalim commented on #7161
Thanks @pragdave! This seems to apply to the boolean optimization. Since we apply the optimization after we expand, the code expansion sees variables that are later removed in the optimization. We need to flip those around.

[2017-12-31 23:59] dylan-chong opened #7162 "mix - Alias to run multiple tasks from different environments"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating syst

[2018-01-01 01:21] josevalim commented on #7162
Can you please provide a minimal mix.exs that reproduces the error?

We cant run multiple environments in the same Mix command because apps may
have already been booted with different settings. You can add dialyzer to
the test environment though.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-01 01:35] dylan-chong commented on #7162
Sure https://github.com/dylan-chong/elixir_environment_error_test

the test environment though.

Good idea!

[2018-01-01 01:49] dylan-chong opened #7163 "mix alias - add option for preferred_cli_env"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version):
* Operating system: mac

[2018-01-01 06:23] dylan-chong commented on #7163
I didn't realise there is an option for `:preferred_cli_env` [here](https://hexdocs.pm/mix/Mix.Project.html). Maybe we could make it more obvious you can do that somehow

[2018-01-01 10:23] whatyouhide commented on #7163
@dylan-chong as you mentioned we already have this option in `mix.exs` through `:preferred_cli_env`.

Also, Elixir's issue tracker is reserved for bugs and is generally not the place to propose features. The [elixir-lang-core](https://groups.google.com/d/forum/elixir-lang-core) mailing list serves that purpose, so next time make sure to post a feature proposal there! 💟

[2018-01-01 10:23] #7163 closed

[2018-01-01 11:04] #7161 closed

[2018-01-01 11:16] josevalim commented on #7162
I am getting the proper error in both tasks:

[code]

Please let us know if there is anything else to reproduce this issue. Thank you!

[2018-01-01 14:40] bartoszgorka commented on #7162
@dylan-chong Hi.
I prepared for my project alias to check dynamic code.

`mix.exs`
[code]

Remember about add `dialyzer` also do `:test` env.
[Commit in my repo](https://github.com/bartoszgorka/PlantMonitor/commit/0fea0d8463b5f7dd38d6f388b9a281b23139c755)

[2018-01-01 16:44] vjorjo commented on #7149
@josevalim
@michalmuskala

could you please add in String.Casing module these changes and additions (or something like these) so that handling of Greek final sigma become fully on par with the unicode specifications (the one that michalmuskala mentioned: "The Unicode 10 standard defines the behaviour for final sigma in section 3.13 in table 3-14")?
It will add 2000+ case_ignorable? casing function

[2018-01-01 17:35] josevalim commented on #7149
We definitely should. Can you please provide practical examples though so
we can complement the suite?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-01 21:23] pragdave opened #7168 "rc.0 seems to have upset dialyzer"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

[code]
### Current behavior

[code]

I've attached the [crash dump](ht

[2018-01-01 21:44] josevalim commented on #7168
This is a change in OTP 20+. In order to fetch the debug information of Elixir modules, you need Elixir source itself. This should fix it:

     dialyzer -pa ~/Play/elixir/lib/elixir/ebin/ --add_to_plt -r ~/Play/elixir/lib/elixir/ebin/

[2018-01-01 21:46] pragdave commented on #7168
And indeed it does.

Sorry for the noise.

[2018-01-01 21:46] #7168 closed

[2018-01-02 03:39] dylan-chong commented on #7162
@josevalim Strange, the error messages a showing today for me as well. Not sure what changed since yesterday. I'll reopen this issue if there is a more reliable way to replicate the issue

@bartoszgorka  Yes adding dialyser to the test environment works for me

[2018-01-02 03:39] #7162 closed

[2018-01-02 09:15] devonestes opened #7169 "Incorrect highlighting of ExUnit diff for lists of integers"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.6.0-rc0, Erlang/OTP 20
* Operating system: MacOS 10.13.2

### Current behavior

I took this screenshot since I figured it would show the problem best (we kind of need color).
![highlight_example](https://user-images.githubusercontent.com/8422484/34479103-fad0e058-efa4-11e7-8532-33fb73badaec.png)

### Expected behavior

Since

[2018-01-02 09:39] jjl opened #7170 "iex `--remsh` crashes on start"
First, I start an iex shell with sname:

[code]

Then I try to connect to it and I get erlang crash output:

[code]

[2018-01-02 09:40] jjl commented on #7170
Elixir 1.5.0, OTP 20

[2018-01-02 09:47] jjl commented on #7170
On elixir master, i instead get the following message:

[code]

Now, it obviously *is* running, it's on the same machine, running the same iex from the same directory so I'm not sure what to make of it.

[2018-01-02 11:11] vjorjo commented on #7149
One example it comes to my mind is when some words are abbreviated with an apostrophe.
e.g.
"ΜΕΣΑ ΑΠΟ" is typically abbreviated to "ΜΕΣ'ΑΠΟ". (it means "through")
In this case the correct lower casing is "μεσ'απο"
or "ΑΣΕ ΤΟΥΣ" is abbreviated to "ΑΣ'ΤΟΥΣ". It means "let them" and is lowcased to "ασ'τους"

assert String.downcase("ΜΕΣ'ΑΠΟ", :greek) == "μεσ'απο"
assert String.downcase("ΑΣΕ ΤΟΥΣ", :gr

[2018-01-02 11:54] josevalim commented on #7170
I am almost sure you need to pass it as foo@nodename.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-02 12:25] jjl commented on #7170
Thanks, that worked! After a little trial and error, anyway. I now understand a bit better, but it wasn't clear from my first read in the docs:

- "HOST" is the same hostname as taken from the original iex process output
- The red text in the IEx doesn't indicate optional
- They have to match exactly, they may not simply be hostnames resolving to the same host

I'm not sure how to best point this

[2018-01-02 13:00] josevalim commented on #7170
IIRC They do not need to match exactly because whatever is after @ is used
exclusively for host finding. But I am not at a computer so I can’t
validate it right now.

What do you mean?

In any case, we can improve the error message.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-02 20:36] michalmuskala commented on #7149
@josevalim I don't think the implementation in https://github.com/elixir-lang/elixir/commit/44a8f665b1f224de5d6134e8e39658a57028c7a5 is correct - it uses the accumulator that is already converted for checking the previous codepoints, but I think the algorithm requires using the original string.

I'm not sure, though, if it actually matters - common sense tells that a cased character should convert

[2018-01-02 20:47] josevalim commented on #7149
Good catch. I will validate this hypothesis.

It is the sanest approach for now. Once we figure out all details and we are sure we have a fast implementation, we may be able to streamline it into the main one.

[2018-01-02 22:07] #7169 closed

[2018-01-03 10:52] hylkealons opened #7171 "Default value for System.get_env"
Hi there!

I'd like to supply a default value for `System.get_env` like in `Application.get_env/3`, so a default value can be specified if a system var is not specified.

Since this is a rather small change I already made the PR for this:
https://github.com/elixir-lang/elixir/pull/7172

[2018-01-03 11:31] josevalim commented on #7171
However, because we always return strings, you can easily get the behaviour of a default value by doing `System.get_env(...) || "default"`. In any case, thanks for the PR!

[2018-01-03 11:31] #7171 closed

[2018-01-03 11:43] hylkealons commented on #7171
that will work and is my current solution, but that'd be also the case in any function with an optional value right?

I am now having this several times in my config file:
[code]

Which I'd like to replace with:
[code]

Thanks for your time reviewing this :)

[2018-01-03 11:53] konstantinzolotarev opened #7173 "Errors raised in the init() for GenServer are never reported after its restart"
### Environment

* Elixir & Erlang versions (elixir --version): 1.5.3 (Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace])
* Operating system: MacOS

### Current behavior
Here is application sample:
https://github.com/konstantinzolotarev/sample_app

In sample: https://github.com/konstantinzolotarev/sample_app/blob/master/apps/fet

[2018-01-03 12:01] josevalim commented on #7155
Reported here: https://bugs.erlang.org/browse/ERL-549

Closing this for now as we will continue to track the issue there.

[2018-01-03 12:01] #7155 closed

[2018-01-03 13:25] whatyouhide commented on #7171
@hylkealons a function with an optional value can still return `nil` as its "proper" value and return something else as the default value, so this is not generally true.

[2018-01-03 17:31] rrrene opened #7174 "Code Formatter inconsistently changes indentation inside heredoc"
### Environment

* Elixir & Erlang versions (elixir --version):

* Operating system:

### Current behavior

When I create a file with a weirdly indented heredoc, like this

[code]

and I use the formatter

[code]

it does change the heredoc's content

[code]

(note how the line containing `42` is not indented any more to the right)

### Expected behavior

It should either indent the heredoc all at

[2018-01-03 17:59] josevalim commented on #7174
The formatter is actually correct. :) We use the position of the trailing `"""` to get the heredoc indentation. The final string in your case is:

[code]

You can verify this by printing the attribute right after. We should probably warn if this is the case.

[2018-01-03 18:06] davydog187 commented on #7174
@josevalim I don't think @rrrene is arguing that the left-most position is incorrect. The problem is that it uniformly indents all lines to the same indentation level. The `42` should be indented once more, respecting the original offset.

[2018-01-03 18:22] josevalim commented on #7174
The formatter is correct and it is keeping the code semantics. If the formatter kept the proposed indentation, the formatter would output the *wrong* string. Use IO.puts on the heredoc value and you will see what I mean.

[2018-01-03 18:29] rrrene commented on #7174
Actually, @davydog187 is correct: I assumed that the content of the heredoc should be kept.

In the first case shown above, it is:

[code]

and after applying the formatter it becomes:

[code]

So it actually changes the content of the heredoc, which is unfortunate for white-space-sensitive documents.

@josevalim I understand your argument that the closing `'''` is the technical reference point fo

[2018-01-03 18:32] rrrene commented on #7174
@josevalim Okay, never mind. I tested it the way you proposed and you are right. Not sure where I went wrong before.

Sorry for the inconvienince and thx for doing a great job!

[2018-01-03 18:57] fishcakez commented on #7173
Hi @konstantinzolotarev. The main log messages are only sent if a process crashes after it has started, i.e. `init/1` has returned `:ok`. However log reports are still sent to Erlang's `error_logger` but these are not enabled by default. To enable them from the command line:
[code]
Or via config:
[code]
The sasl reports (so called as logged by Erlang's `sasl`) are lower level information and error

[2018-01-03 18:57] #7173 closed

[2018-01-03 19:25] fishcakez commented on #7173
As a small note, if we included all or a subet of the sasl reports by default we would get a lot of duplicate log: every time there was a crash after an `init/1`.

[2018-01-03 19:33] isaacsanders opened #7175 "Passthrough timestamps in logging"
### Environment

* Elixir & Erlang versions (elixir --version):

[code]

* Operating system: OS X 10.11

### Current behavior

The `Logger` module currently does not allow me to provide my own timestamp for my log entries, which is almost certainly an acceptable behavior in most cases.

### Expected behavior

I am working on a library that integrates with a lower level C library that has the capab

[2018-01-03 20:08] josevalim commented on #7174
Folks, that’s what I am saying: the code does not behave differently after
formatting. Your expectation of what the string looks like does not match
the reality. The string you see after formatting is the string that
actually exists in practice. There is definitely a bug or at least area for
improvement, but it is not a formatter one.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformat

[2018-01-03 20:16] fishcakez commented on #7175
Using a module and function name Logger formatter you can do this already:
https://github.com/elixir-lang/elixir/blob/0baa5b1ca446876a1e2801e229669706ef182dcf/lib/logger/lib/logger/formatter.ex#L127-L129

[2018-01-03 20:16] OvermindDL1 commented on #7174
_/me is thinking that heredocs with lines without sufficient indentation should be a compile error..._

[2018-01-03 20:17] josevalim commented on #7174
@OvermindDL1 that's what I am thinking but we need to start at least with a warning since it is valid behaviour today.

[2018-01-03 20:21] josevalim commented on #7175
Yup, a custom formatter sounds like the way to go here. You can pass the timestamp in the metadata and choose accordingly which one to use. :+1:

[2018-01-03 20:21] #7175 closed

[2018-01-03 21:07] isaacsanders commented on #7175
how would I implement this on the library level that won't be clobbered on the application level?

[2018-01-03 21:13] fishcakez commented on #7175
@isaacsanders the formatter should be configurable in the Logger backend. At the library level you can add metadata to the log such as `override_timestamp: x` and then in your custom formatter check for the presence of this key in the metadata, and if it is present override the timestamp.

I am unsure how well this work with your existing formatting or backend. If it is a custom backend then you w

[2018-01-03 21:28] isaacsanders commented on #7175
This isn't a library for the a backend or a format. These are new log lines. I need a way to get the log lines into the logger, with the appropriate information.

[2018-01-03 21:29] isaacsanders commented on #7175
If I configure library one way, won't the log lines it generates be subject to the configuration of the logger configuration from the host application?

[2018-01-03 21:36] fishcakez commented on #7175
The host project/release

[2018-01-04 09:16] konstantinzolotarev commented on #7173
@fishcakez Awesome.
Thank you very much for explanation.

[2018-01-04 15:41] josevalim commented on #7047
The approach we chose here is causing some false positives. We will have to revert this or come up with another strategy.

[2018-01-04 16:34] mjadczak commented on #7152
@josevalim so admittedly I was not part of earlier discussions about this, but while I understand your reasons for not wanting to support generic code-level configuration comments, I think a binary "don't touch this" comment or even a function-level `@verbatim` attribute might be warranted. There are specific scenarios, especially when binary matching, where any configuration, no matter how comple

[2018-01-04 16:43] wojtekmach commented on #7152
I personally don't have this problem, but if there needs to be a way to exlclude, perhaps it would be confined to just `.formatter.exs`, e.g.:

[code]

the tradeoff is you'd lose all auto formatting in that file.

[2018-01-05 01:37] GoNZooo opened #7177 "Dialyzer only taking one path in `with` statement"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.5.2 & 1.6.0-rc

[2018-01-05 07:33] josevalim commented on #7177
Can you please provide a sample application that reproduces the error after a simple command, such as `mix dialyzer`? Or send a patch that adds a failing test case to our suite?

Thanks!

[2018-01-05 07:36] josevalim commented on #7177
Here is an issue that may be related: #6738

Btw, is there any chance that one of the two `with` conditions will never match, meaning it will indeed always returns `{:error, _}`?

[2018-01-05 09:12] dylan-chong opened #7179 "Dialyzer - False warning with abs - Guard test 0 | 1 | 2 | 3 >= 8 can never succeed"
### Environment

* Elixir & Erlang versions (elixir --version):

Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.5.3

Using dialyxir 0.5.1

* Operating system: Mac 10.13.2

### Current behavior

[code]

### Expected behavior

No warning should be shown

[2018-01-05 09:20] josevalim commented on #7179
Can you please provide a sample application that reproduces this? I have tried it locally and I could not reproduce it. Thanks.

[2018-01-05 09:33] dylan-chong commented on #7179
here you go:

[code]

[2018-01-05 10:15] josevalim commented on #7179
I cannot reproduce this on Elixir v1.5.3 and v1.6.0-rc although with Erlang 20.0 (erts 9.0). Can you please try earlier Erlang versions and let us know if the problem exists? If you can't reproduce it on earlier Erlang versions, then it is definitely an Erlang issue.

[2018-01-05 10:22] josevalim commented on #7179
I just realized that the project you shared doesn't have the code you reported.

[2018-01-05 10:30] josevalim commented on #7179
I was able to reproduce it in this simple Erlang file, so it is an Erlang bug:

[code]

Could you please report it to bugs.erlang.org? Thank you.

[2018-01-05 10:30] #7179 closed

[2018-01-05 12:27] mumughal opened #7180 "Bug: import_dependency not working"
### Environment

* Elixir & Erlang versions (Elixir 1.6.0):
* Operating system: MacOS 10.12.6

### Current behavior

When I try to import formatter from dependency, it doesn't seem to work. I have tried with `espec` formatter and a clean project.
I have created this new repository to test with clean project, still it doesn't seem to work.

### Expected behavior
Formatter should be able to import r

[2018-01-05 13:29] GoNZooo commented on #7177
I will create an app to make this easily reproducable. If one of the errors wouldn't hit (according to spec it should be fine and it works in practice with malformed XML, so I know it can hit the `:fatal_error` one) I would still expect dialyzer to tell me `{:ok, [Downloader.Torrent.t()]}` is a possible return value, but it simply doesn't think so.

[2018-01-05 14:06] GoNZooo commented on #7177
I've made a repo for this: https://github.com/GoNZooo/with_only_one_path

There's some additional info and repro steps in the README.

[2018-01-05 15:59] josevalim commented on #7177
Thanks @GoNZooo. I was able to reproduce the issue although I cannot reproduce it if I replace the call to FeederEx by something else with a similar return type.

This Erlang file can also reproduce the error and there is nothing suspicious about it:

[code]

So it is not an Elixir bug. It may be either a dialyzer bug or a bug in the feeder dependency.

Therefore I would like to ask you to reprodu

[2018-01-05 16:17] josevalim commented on #7047
To reproduce the issue, create a new project with those two files:

[code]

and

[code]

[2018-01-05 16:23] josevalim commented on #7047
This commit has been reverted in master and v1.6. /cc @Gazler

[2018-01-05 16:24] michalmuskala commented on #7047
Is this an issue with how this tried to use `code:soft_purge` or is that issue with `code:soft_purge` itself?

[2018-01-05 16:26] josevalim commented on #7047
soft_purge itself. From OTP 20 the module will be considered as purged even if it has anonymous functions lying around. When invoking those functions we get badfun/badarg. This is exactly what we were seeing.

[2018-01-05 16:27] josevalim commented on #7180
Thanks for the report with a mechanism to reproduce the issue. :heart: I am looking into this now.

[2018-01-05 16:33] josevalim commented on #7180
@mumughal I was able to format it just fine. Here is the file I got after formatting:

[code]

Note parens were not added to `it`, `subject`, `let` and friends.

What were you expecting to happen?

[2018-01-05 21:06] mumughal commented on #7180
I was working with Elixir 1.6.0-dev. I just upgraded to version 1.7.0-dev and now it works! :)

Thank you so much for looking into it.

[2018-01-05 21:25] GoNZooo commented on #7177
Ok, so after testing a few versions of this it does seem pretty conclusively that `feeder` (by way of `FeederEx`) was causing it. Both `xmerl_sax_parser` and `Scrape` did fine.

Thanks for taking a serious look at it! If there's a conclusion I guess it's that underspecs can cause dialyzer to act pretty strangely?

[2018-01-05 21:29] josevalim commented on #7180
Glad to hear!

[2018-01-05 21:29] #7180 closed

[2018-01-05 21:31] josevalim commented on #7177
I am not proficient enough in Dialyzer to say if that's the conclusion or if it is a bug. Maybe @fishcakez is though. :)

In any case, closing this as it is decidedly not an Elixir bug.

[2018-01-05 21:31] #7177 closed

[2018-01-05 21:33] fishcakez commented on #7047
I think we will need another solution to this issue.

[2018-01-05 21:39] josevalim commented on #7047
I am not sure we have a solution that allows us to properly garbage collect those modules/atoms. We could however allow explicit intervention:

1. Provide a `Code.reclaim_compilation_modules/0` that purges all pending modules. Mix could automatically invoke this function after compiling each project.

2. Have a threshold that, once reached, logs a warning saying that N modules are laying around in

[2018-01-05 21:46] fishcakez commented on #7177
I don't think this is related to underspecs. I looked at the repo and this issue and `FeederEx.parse(body)` is returning a 2-tuple in one and a 3-tuple in another but it may not matter here.

My assumption is that dialyzer believes that `FeederEx.parse/1` is not going to return `{:ok, %FeederEx.Feed{}, _}`, `{:ok, %FeederEx.Feed{}}` or `{:fatal_error, _, _, _, _}`. Therefore the only way this func

[2018-01-05 23:52] kipcole9 opened #7182 "Exception during compilation: (ArgumentError) argument error calling :erlang.get_module_info(Plug.Conn, :deprecated)"
### Environment

Elixir 1.6.0-rc.0

### Current behavior

Compiling a dependency (ex_cldr which I maintain) produced this error:
[code]
After conversation with @michalmuskala is seems this may have been the result of compilation mismatch between elixir versions and the user who reported the error is not long able to reproduce.

Looking at the master branch in `elixir_erl` that generate the `__info

[2018-01-06 02:04] josevalim commented on #7182
We already have everything in place for this not to happen. Mix
automatically deletes all previous .beam files when the Elixir version
changes.

If there is a bug in our safety mechanisms, we would need a mechanism to
reproduce in order to fix it.

I guess for now we can change the v1.6 branch exclusively to have an extra
safety net, but it will be removed on v1.7.
--

*José Valimwww.plataformatec

[2018-01-06 08:24] michalmuskala commented on #7182
I guess one way this could happen is with some module coming from outside of a mix project - through archive or even something else. I know that wasn't the case in this situation, though.

[2018-01-06 09:55] josevalim commented on #3589
A proposal for sharing documentation across languages has been sent: http://erlang.org/pipermail/eeps/2018-January/000540.html - the goal is for Elixir to support this new format and we will be able to show documentation for other languages once they adopt it too.

[2018-01-06 13:24] #7170 closed

[2018-01-06 13:30] josevalim commented on #7182
Fixed on v1.6.

[2018-01-06 13:30] #7182 closed

[2018-01-06 18:32] josevalim commented on #7152
I have a fix on PR #7183.

We are applying the "condensation" rules mentioned by @Eiji7, referred in the source code as "flex rendering" to both tuples and binaries. Flex rules try to fit the maximum number of entries per line.

We apply them to binaries because of the original issue reported here. And we are applying it for tuples because we already had some special rules for tuples but those rul

[2018-01-06 22:26] josevalim commented on #7152
@stefanchrobot it is the same as with any other data structure. If you add newline after `{` and before `}` then it will keep one entry per line. You can fix it by removing the newlines around the curly brackets.

[2018-01-06 22:32] josevalim commented on #7152
It is also worth noting that Elixir code has already been formatted a couple times while the formatter was still in development.

The original code was this:

[code]

And today it would be formatted as:

[code]

Which is more consistent with the `assert_receive` outcome. But since we have expanded it into a multiline tuple in some past iteration, it is keeping the multiline formatting. :)

[2018-01-07 05:33] untra commented on #3589
@josevalim has the proposal been submitted to https://github.com/erlang/eep yet?

[2018-01-07 13:40] ianrumford opened #7184 "v1.6.0-rc.0 new documentation groups for Modules do not add any clarity"
I don't believe the new documentation groups for Modules add clarity
and can be rather confusing.

For example when I saw IO&System I immediately thought it would have
the date & time functions: Finding the time is *the* system feature I
use most in every language I've ever used. But of course DateTime gets
the time and formats it as well. So maybe DateTime should live in
IO&System and Data&Behavi

[2018-01-07 15:16] josevalim commented on #7184
We completely understand this change may be an improvement to some and a regression for others. We will only know the net outcome once enough users try it out and give their opinion, so we really appreciate you are doing so.

I also agree that groups are a personal view and there are multiple interpretations. Our hope, however, is that the grouping will help newcomers, who need to make sense of wh

[2018-01-07 15:31] josevalim commented on #7184
To move the discussion forward I have opened #7185.

[2018-01-07 15:31] josevalim commented on #3589
The first step of publishing an EEP is to send it to the mailing list for discussion. :)

[2018-01-07 15:34] michalmuskala commented on #3589
It's very hard to access that EEP from the link you provided. Could you maybe post it in a gist or somewhere similar?

[2018-01-07 15:37] josevalim commented on #3589
Here we go: https://gist.github.com/josevalim/c6f8fdb4a3dc1afb769418a6b8f586fb

Note this is the initial draft. We will likely have some changes in it before it is finally published.

[2018-01-07 16:46] #7174 closed

[2018-01-07 18:18] goravbhootra opened #7186 "put_assoc/4 gets called when 3 params are supplied"
### Current behavior
`> e = Repo.get(Event, 1)`
%Eventyr.Events.Event{...}

`> Ecto.Changeset.put_assoc(%Registration{}, :event, e)`
** (FunctionClauseError) no function clause matching in Ecto.Changeset.put_assoc/4
The following arguments were given to Ecto.Changeset.put_assoc/4:

    # 1 %Eventyr.Registrations.Registration{}
    # 2 :event
    # 3 %Eventyr.Events.Event{}
    # 4 []
Why is the fo

[2018-01-07 18:47] pdawczak commented on #7186
Just a clarification, [`Ecto.Changeset.put_assoc`](https://github.com/elixir-ecto/ecto/blob/v2.2.7/lib/ecto/changeset.ex#L1098) accepts 4th argument, which is supposed to be an option keyword list, and by default (if not provided) it is assigned with empty list (`[]`).

In order to [`put_assoc`](https://hexdocs.pm/ecto/Ecto.Changeset.html#put_assoc/4) to work, first argument provided should be `Ch

[2018-01-07 20:07] josevalim commented on #7152
Btw, closing in favor of #7183. :)

[2018-01-07 21:00] josevalim commented on #7186
As @pdawczak explained. :)

[2018-01-07 21:00] #7186 closed

[2018-01-07 21:03] #7152 closed

[2018-01-08 13:34] MSch opened #7188 "Formatter bug on 1.6.0-rc0"
Was trying to test if formatting our code base with the formatter from 1.6.0-rc0 works.

Before:

[code]

After:

[code]

Needless to say, this doesn't compile any more.

[2018-01-08 16:19] josevalim commented on #7184
Closing in favor of the PR. Feel free to open more discussions about specific changes on the grouping functionality. The plan for now is to keep it around! Thanks!

[2018-01-08 16:19] #7184 closed

[2018-01-08 17:05] Grantimus9 commented on #6200
Updating homebrew solved this error for me when updating to macOS High Sierra. Thanks everyone for this thread! 👍  🔥

`Assertion failed: (ctx), function digest_update, file /BuildRoot/Library/Caches/com.apple.xbs/Sources/boringssl/boringssl-88.0.0.1.1/apple/crypto/digests.c, line 47`

[2018-01-09 12:28] josevalim commented on #7188
@MSch both before and after do not compile here locally:

[code]

and

[code]

what am I missing? :)

[2018-01-09 12:37] MSch commented on #7188
Ah, just checked: It compiles (for me) on 1.5.2-otp-20 but not on 1.6.

[2018-01-09 12:55] josevalim commented on #7188
@MSch hrm. I think there was a bug fix on this area because of the precedence of `|`. I will investigate.

[2018-01-09 12:59] #7149 closed

[2018-01-09 13:00] josevalim commented on #7149
Hypothesis validated and case ignorable characters added. Thank you for you help @vjorjo, it was essential in helping us move this forward and in guaranteeing the final implementation is correct.

[2018-01-09 13:13] #7188 closed

[2018-01-09 13:15] MSch commented on #7188
@josevalim ❤️

[2018-01-09 16:47] orestis opened #7192 "Improved Logger behaviour"
As discussed on the Elixir Forum and also on a blog post I wrote, the current Logger behaviour of switching to sync mode in order to try and put some back-pressure to the log producers can break some systems entirely.

When a system comes under unexpected load and the logging code might generate a huge amount of logs, a more safe behaviour is to drop log messages entirely (perhaps logging the fact

[2018-01-09 18:33] josevalim commented on #7192
Thank you!

Btw, are you using a custom log handler in your app?

I have spent most of the day today getting the Logger to crash and I couldn't. At some point I spawned hundreds of thousand of processing logging at the same time and the Logger was able to go along just fine - even after introducing a fake handler that sleeps for 0.1 seconds.

Another theory is that your system was overloaded doing

[2018-01-09 18:36] orestis commented on #7192
This was just the stock Logger from Elixir 1.5.3, logging to stdout, which was then taken care of using systemd, on CentOS. I'm not sure if the problem came from slow I/O or even I/O stopping entirely due to log rotation? I've no idea how systemd handles this.

I will try to make a reproduction in a VM...

[2018-01-09 18:38] josevalim commented on #7192
@orestis if you could make a reproduction VM that would be great and I will send some apps for you to try out. Does anyone know how I could simulate slow I/O from the OS side?

[2018-01-09 19:01] OvermindDL1 commented on #7192
Hmm, maybe make stdout be an unbuffered pipe to another program that throttles it as it wishes (or set the buffer very low)?

[2018-01-09 19:34] josevalim commented on #7192
@OvermindDL1 good idea. It probably can't be written in Elixir though because the VM is a bit peculiar on how it reads stdin (iirc it buffers everything).

[2018-01-09 19:41] orestis commented on #7192
I have setup a simple Vagrant VM; I will keep the investigation going tomorrow where I will try to recreate my architecture with a do-nothing app. Meanwhile, if there are other apps I can try, please share.

[2018-01-09 19:52] OvermindDL1 commented on #7192
Heh, I definitely don't think it could yeah, but a bash script or something would probably be enough all things considered.  ^.^;

[2018-01-09 22:02] josevalim commented on #7192
And #7193 should fix those issues.

[2018-01-09 22:22] pragdave opened #7194 "Possible mix dependency bug"
Application A has a dependency `{:b, github: "pragdave/b}`.

Application B has a dependency `{:c, github: "pragdave/c}`.

Run `mix deps.get` in A, and you correctly receive B and C.

Now change B to have a different dependency: `{:x, github: "pragdave/x}`.

Run `mix deps.update B` in A, and you receive a new B, but you do not receive X.

If you then do `mix deps.get`, it fetches X.

I would have e

[2018-01-09 23:52] josevalim commented on #7194
Dave, was this using the RC?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-10 03:06] brennana opened #7195 "Record.extract/2 cannot extract records from files that depend on other include files"
I noticed that `Record.extract/2` is unable to extract records if, for example, that record uses definitions from other include files.

Using the [pkt](https://github.com/msantos/pkt/tree/master/include) library as an example, the following will fail to compile since the `ipv4` record uses definitions that are defined in `pkt/include/pkt_ipproto.hrl`:

[code]

However, I see that since the record

[2018-01-10 08:32] josevalim commented on #7195
@brennana The includes is not enough because the includes value should be a list of directories for relative includes. In my opinion the ipv4.hrl should include any other header file it depends on, but it doesn't, so we can't address it here.

In any case, your idea of passing options to `:epp.parse_file/2` is excellent. I am going to push it to master in a second and you should be able to solve t

[2018-01-10 08:33] #7195 closed

[2018-01-10 08:42] josevalim commented on #7192
Closing in favor of the PR. :) @orestis if you could try the app above and the VM on top of the PR as well, it would be very appreciated. Thanks!

[2018-01-10 08:42] #7192 closed

[2018-01-10 10:38] #7194 closed

[2018-01-10 16:38] josevalim commented on #3589
The EEP has been published: http://erlang.org/eep/eeps/eep-0048.html

There is a PR that slightly changes the documentation format though to support translations: https://github.com/erlang/eep/pull/5/files

[2018-01-10 17:43] pragdave commented on #7194
Yes

On Jan 9, 2018 17:52, "José Valim" <notifications@github.com> wrote:

[2018-01-10 22:38] mguimas opened #7196 "Alias definition interferes with module definition"
### Environment

* Elixir 1.5.3
* Erlang/OTP 20 [erts-9.2]
* macOS 10.12.6

### Current behavior

When defining a module using an alias, like

[code]
the file `Elixir.A.beam` is generated as typically expected (and documented everywhere).

However, if the definition of module `A` is preceded by an `alias` defining alias `A`, i.e., the same alias as the module alias, like in

[code]

then what is g

[2018-01-10 22:52] josevalim commented on #7196
The use case is this one:

[code]

The reason why Bar inside Foo works is because it defines an alias behind the scenes. You can always get rid of the alias by using the `Elixir.` prefix.

[2018-01-10 22:52] #7196 closed

[2018-01-11 00:04] mguimas commented on #7196
If I understand the case you present, Elixir is generating the alias Foo.Bar behind the scene. But it should be possible to distinguish your case and the one that I presented, and give a warning at least in the latter case. Can you consider this suggestion? Thank you.

[2018-01-11 08:14] josevalim commented on #7196
The behaviour you described may be used intentionally too: https://github.com/elixir-lang/gen_stage/blob/cd59e0c17a04eb2a1951a1e979656b1d31375603/lib/gen_stage.ex#L1-L5

[2018-01-11 09:36] josevalim commented on #6996
It is also worth noticing that changing the umbrella root does not cause children configs to recompile or vice-versa. We should solve it when tackling this.

[2018-01-11 10:23] mguimas commented on #7196
That is an interesting use case: a module is developed and tagged as experimental, but used as if it was "official". Then, after the experimental phase, the `Experimental` tag is removed without affecting the client code. Still, while in this case it was intentional, I believe a warning would be useful to avoid unintentional use, like when someone uses another person's macro which generates an ali

[2018-01-11 10:33] josevalim commented on #7196
You should have stated with your case then :) since we do track aliases generated by macros and it probably makes more sense to warn on such cases.

The issue here with a warning is that people on valid use cases have no way to opt out of it.

Can you please provide a code snippet that reproduces the case you were seeing?

[2018-01-11 10:41] josevalim commented on #7196
Actually, I will take a step back. Unless the macro you are using wants to introduce an alias in your code, which then the behaviour you are seeing is intentional, they should move the alias outside of the quoted expressions.

For example, instead of:

[code]

they should do:

[code]

Otherwise they are indeed aliasing your code and you should see the results of such alias. :)

[2018-01-11 13:34] josevalim opened #7198 "Adopt EEP 48"
http://erlang.org/eep/eeps/eep-0048.html

The goal is to introduce `Code.fetch_docs/1` that returns the format in the EEP (or `{:error, _}` if the chunk is not available). Since the old documentation chunk will no longer exist, `Code.get_docs/2` should be changed to always return `nil` - which is a backwards compatible result - and be scheduled for deprecation.

We will also use the new chunk meta

[2018-01-11 13:34] josevalim commented on #3589
The EEP has been updated and we will adopt it by v1.7, see #7198. Once other languages get up to date, we should all live happily ever after. Closing this.

[2018-01-11 13:34] #3589 closed

[2018-01-11 13:38] mguimas commented on #7196
Perhaps I should have made my case explicit in the beginning, my fault. But it is nice to know you are tracking macro generated aliases, so the change perhaps does not require much effort.

Yes, the macro introduces an alias in the user's code. The case is:

1. The user calls the macro
1. The macro introduces an alias, e.g., `alias Something.X` in the user's code without the user being aware of
1.

[2018-01-11 14:19] vjorjo commented on #7149
You are welcome and in my turn I'd like to help you both @josevalim and @michalmuskala for your responsiveness and materializing correct Greek final sigma handling.

[2018-01-12 17:15] cmeiklejohn opened #7200 "Elixir won't compile under WSL"
### Environment

* Elixir & Erlang versions (elixir --version): 19.3, Elixir HEAD@cbcdcb1623be11e1ff0bd0bd46cb812c563c3bbd
* Operating system: Ubuntu on Windows Subsystem for Linux for Windows 10

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

### Current behavior

Should compile, but fails because of possible l

[2018-01-12 17:53] josevalim commented on #7200
Thanks for the report.

The line endings are by default LF but Git often does the converting to CRLF automatically on Windows systems depending on the autocrlf configuration. I am suspecting the conversion is happening and bash for Ubuntu is not enjoying the line endings.

You can try to validate this by running the command below and let us know if you see CRLF in there:

[code]

If so, setting au

[2018-01-12 18:12] josevalim commented on #7200
Yeah, so that looks like the root cause. Bash also gets very unhappy when I use CRLF as line endings on my machine. If you remove CRLF by disabling autocrlf or by running dos2unix, does it work?

[2018-01-12 18:49] cmeiklejohn commented on #7200
Switching the autocrlf setting for the repository didn't seem to fix anything for me, however, running dos2unix on the bin/elixirc file seemed to have done the trick.

However, now it's failing somewhere else.

[code]

[2018-01-12 18:54] cmeiklejohn commented on #7200
It looks like what I needed to do was the following:

[code]

[2018-01-12 18:56] cmeiklejohn commented on #7200
Resulting test failures from `make test`

[code]

[2018-01-12 19:28] josevalim commented on #7200
I am curious, what do you get for os:type?

[code]

?

If it returns Windows... then our tests are expecting CRLF in there.

Note those particular tests pass on [appveyor - Windows CI](https://ci.appveyor.com/project/josevalim/elixir/build/1-jv-remove-load+1949#L98).

[2018-01-12 19:29] josevalim commented on #7200
Actually, I see what happened. We had some files with literal CRLF in them but dos2unix removed them and stripped the BOMs, which broke the tests!

[2018-01-12 19:35] cmeiklejohn commented on #7200
It's a full Ubuntu instance running inside of the Linux subsystem, so it reports as Linux.

[code]

[2018-01-12 20:50] josevalim commented on #7200
Ah, that's better!

Given that those files originally had CRLF and BOM in them and they were stripped away by dos2unix, you can try fix them by hand or by reverting them on Git explicitly. Then all of your tests should pass.

Is there anything else we can do on our side to close this issue?

[2018-01-12 23:26] cmeiklejohn commented on #7200
No, thanks for all of your help!

[2018-01-12 23:26] #7200 closed

[2018-01-14 10:34] fxn opened #7208 "iex --erl "-mode embedded" crashes"
### Environment

Elixir:

[code]

OS is macOS High Sierra (10.13.2).

### Current behavior

[code]

### Expected behavior

IEx starts just fine, or yields a controlled error message if running in embedded mode is not possible for some reason.

[2018-01-14 13:27] fxn commented on #7208
Why does it work in vanilla `erl`?

[2018-01-14 15:09] josevalim commented on #7208
Because when you boot Erlang, it includes the minimum necessary for Erlang
to work, with or without the wheel. But if you try to invoke any other
application in Erlang stdlib it won’t work.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-14 15:38] fxn commented on #7208
Let me see if I get it.

I'll explain the mental model I have built so far, and you tell me where is the error :).

I had understood that `embedded` eager loads the modules _according to the boot script_. That does not mean the boot script needs to have all of them listed. Also, with that description in hand, it does not follow there has to be a release involved to be able to load other modules or

[2018-01-14 16:27] fishcakez commented on #7208
`embedded` will not automatically load a module when one of its functions is called when the module is not loaded, instead it will error immediately. It is expected that every module is loaded already. Try to call `foo:yo().` in that last Erlang shell and it will get undef error.

[2018-01-14 18:19] fxn commented on #7208
But the shell is functional and you can use the module:

[code]

To me, interactive/embedded seems a pretty simple concept that is quite independent of anything else, and that only assumes the existence of a boot script. Any boot script, the generated in a release, or the stock ones, doesn't matter.

Seeing how the system behaves my hypothesis (I have not read the source code) is that embedded mea

[2018-01-14 19:17] josevalim commented on #7208
Embedded is actually only about "prevent the error handler from falling back to the code server". You can run in interactive or embedded mode regardless of the presence of a bootscript. It is just that, without a bootscript, embedded mode is quite annoying as you need to do everything by hand. :)

The solution to this issue would be for Elixir to ship with its own bootscripts. One for Elixir and a

[2018-01-14 19:22] fishcakez commented on #7208
Fortunately this concern isn't valid because we can write a boot script that has the right behavior based on interactive/embedded mode. There is an instruction that effectively stops further modules being loaded in interactive mode but they will be loaded in embedded mode.

[2018-01-14 19:24] josevalim commented on #7208
@fishcakez oh, so I guess we should start chopping. :D Although I don't think we should start this before we have releases in Elixir... does it sound sane?

[2018-01-14 19:25] fishcakez commented on #7208
I don't think we should either because come to think of it we can't write this boot script for multiple versions of OTP, we would have some form of release structure so that we always used the same erts runtime once Elixir is built. Almost certainly that means shipping Elixir as a release.

[2018-01-14 19:28] fishcakez commented on #7208
ER not the same ERTS runtime, the same application versions of the built in OTP apps because we would need to know the paths (includes version) and the module list.

[2018-01-14 19:28] fxn commented on #7208
Ah, I thought a boot script was required for ERTS to launch.

[2018-01-14 19:29] fishcakez commented on #7208
It is. The bootscript is always run but in interactive mode once the essentials are loaded the remaining load instructions are ignored. Other instructions still run the same though.

[2018-01-14 19:40] fxn commented on #7208
Cool guys! So guess we can close this one by now.

By the way, I have no practical need for running IEx in embedded mode other than to inspect loading/starting applications for the sake of studying the concepts and procedures. It was a good exercise anyway to understand why it does not work.

Thanks for the discussion ❤️.

[2018-01-14 19:40] #7208 closed

[2018-01-14 19:40] josevalim commented on #7208
Ah yes. The bootscript includes which modules to load and that will depend on the OTP version. :S

[2018-01-15 00:38] KronicDeth opened #7209 "Macro.to_string does not rewrite guards, so output is inconsistent with exception blaming"
I'm not sure if this is actually a bug, since `Macro.to_string` output is valid, just inconsistent with another module's output, the exception blaming.

I can make the argument that it should be left as-is because it shows literally what is in the AST.

Arguing the other side, it can be confusing for new user as they have to know that internally, Elixir guards are translated to these `:erlang` gua

[2018-01-15 08:29] josevalim commented on #7209
Macro.to_string should be kept as is.

While we do handle things such as sigils, we only do so because there is no ambiguity behind their calls. If we see `sigil_r` as a local call with a `<<>>` node as first argument then we can translate from one to the other without ambiguity.

When you see `:erlang.==` in the AST, it is impossible for us to know if the user wrote `==`, `Kernel.==` or `:erlang.

[2018-01-15 08:29] #7209 closed

[2018-01-15 12:38] KronicDeth commented on #7209
This is a helpful distinction. Thank you.

[2018-01-15 21:26] henry-hz opened #7211 "mix phx.gen.html generates user_view.ex with XWeb name even for apps called only X"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version): 1.52
* Operating system

[2018-01-15 21:34] fertapric commented on #7211
@henry-hz this is the expected behavior. You can find more info at http://phoenixframework.org/blog/phoenix-1-3-0-released

[2018-01-15 21:43] fertapric commented on #7211
Said that, `mix phx.gen.*` tasks belong to the Phoenix project https://github.com/phoenixframework/phoenix. I would submit to that GitHub repo any issues related to these generators, and not to the Elixir language one.

[2018-01-15 22:01] henry-hz commented on #7211
i forgot to tell that it's an umbrella app.
thanks

[2018-01-15 22:01] #7211 closed

[2018-01-17 07:12] molavy opened #7215 "error compile elixir"
on compile elixir from source git
make test clean
  1) test stream keeps BOM (FileTest)
     test/elixir/file_test.exs:1449
     Assertion with == failed
     code:  assert [<<239, 187, 191>> <> "Русский\n"] == bom_line
     left:  ["\uFEFFРусский\n"]
     right: ["Русский\n"]
     stacktrace:
       test/elixir/file_test.exs:1457: (test)

..........................................................

[2018-01-17 08:34] josevalim commented on #7215
There are tools, sometimes git depending on your configuration, that
removes BOM and CRLF. I would recommend checking what is your git autocrlf
config and check of anything may have stripped those files along the way.
Note the tests pass on CI (although they use another Linux distro)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-17 18:24] josevalim opened #7216 "Measure if removing optimizations during scripting can help compilation time"
As suggested by @michalmuskala.

[2018-01-18 01:16] novaugust commented on #7008
Came here to open an issue but I think you're describing what I came to ask about.
The following is not considered a bug then, right?
[code]

[2018-01-18 08:31] josevalim commented on #7008
Yup, it is not a bug. I believe the ja_resource is the same project that actually made me first open this. :)

[2018-01-18 09:00] josevalim opened #7217 "Show @since and @deprecated in `h` in IEx"
Depends on #7198.

[2018-01-18 09:20] lukaszsamson opened #7218 "Dialyzer error in Supervisor.start_link"
### Environment

* Elixir: 1.6

### Current behavior
valid module supervisor code
`Supervisor.start_link(__MODULE__, {arg1, arg2, arg3})`

results in
`lib/myapp/supervisor.ex:5: The call 'Elixir.Supervisor':start_link('Elixir.MyApp.Supervisor',{_,_,_}) breaks the contract ([supervisor:child_spec() | {module(),term()} | module()],options()) -> on_start()`

### Expected behavior

clean type check

[2018-01-18 09:26] #7218 closed

[2018-01-18 10:14] samphilipd opened #7220 "Elixir 1.6 causes dialyzer to show error `Function init/1 has no local return` if `name` is given as argument"
### Environment

* Elixir & Erlang versions (elixir --version):

[code]

* Operating system:

Mac OS High Sierra 10.13.2 (17C205)

### Current behavior

Dialyzer emits warnings that were not present in elixir 1.5

[code]

Module looks like:

[code]

It does not emit an error here:

[code]

### Expected behavior

I would expect dialyzer to not emit any error in either case.

[2018-01-18 10:24] fxn commented on #7208
Summary of the thread for the archives:

You can run `erl -mode embedded` because Erlang/OTP is distibuted as a release and its boot script loads all is needed to run the shell and have a normal runtime. Interactive loading is disabled, but, as a curiosity, you can still modify the code path with `-pa` and friends and load modules by hand using `l(module)` or `code:load_file(module)`.

As of this

[2018-01-18 10:29] josevalim commented on #7220
Dialyzer is correct here. `:name` is not a valid option to give to `init`.

[2018-01-18 10:32] josevalim commented on #7215
Please let us know if you have more info and we will gladly reopen this. Thank you!

[2018-01-18 10:32] #7215 closed

[2018-01-18 11:26] novaugust commented on #7008
Thanks for the confirmation! FYI, there's nothing about this change in the 1.6 changelog, but hopefully people'll just find this issue

[2018-01-18 11:41] josevalim commented on #7008
There is nothing in the CHANGELOG because it is supposedly the same
behavior as in v1.5. If it is not the same behavior then we do have to fix
it.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-18 12:51] lukaszsamson opened #7221 "Code recompilation issue"
### Environment

* Elixir: 1.6

### Current behavior

In a phoenix app I have a plug that reads some config value in `init/1` callback.
I run `mix test test/my_plug_test.exs`, the test passes
Next I change the config to some invalid value
I run `mix test test/my_plug_test.exs` again and it still passes (should now fail)
The app is not recompiled, and the old config value is still used.

Side note:

[2018-01-18 13:04] rranelli commented on #7221
could you provide us with a code sample reproducing the issue?

[2018-01-18 13:05] lukaszsamson commented on #7221
I'll try to prepare a minimal repro

[2018-01-18 13:34] josevalim commented on #7221
Is it an umbrella application or a regular one? Where do you change the
config value?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-18 13:38] lukaszsamson commented on #7221
It's an umbrella. I'm changing `config :my_app_web, :prop_name, 1` in  `lib/my_app_web/config/test.exs`

[2018-01-18 13:55] josevalim commented on #7221
It is a known issue. There is an issue to track it, I will post it here
when I am back home.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-18 15:17] rhnonose opened #7224 "Clause cannot match warning on line 1 after upgrading to elixir 1.6"
### Environment

* Elixir & Erlang versions (elixir --version): `1.6.0` and `20`
* Operating system: macOS High Sierra `10.13.1`

### Current behavior

When compiling, the following module gives the warnings:
[code]

Here's the full module:

[code]

There's no warning in Elixir `1.5.2` and commenting out the line `25` (`resources("/listings", ListingController, only: [:index, :show])`) also remove

[2018-01-18 15:24] OvermindDL1 commented on #7224
I think that is because a bug was fixed.  There is overlap in the calls between both of the `"/listings"` resources so that error 'should' have been there, but because of a bug it was not being shown before?

[2018-01-18 17:07] RichMorin commented on #6647
I strongly support @pragdave on this issue and would extend it to any number of situations where the programmer uses spacing to clarify parallel construction, emulate a tabular format, etc. There are lots of examples in "Programming Elixir" that show effective use of inline spacing to clarify intent. Please allow Elixir programmers more flexibility in "hacking beautiful code".

[2018-01-18 21:55] kelvinst opened #7227 "Formatter caused backward incompatibility on a library by changing `not x in list` to `x not in list`"
### Environment

* Elixir & Erlang versions (elixir --version): 1.6.0 **and** a version before 1.5.0
* Operating system: Travis-CI 😆

### Current behavior

I recently opened a PR with the new formatter configuration and run on the poison lib. Here is it: https://github.com/devinus/poison/pull/160

As you can notice, none of the tests passed. The reason: `not Mix.env() in [:dev, :test]` was changed

[2018-01-18 22:15] josevalim commented on #7221
See #6996 (also opened by you :D).

[2018-01-18 22:15] #7221 closed

[2018-01-18 22:21] josevalim commented on #7220
Closing this for now! Please let us know if you have any questions.

[2018-01-18 22:21] #7220 closed

[2018-01-19 01:05] novaugust commented on #7008
Might need to fix it then! I only saw this compiler error when trying out 1.6 to see if we could immediately upgrade.

Here's the same code as above, run on 1.5.1 (version in top line)
[code]

[2018-01-19 01:28] atomkirk commented on #7008
also seeing this with changing nothing else in my project except upgrade to 1.6.

compile, no warning
`asdf install elixir 1.6 && asdf global elixir 1.6`
compile, warnings

[2018-01-19 07:33] samphilipd commented on #7220
Did the interface change in Elixir 1.6? How do we give a name to the supervising process now?

[2018-01-19 07:41] samphilipd commented on #7220
Ah I see, it gets passed to start_link. Not sure how this ever worked then... Thanks!

[2018-01-19 08:02] josevalim commented on #7008
Thanks folks! I just double checked Erlang once again and it does emit those warnings. I would say we should align with Erlang here, because otherwise tools like dialyzer can misbehave too, so I will go ahead and update the CHANGELOG.

[2018-01-19 08:37] princemaple opened #7230 "GenServer injects an @opts in using code"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.6
* Operating system: N/A

### Current behavior

In Elixir 1.6 `use GenServer` injects an `@opts` into the destination module
This can cause problems if you have the same module attribute above the line `use GenServer`
And having code referring to `@opts`

See someone reporting this on slack https://elixir-lang.slack.com/arch

[2018-01-19 08:38] josevalim commented on #6647
Thanks everyone for the feedback.

I will reopen this issue for discussion. The only way we can support this feature is by having some sort of opt-in approach. Otherwise, any project with multiple contributors will end-up with an inconsistent style, as some developers will align some entries and others won't. Having this would completely defeat the point of the formatter.

I have some ideas in min

[2018-01-19 08:39] josevalim commented on #7230
@princemaple good call. We should namespace it.

[2018-01-19 08:59] #7230 closed

[2018-01-19 09:03] princemaple commented on #7230
⚡️ ⚡️ ⚡️

[2018-01-19 09:17] seantanly opened #7231 "All comments within pipe expressions are shifted to top"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.6.0, Erlang OTP 20.2.2
* Operating system: MacOS

### Current behavior

Before `mix format`
[code]

After `mix format`
[code]

### Expected behavior

[code]

[2018-01-19 09:19] josevalim commented on #7231
Can you please provide actual code samples to help move the discussion forward? Thank you.

[2018-01-19 10:25] josevalim commented on #7224
Good catch. I am on it. Let's see what we can do.

[2018-01-19 10:47] josevalim commented on #7224
[Fixed on Phoenix](https://github.com/phoenixframework/phoenix/commit/91d342661745f171bb41ed4810989238d42a399e) and back-ported to v1.3 there.

[2018-01-19 10:47] #7224 closed

[2018-01-19 11:22] seantanly commented on #7231
I assume the discussion is going towards whether we should even use comments within pipeline statements.

On looking at my codebases, I realize how rare I use comments within pipe statements. I understand complex/ambiguous code blocks should be extracted to well-named functions with comments when necessary.

My use case is making use of `IO.inspect` within pipe statements for quick print/debug cyc

[2018-01-19 12:08] josevalim commented on #7231
Partially yes. The tricky part is that we need to be explicitly support interleaved comments in the desired constructs. So we not only need to discuss if we want to support interleaved comments in pipelines, we also need to discuss if we want to generalize it to other operators or not.

But in general I would say supporting it for pipelines would be fairly straight-forward because the operator alw

[2018-01-19 12:10] category commented on #5990
I'm getting the same issue.
Here's a workaround.
Download Erlang OTP from the[ downloads section](https://www.erlang-solutions.com/resources/download.html), then install.
Then download and run precompiled Elixir from the [relevant section](https://elixir-lang.org/install.html#precompiled-package).

[2018-01-19 12:48] AndrewDryga commented on #7231
I can't recover where is the exact code, but I had a comment that was like a "TODO: replace this with blah blah blah". And it lost it's sense after it was moved to the top of pipeline.

[2018-01-19 15:34] cdesch commented on #5990
I can't recall exactly what I did back then, but I believe the installation errored out in the terminal, although the installation actually completed fine. AFAIK, I was able to run Elixir fine for the project I was working on, although I may not (Most Likely Not) have used every module in Elixir/Erlang. I'm not sure if one of those modules may have been what caused the installation to fail and thr

[2018-01-19 17:21] endersstocker opened #7232 "Formatter quirks in function heads"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir v1.6.0 & Erlang/OTP 20
* Operating system: macOS 10.13.2

### Current behavior

**Code.format_string!/1-2** seems only to approximate the line length for function heads.

The following examples when formatted with a line length of 98, yield lines over 98 characters long (up to 101).

[code]

[code]

[code]

The examples have po

[2018-01-19 17:29] OvermindDL1 commented on #6647
I try to whenever all the values are single-line.  If any are multi-line then I tend to not to, so for example:

[code]

[2018-01-19 17:41] chrismcg commented on #7231
I have often commented out parts of pipelines when exploring ideas during development. This moving comments behaviour combined with a format on save option in an editor wouldn't work together very well in this scenario.

[2018-01-19 20:07] pragdave commented on #6647
First, a serious and grateful "thank-you" for reopening this.

Second, I agree 100% that this is one of those bicycle shed issues, and I want to avoid that.

Third: I wonder if this is an issue at all. A (perhaps) unreasonable suggestion is to remove the formatter from the core and make it a free standing tool. Here's my reasoning:

The genesis of the formatter was as the solution to a real proble

[2018-01-19 20:28] josevalim commented on #6647
Could we please keep the discussion focused? This is not an issue about the
usefulness of the formatter. I am glad to discuss it but not here. If we
could focus on the two questions so we can move this issue forward, it will
be very appreciated.

PS: I am aware we can’t support white space generally. That’s exactly why I
asked for code samples. Let’s see some use cases and discuss that.
--

*José

[2018-01-19 20:32] pragdave opened #7233 "Remove formatter from core"
The genesis of the formatter was as the solution to a real problem: the Elixir core folks wanted to keep their source consistent even as they received PRs from many different sources in many different formats (guilty!). The current tool does a good job for them.

But does it solve a general problem? I'm not convinced. Have Elixir users complained in volume about the lack of a tool that would forma

[2018-01-19 20:36] pragdave commented on #6647
I moved my stuff about removing the formatter out to https://github.com/elixir-lang/elixir/issues/7233.

I put it here only because I thought it might short-circuit the need to discuss the lower level issues raised.

[2018-01-19 20:40] josevalim commented on #6647
Thanks Dave, very appreciated!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-19 21:36] whatyouhide commented on #7233
I see your point Dave, but I think taking it out of core to, say, elixir-lang/formatter would still make it the "officially blessed" formatter. As for the "we all must use" part, the formatter is currently definitely opt-in in any project: you still have to run `mix format` manually, or set up your editor to run it for you, or set-up CI, and so on. The Elixir team just chose to go with the formatt

[2018-01-19 21:43] pragdave commented on #7233
Let me come at this a different way.

Why _should_ it be in core? Core is a place of privilege: things must
justify their place there.

Mix has a place, because elixir is not really usable without it.

Exdoc does not have a place because many people don't use it, and it
doesn't _need_ to be there.

Formatter has a place because...??

Dave

On Fri, Jan 19, 2018 at 3:36 PM, Andrea Leopardi <notifica

[2018-01-19 21:47] yordis commented on #7233
Because I dont want to be adding a dependency for something that I will use 100000% of the time.

Probably I would say the same of ExDoc, I hope it gets into an stable version and be add it into the core.

P.S: I wouldn't expect ExDoc or Formatter code into the production release but that is a simple detail to fix.

[2018-01-19 21:50] devonestes commented on #7233
The reason I'm happy to have an official formatter that's part of core is because it takes an entire chunk of potential disagreements within my team - or any other team I may be a part of, including open source libraries - off the table. Every Ruby team I've ever been on has had discussions about formatting and style, and they always end up being contentious and rarely are they worth the argument.

[2018-01-19 21:51] yordis commented on #7233
Formatter being part of Mix predefined task improve the community and the coding experience of Elixir, a lot of people still talking about formatting in 2018, being unproductive about, or when you work with people that just don't care about you make it hard for the one that do. With such of tool out of the box there is not more concern about it and people do not pay attention.

**Learn from other

[2018-01-19 22:03] pedrosnk commented on #7233
I do think that Dave's arguments makes a lot of sense. In a way I don't like so much about the way Go forces you to uses its formatter. if your code is not formatted it doesn't compile. Some teams prefere doing the formatting of the code on different ways that makes more sense for them. that includes ways of writing DSLs etc...

But even tho. I think formatter should stay on the elixir core. Is gr

[2018-01-19 22:13] josevalim commented on #7233
It seems we had different experiences so far @pragdave. :) From my perspective, the formatter has been extremely well received.

The reason the formatter was created was not actually because of pull requests in Elixir Core. I was actually totally fine with formatting contributions. The trouble is that the team members, which is a small group, could not agree on a standard to follow. Even [when we

[2018-01-19 22:13] #7233 closed

[2018-01-19 22:29] meatherly opened #7234 "Regression with bitstring collectable in 1.6.0"
For some reason this code

    for i <- 7..0, into: <<>>, do: if i in [0, 1], do: <<1::1>>, else: <<0::1>>

fails on Elixir 1.6.0 but not on 1.5.3

__1.6.0__

    iex(1)> for i <- 7..0, into: <<>>, do: if i in [0, 1], do: <<1::1>>, else: <<0::1>>
    ** (ArgumentError) argument error
       :erlang.iolist_to_binary([[[[[[[["" | <<0::size(1)>>] | <<0::size(1)>>] | <<0::size(1)>>] | <<0::size(1)>>]

[2018-01-19 22:52] meatherly commented on #7234
Found it: https://github.com/elixir-lang/elixir/commit/c99cac4794abd04a2bb493b6f96d60902dea8a10#diff-d621435d87bbb8c650d7cf8114f19a99

Just a reminder for @josevalim

[2018-01-20 00:01] blaketan opened #7236 "Lack of warning(s) when application in umbrella has a higher Elixir version specified"
### Environment

* Elixir & Erlang versions (elixir --version):  1.5.2, OTP 20.1
* Operating system:  Mac OSX

### Current behavior
I'm upgrading my umbrella application from 1.5.2 to 1.6.0, and 1 of more applications in the umbrella will rely on new features in 1.6. I'd like to enforce the constraint that Elixir 1.6 needs to be installed.

While on 1.5.2, I tried changing an application's `mix.ex

[2018-01-20 12:17] josevalim commented on #7216
I have removed all optimizations and I could not perceive any difference during compilation time on projects like Ecto and Plug.

[2018-01-20 12:17] #7216 closed

[2018-01-20 17:25] #5749 closed

[2018-01-20 22:47] josevalim commented on #7236
This is tricky. Today we have it inside "loadpaths" but that task is only invoked for the current application. We could move it inside "compile.elixir" but then it won't be invoked if you are not compiling the project, such as in production under the --no-compile flag. So I am more inclined to mark it as won't fix because there is nowhere else to move it without drawbacks.

Thanks for the report!

[2018-01-20 22:48] josevalim commented on #7231
@chrismcg that's a very good example. Let's tackle this then.

[2018-01-20 23:53] #7232 closed

[2018-01-21 12:25] #7234 closed

[2018-01-22 16:03] benwilson512 opened #7246 "Forcing Logger Sync"
Hey folks, in talking with @fishcakez it was unclear which precise set of logger configurations might force it to operate in sync mode. A forced sync mode can be useful for example in development when using it to correlate database access with other specific function calls.

This may be a simple matter of documentation, or if there isn't any such logger configuration, a change to enable this.

[2018-01-22 16:07] josevalim commented on #7246
Probably setting sync_threshold to 0 is enough. But we would need to document it and write a test.

[2018-01-22 23:37] blaketan commented on #7236
I understand. Maybe an easy workaround would be for the `mix new <APP> --umbrella` task to generate the root `mix.exs` project with a `elixir: <VERSION>` line?

[2018-01-23 08:41] josevalim commented on #7236
@blaketan I know some applications do it but I don't want to add yet another place for adding configuration in an umbrella. :(

[2018-01-24 12:09] #7231 closed

[2018-01-24 12:09] josevalim commented on #7231
Thanks everyone, I have fixed this in master.

Since the change was a bit larger than I expected, it requires a bit more testing, so I won't backport it to v1.6 branch for now.

[2018-01-24 13:46] josevalim commented on #7046
Another approach here is to automatically wrap the arguments to Logger in a function (at least semantically speaking - in practice we can optimize it). So if you do:

    Logger.debug args = 1
    args

It will never work. This will reduce the amount of pitfalls and it will consistently evaluate the arguments only if the proper Logger level is present. This would effectively remove the need for an

[2018-01-24 16:31] OvermindDL1 commented on #7046
Hmm, I'm not for automatically wrapping, it won't fix the, for example, the `pipe` in the comment right before yours and it would still be surprisingly removed only in production for those that don't know.

[2018-01-24 16:32] OvermindDL1 commented on #7046
What about when something is done for the side effect though, that will still hide it's action just as well as it does now.

[code]

[2018-01-24 20:15] josevalim commented on #7046
@OvermindDL1 the difference is that we now fail more consistently. For example, when using different levels, and not only when a special flag is used.

[2018-01-24 20:36] OvermindDL1 commented on #7046
Yep, it'll help in the case in pipelines that are assigned to something, but not ones that exist purely for their side effects though yes?

[2018-01-25 03:21] costaraphael opened #7255 "Consecutive calls to IEx.pry/0 don't pause the execution as expected"
Hey, I was working with my friend @pdgonzalez872 and we found some weird behavior in the `IEx.pry/0` macro.

We spent some time on it and narrowed it down the behavior to a simpler example. Also, we found out that this works on Elixir 1.4.5.

Here are the details:

### Environment

* Elixir & Erlang versions (elixir --version): 1.5.3 and up
* Operating system: Linux and OSX

### Current behavior

[2018-01-25 03:33] pdgonzalez872 commented on #7255
Just want to add that the `debugger` strategy mentioned [here](http://blog.plataformatec.com.br/2016/04/debugging-techniques-in-elixir-lang/) still works and can be used as an alternative. Unrelated, but, if someone really needed the functionality, it is available at least.

[2018-01-25 17:38] gbovyn commented on #6122
I just ran into this issue. As dartg suggested, going to "Internet Options > Advanced Options > Security" and checking "Use TLS 1.1" or "Use TLS 1.2" fix the issue. I only had SSL3.0 and TLS1.0 activated before.
(IE 8 - Windows 7)

[2018-01-25 22:14] KronicDeth opened #7258 "Potentially useless allocate/deallocate bytecode operations that could slow code execution/loading"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system: macOS High Sierra 10.13.2

### Current behavior

`genop.tab`'s description of [`allocate`](https://github.com/erlang/otp/blob/OTP-20.2.2/lib/compiler/src/genop.tab#L90-L94) arguments are described

[code]

So, from that description, I would think that the `allocate` is a no-op if `StackNeed` is not `> 0` sin

[2018-01-25 22:37] michalmuskala commented on #7258
`allocate 0` is not a NOP, besides allocating place on the stack for the `Y` registers, it also saves the continuation pointer on the stack. This is needed when you call some other function from that function, otherwise the original return point would be lost. Symmetrically, `deallocate 0` besides deallocating place for the stack registers, pops the continuation pointer from the stack and sets it

[2018-01-25 22:39] KronicDeth commented on #7258
Thanks @michalmuskala.  It's good to know that `allocate(0, 0)` is used just for it's save `CP` effect.

[2018-01-25 22:39] #7258 closed

[2018-01-26 09:39] pbudzik opened #7260 "Enum.chunk_every/2 strange results"
### Environment

* Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.7.0-dev (97cf609) (compiled with OTP 20)

* Operating system: MacOS Sierra

### Current behavior

x = Enum.chunk_every([9, 9, 1, 0, 0], 1)
IO.inspect(x)

['\t', '\t', [1], [0], [0]]

### Expected behavior

[[9],[9], [1], [0], [0]]

[2018-01-26 09:43] wojtekmach commented on #7260
note:

[code]

so nothing to do with chunk_every. Elixir attempts to print this as a list of characters, see `iex> i [9]` for more information.

[2018-01-26 09:48] pbudzik commented on #7260
Good to know...but should not IO.inspect correctly serialize to string? How
can I print it correctly then ?

2018-01-26 10:43 GMT+01:00 Wojtek Mach <notifications@github.com>:

[2018-01-26 09:53] wojtekmach commented on #7260
[code]

note this prints what you'd expect, but returns the default representation. If you need a string you can do:

[code]

This is documented in https://hexdocs.pm/elixir/IO.html#inspect/2, https://hexdocs.pm/elixir/Inspect.Opts.html

[2018-01-26 09:56] michalmuskala commented on #7260
See a good explanation here https://github.com/elixir-lang/elixir/wiki/FAQ#4-why-is-my-list-of-integers-printed-as-a-string For the reasons behind this design, look at this mailing list thread https://groups.google.com/forum/#!msg/elixir-lang-talk/0xxH9HxdQnU/LHgK8elhEQAJ

[2018-01-26 09:57] pbudzik commented on #7260
Thanks alot! Please close the ticket.

2018-01-26 10:56 GMT+01:00 Michał Muskała <notifications@github.com>:

[2018-01-26 11:02] fertapric commented on #6647
If it helps, here is a real life example I spotted today: https://github.com/michalmuskala/jason/blob/master/bench/encode.exs#L2-L9

[2018-01-26 14:10] #7260 closed

[2018-01-27 07:49] tontytwo commented on #7246
Hi, I want to contribute to elixir, is this a good task for a beginner like me?

[2018-01-27 08:38] josevalim commented on #7246
@tontytwo you will have to try it to be sure. :)

Here is the place where we would write a test to verify this behaviour: https://github.com/elixir-lang/elixir/blob/master/lib/logger/test/logger/utils_test.exs#L14

The documentation should be added to the `Logger` module.

Have fun!

[2018-01-27 17:06] victorolinasc opened #7267 "b() helper on IEx does not show optional callback for GenServer"
### Environment

* Elixir & Erlang versions (elixir --version):
erlang: 20.2 (asdf/kerl)
elixir: 1.6-otp-20 (asdf)

* Operating system:
Linux x64 (Fedora 27)

### Current behavior

[code]

### Expected behavior

Information on which callbacks are optional. In the case of `GenServer` that would be `format_status/2`.

Not sure the best output though \o/

[2018-01-27 17:29] josevalim opened #7268 "%[] leads to syntax errors pointing to the wrong location"
[code]

or:

[code]

[2018-01-27 20:28] schnittchen opened #7270 "Code.string_to_quoted raises exception instead of returning error"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system:
Arch Linux

### Current behavior

[code]

### Expected behavior

Other syntax errors give a result of `{:error, _}`

[2018-01-27 20:47] #7246 closed

[2018-01-27 20:56] josevalim commented on #7267
Thanks for the report. I think we should show all callbacks first and show the optional ones at the end. Something like this:

[code]

[2018-01-27 21:00] schnittchen commented on #7270
Very similarly:

[code]

[2018-01-27 21:01] schnittchen commented on #7270
I'm fuzzing code with StreamData and rescued those two cases. It looks like there is nothing more coming.

[2018-01-27 21:46] pragdave opened #7271 "Could we allow the child_spec shortcut to be more general"
Currently,

[code]

is the same as

[code]

and this passes an empty list to `start_link`.

Because the second element of the tuple is assumed to be the argument, there's no way to pass multiple arguments or no arguments.

In many other cases like this, the argument parameter takes a list, and each element in the list
becomes a parameter to the function call. Thus

[code]

I don't see why the defa

[2018-01-27 21:52] josevalim commented on #7271
This was an explicit design decision. We want to have a single callback, `start_link/1`, as argument to avoid the argument dance.

After changing some projects and giving a couple trainings, I am absolute sure this is the best way to go about it. Plus changing the meaning of the second element of the tuple would be backwards incompatible. :)

If you want to pass multiple arguments, you can still b

[2018-01-27 21:54] pragdave commented on #7271
So you'll change GenServer.start_link to be compatible (as the same
arguments apply)?

On Sat, Jan 27, 2018 at 3:52 PM, José Valim <notifications@github.com>
wrote: