[2017-09-04 21:36] indera commented on #2945
@ferd I have set the environment variable and upgraded elixir but it didn't work (macOS).
After creating the iex_history file by hand it magically **started to work**.

$ uname -a
Darwin Kernel Version 16.7.0

$touch ~/.iex_history

Thank you.

[2017-09-04 23:43] eloyucu opened #6541 "Enum chunk_by doesn´t work properly"
Hi.

I was taking a look into the Enum info page... and I think that I had found a trouble. The chunk_by function doesn´t return the same result on my iex console that on the example:

Theese are my results:

    iex(15)>  Enum.chunk_by([1, 2, 2, 3, 4, 4, 6, 7, 7], &(rem(&1, 2) == 1))
    [[1], [2, 2], [3], [4, 4, 6], '\a\a']

    iex(16)>  Enum.chunk_by([1, 2, 2, 3, 4, 4, 6], &(rem(&1, 2) == 1))

[2017-09-05 00:39] Joe-noh commented on #6541
[code]

elixir 1.5.1 gives same result but I think `Enum.chunk_by` works correctly and this is related to char list representation. could you try following code?

[code]

[2017-09-05 01:44] jayjun commented on #6541
@eloyucu Your IEx results show `Enum.chunk_by` works correctly. The function works by chunking _only_ when the callback’s result _changes_.

For this example,
[code]
Iterating through ...

`rem(1, 2) == 1` is `true`. Result is `[[1]]`.
`rem(2, 2) == 1` is `false` (changed). Result is `[[1], [2]]`.
`rem(2, 2) == 1` is `false` (same). Result is `[[1], [2, 2]]`.
`rem(3, 2) == 1` is `true` (changed).

[2017-09-05 06:14] josevalim commented on #6541
When all numbers in a list is a printable character, Elixir shows it using the single quoted syntax. Type `i '\a\a'` in IEx for more information!

[2017-09-05 06:14] #6541 closed

[2017-09-05 14:42] kelvinst commented on #6379
This is the next one I plan to tackle, anyone else interested or already doing it?

[2017-09-05 15:15] josevalim commented on #6379
No, please go ahead!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-09-05 15:32] OvermindDL1 commented on #2945
Ahh, that explains why it was not working on one of my servers!  It is working now!  I did not even think to check for that, thanks!

This is a bug.  :-)

[2017-09-05 16:41] sardaukar opened #6543 "URI.merge doesn't keep all of the path?"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version):
Erlang/OTP 20 [erts-9.0

[2017-09-05 16:44] #6543 closed

[2017-09-05 16:44] sardaukar commented on #6543
Didn't realise the query string is being parsed as a path, my bad!

[2017-09-05 16:51] Pouriya-Jahanbakhsh opened #6544 "Rebar3 compile error"
Hi elixir developers, Im a simple Erlang developer and i have to include some elixir apps to my Erlang project, i specified elixir in deps of my rebar.config and in compile time,  Rebar3 said that [This file](https://github.com/elixir-lang/elixir/blob/12254e2cfda543c9af913ed2e5d48f3081978add/lib/mix/test/fixtures/archive/ebin/local_sample.app#L2) has not vsn field and i could not compiling elixir

[2017-09-05 19:37] michalmuskala commented on #6273
I think it should be possible to support all of the basic arithmetic operations (`*`, `+`, `-` and `div`), but I haven't looked into that particular part of runtime/compiler yet, so I can't say for sure.

[2017-09-05 23:00] michalmuskala opened #6546 "Multiple @callback with the same name/arity are discarded"
### Environment

* Elixir & Erlang versions (elixir --version): 1.6.0-dev, OTP 20
* Operating system: macOS

### Current behavior

Given the following module:

[code]

When later getting callback info from iex, we only get the last clause:

[code]

### Expected behavior

I'm not 100% sure what the expected behaviour is, two possible solutions I see are:

* return all the clauses in `b`.
* warn/rai

[2017-09-05 23:02] sorentwo commented on #6546
I've wondered about this recently as well, and didn't find anything conclusive in the Erlang docs. Hopefully somebody more knowledgeable will provide the correct answer.

[2017-09-06 06:04] josevalim commented on #6546
The first step is to see if Erlang supports multiple callbacks with the same name and, if so, does it return the same result?

[2017-09-06 10:26] mpoeter opened #6547 "recompile() does not load newly compiled module"
### Environment

* Elixir 1.5.1 & Erlang 20
* Operating system: Ubuntu 17.04

### Current behavior

I have an umbrella app with 2 embedded apps. I start the app with `iex -S mix` in the root directory of the umbrella app. When I change the source code of some module of one of the apps and call `recompile` I get a very inconsistent behaviour - sometimes I get an output that some files get recompile

[2017-09-06 14:46] josevalim commented on #6273
@michalmuskala in any case, if we add such, it would be at least Erlang 21 which means 2 or 3 years before we can leverage it consistently from Elixir. We need to decide what we want to do today.

[2017-09-06 15:00] josevalim commented on #6547
Thanks for report @mpoeter. Could it be that the issue is related with running in the umbrella root and with some caches?

It may very likely be that, after you compile a given project once, you will never compile it again unless you restart IEx. This should be easy to verify:

1. Start IEx in the umbrella root
2. Change a file in one of the applications
3. `recompile` should return `:ok`
4. Chang

[2017-09-06 15:47] michalmuskala commented on #6273
Can't we make it transparent and let it fail somewhere deeper in the compiler? Similar to what we do with other features introduced in some erlang version in the middle of Elixir support cycle (map typespecs, optional callbacks, etc).

[2017-09-06 16:50] josevalim commented on #6273
Sure but the point is that we need to decide how to act now. Regardless of
a feature that may come or not in a year. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-09-06 16:52] michalmuskala commented on #6273
I think we're able to wait to see if the feature is possible at all, right? Nothing is broken so keeping the status quo, for now, is the "safe" option.

[2017-09-06 16:54] josevalim commented on #6273
@michalmuskala no, there are two separate discussions here:

1. Improve the expressions allowed in a pattern
2. Decide the allowed expressions in size should be the same outside and inside of pattern

We should focus on 2. If we say they should not be the same, then 1 does not affect this discussion at all.

[2017-09-06 16:56] michalmuskala commented on #6273
In an ideal world, I think they should be identical, but we need to verify if that's feasible.

[2017-09-06 16:59] josevalim commented on #6273
@michalmuskala no, it is impossible to make them the same. This will never be allowed inside a pattern:

    <<integer_key::integer, rest::size(Map.get(map_from_key_to_sizes, integer_key))>> = ...

Or even if you think that is harmless, what about this:

    <<integer_key::integer, rest::size(get_size_with_an_over_the_network_call(integer_key))>> = ...

Erlang has always limited the amount of expr

[2017-09-06 16:59] michalmuskala commented on #6273
As I said, I was only considering basic arithmetic expressions.

[2017-09-06 17:07] josevalim commented on #6273
Hrm, I am not sure how I can make this clearer but:

We need to decide if we want support all expressions outside of a pattern, beyond arithmetic expressions, because *that is already possible today*. If we say that they should be the same, then this issue is closed and when we add arithmetic expressions to patterns we will automatically get those outside patterns. If we say they should be differe

[2017-09-06 17:47] mpoeter commented on #6547
I just tried the following steps:
1. Start IEx in the umbrella root
2. Add a new function `foo` that returns `:foo` to some module
3. Call `recompile` -> returns `:noop`
4. Try to call the just added function `foo` -> the function exists and returns `:foo`
5. Change `foo` to return `:bar` instead
6. Call `recompile` -> actually compiles some files and returns `:ok`
7. Call `foo` again -> still ret

[2017-09-06 17:57] josevalim commented on #6544
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only. If you believe this is an issue, please file the issues template accordingly. Thank you!

[2017-09-06 17:57] #6544 closed

[2017-09-06 18:31] josevalim commented on #6547
Thank you. The next step then is for us to try to reproduce it locally.

[2017-09-06 18:42] #6478 closed

[2017-09-06 20:38] #6374 closed

[2017-09-07 06:28] josevalim opened #6549 "Consider making @impl required"
We have added `@impl` to mark which functions are callback implementations but we may want to make such required at some point down the road.

[2017-09-07 19:35] glittershark opened #6550 "@impl doesn't behave well with default arguments"
### Environment

* Elixir & Erlang versions (elixir --version):

* Operating system:
Linux 4.12.8-2-ARCH

### Current behavior

[code]

Gives the following warning:
[code]

### Expected behavior

No warnings

--------

Thanks for all of your great work @josevalim!

[2017-09-07 20:59] kelvinst commented on #6248
This is the next one I'll try. Not sure if I have the skills needed, but let's do it!

[2017-09-07 21:46] josevalim opened #6551 "Ensure tasks are re-evaluated when executed in a child project from umbrella"

[2017-09-08 00:21] #6343 closed

[2017-09-08 17:51] Kabie opened #6553 "Too slow to compile a function with many clauses."
### Environment

[code]

### Current behavior

An example:

[code]

The compile time doesn't scale with the number linearly:

[code]

### Expected behavior

The corresponding erlang code(function with thousands of clauses) compiles way faster.

A profiling leads me to this:

https://github.com/elixir-lang/elixir/blob/2e1e51c4d0e72836cf1ef57c666675adde03b05e/lib/elixir/src/elixir_def.erl#L291-L293

[2017-09-08 18:09] josevalim commented on #6553
Can you please file the issue template and also include Elixir version and so on? Thank you.

[2017-09-09 13:01] blatyo opened #6554 "Auto merge mix.lock when there are merge conflicts"
Whenever two people make updates to the `mix.lock`, merge conflicts can emerge. Once there is a merge conflict, `mix` is no longer able to read the `mix.lock` and the user is responsible for manually merging. This process is error prone because the user is editing an automatically generated file and may introduce errors while attempting to resolve the merge conflicts.

This can be addressed by `mi

[2017-09-09 15:51] josevalim commented on #6553
So the given code takes 3 seconds on master and Elixir v1.5 since we have fixed this a couple months ago. If you can still reproduce on more recent versions, please let us know. Thank you.

[2017-09-09 16:50] Kabie commented on #6553
I didn't make myself clear. The problem is not about this particular example, but the compile time does not scale with the number of clauses linearly.

If I have a function with 50_000 clauses, I would expect the compile time be ~5x to the same function with 10_000 clauses. But that's not the behavior in both 1.5.1 and master.

By changing the number of clauses in the example:

| clauses | compile

[2017-09-09 17:55] josevalim commented on #6553
Thank you, that clarifies it!

[2017-09-09 18:51] #6553 closed

[2017-09-10 01:06] vans163 opened #6555 ":code.get_object_code/1 returns a "/../" in the beam path"
Elixir 1.5.1
Ubuntu 17.04 and Debian 9

Small nitpick. This only happens for Elixir modules.
[code]
That path should be '/usr/local/lib/elixir/lib/elixir/ebin/Elixir.List.beam'.

[2017-09-10 01:34] josevalim commented on #6555
Thanks. That's because the executable passes the path to be `../lib/elixir/*`. I don't see a reason to normalize the path, so I am inclined to keep things as is.

[2017-09-10 16:45] jlevycpa opened #6556 "Error when starting multiple Registries in supervision tree"
I have a need to start two different Registry processes in my supervision tree. My list of children includes the following:

[code]
I received this error when I compiled:
`** (Mix) Could not start application wif: Wif.Application.start(:normal, []) returned an error: bad child specification, more than one child specification has the id: Registry.`

It looks like [`Registry.child_spec/1`](https://g

[2017-09-10 16:54] josevalim commented on #6556
That's a great suggestion. :+1: A PR will definitely be welcome.

[2017-09-10 22:00] izelnakri opened #6558 "Suggestion: Base.is_encoded(string, base \\ 64)"
[code]

[2017-09-10 22:33] whatyouhide commented on #6558
Hey @izelnakri, thanks for the suggestion!

Elixir's issue tracker is reserved for bug reports and TODO-ish items, not for feature discussions. For those, we use the [elixir-lang-core](https://groups.google.com/forum/#!forum/elixir-lang-core) mailing list so that the whole community can participate in the discussion of the feature; if the community agrees on the feature, then we move to actual imp

[2017-09-10 22:33] #6558 closed

[2017-09-10 22:39] yordis commented on #6556
@josevalim how would you do the testing for this https://github.com/yordis/elixir/commit/9b410159aecca43ef6d2a718ac17f8409705c833 ?

I could just open that function and test the lookup or I could setup the whole environment with the supervision tree so I can see it pass

[2017-09-10 23:09] josevalim commented on #6556
@yordis for the test, calling `child_spec(opts)` on the Regitry defined in the tests themselves should be enough.

[2017-09-11 00:58] jlevycpa commented on #6556
Just went to put the PR together, but I see you beat me to it!

[2017-09-11 01:02] yordis commented on #6556
@jlevycpa sorry I saw this was 5 hours ago when I did it!

[2017-09-11 01:29] jlevycpa commented on #6556
@yordis no worries. I wrote this on my way out and just got back.

[2017-09-11 12:32] wojtekmach opened #6561 "NaiveDateTime.add/2 failures on year 9999"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.5.1/OTP 20
* Operating system: macOS Sierra

### Current behavior

[code]

Another somewhat similar failure is:

[code]

although this should be addressed by https://github.com/elixir-lang/elixir/issues/6294

### Expected behavior

I'm not sure what's the correct behavior. I'll admit it's fairly obscure edge case.

Currently

[2017-09-11 12:40] michalmuskala commented on #6561
:+1: for raising consistent errors and documenting that. I don't think there's a meaningful action you could take if the calendar does not support the date you're trying to use - and a possible "meaningful action" is for me a requirement to returning the tuples instead of raising.

[2017-09-11 12:43] josevalim commented on #6561
We can't change the signature of NaiveDateTime.add, so that's out of the way. :+1: for raising a proper exception.

[2017-09-11 12:55] wojtekmach commented on #6561
I've checked it on `master` and it provides excellent error messages:

[code]

[code]

sorry for the noise!

[2017-09-11 12:55] #6561 closed

[2017-09-11 13:32] josevalim opened #6562 "Make sure IEx.Helpers.open/1 works with Elixir modules"
Elixir is usually precompiled which means today it points to the precompiled place. We can try to detect if the module comes from any of Elixir built-ins and translate that accordingly.

[2017-09-11 13:42] wojtekmach commented on #6562
Some more context around this in: https://github.com/elixir-lang/elixir/issues/6348

[2017-09-11 13:52] #6562 closed

[2017-09-12 05:52] pikeas opened #6565 "Misleading child_spec error for missing module"
Elixir 1.5.1

[code]

This will fail with a misleading error:
[code]

While it's technically correct that the module does not implement `child_spec/1`, it would be preferable to throw an error about the module not being defined instead.

[2017-09-12 10:06] josevalim commented on #6536
Closing this for the reasons given by @fishcakez. Thanks for the report @evadne! :+1:

[2017-09-12 10:06] #6536 closed

[2017-09-12 12:12] whatyouhide commented on #6556
Closed by https://github.com/elixir-lang/elixir/pull/6560.

[2017-09-12 12:12] #6556 closed

[2017-09-12 12:17] whatyouhide commented on #6555
I think we can keep the path as is as well. If so, can we close this issue?

[2017-09-12 12:18] #6555 closed

[2017-09-12 14:17] josevalim commented on #6547
I cannot reproduce this behaviour. Here is what I did:

    $ mix new foo --umbrella
    $ cd foo/apps
    $ mix new bar
    $ iex -S mix

Then after IEx started, I added `def world, do: :hello` to "apps/bar/lib/bar.ex". I invoked `recompile` and it returns `:ok` and I could invoke the function. Then I changed the function to `def world, do: :hello!` and `recompile` also returned `:ok`.

Can you r

[2017-09-12 14:52] OvermindDL1 commented on #6565
I'm bored and have a few minutes free, let me go ahead and fix this since it is pretty trivial to do if no objections (and I've been hit by it before when I forgot to alias something >.>).  PR incoming when done.

[2017-09-12 14:53] lukaszsamson opened #6567 "Misleading compiler error messages when keywords used as function names"
### Environment

* Elixir versions (elixir --version): 1.3, 1.4, 1.5

### Current behavior

When trying to compile a module with one of the functions named `end`
[code]
the compiler returns an error with invalid line number
[code]
I run into this bug early on when learning Elixir and had to do binary search commenting out parts of a big module to narrow it down.

As a side note i wasn't able to fi

[2017-09-12 14:59] #6565 closed

[2017-09-12 15:04] josevalim commented on #6567
Thanks for the report.

Unfortunatly this error happens way before we even know we are trying to define a function. It happens early when converting the text into tokens.

The best we can do is say where the previous end was located, but even though, if you a code like this:

[code]

We would say the last "end" was in the previous line and that wouldn't be very helpful. Errors with mismatched brac

[2017-09-12 15:20] josevalim commented on #6567
And the reserved words have been added to the syntax reference: e5404aec607284276bec050d885a4c6c9948e2b8. Great idea.

[2017-09-12 15:49] lukaszsamson commented on #6567
Maybe a regex blacklist pass with sth like def\s*(def|end|if|else|...) before doing full syntax parsing would do. It wouldn't probably catch 100% of errors but event 80% is a big win.

[2017-09-12 18:14] josevalim commented on #6567
@lukaszsamson I am really against such kind of checks because a grammar is much more complex than a regex and there is always the chance of false positives. For example, this would actually be valid code:

[code]

I will try some improvements in the parser but sometimes sometimes a bad token error is as good as it gets. :S

[2017-09-12 19:58] #6567 closed

[2017-09-13 07:06] mpoeter commented on #6547
Your idea with the tooling was dead right!
I am using VS Code and had an Elixir Linter plugin which apparently performed silent recompilations in the background. At least I could no longer reproduce this behavior after disabling this plugin.
I am not quite sure why this would cause such issues with `recompile`, but the main point is that it works now!
I would have not thought of that - thank you v

[2017-09-13 07:06] #6547 closed

[2017-09-13 14:47] OvermindDL1 commented on #6547
Yeah those plugins call `mix compile` so it would recompile the file.

[2017-09-14 00:08] chulkilee opened #6570 "manager in mix.lock is not being populated"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.5.1 / Erlang/OTP 20 [erts-9.0.4]
* Operating system: Mac

### Current behavior

[code]

### Expected behavior

I don't know much about mix internal - maybe compile is required to detect managers. Then I think `deps.compile` should backfill manager fields.

If manager field is not required (e.g. can be deferred to compile task

[2017-09-14 09:13] ggcampinho commented on #6504
Fixed on Erlang https://github.com/erlang/otp/pull/1549, we can close this issue

[2017-09-14 09:24] josevalim commented on #6570
This seems to be a hex issue, as hex is responsible for filling that field. To clarify, I believe the issue you are reporting is that this makes the lock file a bit non-deterministic, right?

Can you please let us know your Hex version? Just run `mix hex.info`. Thanks!

[2017-09-14 09:25] josevalim commented on #6504
@ggcampinho :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2017-09-14 09:25] #6504 closed

[2017-09-14 10:18] pejrich commented on #6504
Thanks @ggcampinho and thanks @josevalim! Keep up the great work.

[2017-09-14 12:50] ianrumford opened #6571 "v1.5.1 Kernel & Kernel.SpecialForms documentation issue"
### Environment

Erlang/OTP 20 [erts-9.0] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.5.1

Ubuntu 16.04

### Current behavior

The v1.5.1 documentation does not disambiguate functions and macros; everything is listed as a function.

So you might be surpised, as I was :-), if you do this

`Kernel.SpecialForms.__info__(:functions)`

and get an empt

[2017-09-14 13:01] josevalim commented on #6571
The division between functions and macros in the docs caused difficulty when learning new APIs. You can see that on the right side, close to the source link, we still say they are a "macro". Please open up an issue in ExDoc if you would like to discuss how those should be exhibited. Thank you!

[2017-09-14 13:01] #6571 closed

[2017-09-14 17:00] alco commented on #6546
Erlang/OTP 20.0 refuses to compile such code:

[code]

[code]

[2017-09-14 17:28] chulkilee commented on #6570
[code]

[2017-09-15 02:32] joshprice commented on #6554
I had this exact issue the other day because we were depending on the Github version of a dependency which had changed. I resolved on a couple of occasions by deleting `mix.lock` and re-running `mix deps.get`.

This appears to be the strategy that Yarn uses when it can't auto resolve the lock file conflicts. `'A merge conflict was found in yarn.lock but it could not be successfully merged, regener

[2017-09-15 04:11] michalmuskala commented on #6554
Regenerating from scratch does not sound safe at all to me. The reason for the lock file is to prevent unexpected upgrades. Once you delete the lock file, all bets are off.

[2017-09-15 04:50] joshprice commented on #6554
Fair enough, is there some way to use the manifest (`.compile.lock`) to prevent unexpected upgrades?

[2017-09-15 04:53] michalmuskala commented on #6554
That is the only reason the `mix.lock` file exists, I don't think the responsibility is replicated anywhere else.

[2017-09-15 05:12] joshprice commented on #6554
I couldn't follow from https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/dep/lock.ex exactly what the manifest was doing.

Do you think it makes sense to try and merge the conflicts in the lockfile in the style of yarn?

Is version control not a reasonable safety for unexpected upgrade issue?

[2017-09-15 07:38] josevalim commented on #6554
I agree with @michalmuskala we should never delete the lock file. If we can't solve conflicts, then we should abort and let the user handle it. Most likely by checking the latest version from version control. I am actually surprised Yarn does otherwise, as that defeats the point of a lock.

The manifest is used for something different. We write to the manifest to know when we need to recompile the

[2017-09-15 08:17] joshprice commented on #6554
Fair enough, I suppose this was a reasonable strategy for me at the time as I was up to date with all deps so this didn't cause any problems. However if you were preserving older versions for a reason this definitely would be undesirable/unexpected behaviour.

I'll have a go at parsing and resolving the conflicts in the mix file then.

[2017-09-15 08:42] josevalim commented on #6405
Closing in favor of #6573

[2017-09-15 08:42] #6405 closed

[2017-09-15 11:42] eloyucu commented on #6541
Thanks guys.
You are right... the representation is the key!! :)
And sorry... but I saw this difference between my results and the example on the official web and I thought it was a mistake.

[2017-09-15 20:19] balduncle commented on #5760
I know this ticket is closed, but in case more user feedback is valuable, this baffled me for a while.  My specific use case is defining an `ecto.reset` alias that runs two separate seeds files in a Phoenix project, and I couldn't figure out why my second seed file wasn't running.

[2017-09-16 01:40] kelvinst commented on #6248
Another thing: I'll start by maps and structs, and when I have them I'll open a WIP PR for you to review the work so far.

[2017-09-16 22:20] wanderanimrod commented on #638
Wouldn't this be useful in the following case?:

I want to make sure that if `ModuleA` `use`s my `BaseModule` , `ModuleA` must define function `f` without also exposing `f` to other modules that might call `ModuleA` for other reasons.

I don't think requiring function `f` to exist as a callback should necessarily require one to make the function public to other modules other than `BaseModule`. Is

[2017-09-17 06:21] raif-s-naffah opened #6580 "Elixir 1.5.1: elixir -v crashes"
running the above on Fedora 26 crashes w/...

[code]

the dump file is too large to attach (412KB) unless requested.  the first few lines follow:

[code]

[2017-09-17 06:27] NobbZ commented on #638
You weren't able to call `f` from anywhere but `ModuleA` so why force it to be there? From the outside you can't see any difference.

Also I do not really understand your usecase. Do you think of functions that are only accessible by a handfull of other modules? There is not such a thing in the BEAM, either a function is public for everyone or private and not usable at all.

But most of the functi

[2017-09-17 08:10] wanderanimrod commented on #638
[code]
__Usage outside `BaseModule`__

This is good, and normal.
[code]

This is not good.
[code]
`f/0` is callable on ModuleA as expected because it is public. BUT, because it is
just an implementation detail required by `BaseModule`, I don't want code outside
`BaseModule` to be able to call it.

Now, the normal way to hide "implementation details" is to make a function private. If I make the fun

[2017-09-17 08:21] NobbZ commented on #638
The convention is to not document internal functions.

So keep `f` as a callback, document it as a callback, `def` it in the implementor and do not put any `@doc` around it. This way it won't show up in the generated docs and considered beeing an internal function not meant to get called from the outside world.

We didn't learn about `GenServer`s callbacks that are the ones we shall not call, we l

[2017-09-17 08:26] josevalim commented on #6580
How did you install Elixir? This usually means that Elixir was not compiled at all or that it cannot find its .beam files.

[2017-09-17 08:39] raif-s-naffah commented on #6580
you're of course right!  i first installed from the ZIP (download) from github.

installing the 'pre-compiled' version linked from the install page [1] works w/o problem:
[code]

apologies for the noise.

[2017-09-17 08:39] #6580 closed

[2017-09-17 19:21] wanderanimrod commented on #638
Thanks for the response @NobbZ . The `@doc` on the callback was just meant to explain the code. I wouldn't have it in real code. So the `@doc` there shouldn't not take us off-track.

About your comment on `GenServer`, what you are saying is that looking at a function that is public on a module doesn't mean it is meant to be used outside that module. You seem to suggest that the presence or absence

[2017-09-17 19:37] josevalim commented on #638
@wanderanimrod the reason why we don't allow private callbacks is to avoid exactly the code you wrote. You should think about the public contracts between the modules instead of trying to hide functions that are only exposed via code injection. The proposed code violates [our best practices in writing maintainable macros](https://elixir-lang.org/getting-started/meta/macros.html#write-macros-respon

[2017-09-17 19:38] josevalim commented on #638
Also, did we meet at ElixirConf? :)

[2017-09-18 05:34] wanderanimrod commented on #638
Thanks for the response @josevalim. Yes, we did meet at ElixirConf 😄.

This is a very confusing statement to me. Macros inject code in the places they are used. At least, that is my current understanding. This statement only makes sense if you differentiate between a macro _transforming the code you give it (e.g. `ExUnit.Case`'s `test`)_ from a macro _injecting completely new code in a user module

[2017-09-18 06:49] josevalim commented on #638
In the [document I linked](https://elixir-lang.org/getting-started/meta/macros.html#write-macros-responsibly), search for "For example, instead of writing a macro like this". It will show an example that explains that any function generated in the user module should imply trigger an external function that has the logic, in order to *minimize* the generated code.

You can also see how Ecto.Repo doe

[2017-09-18 06:49] #638 closed

[2017-09-18 09:09] #6379 closed

[2017-09-18 21:38] robi-wan commented on #6455
As I [mentioned earlier](https://github.com/elixir-lang/elixir/issues/6455#issuecomment-323850949):
the issue is caused by the removal of surrounding quotes of the argument (%1).

**Solution 1**
Do not remove the surrounding quotes when parsing `--erl` arguments to the
elixir.bat. This will be achieved by removing the `~`.

[code]

As this feature is there since it was introduced I cannot predict

[2017-09-18 22:07] josevalim commented on #6455
Thanks for looking into this @robi-wan!

I blamed the code and apparently it has always been written like that so I think it should be fine to test solution number 1.

Some good tests to check the options are still getting downstream would be this:

[code]

[code]

[code]

[2017-09-19 03:56] sergiotapia opened #6581 "String.valid? is true, but doesn't correspond to any character assignment."
### Environment

* Elixir & Erlang versions (elixir --version):
→ elixir -v
Erlang/OTP 20 [erts-9.0] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
Elixir 1.4.5

* Operating system: Mac OS Sierra

### Current behavior

[code]

`String.valid?` returns true for `my_string`.

---

More details can be found on the Elixir forum thread where I originally a

[2017-09-19 06:46] josevalim commented on #6581
They are valid according to the Unicode standard. See "Are noncharacters invalid in Unicode strings and UTFs?" here: http://www.unicode.org/faq/private_use.html.

Thanks for the report!

[2017-09-19 06:46] #6581 closed

[2017-09-19 07:02] michalmuskala commented on #638
My additional 2 cents. In my experience, a need for private callbacks is usually a result of trying to emulate OO inheritance through the use of macros and code injection. In many cases, we have better ways of achieving similar functionality that results in better and more idiomatic code.

Two primary ways are higher-order functions and callback modules. In case there's only a handful of those fun

[2017-09-19 07:14] andrewtimberlake opened #6582 "ExUnit not recognising differently named apps in umbrella project"
If I setup an umbrella project but name one of the apps with a different directory than the app name, ExUnit doesn’t run that apps tests.

[code]

The error is expected. To fix the error, I add `apps: [:my_app, :my_app_api],` to my project list.

Now when I run mix test for the umbrella, only the tests for `:my_app` are run, `:my_app_api` is ignored.

[code]

I would expect it to run test for both

[2017-09-19 07:43] josevalim commented on #6582
The name of your application should be the name of the directory in apps.

[2017-09-19 07:44] #6582 closed

[2017-09-19 08:15] andrewtimberlake commented on #6582
Then what is the purpose of this setting in `project`?
`apps: [:my_app, :my_app_api]`

[2017-09-19 08:18] yordis commented on #6582
@andrewtimberlake the name of the folders

[2017-09-19 08:24] josevalim commented on #6582
@andrewtimberlake it gives you control over the ordering and some folks also have multiple apps in apps but they want just some of them to be managed by the umbrella.

[2017-09-19 08:26] andrewtimberlake commented on #6582
Okay, thanks

[2017-09-19 08:47] josevalim opened #6583 "Print all built-in guard expressions when there is an invalid pattern in a guard"
We can just print all of it OR link to the guards page in the docs.

[2017-09-19 12:15] josevalim commented on #6455
@OnorioCatenacci this is also extremely frustrating on Unix systems too. But at the end of the day we have a bug which needs to be addressed in the short term, even if it  would be better to completely revisit this long term.

[2017-09-19 12:53] OnorioCatenacci commented on #6455
Yes, you're right, of course José.  Sorry to indulge myself in a rant :)

On Tue, Sep 19, 2017 at 8:16 AM, José Valim <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2017-09-19 15:11] glittershark opened #6584 "Filter ExUnit tests by name"
### Precheck

### Environment

* Elixir & Erlang versions (elixir --version):
Erlang/OTP 20 [erts-9.0.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.5.1
* Operating system:
Linux 4.12.10-1-ARCH #1 SMP PREEMPT Wed Aug 30 12:18:42 CEST 2017 x86_64 GNU/Linux

----------

Maybe I'm missing something, but it doesn't look like it's possible to filter r

[2017-09-19 15:14] josevalim commented on #6584
The test name and module are already added to the tags automatically later on: https://github.com/elixir-lang/elixir/blob/master/lib/ex_unit/lib/ex_unit/runner.ex#L138

[2017-09-19 15:14] #6584 closed

[2017-09-19 15:17] glittershark commented on #6584
holy crap you're fast.
That's awesome, thanks!

[2017-09-20 08:53] lukaszsamson opened #6585 "Mix crashes when git returns error"
### Environment

* Elixir & Erlang versions (elixir --version): erlang 20.0.5 elixir 1.5.1
* Operating system: macOS 10.12.6

### Current behavior

When running mix commands and git returns error mix crashes
[code]

### Expected behavior
A proper error message like the one here:
[code]

[2017-09-20 08:55] josevalim commented on #6585
Good catch. We should probably print the message as is if we can't do the conversion to binary.

[2017-09-20 08:58] lukaszsamson commented on #6585
Not sure if the message was in std_out or std_error, from the docs looks like :os.cmd handles only std_out

[2017-09-20 10:17] pjotrp opened #6586 "elixir 1.5.1 dialyzer_test.exs fails on GNU Guix"
I am trying to update the installation of elixir 1.5.1 GNU Guix. The following dialyzer tests fail with

[code]

The GNU Guix build environment is restricted and I disabled these tests. Is there a way to fix them?

[2017-09-20 10:42] josevalim commented on #6586
In what ways GNU Guix is restricted? Some tests require us to work with temporary directories and if those are not available, disabling the tests is the way to go.

[2017-09-20 11:08] pjotrp commented on #6586
Restrictions apply to using files outside the build tree and there should be no outside network access. All with reproducibility in mind (deterministic builds). Creating files in the build tree should be OK.

Above tests want to copy to, for example,

[code]

The directory $src/lib/elixir/tmp does not exist at test time. Any idea why?

I have more failing tests, but would like to resolve them one

[2017-09-20 11:15] josevalim commented on #6586
@pjotrp sure. But how being unable to create a temporary directory is going to help us? A lot of our tests are asserting we are able to perform some operations against the file system. After all, we need to assert we can create directories, files, links, etc.

[2017-09-20 11:17] pjotrp commented on #6586
No worries, you *can* create temporary directories in the build tree. But not outside. What is not clear to me is how it is getting done in above case. I guess I have to dig a little deeper.

[2017-09-20 11:20] josevalim commented on #6586
@pjotrp thank you, I understand it now. I misread the original report, it seems it is trying to create something in `/tmp`, which we likely shouldn't do, instead of using a tmp inside the build tree. Please do investigate!

[2017-09-20 12:03] whatyouhide opened #6587 "Use a different random seed for each ExUnit test"
We want to move from a global ExUnit random seed to a random seed for each test (maybe based on "module + test name") that is generated starting from the original seed. This will be useful to run single tests that use randomness (through something like [stream_data](https://github.com/whatyouhide/stream_data)) in a reproducible way. \cc @josevalim

[2017-09-20 12:51] pjotrp commented on #6586
Actually the build system is in /tmp. It is not that bad. Looks like mkdir_p! misses out on creating the dir. I'll check why this is. Maybe it is a permission thing.

[2017-09-20 14:11] josevalim commented on #6587
@whatyouhide should we change ExUnit.seed to use the pdict and then do the global lookup then?

[2017-09-20 14:32] whatyouhide commented on #6587
@josevalim yeah I think that makes sense.

[2017-09-20 22:00] robi-wan commented on #6455
Output with solution 1:

[code]

For the call `"d:\home\docs\dev\git_repos\elixir (x86)\bin\elixir.bat" --erl "-foo bar" -e "IO.inspect :init.get_argument(:foo)"` `elixir.bat` computes and executes a call which looks like this (formatted for better readability):

[code]

The interesting part are the arguments after `start_cli`: these arguments are (after the change) surrounded with quotes - I thin

[2017-09-21 01:32] fishcakez commented on #6585
Note that `:os.cmd` returns `charlist` and not `[byte], even though it doesn't help us actually resolve the handling of this, really we are doing the conversion wrong. So we should be able to convert but I guess if we did convert correctly in this case something strange would happen later..

[2017-09-21 06:06] josevalim commented on #6455
Beautiful, thank you @robi-wan! Can you please send a PR with 2 then? :heart:

[2017-09-21 08:05] lukaszsamson commented on #6585
Yes, there were probably some unicode chars returned, (see)[https://github.com/erlang/otp/blob/c84f6fa2dc7c7615e36a575571ee1a6e9cd586a4/lib/kernel/src/os.erl#L245]. However, shouldn't the process exit code be checked here in the first place?

[2017-09-21 10:20] steffenix opened #6589 "DateTime negative microseconds and zero_pad failure"
### Environment

* Elixir 1.5.1 OTP 20.0
* Operating system: Mac

### Current behavior
[code]

https://github.com/elixir-lang/elixir/blob/f0ba0b4aa339cdea1e489938e3a0cdd0eee2e524/lib/elixir/lib/calendar/iso.ex#L335

The zero_pad function should ignore the negative sign when adding zeros.

[2017-09-21 11:32] pjotrp commented on #6586
I am closing this issue because it is a Guix environment thing and I have trouble replicating it outside the Guix build system. I will look into it again and post a fix when there is one.

[2017-09-21 11:32] #6586 closed

[2017-09-21 11:52] jameslong commented on #6589
I'm happy to take this if no one is already?

[2017-09-21 12:11] josevalim commented on #6589
Please do!

[2017-09-21 13:06] jameslong commented on #6589
Great!

[2017-09-21 13:59] robi-wan commented on #6455
I'll send a PR (no later than the end of the week).

[2017-09-21 19:00] wrachwal commented on #6509
if i pester you, sorry ;) i just checked what i noticed on master.
revision: "ff0015c" is better, but still not perfect.
my above example now looks ok, but enlarge the text a little - the result will be put in one column as before.
[code]

[2017-09-21 19:02] wrachwal commented on #6509
this seems to the same as before. i have to be more patient and read more carefully my own texts. sorry! :-)

[2017-09-21 19:17] josevalim commented on #6509
@wrachwal this was supposed to be fixed, so great catch! I have pushed a commit that finally fix it in master. If you find anything else "suspicious", please let me know!

[2017-09-21 23:56] mfeckie opened #6592 "Date parsing with JSON formatted date strings"
This issue has appeared when addressing deprecations with Ecto.Date.  Now that Ecto recommends using the standard library for dates, parsing of JSON formatted dates no longer behaves as expected.

There does not seem to be similar functionality as this https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/date_time.ex#L145-L147 in the standard library's implementation of date parsing.

### Envi

[2017-09-22 01:05] ggcampinho commented on #6592
@mfeckie I think you want to use `DateTime` module, not `Date`

https://hexdocs.pm/elixir/DateTime.html#from_iso8601/2

[2017-09-22 01:08] mfeckie commented on #6592
Thanks for the suggestion, but I specifically want a `Date`.

Because JSON always sends a datetime, not being able to accept this string type is a deviation from previous behaviour with `Ecto.Date`

[2017-09-22 01:12] ggcampinho commented on #6592
You can just convert after to `Date`, I would imagine that this behaviour is intended.

[code]

[2017-09-22 01:15] mfeckie commented on #6592
It's currently handled by default with `Ecto.Date`, I'm suggesting that in addressing the deprecation, the change does not support existing behaviour.

Whilst your suggestion remains correct, if I'm handling dates manually, the Ecto deprecation will cause breakages for numerous applications where there is a frontend communicating dates from javascript

[2017-09-22 05:43] josevalim commented on #6592
Thanks @mfeckie. That should be handled in Ecto. Can you please open up an issue there? Thank you!

[2017-09-22 05:43] #6592 closed

[2017-09-22 13:27] dkarter commented on #6554
I found that we had conflicts in the mix.lock file when people were using different versions of hex. Once all machines were updated the conflict was gone. Not sure if others in the community had a similar experience.

If I am able to replicate this I will suggest we add a line in the mix.lock recording that it was last generated with "hex v0.17.1".

This can be used by mix deps.get to warn the use

[2017-09-23 17:57] blatyo commented on #6583
I'd be happy to take this. Can you add an example snippet of code that should cause the message?

[2017-09-23 18:03] josevalim commented on #6583
I am not quite sure yet. Here is the page [with the guards information](https://hexdocs.pm/elixir/guards.html#content) and here is the [source](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/pages/Guards.md#guards).

I am guessing showing all of this information is too much so we will probably have to link to the page?

@whatyouhide @lexmag thoughts?

[2017-09-23 21:13] schaary opened #6597 "ArgumentError by `@enforce_keys` is not catched by `assert_raise`"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]

* Operating system: macOS 10.12.5

### Current behavior

I define a struct in a module and I want to enfoce that certain keys have to be specified. So I have a `@enforce_keys` statement:

[code]

The test looks like this:

[code]

[code]

### Expected behavior

I would expect the test runs successfully. When I try the example

[2017-09-23 21:44] josevalim commented on #6597
All struct errors happen at compile time so indeed they won't be caught at runtime. To put it in other words, the module `FooTest` does not successfully compile.

[2017-09-23 21:44] #6597 closed

[2017-09-24 10:07] #6455 closed

[2017-09-24 10:22] #6550 closed

[2017-09-24 15:24] vishaldeepak commented on #6589
If this is still open, I'd like to pick this up.

[2017-09-24 15:28] jameslong commented on #6589
@vishaldeepak I'm working on this today. If I make no progress will let you know. :+1:

[2017-09-24 16:48] ericmj commented on #6554
@dkarter Unfortunately I don't see how we can add something to the lock file that tracks the version of elixir or hex. Hex also warns the user once every day if they use an old version so I don't think more warnings would necessarily help.

I have opened the issue https://github.com/hexpm/hex/issues/429 to investigate if we can keep lock entries in a newer format even when using older clients so t

[2017-09-24 21:38] jameslong commented on #6589
If I'm understanding correctly the actual issue is that calling `DateTime.from_unix/2` with a negative value (which is not a multiple of 1_000_000), and `:microsecond` unit returns a `DateTime` struct with a negative microsecond value. e.g.

[code]

when we would expect the following:

[code]
I have a fix for this which I'll submit tomorrow. If I haven't understood this correctly or there's a good

[2017-09-24 21:47] josevalim commented on #6589
No, there is no reason to keep it negative.

[2017-09-25 07:41] #6583 closed

[2017-09-25 07:42] whatyouhide commented on #6583
I definitely prefer a link to the docs instead of showing all the possible guards expressions (which also doesn't show possible "custom" expressions like `Integer.is_odd/1` or macros that compile to valid expressions).

[2017-09-25 21:47] lkppo opened #6600 "Can't use UTF-8 on Windows 7 64 bit"
Hello,

I have put in a file test.exs, encoded in UTF-8, the very first sample of the tutorial (IO.puts "Hello world from Elixir") and launched with PowerShell and cmd the command bellow :

`> elixir.bat .\test.exs`

I have also tested those commands :

[code]

After I changes the page code, the output in iex with a É character never return! I can only use Ctrl+C to end.

### Environment

* Erlang

[2017-09-25 22:18] josevalim commented on #6600
Can you try running `iex.bat --werl` and let us know if it works there? I believe this is a duplicate, I will try to find a previous one.

[2017-09-25 22:20] josevalim commented on #6600
Found it! #5596

[2017-09-25 22:34] lkppo commented on #6600
iex.bat --werl launch a erlang interpreter

![werl](https://user-images.githubusercontent.com/10128284/30834202-5fa9f6cc-a252-11e7-939e-c1ad8b84c7a3.png)
UTF-8 is ok with that.

[2017-09-25 22:42] josevalim commented on #6600
Thanks for checking. If you follow the linked issue, we have reported this as an Erlang bug and it has unfortunately been tagged as won't fix. So you need to use --werl. You can set the `USE_WERL` environment variable to `1` in your system configuration if you always want to use --werl.

[2017-09-25 22:42] #6600 closed

[2017-09-25 22:43] #6589 closed

[2017-09-25 22:52] lkppo commented on #6600
Ok, I read the first report. Too bad. How can I execute my script with werl interpreter without opening it?

[2017-09-25 22:54] josevalim commented on #6600
I am not quite sure if it is possible. AFAIK werl always open up as a separate window since it needs to use a completely separate input mode. You can try using other shells such as powershell and mingw.

[2017-09-25 23:09] lkppo commented on #6600
Ok, I tried with Git Bash MINGW32 and it's half broken :

[code]

With cygwin32 it works.

It can go for home scripts but I can not do DIY on a prod server. Pity.

Thanks for you help josevalim.

[2017-09-26 03:52] Trevoke opened #6602 "Registry.match/4 does not support :_ for the key"
### Environment

* Elixir & Erlang versions (elixir --version): 1.5.1 and 20.0
* Operating system: OSX

### Current behavior

[code]

### Expected behavior

[code]

This is despite the CHANGELOG which says that this is now possible.

[2017-09-26 04:01] fishcakez commented on #6602
@Trevoke the match patterns are supported in the 3rd argument but not for the key (2nd argument), which is can not be a pattern.

[2017-09-26 04:01] #6602 closed

[2017-09-26 04:03] Trevoke commented on #6602
@fishcakez Okay, so what does this mean?

https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md

[2017-09-26 04:04] yordis commented on #6602
@fishcakez yeah, in the CHANGELOG said matching vs the `key`

[2017-09-26 04:08] fishcakez commented on #6602
That entry is amount fixing the Registry so that `:_` as the actual key works, not `:_` as a pattern for the key.

[2017-09-26 04:09] yordis commented on #6602
@fishcakez definitely I didn't see that coming 😆

[2017-09-26 04:10] Trevoke commented on #6602
Yeeeeaaaaaaaaaaaaaaaaaah me neither.

Turns out communication is difficult.

I guess we're OK with that behavior being dropped from 1.4? (This _used_ to work).

[2017-09-26 04:17] fishcakez commented on #6602
This is a bug fix, and it did not always "work" in 1.4, for example unique registry with > 1 partition. Much more complex patterns might have been possible and supporting this would have been very complex. Also it would make some keys not work with match in ambiguous fashion (any key that could be a pattern would be a pattern and not the key). Therefore we definitely don't want to support patterns

[2017-09-26 04:21] Trevoke commented on #6602
Always fun to learn that you were relying on behavior that got dropped.. Thanks for the explanation, I guess I'm implementing a duplicate Registry for this, for now anyway.

[2017-09-26 04:27] fishcakez commented on #6602
To be clear the behavior did not get dropped, it was never intended to work and it was not documented to work. Rather the documentation (or at least spec) states that the argument was an exact key, and not a pattern. It just happened you were using the edge case bug.

[2017-09-26 07:34] josevalim commented on #6602
To further clarify, the bug that we fixed is that you could never lookup a
key named :_ in match as it would always match on all keys.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-09-26 09:55] #6587 closed

[2017-09-26 10:03] yordis opened #6604 "Typespec for ignored parameters"
When I have some functions that do not care about specific parameter I tried to us `_` in the `typespec` but it failed.

### Current Behavior
[code]

### Expected Behavior
The typespec should pass, marking that parameter as ignored parameter.

I tried to get help on this one but no success. I am expecting to actually allow to do `_` so I don't have to find out whatever type should be over there.

[2017-09-26 10:08] NobbZ commented on #6604
Its `any/0` or `term/0` you want to use here.

[2017-09-26 10:11] yordis commented on #6604
@NobbZ wouldn't be a good idea to actually add `_` as typespec? Tools could benefits from that no?!

[2017-09-26 10:15] NobbZ commented on #6604
I do not think so.

In general I do read `_` as "is not used at all", so why have it as an argument then? Why not remove it and just write a `somethinkg/1` instead?

[2017-09-26 10:18] yordis commented on #6604
Wrong example, the point is actually having ignored params 😄

In ErLang we normally use `_` or any name starting with `_` as something that will "ignored" or actually meant to be ignored.

[2017-09-26 10:38] NobbZ commented on #6604
Yeah, I know about that convention, and I still ask, why require to pass it in when its actually not needed?

I do see that ignoring a value in a match is usefull, perhaps it will be used in another clause. But already specifying in the type, that an argument will never be used, that feels to be not right...

[2017-09-26 10:41] yordis commented on #6604
@NobbZ I will update the example

[2017-09-26 10:50] devonestes commented on #6604
The only example I can think of is if you're implementing a Behaviour but not using all of the available arguments passed to the callback that you need. However, in that case, I would still think that documenting the expected inputs would be helpful for documentation purposes. If you wanted to take the shortcut route to make Dialyzer happy you could use `any/0` or `term/0`, but that seems like you

[2017-09-26 10:56] yordis commented on #6604
Yes, it's the case.

The argument is that if somebody later one start using any of those ignored parameters they should maintain the proper typespec of course.

What about introducing `_/0` ?  Dialyzer question because I don't know that much of the core, what would be code different for Dialyzer anyway?! Is `any` and/or `term` important in the Dialyzer task?

[2017-09-26 10:56] NobbZ commented on #6604
Your updated example fails for two reasons:

* `_` in a typespec is not allowed, use `any` or `term` here (as said already)
* returning `"whatever"` does not obey the contract of returning `:ok`

And still, your example only shows, that the function were much cleaner when those superflous arguments got removed.

[2017-09-26 11:01] NobbZ commented on #6604
I've read your comment about implementing a callback only after writing my last answer.

And yes, even if you are right, that there we can't remove an argument from a function, I generally tend to either not spec them at all or use the spec from the behaviour as close as possible. This way I do not have to look it up when I feel to use that formerly unused arguement. Also I can avoid early that it

[2017-09-26 11:06] yordis commented on #6604
You don't care anyway, so why would that matter at all?

Right now because those parameters come from some library I don't know them and wasting time looking for something that you don't even care is not something that many developers will love to do, no?!

@jeremyjh, you are the mage on this. Will `_/0` helps at all Dialyzer or should be completely fine to use `any` because it does not care about

[2017-09-26 11:08] josevalim commented on #6604
I agree with @NobbZ. Not used is different from accepting anything. You can still say you expect an integer but not use it.

Also note this is a feature request. Feel free to start this discussion in the mailing list but it is unlikely we would add such convenience.

[2017-09-26 11:08] #6604 closed

[2017-09-26 11:09] yordis commented on #6604
Sorry what is `mailing list` thing I keep reading 😄 ?

[2017-09-26 12:03] Trevoke commented on #6602
Got it; thanks to both of you for the explanations. Amazing the trouble one can get into when one has no idea what they're doing.

[2017-09-26 13:36] lukaszsamson opened #6605 "Feature request: Better error reporting for ArithmeticError"
Rationale:
It is rather hard to debug production stack traces like:
[code]
or failing tests:
[code]
without knowing exactly which operation failed and what arguments were passed.

IEx does it right:
[code]
### Environment

* Elixir & Erlang versions (elixir --version): 1.5.1

[2017-09-26 15:00] josevalim commented on #6605
Thank you! This is fixed in a pull request that I have sent to OTP and it will be available on Erlang 21.

[2017-09-26 15:00] #6605 closed

[2017-09-26 22:47] heyitsjames opened #6606 "Mix cannot find git installation"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system:

MacOS 10.11

### Current behavior

`> mix deps.get`

```** (Mix) Error fetching/updating Git repository: the "git" executable is not available in your PATH. Please install Git on this machine or pass --no-deps-check if you want to run a previously built application on a system without Git.```

`> git --vers

[2017-09-26 23:16] heyitsjames commented on #6606
Upgrading to `1.5.1` doesn't solve this issue either, for what it's worth

[2017-09-26 23:30] heyitsjames commented on #6606
Uninstalling `zsh` did the trick. Now to figure out why `zsh` couldn't find `git`.... :-/

[2017-09-26 23:30] #6606 closed

[2017-09-27 12:57] lukaszsamson opened #6607 "Infinite loop when compiling eex template"
When compiling eex template with syntax error - missing `do` in `if` expression
[code]
the compiler hangs in infinite loop. The same happens with `unless` and `for`

### Environment

* Elixir & Erlang versions (elixir --version): elixir 1.5.1, erlang 20.0.5
* Operating system: macOS 10.12.6

### Current behavior
Infinite loop with 100% CPU usage outputting
[code]

### Expected behavior
No infinite

[2017-09-27 15:12] OvermindDL1 commented on #6607
I've also experienced this, sucks when it brings down my dev server and I have to restart it because I forgot a `do`.  ^.^;

[2017-09-27 15:30] OvermindDL1 commented on #6606
For note, I run zsh exclusively and have never seen such an issue...

[2017-09-27 15:36] NobbZ commented on #6606
`zsh` seemed to be able to find it… At least you showed the output of `git --version`… After reinstalling it, does the problem persist?

[2017-09-27 15:42] heyitsjames commented on #6606
Reinstalling zsh now works. I wonder if it was something I updated from brew that borked it. Like you said, I've run zsh for over a year with Elixir and Mix with no problems. Oh well, computers man, they'll get ya!

On Sep 27, 2017, 08:37 -0700, Norbert Melzer <notifications@github.com>, wrote:

[2017-09-27 19:18] pedrosnk commented on #6607
This issue is really easy to reproduce on cli

[code]

[2017-09-27 21:44] josevalim commented on #6570
Closing this since it is a hex bug. Thanks!

[2017-09-27 21:44] #6570 closed

[2017-09-28 08:36] #6607 closed

[2017-09-28 08:56] josevalim opened #6611 "Support Erlang 21 new features"
To be implemented when Erlang 21 is released (part of v1.7):

  * [x] Support new `handle_continue/2` gen_server callback
  * [x] Support the `__STACKTRACE__` variable in `catch` and `rescue` and Erlang's new try/catch clauses
  * [x] Deprecate `System.stacktrace` outside of `catch` and `rescue`
  * [x] Integrate with the new logger API (done on v1.6.6)

To be implemented when we require Erlang 21

[2017-09-28 08:58] josevalim commented on #6585
@fishcakez this particular piece of code was implemented as is for performance, since we need to do this lookup for every git dependency when we check dependencies. I checked the code and us being wrong is not a big issue because at worst it will say there is a lock mismatch. We will get an actual error later on, when we execute any of the git commands.

[2017-09-28 09:02] josevalim commented on #6585
Fixed in master and v1.5, thanks!

[2017-09-28 15:07] OvermindDL1 commented on #6611
No way of doing that when building on OTP21 as it stands before it is required?

[2017-09-28 15:10] josevalim commented on #6611
We need to check the version because otherwise the data ends up in compile_info but in the wrong place (under options).

[2017-09-28 16:03] benwilson512 opened #6613 "&fun/1 syntax in list literal error"
### Environment

* Elixir & Erlang versions (elixir --version): 1.5.1, OTP 20.1 (also an issue on 1.5.0)
* Operating system: OS X 10.13

### Current behavior

[code]

### Expected behavior

[code]

[2017-09-28 16:33] #6613 closed

[2017-09-28 16:51] fishcakez commented on #6585
@josevalim if there is non-ASCII characters in the URL we would either get the wrong URL (if Latin1 range) or crash with argument (if UTF-8 range beyond latin1). We were crashing because of the UTF-8 range beyond 255.

However this doesn't resolve the issue, only handle the symptom (crash), we want to handle error cases, which I think means we need to use `System.cmd`? Using destructure here might

[2017-09-28 17:12] josevalim commented on #6585
@fishcakez Yup, I agree about the URL, that's why 1c076f5de89bd31c97772439380354d59d80bac8 moved to List.to_string.

My point was just that we may still have false positives because of the use of destructure but that's fine because at best it will say the lock is wrong. If there is something misbehaving in their git, we will get the full error before we do any other git operation.

Does this clari

[2017-09-28 17:28] fishcakez commented on #6585
I'm not sure there is a performance difference here between `System.cmd` and `:os.cmd`, aren't the implementations almost equivalent for this case and we are able to produce a nice error?

[2017-09-28 18:50] josevalim commented on #6585
@fishcakez Erlang was used to have a single port that the requests were sent through but that seems to no longer be the case. So you are right, we should just be using System.cmd. There is a small downside that we will need to do two queries instead of a single one but the cost is probably negligible then?

[2017-09-28 19:59] fishcakez commented on #6585
It shouldn't be but I guess we need to check :(.

[2017-09-28 21:34] #6585 closed

[2017-09-29 19:11] wojtekmach commented on #6562
@josevalim what do you think about shipping `lib/**/*.ex` files in `Precompiled.zip` (and same for https://repo.hex.pm/builds/elixir/v1.5.2-otp-20.zip using bob)? I think we're almost there:

[code]

cc @ericmj

[2017-09-29 21:38] ericmj commented on #6562
Given the exception helpers we have now I think we should ship the source from files with the precompiled zip.

[2017-09-29 21:40] ericmj commented on #6562
We need to be careful so we can find the source files regardless where the zip file is unzipped though. I’m not sure if this is possible so testing will need to be done.

[2017-09-30 15:43] gasparch opened #6617 "Add compiler check that __before_compile__ is defined as macros"
### Environment
Erlang/OTP 20 [erts-9.0] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.5.1

### Current behavior

While using `@before_compile SampleModule` compiler will complain if `__before_compile__/1` is undefined.

Compiler stops complaining when this code added to SampleModule
[code]

But it does not invoke this function at all. This leads to

[2017-09-30 15:48] josevalim commented on #6617
It definitely invokes the function. :)

[code]

Sometimes you want the before compile callback to do some checks and not actually generate code. In such cases, defining it as a function make this intent explicit.

[2017-09-30 15:48] #6617 closed

[2017-09-30 16:30] BanzaiMan opened #6618 "The current "1.5" archive crashes on launch on OTP/Release 18.0"
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version): N/A (but the archive is

[2017-09-30 16:38] gasparch commented on #6617
Ahh, then function result does not get injected into module. May be in that case just check if someone returned valid AST and warn that may be they want to use macro and not the function?

[2017-09-30 16:43] josevalim commented on #6617
I understand the case you ran into but restricting it would reject valid use cases today. Using `:ok` is not a bad idea but it would require us to special case based on the function we are invoking, which is unprecedent. For now it is probably better to wait if others are also running into the same issue.

[2017-09-30 16:54] gasparch commented on #6617
May be it is enough to add in documentation somewhere in https://elixir-lang.org/getting-started/meta/domain-specific-languages.html and https://elixir-lang.org/getting-started/module-attributes.html

In both cases it says something along the lines 'inject code before compilation' and does not mention possibility of not injecting code. Simple test saying that if __before_compile__ can be function

[2017-09-30 16:57] josevalim commented on #6618
Oops, I have built the precompiled using Erlang 19 and it should have been 19.0.

@ericmj how did you build v1.5? It seems we both made the same mistake.

[2017-10-01 10:06] Dmdv commented on #6122
I have this issue on Windows 10, no chocolately installed
Error: downloading http://elixir-lang.org/elixir.csv failed

[2017-10-01 12:48] ericmj commented on #6618
@josevalim What's the difference between 19 and 19.0?

@BanzaiMan I would recommend not using the v1.5 zip since it tracks a maintenance branch which is not guaranteed to be stable. The issue here is something else though.

I build with oldest support major version and the latest so since Elixir 1.5 supports Erlang 18 and 18.3 is the latest version I build with that according to https://github.com

[2017-10-01 13:32] josevalim commented on #6618
Sorry, I meant to say we should have compiled with 18.0 and not 19. I have amended my comment above, thanks!

[2017-10-01 14:36] BanzaiMan commented on #6618
@ericmj In general, we read the user input `1.5` and use that to request the archive. While I can add the note for avoiding such a release specification, it is mostly out of our hands.

[2017-10-01 14:49] DavidOliver commented on #5987
I seem to have come across this issue when running tests for an app in an umbrella project (Phoenix 1.3-generated) in Elixir 1.5.1.:

** (Protocol.UndefinedError) protocol Phoenix.HTML.FormData not implemented for #Ecto.Changeset...

Deleting `_build` worked around it, and things seem to be fine again. Let me know if I should provide more information or share the project privately. Thanks.

[2017-10-01 15:10] ericmj commented on #6618
@BanzaiMan A note for users would be great!

Should be fixed now.

[2017-10-01 15:10] #6618 closed

[2017-10-01 23:39] kelvinst commented on #6248
This is actually a lot harder than I thought it would be, the differ will need to receive the AST of the left side and also the pinned variables. I will invest my time now on some easier issues and leave this one for later when I get some time to deeply study this.

Also, if someone is interested to help me on it, be my guest. 😉

[2017-10-01 23:44] kelvinst commented on #6540
I'll work on this. @josevalim why did you marked this issue with a `Note: Discussion` label?

[2017-10-02 06:09] josevalim commented on #6540
@kelvinst it is because we should check if the noproc error message is already better today. Giving better error messages is great but sometimes it is counter-intuitive with the let it crash approach. But in case the message is still not clear, then yes, we should definitely do something.

[2017-10-02 06:48] fishcakez commented on #6540
I think we can solve this by how we generate the exit reason, rather than needing to add a nice error message manually.

If we look at `:proc_lib.start` return value:
https://github.com/elixir-lang/elixir/blob/b89d010b1d01a1b66f08303616d3e684f51f8191/lib/ex_unit/lib/ex_unit/capture_log.ex#L102
If there is a crash in the spawned process the return is `{:error, exit_reason}`, and we want to pass tha

[2017-10-02 06:53] fishcakez commented on #6540
Just to be clear we can see this in the output logged, we want the `{:error, :noproc}` part to be `:noproc`:
[code]
This format is created by calling approximately:
[code]
And we want it to be:
[code]
When `:gen_event` calls fail such as `:gen_event.add_sup_handler` they call `exit/1` with the `:DOWN` reason of the gen_event, i.e. `exit(reason)`, which is `exit(:noproc)` when there is no process.

[2017-10-02 09:40] josevalim opened #6626 "Support preloading of applications modules in Mix (or at least mix test)"
We have recently added the `--slowest N` feature to `mix test` but the first tests to run will always be the slowest because they also need to load the code they are invoking.

One possible solution for this problem is to preload the modules in the loaded applications. We can make it either generic (a flag on app.start) or specific to `mix test --slowest N`.

[2017-10-02 15:29] sorentwo commented on #6626
Mind if I help with this one? I helped implement `--slowest` support initially, so I'm invested in it.

Regarding the flags, I think we should start by automatically enabling it when `--slowest` is used. You shouldn't need to remember to use both `--preload` (or whatever it would be called) and `--slowest` flags to get accurate timings.

[2017-10-02 15:57] josevalim commented on #6626
@sorentwo definitely. Let's wait for a couple more people to jump in though because I am not yet sure if that's the best way to go.

And yes, preload should be done automatically if you are calling --slowest.

This may also be helpful to @benwilson512.

[2017-10-02 16:00] bschaeffer commented on #6626
Just weighing in, but if this is needed solely to accurately measure the first test when using `--slowest`, I'm 👍 on doing it automatically when using the `--slowest` flag.

[2017-10-02 16:03] benwilson512 commented on #6626
In my view it's needed more generally, in that tests using `assert_receive` can fail if they are the first test to call out to a large library. As a simple example:

[code]

Even if `fun` is normally very fast, if it involves loading a ton of modules within `SomeBigLibrary` the test may fail if it's one of the first to run, which can be incredibly hard to debug.

[2017-10-02 16:09] sorentwo commented on #6626
@benwilson512 That's a sensible use case for having a separate flag to enable preloading. Are you proposing that the default behavior when running `mix test` is to preload, or that it should be exposed as a flag?

[2017-10-02 16:11] josevalim commented on #6626
@sorentwo so let's go with an implementation that adds `--preload` to `app.start` and `--slowest N` enables this flag by default. :) But generally speaking, `--preload` won't be enabled.

[2017-10-03 02:46] benjamintanweihao commented on #1549
Well I stumbled onto here looking for an Elixir version of `each_cons`. Turns out that `Enum.chuck/3` does the trick too.

[code]

[2017-10-03 15:03] OnorioCatenacci commented on #6122
@icode you've slightly misunderstood things.  When others have seen this
issue we have suggested using Chocolatey as a workaround.  The presence or
absence of Chocolatey has no bearing on the issue as far as as any of us
know.

On Sun, Oct 1, 2017 at 6:07 AM, icode <notifications@github.com> wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2017-10-03 17:06] kelvinst commented on #6546
So let's add a compile error for it right?

Just one more thing: Erlang/OTP 20 also refuses to compile duplicated spec definitions.

[code]

[code]

Let's add the compile check for both?

[2017-10-03 17:41] josevalim commented on #6546
The way multiple clauses work in Erlang is that they are separated by comma:

[code]

In Elixir we don't have the same syntax so we allow the same one to specified multiple times and then we merge them together in a later pass.

We do this later pass for specs but apparently we don't do it for callbacks, so that's what needs to be done. :)

[2017-10-03 17:46] kelvinst commented on #6546
Well, living and learning. 🤣

If no one else is interested, I can do it! :)

[2017-10-03 17:58] josevalim commented on #6546
Please go ahead :)

[2017-10-03 21:54] wojtekmach opened #6629 "`mix xref callers` and Phoenix templates"
Original bug report: https://github.com/phoenixframework/phoenix/issues/2543

### Environment

* Elixir & Erlang versions (elixir --version): 1.5.2/OTP 20
* Operating system: macOS Sierra

### Current behavior

Let's say I have following files:

[code]

[code]

[code]

Note xref correctly got the line number but used views' filename instead of template's.

### Expected behavior

[code]

[2017-10-03 21:58] brodeuralexis commented on #6549
if the `@impl` attribute is required when using `@behaviour`, wouldn't compilation fail for a lot of libraries, [`plug`](https://github.com/elixir-plug/plug/blob/master/lib/plug/parsers.ex#L199) being one of them ?

[2017-10-03 23:04] wojtekmach commented on #6629
FWIW I was able to get a failing test on master:

[code]

it's not quite the same as in phoenix templates (which don't use `EEx.function_from_file`) but seems related. Hope it helps!

[2017-10-04 07:01] josevalim commented on #6549
Required means they would always warn. We probably wouldn't halt compilation.

@michalmuskala why did you "downvote" the feature? Can you please explain your rationale?

[2017-10-04 07:08] josevalim commented on #6629
Thanks @wojtekmach!

The fix is probably that, if we find a warning, we should traverse the abstract code and retrieve the proper file, similar to how we were used to do here: https://github.com/elixir-lang/elixir/blob/v1.5.2/lib/iex/lib/iex/introspection.ex#L138

We can likely solve this by traversing the module definition too: https://github.com/elixir-lang/elixir/blob/v1.5.2/lib/iex/lib/iex/pry

[2017-10-04 09:26] whatyouhide commented on #6549
Small note: warning is the way to go IMO, because that's how most of the behaviour-related functionality works. For example, missing callbacks warn, they don't halt compilation :).

[2017-10-04 11:03] ndac-todoroki opened #6631 "`with` sentences does not pattern match against structs"
### Environment

* Elixir & Erlang versions (elixir --version):
  - Erlang/OTP 20 [erts-9.0] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]
  - Elixir 1.5.1

* Operating system:
  - Ubuntu 17.04

### Current behavior
[code]

### Expected behavior

[code]

---

Since it was very hard for me to find documents about `with` comprehensions (`with` is all over ther

[2017-10-04 11:06] samphilipd opened #6632 "Erroneous warning for macro: `this expression will fail with ArgumentError`"
### Environment

* Elixir & Erlang versions (elixir --version):

[code]

* Operating system:

[code]

### Current behavior

[code]

Compiling gives a warning that doesn't make sense:

[code]

### Expected behavior

There should be no warning.

[2017-10-04 11:53] josevalim commented on #6632
The error is happening because the compiler knows `is_ipv4_address("foo")` will fail. Even if we fix that the message is wrong, once fixed it will say that "that it always return false" and you likely don't want any warning.

We also run into similar issues in the Elixir suite as well, they are usually addressed by making the code dynamic:

[code]

I will report the error message to the Erlang/OTP

[2017-10-04 11:53] #6632 closed

[2017-10-04 11:56] josevalim commented on #6631
You can find more documentation for with by typing `h with` in IEx or on our docs: https://hexdocs.pm/elixir/search.html?q=with

It is important to note that `with` **will return the value that does not match**. That's why you think it is matching but it actually isn't. Try this:

    with %MapSet{} <- args, do: {:ok, args}

or this:

    with %MapSet{} <- args do
      {:ok, args}
    else

[2017-10-04 11:56] #6631 closed

[2017-10-04 11:59] samphilipd commented on #6632
Thanks!

[2017-10-04 13:11] ndac-todoroki commented on #6631
OK, the problem was indeed in my code; the `with` sentence (btw, what should I call `with`... a macro?) was returning {:ok, nil}, which didn't stop start_link/3 of GenServer in my test code. Thank you @josevalim !
I also was misreading the docs (and thanks noting about the `h`... I was reading the `@doc` directly :( ),

as something like _no matching `with`condition_ ... my bad. sorry!

[2017-10-04 13:21] filipemonteiroth commented on #6437
@vjorjo

I just tested that piece of code on erlang (erl)

`string:lowercase("ΣΣ").` and it returns `σσ`.

However that is weird, since on Erlang docs, it says it should convert correctly.

Check that out: http://erlang.org/doc/apps/stdlib/unicode_usage.html

[2017-10-04 15:15] brodeuralexis commented on #6549
Hi @josevalim, I have another question for you.

Should we show missing `@impl true` warnings inside exceptions for the `exception/1` and `message/1` optional callbacks ?

I believe we should, but in this particular case, I value your opinion more than my own.

It means that for this code :
[code]
We would have the following warning :
[code]
And it should therefor be rewritten as :
[code]

[2017-10-04 15:48] josevalim commented on #6549
@brodeuralexis yup, something along those lines. Note this is still under discussion though so while contributions are welcome, we should hold back on implementations until it is agreed. Plus we should probably start porting the behaviour work in #5800 before working on this one.

[2017-10-04 17:42] brodeuralexis commented on #6549
Is it possible that the list in #5800 is not up to date ?  I see that we define [quite a few warnings](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/module.ex#L1249) for behaviours already.

[2017-10-04 17:48] josevalim commented on #6549
The list in #5800 may be out of date but the warnings you linked are not tracking in that list. That list is about the warnings raised by Erlang and impl is an Elixir specific thing.

[2017-10-05 19:59] ElectricCoffee opened #6635 "Orthogonal use of key-value pairs"
Playing around I've found that the `key: value` syntax seems to be somewhat artificially restricted in its use, like for example, I see that `key: value` is short-hand for `{:key, value}` when used in things like keyword lists:

[code]

I'm just thinking, for the sake of making the language feel more consistent, wouldn't it also be nice to have this syntax apply literally everywhere else?

[code]

[2017-10-05 20:10] josevalim commented on #6635
Please use the mailing list for feature proposals, the issues tracker is for actionable issues only (or features that have already been agreed to be included in the language).

But generally speaking, the issue this would add with the current syntax is of ambiguity. If you write:

    foo(bar: baz)

do you know mean:

    foo({:bar, baz})

or:

    foo([{:bar, baz}])

You could say the latter for

[2017-10-05 20:10] #6635 closed

[2017-10-06 02:40] JugrajSingh91 commented on #4242
Hey
I want to add process delay but Process.delay and even timer.delay can do it in milliseconds. I am not being able to find a way to add delays in microseconds. Can you please help?!

[2017-10-06 07:42] NobbZ commented on #4242
The beams internal clock and message delay mechanics do not allow for granularity finer than milliseconds.

[2017-10-06 12:11] miwee opened #6636 "File.ls doc may be confusing"
iex(1)> h File.ls
* def ls(path \\ ".")

Returns the list of files in the given directory.

Returns `{:ok, [files]}` in case of success,
`{:error, reason}` otherwise.

If one simply copy paste the code as `{:ok, [files]}` = `File.ls(somedir)`, variable `files` will not have value of directory listings. So it's better to mention the return value as `{:ok, files}` in the docs

[2017-10-06 12:17] #6636 closed

[2017-10-06 13:56] filipemonteiroth commented on #6437
It looks we have some issue around that piece of code:

UnicodeData.txt

`03A3;GREEK CAPITAL LETTER SIGMA;Lu;0;L;;;;;N;;;;03C3;` (Line 923)

It will always convert `03A3 Σ` to `03C3 σ`

There's a SpecialCasing.txt file, however there's nothing implemented to treat that special case.

[2017-10-06 15:14] josevalim commented on #6437
Those cases need to be implemented manually as it cannot be done by programmatically parsing those files.

[2017-10-06 16:01] filipemonteiroth commented on #6437
@josevalim that make sense!

[2017-10-06 17:46] chrismccord opened #6637 "No warning for duplicate clauses when injecting code"
Originally reported on phoenix https://github.com/phoenixframework/phoenix/issues/2549

I can replicate this on Elixir 1.5.1. I originally thought it was something fancy that Phoenix.Router may have been doing, but the following code trivially replicates the issue by simply injecting some clauses that should warn in a before_compile:

[code]

Defining a module with the same clauses directly includ

[2017-10-06 19:59] JugrajSingh91 commented on #4242
Thanks! I can stop looking then.

[2017-10-07 18:48] #6540 closed

[2017-10-07 19:26] fishcakez commented on #6626
It's not the only time this issue may occur, and becomes more likely on slower CI systems (not naming any names travis). It's possible to control the default assert receive timeout globally, rather than per call using `assert_receive_timeout` in the ExUnit configuration, for example:
[code]
This approach is recommended generally for assert receive because it always you to scale the timeout with th

[2017-10-07 19:52] josevalim commented on #6626
@sorentwo if you haven't started yet, please hold. @fishcakez brought some new concerns we need to discuss and it is likely that --slowest will need its own version of preloading anyway.

[2017-10-07 20:24] sorentwo commented on #6626
@josevalim Thanks for the heads up, I'll try and follow the discussion in #elixir-lang.

[2017-10-07 20:47] jerel commented on #6429
It looks like v1.5.2 was released without this fix, is it large enough that it needs to wait for a minor or could we get it in v1.5.3? All our instances of `assert_receive` that have a descriptive message are throwing warnings which end up hiding real warnings

[2017-10-07 21:08] josevalim commented on #6429
Backported to v1.5.

[2017-10-08 10:10] josevalim opened #6643 "Format codebase files with the upcoming code formatter"
Hi everyone!

Elixir master now includes a code formatter that automatically formats your code according to a consistent style.

We want to convert Elixir's codebase to use the formatter on all files. We understand this means a lot of code churn now but, on the positive side, it means we can automatically enforce and/or format future contributions, making it easier for everyone to contribute to El

[2017-10-08 13:28] whatyouhide opened #6644 "How to make the code formatter configurable from dependencies"
From @chrismccord at whatyouhide/code_formatter#14:

I believe the current plan is to allow user's choice to be respected on a macro-by-macro basis, so for example, Phoenix could generate a `.formatter.exs` with a list of the router macros to not wrap in parens. While this can be made to work for Phoenix, since it generates projects, I still feel it will be too restrictive for many DSLs. I see two

[2017-10-08 17:25] josevalim commented on #6644
For now, I will wait if our current rules will be in fact a limitation.

For the `forward` example, the user will either 1. not use forward and then it won't matter or 2. use `forward`, notice it looks different from the other ones and add it to their file or 3. use, notice it is different, and not care.

We can always revisit this decision later.

[2017-10-08 21:37] whatyouhide opened #6645 "Formatter doesn't respect :locals_without_parens configuration for nested calls"
This is the minimal reproducing example I could find:

[code]

This formats the code as

[code]

instead of formatting it as the expected

[code]

(This became obvious when formatting `check all` calls from [stream_data](https://github.com/whatyouhide/stream_data))

[2017-10-08 23:23] #6645 closed

[2017-10-09 00:30] pragdave opened #6646 "Code formatter incorrectly formats multiline lists when there is a trailing comma"
The docstring says

structs will be broken into multiple lines if they are followed by a newline in
the opening bracket and preceded by a new line in the closing bracket lines.

However, this code:

[code]

gets formatted as:

[code]

Cheers

Dave

[2017-10-09 00:44] pragdave opened #6647 "Could code formatter leave spaces in multiline keyword lists?"
I like to make multiline keyword lists easier to read by aligning the values into a column:

[code]

The code formatter removes these extra spaces:

[code]

I would be really, really nice if it kept them. (And even nicer still if it added them to do the alignment for you... :)

[2017-10-09 00:47] pragdave opened #6648 "Code formatter losing multilines in maps"
This may be related to the previous one, but:

[code]

is formatted as

[code]

I really like the way it split `files:` onto multiple lines. But is also rewrapped `links:` onto one line.
And, in the process, it removed the spaces after `%{` and before `}`.

Cheers

Dave

[2017-10-09 04:05] fishcakez commented on #6646
This looks like an issue with multiline lists combined with a trailing comma. The formatter will remove the trailing commas but then not honor the multiline list. Rather it should remove trailing comma and honor the multiline list.

[2017-10-09 04:07] pragdave commented on #6646
Fwiw, multi line lists are exactly where a trailing comma is good...

On Sun, Oct 08, 2017 at 11:05pm, James Fish < notifications@github.com [notifications@github.com] > wrote:
This looks like an issue with multiline lists combined with a trailing comma. The formatter will remove the trailing commas but then not honor the multiline list. Rather it should remove trailing comma and honor the multili

[2017-10-09 04:15] fishcakez commented on #6648
This is the same bug as #6646.

[2017-10-09 04:15] #6648 closed

[2017-10-09 04:17] fishcakez commented on #6647
Hi @pragdave. I believe the Elixir code base used to be aligned more then half the time, and then moved away from aligning about a year ago. The formatter is following the standard style used by Elixir.

Note that aligning like this can cause many lines to be altered when one entry becomes longer. This hurt the review process, history and maintenance. Of course the later point is much less signifi

[2017-10-09 04:20] fishcakez commented on #6646
Please try to stay objective :). A topic like trailing commas can invite lots of opinions and not many facts. Elixir current style does not use trailing commas and the formatter follows the existing style. If you can show that it would be of benefit please propose it separately.

[2017-10-09 05:24] pragdave commented on #6646
Objectively:

1. A trailing comma never hurts.

2. A trailing comma makes it easier to add

3. A trailing comma means you can sort a kv literal on key.

On Sun, Oct 08, 2017 at 11:21pm, James Fish < notifications@github.com [notifications@github.com] > wrote:
Fwiw, multi line lists are exactly where a trailing comma is good...

Please try to stay objective :). A topic like trailing commas can invi

[2017-10-09 05:58] pragdave commented on #6647
Well, as José can attest, I've never been a fan of the current Elixir style, and have many times proposed different ways of doing it. The code created by the standard generators, which was then in the standard "Elixir style" was eventually changed into something more reasonable as a result of my suggestions.

Elixir is a lovely language, but the way it is often written makes it look ugly, which is

[2017-10-09 06:10] fishcakez commented on #6647
@pragdave I didn't mean to be ad hominem and was trying to fair. I was very keen to keep discussion on track and explain it is how it is. I think code style is more likely than most to trigger a discussion that can get derailed. Sorry I let that get in the way of fluid discussion.

[2017-10-09 06:15] fishcakez commented on #6646
Right, it makes refactoring easier, and works nicely for history as this creates the minimal diff because a change has the smallest area of effect. I am unsure if it has a slight negative effect clarity of code for those who are not used to it. Perhaps that becomes moot, except for beginners, if the formatting is widespread. I think a similar example is piping into a case where it is not obvious u

[2017-10-09 06:20] pragdave commented on #6646
So will the formatter not strip trailing commas going forward?

Again, this is the compromise solution. If people don't use them, the formatter is happy. If people do use them, it's also happy.

On Mon, Oct 09, 2017 at 1:15am, James Fish < notifications@github.com [notifications@github.com] > wrote:
Right, it makes refactoring easier, and works nicely for history as this creates the minimal diff b

[2017-10-09 06:35] fishcakez commented on #6646
I think this (and #6647) bring up a point about where the line is drawn between consistent style and flexibility. The current method is quite rigid and mandates the style, which can improve productivity as there is no discussion or leg work to be had on each project or change. On other hand being more flexible allows people to express they code how they feel is clearest and make more trade offs fo

[2017-10-09 07:04] pragdave commented on #6646
Well, if you decide the formatter should strip trailing commas because that's the Elixir way, perhaps the parser should be changed no longer to support them.

On Mon, Oct 09, 2017 at 1:36am, James Fish < notifications@github.com [notifications@github.com] > wrote:
I think this (and #6647 [https://github.com/elixir-lang/elixir/issues/6647] ) bring up a point about where the line is drawn between co

[2017-10-09 07:27] josevalim commented on #6646
Thanks for the report @pragdave! It has been fixed on 9b5af3303d4868431618676688b46745bcf70c27.

Our goal with the formatter is to mandate a style, reducing the amount of discussion on each project or change and also ensuring everyone in the community follows the same guidelines.

We will likely end-up adding more flexibility but it is still too early to tell which ones. Everyone is going to have

[2017-10-09 07:27] #6646 closed

[2017-10-09 07:37] pragdave commented on #6646
Our goal with the formatter is to mandate a style, reducing the amount of
discussion on each project or change and also ensuring everyone in the
community follows the same guidelines.

I wonder if a linter would meet these goals better than a formatter?

[2017-10-09 07:37] josevalim commented on #6647
We (the core team) know from experience that discussion on styles can be tough.  :) And, similar to our previous discussions, I don't believe anyone here intended to get personal or derail the discussion. :heart:

As I mentioned in the other issue, our goal with the formatter is to mandate a style, reducing the amount of discussion on each project or change and also ensuring everyone in the commun

[2017-10-09 07:50] josevalim commented on #6646
@pragdave I am not sure. We have linters that are flexible when it comes to rules and some that are strict. Similarly, I would expect some formatters to be more flexible than others on keeping the user input.

In any case, we are quite happy with the formatter so far exactly because it automates the rules and we don't need to explicitly act on the feedback of a linter, which is a much slower devel

[2017-10-09 08:59] #6546 closed

[2017-10-09 09:49] whatyouhide opened #6651 "Formatter doesn't keep newline in non-"<-" clauses in "for" and friends"
Formatting this code:

[code]

spits out

[code]

The same happens for

[code]

which is formatted as

[code]

I think in this case we want to have the newline between each clause.

[2017-10-09 09:55] josevalim commented on #6651
Yup, working as intended. We only force breaks if you have two or more generators.

[2017-10-09 09:55] #6651 closed

[2017-10-09 10:23] whatyouhide commented on #6643
I performed the steps José suggested and came up with the first PR, https://github.com/elixir-lang/elixir/pull/6652. If you're in doubt you can use it as an example :).

[2017-10-09 10:24] SteveAlexander opened #6653 "Splitting string into characters has empty string at the end"
Splitting string with empty string as a separator unexpectedly (for me) results in an extra empty string at the end of the output.

While it's possible to remove said empty string using the `trim: true` option, the default behaviour seems counter-intuitive.

Elixir 1.5.1

### Current behavior

[code]

### Expected behavior

[code]

[2017-10-09 10:32] LostKobrakai commented on #6643
How about nested function calls to pipes? I've got `elixir/lib/port.ex` and there are a few line like that after formatting: `nillify(:erlang.port_info(port, item))`. It could be written as `port |> :erlang.port_info(item) |> nillify()`

[2017-10-09 10:36] josevalim commented on #6643
@LostKobrakai leave those as is especially because many modules in Elixir core cannot use pipes because of bootstrapping issues.

[2017-10-09 10:39] Vladislao commented on #6122
I am also having the same problem. I guess that happens because of
![image](https://user-images.githubusercontent.com/5503972/31334208-5b437976-acfe-11e7-891b-c03ab96db629.png)
 Chrome doesn't see it as a problem though.

[2017-10-09 10:55] enilsen16 opened #6659 "Building Elixir from master fails"
ref: https://github.com/asdf-vm/asdf-elixir/issues/36

### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erla

[2017-10-09 11:00] gmile commented on #6643
@josevalim running locally, I'm seeing the following code change introduced by formatter:

[code]
What would be a preferred way to fix this one? If I am to asked, I'd keep the original version as it looks fine?

[2017-10-09 11:12] josevalim commented on #6659
The build on travis is green: https://travis-ci.org/elixir-lang/elixir

Can you please check try it on Erlang 20.0 and let us know if it is related to the Erlang version by any chance?

[2017-10-09 11:13] gmile commented on #6659
I've noticed this locally too, I'm on:

[code]

Running `make clean` and then `make compile` again fixed the compilation for me.

[2017-10-09 11:15] gmile commented on #6659
I was able to compile successfully (wanted to run formatter code), but now if I run `make test`, I see the above test failures consistently.

[2017-10-09 11:19] josevalim commented on #6653
Hi @SteveAlexander!

We recently had a long discussion about this because of this behaviour:

    String.replace("123", "", "x")
    #=> "x1x2x3x"

Which then proposes that we would need to return an empty string *before* and *after*. We even tried to fix it on #6566 but the fact it would be backwards incompatible and inconsistent with how regex split works makes us unable to change the current be

[2017-10-09 11:19] #6653 closed

[2017-10-09 11:20] josevalim commented on #6643
@gmile move the message out!

[code]

[2017-10-09 11:41] gmile commented on #6643
@josevalim thanks! done in https://github.com/elixir-lang/elixir/pull/6690

[2017-10-09 11:48] josevalim commented on #6643
Folks running the formatter multiple times, please don't forget to frequently pull from master. :) Thank you!

[2017-10-09 11:49] LostKobrakai commented on #6643
And do not forget to recompile after pulling :D

[2017-10-09 11:58] josevalim commented on #6643
Ok folks, this was a bigger success than I expected. :D If you have already sent a PRs today, please hold back until we clear up the backlog. I am afraid we may find bugs in the formatter that will generate rework on later steps. Thanks everyone so far! I will let you know as soon as we are ready to handle more! :heart:

[2017-10-09 12:00] LostKobrakai commented on #6643
Also travis seems to run rather hot today :P

[2017-10-09 12:29] minhajuddin commented on #6643
I did a quick run on one of my files and found this change:

### Before formatting
[code]

### After formatting
[code]

Is that expected? Thanks for the formatter, I love the idea :smile:

[2017-10-09 12:47] josevalim commented on #6643
@minhajuddin please open up a new issue. Note I will remove your comment and this reply as this is not the place to discuss general formatter issues.

[2017-10-09 13:28] minhajuddin opened #6725 "Code formatter re arranges comments in structs which causes loss of context"
Code formatter re arranges comments in structs which causes loss of context

### Environment

* Elixir & Erlang versions (elixir --version): Erlang 20, Elixir 1.6.0-dev bb26227f7
* Operating system: Ubuntu 16.04

### Current behavior

Before formatting my code looks like below:

[code]
After formatting my code looks like below:

[code]

### Expected behavior
As you can see the comments are moved f

[2017-10-09 14:29] OvermindDL1 commented on #6122
It's working in IE11 here at work via https.

[2017-10-09 14:45] ericmj commented on #6725
I think this is one of those cases where you have to fix the comments manually after running the formatter.

[2017-10-09 14:54] ericmj commented on #6122
According to this the HTTPS is set up correctly: https://www.ssllabs.com/ssltest/analyze.html?d=www.elixir-lang.org.

Make sure you have the latest updates applied to your Windows.

[2017-10-09 15:09] #6659 closed

[2017-10-09 16:07] jordan0day opened #6738 "with clause cannot match when case is inside else block"
This is very similar to #6380, but shows up when using a `case` expression inside the `else` block of a `with`.

### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.5.2, Erlang 20.0
* Operating system: OS X 10.12.6 Sierra

### Current behavior
The following code functions correctly, but emits the `this clause cannot match because of different types/sizes` warning during compil

[2017-10-09 19:48] Cohen-Carlisle opened #6759 "Enum#group_by docs incorrect re: ordering"
### Environment

* Elixir & Erlang versions: Erlang/OTP 19, Elixir 1.4.2
* Operating system: macOS Sierra Version 10.12.6 (16G29)

### Current behavior

[code]

### Expected behavior

From [the docs](https://hexdocs.pm/elixir/1.3.4/Enum.html#group_by/3)
[code]

I'm guessing the docs are gonna change to reflect current behavior, though.

[2017-10-09 19:59] OvermindDL1 commented on #6759
I'm not sure what is wrong there?  The only list shown has the same order in both of your examples?

If you are talking about the map ordering, well that does not matter, maps are orderless (well internally they are ordered until about 32 elements in size then they are not, but they should always be considered unordered).

[2017-10-09 20:32] josevalim commented on #6759
@OvermindDL1 it is regarding the map.

@Cohen-Carlisle thanks! We will change the docs but keep in mind that the order in maps absolutely does not matter, although we should keep the examples consistent to avoid confusion. :)

[2017-10-09 20:32] #6759 closed

[2017-10-09 20:38] Cohen-Carlisle commented on #6759
Ah, I guess I misinterpreted what "Ordering is preserved." from the docs meant. Based on that phrase and the example given, I thought the map keys would be ordered by when the first element matching that key was encountered. In other words, I thought that the position of `7` as the second key was due to the fact the `7` was the second length of string encountered.

I blame ruby for making me assum

[2017-10-09 20:56] stavro commented on #6725
This is documented as intentional: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/code.ex#L284-L325

[2017-10-09 22:18] myronmarston opened #6768 "ExUnit diff of two lists is confusing when head is missing"
### Environment

* Elixir & Erlang versions (elixir --version):

[code]

* Operating system:

OS X 10.12.6

### Current behavior

Given this failing test, where the difference between two lists is a missing element at the end:

[code]

...it produces a really nice, clear diff:

![screen shot 2017-10-09 at 3 14 12 pm](https://user-images.githubusercontent.com/49391/31360718-8d0592ae-ad04-11e7-8d40-

[2017-10-09 22:20] josevalim commented on #6768
Assigned to @lexmag as he is the one who will know if this is possible or not.

[2017-10-10 07:28] josevalim opened #6792 "Support uniq: true in for comprehensions"
This avoids doing a later pass on the data.

[2017-10-10 08:41] josevalim commented on #6643
Thanks for everyone who contributed in the last 24 hours! After your contributions, 37% of the codebase is now properly formatted (it was around 8% when we started).

[code]

We welcome more contributions but note we are keeping the restriction of **one pull request per day** so we can give feedback to everyone. Also please check if your previous PR have been merged or if there is any work pending

[2017-10-10 09:05] whatyouhide opened #6797 "Formatter should put parens around some operators"
This code

[code]

is formatted as

[code]

[2017-10-10 10:20] josevalim commented on #6643
Folks, please remember to fetch latest master and run `make clean compile` before sending contributions so you are sure to run on the latest version of the formatter.

[2017-10-10 12:11] jeroenvisser101 commented on #6643
@josevalim you might want to tag this with [`hacktoberfest`](https://hacktoberfest.digitalocean.com/#resources) to get more help, seems like a very easy chore that helps people get introduced to the Elixir codebase

[2017-10-10 13:11] josevalim commented on #6797
In master.

[2017-10-10 13:11] #6797 closed

[2017-10-10 13:20] mhinz opened #6809 "Formatter: don't wrap string substitutions"
I'm not really sure this even counts as an issue, but when I format `Kernel`, I notice this:

[code]

..gets formatted like this..

[code]

Take one `long` away, and you'll get..

[code]

Obviously the second line is still too long, but automatically wrapping the string substitution in the former case looks wrong.

Is this intended, a bug, or just an unfortunate corner case? :)

[2017-10-10 13:33] josevalim commented on #6809
It is by design. We need to split where it can and the only place we can split such large strings it is there. You need to refactor your code. :)

[2017-10-10 13:33] #6809 closed

[2017-10-10 14:16] OvermindDL1 commented on #6797
I'm curious (mostly trying to understand the formatting rules), what is wrong with that?  Isn't it an unary negation thus `&-&1` is what I'd do?  Separating the `&` from the function call of `-/1` seems to separate the fact it is function passing away from the function it is passing?

[2017-10-10 14:46] OvermindDL1 commented on #6792
What about having `uniq:` take a 1-arity function to act as a `uniq_by` (as in `Enum`), or perhaps a `uniq_by:` that takes such a 1-arity function?  What would be preferred?

[2017-10-10 14:50] bschaeffer commented on #6792
Would it be better to have `:uniq` accept either `true` or `fun/1`?

[2017-10-10 15:07] OvermindDL1 commented on #6792
That is what I was thinking, it'd be a lot more useful then.  Although an even more powerful method would be to somehow make a unique'ing clause so any arbitrary step could be uniq'd (like a `uniq(blah)` filter), but of what form would such a clause take?  Maybe something like:

[code]

This makes it look like a function call like any other normal filter, however it is not a function call so it br

[2017-10-10 15:15] josevalim commented on #6792
@OvermindDL1 the problem is the ambiguity with a potential local named `uniq/1` and forcing the bindings to be all defined upfront. Having `uniq_by` with an anonymous function has the opposite issues in the sense we can only call `uniq_by` if the value you are computing the unique part is in the result, which may not be the case.

That's why `uniq: true` is appealing because none of those issues e

[2017-10-10 15:22] OvermindDL1 commented on #6792
That is precisely what I was referencing when I'm talking about it breaking expectations, the user would not be able to use a `uniq/1` in their scope even if they wanted to.  ^.^;

Indeed, not too hard to do at all to just optimize it out entirely when it is not specified.

However, by having it be an option instead of a clause means that you can cannot do arbitrary uniqueness at some step like yo

[2017-10-10 15:26] OvermindDL1 commented on #6792
Hmm, could make it something that does not make sense otherwise at the location, perhaps 'internal' filters could just be prefixed with a `_` to make the above example's `uniq` line become `_uniq(x+y),` as in:

[code]

It does make it obvious then that it is not a natural function call (though still possible, just not a usual form).  Could always introduce a new syntax as well that is not possible

[2017-10-10 15:45] josevalim commented on #6792
Yup, that's the downside I meant about a function.

@OvermindDL1 for now we are going with uniq: true as a boolean as it doesn't have any of the issues above. The jury is still out there regarding uniq_by and order_by. You can start a discussion in the mailing list if you want to.

[2017-10-10 17:53] josevalim commented on #6643
Hi folks, we have crossed another another exciting milestone: 70% of the files in the codebase are now formatted (314 out of 452). 🎉

In the last 3 days we had 150 pull requests by 67 people merged, thanks everyone for contributing. :heart:

@jeroenvisser101 we are keeping the hacktoberfest in the back of our minds but for now we almost have more work than we can handle so I don't want to increase

[2017-10-10 19:01] josevalim opened #6835 "Raise better error message for unknown local | in pattern"
For example in cases such as:

    defp comparison(left_head | left_tail, [], result \\ "") do

Or alternatively we can improve unknown `|` altogether, even outside of patterns.

[2017-10-10 20:05] OvermindDL1 commented on #6835
What is the error in your given example?  It looks like normal head|tail matching?

Or is this for what the `|` operator is overridden?

[2017-10-10 20:18] josevalim commented on #6835
Oops, I have updated the example. It will say unknown function `|` and we can provide some pointers. The same for `::`.

[2017-10-10 20:20] OvermindDL1 commented on #6835
Ah, makes much more sense!  ^.^

[2017-10-10 23:00] josevalim commented on #6725
We are now keeping the struct over multilple lines but the comments will be moved out, yes. :)

[2017-10-10 23:04] ericmj opened #6851 "Support dependencies depending on top-level project"
See: https://elixirforum.com/t/working-around-circular-library-dependency/9239/7?u=ericmj

[2017-10-11 00:12] ericmj commented on #6851
This didn't solve all the cases we had in mind and would also cause issues as xref warnings. Closing this until we have more cases we know we can solve or find another solution

[2017-10-11 00:12] #6851 closed

[2017-10-11 02:15] amatalai opened #6861 "Code formatter: syntax error after formating heredoc with line break before terminator"
### Environment

* Elixir & Erlang versions: Elixir 1.6.0-dev (7b8d5ec28) (compiled with OTP 20)
* Operating system: macOS 10.13 (17A365) - High Sierra

### Current behavior

Formatter output for this file
[code]
looks like this
[code]
which ends as
`** (SyntaxError) lib/example.ex:5: invalid location for heredoc terminator, please escape token or move it to its own line: """`

### Expected behavi

[2017-10-11 02:22] guilhermelazzari commented on #6643
How about `raise/2`? Should we extract the message out to a variable?

[code]

[2017-10-11 06:24] dzc944262316 opened #6871 "Enum.to_list"
[code]

* Elixir & Erlang versions (elixir --version):
Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.5.2

* Operating system:
Ubuntu 16.04

[2017-10-11 06:57] sger commented on #6871
same thing on macOS

[code]

[2017-10-11 07:12] josevalim commented on #6871
When you don't know what a result is, put an `i` before it:

    iex>i Enum.to_list(31..44)

and it will explain the data structure. :)

[2017-10-11 07:12] #6871 closed

[2017-10-11 07:12] josevalim commented on #6871
Closing as it is working as intended and you are getting a charlist.

[2017-10-11 09:02] josevalim commented on #6643
@guilhermelazzari only if extracting to a variable makes both the variable definition and raise fit on the same line. The general principle is that we want to avoid multi-lines, unless there is no way around it (which is the case above).

[2017-10-11 09:50] ThomasArts opened #6881 "Documentation Inspect.Algebra and actual code out of sync"
Running on OTP 20 with Elixir 1.6.0-dev

Reading the documentation in Inspect.Algebra and compared it with actual behaviour. Missing newline in result.

[code]

Expected behaviour according to documentation:
[code]

I believe the documentation is right in this case.

[2017-10-11 09:55] josevalim commented on #6881
Hi @ThomasArts!

Were you trying this example?

[code]

In this case, is it possible that you forgot the `group` call?

[2017-10-11 10:24] ThomasArts commented on #6881
I used the documentation from 1.5.2:
https://hexdocs.pm/elixir/Inspect.Algebra.html#nest/2

There group is missing.

[2017-10-11 10:37] josevalim commented on #6881
I see. `format` was used to auto group but we no longer do it. I will investigate what are the consequences of this change. But if you explicitly group, it should work on past and future versions. Thanks for the report @ThomasArts!

[2017-10-11 10:37] #6881 closed

[2017-10-11 11:06] josevalim commented on #6861
I will fix the formatter accordingly. Thank you!

[2017-10-11 11:10] iJackUA commented on #6643
@josevalim do you have kind of official code style guide in written form like
https://github.com/christopheradams/elixir_style_guide or https://github.com/rrrene/elixir-style-guide
where current Formatter rules are specified?
(But I suppose no, as rules are still being updated).

[2017-10-11 11:12] whatyouhide commented on #6643
@iJackUA the rules are still being formed but the closest style guide is https://github.com/lexmag/elixir-style-guide which is maintained by core team members :O).

[2017-10-11 11:18] #6861 closed

[2017-10-11 11:20] amatalai commented on #6861
💚

[2017-10-11 14:32] hubertlepicki commented on #6515
@OvermindDL1  so this should work like this:
[code]
But should this work too?
[code]

[2017-10-11 14:37] OvermindDL1 commented on #6515
@hubertlepicki If it followed erlang's proplists then yes it would.  An plain atom in a proplist is for all intents and purposes is inferred as a 2-tuple of the first element being that atom and the second element being `true`.

[2017-10-11 14:38] hubertlepicki commented on #6515
@OvermindDL1 there's a possibly big problem with that in fact that the current behavior of keyword list is:

[code]

if I understand correctly, you'd return `true` that may blow some things up :/

[2017-10-11 14:53] josevalim commented on #6515
Our plan is not to support proplists. The proplist discussion can be moved to a mailing list discussion if preferred. The goal here is simply to ignore non-tuples in the list instead of raising.

[2017-10-11 15:55] OvermindDL1 commented on #6871
We need a github bot (perhaps made in elixir) that looks for keywords and posts some FAQ entries as just-in-case helpers.  ^.^

[2017-10-11 18:55] fishcakez commented on #6515
Are we able to still use BIFs with a relaxed approach? I believe so but a few edges cases would end up being more expensive as we'd need to check tuple size. I think relaxed is better because some functions are relaxed and some are not, which could be confusing. It is less good for dialyzer or if someone every writes an elixir type system. However we could still not let those warn/error but allow

[2017-10-11 20:36] josevalim commented on #6643
Alright folks, this is it! There are only 15 files left so we are closing this! If you have already started working on something, then **please still submit your PR**, but don't start working on anything new since with 15 files left the chance of getting a conflict is quite high.

And those that have PRs open, please finalize it. :)

Tomorrow I will send some statistics about the work done. :) Tha

[2017-10-11 20:36] #6643 closed

[2017-10-11 20:42] zeroum commented on #6643
Ohhh, 2 minutes late!

[2017-10-11 22:41] josevalim opened #6918 "Ensure applications built by mix new are properly formatted"
And add tests.

[2017-10-12 00:47] joshprice opened #6920 "Ensure doc tests and other code in docs are properly formatted"
Can't see this raised anywhere but what was the plan for formatting code in doc strings?

A simple example I've noticed where function calls are missing parentheses: https://github.com/elixir-lang/elixir/blob/v1.5.2/lib/elixir/lib/string.ex#L461-L474

Presumably code in doc strings needs to be formatted also otherwise it will create inconsistency and possible confusion. Given the specialised natur

[2017-10-12 04:05] KronicDeth commented on #6920
@joshprice I asked @josevalim the same question at ElixirConf 2017 after his Keynote on the formatter, he said no, the formatter wasn't meant to format doctest examples.

On your question about which rules would be different: the most obvious one to me is that `|>` has to occur on the end of the line instead of the beginning because of the way doctest `iex>` parsing works the same as real `iex>` p

[2017-10-12 06:11] hubertlepicki commented on #6515
So I toyed with this a bit last night and support for the example @josevalim gave seems pretty easy:
https://github.com/hubertlepicki/elixir/commit/6a3ca126d8bda7b7fc1b075756c667dc63dc01e7

but it does look like other operations, like mentioned by @fishcakez `Keyword.merge` need to be updated as well to support this - if we need to.

[2017-10-12 06:40] fishcakez commented on #6515
@hubertlepicki I think you got the wrong end of the stick. This issue is not about implementing proplist support, see https://github.com/elixir-lang/elixir/issues/6515#issuecomment-335838001. Also note that `:gen_tcp` and `:ssl` are not `proplists`, they are special cases of list options that are unique to their own modules. I was asking for an example where there was awkwardness because I assumed

[2017-10-12 07:17] jechol commented on #378
I expected `Macro.expand` to expand recursively, so that I had to do googling a bit of time to find this issue.
Seems a little bit confusing...

[2017-10-12 07:27] jechol commented on #378
In `Macro.expand_once` doc,
[code]

It says `Macro.expand_once` is not recursive and recommend to check `Macro.expand` for such a case. It sounds like `Macro.expand` would expand recursively...

[2017-10-12 08:31] ericmj commented on #6515
I believe it would be better to leave Keyword strict. We keep using Keyword when interfacing with Elixir code and it will help us find bugs in our code because of its strict checks. When interfacing with Erlang code use a Proplist module, this can be in core or as a separate library.

It's very easy to understand how Keyword works today because it only accepts 2-tuples. If we remove strict checks

[2017-10-12 08:39] josevalim commented on #6515
Which is exactly why we constantly ask for folks to not derail discussions about existing features with alternative proposals because it causes precisely this kind of confusion. /cc @OvermindDL1

It is not supposed to be unclear at all, anything that is not a 2 element tuple starting with an atom is not touched. Forget about proplists, they should not have been made part of this discussion at all.

[2017-10-12 08:44] josevalim commented on #378
`Macro.expand` recurses but it does not *traverse*.

[2017-10-12 08:47] josevalim commented on #6643
Thanks everyone who contributed! All files in the Elixir codebase have been formatted and now all future contributions expect the files to be formatted, otherwise CI will fail.

Overall we formatted 452 files. We merged 214 Pull requests merged by 84 people with a total of 368 commits pushed to master.

This was fun but hopefully we don't have to do something like this again soon! 😁

:heart: :gree

[2017-10-12 08:49] ericmj commented on #6515
Anything that is not strict becomes less clear because you are introducing special cases. `Keyword.merge` is an operation where "carried to the output" is harder to understand. Do we simply copy all non 2-tuple elements to the returned list?

We are also breaking assumptions such as:
[code]

I think this is a great example of where if it is easy to write properties for your API you have a good API

[2017-10-12 09:00] whatyouhide opened #6923 "Formatter puts parens around captures if they are arguments to an operator"
`foo and &foo/1` is formatted as `foo and (&foo/1)` but the parens are not necessary.

[2017-10-12 09:01] josevalim commented on #6920
Yup, it is right now too complicated to apply it to doctests, but by having an standard, code in doctests will converge to that direction. Thank you.

[2017-10-12 09:01] #6920 closed

[2017-10-12 09:13] maartenvanvliet opened #6924 "Formatter crashes with code that compiles"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system: OS X - High Sierra

### Current behaviour
Running the formatter on the following code
[code]
The `_ -> ` triggers the following failure
[code]

### Expected behavior
So, the code does compile (but with a warning) but the formatter fails and does not format the rest of the project. Of course this is easily fi

[2017-10-12 09:30] #6924 closed

[2017-10-12 09:33] josevalim commented on #6515
@ericmj can we at least lift the restriction for Access then?

[2017-10-12 09:43] hubertlepicki commented on #6515
OK so I actually originally wrote my opinion but then deleted it before linking to the commit. I think special cases are bad idea and quite confusing, I just submitted the code as illustrative solution. But I actually stand with @ericmj. It seems like a lot of work with little profit and more code to maintain.

Having said that, I sometimes have a need to get the data from nested structures, updat

[2017-10-12 09:49] josevalim commented on #6515
Great! This is exactly the kind of feedback we expect.

It sounds like an overkill given we already have a programmable Access module for that (you can define your own lookups using functions).

[2017-10-12 09:51] ericmj commented on #6515
I think so if we document that Access works for a superset of Keyword. This would also be backwards compatible because it would be like adding a new dict type that Access supports.

We should probably also keep the Keyword.get_and_update/3 implementation the same and introduce the new functionality as a new private function on Access?

[2017-10-12 09:53] josevalim commented on #6515
@ericmj agreed.

[2017-10-12 10:38] josevalim commented on #6918
In master.

[2017-10-12 10:38] #6918 closed

[2017-10-12 12:22] meyercm opened #6925 "ExUnit `assert` using macros not retaining new variables"
### Environment

* Erlang 19.1, Elixir 1.4.2
* Operating system: OSX 10.10

### Background

The ~M sigil from [ShorterMaps](https://github.com/meyercm/shorter_maps) expands  `~M{a, b}` => `%{a: a, b: b}`.

### Current behavior

The following ExUnit test fails:
[code]
[code]
and these tests pass:

[code]

In the failing test, the sigil has been wrapped inside a tuple; the sigil expands and binds pr

[2017-10-12 12:43] josevalim commented on #6925
Thank you @meyercm! Can you please isolate the issue a bit further by providing a minimal macro that introduces the mentioned problems?

[2017-10-12 14:22] OvermindDL1 commented on #6515
Sorry... There was a discussion tag at the time and I was hoping that it could be relaxed far enough to include that support...

But overall, if access will call out to `Keyword`, I'd say do not support improper lists, it does break that contract that has been established.  Perhaps a new function in `Access` would work so instead of something like `put_in([b: :c], [:b], :d)` perhaps something like

[2017-10-12 14:31] ericmj commented on #6515
@OvermindDL1 This is not about accessing atoms, it's about ignoring them. Like we have said many times, this issue is not about adding support for proplists. Please start the discussion on the mailing list or the forum instead.

There is nothing in the contract of Access that it will fail types that are not Keyword or Map. If there is any such documentation please point us to it. Supporting new/mo

[2017-10-12 14:34] OvermindDL1 commented on #6515
Not in Access no, I said only if it delegates to the Keyword module, if it does not then no issue.  ^.^

[2017-10-12 15:55] OvermindDL1 commented on #378
For anyone that needs to recursively expand, I use this all over the place in my macro libraries (it is surprising just how often I need it actually...):

[code]

But yeah, as seen it is easy enough to write it that it is not really needed to add it to the `Macro` module.

[2017-10-12 16:10] meyercm commented on #6925
Sorry, should have thought to simplify the macro portion of the problem.

[code]

[2017-10-13 08:17] josevalim commented on #6626
@fishcakez I wonder if we can use [`code:ensure_modules_loaded/1`](http://erlang.org/doc/man/code.html#ensure_modules_loaded-1) for improving the performance of loading those apps.

[2017-10-13 16:08] dsantosmerino commented on #6835
If you're okay with it, I'd like to see if I can take it, but I need more hints to start, I'm a newcomer.

[2017-10-13 16:15] josevalim commented on #6835
@dsantosmerino the tricky part on this one is not the implementation but writing the error message and I still do not know how that should look like. If anyone has suggestions, please let us know.

[2017-10-13 16:46] fishcakez commented on #6626
@josevalim that function got added in OTP 19 (there are a couple more too then) but we could try it out and fallback on OTP 18.

[2017-10-13 16:53] josevalim commented on #6626
@fishcakez master is OTP19+. :)

[2017-10-13 17:48] fishcakez commented on #6626
😱  I thought we were going to support last 3 OTP releases.

[2017-10-13 17:59] josevalim commented on #6626
@fishcakez the plan is to support at least 2 releases in common with the previous version, that's why we went from 18&19&20 to 19&20. I would like to eventually set on the last 3 OTP releases but we are still getting large implements between releases. For example, the gap between 19 and 20 is a big one (unicode atoms, debug info, etc).

[2017-10-15 08:52] wojtekmach opened #6930 "Use inspect in assertion diff for structs"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.6.0-dev
* Operating system: macOS Sierra

### Current behavior

On our project we've been recently dealing a lot with time and on large lists the diff is hard to read. We ended up explicitly using inspect for assertions (as shown in expected behavior section). Looks like in https://github.com/elixir-lang/elixir/pull/4430#issu

[2017-10-15 11:20] whatyouhide commented on #6930
Could it be a problem that sometimes things are omitted in the inspect representation? For example, a `StreamData.LazyTree` struct from [stream_data](https://github.com/whatyouhide/stream_data) omits the children of the tree because they are lazy, and then two different structs would not have anything to show in the diff when inspected. I just realized that streams are already an instance where th

[2017-10-15 15:52] josevalim opened #6931 "Preserve user underscores for integer literals in the formatter"

[2017-10-15 16:03] josevalim commented on #6930
If they are not the same, maybe we should do an inspect diff and if that is the same, then we do a struct diff?

[2017-10-15 16:17] yordis commented on #6930
@josevalim shouldn't `]` and `~N[` highlighted in the Expected behavior image? or is that a mistake?

[2017-10-15 17:02] #6925 closed

[2017-10-15 18:39] ggcampinho commented on #6629
I was trying out this issue transversing the tree as you suggested, but I had the impression that if we change the source struct to store the external file it would be easier and faster.

Current structure:
[code]

Proposed structure:
[code]

[2017-10-15 19:31] myronmarston commented on #5267
I've always found `:simple_one_for_one` to be confusing, so I'm looking forward to seeing what Elixir 1.6 will have here.  I did want to ask one question about the planned API for this, because there's an aspect of `:simple_one_for_one` that I've always found a bit frustrating, and the new `DynamicSupervisor` seems like the right time to address it.

Specifically, the way that `:simple_one_for_one

[2017-10-15 19:40] josevalim commented on #5267
@myronmarston this is something we have to address because the new child_specs make it allegedly worse but we haven't put much thought into it yet.

By having its own modules, we can be sure to provide at least better docs though.

[2017-10-15 19:41] josevalim commented on #6629
@ggcampinho the problem then is that generating this structure comes at the expense of compilation time. I would rather keep compile time faster and compute those only when we need to show the warning.

[2017-10-15 21:40] whatyouhide commented on #6930
@josevalim I still see it as problematic. These two diffs would be different and we'd show basically a meaningless diff:

[code]

[2017-10-15 21:47] josevalim commented on #6629
@ggcampinho that's a good point but I would prefer to still handle it exclusively in xref if possible.

[2017-10-15 22:02] rgreenjr opened #6934 "Support mix format -"
Support code formatting via stdin/stdout by accepting `-` as a filename argument.

[code]

Using `-` as a filename to mean `stdin` or `stdout` is a common convention and aligns with how we handle inputs. Most importantly, it will provide a simple and consistent way for text editors to integrate the new code formatter.

Here's the [feature discussion thread](https://groups.google.com/forum/#!topic/

[2017-10-16 09:25] #6934 closed

[2017-10-16 11:38] AndrewDryga opened #6936 "In some cases formatter replaces parens with space after capture"
By running code formater on one of our projects, I've noticed this change:
[code]

By looking at the most examples over the internet:
1. ["Official"](https://github.com/lexmag/elixir-style-guide) code style tells nothing about this case;
2. rrrene code style [prefers to keep the parens](https://github.com/rrrene/elixir-style-guide#function-calling-parens);
3. Google TOP examples are all [with pare

[2017-10-16 11:44] NobbZ commented on #6936
I prefer to have parens after capture as well. Due to the parens highlighting in my editor it would be much easier to visually scan them.

Also, since I'm polyglotal, I do have often a hard time to recognize the capture operator as such if it has spaces on both sides... My brain tries to parse it as "BITWISE AND" then, which is fundamentally wrong. While having something without a space right of i

[2017-10-16 12:02] AndrewDryga commented on #6936
Few other small things I want to deliver as feedback about formatting:
- it's better to keep comma on the end of multi-line list, because by adding/reordering elements git diff would be smaller
- this one feel weird for a function definition:
[code]
- one-line  `if (...), do: `blocks requires you to read code horizontally, when we have opposite goal by having low (98 chars) max length.
- this not

[2017-10-16 12:09] josevalim commented on #6936
The official code style *is the formatter*.

Everyone is going to have preferences on how code is written and the
formatter is what it is.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-10-16 12:14] josevalim commented on #6936
It is also worth noting that the formatter cannot make your code always
look beautiful without user intervention. The docs has some examples of
this and I would likely rewrite your “if” to a do/end block.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-10-16 12:24] #6936 closed

[2017-10-16 12:36] lvonk opened #6938 "Add access test result in on_exit hook"
As requested in the original post on the [mailing list](https://groups.google.com/d/msg/elixir-lang-core/t4hu5ISQAwA/WDye2UhxAgAJ):

I was looking for a way to access the test result of the failing test in the on_exit hook and found https://github.com/elixir-lang/elixir/issues/2969, but could not find any follow
up.

What I am trying to achieve is to create a screenshot for each failing browser te

[2017-10-16 12:52] blatyo commented on #6938
The anonymous function would need to accept a context. Otherwise the context would be the one in the setup and could not contain the reason the test failed.

[code]

[2017-10-16 13:31] rgreenjr commented on #6934
Fantastic! ❤️

[2017-10-16 14:45] #6931 closed

[2017-10-16 16:11] #6923 closed

[2017-10-16 16:19] beedub opened #6941 "Logger doc clarification"
https://github.com/elixir-lang/elixir/blob/f7dede6e8d08dcf8c9c9cea15ab546bcecba3efd/lib/logger/lib/logger.ex#L36-L38

Given the doc and code sample, I'm wondering _why_ it's recommended to use functions whenever the message is expensive to compute. Is this because the function is evaluated within the current process, and not the logger process? (The following lines in the paragraph don't _seem_ to

[2017-10-16 19:32] whatyouhide commented on #6941
It's recommended to use functions when the message is expensive to compute because such functions will only be called when the Logger had to log the message, thus avoiding needless expensive computation when the logger level would prevent the expensive-to-compute message being logged. Does this make sense?

I'm going to close this issue as there is not bug with Elixir but feel free to comment here

[2017-10-16 19:32] #6941 closed

[2017-10-16 19:49] beedub commented on #6941
That's makes sense and what I thought, so I think there's actually a bug in the documentation then?

https://github.com/elixir-lang/elixir/blob/f7dede6e8d08dcf8c9c9cea15ab546bcecba3efd/lib/logger/lib/logger.ex#L38-L40

Specifically here, the example above uses a function, so the message isn't evaluated right? It seems like the docs are expecting the example to be using a string instead of a functi

[2017-10-16 19:58] bschaeffer commented on #6941
👍 because in the above example, the message is **not evaluated** or interpolated regardless of log level.

[2017-10-16 20:01] whatyouhide commented on #6941
Ah, that's right. Can you open up a PR with a fix @beedub? :)

[2017-10-16 20:09] whatyouhide commented on #6835
@josevalim what if I redefine my own `|` operator which is not context-dependent?

[2017-10-16 20:18] beedub commented on #6941
@whatyouhide https://github.com/elixir-lang/elixir/pull/6942

[2017-10-16 22:11] josevalim commented on #6835
@whatyouhide we will only raise if there is no overriding (that's already how it works btw, we are just improving the message for certain cases).

[2017-10-17 09:02] jfornoff opened #6945 "Formatting with anonymous functions crashes the code formatter"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system: Mac OSX 10.12.6

### Current behavior
Formatter crashes when converting the AST into the Algebra (?)

[Reproduction repository](https://github.com/jfornoff/formatter_repro)
To see the error, run `mix format spec/example_spec.exs`

_Stacktrace:_
[code]

### Expected behavior
Formatter should not crash :^)

[2017-10-17 15:31] #6945 closed

[2017-10-18 09:26] josevalim opened #6950 "Extending the Enumerable protocol"
The Enumerable protocol today contains 3 functions: `reduce/3`, `member?/2` and `count/1`. As the community grew, they asked for more extension points, such as `fetch/2`, but we didn’t add those functions as we did not see cases for them in the standard library itself.

With the addition of `Date.Range` and the upcoming `Stream.Data`, we have enough cases that require the specialization of the Enu

[2017-10-18 09:56] josevalim commented on #6629
Hi @ggcampinho, after looking at the xref implementation and your comments, I cannot find a way solution that avoids traverse the definitions all the time and that will likely be more expensive on the long term. So I believe you were right, storing it during compilation time is probably the best way to go. We can store it as `{"lib/a.eex", 1}`.

Let's keep the current PR open for further discussio

[2017-10-18 09:56] josevalim commented on #6629
@ggcampinho also noticed I pushed 5b9a5ff6372d5333fdefd1838cb54bf7b9e202a0 which cleans up the assert_callers a bit to allow us to pass multiple files. :)

[2017-10-18 13:25] ggcampinho commented on #6629
Thanks, @josevalim! I'll start working on the change for the manifests!

One thing that I realized after the PR is that if we want to output only once for the external files we will need to keep a structure with all the callers in all the files to remove duplicates instead. In a big project, this approach will probably cause problems.

I don't know if it's better to just ignore this, change a bit

[2017-10-18 13:54] josevalim commented on #6629
This particular grouping can happen in mix xref at least, no? Although it is probably unlikely the same template is being used in many many places, so the duplication shouldn't hurt much as well.

[2017-10-18 14:12] pedrosnk opened #6951 "Code formatter Error with @spec and Map Literal"
### Environment

* Elixir & Erlang versions (elixir --version):
Erlang 20.1
Elixir master
* Operating system:
OSX

### Current behavior

When formatting an Map inside an spec function definition it removes the parentheses from the key (when multiple) causing it to fail compilation

#### Code sample
[code]
running `$ mix format` it becomes

[code]

Which is invalid because of the map with multiple

[2017-10-19 03:26] Kabie commented on #6950
Shouldn't `aggregate/2` also return `{:ok, term()} | {:error, __MODULE__}`?

[2017-10-19 05:05] johnwahba opened #6952 "Code formatter breaks some not statements"
### Environment

Elixir & Erlang versions (elixir --version):
Erlang 20.1
Elixir master
Operating system:
OSX

### Current behavior

`not x in list` it converts it to `x not in list`. (implemented on https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/code/formatter.ex#L493) This might be desirable as they do compile to a similar ast, but this does break ecto as `where: ^u.id not in [

[2017-10-19 08:33] teamon commented on #6950
And shouldn't `fetch` also return `{:ok, term() | :error} | {:error, __MODULE__} | ...` ?

I guess the reason for "count/1 will no longer be used by Enum." is it's not an O(1) operation?

[2017-10-19 09:56] ericmj commented on #6952
`not ^u.id in [2] ` and `^u.id not in [2]` should be equivalent on the AST level which is what Ecto sees.

`x not in y` syntax requires Elixir 1.5.0+, what version is your Ecto project using?

[2017-10-19 10:06] johnwahba commented on #6952
That would explain it: I'm using master elixir to format an elixir 1.4.5 project. Thanks!

[2017-10-19 10:06] #6952 closed

[2017-10-19 10:09] josevalim commented on #6952
Thanks for the report @johnwahba! Unfortunately I could not reproduce it. Are you running `mix format` on a codebase and then reverting to an earlier Elixir version?

Can you please post: which Elixir version failed to compile the code and the full snippet before and after? Here is my full IEx session on master:

[code]

[2017-10-19 10:11] josevalim commented on #6952
Oh, @ericmj was faster than me. :) Glad this is solved! ❤️

[2017-10-19 10:16] josevalim commented on #6950
@Kabie thanks, i forgot the return type there, fixed.

@teamon it needs to be `{:ok, {:ok, term()} | :error}` otherwise we can't distinguish between an `:error` and actually fetching `:error`.

[2017-10-19 10:20] teamon commented on #6950
Hmm I misread that, but it's still confusing:

[code]

Am I missing something?

[2017-10-19 10:27] josevalim commented on #6950
@teamon there are two `:ok` because one `:ok` is "I can provide this functionality" and the second `:ok` is "I have something at this position". In any case, this probably won't matter in a couple hours as I have adjustments to make to this part of the proposal. :)

[2017-10-19 10:44] johnwahba commented on #6952
Thanks @ericmj and @josevalim. The formatter is amazing!

[2017-10-19 10:58] teamon commented on #6950
Ah, ok. Wouldn't it make sense to make fetch part of a separate protocol then?

[2017-10-19 11:40] josevalim commented on #6950
@teamon no because it always provide that functionality, this is about providing a faster version or not.

[2017-10-19 13:08] jeremyowensboggs commented on #6248
I'd like to have a look, kelvinst, do you already have some tests and or scenarios written up?

[2017-10-19 13:15] AndrewDryga commented on #6950
@josevalim thats 👍 💯. I'd like to work on this one.

[2017-10-19 13:35] josevalim commented on #6950
Thanks @AndrewDryga! I would like to work on this one myself because this is not 100% defined and we will probably have to do changes as we move forward.

[2017-10-19 15:08] tmepple commented on #6547
Hi @mpoeter, you can work around this issue by setting `"elixirLinter.mixEnv": "test"` as detailed here: https://github.com/PotterDai/vscode-elixirc-mix-linter/issues/2.  This way the linter calls `mix compile` in the `test` environment which doesn't affect `iex> recompile()` which by default runs in the `dev` environment.  Hope this helps!

[2017-10-19 15:54] kelvinst commented on #6248
@jeremyowensboggs nope! I was just studying ways to do it first. Feel free to do what you want, I'm not able to work on it right now. Thanks for asking!

[2017-10-19 16:33] #6951 closed

[2017-10-19 17:37] indera commented on #6161
https://groups.google.com/forum/#!topic/elixir-lang-core/hjIW1FC-xBw

[2017-10-19 17:42] mpoeter commented on #6547
Yes, this helps. Thanks!

[2017-10-19 17:48] chulkilee commented on #5987
I hit this problem too.

- Ubuntu 16.04
- Elixir 1.5.2 / Erlang/OTP 20 (installed `esl-erlang` and `elixir` from erlang solution repo)
- mix 1.5.2
- distillery 1.5.2
- ecto 2.2.6
- postgrex 0.13.3

[code]

I switched branches back and forth - most branches have `ecto` in dep (since some apps are using `Ecto.Schema` for API request building), only one branch has `postgrex` (phoenix app). As a resul

[2017-10-19 18:14] kelvinst commented on #6938
Cool feature! Will work on it if no one else is interested! :)

[2017-10-19 18:52] josevalim commented on #6938
Please go ahead!

[2017-10-19 20:27] AndrewDryga commented on #6835
@josevalim How about this one?
[code]

And similar for `::`.

[2017-10-19 22:21] josevalim opened #6955 "Extending the Enumerable protocol"
The Enumerable protocol today contains 3 functions: `reduce/3`, `member?/2` and `count/1`. As the community grew, they asked for more extension points, such as `fetch/2`, but we didn’t add those functions as we did not see cases for them in the standard library itself.

With the addition of `Date.Range`, we have enough cases that require the specialization of the Enumerable protocol in the standar

[2017-10-19 22:22] josevalim commented on #6950
I have written a new and simpler but more powerful version of this proposal here: #6955.

[2017-10-19 22:22] #6950 closed

[2017-10-19 22:29] josevalim commented on #6955
I am tackling this one!

[2017-10-20 15:06] kelvinst commented on #6930
@whatyouhide IMO the highlight colors do this job when the difference is so small.

[2017-10-20 15:07] kelvinst commented on #6930
I can do it if no one else is interested. ;)

[2017-10-20 16:16] josevalim commented on #6930
@kelvinst I am still not personally sure what is the best way to go so I will go ahead and mark this as a discussion.

[2017-10-20 17:12] kelvinst commented on #6930
@josevalim cool!!

[2017-10-21 09:27] josevalim commented on #6955
Closing in favor of #6958.

[2017-10-21 09:27] #6955 closed

[2017-10-21 10:00] josevalim commented on #6938
I have just realized something. I am not sure if the proposed feature would work because Hound associates the hound session with the test process and by the time on_exit runs the test process is long gone. You may need to have this feature added directly to hound, something like:

    Hound.snapshot_on_error!

And Hound would take care of taking the snapshot when the test errors.

[2017-10-21 18:47] KeithKee opened #6961 "Bug? Windows Elixir 1.5.2 mix new --sup does not generate this line in application.start "import Supervisor.Spec, warn: false""
### Precheck

* Do not use the issues tracker for help or support (try Elixir Forum, Stack Overflow, IRC, etc.)
* For proposing a new feature, please start a discussion on the Elixir Core mailing list
* For bugs, do a quick search and make sure the bug has not yet been reported
* Finally, be nice and have fun!

### Environment

* Elixir & Erlang versions (elixir --version):
* Operating system:

##

[2017-10-21 18:51] josevalim commented on #6961
It is correct. This behaviour changed in Elixir v1.5 as we no longer need Supervisor.Spec. See the Supervisor docs and the announcement here: https://elixir-lang.org/blog/2017/07/25/elixir-v1-5-0-released/

[2017-10-21 18:51] #6961 closed

[2017-10-21 19:16] KeithKee commented on #6961
Many thanks Jose for the super quick reply and for creating Elixir!

You are correct, tested it after following the link you gave.

The command "mix ecto.gen.repo -r My.Repo" is still recommending the old
way though.

On Sat, Oct 21, 2017 at 11:51 AM, José Valim <notifications@github.com>
wrote:

--
Cheers!
Keith Kee

[2017-10-21 20:04] josevalim commented on #6273
Given the `x * 8` syntax and the fact calculations cannot be done in pattern, I believe we should rather be consistent with how it works inside and outside patterns, therefore I am closing this issue. However if Erlang changes to support arithmetic expressions, we will support that too.

[2017-10-21 20:04] #6273 closed

[2017-10-21 20:05] josevalim commented on #5115
Closing this due to the lack of activity.

[2017-10-21 20:05] #5115 closed

[2017-10-21 20:34] josevalim commented on #5749
in order to move the unused variable warnings to Elixir, we will need to add two fields to Macro.Env.

`current_vars` will be a map of `{var, context}` as keys and a list as a stack variable information. The variable information is `integer() | false`. The integer is used as a warning but set to false if the variable is used. Every time a variable is defined, a new entry is added to the stack.

We

[2017-10-22 09:48] jfornoff opened #6963 "Mix xref does not include sub-app paths"
### Environment

`master` Elixir / Mix

### Current behavior
`mix xref callers` only shows `lib/bar.ex` within umbrella applications.

### Expected behavior
`mix xref callers` should include the path to the sub app, like `apps/foo/lib/bar.ex`

I'd be happy to offer a hand with this, just opening the issue to make sure this is not intended behavior or tied to problems that I don't know about :-)

[2017-10-22 10:23] josevalim commented on #6963
The xref task is recursive which means that any command actually runs in each umbrella project individually. That's why you see relative paths but you should also see something like `==> app_name` before each printed output.

This behaviour can either be described as intentional or as a problem you don't know about but changing it may have larger consequences, so I would say we should stick with t

[2017-10-22 10:28] jfornoff commented on #6963
Thanks for the heads-up, that makes sense. 👍
I cannot confirm the output of `==> app_name` though, that might be a separate issue though

[2017-10-22 10:35] josevalim commented on #6963
Reopening this then. It seems we are using IO.write in some of those while we should be using Mix.shell.info. :)

[2017-10-22 10:39] #6629 closed

[2017-10-22 20:52] #6963 closed

[2017-10-23 07:42] lvonk commented on #6938
@josevalim Thanks for checking this, I will take this issue to Hound then. @kelvinst thanks for your work 👍 . I really appreciate this was picked up so quickly!

[2017-10-23 15:45] eduardtudor opened #6966 "Closing interactive shell prevents terminal to wait for input"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.5.2

### Current behavior

When closing the interactive shell the next program will be prevented to wait for input

[code]

[2017-10-23 15:57] josevalim commented on #6966
@eduardtudor can you consistently reproduce the issue or was it a temporary behaviour?

[2017-10-23 16:01] josevalim commented on #6966
Btw, iex shells does consume all input but I wouldn't expect it to still do so after the iex process is done. It may be that the process has not fully terminated for some reason or there is another process hanging in the background. You can verify that by running `ps aux | grep beam`.

[2017-10-23 16:06] eduardtudor commented on #6966
@josevalim I can consistently reproduce the issue for the same session, no result for `ps aux | grep beam` related to beam

[2017-10-23 16:10] eduardtudor commented on #6966
I just googled other way of exiting the iex, the issue only exist for Ctrl+C + Ctrl+C and Ctrl+C + abort. I tried Ctrl + | and the issue is not happening.

[2017-10-23 16:14] josevalim commented on #6966
@eduardtudor ok, so that is definitely an Erlang behaviour. Can you try to reproduce it in another way so we can make a proper report? Does it happen if you start `cat` immediately after? Also, what is your Erlang version?

[2017-10-23 16:20] eduardtudor commented on #6966
I get  `cat: -: Resource temporarily unavailable`

Erlang/OTP 20

[2017-10-23 16:23] josevalim commented on #6966
I can't reproduce it on Mac. :( Can you please try the same thing by using `erl` instead of `iex`? Then you can also use Ctrl+C twice to exit.

[2017-10-23 16:30] eduardtudor commented on #6966
I can also reproduce using `erl`

[2017-10-23 17:20] eduardtudor commented on #6966
So I researched a little and found that maybe the interactive shell leaves the stdin in non blocking

Program to set the stdin back to blocking
[code]
I ran the program after exiting the shell using Ctrl+C twice and pacman was able to wait for input.
[code]

[2017-10-23 17:39] josevalim commented on #6966
Thanks @eduardtudor. That's definitely an Erlang bug then. You can check if it is fixed on Erlang 20.1 but, if not, I would recommend you to file a report here: bugs.erlang.org

[2017-10-23 17:47] eduardtudor commented on #6966
Ok will do, thanks!

[2017-10-23 17:47] #6966 closed

[2017-10-23 21:48] tmbb opened #6967 "Mix.Xref.calls/0 - list all function calls in an Elixir project"
## High Level Description

`Mix.Tasks.Xref` should provide a public function `Mix.Tasks.Xref.calls/0` that returns data about the function or macro calls in all files in the current project. For each function call, `Mix.Tasks.Xref.calls/0` should return the function that is called (module, function and arity), at least the file where it is called, the module where it is called and line where it is

[2017-10-23 22:06] josevalim commented on #6967
Hi @tmbb! I have edited your proposal to fix some mistakes and slightly change the map format. We should definitely go with a flat list. Any use can do a pass on the data to get the information they want.

I also agree we don't need to include the `caller_function` for now.

A PR would be appreciated.

[2017-10-23 22:28] mischov opened #6968 "Improve code formatter output for tuples"
### Environment

- Elixir 1.6.0-dev (894bcaa) (compiled with OTP 20)

### Current behavior

The code formatter can produce less readable code (than manual formatting) when working on certain types of data, such as large tuple-trees (nested tuples and lists).

For example, the following manually formatted code:

[code]
is formatted by the formatter to:
[code]

[2017-10-23 22:37] tmbb commented on #6967
Some of the changes in the map are probably for the better. Having the `{m, f, a}` together in a tuple is probably a better fit for how Elixir works, even if it isn't as "denormalized".

On the other hand, I'm not very convinced about the names:

* `call` - a function call is the syntactic construct that means a structure has been called. The call is an interaction with the function, not the funct

[2017-10-23 22:39] josevalim commented on #6968
We can probably aim to have something like this:

[code]

[2017-10-23 22:46] josevalim commented on #6968
The above means we will apply the same principle we have in function calls to tuples: if the last element is a data structure, we make it fit. We should also probably normalize `{:ok, [foo: :bar]}` to `{:ok, foo: :bar}`, as we do for function calls.

[2017-10-23 22:49] tmbb commented on #6968
I prefer @mischov's example, but in @josevalim's example it's easier to keep track of matching delimiters. I'm a little torn on this, becuase @mischov's example reminds me of Lisp (which has the most aesthetically pleasing code layout I've seen), but despite my love for Lisp-like layout, Elixir is not Lisp, and my most nested code looks like this:

[code]

which is similar to @josevalim's example.

[2017-10-23 22:52] josevalim commented on #6968
Thanks @tmbb.

I should add that the only reason we are considered an alternative formatting here is because we already use said alternative formatting in the formatter. :) Otherwise it would be unlikely we would introduce another style.

[2017-10-23 22:55] josevalim commented on #6967
Agreed on all naming feedback. I will change your original proposal to keep it in sync, thanks!

See the README.

[2017-10-23 22:55] josevalim commented on #6967
An alternative for `callee` is `mfa`. Any preferences?

[2017-10-23 22:59] tmbb commented on #6967
Not really. Both have pros and cons.

* `callee` leaves no confusion on what it is. It's the function that's called, but leaves the actual format obscure.
* `mfa` serves as a mnemonic to remind the reader that it's a 3-tuple with a standard format, but creates confusion on which function it's referring to (the caller? the callee?)

I have a slight bias towards `callee`, but I'm not sure. With `cal

[2017-10-23 23:25] tmbb opened #6969 "Formatter: preserve whitespace in comments after the # sign"
Currently the formatter turns this:

[code]

into this:

[code]

As evidenced by this iex session:

[code]

This improves readability if what's to the right of the `#` is indeed text, but if it is a hint for a program that operates on Elixir source it's pretty bad. Such hints could be hints for the formatter to ignore a certain part of the code, for example:

[code]

[2017-10-23 23:28] yordis commented on #6969
I am confused when this is a use case, could you put a real example I don't see why we would do such of thing 🤔

[2017-10-23 23:36] tmbb commented on #6969
Yes. One use case is the one I've already described. Say you want to mark some code blocks as blocks that should be delimited by the formatter. Using comments is a logical choice, and if the formatter messes with the comments' whitespace it makes it harder than it should be.

Another example, from real working code. I've written a markdown implementation which you can use with ExDoc, named ExDocMa

[2017-10-24 08:13] whatyouhide commented on #6969
I think that we should only turn `#some comment` into `# some comment`, that is, ensure that there's one space but nothing more. @tmbb can you use something else to mark your comments, instead of `#!`?

[2017-10-24 08:32] tmbb commented on #6969
Yes, of course, that's what I'm doing right now, and it's working fine.
But maybe having some kind of convention for annotations like mine (credo, for example). That would make it easier to interoperate. The goal of such convention would be to distinguish normal comments from "meaningful comments" and the absence of space following `#` could be one such convention.

Maybe this issue is not the rig

[2017-10-24 12:00] #6969 closed

[2017-10-24 15:08] jeremyowensboggs commented on #6248
I've looked things over, and just want to talk over the approach out-loud.  Feel free to ignore or offer opinions/comments

Inside the assert macro, when we have a pattern, we will put the escaped AST of the pattern, a keyword list of the pinned vars and their values, and the unbound vars into a struct that we will assign to the `:left` option of `assert`.  I will call this struct ExUnit.Pattern.

[2017-10-24 17:13] josevalim commented on #6248
@jeremyowensboggs I think you got the idea really well. :+1: To sum it up, we will need a pattern evaluator that is able to emit diffs as it evaluates the pattern against a value. The pattern will be AST, the value will be well, a value.

My suggestion is also to completely ignore ExUnit.Diff exists. They are too different to try to put them together. `ExUnit.Pattern` is a good starting name. Also

[2017-10-25 00:03] hauleth opened #6970 "URI.to_string/1 doesn't encode correct URL according to WHATWG"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system:
[code]

### Current behavior

[code]

### Expected behaviour

[code]

Accordingly to [WHATWG spec](https://url.spec.whatwg.org/#special-scheme) all special schemes, i.e. `uri.schema in ~w(ftp file gopher http https ws was)` then `path` part cannot be empty.

[2017-10-25 00:29] ericmj commented on #6970
The `URI` module follows RFC3986 and according to it the path can be empty: https://tools.ietf.org/html/rfc3986#section-3.3.

[2017-10-25 00:42] hauleth commented on #6970
As far as I am concerned this document is about parsing URIs, not displaying them. So I would agree that `URI.parse/1` should accept form `http://a?b=foo`, but I think that output form should follow WHATWG (at least when using schemes listed earlier).

--
Łukasz Jan Niemier

[2017-10-25 00:46] ericmj commented on #6970
RFC3986 does not really establish how to display URIs so the best thing to do is to just print the values we stored without any transformations. The URI module does not follow the WHATWG spec so if you want those behaviors you need to use another module.

[2017-10-25 06:56] josevalim commented on #6970
What @ericmj said. In particular, URI.to_string does not attempt to normalize but rather create back the original URI parsed. You can always normalize it yourself though.

[2017-10-25 06:56] #6970 closed

[2017-10-25 13:20] xadhoom opened #6971 "Improve coverage for umbrella apps"
I want to report here others work made to support a better coverage reporting for umbrella apps, in order to not lose it, since it may be helpful. I think the orginal author did not had time to further push it here.

Sometimes within umbrella apps some integration testing is done, to check that everything works fine and to test also those bits that may be too expensive (speaking of test setup) to

[2017-10-25 13:53] josevalim commented on #6971
Elixir today only provides a wrap around cover and a pluggable wrapper. So there isn't much we can do on the Elixir front. In fact, if the discussion eventually goes towards evaluating a solution from scratch, then I would prefer if the community developed a new cover-like tool.

Regarding umbrellas, I can think of two solutions:

1. Someone writes a tool from scratch
2. Someone writes a tool that

[2017-10-25 13:53] #6971 closed

[2017-10-25 13:54] josevalim commented on #6971
And btw, if we need to do improvements in Elixir itself, then please go ahead and open up specific proposals about those improvements. :) My main point is that you shouldn't expect that Elixir will actually be the one measuring or grouping coverage - that's the job of the pluggable tool.

[2017-10-25 14:01] xadhoom commented on #6971
well, one improvement was already linked into the first message.

But I can see your point, even if doing a such tool may need to replicate a lot of stuff that current mix test tasks already do.
After all, on elixir side is just passing all the paths down to the cover tool, it does not have to do any cover, so basically is just enriching the informations in order to semplify what the cover tool ha

[2017-10-25 14:12] josevalim commented on #6971
Apologies but it is not clear enough what it is expected from Elixir in the first message. If there is a more concrete proposal, we will be glad to take a look at.

[2017-10-25 14:19] xadhoom commented on #6971
Ok,

got it. I'll check if is possible to hack around from the coverage tool itself, otherwise report in a different channel, forum or ml. basically I just wanted to start a discussion and this may be not the best location :)

[2017-10-25 14:27] josevalim commented on #6971
@xadhoom yes, especially because we ask to not use the issues tracker for discussions. ;) Please post the link here though if the discussion starts elsewhere but I am afraid I do not have enough knowledge to be of much help. The only advice I can give is, if by any chance `cover` generates an intermediate format which is used by coveralls (which is a great tool btw) then you could have a command l

[2017-10-25 17:45] josevalim commented on #6968
This is now in master: f09657180fc28412b88e8877d30efbe0d9a84233!

[2017-10-25 17:45] #6968 closed

[2017-10-25 17:46] baldmountain opened #6972 "Formatter writes empty files"
### Environment

* Elixir & Erlang versions (elixir --version):

Erlang/OTP 20 [erts-9.0] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]

Elixir 1.6.0-dev (58a973ae1) (compiled with OTP 20)

* Operating system: MacOS High Sierra

### Current behavior

I have an umbrella project with several apps. I installed Elixir master today (11-25-2017) using `kiex` to tr

[2017-10-25 17:56] josevalim commented on #6972
Do you still have the full error and stacktrace from when you get the compilation error?

[2017-10-25 17:57] josevalim commented on #6972
Nevermind, I found the root cause. :)

[2017-10-25 18:02] #6972 closed

[2017-10-25 18:02] josevalim commented on #6972
Fixed in master, it was a race condition. Thanks for the report!

[2017-10-25 19:22] vasspilka opened #6973 "Cannot execute mix do run multyple times with different scripts"
### Environment
[code]
[code]

### Current behavior

I have multyple script files that I want to execute one after the other
when doing
[code]
 it will run only the first script.

When asked about this in slack I found out one can put `Mix.Task.reenable("run")` at the end of the script files to reenable the run command and allow for it to be used again with `mix do`.

### Expected behavior

I woul

[2017-10-25 19:25] baldmountain commented on #6972
You're welcome and wow that was fast! :)

[2017-10-25 19:43] josevalim commented on #6973
That's by design. Mix tasks run only once, then they need to be explicitly reenabled. You can use the -r flag on this case to pass multiple files or use separate mix commands.

[2017-10-25 19:43] #6973 closed

[2017-10-25 21:12] blaketan opened #6974 "existing_atoms_only: true raises with an unhelpful error message"
When using `Code.string_to_quoted/2` and `Code.string_to_quoted!/2` with `existing_atoms_only: true`, any identifiers that do not already exist as an atom results in a ArgumentError with no other details. I'm hoping that we can return a better error here, hopefully with line and token, which would be really helpful to use cases where we try to convert potentially unsafe inputs into quoted form.

#

[2017-10-25 21:17] josevalim commented on #6974
Haha, I actually saw this today and though "the error message is really bad, i will fix it later". I guess later arrived sooner than I expected. :)

I think we can keep it as argument error and just improve the error message to say *something*.

[2017-10-25 21:24] blaketan commented on #6974
That'll be an improvement over the current behavior of `ArgumentError: argument error` for sure.

We'd be forced to encode file, line and token information into the error message though (if we want the error message to be helpful), instead of having a struct with file and line attributes.

[2017-10-25 22:27] josevalim commented on #6974
We could do that but it would be encoded in the text and not be fetchable programmatically. We can also emit a parser error or compile error but both feel out of place?

[2017-10-25 22:28] josevalim commented on #6974
Ah, we can also include the atom name. That may even be enough information since the atom name also has to be written literally in the text.

[2017-10-25 22:52] blaketan commented on #6974
My suggestion of having an separate exception type was to help keep the exception messages and structs raised by `Code.string_to_quoted!/2` consistent between `SyntaxError` and  `TokenMissingError`, both of which have `[:file, :line, :description]` attributes and pretty much format their messages similarly.

Although honestly that might be too nitpicky, and I'd honestly be happy matching against t

[2017-10-25 23:02] josevalim commented on #6974
That's a good point and pretty much dictates how we should handle this. If we want to return an error tuple, then it will pretty much end-up as a SyntaxError or ParserError.

[2017-10-25 23:04] OvermindDL1 opened #6976 "Formatter, keyword's with pipe expansion"
As requested at:  https://elixirforum.com/t/running-the-new-elixir-formatter/9344/108

The formatter is currently formatting things like:

[code]

Into:

[code]

Making the whole `|> case do` part 'looking' very ambiguous to the reader if it is piping from the `List.to_tuple()` call or from the `parse_entry()` definition or so.  The `List.to_tuple()` call should probably be put on the next line an

[2017-10-25 23:23] tmbb commented on #6976
Probably like this:

[code]

[2017-10-25 23:29] mischov opened #6977 "Improve code formatter output for function calls"
### Environment

Elixir 1.6.0-dev (4901182) (compiled with OTP 20)

### Current behavior

The code formatter doesn't respect a user's multi-line function calls, which can lead to cases like this one where

[code]
is formatted to
[code]

In this case I felt the more readable option was to use a multi-line function call rather than moving the all argument code into variables, but the code formatter

[2017-10-26 00:08] blaketan commented on #6974
It may break with current behavior, but it feels like an anti-pattern to have to handle both an error tuple and a raised exception from a function call. It may be better to standardize the plain version to return only in the tuple format, and raise in the `string_to_quoted!` case.

[2017-10-26 03:42] arcseldon commented on #4533
You lose auto-completion, but `rlwrap` does work as others have pointed out. More info here:

https://elixirforum.com/t/iex-vi-command-line-editing/3365

https://gist.github.com/jfreeze/8894279

You cannot have vi bindings through rlwrap AND command completion at the same time.
The author of rlwrap explains the reason here: http://stackoverflow.com/questions/9210931/is-there-a-way-of-running-rlwra

[2017-10-26 06:49] josevalim commented on #6974
Agreed, the error message with file and line also makes it worth it. Closing this in favor of the PR!

[2017-10-26 06:49] #6974 closed

[2017-10-26 09:10] whatyouhide commented on #6977
Since we do this for lists (keeping the user decision, that is) I am afraid (:P) it makes sense to do this for function calls as well. 🤔

[2017-10-26 10:46] #6976 closed

[2017-10-26 11:21] #6977 closed

[2017-10-26 17:11] vasspilka commented on #6973
That makes sense, thanks for quick reply

[2017-10-26 21:55] OvermindDL1 opened #6980 "Master Macro in Binaries Compiler Bug"
Creating issue as per @ericmj at:  https://elixirforum.com/t/ecto-failing-to-compile-on-elixir-1-6-0-dev/9662/5
And I quote:

Using OTP 20 / erts-9.1, with Elixir 1.6.0-dev (git HEAD), compiling with Ecto 2.2.6 causes:

[code]

The issue does not happen in Elixir commit f36a0f4 so it happened between then and HEAD (f36a0f4 was a little less than a week ago).

On RedHat7, manually compiled Elixir,

[2017-10-26 22:23] josevalim commented on #6980
Can you please tell us what is your HEAD? Because this does not happen on Elixir master (after `make clean compile`) and then `mix compile --force` on the Ecto repo.

[2017-10-26 22:26] josevalim commented on #6980
Apologies, I was using Ecto master. I can reproduce it on 2.2.6.

[2017-10-26 22:33] OvermindDL1 commented on #6980
Ah sorry, forgot to copy more stuff from that thread.  ^.^;

Yes I clean compiled, yes I fresh git clone'd elixir as well as my project, etc...  Sorry for missing that (end of my work day I blame it on ^.^).

[2017-10-26 22:46] kishorevaishnav opened #6981 "(ArgumentError) argument error"
I am very new to this so pardon me if I should not report this here.

### Environment
* Elixir & Erlang versions (elixir --version):
[code]

* Operating system: **macOS Sierra Version 10.12.6**

### Current behavior
Compile fails in the Phoenix app and the error is
[code]

I tried all the above-mentioned options, but none worked out:
`mix deps.compile ecto`
`mix deps.update ecto`
`mix deps.clean e

[2017-10-26 22:47] #6980 closed

[2017-10-26 23:01] OvermindDL1 commented on #6981
Duplicate of https://github.com/elixir-lang/elixir/issues/6980#event-1312969177
And closed (just now) by josevalim in:  https://github.com/elixir-lang/elixir/commit/ba19fc8e50263199e75b0131714e1f65bb9ea427

:-)

[2017-10-26 23:03] #6981 closed

[2017-10-26 23:07] josevalim commented on #6981
Btw, if you are new to Elixir, you should probably use a stable release instead of master. :)

[2017-10-26 23:22] kishorevaishnav commented on #6981
@josevalim thanks for fixing this immediately. I tested with the https://github.com/elixir-lang/elixir/commit/ba19fc8e50263199e75b0131714e1f65bb9ea427 and **ITS WORKING**.
I like the formatting feature and hence I was in the `master`.

[2017-10-27 12:41] tmbb opened #6982 "Compiling function with unbound variable in match spec fails with confusing error"
### Environment

* Elixir & Erlang versions (elixir --version):

[code]

* Operating system: Windows 10

### Current behavior

When Elixir tries to compile the following function:

[code]

It fails with the given error message:

[code]

This makes it very hard to diagnose the problem, which is simply the use of an unbound variable inside the binary match spec (it should be `indent` instead of `ide

[2017-10-27 17:12] josevalim commented on #6982
A fix was already out on v1.5.2. Please update. :) See #6459.

[2017-10-27 17:12] #6982 closed

[2017-10-27 19:11] rohanaceres opened #6983 "Enum.at returning invalid value from list"
### Environment

Hi,

I'm using Elixir 1.5.1 on Debian 9. This is the output from `elixir --version`:

[code]

When I create a list with a single element, if I try to use `Enum.at(0)` and `Enum.at(-1)`, both return the same element in the list. It also happens with `Enum.fetch` function.

### Current behavior

This is how to reproduce the issue (on iex):

[code]

### Expected behavior

[code]

[2017-10-27 19:47] wojtekmach commented on #6983
This is per design:

(https://hexdocs.pm/elixir/Enum.html#at/3)

[2017-10-27 20:30] josevalim commented on #6983
Closed as explained by @wojtekmach.

[2017-10-27 20:30] #6983 closed

[2017-10-27 22:01] rohanaceres commented on #6983
@wojtekmach thanks for the explanation! But then why the `Enum.at(track, -2)` returns `nil`?

[2017-10-27 22:07] wojtekmach commented on #6983
@rohanaceres from the same docs:

`default` is `nil`. Note you'll also get `nil` for `Enum.at(track, 2)` for the same reason.

[2017-10-27 22:47] thecodeboss opened #6984 "Macro.to_string output does not match formatter output"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* Operating system:
[code]

### Current behavior

Running the following code:
[code]
The output looks like:
[code]

### Expected behavior

The output should match the format that the Elixir code formatter uses. In this case:
[code]
This is definitely a "nice to have" thing, obviously not urgent or required. I couldn't find any

[2017-10-27 23:57] josevalim commented on #6984
Hi @thecodeboss!

They can't match because the formatter is based on a string, which gives us a lot more context, and the macro one relies on the AST. furthermore, Macro.to_string was designed to allow the result to be processed as we convert it to string, which would be tricky in the formatter.

TL;DR - different tools, different outputs.

have a good weekend!

[2017-10-27 23:57] #6984 closed

[2017-10-27 23:59] josevalim commented on #6984
To further clarify, we are not against improving the output of Macro.to_string, you just shouldn't expect them ever to be the same.

[2017-10-28 09:19] DenisGorbachev opened #6985 "Wrong NaiveDateTime comparison with/without microseconds"
First off, thanks for a great language!

Second, it looks like there's a bug in NaiveDateTime comparison:

### Environment

[code]

### Current behavior

[code]

### Expected behavior

[code]

[2017-10-28 09:24] wojtekmach commented on #6985
For comparisons please use `NaiveDateTime.compare/2` instead of `>=` and friends. From docs:

https://hexdocs.pm/elixir/NaiveDateTime.html#module-comparing-naive-date-times

[2017-10-28 09:57] #6985 closed

[2017-10-28 12:00] ggcampinho commented on #6985
Does it make sense to warn when we have Date/DateTime sigils comparison? We
are had a few issues about that already.

On Sat, Oct 28, 2017, 11:57 José Valim <notifications@github.com> wrote:

[2017-10-29 16:31] josevalim commented on #6985
@ggcampinho tricky. Theoretically there is nothing wrong with those comparisons, it is just not the meaning folks would expect. Plus we could only warn at compile time, which makes it less useful, and we wouldn't make it apply to all structs, so the mistake would still happen outside of Elixir.

[2017-10-30 15:08] miwee opened #6989 "formatter output is confusing when function calls are used between string interpolation"
given this code:
[code]
the formatter gives this:
[code]

Inserting a new line in MyApp.device_id() function call deosn't make sense, as all three function calls are equivalent. A better formatting would be something like:
[code]

[2017-10-30 15:13] josevalim commented on #6989
This is explained in the docs for the formatter, please check them out (Code.format_string!/2). The version you proposed is not equivalent, because of the newline, and likely not possible because it is reaching the default line length.

[2017-10-30 15:13] #6989 closed

[2017-10-30 15:14] josevalim commented on #6989
Link: https://hexdocs.pm/elixir/master/Code.html#format_string!/2-adjusting-formatted-output

[2017-10-30 16:05] gasparch opened #6991 "Formatter: `case`/`fn` formatting not consistent"
When editing code, some changes are one-way street and to get back to original formatting one should fix it by hand.

### Environment

[code]

### Current behavior

Formatting does not change following code:

[code]

Let's suppose we changed it to
[code]

Formatter will change it to this (while it is too verbose/too much space for me, its consistent and ok):
[code]

But editing it back to original

[2017-10-30 16:24] gasparch commented on #6991
The question is that single change in source can suddenly change formatting and after realizing that and reworking clause (for example moving code to separate function) still requires extra work just to get it back to original form.

So it is like punishing user for experimenting with code and making changes, because they cannot return to original form without manual work.

[2017-10-30 16:34] OvermindDL1 commented on #6991
I kind of agree with @gasparch here, it is changing the context that it is working in.  Specifically it formats single-lines as single lines, which on its own is fine, and it formats single lines with multiple expressions into multiple lines, which on its own is also fine, and it formats multiple lines into multiple lines, which on it's own is fine, however it is formatting all single expressions

[2017-10-30 17:48] josevalim commented on #6991
Folks, it is what it is.

If we remove this behaviour, then people will complain that we are putting too much on a single line and not respecting their choice. There is no way we go around this without making *some people* unhappy.

[2017-10-30 17:51] #6437 closed

[2017-10-30 20:09] gasparch commented on #6991
Well, I think I'll just fix it in my vim-ide-elixir to compact selected code as dense as possible and then run formatter over it again to make it look nice.

@josevalim would you consider possibility of having option to formatter that makes it 100% deterministic? So it basically can take, say, AST and lay it down nicely in totally repeatable way?

I've read discussion that your team is trying to a

[2017-10-30 20:23] josevalim commented on #6991
@gasparch the formatter is *deterministic*. What you probably want is for it ignore the user input in this particular case. And that does mean adding new code paths.

[2017-10-31 08:11] gasparch commented on #6991
Well, so will you approve this kind of PR or no?

[2017-10-31 08:19] josevalim commented on #6991
Probably not because how much of the user input would it ignore? If you check the docs, we can consider the user input in different situations: https://hexdocs.pm/elixir/master/Code.html#format_string!/2

Are you sure you want to ignore it on all of those? I am pretty sure it will lead to worse formatter behaviour. On the other hand, if we have an option that is exclusive to this behaviour, then w

[2017-10-31 09:01] gasparch commented on #6991
I totally understand that it is opening can of the worms and there will be always some people who are unhappy ;) Still, I would appreciate to have option to transform code to same look every time, disregarding what user did to it.

My use case would be to enforce same style for all team members during check-in of code/merge - because automated formatting independent of user preferences leaves no s

[2017-10-31 09:42] josevalim commented on #6991
I have put a #6992 so you can see how some code would then be formatted if we completely ignore user hints.

It is unlikely that the formatter will do anything that allow users to customize it in many different ways.

[2017-10-31 10:59] gasparch commented on #6991
Jose, first of all - I want to thank you a lot for listening and putting effort to discuss this topic. It really matters.

While most of the changes seem to be sensible to me - there are edge cases like
[code]
or
[code]

Which I assume will require more code to keep them back to sensible presentation :(

One more thing about formatter right now is that it consumes much more vertical space, which i

[2017-10-31 11:08] josevalim commented on #6991
I am not sure I agree, even on my macbook I get more vertical space because it doesn't matter how wide my monitor is, we are constrained to columns of 80/100 chars.

Still, in the examples you linked, you could have kept everything in a single line, and the formatter would have respected that. I actually think the changes you are performing to the code today because of the formatter would also hap

[2017-10-31 11:18] gasparch commented on #6991
Okay, I see your point in keeping it simple. Most probably in order to deal with exploding case/functions I'll add functionality to IDE :)

Another case I noticed - just adding one field to simple decomposition leads to drastic change in code.

[code]

Is it possible to understand that it is just decomposition operation and convert it to:
[code]

[2017-10-31 14:19] OvermindDL1 commented on #6991
I quite like that PR actually, including the parts that @gasparch did not really like.  I find it very uniform and readable.  :-)

I prefer the way it formats it now, I find your multi-line condensed version a lot more unreadable personally.

It's a lot more than just a little work when there are a lot of cases as I have in some areas...  ^.^;

Yeah this is what I hinted of in my first message, ju

[2017-10-31 14:35] gasparch commented on #6991
so basically we are stuck at the point that everyone has their preferences and its impossible to match them all ;)

About reverting explosion of case/fn into multiline - I'll write something for [this](https://github.com/gasparch/vim-ide-elixir). If you don't use vim - then I'm sorry :)

[2017-10-31 14:40] OvermindDL1 commented on #6991
Sounds like a normal formatting issue.  ^.^

As a life-long vim user I really encourage you to take a look at Spacemacs.  Yes it is a vim-like plugin and control pack for Emacs, but it is truly astounding and has been the first thing to routinely get me away from vim ever.  :-)

Though yes I do still type `vi` 90% of the time when at the console, but I do hit `emacs` for the larger IDE work now, w

[2017-10-31 14:46] josevalim commented on #6991
Alright, glad we reached a conclusion! I will go ahead and lock this as well to avoid people from adding "but i prefer X". :)

[2017-10-31 16:42] gasparch opened #6993 "Regression in compiling behaviours 1.5 -> 1.6-dev ?"
### Environment

1.6 compiler:
Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe]
Elixir 1.6.0-dev (4b714eb) (compiled with OTP 20)

1.5 compiler:
Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe]
Elixir 1.5.2

### Current behaviour

Here is minimal project that causes problems: https://gist.github.com/gasparch/23db7f

[2017-10-31 17:25] josevalim commented on #6993
:heart:

[2017-10-31 18:45] Nicd opened #6994 "Formatting of with and config blocks with inner comments"
### Environment

* Elixir & Erlang versions (elixir --version): Erlang 20, Elixir 1.6.0-dev (b3992aa)
* Operating system: macOS 10.13

### Current behavior

When formatting a `with` or `config` clause with comments inside for specific lines, the comments are moved right before the block. See these snippets for diffs:

`config`: https://gitlab.com/snippets/1682142

`with`: https://gitlab.com/snippe

[2017-11-01 04:58] linjunpop commented on #6503
Elixir 1.5.2-otp-20 with otp 20.1:

[code]

[2017-11-01 19:27] #6993 closed

[2017-11-01 19:31] gasparch commented on #6993
thanks :)

[2017-11-02 01:00] jeremyowensboggs commented on #6248
After some thought and work, I would like to split this into two issues.  One to handle match? and one to handle assert_receive(d).  Match? is similiar to ==, so it makes sense to have the left and the right like the current diff.  My impression about assert_received is that we should match against the mailbox contents -> printing out the contents with green for the parts of the match that worked,

[2017-11-02 07:13] josevalim commented on #6248
@jeremyowensboggs can you please expand? Both `assert match?` and `assert_receive` rely on pattern matching, so the logic for handling both should be the same.

[2017-11-02 09:37] wangbus commented on #6547
`recompile()` for new projects in `MIX_ENV=dev` is dead in the water. Tested with Elixir 1.4.5, 1.5.0, 1.5.2 on Erlang 20.1. Works fine with `MIX_ENV=test` and using the exact same `config/config.exs`

[2017-11-02 10:12] lukaszsamson opened #6996 "Mix.Config needs a function for importing configs reliably in umbrella applications"
Rationale:
Given the umbrella application structure:
[code]
where `app_myapp` depends on `app_common` (has ```{:app_common, in_umbrella: true}``` in `deps`). `apps/app_common/config/config.exs` provides some config setting
`config :app_common, :setting, "default"`
while `app_myapp` overrides it in `apps/app_myapp/config/config.exs`
`config :app_common, :setting, "not default"`

The pattern encoura

[2017-11-02 10:19] josevalim commented on #6996
Please do all imports manually then. That's almost always the best way to go.

[2017-11-02 10:21] josevalim commented on #6547
@wangbus I have just checked locally and it works fine. Please make sure there is nothing compiling your app in the background, such as an editor, a Phoenix app or a dependency and if the issue persists please open up a new issue with a project that reproduces the bug.

[2017-11-02 10:38] josevalim opened #6997 "Add truncate to Time, DateTime and NaiveDateTime"
The idea is that it will correctly truncate the precision of the microseconds field. Instead of:

    %{time | microseconds: {0, 0}}

Developers can do:

    Time.truncate(time)
    Time.truncate(time, :milliseconds)

This is useful when you are writing to a storage that has lower precision than microseconds.

Note the first element in microseconds tuple needs to be properly truncated too. This me

[2017-11-02 10:49] lukaszsamson commented on #6996
Thats what I ended up doing. But what about `mix new --umbrella` and `mix phx.new --umbrella`? Shouldn't those tasks be about sane defaults and generate code adhering to the best way? Or at least introduce a warning in generated configs. This issue report is the result of a real production problem.

[2017-11-02 10:56] wangbus commented on #6547
Looks like you were right. Another dependency was recompiling. Thanks for the hint!

[2017-11-02 11:42] josevalim commented on #6996
The problem is that if those tools generate something that is manual from the beginning, folks will generate new apps, forget to add a new config entry, and then be puzzled about why it doesn't work. So if we don't want compromise the development experience nor the production experience, you are right, we need to have something that address it. Thanks.

[2017-11-02 11:46] jeremyowensboggs commented on #6248
The format for match output fits in nicely with existing paradigms.  We have a left and a right, so it was easy to use the existing formatter with a small extension to handle pins and assigns.  When I think through the output for assert_receive, I'm not convinced the left/right is the right way to go, since  you could have multiple items in a mailbox.   Do we need to show the diff for each one?

[2017-11-02 11:52] josevalim commented on #6248
@jeremyowensboggs don't worry about the left and right now. The most important is something that diffs a value against a pattern. Everything else is just exhibitation. For match?, we will the right side, for assert_receive we will diff the last 10 messages or so in the inbox.

[2017-11-02 12:03] jeremyowensboggs commented on #6248
That exhibition is what I am getting hung up on.  Should the mailbox item be printed with the elements that match the pattern in green, and the elements that contradict the pattern in red?  How should we then represent items that are missing?  Should we do a left and a right for each item in the mailbox?
Perhaps print the mailbox item colored as described above, and afterwords if any required elem

[2017-11-02 12:09] josevalim commented on #6248
I see. Would printing the parts of the pattern that does not match in red be enough?

Then for the mailbox we can do as you said, show the value and the failing pattern side by side for each message.

[2017-11-02 12:21] jeremyowensboggs commented on #6248
I'll play around with it for a little bit and see how it looks.

[2017-11-02 13:12] josevalim commented on #5735
This is being broken in two parts. One is the discussion of `init` in the standard library and the other is the use of optional callbacks, which require OTP 20 to be done completely.

[2017-11-02 13:12] #5735 closed

[2017-11-02 13:13] josevalim opened #6998 "Revisit how init is used in Supervisor/GenServer"
The decision on init in GenServer should align with how we want init to work on supervisors. Today we may use Supervisor for the child_spec function but that warns if init is missing. We need to decide how we want to act on this case.

This is a follow up on #5735.

[2017-11-02 16:13] rlustin commented on #6997
Hello!

I’d like to work on this issue. Can you assign it to me?

[2017-11-02 16:25] josevalim commented on #6997
Thanks @rlustin! We can't assign it to you as we can only assign to maintainers. However, note the issue has a Discussion label, this means we are not quite sure it will be added. You can go ahead and implement it but there is a chance we will change function names or even give up on it completely.

[2017-11-02 16:41] rlustin commented on #6997
I understand, no problem. I’m just looking for easy issues to fix to start contributing to Elixir :)
I may start an implementation, even just for the sake of the exercise.

[2017-11-02 17:06] josevalim commented on #6997
Then by all means please go ahead! :D You can check the README.md for general contribution instructions.

[2017-11-02 18:07] josevalim commented on #6998
We have agreed to require `init/1` in GenServer. I will have a patch for it shortly.

[2017-11-02 19:55] wojtekmach opened #6999 "Autocompleting types"
### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.6.0-dev (compiled with OTP 20)
* Operating system: macOS Sierra

### Current behavior

Currently, we always autocomplete functions (or variables etc). However, specifically for `t` helper the autocompleted value will almost always be wrong:

[code]

I'd like to propose to add special treatment for `t` so that only types are a

[2017-11-02 20:22] wojtekmach commented on #6997
:+1:, I often incorrectly did: `%{t | microsecond: 0}` only to later learn I corrupted my struct

[2017-11-02 20:35] OvermindDL1 opened #7000 "`mix escript.build` does not use the generated beam files"
Tested this in both 1.5.2 as well as 1.6.0-dev.

Minimal reproduceable project:
[code]

Related code at:
https://github.com/elixir-lang/elixir/blob/7c8c26652fdf82036bfd57e7f7364148cbb3f84a/lib/mix/lib/mix/tasks/escript.build.ex#L132-134

[code]

However this also errors out if using a custom compiler, like via this part of a `mix.exs` file:

[code]

The code generated via this compiler appears to

[2017-11-02 20:50] OvermindDL1 commented on #7000
Looking like it might be two distinct bugs maybe?

1.  The `--no-compile` fails because it is trying to see if a module is loaded that has not been loaded yet (unsure if because not loaded the path with those beam files or not yet).
2.  The extra compiler's beam files are not being included because... I have no clue (technically what it does is it replaces an existing beam file, specifically the n

[2017-11-02 20:52] OvermindDL1 commented on #7000
For note, running `mix run.exs ...` works properly with the consolidated file and all, it is only the `escript.build` is not including the consolidated beam file...

[2017-11-02 20:59] josevalim commented on #7000
THe --no-compile is a separate and easy fix. We need to make sure we call loadpaths if we are not compiling. The other one doesn't make sense if we look at the code. We just read the beams from disk.

[2017-11-02 21:07] OvermindDL1 commented on #7000
Yeah that is what I'm confused about, I'm wondering if there is a race condition between when erlang's file manager closes the beam file and the escript.build process reads back in the file, it is what I'm testing right now actually.

For note, just removing the test if the main file is loaded in memory does not fix the `--no-compile` issue as running the compiled escript causes things like `Could

[2017-11-02 21:11] OvermindDL1 commented on #7000
Yeah, even adding a delay of 2 seconds right after the `Mix.Task.run(:compile, args)` call is not doing it.

Running the escript is giving substantially different results than just running `run`:
[code]

That above project is the one that brought this to my attention at (you can `git clone` and test it if you wish):  https://github.com/OvermindDL1/protocol_ex/issues/4

I'd love to know if it is my

[2017-11-02 21:17] josevalim commented on #7000
That should not matter. We straight read the files from disk, we don't care about what the loader is doing. I have just built an small example that has a compiler that writes a corrupted file to ebin and the corrupted file is being picked up. Can you make sure that your files are being read to disk? Note that Elixir protocol consolidation runs *after* your task and it cleans up the consolidation p

[2017-11-02 21:19] OvermindDL1 commented on #7000
Yeah comparing the beam files between the escript/zip and the actual beam files show matches except for that one consolidated file:
[code]
The first listed is the local filesystem file (at 2.3K), the second is the non-consolidated file (at 1.1K), so it is *definitely* not grabbing that same file that is on disk...  o.O

Not elixir's consolidation but rather Mix.Task.Compiler.ProtocolEx's compiler

[2017-11-02 21:21] OvermindDL1 commented on #7000
Interestingly the beam inside the zip file has a later date than the one on disk, and yet it is the non-consolidated version, so, wha...? o.O

Either that or the timestamps are not being stored properly in the zip.

[2017-11-02 21:22] josevalim commented on #7000
AFAIK your code is using consolidation path: https://github.com/OvermindDL1/protocol_ex/blob/master/lib/mix/tasks/compile.protocol_ex.ex#L10

[2017-11-02 21:25] OvermindDL1 commented on #7000
Uh, right I need to remove that code...

That is an unused option back from before I found out the consolidated directory dies on occasion.  ^.^

If you see:  https://github.com/OvermindDL1/protocol_ex/blob/master/lib/protocol_ex.ex#L253
Currently the `:output` option is not at all used, I need to update the `mix` task...  ^.^;

But no, that is not the issue.  :-)

[2017-11-02 21:30] josevalim commented on #7000
I see, thanks. Ok, let me know if you have more information or if you can reproduce the issue on a smaller scale. Writing dirty beam files in a simple compiler is working here.

[2017-11-02 21:31] OvermindDL1 commented on #7000
For note, here is how the consolidated module is actually created (removing the 'consolidated' directory simplified it a lot):
https://github.com/OvermindDL1/protocol_ex/blob/master/lib/protocol_ex.ex#L382

[code]

[2017-11-02 21:32] OvermindDL1 commented on #7000
Also note:  This specific case of that user actually has the writing of the replaced beam file happen to a dependency's beam file, not one of the project itself, though I'm unsure if that would make a difference based on what I've been reading of this code...

[2017-11-02 21:38] josevalim commented on #7000
It does because Mix/Elixir/OTP provide no guarantees over which one will be loaded. If you have two beam files of the same module, you are asking for trouble.

[2017-11-02 21:40] OvermindDL1 commented on #7000
Should it not be overwriting the same file though?

[2017-11-02 21:41] OvermindDL1 commented on #7000
Only these are shown for that Translate beam:

[code]

[2017-11-02 21:43] josevalim commented on #7000
It is but in an unspecified order.

[2017-11-02 21:43] OvermindDL1 commented on #7000
Shouldn't the order be specified by the fact that the consolidation compiler is ran 'after' the elixir compiler?  Which matches the beam file on disk (the working consolidated one is larger than the escript one).

[2017-11-02 21:45] josevalim commented on #7000
Yes. I am talking especifically about the case where a dependnecy and a project both have the same .beam file.

[2017-11-02 21:47] OvermindDL1 commented on #7000
Oh that should definitely not happen.  The dependency has the file, the parent project is only 'calling' into that module, it does not define it.  The module itself has a shim that is compiled when the dependency is compiled (to allow the elixir compilation to proceed without warnings/errors) then that shim module is replaced by the consolidation compiler running.  So the file is compiled once whe

[2017-11-02 21:56] OvermindDL1 commented on #7000
I see this as well:

[code]

[2017-11-02 22:02] josevalim commented on #7000
Can you please show me where you write the consolidated protocols to disk and using which path?

[2017-11-02 22:05] OvermindDL1 commented on #7000
Already did, it is the same place that I put in a prior message, ever since I took out the output path stuff I just write it via:
https://github.com/OvermindDL1/protocol_ex/blob/master/lib/protocol_ex.ex#L382

[code]
Where `spec.location` is the original location information of the original module file (of both `file: ...` and `line: ...`).  That is the only place that I generate a module manually

[2017-11-02 22:06] josevalim commented on #7000
Module.create does not write a beam to disk.

[2017-11-02 22:08] koudelka commented on #4970
fwiw, i had a problem that presented symptoms identical to this issue. it turned out that `warnings_as_errors` in the dependency's `rebar.config` was the cause.

[2017-11-02 22:08] OvermindDL1 commented on #7000
Hmm, it's been working thus far even in non-compiling cases or so I thought (maybe the compiler is called more often than I thought).

The [documentation for it](https://hexdocs.pm/elixir/Module.html#create/3) states that it is functionally equivalent to `defmodule` and that it should be preferred when a quoted expression is handy.  What else should I be using?

[2017-11-02 22:12] josevalim commented on #7000
Your compiler is always called and it seems it always consolidates as it doesn't have the logic of avoiding doing the work if the work is already done. I would recommend you to add the proper tracking rules.

defmodule doesn't write to disk either, try it in IEx. :) The writing to disk only happens if someone passes a file with defmodule to a compiler. You should get the result of Module.create (i

[2017-11-02 22:12] #7000 closed

[2017-11-02 22:22] OvermindDL1 commented on #7000
Yeah I've not bothered adding that yet as I've been testing things still, it's not 1.0.0+ after all.  ^.^

Simple enough.  At least I caught one (unrelated) bug.  ^.^

Any chance of that information being added to the docs?  [This](https://hexdocs.pm/elixir/Module.html#create/3) does not mention anything of the sort, nor what it returns, it only says it returns what `defmodule` does, but there is

[2017-11-02 22:24] josevalim commented on #7000
Sure, please do send a PR!

[2017-11-02 22:25] josevalim commented on #7000
Actually, no worries, I am on it.

[2017-11-02 22:25] OvermindDL1 commented on #7000
Wait, this still does not make sense...

At here:
https://github.com/OvermindDL1/protocol_ex/blob/master/lib/protocol_ex.ex#L127

I am creating the shim file by calling consolidate with an empty implementation list, which is calling `Module.create`, and yet the beam file gets created and output?

[2017-11-02 22:31] josevalim commented on #7000
@OvermindDL1 the line you linked is called by defprotocolEx which is invoked by a file being compiled.

[2017-11-02 22:31] josevalim commented on #7000
You should have the consolidation function return a list of modules names and their byte codes and then you do the writing on the task.

[2017-11-02 22:31] OvermindDL1 commented on #7000
In addition I'm creating the $definition file via https://github.com/OvermindDL1/protocol_ex/blob/master/lib/protocol_ex.ex#L126 too:

[code]

And that beam file gets created just fine, and that's the only time it is ever created.

So you are saying that `Module.create` does different things depending on how the file is compiled?  That sounds... painfully surprising...  How do I detect that?

[2017-11-02 22:38] josevalim commented on #7000
As said above, it is exactly the same as `defmodule`. It will write a beam file depending if the current file is being compiled or not.

[2017-11-02 22:44] OvermindDL1 commented on #7000
Not documented in either though...  ^.^;

Regardless, having identical code do very different things all based on when it is compiled is very surprising behaviour.  For Elixir 2.0 (whenever) it should probably make it so something like `defmodule` always compiles a beam file and `Module.create` always returns the binary without compiling.  Even in iex I'd still expect a beam file to be written out

[2017-11-02 23:03] josevalim commented on #7000
Thanks but we have no plans to change how this behaves. For example, tests use `defmodule` and we don't want your tests to write beam files to disk. The documentation has been pushed to master.

I believe this issue has been addressed, we can move any remaining discussion elsewhere.

[2017-11-02 23:17] OvermindDL1 commented on #7000
Woot, yep I see those docs and that is perfect, it would have saved me a ton of issues tonight so hopefully it will others in the future too!  :-)

Huh, I assumed that was the last export, not the actual last evaluated value of the quote itself, hmm, I may be able to use that for things.  Thanks for that tidbit of info too!  :-)

[2017-11-03 11:28] ggcampinho commented on #6792
I was giving a try to this issue, and if I can understand correctly the for comprehension is a sequence of reducers, and there are two solutions that can be done:

1. Reduce like today, and then apply `Enum.uniq`;
2. When the reduce is applying the final expression, check if the element is already in the list before inserting it.

I think that the first one is simpler and faster, is this the way t

[2017-11-03 13:42] josevalim commented on #6792
@ggcampinho the faster implementation is to change how the reducing function in the comprehension works. For example, if you have:

    for x <- collection, do: expr(x)

It becomes something close to:

    Enum.reduce(collection, [], fn x, acc ->
      [expr(x) | acc]
    end) |> :lists.reverse()

Instead, we want it to become this:

    Enum.reduce(collection, {[], %{}}, fn x, {acc, uniq} ->

[2017-11-03 15:28] ggcampinho commented on #6792
Ah okay, I understand. It makes sense, I was afraid that passing around a map would be bad and then I thought about checking the list. I'll try to do this, thanks!

[2017-11-03 17:49] #6998 closed

[2017-11-04 17:04] josevalim opened #7005 "Formatter is indenting more than necessary"
[code]

[2017-11-04 19:57] josevalim commented on #5267
Closing in favor of #7006.

[2017-11-04 19:57] #5267 closed

[2017-11-04 21:05] ericmj opened #7007 "Inconsistent formatting of do:"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]

### Current behavior

[code]

### Expected behavior

The first function clause should have the same indentation as the second clause or move the guard to a new line:

[code]

[2017-11-05 09:43] josevalim opened #7008 "Do not emit conflicting behaviours if the same behaviour is used more than once"

[2017-11-05 12:30] josevalim commented on #7008
Not a regression. Erlang emitted this warning already and we should continue emitting it too.

[2017-11-05 12:30] #7008 closed

[2017-11-05 17:13] whatyouhide commented on #7007
FWIW we use "Alternative 1" for other times when we use keyword lists as the last argument:

[code]

[2017-11-06 11:52] #6373 closed

[2017-11-06 13:12] rcdilorenzo commented on #7005
I was looking into helping with this issue, but I'm not sure what the expected indent should be. Could you provide how you would expect this snippet to be formatted?

[2017-11-06 13:22] #6386 closed

[2017-11-06 13:30] josevalim commented on #7005
[code]

[2017-11-06 15:34] isaacsanders commented on #7007
I also use this alternative frequently

[code]

[2017-11-06 15:37] isaacsanders commented on #7005
Does the formatter turn the following into the above?

[code]

[2017-11-06 16:15] #6532 closed

[2017-11-06 17:42] tpitale opened #7009 "IEx with remsh flag crashes when running Mix task which uses ensure_all_started"
### Environment

* Elixir & Erlang versions (elixir --version):  Erlang/OTP 20 [erts-9.0.4] [source] [64-bit] [smp:1:1] [ds:1:1:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.5.1

* Operating system: inside docker, using `FROM elixir:1.5.1-slim`

### Current behavior

`iex --name my_console --cookie $COOKIE --remsh $NAME -S mix my_app.some_task` appears to fail because my app fails to

[2017-11-06 18:04] josevalim commented on #7009
The task is going to run on the server. So if the server is already running on that port, then running the task which will start another app on the same port will definitely cause it to fail to start.

[2017-11-06 18:57] josevalim commented on #7009
You can try the User Switch way as outlined here: https://hexdocs.pm/iex/IEx.html#module-remote-shells

[2017-11-06 18:57] #7009 closed

[2017-11-06 20:24] tpitale commented on #7009
@josevalim Please re-read the issue. I'm doing what's described there:

[code]

[2017-11-06 20:26] tpitale commented on #7009
If I run `iex` with `--remsh` and then use the task's module to run; it works.

If I run `iex` with `--remsh` AND `-S mix`; it does not work.

[2017-11-06 20:37] tpitale commented on #7009
Maybe whatever is passed to `-S mix …` runs _before_ `iex` is started … I just assumed `iex` would start and the `-S` would be the first thing it would run.

[2017-11-06 20:41] josevalim commented on #7009
I still don't understand why are you expecting both to behave the same when they are doing different thiings. Namely one is running the mix task and the other does not. You also need to consider the context the mix task will run when you pass the --remsh flag.

[2017-11-06 20:42] josevalim commented on #7009
How can you invoke the task if `-S mix` was not given and therefore the project code won't be available?

[2017-11-06 21:01] rcdilorenzo commented on #7005
I'm trying to get started on this but am not sure what section of the `Code.Formatter` or even `Inspect.Algebra` I should look in. I'll come back to it and try to work through it but thought someone might be kind enough to point me in the right direction.